<template>
  <v-container fluid class="py-0 my-0">
    <v-layout wrap justify-center align-center>
      <v-flex
        xs12 md9
        :key="index"
        v-for="(item, index) in form"
      >
        <v-layout wrap justify-center align-center
          class="mt-4">
          <field-component
            :field="field"
            :key="field.key"
            :form="form[index]"
            :errors="errors"
            :choices="choices"
            :item-idx="index"
            v-for="field in fields"
            :selectOutlined="true"
          ></field-component>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
export default {
  mixins: [
    formMixins
  ],
  data: () => ({
    fields: [
      {
        key: 'department',
        placeholder: 'Select Department',
        fieldTitle: true,
        choices: 'departments',
        classNames: 'xs12 md8'
      }
    ],
    form: [],
    errors: {}
  }),
  computed: {
    choices () {
      return {
        departments: ['BSMT Department', 'BSMARe Department']
      }
    }
  },
  mounted () {
    this.addFormItem()
  },
  watch: {
    form (val) {
      // console.log(val)
    }
  }
}
</script>
