<!--<template>
  <v-container fluid class="pb-0 mb-0">
    <v-layout wrap justify-center align-center>
      <v-flex xs12 md8>
        <v-autocomplete
          :items="positionItems"
          v-model="setPosition"
          clearable
          label="Select Position"
          outlined
          item-text="position_name"
          item-value="position_id"
          hide-no-data
          return-string
          multiple
          dense
          chips
          deletable-chips
          class="mx-2"
          clear-icon="mdi-close-circle"
        />
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import { mapGetters, mapMutations } from 'vuex'
import { GET_POSITION } from '@/graphql/admin/queries'
export default {
  data: () => ({
    positionItems: []
  }),
  apollo: {
    userpositions: {
      query: GET_POSITION,
      result ({ data, loading }) {
        if (!global._.isUndefined(data)) {
          let userPosition = []
          global._.forEach(data.userpositions, function (value) {
            userPosition.push({
              position_name: value.user_type,
              position_id: value.id
            })
          })
          this.positionItems = userPosition
        }
      }
    }
  },
  computed: {
    ...mapGetters('filters', ['position']),
    setPosition: {
      get: function () {
        return this.position
      },
      // setter
      set: function (value) {
        return this.SET_POSITION(value)
      }
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_POSITION'])
  }
}
</script>
-->