<template>
<v-container fluid>
  <v-layout wrap justify-center align-center>
    <v-flex xs12 md11>
      <v-card flat>
        <header-component
          :isSearch="true"
          :isAdd="true"
          :btnTitle="title"
          @enter="doSearch"
          @clear="clear()"
          label="Search Curriculum Code"
          hint="Enter Curriculum Code"
          @clickDialog="addItem"
          @reset="resetFilters()"
          :isSwitched="isSwitched"
          @openFilter="openFilter()"
          @closeFilter="closeFilter()"
        />

         <floating-card :titles="titleInfo" />
         <v-card class="mt-8"
           tile>
          <v-card-title class="my-5" />
          <v-layout wrap>
            <v-flex lg12>
              <v-data-table
                :headers="headers"
                :items="items"
                :page.sync="page"
                :items-per-page="itemsPerPage"
                @page-count="pageCount = $event"
                :options.sync="options"
                :server-items-length="count"
                class="text-table-color font-weight-medium"
                hide-default-footer
                :loading="currLoading"
                loading-text="Loading... Please wait"
                fixed-header
                ref="table"
              >
              <template v-slot:header>
                <thead v-show="hideCard">
                  <tr>
                    <th style="text-align: center;" :colspan="5">
                      Acedemic School Year
                    </th>
                    <th style="text-align: center;" :colspan="2">
                      Actions
                    </th>
                  </tr>
                </thead>
              </template>
              <template v-slot:item.edit_action="{ item }">
                <v-btn
                  depressed
                  small
                  color="accent"
                  @click="editItem(item)">
                  Edit
                </v-btn>
              </template>
              <template v-slot:item.view_action="{ item }">
                <v-btn
                  depressed
                  small
                  color="accent"
                  @click="viewRevisions(item)">
                  Revisions
              </v-btn>
              </template>
              </v-data-table>
            </v-flex>
            <v-flex xs12 class="text-center pt-3 pb-0">
              <v-pagination
                v-show="pageCount > 1"
                v-model="page"
                :length="pageCount"
                :total-visible="10"
              ></v-pagination>
            </v-flex>
            <v-flex xs12>
              <v-card-actions>
                <v-spacer />
                <small>Total of <span class="blue--text">{{ count }} </span> <span>{{ items.length > 1 ? 'Items' : 'Item'}}</span></small>
              </v-card-actions>
            </v-flex>
          </v-layout>
         </v-card>

        <program-curriculum-dialog
          :showDialog="dialog"
          @close="close"
          :formData="form"
          @refetch="refetch"
          :id="curriculumId"
          :hasCourses="hasCourses"
        />

        <v-snackbar
          top
          right
          v-model="isSnackbar"
          :color="color"
          class="caption">
          <v-card-actions class="ma-0 pa-0">
            {{ text }}
            <v-spacer />
            <v-btn
              color="white"
              text
              icon
              right
              @click="isSnackbar = false"
              class="caption">
              <v-icon>clear</v-icon>
            </v-btn>
          </v-card-actions>
        </v-snackbar>
      </v-card>
    </v-flex>
  </v-layout>
</v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import defaultMixins from '@/mixins/index'
import departmentQueries from '@/mixins/queries/admin/departmentQueries'
import courseQueryMixins from '@/mixins/queries/admin/courseQueries'
import { mapGetters, mapMutations, mapActions } from 'vuex'
export default {
  mixins: [
  formMixins,
    courseQueryMixins,
    defaultMixins,
    departmentQueries
  ],
  data: () => ({
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    items: [],
    currLoading: false,
    link: '',
    title: 'Add Curriculum',
    isSwitched: false,
    titleInfo: [
      {
        name: 'Curriculum',
        icon: 'ballot',
        color: 'accent',
        flex: 'xs12'
      }
    ],
    headers: [
      {
        text: 'Curriculum',
        align: 'center',
        sortable: true,
        value: 'curriculum_code'
      },
      {
        text: 'Scheme',
        align: 'center',
        sortable: true,
        value: 'scheme'
      },
      {
        text: 'CMO No.',
        align: 'center',
        sortable: true,
        value: 'cmo_no'
      },
      {
        text: 'Subtitle',
        align: 'center',
        sortable: true,
        value: 'subtitle'
      },
      {
        text: 'Series',
        align: 'center',
        sortable: true,
        value: 'series_year'
      },
      {
        text: '',
        align: 'center',
        sortable: true,
        value: 'edit_action'
      },
      {
        text: '',
        align: 'center',
        sortable: true,
        value: 'view_action'
      }
    ],
    form: [],
    dialog: false,
    skip: 0,
    take: 10,
    skipdepartmentCurriculumQuery: false,
    isSnackbar: false,
    color: '',
    text: '',
    defaultItem: {
      curriculum_code: '',
      scheme: '',
      cmo_no: '',
      series_year: '',
      subtitle: ''
    },
    count: 0,
    programItem: {},
    dataList: [],
    loading: false,
    tableData: {
      input: {
        skip: 0,
        take: 10
      }
    },
    skipCourseQuery: true,
    courseMenuItems: [],
    skipCourseMenuQuery: true,
    courseMenuLoading: false,
    curriculumId: null,
    hasCourses: false,
    options: {},
    currPage: null,
    prevPage: null,
    skipItems: null,
    takeItems: null
  }),
  computed: {
    ...mapGetters('filters', ['program_id', 'academic_year_id', 'search']),
    ...mapGetters('curricula', ['curriculum_fcns']),
    ...mapGetters('form', ['curriculum']),
    ...mapGetters('user', ['user']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        this.$apollo.queries.curriculaWithFilterDean.refetch()
        return this.SET_SEARCH(value)
      }
    }
  },
  watch: {
    options: {
      handler (old, newx) {
        this.skipItems = global._.isUndefined(newx.itemsPerPage) ? 0 : newx.itemsPerPage
        this.takeItems = old.itemsPerPage
        this.prevPage = global._.isUndefined(newx.page) ? 0 : newx.page
        this.currPage = old.page
        let skip = this.sortSkipped(this.skipItems, this.currPage, old.itemsPerPage)
        let take = old.itemsPerPage
        this.skip = skip
        this.take = take
        this.currLoading = true
        this.$apollo.queries.curriculaWithFilterDean.refetch()
      },
      deep: true
    }
  },
  methods: {
    ...mapMutations('filters', ['RESET_FILTERS', 'SET_SEARCH']),
    ...mapMutations('form', ['setCurriculum', 'setProgram']),
    ...mapActions('curricula', ['POST_ASSIGN_PROGRAM']),
    ...mapMutations('curricula', ['SET_CURRICULA', 'SET_PER_PROGRAM', 'SET_REVISIONS']),
    refetch (val) {
      if (!global._.isEmpty(val.message)) {
        this.snackbar(`${val.message}`, 'success')
        this.$apollo.queries.curriculaWithFilterDean.refetch()
      }
    },
    resetFilters () {
      this.RESET_FILTERS()
      this.clear()
    },
    close () {
      this.dialog = false
    },
    clear () {
      this.setSearch = ''
    },
    doSearch (val) {
      this.setSearch = val
    },
    openFilter () {
      this.isSwitched = true
    },
    closeFilter () {
      this.isSwitched = false
    },
    addItem () {
      this.SET_PER_PROGRAM({
        ...this.defaultItem,
        id: this.user.department_id
      })
      this.form[0] = Object.assign({}, this.defaultItem)
      this.form.is_edit = false
      this.dialog = true
    },
    editItem (val) {
      this.hasCourses = val.has_course
      this.curriculumId = val.id
      this.form = []
      this.dialog = true
      this.form = [val]
      this.form.is_edit = true
    },
    // onScroll (e) {
    //   const tableHeight = (this.$refs.table.$el.offsetHeight) - (e.srcElement.offsetHeight + 50)
    //   if (e.srcElement.scrollTop > tableHeight && !this.currLoading) {
    //     this.currLoading = true
    //     this.take++
    //     this.$apollo.queries.curriculaWithFilterDean.refetch()
    //   } else {
    //     this.take--
    //     this.$apollo.queries.curriculaWithFilterDean.refetch()
    //   }
    // },
    viewRevisions (item) {
      this.SET_CURRICULA(item)
      this.setCurriculum(item)
      this.SET_REVISIONS(item)
      let payload = {
        ...item,
        program_code: this.user.department,
        curriculum_id: item.id
      }
      this.SET_PER_PROGRAM(payload)
      this.$router.push({ name: 'department-revisions' })
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.resetFilters()
      vm.currLoading = false
      vm.skipdepartmentCurriculumQuery = false
    })
  }
}
</script>
