<template>
  <v-container fluid class="mt-0 pt-0">
    <v-layout wrap justify-center align-center>
      <v-flex xs12 md11>
        <applicants-table
          :items="items"
          @rowClicked="ItemClicked($event)"
          :headers="headers"
          :potentialEnrolleesCount="count"
          @openHistory="openHistory"
          :loading="loading"
          :itemsPerPage="take"
          @tableOptions="tableOptions"
        />
      </v-flex>
    </v-layout>

    <history-dialog
      :showDialog="historyDialog"
      @close="historyDialog = false"
      :loading="enrollHistoryLoading"
      :count="countHistory"
      :skip="skipHistory"
      :take="takeHistory"
      :items=enrollHistoryItems
      :name="historyName"
      :headers="historyHeaders"
    />
  </v-container>
</template>
<script>
import defaultMixins from '@/mixins/index'
import { mapGetters, mapMutations } from 'vuex'
import historyMixins from '@/mixins/arraylist/admin/history-list'
import applicantQueries from '@/mixins/queries/department/applicantQueries'
export default {
  mixins: [
   applicantQueries,
    defaultMixins,
    historyMixins
  ],
  data: () => ({
    dialog: false,
    headers: [
      {
        text: 'Application No.',
        align: 'center',
        sortable: true,
        value: 'aplication_no',
        title: 'Academic School Year',
        icon: 'mdi-school',
        name: 'deans-year-filter',
        field: ''
      },
      {
        text: 'Name',
        align: 'center',
        sortable: true,
        value: 'name'
      },
      {
        text: 'Program',
        align: 'center',
        sortable: true,
        value: 'program_code',
        title: 'Year Level',
        icon: 'show_chart',
        name: 'deans-level-filter',
        field: ''
      },
      {
        text: 'Section',
        align: 'center',
        sortable: true,
        value: 'section'
      },
      {
        text: 'Academic School Year',
        align: 'center',
        sortable: true,
        value: 'school_year',
        title: 'Semester',
        icon: 'collections_bookmark',
        name: 'deans-semester-filter',
        field: ''
      },
      {
        text: 'Year Level',
        align: 'center',
        sortable: true,
        value: 'year_level',
        title: 'Status',
        icon: 'poll',
        name: 'deans-status-filter',
        field: ''
      },
      {
        text: 'Semester',
        align: 'center',
        sortable: true,
        value: 'semester'
      },
      {
        text: 'Status',
        align: 'center',
        sortable: true,
        value: 'user_status'
      },
      {
        text: 'Submission',
        align: 'center',
        sortable: true,
        value: 'submission_type'
      },
      {
        text: 'Guidance',
        align: 'center',
        sortable: true,
        value: 'guidance_icon'
      },
      {
        text: 'Clinic',
        align: 'center',
        sortable: true,
        value: 'clinic_icon'
      },
      {
        text: 'Admission',
        align: 'center',
        sortable: true,
        value: 'admission_icon'
      },
      {
        text: 'Dean',
        align: 'center',
        sortable: true,
        value: 'dean_icon'
      },
      {
        text: 'Registrar',
        align: 'center',
        sortable: true,
        value: 'registrar_icon'
      },
      {
        text: 'Finance',
        align: 'center',
        sortable: true,
        value: 'finance_icon'
      },
      {
        text: 'Remarks',
        align: 'center',
        sortable: true,
        value: 'remarks_action'
      }
    ],
    items: [],
    count: 0,
    skip: 0,
    take: 10,
    historyDialog: false,
    enrollHistoryLoading: false,
    countHistory: 0,
    skipHistory: 0,
    takeHistory: 10,
    enrollHistoryItems: [],
    historyName: '',
    loading: false
  }),
  computed: {
    ...mapGetters('filters', ['program_id', 'academic_year_id', 'semester_id', 'year_level_id', 'status', 'search']),
    ...mapGetters('user', ['user']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        this.$apollo.queries.deanApplicants.refetch()
        return this.SET_SEARCH(value)
      }
    }
  },
  watch: {
    program_id (val) {
      this.$apollo.queries.deanApplicants.refetch()
    },
    academic_year_id (val) {
      this.$apollo.queries.deanApplicants.refetch()
    },
    year_level_id (val) {
      this.$apollo.queries.deanApplicants.refetch()
    },
    semester_id (val) {
      this.$apollo.queries.deanApplicants.refetch()
    },
    status (val) {
      this.$apollo.queries.deanApplicants.refetch()
    }
  },
  methods: {
    ...mapMutations('filters', ['RESET_FILTERS', 'SET_SEARCH']),
    ...mapMutations('user', ['setRegistrar']),
    ...mapMutations('students', ['setCurriculum', 'setRevision']),
    tableOptions (payload) {
      this.skip = payload.skip
      this.take = payload.take
      this.$apollo.queries.deanApplicants.refetch()
    },
    ItemClicked (val) {
      let curriculum = {
        curriculum_code: null,
        id: null
      }
      let curriculumItem = val.curriculum ? val.curriculum : curriculum
      this.setCurriculum(curriculumItem)
      let revision = {
        revision_no: null,
        id: null
      }
      let revisionItem = !global._.isNull(val.curriculum_revision) ? val.curriculum_revision : revision
      this.setRevision(revisionItem)
      this.setRegistrar(val)
      this.$router.push({ name: 'dean-applicant-form', params: { type: `${val.user_status}` } })
    },
    openHistory (val) {
      this.historyDialog = true
      this.historyName = val.name
      if (!global._.isNull(val.applicant_remarks)) {
        this.enrollHistoryItems = val.applicant_remarks
        this.countHistory = Number(val.applicant_remarks.length)
      }
    },
    resetFilters () {
      this.RESET_FILTERS()
      this.setSearch = ''
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.resetFilters()
    })
  }
}
</script>
