<template>
  <v-container fluid class="mt-0 pt-0">
    <v-breadcrumbs
      :items="breadcrumbItems"
      large
    >
      <template v-slot:item="{ item }">
        <v-breadcrumbs-item
          :to="item.to"
          :disabled="item.disabled"
        >
          <span :class="item.disabled ? 'grey--text' : 'blue--text'">{{ item.text }}</span>
        </v-breadcrumbs-item>
      </template>
    </v-breadcrumbs>
    <v-layout wrap justify-center align-center>
      <v-col xs="12" md="11">
        <header-component
          :isSearch="true"
          :isExport="false"
          :isAdd="true"
          @enter="doSearch"
          label="Search Revision No."
          hint="Enter Revision No."
          btnTitle="Add Revision"
          @clickDialog="addItem()"
          @clear="clear()"
          @reset="resetFilters()"
        />
        <floating-card :titles="titleInfo"/>
        <v-card class="my-8">
         <v-card-title class="my-5" />
           <v-layout wrap>
             <v-flex xs12>
               <v-data-table
                  ref="table"
                  :headers="headers"
                  :items="items"
                  :page.sync="page"
                  :items-per-page="itemsPerPage"
                  @page-count="pageCount = $event"
                  :options.sync="options"
                  :server-items-length="count"
                  class="text-table-color font-weight-medium"
                  hide-default-footer
                  :loading="loading"
                  loading-text="Loading... Please wait">
                  <template v-slot:item.action="{ item }">
                    <v-btn
                      depressed
                      small
                      color="accent"
                      @click="viewCourses(item)">
                      Courses
                    </v-btn>
                  </template>
                  <template v-slot:item.edit_action="{ item }">
                    <v-btn
                      depressed
                      small
                      color="accent"
                      @click="editItem(item)">
                      Edit
                    </v-btn>
                  </template>
               </v-data-table>
             </v-flex>
              <v-flex xs12 class="text-center pt-3 pb-0">
                <v-pagination
                  v-show="pageCount > 1"
                  v-model="page"
                  :length="pageCount"
                  :total-visible="10"
                ></v-pagination>
              </v-flex>
             <v-flex xs12>
             <v-card-actions>
               <v-spacer />
                <small>Total of <span class="blue--text">{{ count }} </span> <span>{{ items.length > 1 ? 'Items' : 'Item'}}</span></small>
             </v-card-actions>
             </v-flex>
           </v-layout>
        </v-card>
      </v-col>
    </v-layout>

    <program-revision-dialog
      :showDialog="dialog"
      @close="close"
      :formData="formData"
      @refetch="refetch"
      :id="revisionId"
    />

    <v-snackbar
      top
      right
      v-model="isSnackbar"
      :color="color"
      class="caption">
      <v-card-actions class="ma-0 pa-0">
        {{ text }}
        <v-spacer />
        <v-btn
          color="white"
          text
          icon
          right
          @click="isSnackbar = false"
          class="caption">
          <v-icon>clear</v-icon>
        </v-btn>
      </v-card-actions>
    </v-snackbar>

  </v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import defaultMixins from '@/mixins/index'
import revisionsQueries from '@/mixins/queries/admin/revisionsQueries'
export default {
  mixins: [
    formMixins,
    defaultMixins,
    revisionsQueries
  ],
  data: () => ({
    loading: false,
    dialog: false,
    headers: [
      {
        text: 'Revision No.',
        value: 'revision_no',
        sortable: true,
        align: 'center'
      },
      {
        text: 'Revision Date',
        value: 'revision_date',
        sortable: true,
        align: 'center'
      },
      {
        text: 'Remarks',
        value: 'remarks',
        sortable: true,
        align: 'center'
      },
      {
        text: '',
        value: 'action',
        sortable: true,
        align: 'center'
      },
      {
        text: '',
        value: 'edit_action',
        sortable: true,
        align: 'center'
      }
    ],
    items: [],
    form: [],
    defaultItem: {
      revision_no: '',
      revision_date: '',
      remarks: '',
      effective_school_year_from: '',
      effective_school_year_to: ''
    },
    color: '',
    text: '',
    isSnackbar: false,
    titleInfo: [{
      name: 'Revisions',
      icon: 'menu_book',
      color: 'accent',
      flex: 'xs12'
    }],
    skip: 0,
    take: 10,
    count: 0,
    formData: {},
    revisionId: null,
    breadcrumbItems: [
      {
        text: 'Curriculum',
        disabled: false,
        to: { name: 'department-academic-year' }
      },
      {
        text: 'Revisions',
        disabled: true,
        to: { name: '' }
      }
    ],
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    options: {},
    currPage: null,
    prevPage: null,
    skipItems: null,
    takeItems: null
  }),
  computed: {
    ...mapGetters('filters', ['search']),
    ...mapGetters('programs', ['programList']),
    ...mapGetters('curricula', ['per_program', 'curricula']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        this.$apollo.queries.revisionLists.refetch()
        return this.SET_SEARCH(value)
      }
    }
  },
  watch: {
    options: {
      handler (old, newx) {
        this.skipItems = global._.isUndefined(newx.itemsPerPage) ? 0 : newx.itemsPerPage
        this.takeItems = old.itemsPerPage
        this.prevPage = global._.isUndefined(newx.page) ? 0 : newx.page
        this.currPage = old.page
        let skip = this.sortSkipped(this.skipItems, this.currPage, old.itemsPerPage)
        let take = old.itemsPerPage
        this.skip = skip
        this.take = take
        this.loading = true
        this.$apollo.queries.revisionLists.refetch()
      },
      deep: true
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_SEARCH', 'RESET_FILTERS']),
    ...mapMutations('curricula', ['SET_REVISIONS']),
    ...mapActions('curricula', ['CLONE_COURSES']),
    resetFilters () {
      this.RESET_FILTERS()
      this.clear()
    },
    setColor (item) {
      return item == 'Active' ? 'green' : 'red'
    },
    refetch (val) {
      if (!global._.isUndefined(val)) {
        if (val.message) {
          this.snackbar(`${val.message}`, `${val.status}`)
        }
        this.$apollo.queries.revisionLists.refetch()
      }
    },
    clear () {
      this.setSearch = ''
    },
    doSearch (val) {
      this.setSearch = val
    },
    close () {
      this.dialog = false
    },
    addItem () {
      this.formData = []
      this.formData = Object.assign({}, this.defaultItem)
      this.formData.is_edit = false
      this.dialog = true
    },
    editItem (item) {
      this.formData = Object.assign({}, item)
      this.formData.is_edit = true
      this.dialog = true
      this.revisionId = item.id
    },
    viewCourses (item) {
      this.SET_REVISIONS(item)
      this.CLONE_COURSES({ revision_id: item.id, curriculum_id: item.curriculum_id }).then(data => {
        this.$router.push({ name: 'department-level-filter' })
      }).catch(errors => {
        console.log(errors)
      })
    },
    // onScroll (e) {
    //   const tableHeight = (this.$refs.table.$el.offsetHeight) - (e.srcElement.offsetHeight + 50)
    //   if (e.srcElement.scrollTop > tableHeight && !this.loading) {
    //     this.loading = true
    //     this.take++
    //     this.$apollo.queries.revisionLists.refetch()
    //   } else {
    //     this.take--
    //     this.$apollo.queries.revisionLists.refetch()
    //   }
    // },
    revisionBreadcrumbs () {
      this.breadcrumbItems[0].text = `${this.curricula.curriculum_code}`
    }
  },
  mounted () {
    this.revisionBreadcrumbs()
  }
}
</script>
