<template>
  <v-container fluid class="mt-0 pt-0">
    <v-layout wrap justify-center align-center>
      <v-flex xs12 md11>
        <applicants-table
          ref="table"
          :items="departmentItems"
          @rowClicked="ItemClicked($event)"
          :headers="headers"
          :title="title"
          :potentialEnrolleesCount="count"
          :titleInfo="titleInfo"
          :showSelect="showSelect"
          @select="getSelected"
          textStyle="caption"
          :isAdd="isAdd"
          :loading="departmentLoading"
          :itemsPerPage="take"
          @tableOptions="tableOptions"
        />
      </v-flex>

      <v-snackbar
        top
        right
        v-model="isSnackbar"
        :color="color"
        class="caption"
        timeout="1500">
        <v-card-actions class="ma-0 pa-0">
          {{ text }}
          <v-spacer />
          <v-btn
            color="white"
            text
            icon
            right
            @click="isSnackbar = false"
            class="caption">
            <v-icon>clear</v-icon>
          </v-btn>
        </v-card-actions>
      </v-snackbar>
    </v-layout>
  </v-container>
</template>
<script>
import formMixins from '@/mixins/form'
import { mapMutations, mapActions, mapGetters } from 'vuex'
import defaultMixins from '@/mixins/index'
import entranceQueryMixins from '@/mixins/queries/applicant/entranceQueries'
export default {
  mixins: [
    defaultMixins,
    entranceQueryMixins,
    formMixins
  ],
  data: () => ({
    title: 'Send Email',
    dialog: false,
    titleInfo: [
      {
        name: 'Entrance Exam Applicants',
        icon: 'people',
        color: 'accent',
        flex: 'xs12',
      }
    ],
    headers: [
      {
        text: 'Application No.',
        align: 'center',
        sortable: true,
        value: 'aplication_no',
        title: 'Academic School Year',
        icon: 'mdi-school',
        name: 'deans-entrance-academic-filter',
        field: ''
      },
      {
        text: 'Name',
        align: 'center',
        sortable: true,
        value: 'name'
      },
      {
        text: 'Program',
        align: 'center',
        sortable: true,
        value: 'program_code'
      },
      {
        text: 'Type',
        align: 'center',
        sortable: true,
        value: 'applicant_status',
        title: 'Status',
        icon: 'poll',
        name: 'deans-entrance-status-filter',
        field: ''
      },
      {
        text: 'Status',
        align: 'center',
        sortable: true,
        value: 'user_status',
        title: 'Entrance Status',
        icon: 'fact_check',
        name: 'deans-entrance-exam-status-filter',
        field: ''
      },
      {
        text: 'Submission',
        align: 'center',
        sortable: true,
        value: 'submission_type',
        title: '',
        icon: '',
        name: '',
        field: ''
      },
      {
        text: 'Dean',
        align: 'center',
        sortable: true,
        value: 'dean_icon'
      },
      {
        text: 'Guidance',
        align: 'center',
        sortable: true,
        value: 'guidance_icon'
      },
      {
        text: 'Finance',
        align: 'center',
        sortable: true,
        value: 'finance_icon'
      },
      {
        text: 'Email Status',
        align: 'center',
        sortable: true,
        value: 'email_status'
      },
    ],
    departmentItems: [],
    items: [],
    ids: [],
    isAdd: false,
    showSelect: false,
    count: null,
    isSnackbar: false,
    color: '',
    text: '',
    skipEntranceQuery: true,
    skipDeansQuery: false,
    entranceLoading: false,
    entranceIds: [],
    departmentLoading: false,
    skip: 0,
    take: 10
  }),
  computed: {
    ...mapGetters('filters', ['program_id', 'search', 'status', 'academic_year_id', 'entrance_status']),
    ...mapGetters('user', ['user', 'registrar']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        return this.SET_SEARCH(value)
      }
    }
  },
  mounted () {
    if (this.userType === 8 || this.userType === 7) {
      this.isAdd = true
      this.showSelect = true
    } else {
      this.isAdd = false
      this.showSelect = false
    }
  },
  watch: {
    academic_year_id (val) {
      this.getDeanEntranceApplicants(this.skip,this.take)
    },
    entrance_status (val) {
      this.getDeanEntranceApplicants(this.skip,this.take)
    },
    status (val) {
      this.getDeanEntranceApplicants(this.skip,this.take)
    },
    setSearch (val) {
      this.getDeanEntranceApplicants(this.skip,this.take)
    }
  },
  methods: {
    ...mapMutations('user', ['setRegistrar']),
    ...mapMutations('applicants', ['setTitle']),
    tableOptions (payload) {
      this.getDeanEntranceApplicants(payload.skip,payload.take)
    },
    ItemClicked (val) {
      this.setRegistrar(val)
      this.$router.push({ name: 'dean-applicant-form', params: { type: `${val.user_status}` } })
    },
    getSelected (ids) {
      this.entranceIds = ids
      let applicant_info = []
      global._.forEach(ids, function(value) {
        applicant_info.push({
          id: value.user_info.id
        })
      })
      this.ids = applicant_info
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.skipDeansQuery = false
      const title = vm.titleInfo.find(item => item.name)
      vm.setTitle(title.name)
    })
  }
}
</script>
