<template>
<v-container fluid class="mt-0 pt-0">
  <v-layout wrap justify-center align-center>
    <v-flex xs12 md11>
      <v-card flat>
        <header-component
          :isSearch="true"
          :isFilter="true"
          :isAdd="false"
          :isExport="true"
          @enter="doSearch"
          label="Search Student"
          btnTitle="Add Student"
          hint="Enter Student"
          @clear="clear()"
          :isSwitched="isSwitched"
          @reset="resetFilters()"
          @openFilter="openFilter()"
          @closeFilter="closeFilter()"
          :filterItems="headers"
        />
         <floating-card :titles="titleInfo" />
         <v-card class="my-8">
          <v-card-title class="my-5" />
           <v-layout wrap>
             <v-flex xs12>
               <v-data-table
                :headers="headers"
                :items="items"
                :page.sync="page"
                :items-per-page="itemsPerPage"
                @page-count="pageCount = $event"
                :options.sync="options"
                class="text-table-color font-weight-medium"
                hide-default-footer
                :loading="loading"
                loading-text="Loading... Please wait"
                @click:row="editItem($event)"
                fixed-header
                ref="table"
                :server-items-length="count"
              >
              </v-data-table>
             </v-flex>
            <v-flex xs12 class="text-center pt-3 pb-0">
              <v-pagination
                v-show="pageCount > 1"
                v-model="page"
                :length="pageCount"
                :total-visible="10"
              ></v-pagination>
            </v-flex>
             <v-flex xs12>
              <v-card-actions
                v-show="count > 0">
                <v-spacer />
                <small>Total of <span class="blue--text">{{ count }} </span> <span>{{ items.length > 1 ? 'Items' : 'Item'}}</span></small>
              </v-card-actions>
             </v-flex>
           </v-layout>
         </v-card>

        <v-snackbar
          top
          right
          v-model="isSnackbar"
          :color="color"
          class="caption">
          <v-card-actions class="ma-0 pa-0">
            {{ text }}
            <v-spacer />
            <v-btn
              color="white"
              text
              icon
              right
              @click="isSnackbar = false"
              class="caption">
              <v-icon>clear</v-icon>
            </v-btn>
          </v-card-actions>
        </v-snackbar>
      </v-card>
    </v-flex>
  </v-layout>
</v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import defaultMixins from '@/mixins/index'
import { GET_DEANS_STUDENTS } from '@/graphql/queries'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    defaultMixins,
    formMixins
  ],
  data: () => ({
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    loading: false,
    link: '',
    isSwitched: false,
    titleInfo: [
      {
        name: 'Students',
        icon: 'school',
        color: 'accent',
        flex: 'xs12'
      }
    ],
    items: [],
    isSnackbar: false,
    color: '',
    text: '',
    skip: 0,
    take: 10,
    count: 0,
    isDialog: false,
    headers: [
      {
        text: 'Student Id',
        align: 'center',
        sortable: true,
        value: 'student_id_number',
        title: '',
        icon: '',
        name: '',
        field: ''
      },
      {
        text: 'Name',
        align: 'center',
        sortable: true,
        value: 'name',
        title: 'Academic School Year',
        icon: 'mdi-school',
        name: 'deans-stud-year-filter',
        field: ''
      },
      {
        text: 'Gender',
        align: 'center',
        sortable: true,
        value: 'gender'
      },
      {
        text: 'Email',
        align: 'center',
        sortable: true,
        value: 'email',
      },
      {
        text: 'Program',
        align: 'center',
        sortable: true,
        value: 'program_code',
        title: 'Year Level',
        icon: 'show_chart',
        name: 'deans-stud-level-filter',
        field: ''
      },
      {
        text: 'Year Level',
        align: 'center',
        sortable: true,
        value: 'year_level',
        title: 'Semester',
        icon: 'collections_bookmark',
        name: 'deans-stud-semester-filter',
        field: ''
      },
      {
        text: 'Status',
        align: 'center',
        sortable: true,
        value: 'status',
        title: 'Status',
        icon: 'poll',
        name: 'deans-stud-status-filter',
        field: ''
      },
      {
        text: 'Section',
        align: 'center',
        sortable: true,
        value: 'section'
      }
    ],
    skipItems: null,
    takeItems: null,
    currPage: null,
    prevPage: null,
    options: {}
  }),
  computed: {
    ...mapGetters('filters', ['program_id', 'academic_year_id', 'year_level_id', 'semester_id', 'status', 'search']),
    ...mapGetters('user', ['user']),
    ...mapGetters('students', ['refetchedData']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        return this.SET_SEARCH(value)
      }
    }
  },
  watch: {
    program_id (val) {
      this.$apollo.queries.studentWithFilter.refresh()
    },
    curriculum_id (val) {
      this.$apollo.queries.studentWithFilter.refresh()
    },
    year_level_id (val) {
      this.$apollo.queries.studentWithFilter.refresh()
    },
    semester_id (val) {
      this.$apollo.queries.studentWithFilter.refresh()
    },
    status (val) {
      this.$apollo.queries.studentWithFilter.refresh()
    },
    refetchedData (val) {
      if (!global._.isUndefined(val)) {
        if (val.message) {
          this.snackbar(`${val.message}`, 'success')
        }
        this.$apollo.queries.studentWithFilter.refresh()
      }
    },
    options: {
      handler (old, newx) {
        this.skipItems = global._.isUndefined(newx.itemsPerPage) ? 0 : newx.itemsPerPage
        this.takeItems = old.itemsPerPage
        this.prevPage = global._.isUndefined(newx.page) ? 0 : newx.page
        this.currPage = old.page
        let skip = this.sortSkipped(this.skipItems, this.currPage, old.itemsPerPage)
        let take = old.itemsPerPage
        this.loading = true
        this.skip = skip
        this.take = take
        this.$apollo.queries.studentWithFilter.refetch()
      },
      deep: true
    }
  },
  apollo: {
    studentWithFilter: {
      query: GET_DEANS_STUDENTS,
      variables () {
        return {
          input: {
            dean_program_id: this.user ? this.user.department_id : null,
            program_id: global._.isUndefined(this.program_id) ? '' : this.program_id,
            school_year_id: global._.isUndefined(this.academic_year_id) ? '' : this.academic_year_id,
            year_level_id: global._.isUndefined(this.year_level_id) ? '' : this.year_level_id,
            semester_id: global._.isUndefined(this.semester_id) ? '' : this.semester_id,
            status: global._.isUndefined(this.status) ? '' : this.status,
            keyword: global._.isEmpty(this.setSearch) ? '' : this.setSearch,
            skip: this.skip,
            take: this.take
          }
        }
      },
      result ({ data }) {
        if (!global._.isUndefined(data)) {
          let self = this
          const students = []
          this.count = Number(data.studentWithFilter.count)
          global._.forEach(data.studentWithFilter.students, function (value) {
            const sortItems = global._.omit(value, 'user_id', 'student_info')
            const sortStudentItems = global._.omit(value.student_info, 'student_user')
            const sortUserItem = global._.omit(value.student_info.student_user, 'birth_date')
            sortUserItem.birth_date = self.formatDate(value.student_info.student_user.birth_date)
            const firstname = value.student_info.student_user.first_name ? self.textCapitalize(value.student_info.student_user.first_name) : ''
            const lastname = value.student_info.student_user.last_name ? self.textCapitalize(value.student_info.student_user.last_name) : ''
            const middlename = value.student_info.student_user.middle_name ? self.initialLetter(value.student_info.student_user.middle_name) : ''
            const extension = value.student_info.student_user.name_extension && global._.lowerCase(value.student_info.student_user.name_extension) !== 'n a' ? self.initialLetter(value.student_info.student_user.name_extension) : ''
            students.push({
              ...sortItems,
              ...sortStudentItems,
              ...sortUserItem,
              student_user: sortUserItem,
              section: value.section ? value.section.section : '',
              student_id_number: global._.isEmpty(value.student_info) ? '' : value.student_info.student_id_number,
              name: global._.isEmpty(value.student_info) ? '' : global._.isEmpty(value.student_info.student_user) ? '' : `${lastname}, ${firstname} ${middlename} ${extension}`,
              program_code: global._.isEmpty(value.program) ? '' : value.program.program_code,
              year_level: global._.isEmpty(value.yearlevel) ? '' : value.yearlevel.year_level,
              status: value.status,
              semester: global._.isEmpty(value.semester) ? '' : value.semester.semester,
              semester_id: value.semester_id,
              program_id: value.program_id,
              school_year: !global._.isNull(value.school_year) ? `${value.school_year.school_year_from} - ${value.school_year.school_year_to}` : '',
              curriculum_id: global._.isEmpty(value.curriculum) ? '' : value.curriculum.id,
              user_info: { id: value.user_id },
              user_status: value.status,
              applicant_status: value.student_status
            })
          })
          this.items = students
        }
      },
      watchLoading (isLoading) {
        this.loading = isLoading
      }
    }
  },
  methods: {
    ...mapMutations('filters', ['RESET_FILTERS', 'SET_SEARCH']),
    ...mapMutations('user', ['setRegistrar']),
    ...mapMutations('students', ['setCurriculum', 'setRevision']),
    resetFilters () {
      this.RESET_FILTERS()
      this.clear()
    },
    clear () {
      this.setSearch = ''
    },
    doSearch (val) {
      this.setSearch = val
    },
    openFilter () {
      this.isSwitched = true
    },
    closeFilter () {
      this.isSwitched = false
    },
    editItem (val) {
      let curriculum = {
        curriculum_code: null,
        id: null
      }
      let curriculumItem = val.curriculum ? val.curriculum : curriculum
      this.setCurriculum(curriculumItem)
      let revision = {
        revision_no: null,
        id: null
      }
      let revisionItem = !global._.isNull(val.curriculum_revision) ? val.curriculum_revision : revision
      this.setRevision(revisionItem)
      this.setRegistrar(val)
      this.$router.push({ name: 'dean-student-form', params: { type: `${val.status}` } })
      this.form = [val]
      this.isDialog = true
    },
    onScroll (e) {
      const tableHeight = (this.$refs.table.$el.offsetHeight) - (e.srcElement.offsetHeight + 50)
      if (e.srcElement.scrollTop > tableHeight && !this.loading) {
        this.loading = true
        this.take++
        this.$apollo.queries.studentWithFilter.refetch()
      } else {
        this.take--
        this.$apollo.queries.studentWithFilter.refetch()
      }
    }
  }
}
</script>
