<template>
<v-container fluid>
  <v-layout wrap>
    <v-flex xs12 class="mt-5">
      <floating-card :titles="titleInfo" />
      <v-card
        class="my-6">
        <v-layout wrap>
          <v-flex xs12>
            <v-data-table
              :headers="headers"
              :items="items"
              :page.sync="page"
              :items-per-page="itemsPerPage"
              hide-default-footer
              @page-count="pageCount = $event"
              :loading="loading"
              v-bind="rowsPerPage"
              loading-text="Loading... Please wait"
              fixed-header
              ref="table"
              @click:row="editItem($event)"
            >
            <template v-slot:top>
              <v-card-actions
                class="mb-7 mt-2 mx-2">
                <v-spacer />
                <v-tooltip top>
                  <template v-slot:activator="{ on }">
                    <v-btn
                      v-on="on"
                      outlined
                      width="150px"
                      color="accent"
                      class="text-none"
                      @click="add()">
                      Add Course
                    </v-btn>
                  </template>
                  <span>Add</span>
                </v-tooltip>
              </v-card-actions>
              <v-dialog
                v-model="dialog"
                persistent
                v-esc="escape">
                <v-card>
                  <v-card-actions class="pb-0">
                    <div class="flex-grow-1">
                      <v-card-title class="accent--text">{{ title }}</v-card-title>
                    </div>
                    <v-tooltip top>
                      <template v-slot:activator="{ on }">
                        <v-btn
                          v-on="on"
                          v-show="title === 'Edit Subject Equivalency'"
                          @click="confirmDialog = true"
                          text
                          fab
                          color="red">
                          <v-icon medium color="red">mdi-delete</v-icon>
                        </v-btn>
                      </template>
                      <span>Delete</span>
                    </v-tooltip>
                    <v-tooltip top>
                      <template v-slot:activator="{ on }">
                        <v-btn
                          v-on="on"
                          fab
                          @click="close"
                          text>
                          <v-icon medium color="red">mdi-close</v-icon>
                        </v-btn>
                      </template>
                      <span>Close</span>
                    </v-tooltip>
                  </v-card-actions>
                  <v-divider class="mx-2" />
                  <v-card-title>
                    <v-form ref="form">
                      <v-layout wrap justify-right align-right>
                        <v-flex xs12 md6>
                          <small>Program
                            <span class="pl-1" style="color: red;">*</span>
                          </small>
                          <v-text-field
                            class="mx-1"
                            dense
                            required
                            v-model="formItem.prev_program"
                            :error-messages="errors['prev_program']"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md6>
                          <small>Level
                            <span class="pl-1" style="color: red;">*</span>
                          </small>
                          <v-autocomplete
                            :items="levels"
                            v-model="formItem.year_level"
                            clearable
                            item-text="year_level"
                            item-value="year_level"
                            hide-no-data
                            return-string
                            clear-icon="mdi-close-circle"
                            dense
                            class="mx-2"
                            :error-messages="errors['year_level']">
                          </v-autocomplete>
                        </v-flex>
                        <v-flex xs12 md6>
                          <small>Previous School
                            <span class="pl-1" style="color: red;">*</span>
                          </small>
                          <v-text-field
                            class="mx-1"
                            dense
                            required
                            v-model="formItem.prev_school"
                            :error-messages="errors['prev_school']"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md6>
                          <small>School Year
                            <span class="pl-1" style="color: red;">*</span>
                          </small>
                          <v-text-field
                            class="mx-1"
                            dense
                            v-mask="mask"
                            :masked="true"
                            placeholder="YYYY-YYYY"
                            required
                            v-model="formItem.school_year"
                            :error-messages="errors['school_year']"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md6>
                          <small>Semesters
                            <span class="pl-1" style="color: red;">*</span>
                          </small>
                          <v-autocomplete
                            :items="semesters"
                            v-model="formItem.semester"
                            clearable
                            item-text="semester"
                            item-value="semester"
                            hide-no-data
                            return-string
                            clear-icon="mdi-close-circle"
                            dense
                            class="mx-1"
                            :error-messages="errors['semester']">
                          </v-autocomplete>
                        </v-flex>
                        <v-flex xs12 md6>
                          <small>Course Title
                            <span class="pl-1" style="color: red;">*</span>
                          </small>
                          <v-text-field
                            class="mx-1"
                            dense
                            required
                            v-model="formItem.course_title"
                            :error-messages="errors['course_title']"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md6>
                          <small>Course Description
                            <span class="pl-1" style="color: red;">*</span>
                          </small>
                          <v-text-field
                            class="mx-1"
                            dense
                            required
                            v-model="formItem.course_description"
                            :error-messages="errors['course_description']"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md6>
                          <small>Grade
                            <span class="pl-1" style="color: red;">*</span>
                          </small>
                          <v-text-field
                            class="mx-1"
                            dense
                            required
                            type="number"
                            pattern="^(?=.*?[1-9])[0-9()-]+$"
                            v-model="formItem.grade"
                            :error-messages="errors['grade']"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md6>
                          <small>Unit/s
                            <span class="pl-1" style="color: red;">*</span>
                          </small>
                          <v-text-field
                            class="mx-1"
                            dense
                            required
                            type="number"
                            v-model="formItem.units"
                            :error-messages="errors['units']"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md6>
                          <small>DCSP Course Equivalency
                            <span class="pl-1" style="color: red;">*</span>
                          </small>
                          <v-autocomplete
                            :items="courses"
                            v-model="formItem.dcsp_course_item"
                            :search-input.sync="search_course"
                            clearable
                            item-text="dcsp_course_equivalency"
                            item-value="dcsp_course_equivalency"
                            hide-no-data
                            return-object
                            clear-icon="mdi-close-circle"
                            dense
                            class="mx-1"
                            :error-messages="errors['dcsp_course_equivalency']">
                          </v-autocomplete>
                        </v-flex>
                        <v-flex xs12 md6>
                          <small>DCSP Course Description
                            <span class="pl-1" style="color: red;">*</span>
                          </small>
                          <v-text-field
                            class="mx-1"
                            dense
                            required
                            v-model="courseDescription"
                            :error-messages="errors['dcsp_course_description']"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md6>
                          <small>Unit/s
                            <span class="pl-1" style="color: red;">*</span>
                          </small>
                          <v-text-field
                            class="mx-1"
                            dense
                            required
                            type="number"
                            v-model="courseUnits"
                            :error-messages="errors['dcsp_units']"
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-form>
                  </v-card-title>

                  <v-card-actions class="py-5">
                    <v-spacer />
                    <v-btn
                      :loading="saveLoading"
                      color="accent"
                      width="100px"
                      class="white--text mr-3 mt-2 text-none"
                      @click="save()">Save
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </template>
            </v-data-table>
          </v-flex>
          <v-flex xs12 class="text-center pt-3 pb-0">
            <v-pagination
              v-show="pageCount > 1"
              v-model="page"
              :length="pageCount"
              :total-visible="10"
            ></v-pagination>
          </v-flex>
          <v-flex xs12
            v-show="itemsLength > 0">
            <v-card-actions>
              <v-spacer />
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <a :href="link" target="_blank" class="text-decor red--text"
                    v-on="on">
                    <v-btn
                      outlined
                      width="240px"
                      class="accent--text text-none my-3 mr-2"
                      @click="exportData()">
                      Subject Equivalency Form
                      <v-icon>mdi-download</v-icon>
                    </v-btn>
                  </a>
                </template>
                <span>Download</span>
              </v-tooltip>
            </v-card-actions>
          </v-flex>
        </v-layout>
      </v-card>
    </v-flex>
  </v-layout>

  <confirmation-dialog
    :showDialog="confirmDialog"
    @close="confirmDialog = false"
    @proceed="deleteItem(equivalencyId)"
    :loading="deleteLoading"
    message="Are you sure you want to delete this course ?"
  />

  <v-snackbar
    top
    right
    v-model="isSnackbar"
    :color="color"
    class="caption"
    timeout="1500">
    <v-card-actions class="ma-0 pa-0">
      {{ text }}
      <v-spacer />
      <v-btn
        color="white"
        text
        icon
        right
        @click="isSnackbar = false"
        class="caption">
        <v-icon>clear</v-icon>
      </v-btn>
    </v-card-actions>
  </v-snackbar>
</v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import defaultMixins from '@/mixins/index'
import { mapGetters, mapActions } from 'vuex'
import equivalencyQueryMixins from '@/mixins/queries/admin/equivalencyQueries'
import { mask, masked, tokens } from 'vue-the-mask'
export default {
  directives: { mask, masked, tokens },
  mixins: [
    formMixins,
    defaultMixins,
    equivalencyQueryMixins
  ],
  mounted () {
    this.fetchYearLevels()
    this.fetchSemesters()
  },
  data: () => ({
    rowsPerPage: {
      'footer-props': {
        'items-per-page-options': [10]
      }
    },
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    invokedOffset: 0,
    loading: false,
    id: null,
    errors: {},
    titleInfo: [
      {
        name: 'Subject Equivalency',
        icon: 'list_alt',
        color: 'accent',
        flex: 'xs12'
      }
    ],
    headers: [
      {
        text: 'Program',
        value: 'prev_program',
        sortable: true,
        align: 'center',
        title: '',
        name: ''
      },
      {
        text: 'Year Level',
        value: 'year_level',
        sortable: true,
        align: 'center',
        title: '',
        name: ''
      },
      {
        text: 'Previous School',
        value: 'prev_school',
        sortable: true,
        align: 'center',
        title: '',
        name: ''
      },
      {
        text: 'School Year',
        value: 'school_year',
        sortable: true,
        align: 'center',
        title: '',
        name: ''
      },
      {
        text: 'Semester',
        value: 'semester',
        sortable: true,
        align: 'center',
        title: '',
        name: ''
      },
      {
        text: 'Course Title',
        value: 'course_title',
        sortable: true,
        align: 'center',
        title: '',
        name: ''
      },
      {
        text: 'Course Description',
        value: 'course_description',
        sortable: true,
        align: 'center',
        title: '',
        name: ''
      },
      {
        text: 'Grade',
        value: 'grade',
        sortable: true,
        align: 'center',
        title: '',
        name: ''
      },
      {
        text: 'Units',
        value: 'units',
        sortable: true,
        align: 'center',
        title: '',
        name: ''
      },
      {
        text: 'DCSP Course Equivalency',
        value: 'dcsp_course_equivalency',
        sortable: true,
        align: 'center',
        title: '',
        name: ''
      },
      {
        text: 'DCSP Course Description',
        value: 'dcsp_course_description',
        sortable: true,
        align: 'center',
        title: '',
        name: ''
      },
      {
        text: 'Units',
        value: 'dcsp_units',
        sortable: true,
        align: 'center',
        title: '',
        name: ''
      }
    ],
    input: {
      skip: 0,
      take: 10 
    },
    count: 0,
    link: '',
    items: [],
    dialog: false,
    title: '',
    equivalencyId: null,
    formItem: {
      prev_program: null,
      prev_school: null,
      semester: null,
      school_year: null,
      year_level: null,
      course_title: null,
      course_description: null,
      grade: null,
      units: null,
      dcsp_course_equivalency: null,
      dcsp_course_description: null,
      dcsp_units: null,
      dcsp_course_item: null
    },
    defaultItem: {
      prev_program: null,
      prev_school: null,
      semester: null,
      school_year: null,
      year_level: null,
      course_title: null,
      course_description: null,
      grade: null,
      units: null,
      dcsp_course_equivalency: null,
      dcsp_course_description: null,
      dcsp_units: null,
      dcsp_course_item: null
    },
    confirmDialog: false,
    deleteLoading: false,
    saveLoading: false,
    levels: [],
    courses: [],
    semesters: [],
    mask: '####-#######',
    isSnackbar: false,
    text: '',
    color: '',
    itemsLength: 0,
    search_course: ''
  }),
  computed: {
    ...mapGetters('user', ['registrar']),
    courseDescription () {
      if (this.formItem.dcsp_course_item) {
        this.formItem.dcsp_course_description = this.formItem.dcsp_course_item.dcsp_course_description
        return this.formItem.dcsp_course_description
      } else {
        return this.formItem.dcsp_course_description
      }
    },
    courseUnits () {
      if (this.formItem.dcsp_course_item) {
        this.formItem.dcsp_units = this.formItem.dcsp_course_item.dcsp_units
        return this.formItem.dcsp_units
      } else {
        return this.formItem.dcsp_units
      }
    }
  },
  methods: {
  ...mapActions('curricula', ['POST_COURSE_EQUIVALENCY', 'DELETE_COURSE_EQUIVALENCY']),
    escape () {
      this.$emit('close')
    },
    close () {
      this.dialog = false
      setTimeout(() => {
        this.formItem = Object.assign({}, this.defaultItem)
        this.errors = {}
      }, 300)
    },
    save () {
      this.errors = {}
      this.formItem.user_id = this.registrar.user_info.id
      this.formItem.id = this.equivalencyId
      this.formItem.dcsp_course_equivalency = this.formItem.dcsp_course_item ? this.formItem.dcsp_course_item.dcsp_course_equivalency : null
      this.saveLoading = true
      let payload = global._.omit(this.formItem, 'dcsp_course_item')
      this.POST_COURSE_EQUIVALENCY(payload).then(data => {
        this.isSnackbar = true
        this.text = 'Course Equivalency saved !'
        this.color = 'success'
        this.close()
        this.saveLoading = false
        this.confirmDialog = false
        this.$apollo.queries.subjectEquivalencyInfo.refetch()
      }).catch(data => {
        this.errors = data.errors
        this.saveLoading = false
        this.confirmDialog = false
      })
    },
    deleteItem (id) {
      this.deleteLoading = true
      this.DELETE_COURSE_EQUIVALENCY({ id: id }).then(data => {
        this.isSnackbar = true
        this.text = 'Course Equivalency deleted !'
        this.color = 'error'
        this.$apollo.queries.subjectEquivalencyInfo.refetch()
        this.close()
        this.deleteLoading = false
        this.confirmDialog = false
      }).catch(data => {
      })
    },
    editItem (val) {
      this.equivalencyId = val.id
      this.title = 'Edit Course Equivalency'
      this.dialog = true
      this.formItem = val
    },
    add () {
      this.formItem = Object.assign({}, this.defaultItem)
      this.title = 'Add Course Equivalency'
      this.dialog = true
    },
    exportData () {
      if (this.registrar.user_info) {
        this.link = `${process.env.VUE_APP_URL}api/exports/pdf/subject/equivalency/${this.registrar.user_info.id}`
      }
    }
  }
}
</script>
