<template>
<v-container fluid>
  <v-layout wrap justify-center align-center>
    <v-flex xs12>
      <floating-card class="mt-2" :titles="applicationTitle" />
      <v-card
        class="px-2 my-5"
        style="border: 1px solid #b5b3b3;">
        <v-skeleton-loader
          class="mx-2 my-5"
          max-width
          type="article, article, button"
          v-show="loading"
        ></v-skeleton-loader>

        <v-layout wrap justify-center align-center
          class="my-12 mx-2"
          v-show="!loading">
          <v-flex xs12
            v-if="mode === 'enrollment'">
            <v-card-text class="subtitle-1 my-0 py-0">
              <v-layout wrap justify-left>
                <v-flex xs12 md5 lg3>
                <v-card-text class="body-1 text-left">School Year:</v-card-text>
                </v-flex>
                <v-flex xs12 md7 lg9>
                  <v-text-field
                    disabled
                    v-model="school_year"
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-flex>
          <v-flex xs12>
            <v-card-text class="subtitle-1 my-0 py-0">
              <v-layout wrap justify-left>
                <v-flex xs12 md5 lg3>
                <v-card-text class="body-1 text-left">Status:</v-card-text>
                </v-flex>
                <v-flex xs12 md7 lg9>
                  <v-text-field
                    :disabled="!isViewForm"
                    :append-outer-icon="mode === 'enrollment'? 'edit' : ''"
                    @click:append-outer="updateStatus"
                    v-model="setStatusName"
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-flex>
          <v-flex xs12>
            <v-card-text class="subtitle-1 my-0 py-0">
              <v-layout wrap justify-left>
                <v-flex xs12 md5 lg3>
                <v-card-text class="body-1 text-left">Program:</v-card-text>
                </v-flex>
                <v-flex xs12 md7 lg9>
                  <v-text-field
                    :disabled="!isViewForm"
                    :append-outer-icon="mode === 'enrollment'? 'edit' : ''"
                    @click:append-outer="updateProgram"
                    v-model="setProgramName"
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-flex>
          <v-flex xs12
            v-if="mode === 'enrollment'">
            <v-card-text class="subtitle-1 my-0 py-0">
              <v-layout wrap justify-left>
                <v-flex xs12 md5 lg3>
                <v-card-text class="body-1 text-left">Semester:</v-card-text>
                </v-flex>
                <v-flex xs12 md7 lg9>
                  <v-text-field
                    disabled
                    v-model="setSemesterName"
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-flex>
        </v-layout>

        <card-dialog
          :showDialog="dialog"
          @close="dialog = false"
          :title="title"
          @go="PickedItem"
          @Change="ChangeItem"
          :disabled="isProgramDisabled"
          :fields="fields"
          :form="formData"
          :choices="choices"
          classStyle="pb-9"
          btn_name="Go"
        />
<!-- 
        <v-card-actions
          v-show="!loading">
          <v-btn
            @click="edit()"
            width="120px"
            height="35px"
            small
            color="accent"
            class="ma-2 body-2 text-none white--text">Edit
          </v-btn>
          <v-spacer />
        </v-card-actions> -->
      </v-card>
    </v-flex>
  </v-layout>
</v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import defaultMixins from '@/mixins/index'
import { GET_CURRENT_PROGRAM, GET_SEMESTER } from '@/graphql/admin/queries'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import { format } from 'date-fns'
import { GET_ENROLLMENT_EXAM } from '@/graphql/queries'
export default {
  mixins: [
    defaultMixins,
    formMixins
  ],
  data: () => ({
    applicationTitle: [{
      name: 'Application Info',
      icon: 'library_books',
      color: 'accent',
      flex: 'xs12'
    }],
    loading: false,
    skipQuery: false,
    isReadOnly: true,
    skipApplicationQuery: false,
    years: [],
    dialog: false,
    programs: [],
    semesters: [],
    title: '',
    fields: [
      {
        key: 'id',
        selectLabel: 'Select Option',
        choices: 'items',
        itemValue: 'id',
        itemText: 'name',
        fieldTitle: true,
        classNames: 'xs12'
      }
    ],
    form: [],
    isProgramDisabled: true,
    statuses: [
      {
        id: 1,
        name: 'Freshman'
      },
      {
        id: 2,
        name: 'Transferee'
      }
    ],
    formData: [
      {
        id: ''
      }
    ],
    skipUserQuery: false
  }),
  apollo: {
    studentInfo: {
      query: GET_ENROLLMENT_EXAM,
      variables () {
        return {
          id: this.user.id
        }
      },
      result ({ data }) {
        if (!global._.isUndefined(data)) {
          if (!global._.isNull(data.studentInfo)) {
            this.setSubmissionType(data.studentInfo.submission_type)
            this.fetchIcon('application_info', data.studentInfo.icon)
            if (!global._.isNull(data.studentInfo.program)) {
              this.setProgram(data.studentInfo.program.program_name)
            } else {
              this.setProgram('')
            }
            if (!global._.isNull(data.studentInfo.semester)) {
              this.setSemester(data.studentInfo.semester.semester)
            } else {
              this.setSemester('')
            }
            if (!global._.isNull(data.studentInfo.semester)) {
              this.setSemester(data.studentInfo.semester.semester)
            }
            const statusInfo = `${data.studentInfo.status} / ${data.studentInfo.applicant_status}`
            this.setStatus(statusInfo)
          }
        } else {
          this.fetchIcon('application_info', 'mdi-check-circle')
          this.setProgram('')
          this.setSemester('')
          this.setStatus('')
        }
      },
      skip () {
        return this.skipUserQuery
      }
    },
    curriculumProgramsYearNow: {
      query: GET_CURRENT_PROGRAM,
      result ({ data }) {
        const years = []
        if (!global._.isUndefined(data)) {
          global._.forEach(data.curriculumProgramsYearNow, function (value) {
            years.push({
              curriculum_id: Number(value.curriculum_id),
              school_year: `${value.school_year_from} - ${value.school_year_to}`
            })
          })
          this.years = years
          const sortedPrograms = data.curriculumProgramsYearNow.filter(item => item.program_status === 'Active')
          this.programs = []
          const programItems = []
          global._.forEach(sortedPrograms, function (value) {
            programItems.push({
              id: Number(value.program_id),
              name: value.program_name
            })
          })
          this.programs = programItems
        }
      }
    },
    semester: {
      query: GET_SEMESTER,
      result ({ data }) {
        if (data) {
          const semesterItems = []
          this.semesters = []
          global._.forEach(data.semester, function (value) {
            semesterItems.push({
              id: Number(value.id),
              name: value.semester
            })
          })
          this.semesters = semesterItems
        }
      }
    }
  },
  computed: {
    ...mapGetters('form', ['isViewForm']),
    ...mapGetters('user', ['user']),
    ...mapGetters('applicants', ['student_applicant', 'program_name', 'semester', 'status']),
    ...mapGetters('registration', ['enrollment']),
    school_year () {
      if (!global._.isEmpty(this.years)) {
        const dateNow = format(new Date(), 'yyyy')
        const yearItem = this.years.find(item => item.school_year)
        return yearItem.school_year
      } else {
        return ''
      }
    },
    applicant_status () {
      if (this.student_applicant) return this.student_applicant.applicant_status
      return ''
    },
    statusInfo () {
      if (this.student_applicant) return `${this.student_applicant.status} / ${this.applicant_status}`
      return ''
    },
    setProgramName: {
      get: function () {
        return this.program_name
      },
      // setter
      set: function (value) {
        return this.setProgram(value)
      }
    },
    setSemesterName: {
      get: function () {
        return this.semester
      },
      // setter
      set: function (value) {
        return this.setSemester(value)
      }
    },
    setStatusName: {
      get: function () {
        return this.status
      },
      // setter
      set: function (value) {
        return this.setStatus(value)
      }
    },
    choices () {
      return {
        items: this.title === 'UPDATE PROGRAM' ? this.programs : this.title === 'UPDATE SEMESTER' ? this.semesters : this.statuses
      }
    },
    mode () {
      return this.$route.params.status
    },
    postApi () {
      return 'api/applicant/enroll'
    }
  },
  methods: {
    ...mapMutations('form', ['setIcons']),
    ...mapActions('applicants', ['POST_APPLICATION_INFO']),
    ...mapMutations('applicants', ['setProgram', 'setSemester', 'setStatus', 'setSubmissionType']),
    updateProgram () {
      this.title = 'UPDATE PROGRAM'
      this.dialog = true
    },
    updateSemester () {
      this.title = 'UPDATE SEMESTER'
      this.dialog = true
    },
    updateStatus () {
      this.title = 'UPDATE STATUS'
      this.dialog = true
    },
    PickedItem () {
      let payload = {}
      if (this.title === 'UPDATE PROGRAM') {
        if (this.formData) {
          payload = {
            user_id: this.student_applicant.user_id,
            program_id: this.formData[0].id,
            applicant_status: this.student_applicant.applicant_status,
            semester_id: this.student_applicant.semester_id,
            submission_type: this.student_applicant.submission_type,
            status: this.student_applicant.status,
            icon: this.student_applicant.icon
          }
          this.POST_APPLICATION_INFO(payload).then(data => {
            this.close()
          }).catch(errors => {
            console.log(errors)
          })
        }
      } else if (this.title === 'UPDATE SEMESTER') {
        if (this.formData) {
          payload = {
            user_id: this.student_applicant.user_id,
            program_id: this.student_applicant.program_id,
            applicant_status: this.student_applicant.applicant_status,
            semester_id: this.formData[0].id,
            submission_type: this.student_applicant.submission_type,
            status: this.student_applicant.status,
            icon: this.student_applicant.icon
          }
          this.POST_APPLICATION_INFO(payload).then(data => {
            this.close()
          }).catch(errors => {
            console.log(errors)
          })
        }
      } else {
        if (this.formData) {
          payload = {
            user_id: this.student_applicant.user_id,
            program_id: this.student_applicant.program_id,
            applicant_status: Number(this.formData[0].id) === 1 ? 'Freshman' : 'Transferee',
            semester_id: this.student_applicant.semester_id,
            submission_type: this.student_applicant.submission_type,
            status: this.student_applicant.status,
            icon: this.student_applicant.icon
          }
          this.POST_APPLICATION_INFO(payload).then(data => {
            this.close()
          }).catch(errors => {
            console.log(errors)
          })
        }
      }
      
    },
    close () {
      this.dialog = false
      this.$apollo.queries.studentInfo.refetch()
    },
    ChangeItem (val) {
      if (global._.isEmpty(this.formData)) {
        this.isProgramDisabled = true
      } else {
        this.isProgramDisabled = false
      }
    }
  },
  beforeRouteEnter (to, from, next) {
    next( vm => {
      vm.skipUserQuery = false
      vm.skipApplicationQuery = false
      vm.skipEnrollApplicationQuery = false
    })
  }
}
</script>
