<template>
<v-container fluid>
  <v-layout wrap justify-center align-center>
    <v-flex xs12>
      <floating-card class="mt-2" :titles="courseTitle" />
      <v-card
        class="px-2 my-5"
        style="border: 1px solid #b5b3b3;">
        <v-skeleton-loader
          class="mx-1 mt-5"
          max-width
          type="article, article, article, article, article, article, article"
          v-show="loading"
        ></v-skeleton-loader>

        <v-layout wrap justify-center align-center
          class="my-10"
          v-show="!courseId">
          <v-card-title class="font-italic font-weight-light">Not Yet Available.Please Click Submit.</v-card-title>
        </v-layout>

        <current-courses
          v-show="courseId"
        />
      </v-card>
    </v-flex>
  </v-layout>

</v-container>
</template>
<script>
import defaultMixins from '@/mixins/index'
import { mapMutations, mapGetters } from 'vuex'
export default {
  mixins: [
    defaultMixins
  ],
  data: () => ({
    invokedOffset: 0,
    courseTitle: [{
      name: 'Courses',
      icon: 'fact_check',
      color: 'accent',
      flex: 'xs12'
    }],
    loading: false
  }),
  computed: {
    ...mapGetters('form', ['courseId']),
    status () {
      return this.$route.params.status
    }
  },
  methods: {
    ...mapMutations('user', ['SET_ACTIVE']),
    ...mapMutations('form', ['setCourseId']),
    setActiveTab () {
      if (this.status === 'entrance-exam') {
        this.SET_ACTIVE(4)
      } else {
        this.SET_ACTIVE(5)
      }
    }
  },
  mounted () {
    this.setActiveTab()
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.setActiveTab()
    })
  }
}
</script>
