<template>
<v-container fluid>
  <v-layout wrap justify-center align-center>
    <v-flex xs12>
      <floating-card class="mb-5 mt-2" :titles="paymentTitle" />
      <v-card
        class="px-2 my-5"
        style="border: 1px solid #b5b3b3;">
        <v-skeleton-loader
          class="mx-1"
          max-width
          type="article, article, article, article, article, article, article"
          v-show="loading"
        ></v-skeleton-loader>

        <v-layout wrap justify-center align-center
          class="my-10"
          v-show="status !== 'entrance-exam'">
          <v-card-title class="font-italic font-weight-light">Not Yet Available.Please Click Submit.</v-card-title>
        </v-layout>

        <entrance-payment
          v-show="status === 'entrance-exam'"
        />
       <!--  <enrollment-payment
          v-show="status !== 'entrance-exam'"
        /> -->
      </v-card>
    </v-flex>

    <v-snackbar
      top
      right
      v-model="isSnackbar"
      :color="color"
      class="caption">
      <v-card-actions class="ma-0 pa-0">
        {{ text }}
        <v-spacer />
        <v-btn
          color="white"
          text
          icon
          right
          @click="isSnackbar = false"
          class="caption">
          <v-icon>clear</v-icon>
        </v-btn>
      </v-card-actions>
    </v-snackbar>
  </v-layout>
</v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    formMixins
  ],
  data: () => ({
    paymentTitle: [{
      name: 'Payment',
      icon: 'payments',
      color: 'accent',
      flex: 'xs12'
    }],
    loading: false,
    amount: 'P500',
    card_number: '235-2523-2626-26',
    payment_mode: '',
    items: ['Gcash', 'Dragon Pay', 'Over the Counter'],
    id: null,
    skipQuery: false,
    form: {},
    color: '',
    text: '',
    isSnackbar: false,
  }),
  computed: {
    ...mapGetters('user', ['user']),
    ...mapGetters('form', ['courseId']),
    status () {
      return this.$route.params.status
    },
    showPayment () {
      if (this.status === 'enrollment') return true
      return false
    },
    postApi () {
      return 'api/applicant/payment'
    },
    status () {
      return this.$route.params.status
    }
  },
  methods: {
    ...mapMutations('form', ['setIcons']),
    ...mapMutations('user', ['SET_ACTIVE']),
    setActiveTab () {
      if (this.status === 'entrance-exam') {
        this.SET_ACTIVE(5)
      } else {
        this.SET_ACTIVE(6)
      }
    },
    close () {
      if (!global._.isEmpty(this.form)) {
        let payment = {
          key: 'payment',
          value: this.form.icon
        }
        window.scrollTo(0,0)
        this.snackbar('payment data saved.', 'success')
        this.setIcons(payment)
      }
    },
    /*save () {
      let inputs = {
        icon: 'mdi-check-circle',
        mode: this.status,
        user_id: this.user.id
      }
      console.log(inputs)
      // this.saveData(inputs)
    }*/
  },
  mounted () {
    this.setActiveTab()
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      // vm.loading = true
      vm.skipQuery = false
      vm.setActiveTab()
    })
  }
}
</script>
