<template>
<v-container fluid>
  <v-layout wrap justify-center align-center>
    <v-flex xs12>
      <floating-card class="mt-2" :titles="personalTitle" />
      <v-card
        class="px-2 my-5"
        style="border: 1px solid #b5b3b3;">

        <v-skeleton-loader
          class="mx-2 my-5"
          max-width
          type="article, article, article, article, article, button"
          v-show="loading"
        ></v-skeleton-loader>

        <v-layout wrap
          class="mt-12"
          v-show="!loading">
          <v-flex xs12>
            <personal-data
              ref="personal"
              :fields="fields"
              :form="formData"
              @input="Input"
            />
          </v-flex>

          <v-flex xs12
            v-show="status === 'enrollment'">
            <career ref="career" />
          </v-flex>

          <v-flex xs12
            v-show="status === 'enrollment'">
            <checklist ref="checklist" />
          </v-flex>
        </v-layout>

        <v-card-actions
          v-show="!loading">
          <v-btn
            :loading="saveLoading"
            @click="save()"
            width="120px"
            height="35px"
            small
            color="accent"
            v-show="isViewForm === true"
            class="ma-2 body-2 text-none white--text">Save
          </v-btn>
          <v-spacer />
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>

  <v-snackbar
    top
    right
    v-model="isSnackbar"
    :color="color"
    timeout="1500"
    class="caption">
    <v-card-actions class="ma-0 pa-0">
      {{ text }}
      <v-spacer />
      <v-btn
        color="white"
        text
        icon
        right
        @click="isSnackbar = false"
        class="caption">
        <v-icon>clear</v-icon>
      </v-btn>
    </v-card-actions>
  </v-snackbar>
</v-container>
</template>
<script>
import defaultMixins from '@/mixins/index'
import formMixins from '@/mixins/form.js'
import { mapGetters, mapMutations, mapActions } from 'vuex'
export default {
  mixins: [
    defaultMixins,
    formMixins
  ],
  data () {
    return {
      personalTitle: [
        {
          name: 'Personal Information',
          icon: 'mdi-account-box',
          color: 'accent',
          flex: 'xs12'
        }
      ],
      loading: false,
      form: [],
      icon: '',
      errors: {},
      color: '',
      text: '',
      isSnackbar: false,
      skipQuery: false,
      componentRefs: [
        'personal',
        'career',
        'checklist'
      ],
      saveLoading: false,
      fields: [
        {
          key: 'first_name',
          disabled: true,
          classNames: 'xs12 md6 px-2'
        },
        {
          key: 'middle_name',
          disabled: true,
          classNames: 'xs12 md6  px-2'
        },
        {
          key: 'last_name',
          disabled: true,
          classNames: 'xs12 md6  px-2'
        },
        {
          key: 'name_extension',
          disabled: true,
          classNames: 'xs12 md6  px-2'
        },
        {
          key: 'gender',
          choices: 'gender',
          disabled: true,
          classNames: 'xs12 md6 px-2'
        },
        {
          key: 'birth_date',
          date: true,
          disabled: true,
          classNames: 'xs12 md6 px-2'
        },
        {
          key: 'email',
          disabled: true,
          classNames: 'xs12 md6 px-2'
        },
        {
          key: 'contact',
          type: 'number',
          mask: '###-###-####',
          prefix: "+63",
          classNames: 'xs12 md6 px-2',
          required: true
        }
      ],
      formData: []
    }
  },
  computed: {
    ...mapGetters('user', ['user']),
    ...mapGetters('form', ['isViewForm']),
    ...mapGetters('applicants', ['personal']),
    postApi () {
      return 'api/applicant/update/create/SpdiPersonalInfo'
    },
    sortData () {
      return global._.omit(this.personal, 'first_choice', 'second_choice', 'third_choice', 'major')
    },
    status () {
      return this.$route.params.status
    }
  },
  methods: {
    ...mapMutations('applicants', ['setPersonal']),
    ...mapMutations('form', ['setIcons']),
    ...mapMutations('user', ['SET_ACTIVE']),
    setActiveTab () {
      if (this.status === 'entrance-exam') {
        this.SET_ACTIVE(0)
      } else {
        this.SET_ACTIVE(1)
        let isFieldsExists = this.fields.filter(item => item.key === 'civil_status' || item.key === 'religion' || item.key === 'social_account' || item.key === 'address')
        if (global._.isEmpty(isFieldsExists)) {
          this.fields.push(
          {
            key: 'civil_status',
            choices: 'statuses',
            classNames: 'xs12 md6 px-2',
            required: true
          },
          {
            key: 'social_account',
            label: 'Facebook / Messenger Account',
            prependIcon: 'facebook',
            classNames: 'xs12 md6 px-2'
          },
          {
            key: 'religion',
            classNames: 'xs12 px-2',
            required: true
          },
          {
            key: 'address',
            classNames: 'xs12 px-2',
            hint: 'House/Block/Lot. No., Street, Subd./Village, Barangay, City/Municipality, Province',
            required: true
          })
        }
      }
    },
    getForm () {
      let sortUser = global._.omit(this.user, 'birth_date')
      let birthDate = this.formatDate(this.user.birth_date)
      if (this.personal) {
        let data = {
            ...sortUser,
            ...this.sortData,
          birth_date: birthDate
        }
        this.formData[0] = Object.assign({}, data)
      } else {
        let data = {
          ...sortUser,
          birth_date: birthDate
        }
       this.formData[0] = Object.assign({}, data)
      }
    },
    close () {
      if (global._.isEmpty(this.errors)) {
        if (this.form) {
          this.saveLoading = false
          this.snackbar('Personal data saved.', 'success')
          this.$apollo.queries.applicantInfo.refetch()
          this.setPersonal(this.form)
          let personal = {
            key: 'personal_info',
            value: this.form.icon
          }
          this.setIcons(personal)
          this.getForm()
          this.$refs.personal.errors = this.errors
          this.$refs.career.errors = this.errors
          this.$refs.checklist.errors = this.errors
        }
      } else {
        this.$refs.personal.errors = this.errors
        this.$refs.career.errors = this.errors
        this.$refs.checklist.errors = this.errors
        this.snackbar('fill up all required fields', 'error')
      }
      window.scrollTo(0,0)
    },
    save () {
      this.skipQuery = false
      this.saveLoading = true
      this.isSnackbar = false
      let payload = {}
      let inputs = {}
      this.componentRefs.forEach(ref => {
        const component = this.$refs[ref]
        component.setErrors({})
        payload[ref] = component.getData()
      })
      inputs = global._.merge(
        global._.pick(payload.personal[0], 'updated_by', 'social_account', 'icon', 'address', 'civil_status', 'contact', 'religion'),
        global._.pick(payload.career[0], 'icon', 'first_choice', 'second_choice', 'third_choice', 'major'),
        global._.omit(payload.checklist[0],  'icon', 'id', 'first_choice', 'second_choice', 'third_choice', 'major', 'social_account', 'address', 'civil_status', 'contact', 'religion')
      )
      this.$set(inputs, 'icon', 'mdi-check-circle')
      this.$set(inputs, 'updated_by', this.user.user_type_id)
      this.$set(inputs, 'user_id', this.user.id)
      this.$set(inputs, 'submission_type', this.status)
      this.saveData(inputs)
    },
    Input (value) {
      this.$emit('input', value)
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.loading = true
      vm.skipQuery = false
      vm.setActiveTab()
    })
  },
  created () {
    this.getForm()
  },
  mounted () {
    this.setActiveTab()
  }
}
</script>
