<template>
<v-card flat>
  <v-layout wrap>
    <v-flex xs12 md4 lg3>
      <steps
        v-if="status === 'enrollment'"
        @save="enrollDialog = true"
        CardStyle="subtitle-1"
        :title="title"
        :enrollmentItems="enrollmentItems"
        :isSubmit="true"
        :isEnabled="isEnrollSubmit"
        :disabled="disabled"
        :active="active" />

      <steps
        v-else
        @save="dialog = true"
        CardStyle="subtitle-1"
        :title="title"
        :enrollmentItems="enrollmentItems"
        :isSubmit="true"
        :isEnabled="isEntranceSubmit"
        :disabled="disabled"
        :active="active" />
    </v-flex>

    <v-flex xs12 md8 lg9>
      <v-card tile flat
        style="border: solid;"
        v-scroll="onScroll"
        class="mt-2 transparent">
        <v-slide-y-transition mode="out-in">
          <router-view/>
        </v-slide-y-transition>
      </v-card>
    </v-flex>
  </v-layout>

  <terms-dialog
    :loading="enrollLoading"
    :showDialog="enrollDialog"
    @close="enrollDialog = false"
    @accept="accept()"
  />

  <terms-dialog
    :loading="entranceLoading"
    :showDialog="dialog"
    @close="dialog = false"
    @accept="acceptEntrance()"
  />

  <scroll-btn
    v-show="offsetTop > 1"
    @scrollPage="getTopPage()"
    icon="mdi-chevron-up"
    color="accent"
  />
</v-card>
</template>
<script>
import formMixins from '@/mixins/form'
import defaultMixins from '@/mixins/index'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import applicantQueries from '@/mixins/queries/applicant/applicantQueries'
import { GET_ENROLLMENT_EXAM } from '@/graphql/queries'
export default {
  mixins: [
    applicantQueries,
    defaultMixins,
    formMixins
  ],
  data: () => ({
    offsetTop: 0,
    enrollmentItems: [
      {
        name: 'application-info',
        title: 'Application Information',
        icon: 'mdi-close-circle'
      },
      {
        name: 'personal-info',
        title: 'Personal Information',
        icon: 'mdi-close-circle'
      }
    ],
    dialog: false,
    disabled: false,
    errors: {},
    form: {},
    entranceLoading: false,
    enrollLoading: false,
    skipApplicationQuery: false,
    skipEnrollApplicationQuery: false,
    enrollDialog: false,
    skipUserQuery: false,
    skipQuery: false
  }),
  computed: {
    ...mapGetters('registration', ['enrollment', 'entrance']),
    ...mapGetters('form', ['icons', 'isEntranceSubmit', 'isEnrollSubmit', 'courseId']),
    ...mapGetters('user', ['user', 'active']),
    title () {
      if (this.status === 'enrollment') return 'ENROLLMENT FORM'
      return 'ENTRANCE EXAM FORM'
    },
    status () {
      return this.$route.params.status
    },
    postApi () {
      return 'api/applicant/submit/application'
    }
  },
  methods: {
    ...mapActions('applicants', ['POST_ENROLLMENT_SUBMISSION']),
    ...mapMutations('form', ['setIsEntranceSubmit', 'setIsEnrollSubmit', 'setIcons']),
    ...mapMutations('applicants', ['setStudentApplicant', 'setProgram', 'setSemester', 'setStatus', 'setPersonal', 'setEducation', 'setFamily']),
    onScroll (e) {
      this.offsetTop = window.pageYOffset || document.documentElement.scrollTop
    },
    close () {
      this.dialog = false
      this.skipEnrollApplicationQuery = false
      this.enrollLoading = false
      this.entranceLoading = false
      if (global._.isEmpty(this.errors)) {
        if (this.status === 'enrollment') {
          this.setIsEnrollSubmit(false)
        } else {
          this.$router.push({ name: 'enroll-online' })
          this.setIsEntranceSubmit(false)
        }
        this.$apollo.queries.submitApplicationUser.refetch()
      }
    },
    accept () {
      this.enrollLoading = true
      this.POST_ENROLLMENT_SUBMISSION({ user_id: this.user.id}).then(data => {
        this.setIsEnrollSubmit(false)
        this.dialog = false
        this.enrollLoading = true
        this.skipEnrollApplicationQuery = false
        this.$router.push({ name: 'enroll-online' })
        this.snackbar(`${data.data.message}`, 'success')
      }).catch(err => {
        if (err) {
          console.log(err)
        }
      })
    },
    acceptEntrance () {
      this.entranceLoading = true
      this.saveData({ user_id: this.user.id})
    },
    addTabs () {
      if (this.status === 'enrollment') {
        this.enrollmentItems.push(
        {
          name: 'educational-info',
          title: 'Educational Information',
          icon: 'mdi-close-circle'
        },
        {
          name: 'family-info',
          title: 'Family Information',
          icon: 'mdi-close-circle'
        },
        {
          name: 'requirements',
          title: 'Requirements',
          icon: 'mdi-close-circle'
        })
        // ,
        // {
        //   name: 'courses',
        //   title: 'Courses',
        //   icon: 'mdi-close-circle'
        // }
        // if (!global._.isNull(this.courseId)) {
        //   this.enrollmentItems.push(
        //   {
        //     name: 'payment',
        //     title: 'Payment',
        //     icon: 'mdi-close-circle'
        //   })
        // }
      } else {
        if (this.entrance.applicant_status === 'Transferee') {
          this.enrollmentItems.push(
          {
            name: 'transferee-requirement',
            title: 'Requirements',
            icon: 'mdi-close-circle'
          },
          {
            name: 'entrance-payment',
            title: 'Payment',
            icon: 'mdi-close-circle'
          })
        } else {
          this.enrollmentItems.push({
            name: 'entrance-payment',
            title: 'Payment',
            icon: 'mdi-close-circle'
          })
        }
      }
    },
    fetchIcons () {
      this.enrollmentItems.filter(item => {
        for (const [key, value] of Object.entries(this.icons)) {
          let name = key.replace(/_/g, '-')
          if (item.name === `${name}`) {
            item.icon = `${value}`
            if (`${value}` === '') {
              item.icon = 'mdi-close-circle'
            }
          }
        }
      })
      const count = this.enrollmentItems.filter(item => item.icon === 'mdi-check-circle')
      if (count.length === this.enrollmentItems.length) {
        this.disabled = false
      } else {
        this.disabled = true
      }
    }
  },
  watch: {
    disabled (val) {
      return val
    },
    'icons.personal_info': function (val) {
      this.fetchIcons()
    },
    'icons.educational_info': function (val) {
      this.fetchIcons()
    },
    'icons.family_info': function (val) {
      this.fetchIcons()
    },
    'icons.payment': function (val) {
      this.fetchIcons()
    },
    'icons.application_info': function (val) {
      this.fetchIcons()
    },
    'icons.requirements': function (val) {
      this.fetchIcons()
    },
    'icons.transferee_requirement': function (val) {
      this.fetchIcons()
    },
    'icons.courses': function (val) {
      this.fetchIcons()
    },
    'icons.entrance_payment': function (val) {
      this.fetchIcons()
    }
  },
  mounted () {
    this.fetchIcons()
  },
  created () {
    this.addTabs()
  },
  apollo: {
    studentInfo: {
      query: GET_ENROLLMENT_EXAM,
      variables () {
        return {
          id: this.user.id
        }
      },
      result ({ data, loading }) {
        if (!global._.isUndefined(data)) {
          this.setStudentApplicant(data.studentInfo)
          if (!global._.isNull(data.studentInfo)) {
            let description = data.studentInfo.program ? data.studentInfo.program.program_name : ''
            let lowerDescription = description.toLowerCase()
            let isMarine = lowerDescription.includes('marine')
            let isTransferee = data.studentInfo.applicant_status === 'Transferee'
            let isFreshman = data.studentInfo.applicant_status === 'Freshman'
            this.fetchIcon('application_info', data.studentInfo.icon)
            if (data.studentInfo.spdi_checklist) {
              this.setPersonal(data.studentInfo.spdi_checklist)
              this.fetchIcon('personal_info', data.studentInfo.spdi_checklist.icon)
            } else {
              this.setPersonal({})
              this.fetchIcon('personal_info', '')
            }
            if (data.studentInfo.spdi_education_bg) {
              this.setEducation(data.studentInfo.spdi_education_bg)
              this.fetchIcon('educational_info', data.studentInfo.spdi_education_bg.icon)
            } else {
              this.setEducation({})
              this.fetchIcon('educational_info', '')
            }
            if (data.studentInfo.spdi_family_bg) {
              this.setFamily(data.studentInfo.spdi_family_bg)
              this.fetchIcon('family_info', data.studentInfo.spdi_family_bg.icon)
            } else {
              this.setFamily({})
              this.fetchIcon('family_info', '')
            }
            if (!global._.isUndefined(data.studentInfo.requirement_icon)) {
              let isAdmissions = data.studentInfo.requirements.filter(item => item.file_name === 'Authenticated Birth Certificate'|| item.file_name === 'Good Moral Character Certificate')
              let isClinic = data.studentInfo.requirements.filter(item => {
                if (isMarine) {
                  return item.file_name === 'Ishihara Test' || item.file_name === 'Hearing Test' || item.file_name === 'Blood Typing' || item.file_name === 'Complete Blood Count' || item.file_name === 'Chest X Ray' || item.file_name === 'Drug Test' || item.file_name === 'Electrocardiogram' || item.file_name === 'Hepatitis B Antegen' || item.file_name === 'Physical Exam' || item.file_name === 'Medical Certificate' || item.file_name === 'Stool Examination' || item.file_name === 'Urinalysis' || item.file_name === 'Visual Acuity' || item.file_name === 'Dental Certificate'
                } else {
                  return item.file_name === 'Blood Typing' || item.file_name === 'Complete Blood Count' || item.file_name === 'Chest X Ray' || item.file_name === 'Drug Test' || item.file_name === 'Electrocardiogram' || item.file_name === 'Hepatitis B Antegen' || item.file_name === 'Physical Exam' || item.file_name === 'Medical Certificate' || item.file_name === 'Stool Examination' || item.file_name === 'Urinalysis'
                }
              })
              let waiverFile = data.studentInfo.requirements.find(item => item.file_name === 'Waiver Temporary Enrollment')
              let affidavitFile = data.studentInfo.requirements.find(item => item.file_name === 'Affidavit Of Undertaking')
              if (isMarine && isTransferee) {
                const countItems = data.studentInfo.requirements.filter(item => item.file_name ===  'Entrance Exam Result' || item.file_name === 'Transcript Of Records' || item.file_name === 'Certificate Of Honorable Dismissal' || item.file_name === 'Exam Result')
                if (global._.size(countItems) >= 3) {
                  if (isAdmissions.length < 2 && isClinic.length < 14) {
                    if (!global._.isUndefined(waiverFile) && !global._.isUndefined(affidavitFile)) {
                      if (waiverFile.isAccepted === 'true' && affidavitFile.isAccepted === 'true') {
                        this.fetchIcon('requirements', data.studentInfo.requirement_icon.icon)
                      }
                    } else {
                      this.fetchIcon('requirements', '')
                    }
                  } else if (isAdmissions.length >= 2 && isClinic.length < 14) {
                    if (!global._.isUndefined(affidavitFile)) {
                      if (affidavitFile.isAccepted === 'true') {
                        this.fetchIcon('requirements', data.studentInfo.requirement_icon.icon)
                      }
                    } else {
                      this.fetchIcon('requirements', '')
                    }
                  } else if (isAdmissions.length < 2 && isClinic.length >= 14) {
                    if (!global._.isUndefined(waiverFile)) {
                      if (waiverFile.isAccepted === 'true') {
                        this.fetchIcon('requirements', data.studentInfo.requirement_icon.icon)
                      }
                    } else {
                      this.fetchIcon('requirements', '')
                    }
                  } else {
                    this.fetchIcon('requirements', data.studentInfo.requirement_icon.icon)
                  }
                } else {
                  this.fetchIcon('requirements', '')
                }
              } else if ((!isMarine && isTransferee)) {
                const countItems = data.studentInfo.requirements.filter(item => item.file_name === 'Entrance Exam Result' || item.file_name === 'Transcript Of Records' || item.file_name === 'Certificate Of Honorable Dismissal')
                if (global._.size(countItems) >= 2) {
                  if (isAdmissions.length < 2 && isClinic.length < 10) {
                    if (!global._.isUndefined(waiverFile) && !global._.isUndefined(affidavitFile)) {
                      if (waiverFile.isAccepted === 'true' && affidavitFile.isAccepted === 'true') {
                        this.fetchIcon('requirements', data.studentInfo.requirement_icon.icon)
                      }
                    } else {
                      this.fetchIcon('requirements', '')
                    }
                  } else if (isAdmissions.length >= 2 && isClinic.length < 10) {
                    if (!global._.isUndefined(affidavitFile)) {
                      if (affidavitFile.isAccepted === 'true') {
                        this.fetchIcon('requirements', data.studentInfo.requirement_icon.icon)
                      }
                    } else {
                      this.fetchIcon('requirements', '')
                    }
                  } else if (isAdmissions.length < 2 && isClinic.length >= 10) {
                    if (!global._.isUndefined(waiverFile)) {
                      if (waiverFile.isAccepted === 'true') {
                        this.fetchIcon('requirements', data.studentInfo.requirement_icon.icon)
                      }
                    } else {
                      this.fetchIcon('requirements', '')
                    }
                  } else {
                    this.fetchIcon('requirements', data.studentInfo.requirement_icon.icon)
                  }
                } else {
                  this.fetchIcon('requirements', '')
                }
              } else if (isMarine && isFreshman) {
                const countItems = data.studentInfo.requirements.filter(item => item.file_name === 'Entrance Exam Result' || item.file_name === 'High School Report Card' || item.file_name === 'Exam Result')
                if (global._.size(countItems) >= 3) {
                  if (isAdmissions.length < 2 && isClinic.length < 14) {
                    if (!global._.isUndefined(waiverFile) && !global._.isUndefined(affidavitFile)) {
                      if (waiverFile.isAccepted === 'true' && affidavitFile.isAccepted === 'true') {
                        this.fetchIcon('requirements', data.studentInfo.requirement_icon.icon)
                      }
                    } else {
                      this.fetchIcon('requirements', '')
                    }
                  } else if (isAdmissions.length >= 2 && isClinic.length < 14) {
                    if (!global._.isUndefined(affidavitFile)) {
                      if (affidavitFile.isAccepted === 'true') {
                        this.fetchIcon('requirements', data.studentInfo.requirement_icon.icon)
                      }
                    } else {
                      this.fetchIcon('requirements', '')
                    }
                  } else if (isAdmissions.length < 2 && isClinic.length >= 14) {
                    if (!global._.isUndefined(waiverFile)) {
                      if (waiverFile.isAccepted === 'true') {
                        this.fetchIcon('requirements', data.studentInfo.requirement_icon.icon)
                      }
                    } else {
                      this.fetchIcon('requirements', '')
                    }
                  } else {
                    this.fetchIcon('requirements', data.studentInfo.requirement_icon.icon)
                  }
                } else {
                  this.fetchIcon('requirements', '')
                }
              } else if (!isMarine && isFreshman) {
                const countItems = data.studentInfo.requirements.filter(item => item.file_name ===  'Entrance Exam Result' || item.file_name === 'High School Report Card')
                if (global._.size(countItems) >= 2) {
                  if (isAdmissions.length < 2 && isClinic.length < 10) {
                    if (!global._.isUndefined(waiverFile) && !global._.isUndefined(affidavitFile)) {
                      if (waiverFile.isAccepted === 'true' && affidavitFile.isAccepted === 'true') {
                        this.fetchIcon('requirements', data.studentInfo.requirement_icon.icon)
                      }
                    } else {
                      this.fetchIcon('requirements', '')
                    }
                  } else if (isAdmissions.length >= 2 && isClinic.length < 10) {
                    if (!global._.isUndefined(affidavitFile)) {
                      if (affidavitFile.isAccepted === 'true') {
                        this.fetchIcon('requirements', data.studentInfo.requirement_icon.icon)
                      }
                    } else {
                      this.fetchIcon('requirements', '')
                    }
                  } else if (isAdmissions.length < 2 && isClinic.length >= 10) {
                    if (!global._.isUndefined(waiverFile)) {
                      if (waiverFile.isAccepted === 'true') {
                        this.fetchIcon('requirements', data.studentInfo.requirement_icon.icon)
                      }
                    } else {
                      this.fetchIcon('requirements', '')
                    }
                  } else {
                    this.fetchIcon('requirements', data.studentInfo.requirement_icon.icon)
                  }
                } else {
                  this.fetchIcon('requirements', '')
                }
              }
            } else {
              this.fetchIcon('requirements', '')
            }
            if (data.studentInfo.payment) {
              this.fetchIcon('entrance_payment', data.studentInfo.payment.icon)
            }
            this.fetchIcon('courses', 'mdi-check-circle')
            this.fetchIcon('payment', 'mdi-check-circle')
          } else {
            this.setPersonal({})
            this.setEducation({})
            this.setFamily({})
            this.fetchIcon('application_info', 'mdi-check-circle')
          }
        } else {
          this.setProgram('')
          this.setSemester('')
          this.setStatus('')
        }
      },
      skip () {
        return this.skipUserQuery
      }
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.fetchIcons()
      vm.skipUserQuery = false
      vm.skipQuery = false
      vm.skipEnrollApplicationQuery = false
      vm.$apollo.queries.submitApplicationUser.refetch()
    })
  }
}
</script>
