<template>
<v-card class="ma-2 elevation-7">
  <v-skeleton-loader
    class="mx-2 py-4"
    max-width
    type="article, article"
    v-if="loading"
  ></v-skeleton-loader>

  <v-card-title
    v-if="!loading"
    class="mt-5">
    <v-layout wrap class="my-2">
      <v-flex xs12>
        <v-data-table
          :headers="headers"
          :items="enrollmentItems"
          :page.sync="page"
          :items-per-page="itemsPerPage"
          @page-count="pageCount = $event"
          hide-default-footer
          :loading="enrollmentLoading"
          loading-text="Loading... Please wait"
          @click:row="view($event)"
          >
          <template v-slot:item.activity="{ item }">
            <v-card-text
              class="mx-2"
              :class="isDataStyle"
              style="word-break: break-word">
            {{ item.activity }}
          </v-card-text>
          </template>
          <template v-slot:item.status="{ item }">
            <v-tooltip top
              v-if="item.status === 'Under Assessment'">
              <template v-slot:activator="{ on }">
                <v-card-text
                  v-on="on"
                  class="mx-2 pointer"
                  :class="isDataStyle"
                  style="word-break: break-word;">
                  {{ item.status }}
                </v-card-text>
              </template>
              <span>View Application</span>
            </v-tooltip>
            <v-card-text
              v-else
              class="mx-2"
              :class="isDataStyle"
              style="word-break: break-word;">
              {{ item.status }}
            </v-card-text>
          </template>
          <template v-slot:item.action="{ item }">
            <v-card-text
              class="accent--text mx-2"
              :class="isDataStyle"
              style="word-break: break-word">
            <i class="fas fa-info-circle"></i>
            {{ item.action }}
          </v-card-text>
          </template>
          <template v-slot:footer>
            <v-card-actions
              class="mb-0"
              v-show="hasStatus && enrollData.status !== 'Closed'">
            <span class="my-2 grey--text font-italic"
              :class="isDisclaimer"
              style="word-break: break-word"
              v-if="enrollData.status === 'On Going'">Disclaimer: Enrollment is ongoing from {{ enrollData.from }} to  {{ enrollData.to }}</span>
            <span class="my-2 grey--text font-italic body-2"
             v-else></span>
              <v-spacer />
              <v-skeleton-loader
                class="mx-2"
                max-width
                type="button"
                v-if="loading"
              ></v-skeleton-loader>
              <v-btn
                :small="$vuetify.breakpoint.smAndDown"
                color="accent"
                :width="isEnrollWidth"
                class="my-2 mr-2"
                @click="enrollNow"
                :disabled="enrollData.status === 'Under Evaluation'"
                >{{ isEnroll && enrollmentData.submission_status !== 'Pending for Submission' ? 'Enroll Now' : 'Resume Now' }}
              </v-btn>
            </v-card-actions>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </v-card-title>
</v-card>
</template>
<script type="text/javascript">
  import defaultMixins from '@/mixins/index'
  import errorhandlingMixin from '@/mixins/error-handler.js'
  import { GET_ENROLLMENT_EXAM } from '@/graphql/queries'
  import { mapGetters, mapMutations } from 'vuex'
  import applicantQueries from '@/mixins/queries/applicant/applicantQueries'
  export default {
    mixins: [
      applicantQueries,
      defaultMixins,
      errorhandlingMixin
    ],
    data () {
      return {
        loading: false,
        evaluation: 'Please wait for an email response regarding your Evaluation.',
        registration: `You've Successfully created your enrollment registration.`,
        closedPeriod: `The Enrollment period is already closed. Please wait for the next Semester to open an Enrollment or kindly contact the MIS Department.`,
        ongoing: 'Click Enroll Now only when you have passed the entrance exam otherwise the admission department will reject your application.',
        skipApplicationQuery: false,
        skipEnrollApplicationQuery: false,
        skipQuery: false,
        enrollmentItems: [{
          activity: 'Enrollment Registration',
          status: '',
          action: ''
        }],
        page: 1,
        pageCount: 0,
        itemsPerPage: 10,
        enrollmentLoading: false,
        headers: [
          {
            text: 'Activity',
            align: 'center',
            sortable: false,
            value: 'activity',
            width: '30%'
          },
          {
            text: 'Status',
            align: 'center',
            sortable: false,
            value: 'status',
            width: '20%'
          },
          {
            text: '',
            align: 'center',
            sortable: false,
            value: 'action',
            width: '50%'
          }
        ],
        isEnroll: true
      }
    },
    computed: {
      ...mapGetters('registration', ['enrollment', 'entrance']),
      ...mapGetters('user', ['user']),
      ...mapGetters('navigation', ['drawer']),
      ...mapGetters('form', ['icons', 'isEnrollSubmit']),
      ...mapGetters('applicants', ['enrollData', 'entranceItem']),
      enrollmentData () {
        if (this.enrollment) {
          return this.enrollment
        } else {
          return {}
        }
      },
      entranceData () {
        if (this.entrance) {
          return this.entrance
        } else {
          return {}
        }
      },
      entranceStatus () {
        if (!global._.isEmpty(this.entrance)) {
          if (!global._.isUndefined(this.entrance.submission_status)) {
            if (this.entrance.submission_status === 'Pending for Submission') {
              return 'Ongoing'
            } else {
              return 'Under Assessment'
            }
          } else {
            return 'Ongoing'
          }
        } else {
          return 'Ongoing'
        }
      },
      isIcons () {
        let sortIcons = global._.omit(this.icons, 'entrance_payment', 'payment', 'transferee_requirement', 'courses')
        const icons = Object.values(sortIcons).filter(item => item === '')
        return icons.length === 0 && this.isEnrollSubmit === false
      },
      isEnrollmentCreated () {
        return Boolean(this.enrollmentData.created_at)
      },
      isEnrolled () {
        return this.isEnrollmentCreated && this.isIcons
      },
      isDisclaimer () {
        if (this.$vuetify.breakpoint.mdAndUp) return 'body-2'
        return 'caption'
      },
      isEnrollWidth () {
        if (this.$vuetify.breakpoint.mdAndUp) return '150px'
        return ''
      },
      isDataStyle () {
        if (this.$vuetify.breakpoint.lgAndUp) {
          if (this.enrollData.status === 'On Going') {
            if (this.entranceItem.status === 'Ongoing' || this.entranceItem.status === 'Pending for Submission') {
              if (this.drawer) return 'subtitle my-9'
              return 'subtitle my-10'
            } else if (this.entranceItem.status === 'Under Assessment') {
              if (this.drawer) return 'subtitle my-6'
              return 'subtitle my-3'
            } else {
              if (this.drawer) return 'subtitle my-8'
              return 'subtitle my-7'
            }
          } else if (this.enrollData.status === 'Under Evaluation') {
            if (this.entranceItem.status === 'Ongoing' || this.entranceItem.status === 'Pending for Submission') {
              return 'subtitle my-10'
            } else if (this.entranceItem.status === 'Under Assessment') {
              if (this.drawer) return 'subtitle my-6'
              return 'subtitle my-6'
            }
          } else if (this.enrollData.status === 'Closed') {
            if (this.entranceItem.status === 'Ongoing' || this.entranceItem.status === 'Pending for Submission') {
              if (this.drawer) return 'subtitle my-12 py-7'
              return 'subtitle my-12 py-6'
            } else if (this.entranceItem.status === 'Under Assessment') {
              if (this.drawer) return 'subtitle my-6'
              return 'subtitle my-6'
            } else {
              if (this.drawer) return 'subtitle my-11'
              return 'subtitle my-7'
            }
          } else {
            if (this.drawer) return 'subtitle my-11'
            return 'subtitle my-7'
          }
        } else {
          return 'caption-1'
        }
      },
      hasStatus () {
        return !global._.isEmpty(this.enrollData)
      }
    },
    watch: {
      'enrollData.status' (val) {
        this.doActivity()
      }
    },
    methods: {
      ...mapMutations('registration', ['setEnrollment']),
      ...mapMutations('form', ['setIsEnrollSubmit', 'setIsViewForm', 'setIcons']),
      ...mapMutations('user', ['SET_ACTIVE']),
      ...mapMutations('applicants', ['setSubmissionType', 'SET_ENROLLMENT_ITEM']),
      enrollNow () {
        if (!this.isEnrollmentCreated) {
          this.isEnroll = true
          this.$emit('enroll')
        } else {
          this.isEnroll = false
          this.$emit('resume')
        }
      },
      view (item) {
        if (item.status === 'Under Assessment') {
          this.SET_ACTIVE(0)
          this.skipQuery = false
          this.$apollo.queries.studentInfo.refetch()
          this.$router.push({ name: 'application-info', params: { status: 'enrollment' } })
          this.setIsEnrollSubmit(false)
          this.setIsViewForm(false)
        }
      },
      fetchIcon (key, value) {
        let items = {
          key: key,
          value: value
        }
        this.setIcons(items)
      },
      doActivity () {
        if (this.enrollData.from && this.enrollData.to) {
          this.enrollmentItems[0].activity = `Enrollment Registration for ${this.enrollData.semester} `
          if (this.isEnrollmentCreated && this.enrollData.status !== 'Closed') {
            if (this.enrollData.status === 'Under Evaluation') {
              this.enrollmentItems[0].action = this.evaluation
              this.enrollmentItems[0].status = 'Under Assessment'
            } else if (this.enrollData.status === 'Closed' && Boolean(this.isEnrolled)) {
              this.enrollmentItems[0].action = this.registration
              this.enrollmentItems[0].status = 'Under Assessment'
            } else if (this.enrollData.status === 'Closed' && !Boolean(this.isEnrolled)) {
              this.enrollmentItems[0].action = this.closedPeriod
              this.enrollmentItems[0].status = 'Closed'
            } else {
              this.enrollmentItems[0].action = this.ongoing
              this.enrollmentItems[0].status = 'Ongoing'
            }
          } else if (!this.isEnrollmentCreated && this.enrollData.status !== 'Closed') {
            this.enrollmentItems[0].action = this.ongoing
            this.enrollmentItems[0].status = 'Ongoing'
          } else {
            this.enrollmentItems[0].action = this.closedPeriod
            this.enrollmentItems[0].status = 'Closed'
          }
        } else {
          this.enrollmentItems[0].action = this.closedPeriod
          this.enrollmentItems[0].status = 'Closed'
        }
      }
    },
    apollo: {
      studentInfo: {
        query: GET_ENROLLMENT_EXAM,
        variables () {
          return {
            id: this.user.id
          }
        },
        result ({ data }) {
          if (!global._.isUndefined(data)) {
            if (!global._.isNull(data.studentInfo)) {
              this.setSubmissionType(data.studentInfo.submission_type)
              this.fetchIcon('application_info', data.studentInfo.icon)
              this.setEnrollment(data.studentInfo)
            } else {
              this.fetchIcon('application_info', 'mdi-check-circle')
              this.setEnrollment({})
            }
          }
        },
        watchLoading (isLoading) {
          this.loading = isLoading
        },
        skip () {
          return this.skipQuery
        },
        error ({ graphQLErrors, networkError }) {
          if (graphQLErrors) {
            console.log('graphQLErrors:', graphQLErrors)
          }
          if (networkError) {
            console.log('networkError:', networkError)
          }
        }
      }
    },
    beforeRouteEnter (to, from, next) {
      next(vm => {
        vm.skipQuery = false
        vm.skipApplicationQuery = false
        vm.skipEnrollApplicationQuery = false
      })
    },
    mounted () {
      this.$apollo.queries.submitApplicationUser.refetch()
      this.doActivity()
    }
  }
</script>
