<template>
  <v-container fluid>
    <v-layout wrap justify-center align-center>
      <v-flex xs12 sm12 md12 lg6>
        <floating-card :titles="entranceInfo" />
        <entrance-info
          @register="register()"
          @resume="resume()"
        />
      </v-flex>

      <v-flex xs12 sm12 md12 lg6>
        <floating-card :titles="enrollmentInfo" />
        <enrollment-info
          @enroll="enroll()"
          @resume="resumeEnrollment()"
        />
      </v-flex>
    </v-layout>

  <selection
    :title="title"
    :showDialog="dialog"
    @close="dialog = false"
    @freshman="freshman()"
    @transferee="transferee()"
  />

  <card-dialog
    :showDialog="isProgramDialog"
    @close="isProgramDialog = false"
    title="PROGRAM OFFERED"
    @go="PickedProgram"
    @Change="ChangeProgram"
    :disabled="isProgramDisabled"
    :fields="programFields"
    :form="programForm"
    :choices="programChoices"
    classStyle="pb-9"
    btn_name="Go"
  />

  <card-dialog
    :showDialog="isSemDialog"
    @close="isSemDialog = false"
    @go="PickedSem"
    :fields="fields"
    title="SEMESTER OFFERED"
    :form="semesterForm"
    :choices="choices"
    :disabled="disabled"
    @Change="ChangeItem"
    classStyle="pb-9"
    btn_name="Go"
  />
  </v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import { GET_CURRENT_PROGRAM, GET_SEMESTER } from '@/graphql/admin/queries'
import { CHECK_APPLICANT_ENROLLMENT_PERIOD } from '@/graphql/queries'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    formMixins
  ],
  data: () => ({
    entranceInfo: [
      {
        name: 'Entrance Exam',
        icon: 'event_available',
        color: 'accent',
        flex: 'xs12 pl-2'
      }
    ],
    enrollmentInfo: [
      {
        name: 'Enrollment',
        icon: 'event',
        color: 'accent',
        flex: 'xs12 pl-2'
      }
    ],
    dialog: false,
    isProgramDialog: false,
    title: '',
    loading: false,
    isSemDialog: false,
    disabled: true,
    isProgramDisabled: true,
    form: [],
    semesterForm: [],
    formItem: {
      semester_id: null
    },
    fields: [
      {
        key: 'semester_id',
        selectLabel: 'Semester',
        choices: 'sems',
        itemValue: 'id',
        itemText: 'semester',
        fieldTitle: true,
        classNames: 'xs12 md11'
      }
    ],
    programForm: [],
    programFormItem: {
      program_id: null,
    },
    programFields: [
      {
        key: 'program_id',
        selectLabel: 'Program',
        choices: 'programs',
        itemValue: 'program_id',
        itemText: 'program_name',
        fieldTitle: true,
        classNames: 'xs12'
      }
    ],
    programs: [],
    semesters: [],
    skipQuery: false,
    errors: {},
    curriculum_id: null,
    skipPeriodQuery: true
  }),
  apollo: {
    curriculumProgramsYearNow: {
      query: GET_CURRENT_PROGRAM,
      result ({ data, loading }) {
        if (!global._.isUndefined(data)) {
          this.loading = loading
          if (!global._.isEmpty(data.curriculumProgramsYearNow)) {
            this.programs = data.curriculumProgramsYearNow.filter(item => item.program_status === 'Active')
            // let curriculum = this.programs.find(item => item.curriculum_id)
            // this.curriculum_id = curriculum.curriculum_id
            this.skipPeriodQuery = false
          }
        }
      },
      watchLoading (isLoading) {
        this.loading = isLoading
      }
    },
    semester: {
      query: GET_SEMESTER,
      result ({ data }) {
        if (data) {
          this.semesters = data.semester
        }
      }
    },
    checkApplicantEnrollment: {
      query: CHECK_APPLICANT_ENROLLMENT_PERIOD,
      variables () {
        return {
          user_id: this.user.id
        }
      },
      result ({ data }) {
        if (!global._.isUndefined(data)) {
          let info = []
          let item = data.checkApplicantEnrollment.original.datus
          if (item) {
            this.setEnrollData(item)
          } else {
            let defaultItem = {
              from: '',
              semester: '',
              status: 'Closed',
              to: ''
            }
            this.setEnrollData(defaultItem)
          }
        }
      },
      skip () {
        return this.skipPeriodQuery
      },
      error ({ graphQLErrors, networkError }) {
        if (graphQLErrors) {
          console.log('graphQLErrors:', graphQLErrors)
          let defaultItem = {
            from: '',
            semester: '',
            status: 'Closed',
            to: ''
          }
          this.setEnrollData(defaultItem)
        }
        if (networkError) {
          console.log('networkError:', networkError)
        }
      }
    },
  },
  computed: {
    ...mapGetters('registration', ['enrollment', 'entrance']),
    ...mapGetters('user', ['user']),
    ...mapGetters('applicants', ['enrollData']),
    choices () {
      return {
        sems: this.semesters
      }
    },
    programChoices () {
      return {
        programs: this.programs
      }
    },
    postApi () {
      if (this.title === 'Entrance Exam') return `api/applicant/entrance/exam`
      return `api/applicant/enroll`
    }
  },
  mounted () {
    if (global._.isEmpty(this.semesterForm)) {
      const data = { ...this.semesterForm }
      this.semesterForm.push(data)
    }
    if (global._.isEmpty(this.programForm)) {
      const data = { ...this.programFormItem }
      this.programForm.push(data)
    }
  },
  methods: {
    ...mapMutations('registration', ['setEnrollment', 'setEntrance']),
    ...mapMutations('form', ['setIsEntranceSubmit', 'setIsViewForm', 'setIcons']),
    ...mapMutations('user', ['SET_ACTIVE']),
    ...mapMutations('applicants', ['setEnrollData']),
    close () {
      this.dialog = false
      this.isProgramDialog = false
      if (this.form) {
        if (this.title === 'Entrance Exam') {
          this.setEntrance(this.form.entrance_exam)
          this.$router.push({ name: 'application-info', params: { status: 'entrance-exam' } })
        } else {
          this.setEnrollment(this.form)
          let application_info = {
            key: 'application_info',
            value: this.form.icon
          }
          this.setIcons(application_info)
          this.$router.push({ name: 'application-info', params: { status: 'enrollment' } })
        }
      }
    },
    resume () {
      this.$router.push({ name: 'application-info', params: { status: 'entrance-exam' } })
      this.setIsViewForm(true)
      this.SET_ACTIVE(0)
    },
    resumeEnrollment () {
      this.$router.push({ name: 'application-info', params: { status: 'enrollment' } })
      this.setIsViewForm(true)
      this.SET_ACTIVE(0)
    },
    register () {
      this.dialog = true
      this.title = 'Entrance Exam'
    },
    enroll () {
      this.setIsViewForm(true)
      this.dialog = true
      this.title = 'Enrollment'
    },
    freshman () {
      if (this.title === 'Entrance Exam') {
        this.setEntrance({
          icon: 'mdi-check-circle',
          submission_type: this.title,
          applicant_status: 'Freshman'
        })
      } else {
        this.setEnrollment({
          icon: 'mdi-check-circle',
          submission_type: this.title,
          applicant_status: 'Freshman'
        })
      }
      this.dialog = false
      this.isProgramDialog = true
    },
    transferee () {
      if (this.title === 'Entrance Exam') {
        this.setEntrance({
          icon: 'mdi-check-circle',
          submission_type: this.title,
          applicant_status: 'Transferee'
        })
      } else {
        this.setEnrollment({
          icon: 'mdi-check-circle',
          submission_type: this.title,
          applicant_status: 'Transferee'
        })
      }
      this.dialog = false
      this.isProgramDialog = true
    },
    PickedProgram () {
      // open semester dialog
      // set program id to store
      if (this.title === 'Enrollment') {
        let payload = {}
        this.$set(payload, 'program_id', this.programForm[0].program_id)
        this.$set(payload, 'user_id', this.user.id)
        this.$set(payload, 'semester_id', this.enrollData.semester_id)
        this.$set(payload, 'status', 'New')
        this.$set(payload, 'applicant_status', this.enrollment.applicant_status)
        this.$set(payload, 'icon', this.enrollment.icon)
        this.$set(payload, 'submission_type', this.enrollment.submission_type)
        this.saveData(payload)

        this.setIsEntranceSubmit(true)
        this.SET_ACTIVE(0)
      } else {
        let payload = {}
        this.$set(payload, 'program_id', this.programForm[0].program_id)
        this.$set(payload, 'user_id', this.user.id)
        this.$set(payload, 'applicant_status', this.entrance.applicant_status)
        this.$set(payload, 'icon', this.entrance.icon)
        this.$set(payload, 'submission_type', this.entrance.submission_type)
        this.saveData(payload)
        this.setIsEntranceSubmit(true)
        this.SET_ACTIVE(0)
      }
    },
    ChangeProgram (val) {
      if (global._.isEmpty(this.programForm)) {
        this.isProgramDisabled = true
      } else {
        this.isProgramDisabled = false
      }
    },
    PickedSem () {
      this.$set(this.enrollment, 'program_id', this.entrance.program_id)
      this.$set(this.enrollment, 'user_id', this.entrance.user_id)
      this.$set(this.enrollment, 'semester_id', this.enrollData.semester_id)
      this.$set(this.enrollment, 'status', 'New')
      this.saveData(this.enrollment)

      this.setIsEntranceSubmit(true)
      this.SET_ACTIVE(0)
    },
    ChangeItem () {
      if (global._.isEmpty(this.semesterForm)) {
        this.disabled = true
      } else {
        this.disabled = false
      }
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.$apollo.queries.applicantInfo.refresh()
      vm.$apollo.queries.curriculumProgramsYearNow.refresh()
      vm.skipQuery = false
    })
  }
}
</script>
