<template>
<v-card class="ma-2 elevation-7">
  <v-skeleton-loader
    class="mx-2 py-4"
    max-width
    type="article, article"
    v-if="loading"
  ></v-skeleton-loader>

  <v-card-title
    v-if="!loading"
    class="mt-5">
    <v-layout wrap class="my-2">
      <v-flex xs12>
        <v-data-table
          :headers="headers"
          :items="entranceItems"
          :page.sync="page"
          :items-per-page="itemsPerPage"
          @page-count="pageCount = $event"
          hide-default-footer
          :loading="entranceLoading"
          loading-text="Loading... Please wait"
          @click:row="view($event)"
          >
          <template v-slot:item.activity="{ item }">
            <v-card-text
              class="mx-2"
              :class="isDataStyle"
              style="word-break: break-word;">
              {{ item.activity }}
            </v-card-text>
          </template>
          <template v-slot:item.status="{ item }">
            <v-tooltip top
              v-if="item.status === 'Under Assessment'">
              <template v-slot:activator="{ on }">
                <v-card-text
                  v-on="on"
                  class="mx-2 pointer"
                  :class="isDataStyle"
                  style="word-break: break-word;">
                  {{ item.status }}
                </v-card-text>
              </template>
              <span>View Application</span>
            </v-tooltip>
            <v-card-text
              v-else
              class="mx-2"
              :class="isDataStyle"
              style="word-break: break-word;">
              {{ item.status }}
            </v-card-text>
          </template>
          <template v-slot:item.action="{ item }">
            <v-card-text
              class="accent--text mx-2"
              :class="isDataStyle"
              style="word-break: break-word;">
            <i class="fas fa-info-circle"></i> {{ item.action }}
          </v-card-text>
          </template>
          <template v-slot:footer>
            <v-card-actions
              class="mb-0"
              v-show="hasStatus && enrollData.status !== 'Closed'">
              <v-spacer />
              <v-skeleton-loader
                class="mx-2"
                max-width
                type="button"
                v-if="loading"
              ></v-skeleton-loader>
              <v-btn
                :small="$vuetify.breakpoint.smAndDown"
                color="accent"
                :width="isEntranceWidth"
                class="mr-2"
                :disabled="entranceItem.status === 'Under Assessment'"
                @click="registerNow"
                >{{ isRegister && entranceItem.status !== 'Pending for Submission' ? 'Register Now' : 'Resume Now' }}
              </v-btn>
            </v-card-actions>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </v-card-title>
</v-card>
</template>
<script type="text/javascript">
import formMixins from '@/mixins/form.js'
import { mapGetters, mapMutations } from 'vuex'
import { GET_ENTRANCE_EXAM } from '@/graphql/queries'
import applicantQueries from '@/mixins/queries/applicant/applicantQueries'
export default {
  mixins: [
    applicantQueries,
    formMixins
  ],
  data: () => ({
    loading: true,
    evaluation: 'Please wait for an email response regarding your Evaluation.',
    ongoing: 'After your online registration, an email will be sent to you after the assessment. Please make sure you are using a valid email address. If you registered an incorrect email address, please contact the MIS department.',
    closedPeriod: `The Entrance Exam period is already closed. Please wait for the next Semester to open an Entrance Exam or kindly contact the MIS Department.`,
    skipApplicationQuery: false,
    skipEntranceQuery: false,
    skipEnrollApplicationQuery: false,
    headers: [
      {
        text: 'Activity',
        align: 'center',
        sortable: false,
        value: 'activity',
        width: '30%'
      },
      {
        text: 'Status',
        align: 'center',
        sortable: false,
        value: 'status',
        width: '20%'
      },
      {
        text: '',
        align: 'center',
        sortable: false,
        value: 'action',
        width: '50%'
      }
    ],
    entranceItems: [{
      activity: 'Entrance Exam Registration',
      status: '',
      action: ''
    }],
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    entranceLoading: false,
    isRegister: true
  }),
  computed: {
    ...mapGetters('registration', ['entrance', 'enrollment']),
    ...mapGetters('user', ['user']),
    ...mapGetters('navigation', ['drawer']),
    ...mapGetters('form', ['icons', 'isEntranceSubmit', 'isEnrollSubmit']),
    ...mapGetters('applicants', ['enrollData', 'entranceItem']),
    entranceData () {
      if (this.entrance) {
        return this.entrance
      } else {
        return {}
      }
    },
    enrollmentData () {
      if (this.enrollment) {
        return this.enrollment
      } else {
        return {}
      }
    },
    isEnrollIcons () {
      let sortIcons = global._.omit(this.icons, 'entrance_payment', 'payment', 'transferee_requirement', 'courses')
      const icons = Object.values(sortIcons).filter(item => item === '')
      return icons.length === 0 && this.isEnrollSubmit === false
    },
    isIcons () {
      let sortIcons = {}
      if (this.entranceData.applicant_status === 'Transferee') {
        sortIcons = global._.pick(this.icons, 'application_info', 'personal_info', 'transferee_requirement', 'entrance_payment')
      } else {
        sortIcons = global._.pick(this.icons, 'application_info', 'personal_info', 'entrance_payment')
      }
      const icons = Object.values(sortIcons).filter(item => item === '')
      return icons.length === 0 && this.isEntranceSubmit === false
    },
    isEntrancetCreated () {
      return Boolean(this.entranceData.created_at)
    },
    isDataStyle () {
      if (this.$vuetify.breakpoint.lgAndUp) {
        if (this.entranceItem.status === 'Ongoing' || this.entranceItem.status === 'Pending for Submission') {
          if (this.enrollData.status === 'On Going' || this.enrollData.status === 'Pending for Submission') {
            if (this.drawer) return 'subtitle my-5'
            return 'subtitle my-9'
          } else if (this.enrollData.status === 'Under Evaluation') {
             return 'subtitle my-2'
          } else {
            if (this.drawer) return 'subtitle my-4'
            return 'subtitle my-6'
          }
        } else if (this.entranceItem.status === 'Under Assessment') {
          if (this.enrollData.status === 'On Going' || this.enrollData.status === 'Pending for Submission') {
            if (this.drawer) return 'subtitle my-10'
            return 'subtitle my-10'
          } else if (this.enrollData.status === 'Under Evaluation') {
            if (this.drawer) return 'subtitle my-8'
            return 'subtitle my-10'
          } else {
            if (this.drawer) return 'subtitle my-6'
            return 'subtitle my-8'
          }
        } else {
          if (this.drawer) return 'subtitle my-8'
          return 'subtitle my-7'
        }
      } else {
        return 'caption-1'
      }
    },
    isEntranceWidth () {
      if (this.$vuetify.breakpoint.mdAndUp) return '150px'
      return ''
    },
    hasStatus () {
      return !global._.isEmpty(this.enrollData)
    }
  },
  watch: {
    entrance (val) {
      this.doActivity()
    }
  },
  methods: {
    ...mapMutations('registration', ['setEntrance']),
    ...mapMutations('form', ['setIsEnrollSubmit', 'setIsViewForm', 'setIcons']),
    ...mapMutations('user', ['SET_ACTIVE']),
    ...mapMutations('applicants', ['SET_ENTRANCE_ITEM']),
    registerNow () {
      if (!this.loading && !this.isEntrancetCreated) {
        this.isRegister = true
        this.$emit('register')
      } else {
        this.isRegister = false
        this.$emit('resume')
      }
    },
    view (item) {
      if (item.status === 'Under Assessment') {
        this.SET_ACTIVE(0)
        this.skipQuery = false
        this.$apollo.queries.applicantInfo.refetch()
        this.$router.push({ name: 'application-info', params: { status: 'entrance-exam' } })
        this.setIsEnrollSubmit(false)
        this.setIsViewForm(false)
      }
    },
    doActivity () {
      if (this.enrollData.from && this.enrollData.to) {
        if (!global._.isUndefined(this.entranceData.submission_status)) {
          if (this.entranceData.applicant_status === 'Transferee' || this.entranceData.applicant_status === 'Freshman') {
            if (this.entranceData.submission_status !== 'Pending for Submission') {
              this.entranceItems[0].status = this.entranceData.submission_status
            } else {
              this.entranceItems[0].status = this.entranceData.submission_status
            }
          } else {
            this.entranceItems[0].status =  'Ongoing'
          }
          this.entranceItems[0].action = this.entranceData.submission_status !== 'Pending for Submission' ? this.evaluation : this.ongoing 
        } else {
          this.entranceItems[0].status =  'Ongoing'
          this.entranceItems[0].action = this.ongoing 
        }
      } else {
        this.entranceItems[0].status =  'Closed'
        this.entranceItems[0].action = this.closedPeriod
      }
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.doActivity()
      vm.skipApplicationQuery = false
      vm.skipEnrollApplicationQuery = false
      vm.skipEntranceQuery = false
    })
  },
  apollo: {
    fetchEntranceExamInfo: {
      query: GET_ENTRANCE_EXAM,
      variables () {
        return {
          input: {
            user_id: this.user.id
          }
        }
      },
      result ({ data }) {
        if (!global._.isUndefined(data)) {
          if (data.fetchEntranceExamInfo) {
            this.setEntrance(data.fetchEntranceExamInfo)
          } else {
            this.setEntrance({})
          }
        }
      },
      watchLoading (isLoading) {
        this.loading = isLoading
      },
      skip () {
        return this.skipEntranceQuery
      }
    }
  },
  mounted () {
    this.doActivity()
    this.SET_ENTRANCE_ITEM(this.entranceItems[0])
    this.$apollo.queries.submitApplicationUser.refetch()
  }
}
</script>
