<template>
  <v-dialog
    :value="showDialog"
    max-width="800"
    persistent
    v-esc="escape">
    <v-card
      class="pt-1">
      <v-card-actions class="pb-0">
        <div class="flex-grow-1">
          <v-card-title class="accent--text"> {{ hasMoreItems ? 'Open Programs' : 'Open Program' }}</v-card-title>
        </div>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              text
              fab
              @click="$emit('close')">
              <v-icon medium color="red">mdi-close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-card-actions>
      <v-divider class="mx-2" />
      <v-card-title>
        <v-container
          fluid
          class="overflow-y-auto py-0 my-0">
          <v-card
            flat>
            <v-layout wrap>
              <v-flex xs12>
                <v-data-table
                  :headers="headers"
                  :items="items"
                  :page.sync="page"
                  :items-per-page="itemsPerPage"
                  @page-count="pageCount = $event"
                  hide-default-footer
                  loading-text="Loading... Please wait"
                  v-bind="rowsPerPage"
                  >
                </v-data-table>
              </v-flex>
              <v-flex xs12 class="text-center pt-3 pb-0">
                <v-pagination
                  v-show="pageCount > 1"
                  v-model="page"
                  :length="pageCount"
                  :total-visible="10"
                ></v-pagination>
              </v-flex>
            </v-layout>
          </v-card>
        </v-container>
      </v-card-title>
    </v-card>
  </v-dialog>
</template>
<script>
import formMixins from '@/mixins/form.js'
import defaultMixins from '@/mixins/index'
import { mapGetters } from 'vuex'
export default {
  mixins: [
    formMixins,
    defaultMixins
  ],
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    items: {
      required: true,
      type: [Array],
      default: () => {
        return []
      }
    },
    isEdit: {
      type: Boolean,
      required: true
    },
    hasPrograms: {
      type: Boolean,
      required: false
    }
  },
  data: () => ({
    rowsPerPage: {
      'footer-props': {
        'items-per-page-options': [10]
      }
    },
    headers: [
      {
        text: 'Program',
        align: 'center',
        sortable: true,
        value: 'program_code'
      },
      {
        text: 'Curriculum',
        align: 'center',
        sortable: true,
        value: 'curriculum'
      }
    ],
    page: 1,
    pageCount: 0,
    itemsPerPage: 10
  }),
  methods: {
    escape () {
      this.$emit('close')
    }
  },
  computed: {
    hasMoreItems () {
      return this.items.length > 1 ? true : false
    }
  }
}
</script>
