<template>
  <v-dialog
    :value="showDialog"
    max-width="1800"
    persistent
    v-esc="escape">
    <v-card
      class="pt-1">
      <v-card-actions class="pb-0">
        <div class="flex-grow-1">
          <v-card-title class="accent--text">{{ isEditing ? 'Edit' : 'Add' }} School Year</v-card-title>
        </div>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              v-show="isEditing"
              v-if="!hasPrograms"
              @click="isDelete(true)"
              text
              fab
              color="red">
              <v-icon medium color="red">mdi-delete</v-icon>
            </v-btn>
          </template>
          <span>Delete</span>
        </v-tooltip>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              text
              fab
              @click="closeDialog">
              <v-icon medium color="red">mdi-close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-card-actions>
      <v-divider class="mx-2" />
      <v-card-title>
        <v-container
          fluid
          class="overflow-y-auto py-0 my-0"
          style="height: 540px;">
          <v-card
            flat
            style="height: 270px;"
            v-scroll="onhandleScroll">
            <v-layout wrap justify-center align-center>
              <v-flex xs12 md6>
                <small>School Year (From)
                </small>
                <v-text-field
                  class="mx-1 mt-2"
                  dense
                  required
                  type="number"
                  v-model="formData.school_year_from"
                  :error-messages="errors['school_year_from']"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 md6>
                <small>School Year (To)
                </small>
                <v-text-field
                  class="mx-1 mt-2"
                  dense
                  required
                  type="number"
                  disabled
                  v-model="formData.school_year_to"
                  :error-messages="errors['school_year_to']"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout wrap>
              <v-flex xs12>
                <small class="ml-2">Open Program/s</small>
                <v-autocomplete
                  :items="programItems"
                  v-model="selected"
                  multiple
                  item-text="program_code"
                  item-value="id"
                  hide-no-data
                  return-object
                  chips
                  :loading="programLoading"
                  class="mx-1 mt-3 pt-0"
                  error-messages="">
                  <template v-slot:selection="data">
                    <v-chip
                      :input-value="data.selected"
                      :close="!data.item.has_enrollee_class"
                      @click="data.select"
                      @click:close="removeProgram(data.item)"
                    >
                      {{ data.item.program_code }}
                    </v-chip>
                  </template>
                </v-autocomplete>
              </v-flex>
            </v-layout>
            <v-layout wrap text-xs-center align-center
              v-if="formData">
              <v-flex :class="item.flex"
                v-for="(item, index) in SemsItems" :key="index"
                class="pa-2">
                <v-container fluid
                  style="border: 1px solid #b5b3b3;">
                  <v-card-actions class="pa-0">
                    <small class="ma-2 font-weight-bold">{{ index === 0 ? '1st Semester' : index === 1 ? '2nd Semester' : 'Summer' }}</small>
                  </v-card-actions>
                  <v-layout wrap text-xs-center align-center>
                    <v-flex xs12 md6
                      v-for="(itemField, indexField) in item.fields" :key="indexField">
                      <v-text-field
                        color="accent"
                        @input="Input"
                        append-icon="mdi-event"
                        class="mx-2"
                        :label="itemField.label"
                        type="date"
                        :masked="true"
                        :error-messages="errors[itemField.key]"
                        v-model="formData[itemField.key]">
                      </v-text-field>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-flex>
            </v-layout>
          </v-card>
        </v-container>
      </v-card-title>

      <v-card-actions class="py-5">
        <v-spacer />
        <v-btn
          :loading="saveLoading"
          color="accent"
          width="120px"
          class="white--text mr-3 mt-2 text-none"
          @click="isEditing ? isDelete(false) : save()">Save
        </v-btn>
      </v-card-actions>

      <confirmation-dialog
        :showDialog="confirmDialog"
        @close="confirmDialog = false"
        @proceed="isDelete_ ? deleteItem() : edit()"
        :loading="deleteLoading"
        :message="isDelete_ ? 'Are you sure you want to delete this curriculum ?' : 'Do you want to save changes?'"
      />

      <v-snackbar
        top
        absolute
        vertical
        v-model="isSnackbar"
        :color="color"
        class="caption"
        multi-line
        timeout="3000">
        <v-card-actions class="ma-0 pa-0"
          style="word-break: break-word;">
          {{ text }}
          <v-spacer />
          <v-btn
            color="white"
            text
            icon
            right
            @click="isSnackbar = false"
            class="caption">
            <v-icon>clear</v-icon>
          </v-btn>
        </v-card-actions>
      </v-snackbar>
    </v-card>
  </v-dialog>
</template>
<script>
import formMixins from '@/mixins/form.js'
import defaultMixins from '@/mixins/index'
import { mapGetters, mapActions } from 'vuex'
import errorHandlingMixin from '@/mixins/error-handler.js'
import syQueriesMixins from '@/mixins/queries/admin/syQueries'
export default {
  mixins: [
    formMixins,
    defaultMixins,
    errorHandlingMixin,
    syQueriesMixins
  ],
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    formData: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    isEdit: {
      type: Boolean,
      required: true
    },
    hasPrograms: {
      type: Boolean,
      required: false
    },
    id: {
      type: [Number, String]
    }
  },
  data: () => ({
    rowsPerPage: {
      'footer-props': {
        'items-per-page-options': [10]
      }
    },
    errors: [],
    loading: false,
    saveLoading: false,
    confirmDialog: false,
    isDelete_: false,
    deleteLoading: false,
    skip: 0,
    take: 10,
    skipCurriculumQuery: false,
    form: {},
    SemsItems: [
      {
        flex: 'xs12 sm12 md6 lg4',
        fields: [
          {
            key: 'first_sem_enrollment_from',
            label: 'Enrollment Period (From)',
            type: 'number',
            classNames: 'xs4 px-2',
            noFilter: true
          },
          {
            key: 'first_sem_enrollment_to',
            label: 'Enrollment Period (To)',
            type: 'number',
            classNames: 'xs4 px-2',
            noFilter: true
          },
          {
            key: 'first_sem_duration_from',
            label: 'Start of Semester',
            type: 'number',
            classNames: 'xs4 px-2',
            noFilter: true
          },
          {
            key: 'first_sem_duration_to',
            label: 'End of Semester',
            type: 'number',
            classNames: 'xs4 px-2',
            noFilter: true
          },
          {
            key: 'first_sem_add_drop_from',
            label: 'Add/Drop Period (From)',
            type: 'number',
            classNames: 'xs4 px-2',
            noFilter: true
          },
          {
            key: 'first_sem_add_drop_to',
            label: 'Add/Drop Period (To)',
            type: 'number',
            classNames: 'xs4 px-2',
            noFilter: true
          }
        ]
      },
      {
        flex: 'xs12 sm12 md6 lg4',
        fields: [
          {
            key: 'second_sem_enrollment_from',
            label: 'Enrollment Period (From)',
            type: 'number',
            classNames: 'xs4 px-2',
            noFilter: true
          },
          {
            key: 'second_sem_enrollment_to',
            label: 'Enrollment Period (To)',
            type: 'number',
            classNames: 'xs4 px-2',
            noFilter: true
          },
          {
            key: 'second_sem_duration_from',
            label: 'Start of Semester',
            type: 'number',
            classNames: 'xs4 px-2',
            noFilter: true
          },
          {
            key: 'second_sem_duration_to',
            label: 'End of Semester',
            type: 'number',
            classNames: 'xs4 px-2',
            noFilter: true
          },
          {
            key: 'second_sem_add_drop_from',
            label: 'Add/Drop Period (From)',
            type: 'number',
            classNames: 'xs4 px-2',
            noFilter: true
          },
          {
            key: 'second_sem_add_drop_to',
            label: 'Add/Drop Period (To)',
            type: 'number',
            classNames: 'xs4 px-2',
            noFilter: true
          }
        ]
      },
      {
        flex: 'xs12 sm12 md6 lg4',
        fields: [
          {
            key: 'summer_sem_enrollment_from',
            label: 'Enrollment Period (From)',
            type: 'number',
            classNames: 'xs4 px-2',
            noFilter: true
          },
          {
            key: 'summer_sem_enrollment_to',
            label: 'Enrollment Period (To)',
            type: 'number',
            classNames: 'xs4 px-2',
            noFilter: true
          },
          {
            key: 'summer_sem_duration_from',
            label: 'Start of Summer',
            type: 'number',
            classNames: 'xs4 px-2',
            noFilter: true
          },
          {
            key: 'summer_sem_duration_to',
            label: 'End of Summer',
            type: 'number',
            classNames: 'xs4 px-2',
            noFilter: true
          },
          {
            key: 'summer_sem_add_drop_from',
            label: 'Add/Drop Period (From)',
            type: 'number',
            classNames: 'xs4 px-2',
            noFilter: true
          },
          {
            key: 'summer_sem_add_drop_to',
            label: 'Add/Drop Period (To)',
            type: 'number',
            classNames: 'xs4 px-2',
            noFilter: true
          }
        ]
      }
    ],
    offsetTop: 0,
    programItem: {},
    isSnackbar: false,
    color: '',
    text: '',
    programItems: [],
    headers: [
      {
        text: 'Programs',
        align: 'center',
        sortable: true,
        value: 'program_name'
      },
      {
        text: 'Curriculum',
        align: 'center',
        sortable: true,
        value: 'curriculum'
      }
    ],
    curriculumItems: [],
    curriculum_id: '',
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    selected: [],
    skipSYQuery: false,
    programLoading: false,
    asyItems: [],
    syLoading: false,
    errorDialog: false
  }),
  computed: {
    ...mapGetters('filters', ['program_id', 'academic_year_id']),
    choices () {
      return {
        programs: this.programChoices
      }
    },
    postApi () {
      if (this.isEditing) return 'api/curricula/update/sy'
      else return 'api/curricula/create/sy'
    },
    deleteApi () {
      return `api/curricula/delete/sy/${this.id}`
    },
    isEditing () {
      return this.isEdit
    }
  },
  watch: {
    'formData.sy_program' (val) {
      if (global._.isEmpty(val)) {
        this.selected = []
      } else {
        this.selectedItems()
      }
    },
    'formData.school_year_from' (val) {
      if (val) {
        this.$set(this.formData, 'school_year_to', Number(val) + 1)
      } else {
        this.$set(this.formData, 'school_year_to', null)
      }
    },
    isEdit (val) {
      if (!val) {
        this.selected = []
      }
    }
  },
  mounted () {
    this.selectedItems()
  },
  methods: {
    ...mapActions('curricula', ['CLOSE_PROGRAM']),
    selectedItems () {
      let { selected } = this
      if (!global._.isEmpty(this.formData)) {
        global._.forEach(this.formData.sy_program, function(val) {
          let sortItems = selected.filter(item => Number(item.program_id))
          let item = sortItems.find(item => Number(item.program_id) === Number(val.program_id))
          if (global._.isUndefined(item)) {
            selected.push({
              ...val,
              id: val.program_id
            })
          } else {
            selected = []
          }
        })
      } else {
        this.selected = []
      }
    },
    removeProgram (val) {
      if (this.isEditing) {
        let item = this.selected.find(item => Number(item.program_id) === Number(val.id))
        const index = this.selected.indexOf(item)
        if (index >= 0) this.$delete(this.selected, index)
        if (!global._.isUndefined(item.sy_program_id)) {
          this.closeProgram(item) 
        }
      } else {
        let item = this.selected.find(item => Number(item) === Number(val.id))
        const index = this.selected.indexOf(item)
        if (index >= 0) this.$delete(this.selected, index)
        if (!global._.isUndefined(item.sy_program_id)) {
          this.closeProgram(item) 
        }
      }
    },
    closeProgram (item) {
      this.CLOSE_PROGRAM({ id: item.sy_program_id }).then(data => {
        this.$emit('refetch', { remove_program: true })
      }).catch(data => {
        console.log(data)
      })
    },
    escape () {
      this.$emit('close')
    },
    onhandleScroll (e) {
      this.offsetTop = e.target.scrollTop
    },
    Input (value) {
      this.$emit('input', value)
    },
    isDelete (x) {
      this.isDelete_ = x
      this.confirmDialog = true
    },
    closeDialog () {
      this.selected = []
      this.saveLoading = false
      this.updateLoading = false
      this.confirmDialog = false
      this.$emit('close')
      this.errors = []
    },
    close () {
      this.saveLoading = false
      this.confirmDialog = false
      this.deleteLoading = false
      this.loading = false
      if (global._.isEmpty(this.errors)) {
        this.$emit('close')
        if (!global._.isEmpty(this.form)) {
          this.$emit('refetch', this.form)
        }
        if (!global._.isEmpty(this.formData)) {
          this.form = {}
        }
      }
    },
    async save () {
      this.saveLoading = true
      let sortIds = this.selected.map(item => item.id)
      let input = {
        program_id: !global._.isEmpty(this.selected) ? String(sortIds) : '',
        ...this.formData
      }
      this.saveData(input)
    },
    async edit () {
      this.deleteLoading = true
      let sortIds = this.selected.map(item => item.id)
      let input = {
        school_year_id: this.formData.id,
        program_id: !global._.isEmpty(this.selected) ? String(sortIds) : '',
        ...this.formData
      }
      this.saveData(input)
    },
    async deleteItem () {
      this.deleteLoading = true
      this.deleteData()
    }
  }
}
</script>
