<template>
<v-container fluid>
  <v-layout wrap justify-center align-center>
    <v-flex xs12 md11>
      <v-card flat>
        <header-component
          :isSearch="false"
          :isFilter="true"
          :isAdd="true"
          btnTitle="Add Academic S.Y"
          @clickDialog="addItem"
          @reset="RESET_FILTERS()"
          :isSwitched="isSwitched"
          @openFilter="openFilter()"
          @closeFilter="closeFilter()"
          :filterItems="headers"
          addBtnFont="body-2"
        />

         <floating-card :titles="titleInfo" />
         <v-card class="mt-8">
          <v-card-title class="my-5" />
          <v-layout wrap>
            <v-flex lg12>
              <v-data-table
                :headers="headers"
                :items="asyItems"
                :page.sync="page"
                :items-per-page="itemsPerPage"
                @page-count="pageCount = $event"
                :options.sync="options"
                :server-items-length="count"
                class="text-table-color font-weight-medium"
                hide-default-footer
                :loading="syLoading"
                loading-text="Loading... Please wait"
                fixed-header
                ref="table"
              >
              <template v-slot:header>
                <thead v-show="hideCard">
                  <tr>
                    <th style="text-align: center;" :colspan="2">
                      Acedemic School Year
                    </th>
                    <th style="text-align: center;" :colspan="2">
                      Actions
                    </th>
                  </tr>
                </thead>
              </template>
              <template v-slot:item.view_action="{ item }">
                <v-btn
                  depressed
                  small
                  color="accent"
                  @click="ViewProgram(item)">
                  View Open Program
              </v-btn>
              </template>
                <template v-slot:item.edit_action="{ item }">
                  <v-btn
                  depressed
                  small
                  color="accent"
                  @click="editItem(item)">
                  Edit
                </v-btn>
                </template>
              </v-data-table>
            </v-flex>
            <v-flex xs12 class="text-center pt-3 pb-0">
              <v-pagination
                v-show="pageCount > 1"
                v-model="page"
                :length="pageCount"
                :total-visible="10"
              ></v-pagination>
            </v-flex>
            <v-flex xs12>
              <v-card-actions>
                <v-spacer />
                <small>Total of <span class="blue--text">{{ count }} </span> <span>{{ asyItems.length > 1 ? 'Items' : 'Item'}}</span></small>
              </v-card-actions>
            </v-flex>
          </v-layout>
         </v-card>
        
        <school-year-dialog
          :formData="form"
          :isEdit="isEdit"
          :showDialog="dialog"
          @close="close"
          @refetch="refetch"
          :hasPrograms="hasPrograms"
          :id="syId"
        />

        <open-curriculum-dialog
          :items="programData"
          :isEdit="isEdit"
          :showDialog="curriculumDialog"
          @close="curriculumDialog = false"
          @refetch="refetch"
        />

        <v-snackbar
          top
          right
          v-model="isSnackbar"
          :color="color"
          class="caption">
          <v-card-actions class="ma-0 pa-0">
            {{ text }}
            <v-spacer />
            <v-btn
              color="white"
              text
              icon
              right
              @click="isSnackbar = false"
              class="caption">
              <v-icon>clear</v-icon>
            </v-btn>
          </v-card-actions>
        </v-snackbar>
      </v-card>
    </v-flex>
  </v-layout>
</v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import defaultMixins from '@/mixins/index'
import syQueriesMixins from '@/mixins/queries/admin/syQueries'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    formMixins,
    defaultMixins,
    syQueriesMixins
  ],
  data: () => ({
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    asyItems: [],
    syLoading: false,
    link: '',
    isSwitched: false,
    titleInfo: [
      {
        name: 'Academic School Year',
        icon: 'ballot',
        color: 'accent',
        flex: 'xs12'
      }
    ],
    headers: [
      {
        text: 'From',
        align: 'center',
        sortable: true,
        value: 'school_year_from',
        title: 'Academic School Year',
        icon: 'mdi-school',
        name: 'academic-year',
        field: 'academic_year'
      },
      {
        text: 'To',
        align: 'center',
        sortable: true,
        value: 'school_year_to'
      },
      {
        text: '',
        align: 'center',
        sortable: true,
        value: 'view_action'
      },
      {
        text: '',
        align: 'center',
        sortable: true,
        value: 'edit_action'
      }
    ],
    form: [],
    isEdit: false,
    dialog: false,
    skip: 0,
    take: 10,
    isSnackbar: false,
    color: '',
    text: '',
    defaultItem: {
      school_year_to: null,
      school_year_from: null,
      first_sem_enrollment_from: null,
      first_sem_enrollment_to: null,
      first_sem_add_drop_from: null,
      first_sem_add_drop_to: null,
      second_sem_enrollment_from: null,
      second_sem_enrollment_to: null,
      second_sem_add_drop_from: null,
      second_sem_add_drop_to: null,
      summer_sem_enrollment_from: null,
      summer_sem_enrollment_to: null,
      summer_sem_add_drop_from: null,
      summer_sem_add_drop_to: null,
      first_sem_duration_from: null,
      first_sem_duration_to: null,
      second_sem_duration_from: null,
      second_sem_duration_to: null,
      summer_sem_duration_from: null,
      summer_sem_duration_to: null
    },
    count: 0,
    programItem: {},
    hasPrograms: false,
    curriculumDialog: false,
    skipSYQuery: false,
    programItems: [],
    programLoading: false,
    programData: [],
    syId: null,
    options: {},
    currPage: null,
    prevPage: null,
    skipItems: null,
    takeItems: null
  }),
  computed: {
    ...mapGetters('filters', ['program_id', 'academic_year_id']),
    ...mapGetters('curricula', ['curriculum_fcns']),
    ...mapGetters('user', ['user'])
  },
  watch: {
    options: {
      handler (old, newx) {
        this.skipItems = global._.isUndefined(newx.itemsPerPage) ? 0 : newx.itemsPerPage
        this.takeItems = old.itemsPerPage
        this.prevPage = global._.isUndefined(newx.page) ? 0 : newx.page
        this.currPage = old.page
        let skip = this.sortSkipped(this.skipItems, this.currPage, old.itemsPerPage)
        let take = old.itemsPerPage
        this.skip = skip
        this.take = take
        this.currLoading = true
        this.$apollo.queries.syWithFilter.refetch()
      },
      deep: true
    },
    academic_year_id (val) {
      this.$apollo.queries.syWithFilter.refetch()
    }
  },
  methods: {
    ...mapMutations('filters', ['RESET_FILTERS', 'SET_SEARCH']),
    ...mapMutations('form', ['setCurriculum']),
    refetch (val) {
      if (!global._.isEmpty(val.message)) {
        if (val.deleted_sy) {
          this.snackbar(`${val.message}`, 'error')
        } else {
          this.snackbar(`${val.message}`, 'success')
        }
      }
      this.$apollo.queries.syWithFilter.refetch()
    },
    close () {
      this.dialog = false
      this.form = Object.assign({}, this.defaultItem)
    },
    openFilter () {
      this.isSwitched = true
    },
    closeFilter () {
      this.isSwitched = false
    },
    addItem () {
      this.form = Object.assign({}, this.defaultItem)
      this.isEdit = false
      this.dialog = true
    },
    editItem (val) {
      this.syId = val.id
      this.hasPrograms = Boolean(Boolean(val.has_enrollee_class) || !global._.isEmpty(val.sy_program))
      this.programData = val.proram_curriculum
      this.form = []
      this.isEdit = true
      this.dialog = true
      this.form = val
    },
    onScroll (e) {
      const tableHeight = (this.$refs.table.$el.offsetHeight) - (e.srcElement.offsetHeight + 50)
      if (e.srcElement.scrollTop > tableHeight && !this.syLoading) {
        this.syLoading = true
        this.take++
        this.$apollo.queries.syWithFilter.refetch()
      } else {
        this.take--
        this.$apollo.queries.syWithFilter.refetch()
      }
    },
    ViewProgram (item) {
      this.programData = item.program_curriculum
      this.dialog = false
      this.setCurriculum(item)
      this.curriculumDialog = true
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.RESET_FILTERS()
    })
  }
}
</script>
