<template>
<v-layout wrap>
  <v-flex xs12>
    <v-card-text class="body-1">
      <strong>Career Choice / Plans</strong>
    </v-card-text>
    <v-divider class="mb-5" />
  </v-flex>

  <v-flex xs12>
    <span class="font-weight-regular body-1 mx-2 mt-10">My course choice in order:</span>
  </v-flex>

  <career-info
    :fields="careerFields"
    :form="form"/>

</v-layout>
</template>
<script>
import formMixins from '@/mixins/form.js'
import defaultMixins from '@/mixins/index'
import { mapGetters } from 'vuex'
export default {
  mixins: [
    formMixins,
    defaultMixins
  ],
  data: () => ({
    form: [],
    errors: {},
    formItem: {
      first_choice: null,
      second_choice: null,
      third_choice: null,
      major: null
    },
    careerFields: [
      {
        key: 'first_choice',
        classNames: 'xs12 px-2'
      },
      {
        key: 'second_choice',
        classNames: 'xs12 px-2'
      },
      {
        key: 'third_choice',
        classNames: 'xs12 px-2'
      },
      {
        key: 'major',
        label: 'My course major is chosen by my (choose below)',
        choices: 'references',
        classNames: 'xs12 px-2',
        required: true
      }
    ]
  }),
  computed: {
    ...mapGetters('user', ['user']),
    ...mapGetters('applicants', ['personal']),
    choices () {
      return {
        references: ['Self', 'Parents', 'Relatives', 'Friends', 'Sponsor']
      }
    },
    errorData () {
      return this.errors
    }
  },
  methods: {
    getForm () {
      if (this.personal) {
        let data = global._.pick(this.personal, 'first_choice', 'second_choice', 'third_choice', 'major')
        this.form[0] = Object.assign({}, data)
      } else {
        this.addFormItem()
      }
    }
  },
  watch: {
    '$route': 'getForm'
  },
  created () {
    this.getForm()
  }
}
</script>
