<template>
<v-layout wrap>
  <v-flex xs12>
    <v-card-text class="body-1">
      <strong>Personal Checklist</strong>
    </v-card-text>
    <v-divider class="mb-5" />
  </v-flex>

  <v-flex xs12>
    <span class="font-weight-regular body-1 mx-2 mt-10">Identify which of the items below present a problem or difficulty to you:</span>
  </v-flex>

  <checklist-info
    :fields="checklistFields"
    :form="form"
  />
</v-layout>
</template>
<script>
import formMixins from '@/mixins/form.js'
import defaultMixins from '@/mixins/index'
import { mapGetters } from 'vuex'
export default {
  mixins: [
    formMixins,
    defaultMixins
  ],
  data: () => ({
    form: [],
    errors: {},
    checklistFields: [
      {
        key: 'confidence',
        checked: true,
        fieldTitle: true,
        label: 'Confidence',
        classNames: 'xs12 md6 lg4 px-2'
      },
      {
        key: 'study_habits',
        checked: true,
        fieldTitle: true,
        label: 'Study Habits',
        classNames: 'xs12 md6 lg4 px-2'
      },
      {
        key: 'work_schedule',
        checked: true,
        fieldTitle: true,
        label: 'Work Schedule',
        classNames: 'xs12 md6 lg4 px-2'
      },
      {
        key: 'diet',
        checked: true,
        fieldTitle: true,
        label: 'Diet/ Drugs/ Smoking/ Drinking',
        classNames: 'xs12 md6 lg4 px-2'
      },
      {
        key: 'family',
        checked: true,
        fieldTitle: true,
        label: 'Parents/ Brothers/ Sister',
        classNames: 'xs12 md6 lg4 px-2'
      },
      {
        key: 'health',
        checked: true,
        fieldTitle: true,
        label: 'Health',
        classNames: 'xs12 md6 lg4 px-2'
      },
      {
        key: 'finances',
        checked: true,
        fieldTitle: true,
        label: 'Finances',
        classNames: 'xs12 md6 lg4 px-2'
      },
      {
        key: 'not_interested',
        checked: true,
        fieldTitle: true,
        label: 'Not interested in program',
        classNames: 'xs12 md6 lg4 px-2'
      },
      {
        key: 'appearance',
        checked: true,
        fieldTitle: true,
        label: 'My Appearance',
        classNames: 'xs12 md6 lg4 px-2'
      },
      {
        key: 'class_schedule',
        checked: true,
        fieldTitle: true,
        label: 'Class Schedule',
        classNames: 'xs12 md6 lg4 px-2'
      },
      {
        key: 'undecided',
        checked: true,
        fieldTitle: true,
        label: 'Undecided regarding program',
        classNames: 'xs12 md6 lg4 px-2'
      },
      {
        key: 'concentration',
        checked: true,
        fieldTitle: true,
        label: 'Concentration',
        classNames: 'xs12 md6 lg4 px-2'
      },
      {
        key: 'friends',
        checked: true,
        fieldTitle: true,
        label: 'Friends/ Relationships/ Love',
        classNames: 'xs12 md6 px-2'
      },
      {
        key: 'privacy',
        checked: true,
        fieldTitle: true,
        label: 'Privacy/ Freedom',
        classNames: 'xs12 md6 px-2'
      },
      {
        key: 'others',
        checked: true,
        fieldTitle: true,
          label: 'Others ( If you check others, please type the   problem or fficulty on the space below )',
        classNames: 'xs12 px-2'
      },
      {
        key: 'other_field',
        textarea: true,
        fieldTitle: true,
        label: '',
        classNames: 'xs12 px-2'
      }
    ]
  }),
  computed: {
    ...mapGetters('user', ['user']),
    ...mapGetters('applicants', ['personal']),
    choices () {
      return {
        references: ['Self', 'Parents', 'Relatives', 'Friends', 'Sponsor']
      }
    },
    errorData () {
      return this.errors
    },
    sortData () {
      return global._.omit(this.personal, 'first_choice', 'second_choice', 'third_choice', 'major')
    }
  },
  methods: {
    getForm () {
      if (this.personal) { 
        let data = this.sortData
        this.form[0] = Object.assign({}, data)
      } else {
        this.addFormItem()
      }
    }
  },
  watch: {
    '$route': 'getForm'
  },
  created () {
    this.getForm()
  }
}
</script>
