<template>
<v-layout wrap>
  <v-flex
    xs12
    :key="index"
    v-for="(item, index) in form"
    >
    <v-layout wrap justify-right align-right
      class="mt-5">
      <field-component
        :field="field"
        :key="field.key"
        :form="form[index]"
        :errors="errorData"
        :item-idx="index"
        :choices="choices"
        v-for="field in fields"
        @input="Input(form[index])"
      ></field-component>
    </v-layout>
  </v-flex>
</v-layout>
</template>
<script>
import formMixins from '@/mixins/form.js'
import defaultMixins from '@/mixins/index'
export default {
  mixins: [
    formMixins,
    defaultMixins
  ],
  props: {
    form: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    fields: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    }
  },
  data () {
    return {
     errors: {},
      formItem: {
        first_name: null,
        middle_name: null,
        last_name: null,
        name_extension: null,
        gender: null,
        birth_date: null,
        email: null,
        civil_status: null,
        religion: null,
        address: null,
        contact: null,
        social_account: null
      }
    } 
  },
  computed: {
    choices () {
      return {
        gender: ['Female', 'Male'],
        applicantStatus: ['Yes', 'No'],
        statuses: ['Single', 'Married', 'Widowed'],
        types: [
          'Old',
          'Returnee'
        ],
        student_statuses: [
          'Regular',
          'Irregular'
        ]
      }
    },
    errorData () {
      return this.errors
    }
  },
  methods: {
    Input (value) {
      this.$emit('input', value)
    }
  }
}
</script>
