<template>
  <v-dialog
    :value="showDialog"
    max-width="1000"
    persistent
    v-esc="escape">
    <v-card
      class="pt-1">
      <v-card-actions class="pb-0">
        <div class="flex-grow-1">
          <v-card-title class="accent--text">{{ isEdit ? 'Edit' : 'Add' }} Discount</v-card-title>
        </div>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              v-show="isEdit && !hasStudentDiscount"
              @click="isDelete(true)"
              text
              fab
              color="red">
              <v-icon medium color="red">mdi-delete</v-icon>
            </v-btn>
          </template>
          <span>Delete</span>
        </v-tooltip>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              @click="closeDialog"
              text
              fab
              color="red">
              <v-icon medium color="red">mdi-close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-card-actions>
      <v-divider class="mx-2" />
      <v-layout wrap>
         <v-flex xs12>
          <v-form ref="form">
            <v-card-title>
              <v-layout wrap>
                <v-flex
                  xs12
                  :key="index"
                  v-for="(item, index) in formData"
                >
                  <v-layout wrap>
                    <field-component
                      @change="ChangeItem($event, 'course')"
                      :field="field"
                      :key="field.key"
                      :form="formData[index]"
                      :errors="errors"
                      :item-idx="index"
                      :loading="loading"
                      :choices="choices"
                      v-for="field in fields"
                    ></field-component>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-card-title>
          </v-form>
        </v-flex>
      </v-layout>
      <v-card-actions class="pb-3">
        <v-spacer />
        <v-btn
          :loading="saveLoading"
          color="accent"
          width="100px"
          class="white--text mr-3 mt-2 text-none"
          @click="isEdit ? isDelete(false) : save()"
        >
          Submit
        </v-btn>
      </v-card-actions>

      <confirmation-dialog
        :showDialog="confirmDialog"
        @close="confirmDialog = false"
        @proceed="isDelete_ ? deleteItem() : edit()"
        :loading="deleteLoading"
        :message="isDelete_ ? 'Are you sure you want to delete this discount ?' : 'Do you want to save changes ?'"
      />
    </v-card>

  </v-dialog>
</template>
<script>
import formMixins from '@/mixins/form.js'
export default {
  mixins: [
    formMixins
  ],
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    formData: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    isEdit: {
      type: Boolean,
      default: false
    },
    id: {
      type: [String, Number]
    },
    hasStudentDiscount: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      confirmDialog: false,
      loading: false,
      skip: 0,
      take: 10,
      errors: {},
      fields: [
        {
          key: 'name',
          classNames: 'xs12 md4 px-2',
          required: true
        },
        {
          key: 'status',
          label: 'Status',
          choices: 'status',
          classNames: 'xs12 md4 px-2',
          required: true
        },
        {
          key: 'percentage',
          classNames: 'xs12 md4 px-2',
          number: true,
          required: true
        }
      ],
      tableData: {
        input: {
          skip: 0,
          take: 10
        },
        maxData: 0,
        count: 0
      },
      isDelete_: false,
      form: {},
      saveLoading: false,
      deleteLoading: false
    }
  },
  computed: {
    postApi () {
      if (!this.isEdit) return 'api/finance/create/Discount'
      return 'api/finance/update/Discount'
    },
    deleteApi () {
      return `api/finance/delete/Discount/${this.id}`
    },
    choices () {
      return {
        status: ['Active', 'Inactive']
      }
    }
  },
  methods: {
    escape () {
      this.$emit('close')
    },
    isDelete (x) {
      this.isDelete_ = x
      this.confirmDialog = true
    },
    closeDialog () {
      this.saveLoading = false
      this.updateLoading = false
      this.deleteLoading = false
      this.$emit('close')
      this.errors = {}
      this.$refs.form.reset()
    },
    close: function () {
      this.saveLoading = false
      this.deleteLoading = false
      this.confirmDialog = false
      if (global._.isEmpty(this.errors)) {
        this.$emit('close')
        if (!global._.isEmpty(this.form)) {
          this.$emit('refetch', this.form)
          this.$refs.form.reset()
        }
        this.$refs.form.errors = this.errors
        if (!global._.isEmpty(this.formData[0])) {
          this.form = {}
        }
      } else {
        this.$refs.form.errors = this.errors
      }
    },
    async save () {
      this.saveLoading = true
      this.saveData(this.formData[0])
    },
    async edit () {
      this.deleteLoading = true
      this.saveData(this.formData[0])
    },
    async deleteItem () {
      this.deleteLoading = true
      this.deleteData()
    }
  }
}
</script>
