<template>
<v-container fluid class="mt-0 pt-0">
  <v-layout wrap justify-center align-center>
    <v-flex xs12 md11>
      <v-card flat>
        <header-component
          :isSearch="false"
          :isFilter="true"
          :isEnroll="true"
          :isAdd="false"
          @reset="RESET_FILTERS()"
          :filterItems="headers"
          :isSwitched="isSwitched"
          @openFilter="openFilter()"
          @closeFilter="closeFilter()"
          @enroll="doExport()"
          btnEnrollTitle="Export"
        />
        
        <v-layout wrap justify-center align-center>
          <v-flex xs12 class="mt-5">
            <floating-card :titles="title" />
          </v-flex>
          <v-flex xs12>
          <v-card> 
           <v-card-title class="my-5" />
           <v-flex xs12>
            <v-data-table
                ref="table"
                :headers="headers"
                :items="items"
                :page.sync="page"
                :items-per-page="itemsPerPage"
                @page-count="pageCount = $event"
                hide-default-footer
                :options.sync="options"
                :server-items-length="count"
                class="text-table-color font-weight-medium"
                hide-default-footer
                :fixed-header="true"
                :loading="isLoading"
                loading-text="Loading... Please wait"
                @click:row="editItem($event)"
               >
            </v-data-table>
          </v-flex>
            <v-flex xs12 class="text-center pt-3 pb-0">
              <v-pagination
                v-show="pageCount > 1"
                v-model="page"
                :length="pageCount"
                :total-visible="10"
              ></v-pagination>
            </v-flex>
          <v-flex xs12>
            <v-card-actions
              v-show="count > 0">
              <v-spacer />
                <small>Total of <span class="blue--text">{{ count }} </span> <span>{{ items.length > 1 ? 'Items' : 'Item'}}</span></small>
            </v-card-actions>
          </v-flex>
         </v-card>
        </v-flex>
        </v-layout>
      </v-card>
      
      <finance-export-dialog
        :showDialog="exportDialog"
        @close="exportDialog = false"
        @printCollectionReport="printCollectionReport"
        :isHistory="true"
        :collectionLink="collectionLink"
      />
    </v-flex>
  </v-layout>

</v-container>
</template>
<script>
import defaultMixins from '@/mixins/index'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    defaultMixins
  ],
  data: () => ({
    title: [
      {
        name: 'Collection Report',
        icon: 'history_edu',
        color: 'accent',
        flex: 'xs12'
      }
    ],
    headers: [
      {
        text: 'Date',
        align: 'center',
        sortable: true,
        value: 'date',
        title: 'Academic Year',
        icon: 'mdi-school',
        name: 'finance-account-history-year-filter',
        field: ''
      },
      {
        text: 'OR NO.',
        align: 'center',
        sortable: true,
        value: 'or_number',
        title: 'Semester',
        icon: 'collections_bookmark',
        name: 'finance-account-history-semester-filter',
        field: ''
      },
      {
        text: 'ID NO.',
        align: 'center',
        sortable: true,
        value: 'id_no',
        title: 'Date Applied',
        icon: 'schedule',
        name: 'finance-date-applied-filter',
        field: ''
      },
      {
        text: 'Name',
        align: 'center',
        sortable: true,
        value: 'name'
      },
      {
        text: 'Amount',
        align: 'center',
        sortable: true,
        value: 'amount'
      },
      {
        text: 'Acct/Code',
        align: 'center',
        sortable: true,
        value: 'account_code'
      }
    ],
    isSwitched: false,
    items: [],
    tab: 0,
    exportDialog: false,
    count: 0,
    isLoading: false,
    skip: 0,
    take: 10,
    collectionLink: '',
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    options: {},
    currPage: null,
    prevPage: null,
    skipItems: null,
    takeItems: null
  }),
  computed: {
    ...mapGetters('filters', ['academic_year_id', 'semester_id', 'discount_type'])
  },
  watch: {
    options: {
      handler (old, newx) {
        this.skipItems = global._.isUndefined(newx.itemsPerPage) ? 0 : newx.itemsPerPage
        this.takeItems = old.itemsPerPage
        this.prevPage = global._.isUndefined(newx.page) ? 0 : newx.page
        this.currPage = old.page
        let skip = this.sortSkipped(this.skipItems, this.currPage, old.itemsPerPage)
        let take = old.itemsPerPage
        this.skip = skip
        this.take = take
        // this.$apollo.queries.accountCodeQuery.refetch()
      },
      deep: true
    },
    academic_year_id (val) {
      this.page = 1
      // this.$apollo.queries.accountCodeQuery.refetch()
    },
    semester_id (val) {
      this.page = 1
      // this.$apollo.queries.accountCodeQuery.refetch()
    },
    discount_type (val) {
      this.page = 1
      // this.$apollo.queries.accountCodeQuery.refetch()
    }
  },
  methods: {
    ...mapMutations('filters', ['RESET_FILTERS']),
    openFilter () {
      this.isSwitched = true
    },
    closeFilter () {
      this.isSwitched = false
    },
    doExport () {
      this.exportDialog = true
    },
    printCollectionReport () {},
    onScroll (e) {
      const tableHeight = (this.$refs.table.$el.offsetHeight) - (e.srcElement.offsetHeight + 50)
      if (e.srcElement.scrollTop > tableHeight && !this.isLoading) {
        this.isLoading = true
        this.take++
        // this.$apollo.queries.accountCodeQuery.refetch()
      } else {
        this.take--
        // this.$apollo.queries.accountCodeQuery.refetch()
      }
    }
  }
}
</script>
