<template>
<v-container fluid class="mt-0 pt-0">
  <v-layout wrap justify-center align-center>
    <v-flex xs12 md11>
      <v-card flat>
        <header-component
          :isSearch="true"
          :isFilter="true"
          @enter="doSearch"
          :isAdd="true"
          :label="label"
          btnTitle="Add Codes"
          hint="Enter Codes"
          @clear="clear()"
          @reset="resetFilters()"
          @clickDialog="addClicked"
          :filterItems="headers"
          :isSwitched="isSwitched"
          @openFilter="openFilter()"
          @closeFilter="closeFilter()"
        />

        <v-layout wrap justify-center align-center>
          <v-flex xs12 class="mt-5">
            <floating-card :titles="title" />
          </v-flex>
          <v-flex xs12>
          <v-card> 
           <v-card-title class="my-5" />
           <v-flex xs12>
            <v-data-table
                ref="table"
                :headers="headers"
                :items="accountItems"
                :page.sync="page"
                :items-per-page="itemsPerPage"
                @page-count="pageCount = $event"
                hide-default-footer
                :options.sync="options"
                :server-items-length="accountsCount"
                class="text-table-color font-weight-medium"
                hide-default-footer
                :fixed-header="true"
                :loading="accountCodeLoading"
                loading-text="Loading... Please wait"
                @click:row="editItem($event)"
               >
            </v-data-table>
          </v-flex>
            <v-flex xs12 class="text-center pt-3 pb-0">
              <v-pagination
                v-show="pageCount > 1"
                v-model="page"
                :length="pageCount"
                :total-visible="10"
              ></v-pagination>
            </v-flex>
          <v-flex xs12>
            <v-card-actions
              v-show="accountsCount > 0">
              <v-spacer />
                <small>Total of <span class="blue--text">{{ accountsCount }} </span> <span>{{ accountItems.length > 1 ? 'Items' : 'Item'}}</span></small>
            </v-card-actions>
          </v-flex>
         </v-card>
        </v-flex>
        </v-layout>

        <finance-codes-dialog
          :formData="formData"
          :showDialog="dialog"
          @close="close"
          @refetch="refetch"
          :isEdit="isEdit"
          :id="accountId"
        />
      </v-card>
    </v-flex>
  </v-layout>

  <v-snackbar
    top
    right
    v-model="isSnackbar"
    :color="color"
    class="caption"
    timeout="1500">
    <v-card-actions class="ma-0 pa-0">
      {{ text }}
      <v-spacer />
      <v-btn
        color="white"
        text
        icon
        right
        @click="isSnackbar = false"
        class="caption">
        <v-icon>clear</v-icon>
      </v-btn>
    </v-card-actions>
  </v-snackbar>
</v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import defaultMixins from '@/mixins/index'
import { mapGetters, mapMutations } from 'vuex'
import feesQueryMixins from '@/mixins/queries/finance/feesQueries'
export default {
  mixins: [
    formMixins,
    defaultMixins,
    feesQueryMixins
  ],
  data: () => ({
    courseMenuLoading: false,
    label: 'Search Code',
    dialog: false,
    formData: [],
    formItem: {
      account_code: '',
      description: ''
    },
    title: [
      {
        name: 'Account Codes',
        icon: 'subtitles',
        color: 'accent',
        flex: 'xs12'
      }
    ],
    headers: [
      {
        text: 'Account Code',
        align: 'center',
        sortable: true,
        value: 'account_code',
        title: 'Account Type',
        icon: 'show_chart',
        name: 'finance-account-type-filter',
        field: ''
      },
      {
        text: 'Description',
        align: 'center',
        sortable: true,
        value: 'description'
      },
      {
        text: 'Type',
        align: 'center',
        sortable: true,
        value: 'type'
      }
    ],
    skip: 0,
    take: 10,
    accountsCount: 0,
    accountItems: [],
    saveLoading: false,
    deleteLoading: false,
    isSnackbar: false,
    color: '',
    text: '',
    isEdit: false,
    accountId: null,
    bottom: false,
    dataList: [],
    assignDialog: false,
    skipSyListQuery: true,
    skipDiscountQuery: true,
    skipFeeCodeQuery: true,
    skipAccountQuery: false,
    skipFeesQuery: true,
    isSwitched: false,
    accountCodeLoading: false,
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    options: {},
    currPage: null,
    prevPage: null,
    skipItems: null,
    takeItems: null
  }),
  computed: {
    ...mapGetters('filters', ['search', 'academic_year_id', 'semester_id', 'discount_type', 'account_type']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        this.$apollo.queries.accountCodeQuery.refetch()
        return this.SET_SEARCH(value)
      }
    }
  },
  watch: {
    options: {
      handler (old, newx) {
        this.skipItems = global._.isUndefined(newx.itemsPerPage) ? 0 : newx.itemsPerPage
        this.takeItems = old.itemsPerPage
        this.prevPage = global._.isUndefined(newx.page) ? 0 : newx.page
        this.currPage = old.page
        let skip = this.sortSkipped(this.skipItems, this.currPage, old.itemsPerPage)
        let take = old.itemsPerPage
        this.skip = skip
        this.take = take
        this.$apollo.queries.accountCodeQuery.refetch()
      },
      deep: true
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_SEARCH', 'RESET_FILTERS']),
    resetFilters () {
      this.RESET_FILTERS()
      this.clear()
    },
    openFilter () {
      this.isSwitched = true
    },
    closeFilter () {
      this.isSwitched = false
    },
    setColor(item) {
      return item == 'Active' ? 'green' : 'red'
    },
    refetch (val) {
      if (!global._.isEmpty(val.message)) {
        this.snackbar(`${val.message}`, `${val.status}`)
      }
      if (this.accountsCount > 10) {
        this.take = this.accountsCount + 1
      } else {
        this.take = 10
      }
      this.$apollo.queries.accountCodeQuery.refetch()
    },
    close () {
      this.dialog = false
    },
    clear () {
      this.setSearch = ''
    },
    doSearch (val) {
      this.setSearch = val
    },
    addClicked () {
      this.formData[0] = Object.assign({}, this.formItem)
      this.isEdit = false
      this.dialog = true
    },
    editItem (item) {
      this.accountId = item.id
      this.formData[0] = Object.assign({}, item)
      this.isEdit = true
      this.dialog = true
    },
    AddItem () {
      this.assignDialog = true
    },
    onScroll (e) {
      const tableHeight = (this.$refs.table.$el.offsetHeight) - (e.srcElement.offsetHeight + 50)
      if (e.srcElement.scrollTop > tableHeight && !this.accountCodeLoading) {
        this.accountCodeLoading = true
        this.take++
        this.$apollo.queries.accountCodeQuery.refetch()
      } else {
        this.take--
        this.$apollo.queries.accountCodeQuery.refetch()
      }
    }
  },
  mounted () {
    this.clear()
  }
}
</script>
