<template>
  <v-dialog
    :value="showDialog"
    max-width="520"
    persistent
    v-esc="escape">
    <v-card
      class="pt-1 text-center">
      <v-card-actions class="pb-5">
        <div class="flex-grow-1">
          <v-card-title class="accent--text ml-1">Export</v-card-title>
        </div>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              fab
              @click="$emit('close')"
              text>
              <v-icon medium color="red">mdi-close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-card-actions>
      <v-layout wrap class="pb-8 body-4"
        justify-center align-center>
        <v-flex xs12
          v-show="isAssessment">
          <a :href="assessLink" target="_blank" class="text-decor red--text">
            <v-btn
              tile
              outlined
              width="200px"
              color="accent"
              class="my-2"
              @click="$emit('printAssessment', assessLink)">Assessment
              <template v-slot:loader>
                <span
                  class="grey--text caption text--none">Loading...
                </span>
              </template>
            </v-btn>
          </a>
        </v-flex>

        <v-flex xs12
          v-show="isLedger">
          <a :href="ledgerLink" target="_blank" class="text-decor red--text">
            <v-btn
              tile
              outlined
              width="200px"
              color="accent"
              class="my-2"
              @click="$emit('printLedger', ledgerLink)">Ledger
              <template v-slot:loader>
                <span
                  class="grey--text caption text--none">Loading...
                </span>
              </template>
            </v-btn>
          </a>
        </v-flex>

        <v-flex xs12
          v-show="isCor">
          <a :href="corLink" target="_blank" class="text-decor red--text">
            <v-btn
              tile
              outlined
              color="accent"
              class="my-2"
              @click="$emit('printCOR', corLink)">Certificate of Registration
              <template v-slot:loader>
                <span
                  class="grey--text caption text--none">Loading...
                </span>
              </template>
            </v-btn>
          </a>
        </v-flex>
        <v-flex xs12
          v-show="isHistory">
          <a :href="collectionLink" target="_blank" class="text-decor red--text">
            <v-btn
              tile
              outlined
              width="220px"
              color="accent"
              class="my-2"
              @click="$emit('printCollectionReport', collectionLink)">Collection Report
              <template v-slot:loader>
                <span
                  class="grey--text caption text--none">Loading...
                </span>
              </template>
            </v-btn>
          </a>
        </v-flex>
      </v-layout>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    title: {
      type: String
    },
    isAssessment: {
      type: Boolean,
      default: false
    },
    isLedger: {
      type: Boolean,
      default: false
    },
    isCor: {
      type: Boolean,
      default: false
    },
    isHistory: {
      type: Boolean,
      default: false
    },
    ledgerLink: String,
    assessLink: String,
    corLink: String,
    collectionLink: String
  },
  methods: {
    escape () {
      this.$emit('close')
    }
  }
}
</script>
