<template>
<v-container fluid
  v-scroll="onScroll">
  <v-layout wrap>
    <v-flex xs12>
      <floating-card
        v-if="type === 'Enrollment'"
        class="mt-2" :titles="floatingTitle" />
      <floating-card
        v-if="type === 'Entrance Exam'"
        class="mt-2" :titles="entranceFloatingTitle" />
      <floating-card
        v-if="type === 'Student'"
        class="mt-2" :titles="studentTitle" />

      <v-card
        class="px-2 my-5"
        style="border: 1px solid #b5b3b3;">
        <v-flex xs12>
          <basic-info
           :studentItem="registrar"
          />
        </v-flex>

        <v-tabs
          v-model="tab"
          background-color="transparent"
          grow
          show-arrows
        >
          <v-tab
            v-for="(item, index) in items"
            :key="index"
          >
            {{ item.title }}
          </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item
            v-for="(item, index) in items"
            :key="index"
          >
            <v-card
              flat
            >
            <keep-alive>
              <spdi-tab
                ref="spdi"
                :isLoading="isLoading"
                :tab="item"
                :fields="fields"
                :form="form"
                :personalfields="personalfields"
                :fathersFields="fathersFields"
                :mothersFields="mothersFields"
                :guardianFields="guardianFields"
                :careerFields="careerFields"
                :checklistFields="checklistFields"
                :educationFields="educationFields"
                :personalForm="personalForm"
                :personalErrors="personalErrors"
                :fathersForm="fathersForm"
                :mothersForm="mothersForm"
                :guardiansForm="guardiansForm"
                :educationForm="educationForm"
                :careerForm="careerForm"
                :checklistForm="checklistForm"
                v-if="tab === getTabIndex('Student Personal Data Inventory (SPDI)')"
              />
            </keep-alive>

            <keep-alive>
              <finance-charges 
                v-if="tab === getTabIndex('Charges/Adjustments')"
              />
            </keep-alive>

            <keep-alive>
              <finance-discount-tab
                v-if="tab === getTabIndex('Discount')"
              />
            </keep-alive>

            <keep-alive>
              <finance-assessment
                v-if="tab === getTabIndex('Assessment')"
              />
            </keep-alive>

            <keep-alive>
              <finance-payment
                :type="type"
                :headers="headers"
                v-if="tab === getTabIndex('Payment')"
              />
            </keep-alive>

            <keep-alive>
              <finance-history
                v-if="tab === getTabIndex('Account History')"
              />
            </keep-alive>

              <v-card-actions
                class="my-5"
                v-if="(pickedTab === 'Payment') && (type === 'Enrollment' || type === 'Entrance Exam')">
                <v-spacer />
                <v-btn
                  :width="btnWidth"
                  color="green"
                  :loading="approvalLoading"
                  class="white--text"
                  @click="approval(0)">
                  Approved
                </v-btn>
                <v-btn
                  dark
                  :width="btnWidth"
                  color="red"
                  :loading="disapprovalLoading"
                  @click="disapproval(1)">
                  Disapproved
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-tab-item>
        </v-tabs-items>

        <remarks-dialog
          :showDialog="dialog"
          @close="close"
          :title="title"
          @submit="submit"
          :items="checklist"
          @checkItem="checkItem"
        />

        <scroll-btn
          v-show="offsetTop > 1"
          @scrollPage="getTopPage()"
          icon="mdi-chevron-up"
          color="accent"
        />
      </v-card>
    </v-flex>
  </v-layout>
</v-container>
</template>
<script>
import defaultMixins from '@/mixins/index'
import fieldsMixins from '@/mixins/arraylist/personnel/fields-list'
import spdiMixins from '@/mixins/admin/spdi.js'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import { GET_ENROLLMENT_EXAM } from '@/graphql/queries'
export default {
  mixins: [
    defaultMixins,
    fieldsMixins,
    spdiMixins
  ],
  data () {
    return {
      offsetTop: 0,
      floatingTitle: [{
        name: 'Enrollment Form',
        icon: 'event',
        color: 'accent',
        flex: 'xs12'
      }],
      entranceFloatingTitle: [{
        name: 'Entrance Form',
        icon: 'event',
        color: 'accent',
        flex: 'xs12'
      }],
      studentTitle: [{
        name: 'Student Form',
        icon: 'event',
        color: 'accent',
        flex: 'xs12'
      }],
      tab: null,
      dialog: false,
      title: '',
      model: '',
      loading: false,
      tab: null,
      items: [
        {
          title: 'Student Personal Data Inventory (SPDI)',
          tabs: [
            {
              title: 'Personal Information',
              update: ''
            },
            {
              title: 'Family Information',
              update: ''
            },
            {
              title: 'Educational Background',
              update: ''
            }
          ]
        }
      ],
      form: [],
      pickedTab: '',
      checklist: [],
      approvalId: null,
      fathersForm: [
      {
        fathers_name: '',
        fathers_age: '',
        fathers_contact_no: '',
        fathers_occupation: '',
        father_works_abroad: ''
      }],
      mothersForm: [
      {
        mothers_name: '',
        mothers_age: '',
        mothers_contact_no: '',
        mothers_occupation: '',
        mother_works_abroad: ''
      }],
      guardiansForm: [
      {
        guardians_name: '',
        relation: '',
        contact_no: '',
        address: '',
        annual_income: ''
      }],
      isLoading: false,
      educationForm: [
      {
        elementary_school: '',
        elem_year_graduated: '',
        high_school: '',
        high_school_year_graduated: '',
        last_school_attended: '',
        last_sy_attended: '',
        last_year_level_attended: '',
        last_sem_attended: ''
      }],
      careerForm: [
      {
        first_choice: '',
        second_choice: '',
        third_choice: '',
        major: ''
      }],
      checklistForm: [
      {
        confidence: '',
        study_habits: '',
        work_schedule: '',
        diet: '',
        family: '',
        health: '',
        finances: '',
        not_interested: '',
        appearance: '',
        class_schedule: '',
        undecided: '',
        concentration: '',
        friends: '',
        privacy: '',
        others: '',
        other_field: ''
      }],
      personalForm: [{
        address: '',
        contact: '',
        civil_status: '',
        religion: '',
        social_account: '',
        student_id_number: ''
      }],
      approvalLoading: false,
      disapprovalLoading: false,
      personalErrors: {},
      headers: [
        {
          text: 'Date',
          align: 'center',
          sortable: true,
          value: 'date',
          title: 'Academic Year',
          icon: 'mdi-school',
          name: 'finance-payment-year-filter'
        },
        {
          text: 'Particulars',
          align: 'left',
          sortable: true,
          value: 'particulars',
          title: 'Semester',
          icon: 'collections_bookmark',
          name: 'finance-payment-semester-filter'
        },
        {
          text: 'Debit',
          align: 'left',
          sortable: true,
          value: 'debit',
          title: 'Payment Mode',
          icon: 'point_of_sale',
          name: 'finance-payment-mode-filter'
        },
        {
          text: 'Credit',
          align: 'left',
          sortable: true,
          value: 'credit'
        },
        {
          text: 'Balance',
          align: 'left',
          sortable: true,
          value: 'balance'
        }
      ],
    }
  },
  watch: {
    tab (val) {
      this.pickedTab = this.items[val].title
    }
  },
  computed: {
    ...mapGetters('user', ['registrar', 'user']),
    btnWidth () {
      if (this.$vuetify.breakpoint.smAndUp) return '150px'
      return ''
    }
  },
  mounted () {
    this.setFinanceTabs()
    this.isStudent()
    this.fetchStudentInfo()
    this.setIsViewForm(false)
    this.setDefaultMode()
  },
  methods: {
    ...mapActions('applicants', ['POST_APPROVALS']),
    ...mapMutations('form', ['setIsViewForm', 'setIsViewChecked']),
    ...mapMutations('filters', ['SET_PAYMENT_MODE']),
    setDefaultMode () {
      if (this.type === 'Enrollment') {
        this.SET_PAYMENT_MODE('Registration')
      } else if (this.type === 'Entrance Exam') {
        this.SET_PAYMENT_MODE('Non-Student')
      } else {
        this.SET_PAYMENT_MODE('Tuition & Other Fees')
      }
    },
    onScroll (e) {
      this.offsetTop = window.pageYOffset || document.documentElement.scrollTop
    },
    close () {
      this.dialog = false
    },
    approval (val) {
      this.approvalId = val
      this.dialog = true
      this.title = 'Approve'
    },
    disapproval (val) {
      this.approvalId = val
      this.dialog = true
      this.title = 'Disapprove'
    },
    submit (remarks) {
      if (this.approvalId === 1) {
        const hasItem = this.checklist.filter(item => item.disabled === false)
        if (hasItem) {
          const mapitems = hasItem.map(item => item.title)
          let payload = {
            type: this.registrar.submission_type,
            user_type_id: this.user.user_type_id,
            files: String(mapitems),
            icon: 'mdi-close-circle',
            reason: remarks,
            user_id: this.registrar.user_info ? this.registrar.user_info.id : null,
            status: 'Disapproved'
          }
          this.postApprovals(payload)
        }
      } else {
        let payload = {
          type: this.registrar.submission_type,
          user_type_id: this.user.user_type_id,
          icon: 'mdi-check-circle',
          user_id: this.registrar.user_info ? this.registrar.user_info.id : null,
          reason: '',
          status: 'Approved'
        }
        this.postApprovals(payload)
      }
      this.dialog = false
    },
    checkResult (val) {
      const hasItem = this.checklist.filter(item => item.title === val)
      if (global._.isEmpty(hasItem)) {
        this.checklist.push({
          title: val,
          disabled: false
        })
      }
    },
    postApprovals (payload) {
      if (this.title === 'Approve') {
        this.approvalLoading = true
      } else {
        this.disapprovalLoading = true
      }
      this.POST_APPROVALS(payload).then(data => {
        if (this.type === 'Entrance Exam') {
           this.$router.push({ name: 'finance-entrance-academic-filter' })
        } else if (this.type === 'Student') {
          this.$router.push({ name: 'finance-stud-year-filter' })
        } else {
          this.$router.push({ name: 'finance-year-filter' })
        }
      }).catch(data => {
        console.log(data)
      }).finally(() => {
        if (this.title === 'Approve') {
          this.approvalLoading = false
        } else {
          this.disapprovalLoading = false
        }
      })
    },
    fetchStudentInfo () {
      let id = global._.isUndefined(this.registrar) ? null : this.registrar.user_info.id
      if (!global._.isNull(id)) {
        this.$apollo.query({
          query: GET_ENROLLMENT_EXAM,
          variables: {
            id: id
          }
        }).then(({ data, loading }) => {
          this.isLoading = loading
          if (data.studentInfo) {
            let payload = {
              id: id,
              icon: 'mdi-check-circle'
            }
            if (data.studentInfo.student_info) {
              let personalItems = global._.merge(data.studentInfo.spdi_checklist, data.studentInfo.student_info)
              this.setPersonalData(payload, personalItems)
            } else {
              this.setPersonalData(payload, data.studentInfo.spdi_checklist)
            }
            this.setFamData(payload, data.studentInfo.spdi_family_bg)
            this.setEducData(payload, data.studentInfo.spdi_education_bg)
          }
        })
        .catch(error => {
          if (error.graphQLErrors) {
            console.log('graphQLErrors:', error.graphQLErrors)
          }
          if (error.networkError) {
            console.log('networkError:', error.networkError)
          }
          if (error.ServerError) {
            console.log('ServerError:', error.ServerError)
          }
        })
      }
    },
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.setFinanceTabs()
      vm.fetchStudentInfo()
    })
  }
}
</script>
