<template>
<v-container fluid>
  <v-card flat>
    <header-component
      :isSearch="false"
      :isFilter="true"
      :isAdd="true"
      btnTitle="Assign Discount"
      hint="Enter Discount Name"
      @clickDialog="addItem"
      @reset="RESET_FILTERS()"
      :filterItems="headers"
      :isSwitched="isSwitched"
      @openFilter="openFilter()"
      @closeFilter="closeFilter()"
    />

    <v-layout wrap justify-center align-center>
      <v-flex xs12 class="mt-5">
        <floating-card :titles="title" />
      </v-flex>
      <v-flex xs12>
        <v-card
        class="my-6">
          <v-card-title class="my-5" />
          <v-flex xs12
            @scroll="onScroll"
            class="full-width-table">
            <v-data-table
              ref="table"
              :headers="headers"
              :items="studentDiscountItems"
              :page.sync="page"
              :items-per-page="itemsPerPage"
              @page-count="pageCount = $event"
              hide-default-footer
              :options.sync="options"
              :server-items-length="studDiscountDount"
              class="text-table-color font-weight-medium"
              hide-default-footer
              :fixed-header="true"
              :loading="studDiscountLoading"
              loading-text="Loading... Please wait"
              @click:row="editItem($event)"
             >
             <template v-slot:item.discount_status="{ item }">
              <v-chip
                :color="setColor(item.discount_status)"
                dark
                label
              >
                {{ item.discount_status }}
              </v-chip>
            </template>
            </v-data-table>
          </v-flex>
          <v-flex xs12 class="text-center pt-3 pb-0">
            <v-pagination
              v-show="pageCount > 1"
              v-model="page"
              :length="pageCount"
              :total-visible="10"
            ></v-pagination>
          </v-flex>
          <v-flex xs12>
            <v-card-actions
              v-show="studDiscountDount > 0">
              <v-spacer />
                <small>Total of <span class="blue--text">{{ studDiscountDount }} </span> <span>{{ studentDiscountItems.length > 1 ? 'Items' : 'Item'}}</span></small>
            </v-card-actions>
          </v-flex>
       </v-card>
      </v-flex>
    </v-layout>

    <v-dialog
      v-model="dialog"
      width="900"
      persistent
      v-esc="escape">
      <v-card>
        <v-card-actions class="pb-0">
          <div class="flex-grow-1">
            <v-card-title class="accent--text">{{ isAssign ? 'Assign' : 'Change' }} Discount</v-card-title>
          </div>
          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-icon
                v-show="!isAssign"
                @click="doDelete()"
                v-on="on"
                color="red"
                light
                class="mx-2 pb-1"
              >
                mdi-delete
              </v-icon>
            </template>
            <span>Delete</span>
          </v-tooltip>     
          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-btn
                v-on="on"
                @click="close"
                text
                fab>
                <v-icon medium color="red">mdi-close</v-icon>
              </v-btn>
            </template>
            <span>Close</span>
          </v-tooltip>
        </v-card-actions>
        <v-divider class="mx-2" />
        <v-layout wrap>
          <v-flex xs12>
            <v-form ref="form">
              <v-card-title>
                <v-layout wrap justify-center align-center>
                  <v-flex xs12 md6>
                    <small>School Year
                      <span class="pl-1" style="color: red;">*</span>
                    </small>
                    <v-autocomplete
                      :items="years"
                      v-model="formData.school_year_id"
                      clearable
                      item-text="school_year"
                      item-value="school_year_id"
                      hide-no-data
                      return-string
                      dense
                      class="mx-2"
                      clear-icon="mdi-close-circle"
                      :error-messages="errors['school_year_id']"
                    />
                  </v-flex>
                  <v-flex xs12 md6>
                    <small>Semester
                      <span class="pl-1" style="color: red;">*</span>
                    </small>
                    <v-autocomplete
                      :items="currSemesterItems"
                      v-model="formData.semester_id"
                      clearable
                      item-text="semester"
                      item-value="semester_id"
                      hide-no-data
                      return-string
                      dense
                      class="mx-2"
                      clear-icon="mdi-close-circle"
                      :error-messages="errors['semester_id']"
                    />
                  </v-flex>
                  <v-flex xs12 md6>
                    <small>Discount
                      <span class="pl-1" style="color: red;">*</span>
                    </small>
                    <v-autocomplete
                      :items="discounts"
                      v-model="formData.discount"
                      clearable
                      item-text="name"
                      item-value="id"
                      hide-no-data
                      return-object
                      dense
                      class="mx-2"
                      clear-icon="mdi-close-circle"
                      :error-messages="errors['semester_id']"
                    />
                  </v-flex>
                  <v-flex xs12 md6>
                    <small>Percentage
                      <span class="pl-1" style="color: red;">*</span>
                    </small>
                    <v-text-field
                      v-model="formData.percentage"
                      color="accent"
                      dense
                      class="mx-2"
                      :error-messages="errors['percentage']"
                      append-outer-icon="fas fa-percent">
                    </v-text-field>
                  </v-flex>
                </v-layout>
              </v-card-title>
            </v-form>
          </v-flex>
        </v-layout>

        <v-card-actions class="py-5">
          <v-spacer />
          <v-btn
            :loading="saveLoading"
            color="accent"
            width="100px"
            class="white--text mr-3 mt-2 text-none"
            @click="isAssign ? save() : edit()">Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
  
<v-snackbar
  top
  right
  v-model="isSnackbar"
  :color="color"
  class="caption"
  timeout="1500">
  <v-card-actions class="ma-0 pa-0">
    {{ text }}
    <v-spacer />
    <v-btn
      color="white"
      text
      icon
      right
      @click="isSnackbar = false"
      class="caption">
      <v-icon>clear</v-icon>
    </v-btn>
  </v-card-actions>
</v-snackbar>
</v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import defaultMixins from '@/mixins/index'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import feesQueryMixins from '@/mixins/queries/finance/feesQueries'
export default {
  mixins: [
    formMixins,
    defaultMixins,
    feesQueryMixins
  ],
  data: () => ({
    studDiscountLoading: false,
    dialog: false,
    formData: {
      school_year_id: '',
      semester_id: '',
      discount_id: '',
      percentage: ''
    },
    formItem: {
      school_year_id: '',
      semester_id: '',
      discount_id: '',
      percentage: ''
    },
    title: [
      {
        name: 'Discount',
        icon: 'local_offer',
        color: 'accent',
        flex: 'xs12'
      }
    ],
    headers: [
      {
        text: 'School Year',
        align: 'center',
        sortable: true,
        value: 'school_year',
        title: 'Academic Year',
        icon: 'mdi-school',
        name: 'finance-payment-year-filter',
        params: 'Old',
        field: ''
      },
      {
        text: 'Semester',
        align: 'center',
        sortable: true,
        value: 'semester',
        title: 'Semester',
        icon: 'collections_bookmark',
        name: 'finance-payment-semester-filter',
        params: 'Old',
        field: ''
      },
      {
        text: 'Discount',
        align: 'center',
        sortable: true,
        value: 'name',
        title: 'Type of Discount',
        icon: 'local_offer',
        name: 'finance-discount-tab-types-filter',
        params: 'Old',
        field: ''
      },
      {
        text: 'Percentage',
        align: 'center',
        sortable: true,
        value: 'percentage'
      }
    ],
    skip: 0,
    take: 10,
    studDiscountDount: 0,
    discounts: [],
    saveLoading: false,
    deleteLoading: false,
    isSnackbar: false,
    color: '',
    text: '',
    isAssign: false,
    discountId: null,
    bottom: false,
    dataList: [],
    isSwitched: false,
    loading: false,
    errors: [],
    years: [],
    currSemesterItems: [],
    skipDiscountQuery: false,
    studentDiscountItems: [],
    sySemesterQuery: true,
    skipSYQuery: false,
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    options: {},
    currPage: null,
    prevPage: null,
    skipItems: null,
    takeItems: null
  }),
  computed: {
    ...mapGetters('filters', ['academic_year_id', 'semester_id', 'discount_type']),
    ...mapGetters('user', ['registrar']),
    choices () {
      return {
        discounts: this.discounts,
        school_years: this.years,
        semesters: this.currSemesterItems
      }
    }
  },
  watch: {
    options: {
      handler (old, newx) {
        this.skipItems = global._.isUndefined(newx.itemsPerPage) ? 0 : newx.itemsPerPage
        this.takeItems = old.itemsPerPage
        this.prevPage = global._.isUndefined(newx.page) ? 0 : newx.page
        this.currPage = old.page
        let skip = this.sortSkipped(this.skipItems, this.currPage, old.itemsPerPage)
        let take = old.itemsPerPage
        this.skip = skip
        this.take = take
        this.$apollo.queries.studentDiscountQuery.refetch()
      },
      deep: true
    },
    'formData.school_year_id' (val) {
      if (val) {
        this.sySemesterQuery = false
        this.$apollo.queries.semesterCurriculum.refresh()
      }
    },
    'formData.discount' (val) {
      if (val) {
        this.formData.percentage = val.percentage_name ? val.percentage_name : val.percentage
        this.formData.discount_id = val.id
      }
    },
    academic_year_id (val) {
      if (val) {
        this.page = 1
        this.$apollo.queries.semesterCurriculum.refresh()
      }
    },
    semester_id (val) {
      if (val) {
        this.page = 1
        this.$apollo.queries.semesterCurriculum.refresh()
      }
    },
    discount_type (val) {
      if (val) {
        this.page = 1
        this.$apollo.queries.semesterCurriculum.refresh()
      }
    },
  },
  methods: {
    ...mapMutations('filters', ['RESET_FILTERS']),
    ...mapActions('curricula', ['POST_STUDENT_DISCOUNT', 'DELETE_STUDENT_DISCOUNT', 'PATCH_STUDENT_DISCOUNT']),
    escape () {
      this.$emit('close')
    },
    openFilter () {
      this.isSwitched = true
    },
    closeFilter () {
      this.isSwitched = false
    },
    setColor(item) {
      return item == 'Active' ? 'green' : 'red'
    },
    close () {
      this.dialog = false
    },
    addItem () {
      this.formData = Object.assign({}, this.formItem)
      this.isAssign = true
      this.dialog = true
    },
    editItem (item) {
      this.discountId = item.id
      this.formData = Object.assign({}, item)
      this.isAssign = false
      this.dialog = true
    },
    save () {
      let payload = {
        ...this.formData,
        user_id: this.registrar.user_info.id
      }
      this.POST_STUDENT_DISCOUNT(payload).then(data => {
        this.snackbar(`${data.data.message}`, `${data.data.status}`)
        this.$apollo.queries.studentDiscountQuery.refetch()
        this.errors = {}
        this.dialog = false
      }).catch(err => {
        this.errors = err.errors
      })
    },
    edit () {
      let payload = {
        ...this.formData,
        user_id: this.registrar.user_info.id
      }
      this.PATCH_STUDENT_DISCOUNT(payload).then(data => {
        this.snackbar(`${data.data.message}`, 'success')
        this.$apollo.queries.studentDiscountQuery.refetch()
        this.errors = {}
        this.dialog = false
      }).catch(err => {
        this.errors = err.errors
      })
    },
    doDelete () {
      this.DELETE_STUDENT_DISCOUNT({ id: this.formData.id }).then(data => {
        this.snackbar(`${data.data.message}`, 'error')
        this.$apollo.queries.studentDiscountQuery.refetch()
        this.dialog = false
      }).catch(errors => {
        console.log(errors)
      })
    },
    onScroll (e) {
      const tableHeight = (this.$refs.table.$el.offsetHeight) - (e.srcElement.offsetHeight + 50)
      if (e.srcElement.scrollTop > tableHeight && !this.studDiscountLoading) {
        this.studDiscountLoading = true
        this.take++
        this.$apollo.queries.studentDiscountQuery.refetch()
      } else {
        this.take--
        this.$apollo.queries.studentDiscountQuery.refetch()
      }
    }
  }
}
</script>
