<template>
  <v-container fluid>
    <v-card flat>
      <header-component
        :isSearch="false"
        :isFilter="true"
        :isExport="false"
        :isEnroll="false"
        :isAdd="true"
        @clickDialog="doExport()"
        @clear="clear()"
        @enter="doSearch"
        @reset="resetFilters()"
        :isSwitched="isSwitched"
        @openFilter="openFilter()"
        @closeFilter="closeFilter()"
        :filterItems="headers"
        btnTitle="Export"
        :loading="addLoading"
      />
      <v-layout wrap>
        <v-flex xs12 md4>
          <v-layout wrap justify-center align-center>
            <v-flex xs12 class="mt-5">
              <floating-card :titles="title" />
            </v-flex>
            <v-flex xs12>
            <v-card
              tile :min-height="cardHeight">
             <v-card-title class="my-5" />
             <v-flex xs12
                @scroll="onScroll"
                class="full-width-table">
              <v-data-table
                  ref="table"
                  :headers="headers"
                  :items="assessmentItems"
                  :page.sync="page"
                  :items-per-page="itemsPerPage"
                  @page-count="pageCount = $event"
                  v-bind="rowsPerPage"
                  class="text-table-color font-weight-medium"
                  hide-default-footer
                  :fixed-header="true"
                  :loading="assessLoading"
                  loading-text="Loading... Please wait"
                 >
                <template v-slot:item.fee_amount="{ item }">
                  <span>{{ numberFormat(item.fee_amount) }}</span>
                </template>
              </v-data-table>
            </v-flex>
            <v-flex xs12>
              <v-card-actions>
                <h4 class="mx-2 text-center font-weight-medium">Total Tuition and Other Fees:</h4>
                <v-spacer />
                <h4 class="mx-2 text-center font-weight-medium">{{ numberFormat(totalAmount(assessmentItems)) }}</h4>
              </v-card-actions>
              <v-card-actions>
                <h4 class="mx-2 text-center font-weight-medium">Due per Examination:</h4>
                <v-spacer />
                <h4 class="mx-2 text-center font-weight-medium">{{ numberFormat(duePerExam) }}</h4>
              </v-card-actions>
            </v-flex>
            <v-flex xs12>
              <v-card-actions
                class="mt-12"
                v-show="assessCount > 0">
                <v-spacer />
                <small>Total of <span class="blue--text">{{ assessmentItems.length }}/{{ assessCount }} </span> <span>{{ assessmentItems.length > 1 ? 'Items' : 'Item'}}</span></small>
              </v-card-actions>
            </v-flex>
           </v-card>
          </v-flex>
        </v-layout>
        </v-flex>
        <v-flex xs12 md8>
          <v-layout wrap justify-center align-center>
            <v-flex xs12 class="mt-5">
              <floating-card :titles="title1" />
            </v-flex>
            <v-flex xs12>
            <v-card
              tile
              :min-height="cardHeight"
              :class="cardClass">
             <v-card-title class="my-5" />
             <v-flex xs12
                @scroll="onLedgerScroll"
                class="full-width-table">
                <v-data-table
                  ref="table"
                  :headers="headers1"
                  :items="ledgerItems"
                  :page.sync="page1"
                  :items-per-page="itemsPerPage1"
                  v-bind="rowsPerPage1"
                  @page-count="pageCount1 = $event"
                  class="text-table-color font-weight-medium"
                  hide-default-footer
                  :fixed-header="true"
                  :loading="ledgerLoading"
                  loading-text="Loading... Please wait"
                >
                <template v-slot:item.debit="{ item }">
                  <span>{{ item.debit ? numberFormat(item.debit) : item.debit }}</span>
                </template>
                <template v-slot:item.credit="{ item }">
                  <span>{{ item.credit ? numberFormat(item.credit) : item.credit }}</span>
                </template>
                <template v-slot:item.balance="{ item }">
                  <span>{{ item.balance ? numberFormat(item.balance) : item.balance }}</span>
                </template>
              </v-data-table>
            </v-flex>
            <v-flex xs12>
              <v-card-actions class="my-6">
                <h4 class="mx-5 text-center font-weight-medium"></h4>
                <v-spacer />
                <h4 class="mx-5 text-center font-weight-medium"></h4>
              </v-card-actions>
              <v-card-actions>
              </v-card-actions>
            </v-flex>
            <v-flex xs12>
              <v-card-actions
                class="mt-12"
                v-show="ledgerCount > 0">
                <v-spacer />
                <small>Total of <span class="blue--text">{{ ledgerItems.length - 2 }}/{{ ledgerCount }} </span> <span>{{ ledgerItems.length - 2 > 1 ? 'Items' : 'Item'}}</span></small>
              </v-card-actions>
            </v-flex>
           </v-card>
          </v-flex>
        </v-layout>
        </v-flex>
       <v-flex xs12>
       <v-card-actions>
          <span class="my-2 grey--text font-italic">Warning: Changing of fees after accepting enrollees will affect assessment computation.</span>
       </v-card-actions>
       </v-flex>
      </v-layout>
    </v-card>

    <finance-export-dialog
      :showDialog="exportDialog"
      @close="exportDialog = false"
      @printAssessment="printAssessment"
      :assessLink="assessLink"
      @printLedger="printLedger"
      :ledgerLink="ledgerLink"
      :isAssessment="userType !== 9"
      :isLedger="userType !== 9"
      :isCor="userType === 9"
      @printCOR="printCOR"
      :corLink="corLink"
    />

  </v-container>
</template>
<script type="text/javascript">
  import defaultMixins from '@/mixins/index'
  import calculationsMixins from '@/mixins/calculations'
  import { mapGetters, mapMutations } from 'vuex'
  import assessmentQueriesMixins from '@/mixins/queries/finance/assessmentQueries'
  export default {
    mixins: [
      assessmentQueriesMixins,
      calculationsMixins,
      defaultMixins
    ],
    data () {
      return {
        rowsPerPage: {
          'footer-props': {
            'items-per-page-options': [10]
          }
        },
        page: 1,
        pageCount: 0,
        itemsPerPage: 10,
        rowsPerPage1: {
          'footer-props': {
            'items-per-page-options': [10]
          }
        },
        page1: 1,
        pageCount1: 0,
        itemsPerPage1: 10,
        addLoading: false,
        title: [
          {
            name: 'Tuition and Other Fees',
            icon: 'text_snippet',
            color: 'accent',
            flex: 'xs12'
          }
        ],
        title1: [
          {
            name: 'Student Ledger',
            icon: 'history_edu',
            color: 'accent',
            flex: 'xs12'
          }
        ],
        headers: [
          {
            text: 'Description',
            align: 'left',
            sortable: true,
            value: 'fee_description',
            title: 'Academic School Year',
            icon: 'mdi-school',
            name: 'finance-payment-year-filter'
          },
          {
            text: 'Amount',
            align: 'right',
            sortable: true,
            value: 'fee_amount',
            title: 'Semester',
            icon: 'local_library',
            name: 'finance-payment-semester-filter'
          }
        ],
        headers1: [
          {
            text: 'Date',
            align: 'center',
            sortable: true,
            value: 'date'
          },
          {
            text: 'Particulars',
            align: 'left',
            sortable: true,
            value: 'particulars'
          },
          {
            text: 'Debit',
            align: 'left',
            sortable: true,
            value: 'debit'
          },
          {
            text: 'Credit',
            align: 'left',
            sortable: true,
            value: 'credit'
          },
          {
            text: 'Balance',
            align: 'left',
            sortable: true,
            value: 'balance'
          }
        ],
        isSwitched: false,
        skip: 0,
        take: 10,
        count: 0,
        ledgerItems: [],
        assessmentItems: [],
        skipAssessmentQuery: false,
        skipPeriodQuery: false,
        countExamPeriods: 0,
        ledgerCount: 0,
        assessCount: 0,
        assessLoading: false,
        ledgerLoading: false,
        exportDialog: false,
        ledgerskip: 10,
        ledgerTake: 0,
        skipLedgerQuery: false,
        ledgerLink: '',
        assessLink: '',
        corLink: '',
        due_per_exam: 0
      }
    },
    computed: {
      ...mapGetters('filters', ['search', 'academic_year_id', 'semester_id']),
      ...mapGetters('user', ['registrar']),
      setSearch: {
        get: function () {
          return this.search
        },
        // setter
        set: function (value) {
          return this.SET_SEARCH(value)
        }
      },
      fontSize () {
        return 'caption-1'
      },
      duePerExam () {
        if (this.due_per_exam > 0) {
          return global._.round(this.due_per_exam, 2)
        } else {
          return this.due_per_exam
        }
      },
      cardHeight () {
        if (this.$vuetify.breakpoint.smAndUp) return '800px'
        return ''
      },
      cardClass () {
        if (this.$vuetify.breakpoint.smAndDown) return 'mt-3'
        return 'mx-1'
      }
    },
    methods: {
    ...mapMutations('filters', ['SET_SEARCH', 'RESET_FILTERS']),
      doExport () {
        this.exportDialog = true
      },
      resetFilters () {
        this.RESET_FILTERS()
        this.clear()
      },
      clear () {
        this.setSearch = ''
      },
      doSearch (val) {
        this.setSearch = val
      },
      openFilter () {
        this.isSwitched = true
      },
      closeFilter () {
        this.isSwitched = false
      },
      printAssessment () {
        this.assessLink = `${process.env.VUE_APP_URL}api/exports/pdf/student_assessment/${this.registrar.user_info.id}/${this.registrar.school_year_id}/${this.registrar.semester_id}/${this.registrar.year_level_id}/${this.registrar.program_id}/${this.registrar.revision_id}/${this.registrar.scheme === '311' ? 'CSC' : this.registrar.scheme === '211' ? 'NSA' : 'Fee'}`
      },
      printLedger () {
        this.ledgerLink = `${process.env.VUE_APP_URL}api/exports/pdf/student_ledger/${this.registrar.user_info.id}/${this.registrar.school_year_id}/${this.registrar.semester_id}/${this.registrar.year_level_id}/${this.registrar.program_id}/${this.registrar.revision_id}/${this.registrar.scheme === '311' ? 'CSC' : this.registrar.scheme === '211' ? 'NSA' : 'Fee'}`
      },
      printCOR () {
        this.corLink = `${process.env.VUE_APP_URL}api/exports/pdf/student_cor/${this.registrar.user_info.id}/${this.registrar.school_year_id}/${this.registrar.semester_id}/${this.registrar.year_level_id}/${this.registrar.program_id}/${this.registrar.revision_id}/${this.registrar.scheme === '311' ? 'CSC' : this.registrar.scheme === '211' ? 'NSA' : 'Fee'}`
      },
      onScroll (e) {
        const tableHeight = (this.$refs.table.$el.offsetHeight) - (e.srcElement.offsetHeight + 50)
        if (e.srcElement.scrollTop > tableHeight && !this.assessLoading) {
          this.assessLoading = true
          this.take++
          this.$apollo.queries.studentAssessmentQuery.refetch()
        } else {
          this.take--
          this.$apollo.queries.studentAssessmentQuery.refetch()
        }
      },
      onLedgerScroll (e) {
        const tableHeight = (this.$refs.table.$el.offsetHeight) - (e.srcElement.offsetHeight + 50)
        if (e.srcElement.scrollTop > tableHeight && !this.ledgerLoading) {
          this.ledgerLoading = true
          this.ledgerTake++
          this.$apollo.queries.studentLedgerQuery.refetch()
        } else {
          this.ledgerTake--
          this.$apollo.queries.studentLedgerQuery.refetch()
        }
      }
    }
  }
</script>
