<template>
  <v-container fluid>
    <v-card flat>
    <!-- <header-component
        :isSearch="false"
        :isFilter="false"
        :isExport="false"
        :isEnroll="true"
        :isAdd="false"
        @clear="clear()"
        @enter="doSearch"
        :loading="addLoading"
        @enroll="doExport()"
        btnEnrollTitle="Export"
      /> -->
        <v-layout wrap justify-center align-center>
          <v-flex xs12 class="mt-5">
            <floating-card :titles="paymentTitle" />
          </v-flex>
          <v-flex xs12>
            <v-card
              class="my-6">
            <v-card-title class="my-5" />
            <v-layout wrap>
              <v-flex xs12 md6>
                <v-card tile :min-height="cardHeight">
                  <v-card-title>
                    <v-layout wrap justify-center align-center>
                      <v-flex xs12>
                        <v-layout wrap>
                          <v-flex xs12 md4>
                            <v-autocomplete
                              :items="years"
                              v-model="setYear"
                              clearable
                              label="Select School Year"
                              outlined
                              item-text="school_year"
                              item-value="id"
                              hide-no-data
                              return-string
                              dense
                              class="mx-2"
                              clear-icon="mdi-close-circle"
                            />
                          </v-flex>
                          <v-flex xs12 md4>
                            <v-autocomplete
                              :items="semesters"
                              v-model="setSemester"
                              clearable
                              label="Select Semester"
                              outlined
                              item-text="semester"
                              item-value="id"
                              hide-no-data
                              return-string
                              dense
                              class="mx-2"
                              clear-icon="mdi-close-circle"
                            />
                          </v-flex>
                          <v-flex xs12 md4>
                            <v-autocomplete
                              :items="paymentModes"
                              v-model="setPaymentMode"
                              clearable
                              label="Select Payment Mode"
                              outlined
                              hide-no-data
                              return-string
                              dense
                              class="mx-2"
                              clear-icon="mdi-close-circle"
                            />
                          </v-flex>
                        </v-layout>
                      </v-flex>
                      <v-flex xs12
                        v-if="payment_mode === 'Tuition & Other Fees'">
                        <v-layout wrap>
                          <v-flex xs12 md10>
                            <v-layout wrap justify-center align-center>
                              <v-flex :xs7="$vuetify.breakpoint.smAndUp" :xs6="$vuetify.breakpoint.smAndDown">
                                <small :class="fontClass">Total Assessment:</small>
                                {{ errors['total_assessment'] }}
                              </v-flex>
                              <v-flex :xs5="$vuetify.breakpoint.smAndUp" :xs6="$vuetify.breakpoint.smAndDown"
                                class="text-right">
                                <small :class="fontClass" class="font-weight-bold">{{ totalAssessment }}</small>
                              </v-flex>
                            </v-layout>
                          </v-flex>
                          <v-flex xs12 md10>
                            <v-layout wrap justify-center align-center>
                              <v-flex :xs7="$vuetify.breakpoint.smAndUp" :xs6="$vuetify.breakpoint.smAndDown">
                                <small :class="fontClass">Total Payments:</small>
                                {{ errors['total_payments'] }}
                              </v-flex>
                              <v-flex :xs5="$vuetify.breakpoint.smAndUp" :xs6="$vuetify.breakpoint.smAndDown"
                                class="text-right">
                                <small :class="fontClass" class="font-weight-bold">{{ totalPayments }}</small>
                              </v-flex>
                            </v-layout>
                          </v-flex>
                          <v-flex xs12 md10>
                            <v-layout wrap justify-center align-center>
                              <v-flex :xs7="$vuetify.breakpoint.smAndUp" :xs6="$vuetify.breakpoint.smAndDown">
                                <small :class="fontClass">Total Balance:</small>
                                {{ errors['total_balance'] }}
                              </v-flex>
                              <v-flex :xs5="$vuetify.breakpoint.smAndUp" :xs6="$vuetify.breakpoint.smAndDown"
                                class="text-right">
                                <small :class="fontClass" class="font-weight-bold">{{ totalBalance }}</small>
                              </v-flex>
                            </v-layout>
                          </v-flex>
                          <v-flex xs12 md10>
                            <v-layout wrap justify-center align-center>
                              <v-flex :xs7="$vuetify.breakpoint.smAndUp" :xs6="$vuetify.breakpoint.smAndDown">
                                <small :class="fontClass">Current Due:</small>
                                {{ errors['current_due'] }}
                              </v-flex>
                              <v-flex :xs5="$vuetify.breakpoint.smAndUp" :xs6="$vuetify.breakpoint.smAndDown"
                                class="text-right">
                                <small :class="fontClass" class="font-weight-bold">{{ currentDue }}</small>
                              </v-flex>
                            </v-layout>
                          </v-flex>
                          <v-flex xs12 md10>
                            <v-layout wrap justify-center align-center>
                              <v-flex :xs7="$vuetify.breakpoint.smAndUp" :xs6="$vuetify.breakpoint.smAndDown">
                                <small :class="fontClass">Previous Balance:</small>
                                {{ errors['prev_balance'] }}
                              </v-flex>
                              <v-flex :xs5="$vuetify.breakpoint.smAndUp" :xs6="$vuetify.breakpoint.smAndDown"
                                class="text-right">
                                <small :class="fontClass" class="font-weight-bold">{{ prevBalance }}</small>
                              </v-flex>
                            </v-layout>
                          </v-flex>
                        </v-layout>    
                      </v-flex>
                      <v-flex xs12
                        v-else-if="payment_mode === 'Registration'">
                        <v-layout wrap justify-right align-right>
                          <v-flex xs12>
                            <v-layout wrap justify-center align-center>
                              <v-flex :xs7="$vuetify.breakpoint.smAndUp" :xs6="$vuetify.breakpoint.smAndDown">
                                <small :class="fontClass">Back Accounts:</small>
                                {{ errors['prev_balance'] }}
                              </v-flex>
                              <v-flex :xs5="$vuetify.breakpoint.smAndUp" :xs6="$vuetify.breakpoint.smAndDown">
                                <small :class="fontClass" class="font-weight-bold">{{ backAccounts }}</small>
                              </v-flex>
                            </v-layout>
                          </v-flex>
                          <v-flex xs12>
                            <v-layout wrap justify-center align-center>
                              <v-flex :xs7="$vuetify.breakpoint.smAndUp" :xs6="$vuetify.breakpoint.smAndDown">
                                <small :class="fontClass">Registration Fee:</small>
                                {{ errors['registration_fee'] }}
                              </v-flex>
                              <v-flex :xs5="$vuetify.breakpoint.smAndUp" :xs6="$vuetify.breakpoint.smAndDown">
                                <small :class="fontClass" class="font-weight-bold">{{ regFee }}</small>
                              </v-flex>
                            </v-layout>
                          </v-flex>
                        </v-layout>   
                      </v-flex>
                      <v-flex xs12
                        v-else>
                        <v-layout wrap justify-right align-right>
                          <v-flex xs12>
                            <small class="ml-3">Account Type
                              <span class="pl-1" style="color: red;">*</span>
                            </small>
                            <v-autocomplete
                              :items="types"
                              v-model="account_type"
                              clearable
                              hide-no-data
                              return-string
                              dense
                              deletable-chips
                              class="mx-2"
                              clear-icon="mdi-close-circle"
                            ></v-autocomplete>
                          </v-flex>
                          <v-flex xs12>
                            <small class="ml-3">Account Code
                              <span class="pl-1" style="color: red;">*</span>
                            </small>
                            <v-autocomplete
                              :items="accountCodes"
                              v-model="formItem.account_code"
                              :search-input.sync="search_code"
                              clearable
                              placeholder="Search Code #"
                              item-text="account_code"
                              item-value="id"
                              hide-no-data
                              return-object
                              clear-icon="mdi-close-circle"
                              dense
                              class="mx-1"
                              :error-messages="errors['account_code']">
                              <template v-slot:item="data">
                                <v-list-item-content>
                                  <v-list-item-content>
                                    <v-list-item-title class="accent--text">{{ data.item.account_code }}</v-list-item-title>
                                    <v-list-item-subtitle>{{ data.item.description }}</v-list-item-subtitle>
                                  </v-list-item-content>
                                </v-list-item-content>
                              </template>
                            </v-autocomplete>
                          </v-flex>
                          <v-flex xs12>
                            <small class="ml-3">Description
                              <span class="pl-1" style="color: red;">*</span>
                            </small>
                            <v-text-field
                              class="mx-1"
                              dense
                              required
                              v-model="formItem.description"
                              :error-messages="errors['description']"
                            ></v-text-field>
                          </v-flex>
                        </v-layout>
                      </v-flex>
                    </v-layout>
                    <v-layout wrap class="mt-5">
                      <strong class="my-2">Payment</strong>
                      <v-flex xs12>
                        <small class="ml-3">OR Number:
                          <span class="pl-1" style="color: red;">*</span>
                        </small>
                        <v-text-field
                          class="mx-1"
                          dense
                          required
                          :disabled="isPaid"
                          type="number"
                          v-model="formItem.or_number"
                          :error-messages="errors['or_number']"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12>
                        <small class="ml-3">Amount Paid:
                          <span class="pl-1" style="color: red;">*</span>
                        </small>
                        <v-text-field
                          class="mx-1"
                          dense
                          required
                          :disabled="isPaid"
                          type="number"
                          v-model="formItem.amount_paid"
                          :error-messages="errors['amount_paid']"
                        ></v-text-field>
                      </v-flex>
                    </v-layout>
                  </v-card-title>

                  <v-card-actions class="py-5">
                    <v-spacer />
                    <v-btn
                      :loading="saveLoading"
                      color="accent"
                      width="100px"
                      :disabled="isPaid"
                      class="white--text mr-3 mt-2 text-none"
                      @click="save()">Save
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-flex>
              <v-flex xs12 sm12 md6>
                <v-card tile :min-height="cardHeight" :class="cardClass">
                  <v-layout wrap>
                    <v-flex xs12
                      @scroll="onScroll"
                      class="full-width-table">
                      <v-data-table
                          ref="table"
                          :headers="headers"
                          :items="ledgerItems"
                          :items-per-page="take"
                          class="text-table-color font-weight-bold"
                          hide-default-footer
                          :fixed-header="true"
                          :loading="ledgerLoading"
                          loading-text="Loading... Please wait"
                        >
                        <template v-slot:item.particulars="{ item }">
                          <p class="text-left mb-0">{{ item.particulars }}</p>
                        </template>
                        <template v-slot:item.debit="{ item }">
                          <p class="text-left mb-0">{{ item.debit ? numberFormat(item.debit) : item.debit }}</p>
                        </template>
                        <template v-slot:item.credit="{ item }">
                          <p class="text-left mb-0">{{ item.credit ? numberFormat(item.credit) : item.credit }}</p>
                        </template>
                        <template v-slot:item.balance="{ item }">
                          <p class="text-left mb-0">{{ item.balance ? numberFormat(item.balance) : item.balance }}</p>
                        </template>
                        <template v-slot:header>
                          <thead v-show="hideCard">
                            <tr>
                              <th class="text-center subtitle-1" :colspan="5">
                                STUDENT LEDGER
                              </th>
                            </tr>
                          </thead>
                        </template>
                      </v-data-table>
                    </v-flex>
                    <v-flex xs12>
                      <v-card-actions
                        class="mt-12"
                        v-show="ledgerCount > 0">
                        <v-spacer />
                        <small>Total of <span class="blue--text">{{ ledgerItems.length - 2 }}/{{ ledgerCount }} </span> <span>{{ ledgerItems.length - 2 > 1 ? 'Items' : 'Item'}}</span></small>
                      </v-card-actions>
                    </v-flex>
                  </v-layout>
                </v-card>
              </v-flex>
            </v-layout>
           </v-card>
        </v-flex>
      </v-layout>

      <finance-payment-export
        :showDialog="showDialog"
        @close="showDialog = false"
        :isNonStudent="type === 'Entrance Exam' ? true : false"
      />
    </v-card>
  </v-container>
</template>
<script type="text/javascript">
  import defaultMixins from '@/mixins/index'
  import calculationsMixins from '@/mixins/calculations'
  import { mapGetters, mapMutations, mapActions } from 'vuex'
  import assessmentQueriesMixins from '@/mixins/queries/finance/assessmentQueries'
  import financeQueriesMixins from '@/mixins/queries/finance/financeQueries'
  export default {
    mixins: [
      assessmentQueriesMixins,
      calculationsMixins,
      defaultMixins,
      financeQueriesMixins
    ],
    props: {
      type: String,
      headers: [Array, Object]
    },
    data () {
      return {
        addLoading: false,
        title: [
          {
            name: 'Student Ledger',
            icon: 'history_edu',
            color: 'accent',
            flex: 'xs12'
          }
        ],
        skip: 0,
        take: 10,
        count: 0,
        ledgerItems: [],
        ledgerLoading: false,
        formItem: {
          total_assessment: '',
          total_payment: 0,
          total_balance: 0,
          current_due: '',
          prev_balance: 0,
          back_account: 0,
          registration_fee: '',
          tuition_fee: '',
          amount_paid: '',
          account_code: '',
          description: '',
          amount: ''
        },
        defaultItem: {
          total_assessment: '',
          total_payment: 0,
          total_balance: 0,
          current_due: '',
          prev_balance: 0,
          back_account: 0,
          registration_fee: '',
          tuition_fee: '',
          amount_paid: '',
          account_code: '',
          description: '',
          amount: ''
        },
        errors: {},
        saveLoading: false,
        accountCodes: [],
        showDialog: false,
        skipAssessmentQuery: false,
        assessmentItems: [],
        assessLoading: false,
        skipAccountQuery: false,
        types: ['Finance', 'MTAC'],
        account_type: '',
        search_code: '',
        skipLedgerQuery: false,
        ledgerCount: 0,
        totalBalanceItem: 0,
        years: [],
        semesters: [],
        skipRegSummaryQuery: false,
        reg_summary: [],
        skipOtherSummaryQuery: false,
        tuition_summary: [],
        studentFeeID: null
      }
    },
    computed: {
      ...mapGetters('user', ['registrar']),
      ...mapGetters('filters', ['search', 'payment_mode', 'academic_year_id', 'semester_id', 'year_level_id', 'revision_id']),
      fontClass () {
        if (this.$vuetify.breakpoint.smAndDown) return 'body-2'
        return '' 
      },
      paymentModes () {
        if (this.registrar.submission_type === 'Enrollment') {
          return ['Registration', 'Other Payment', 'Non-Student']
        } else if (this.registrar.submission_type === 'Entrance Exam') {
          return ['Other Payment', 'Non-Student']
        } else {
          return ['Tuition & Other Fees', 'Other Payment', 'Non-Student']
        }
      },
      isPaid () {
        if (this.registrar.submission_type === 'Enrollment') {
          if (this.setPaymentMode === 'Registration') {
            return Boolean(this.backAccounts === 0 && this.regFee === 0)
          } else {
            return false
          }
        } else {
          return false
        }
      },
      setYear: {
        get: function () {
          return this.academic_year_id
        },
        // setter
        set: function (value) {
          return this.SET_ACADEMIC_ID(value)
        }
      },
      setSemester: {
        get: function () {
          return this.semester_id
        },
        // setter
        set: function (value) {
          return this.SET_SEMESTER_ID(value)
        }
      },
      setPaymentMode: {
        get: function () {
          return this.payment_mode
        },
        // setter
        set: function (value) {
          return this.SET_PAYMENT_MODE(value)
        }
      },
      cardHeight () {
        if (this.$vuetify.breakpoint.smAndUp) return '800px'
        return ''
      },
      cardClass () {
        if (this.$vuetify.breakpoint.smAndDown) return 'mt-3'
        return ''
      },
      setSearch: {
        get: function () {
          return this.search
        },
        // setter
        set: function (value) {
          return this.SET_SEARCH(value)
        }
      },
      totalAssessment () {
        let item = this.tuition_summary.find(item => item.name === 'Total Assessment')
        if (!global._.isUndefined(item)) {
          this.formItem.total_assessment = global._.round(item.amount, 2)
          return this.numberFormat(this.formItem.total_assessment)
        }
      },
      totalBalance () {
        let item = this.tuition_summary.find(item => item.name === 'Total Balance')
        if (!global._.isUndefined(item)) {
          this.formItem.total_balance = global._.round(item.amount, 2)
          return this.numberFormat(this.formItem.total_balance)
        }
      },
      currentDue () {
        let item = this.tuition_summary.find(item => item.name === 'Current Due')
        if (!global._.isUndefined(item)) {
          this.formItem.current_due = global._.round(item.amount, 2)
          return this.numberFormat(this.formItem.current_due)
        }
      },
      totalPayments () {
        let item = this.tuition_summary.find(item => item.name === 'Total Payment')
        if (!global._.isUndefined(item)) {
          this.formItem.total_payment = item.amount
          if (this.formItem.total_payment > 1) {
            return this.numberFormat(this.formItem.total_payment)
          } else {
            return 0
          }
        } else {
          return 0
        }
      },
      backAccounts () {
        let item = this.reg_summary.find(item => item.name === 'Back Accounts')
        if (!global._.isUndefined(item)) {
          this.formItem.back_account = item.amount
          if (this.formItem.back_account > 1) {
            return this.numberFormat(this.formItem.back_account)
          } else {
            return 0
          }
        } else {
          return 0
        }
      },
      prevBalance () {
        let item = this.tuition_summary.find(item => item.name === 'Previous Balance')
        if (!global._.isUndefined(item)) {
          this.formItem.prev_balance = item.amount
          if (this.formItem.prev_balance > 1) {
            return this.numberFormat(this.formItem.prev_balance)
          } else {
            return 0
          }
        } else {
          return 0
        }
      },
      regFee () {
        let item = this.reg_summary.find(item => item.name === 'Registration Fee')
        if (!global._.isUndefined(item)) {
          this.formItem.registration_fee = global._.round(item.amount, 2)
          if (this.formItem.registration_fee > 1) {
            return this.numberFormat(this.formItem.registration_fee)
          } else {
            return 0
          }
        } else {
          return 0
        }
      },
      paymentTitle () {
        return [
          {
            name: 'Summary',
            icon: 'point_of_sale',
            color: 'accent',
            flex: 'xs12'
          }
        ]
      },
      set_balance () {
        return this.formItem.total_assessment + this.formItem.prev_balance
      }
    },
    watch: {
      account_type (val) {
        if (val) {
          this.formItem.account_code = ''
        }
      },
      'formItem.account_code' (val) {
        if (val) {
          this.formItem.description = val.description
        } else {
          this.formItem.description = ''
        }
      },
      search_code (val) {
        val && this.querySelections(val)
      },
      academic_year_id (val) {
        this.setDefaultFilters()
      },
      semester_id (val) {
        this.setDefaultFilters()
      },
    },
    methods: {
      ...mapMutations('filters', ['SET_SEARCH', 'SET_ACADEMIC_ID', 'SET_SEMESTER_ID', 'SET_PAYMENT_MODE']),
      ...mapActions('finance', ['POST_PAYMENT', 'PATCH_PAYMENT']),
      escape () {
        this.$emit('close')
      },
      doExport () {
        this.showDialog = true
      },
      setDefaultFilters () {
        if (!this.academic_year_id || !this.semester_id || !this.payment_mode) {
          this.SET_ACADEMIC_ID(this.registrar.school_year_id)
          this.SET_SEMESTER_ID(this.registrar.semester_id)
        }
      },
      save () {
        this.saveLoading = true
        if (this.type === 'Student') {
          if (global._.isUndefined(this.formItem.id)) {
            let payload = {
              mode: this.payment_mode === 'Tuition & Other Fees' ? 'paymenttuition' : 'paymentother',
              particular_name: this.payment_mode,
              student_fee_id: this.studentFeeID,
              ...this.formItem,
              account_code_id: this.formItem.account_code.id,
              user_id: this.registrar.user_info.id,
              program_id: this.registrar.program_id,
              semester_id: this.registrar.semester_id,
              year_level_id: this.registrar.year_level_id,
              school_year_id: this.registrar.school_year_id,
              balance: this.registrar === 'Tuition & Other Fees' ? Math.abs(this.set_balance - this.formItem.amount_paid) : 0
            }
            this.postPayment(payload)
          } else {
            let payload = {
              mode: this.payment_mode === 'Tuition & Other Fees' ? 'paymenttuition' : 'paymentother',
              particular_name: this.payment_mode,
              student_fee_id: this.studentFeeID,
              ...this.formItem,
              account_code_id: this.formItem.account_code.id,
              user_id: this.registrar.user_info.id,
              program_id: this.registrar.program_id,
              semester_id: this.registrar.semester_id,
              year_level_id: this.registrar.year_level_id,
              school_year_id: this.registrar.school_year_id,
              balance: this.registrar === 'Tuition & Other Fees' ? Math.abs(this.set_balance - this.formItem.amount_paid) : 0
            }
            this.patchPayment(payload)
          }
        } else {
          if (global._.isUndefined(this.formItem.id)) {
            let payload = {
              mode: this.payment_mode === 'Registration' ? 'paymentregistration' : 'paymentother',
              particular_name: this.payment_mode,
              student_fee_id: this.studentFeeID,
              ...this.formItem,
              account_code_id: this.formItem.account_code.id,
              user_id: this.registrar.user_info.id,
              program_id: this.registrar.program_id,
              semester_id: this.registrar.semester_id,
              year_level_id: this.registrar.year_level_id,
              school_year_id: this.registrar.school_year_id,
              balance: this.registrar === 'Registration' ? Math.abs(this.formItem.back_account - this.formItem.amount_paid) : 0
            }
            this.postPayment(payload)
          } else {
            let payload = {
              mode: this.payment_mode === 'Registration' ? 'paymentregistration' : 'paymentother',
              particular_name: this.payment_mode,
              student_fee_id: this.studentFeeID,
              ...this.formItem,
              account_code_id: this.formItem.account_code.id,
              user_id: this.registrar.user_info.id,
              program_id: this.registrar.program_id,
              semester_id: this.registrar.semester_id,
              year_level_id: this.registrar.year_level_id,
              school_year_id: this.registrar.school_year_id,
              balance: this.registrar === 'Registration' ? Math.abs(this.formItem.back_account - this.formItem.amount_paid) : 0
            }
            this.patchPayment(payload)
          }
        }
      },
      postPayment (payload) {
        this.POST_PAYMENT(payload).then(res => {
          this.close()
        }).catch(res => {
          this.saveLoading = false
          this.errors = res.errors
        })
      },
      patchPayment (payload) {
        this.PATCH_PAYMENT(payload).then(res => {
          this.close()
        }).catch(res => {
          this.saveLoading = false
          this.errors = res.errors
        })
      },
      close () {
        this.saveLoading = false
        setTimeout(() => {
          this.formItem = Object.assign({}, this.defaultItem)
          this.$apollo.queries.studentLedgerQuery.refetch()
          this.$apollo.queries.paymentRegSummary.refetch()
          this.$apollo.queries.paymentTuiOtherSummary.refetch()
          this.errors = {}
        }, 300)
      },
      doSearch (val) {
        this.setSearch = val
      },
      onScroll (e) {
      const tableHeight = (this.$refs.table.$el.offsetHeight) - (e.srcElement.offsetHeight + 50)
      if (e.srcElement.scrollTop > tableHeight && !this.addLoading) {
        this.addLoading = true
        this.take++
        this.$apollo.queries.studentLedgerQuery.refetch()
      } else {
        this.take--
        this.$apollo.queries.studentLedgerQuery.refetch()
      }
      }
    },
    mounted () {
      this.setDefaultFilters()
    }
  }
</script>
