<template>
  <v-dialog
    :value="showDialog"
    max-width="530"
    persistent
    v-esc="escape">
    <v-card
      class="pt-1 text-center">
      <v-card-actions class="pb-5">
        <div class="flex-grow-1">
          <v-card-title class="accent--text ml-1">Export</v-card-title>
        </div>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              fab
              @click="$emit('close')"
              text>
              <v-icon medium color="red">mdi-close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-card-actions>
      <v-layout wrap class="pb-8 body-4"
        justify-center align-center>
        <v-flex xs12
          v-show="!isNonStudent">
          <v-btn
            tile
            outlined
            width="200px"
            color="accent"
            class="my-2"
            @click="$emit('printOrWithPermit')">
            OR with Permit
          </v-btn>
        </v-flex>

        <v-flex xs12
          v-show="!isNonStudent">
          <v-btn
            tile
            outlined
            width="200px"
            color="accent"
            class="my-2"
            @click="$emit('printPermit')">
            Permit
          </v-btn>
        </v-flex>

        <v-flex xs12>
          <v-btn
            tile
            outlined
            width="200px"
            color="accent"
            class="my-2 mx-1"
            @click="$emit('printOR')">
            OR
          </v-btn>
        </v-flex>
      </v-layout>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    isNonStudent: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    escape () {
      this.$emit('close')
    }
  }
}
</script>
