<template>
<v-container fluid>
  <v-card flat>
    <header-component
      :isSearch="false"
      :isFilter="true"
      :isEnroll="true"
      :isAdd="false"
      @reset="RESET_FILTERS()"
      :filterItems="headers"
      :isSwitched="isSwitched"
      @openFilter="openFilter()"
      @closeFilter="closeFilter()"
      @enroll="doExport()"
      btnEnrollTitle="Export"
    />

    <v-card>
      <v-tabs
        v-model="tab"
        background-color="transparent"
        grow
        show-arrows
      >
        <v-tab
          v-for="(item, index) in items"
          :key="index"
        >
          {{ item.title }}
        </v-tab>
      </v-tabs>

      <v-tabs-items v-model="tab">
        <v-tab-item
          v-for="(item, index) in items"
          :key="index"
        >
          <v-card
            flat
          >
            <finance-courses
              v-show="item.title === 'Courses Enrolled'" />
            <finance-discounts
              v-show="item.title === 'Discounts'" />
            <finance-other-charges
              v-show="item.title === 'Other Charges'" />
            <finance-history-payments
              v-show="item.title === 'Payments'" />
          </v-card>
        </v-tab-item>
      </v-tabs-items>
    </v-card>
  </v-card>
  
  <finance-export-dialog
    :showDialog="exportDialog"
    @close="exportDialog = false"
    @printCollectionReport="printCollectionReport"
    :isHistory="true"
    :collectionLink="collectionLink"
  />

</v-container>
</template>
<script>
import defaultMixins from '@/mixins/index'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    defaultMixins
  ],
  data: () => ({
    headers: [
      {
        text: 'School Year',
        align: 'center',
        sortable: true,
        value: 'school_year',
        title: 'Academic Year',
        icon: 'mdi-school',
        name: 'finance-payment-year-filter',
        field: ''
      },
      {
        text: 'Semester',
        align: 'center',
        sortable: true,
        value: 'semester',
        title: 'Semester',
        icon: 'collections_bookmark',
        name: 'finance-payment-semester-filter',
        field: ''
      }
    ],
    isSwitched: false,
    items: [
      {
        title: 'Courses Enrolled'
      },
      {
        title: 'Discounts'
      },
      {
        title: 'Other Charges'
      },
      {
        title: 'Payments'
      }
    ],
    tab: 0,
    exportDialog: false,
    collectionLink: ''
  }),
  computed: {
    ...mapGetters('filters', ['academic_year_id', 'semester_id', 'discount_type'])
  },
  methods: {
    ...mapMutations('filters', ['RESET_FILTERS']),
    openFilter () {
      this.isSwitched = true
    },
    closeFilter () {
      this.isSwitched = false
    },
    doExport () {
      this.exportDialog = true
    },
    printCollectionReport () {}
  }
}
</script>
