<template>
<v-container fluid>
  <v-layout wrap>
    <v-flex xs12 class="mt-5">
      <floating-card :titles="titleInfo" />
      <v-card
        class="my-6">
        <v-card-actions
          class="mb-7 mt-2 mx-2">
          <v-spacer />
          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-btn
                v-on="on"
                width="220px"
                color="accent"
                class="text-none"
                @click="addItem()">
                Add Charges/Adjustments
              </v-btn>
            </template>
            <span>Add</span>
          </v-tooltip>
        </v-card-actions>
        <v-layout wrap>
          <v-flex xs12
            @scroll="onScroll"
            class="full-width-table">
            <v-data-table
              :headers="headers"
              :items="chargesItems"
              :items-per-page="take"
              hide-default-footer
              @page-count="pageCount = $event"
              v-bind="rowsPerPage"
              :loading="chargesLoading"
              loading-text="Loading... Please wait"
              fixed-header
              ref="table"
              @click:row="openItem($event)"
            >
            <template v-slot:top>
              <v-dialog
                v-model="dialog"
                width="800"
                persistent
                v-esc="escape">
                <v-card>
                  <v-card-actions class="pb-0">
                    <div class="flex-grow-1">
                      <v-card-title class="accent--text">{{ isEdit ? 'Edit' : 'Add' }} Charges/Adjustments</v-card-title>
                    </div>
                    <v-tooltip top>
                      <template v-slot:activator="{ on }">
                        <v-btn
                          v-on="on"
                          v-show="isEdit"
                          @click="confirmItem(true)"
                          text
                          fab
                          color="red">
                          <v-icon medium color="red">mdi-delete</v-icon>
                        </v-btn>
                      </template>
                      <span>Delete</span>
                    </v-tooltip>
                    <v-tooltip top>
                      <template v-slot:activator="{ on }">
                        <v-btn
                          v-on="on"
                          @click="close"
                          text
                          fab>
                          <v-icon medium color="red">mdi-close</v-icon>
                        </v-btn>
                      </template>
                      <span>Close</span>
                    </v-tooltip>
                  </v-card-actions>
                  <v-divider class="mx-2" />
                  <v-layout wrap>
                    <v-flex xs12>
                      <v-form ref="form">
                        <v-card-title>
                          <v-layout wrap>
                            <v-flex xs12 md6>
                              <small>School Year
                                <span class="pl-1" style="color: red;">*</span>
                              </small>
                              <v-autocomplete
                                :items="years"
                                v-model="formData.school_year_id"
                                clearable
                                item-text="school_year"
                                item-value="school_year_id"
                                hide-no-data
                                return-string
                                dense
                                class="mx-2"
                                clear-icon="mdi-close-circle"
                                :error-messages="errors['school_year_id']"
                              />
                            </v-flex>
                            <v-flex xs12 md6>
                              <small>Semester
                                <span class="pl-1" style="color: red;">*</span>
                              </small>
                              <v-autocomplete
                                :items="currSemesterItems"
                                v-model="formData.semester_id"
                                clearable
                                item-text="semester"
                                item-value="semester_id"
                                hide-no-data
                                return-string
                                dense
                                class="mx-2"
                                clear-icon="mdi-close-circle"
                                :error-messages="errors['semester_id']"
                              />
                            </v-flex>
                            <v-flex xs12 md6>
                              <small>Account Code
                                <span class="pl-1" style="color: red;">*</span>
                              </small>
                              <v-autocomplete
                                :items="accounts"
                                v-model="formData.account_item"
                                :search-input.sync="search"
                                clearable
                                placeholder="Search Code #"
                                item-text="account_code"
                                item-value="account_code_id"
                                hide-no-data
                                return-object
                                clear-icon="mdi-close-circle"
                                dense
                                :loading="isLoading"
                                class="mx-1 mt-2"
                                :error-messages="errors['course_id']">
                                <template v-slot:item="data">
                                  <v-list-item-content>
                                    <v-list-item-title class="accent--text" v-html="data.item.account_code"></v-list-item-title>
                                    <v-list-item-subtitle v-html="data.item.description"></v-list-item-subtitle>
                                    <v-list-item-subtitle v-html="data.item.type"></v-list-item-subtitle>
                                  </v-list-item-content>
                                </template>
                              </v-autocomplete>
                            </v-flex>
                            <v-flex xs12 md6>
                              <small>Description  
                                <span class="pl-1" style="color: red;">*</span>
                              </small>
                              <v-text-field
                                v-if="formData.account_item"
                                class="mx-1 mt-2"
                                dense
                                v-model="formData.account_item.description"
                                :error-messages="errors['description']"
                              ></v-text-field>
                              <v-text-field
                                v-else
                                class="mx-1 mt-2"
                                dense
                                v-model="formData.description"
                                :error-messages="errors['description']"
                              ></v-text-field>
                            </v-flex>
                            <v-flex xs12 md6>
                              <small>Amount  
                                <span class="pl-1" style="color: red;">*</span>
                              </small>
                              <v-text-field
                                class="mx-1 mt-2"
                                dense
                                type="number"
                                v-model="formData.amount"
                                :error-messages="errors['amount']"
                              ></v-text-field>
                            </v-flex>
                            <v-flex xs12 md6>
                              <small>Area  
                                <span class="pl-1" style="color: red;">*</span>
                              </small>
                              <v-text-field
                                class="mx-1 mt-2"
                                dense
                                v-model="formData.area"
                                :error-messages="errors['area']"
                              ></v-text-field>
                            </v-flex>
                          </v-layout>
                        </v-card-title>
                      </v-form>
                    </v-flex>
                  </v-layout>

                  <v-card-actions class="py-5">
                    <v-spacer />
                    <v-btn
                      :loading="saveLoading"
                      color="accent"
                      width="100px"
                      class="white--text mr-3 mt-2 text-none"
                      @click="isEdit ? confirmItem(false) : save()">
                      Save
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </template>
            </v-data-table>
          </v-flex>
          <v-flex xs12>
            <v-card-actions
              v-if="chargesCount > 0">
              <v-spacer />
              <small>Total of <span class="blue--text">{{ chargesItems.length }}/{{ chargesCount }} </span> <span>{{ chargesItems.length > 1 ? 'Items' : 'Item'}}</span></small>
            </v-card-actions>
          </v-flex>
          <!-- <v-flex xs12
            v-if="chargesItems.length > 0">
            <v-card-actions>
              <v-spacer />
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <a :href="link" target="_blank" class="text-decor red--text"
                    v-on="on">
                    <v-btn
                      outlined
                      width="240px"
                      class="accent--text text-none my-3 mr-2"
                      @click="exportData()">
                      Charges/Adjustments Form
                      <v-icon>mdi-download</v-icon>
                    </v-btn>
                  </a>
                </template>
                <span>Download</span>
              </v-tooltip>
            </v-card-actions>
          </v-flex> -->
        </v-layout>
      </v-card>
    </v-flex>
  </v-layout>

  <confirmation-dialog
    :showDialog="confirmDialog"
    @close="confirmDialog = false"
    @proceed="isDelete ? deleteItem(equivalencyId) : editItem()"
    :loading="deleteLoading"
    :message="isDelete ? `Are you sure you want to delete this charge ?` : `Do you want to save changes ?`"
  />

  <v-snackbar
    top
    right
    v-model="isSnackbar"
    :color="color"
    class="caption"
    timeout="1500">
    <v-card-actions class="ma-0 pa-0">
      {{ text }}
      <v-spacer />
      <v-btn
        color="white"
        text
        icon
        right
        @click="isSnackbar = false"
        class="caption">
        <v-icon>clear</v-icon>
      </v-btn>
    </v-card-actions>
  </v-snackbar>
</v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import defaultMixins from '@/mixins/index'
import { mapGetters, mapActions } from 'vuex'
import { mask, masked, tokens } from 'vue-the-mask'
import chargesQueryMixins from '@/mixins/queries/finance/chargesQueries'
export default {
  directives: { mask, masked, tokens },
  mixins: [
    chargesQueryMixins,
    formMixins,
    defaultMixins
  ],
  data: () => ({
    rowsPerPage: {
      'footer-props': {
        'items-per-page-options': [10]
      }
    },
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    invokedOffset: 0,
    loading: false,
    id: null,
    errors: {},
    titleInfo: [
      {
        name: 'Charges/Adjustments',
        icon: 'list_alt',
        color: 'accent',
        flex: 'xs12'
      }
    ],
    headers: [
      {
        text: 'School Year',
        align: 'center',
        sortable: true,
        value: 'school_year'
      },
      {
        text: 'Semester',
        align: 'center',
        sortable: true,
        value: 'semester'
      },
      {
        text: 'Description',
        value: 'description',
        sortable: true,
        align: 'center',
        title: '',
        name: ''
      },
      {
        text: 'Amount',
        value: 'amount',
        sortable: true,
        align: 'center',
        title: '',
        name: ''
      },
      {
        text: 'Area',
        value: 'area',
        sortable: true,
        align: 'center',
        title: '',
        name: ''
      },
      {
        text: 'Account Code',
        value: 'account_code',
        sortable: true,
        align: 'center',
        title: '',
        name: ''
      }
    ],
    skip: 0,
    take: 10,
    chargesCount: 0,
    link: '',
    chargesItems: [],
    dialog: false,
    title: '',
    equivalencyId: null,
    formData: {
      description: null,
      amount: null,
      area: null,
      account_code_id: null,
      account_item: [],
      school_year: null,
      semester: null
    },
    defaultItem: {
      description: null,
      amount: null,
      area: null,
      account_code_id: null,
      account_item: [],
      semester: null,
      school_year: null,
      semester: null
    },
    confirmDialog: false,
    deleteLoading: false,
    saveLoading: false,
    isSnackbar: false,
    text: '',
    color: '',
    isEdit: false,
    isDelete: false,
    accounts: [],
    search: null,
    isLoading: false,
    skipChargesQuery: false,
    years: [],
    currSemesterItems: [],
    sySemesterQuery: true,
    chargesLoading: false
  }),
  computed: {
    ...mapGetters('user', ['registrar']),
    choices () {
      return {
        accountCodes: this.accounts,
        school_years: this.years,
        semesters: this.currSemesterItems
      }
    }
  },
  watch: {
    'formData.school_year_id' (val) {
      if (val) {
        this.sySemesterQuery = false
        this.$apollo.queries.semesterCurriculum.refresh()
      } else {
        this.sySemesterQuery = true
      }
    },
    'formData.account_item' (val) {
      if (val) {
        this.search = val.account_code
      }
    },
    search (val) {
      val && this.querySelections(val)
    }
  },
  methods: {
    ...mapActions('curricula', ['POST_STUDENT_CHARGES', 'PATCH_STUDENT_CHARGES', 'DELETE_STUDENT_CHARGES']),
    escape () {
      this.$emit('close')
    },
    close () {
      this.dialog = false
      this.confirmDialog = false
      this.formData = Object.assign({}, this.defaultItem)
      this.errors = {}
    },
    save () {
      this.saveLoading = true
      let payload = {
        ...global._.omit(this.formData, 'description'),
        account_code_id: this.formData.account_item.id,
        user_id: this.registrar.user_info.id,
        description: this.formData.account_item ? this.formData.account_item.description : this.formData.description
      }
      this.POST_STUDENT_CHARGES(payload).then(data => {
        this.saveLoading = false
        this.snackbar(`${data.data.message}`, 'success')
        this.$apollo.queries.studentChargesQuery.refetch()
        this.errors = {}
        this.close()
        this.saveLoading = false
      }).catch(err => {
        this.saveLoading = false
        this.errors = err.errors
      })
    },
    editItem () {
      this.deleteLoading = true
      let payload = {
        ...global._.omit(this.formData, 'description'),
        account_code_id: this.formData.account_item.id,
        user_id: this.registrar.user_info.id,
        description: this.formData.account_item ? this.formData.account_item.description : this.formData.description
      }
      this.PATCH_STUDENT_CHARGES(payload).then(data => {
        this.deleteLoading = false
        this.snackbar(`${data.data.message}`, 'success')
        if (this.chargesCount > 10) {
          this.take = this.chargesCount + 1
        } else {
          this.take = 10
        }
        this.$apollo.queries.studentChargesQuery.refetch()
        this.close()
        this.deleteLoading = false
      }).catch(err => {
        this.deleteLoading = false
        this.errors = err.errors
      })
    },
    deleteItem (id) {
      this.deleteLoading = true
      this.DELETE_STUDENT_CHARGES({ id: id }).then(data => {
        this.snackbar(`${data.data.message}`, 'error')
        this.$apollo.queries.studentChargesQuery.refetch()
        this.errors = {}
        this.close()
        this.deleteLoading = false
      }).catch(err => {
        this.deleteLoading = false
        this.errors = err.errors
      })
    },
    confirmItem (val) {
      this.isDelete = val
      this.confirmDialog = true
    },
    openItem (val) {
      this.equivalencyId = val.id
      this.isEdit = true
      this.dialog = true
      this.formData = val
    },
    addItem () {
      this.formData = Object.assign({}, this.defaultItem)
      this.isEdit = false
      this.dialog = true
    },
    exportData () {
      if (this.registrar.user_info) {
        // this.link = `${process.env.VUE_APP_URL}api/exports/pdf/subject/equivalency/${this.registrar.user_info.id}`
      }
    },
    onScroll (e) {
      const tableHeight = (this.$refs.table.$el.offsetHeight) - (e.srcElement.offsetHeight + 50)
      if (e.srcElement.scrollTop > tableHeight && !this.chargesLoading) {
        this.chargesLoading = true
        this.take++
        this.$apollo.queries.studentChargesQuery.refetch()
      } else {
        this.take--
        this.$apollo.queries.studentChargesQuery.refetch()
      }
    }
  }
}
</script>
