<template>
<v-container fluid
  v-scroll="onScroll">
  <v-layout wrap>
    <v-flex xs12>
      <floating-card
        v-if="type === 'Enrollment'"
        class="mt-2" :titles="floatingTitle" />

      <floating-card
        v-if="type === 'Student'"
        class="mt-2" :titles="studentTitle" />

      <v-card
        class="px-2 my-5"
        style="border: 1px solid #b5b3b3;">
        <v-flex xs12>
          <basic-info
           :studentItem="registrar"
          />
        </v-flex>

        <v-tabs
          v-model="tab"
          background-color="transparent"
          grow
          show-arrows
        >
          <v-tab
            v-for="(item, index) in items"
            :key="index"
          >
            {{ item.title }}
          </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item
            v-for="(item, index) in items"
            :key="index"
          >
            <v-card
              flat
            >
            <keep-alive>
              <spdi-tab
              ref="spdi"
              :isLoading="isLoading"
              :tab="item"
              :fields="fields"
              :form="form"
              :personalfields="personalfields"
              :fathersFields="fathersFields"
              :mothersFields="mothersFields"
              :guardianFields="guardianFields"
              :careerFields="careerFields"
              :checklistFields="checklistFields"
              :educationFields="educationFields"
              :personalForm="personalForm"
              :personalErrors="personalErrors"
              :fathersForm="fathersForm"
              :mothersForm="mothersForm"
              :guardiansForm="guardiansForm"
              :educationForm="educationForm"
              :careerForm="careerForm"
              :checklistForm="checklistForm"
                v-if="tab === getTabIndex('Student Personal Data Inventory (SPDI)')"
              />
            </keep-alive>

            <keep-alive>
              <requirements-tab
                v-if="tab === getTabIndex('Requirements')"
                :userId="registrar.user_info.id"
                :isEnrollment="true"
                :isWaiver="true"
                :isAdmission="true"
                :isTransferee="!isFreshman"
                :isMaritimeProgram="isMarine"
                @checkResult="checkResult"
                @checkTor="checkTor"
                @checkHonor="checkHonor"
                @checkReport="checkReport"
                @checkMoral="checkMoral"
                @checkBirth="checkBirth"
                @checkExam="checkExam"
              />
            </keep-alive>

              <v-card-actions
                class="my-5"
                v-if="(pickedTab !== 'Student Personal Data Inventory (SPDI)') && (type === 'Enrollment')">
                <v-spacer />
                <v-btn
                  width="150px"
                  color="green"
                  :loading="approvalLoading"
                  class="white--text"
                  @click="approval(0)">
                  Approved
                </v-btn>
                <v-btn
                  dark
                  width="150px"
                  color="red"
                  :loading="disapprovalLoading"
                  @click="disapproval(1)">
                  Disapproved
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-tab-item>
        </v-tabs-items>

        <remarks-dialog
          :showDialog="dialog"
          @close="close"
          :title="title"
          @submit="submit"
          :items="checklist"
          @checkItem="checkItem"
          :isChecklist="true"
        />

        <scroll-btn
          v-show="offsetTop > 1"
          @scrollPage="getTopPage()"
          icon="mdi-chevron-up"
          color="accent"
        />
      </v-card>
    </v-flex>
  </v-layout>
</v-container>
</template>
<script>
import tabQueryMixins from '@/mixins/queries/admin/tabQueries'
import ArrayListMixins from '@/mixins/arraylist/admin/array-list'
import defaultMixins from '@/mixins/index'
import fieldsMixins from '@/mixins/arraylist/personnel/fields-list'
import spdiMixins from '@/mixins/admin/spdi.js'
import { mapGetters, mapActions, mapMutations } from 'vuex'
import { GET_ENROLLMENT_EXAM } from '@/graphql/queries'
import { GET_EVALUATION_STATUS, GET_APPLICANT_REQUIREMENTS } from '@/graphql/admin/queries'
export default {
  mixins: [
    ArrayListMixins,
    defaultMixins,
    fieldsMixins,
    tabQueryMixins,
    spdiMixins
  ],
  data () {
    return {
      offsetTop: 0,
      floatingTitle: [{
        name: 'Enrollment Form',
        icon: 'event',
        color: 'accent',
        flex: 'xs12'
      }],
      studentTitle: [{
        name: 'Student Form',
        icon: 'event',
        color: 'accent',
        flex: 'xs12'
      }],
      tab: null,
      dialog: false,
      title: '',
      model: '',
      loading: false,
      tab: null,
      items: [
        {
          title: 'Student Personal Data Inventory (SPDI)',
          tabs: [
            {
              title: 'Personal Information',
              update: ''
            },
            {
              title: 'Family Information',
              update: ''
            },
            {
              title: 'Educational Background',
              update: ''
            }
          ]
        },
        {
          title: 'Requirements'
        }
      ],
      form: [],
      pickedTab: '',
      checklist: [],
      approvalId: null,
      isLoading: false,
      selectedItems: [],
      availableItems: [],
      selectedloading: false,
      availableLoading: false,
      skipSelectedSchedQuery: true,
      skipAvailableSchedQuery: true,
      countChecked: null,
      fathersForm: [
      {
        fathers_name: '',
        fathers_age: '',
        fathers_contact_no: '',
        fathers_occupation: '',
        father_works_abroad: ''
      }],
      mothersForm: [
      {
        mothers_name: '',
        mothers_age: '',
        mothers_contact_no: '',
        mothers_occupation: '',
        mother_works_abroad: ''
      }],
      guardiansForm: [
      {
        guardians_name: '',
        relation: '',
        contact_no: '',
        address: '',
        annual_income: ''
      }],
      educationForm: [
      {
        elementary_school: '',
        elem_year_graduated: '',
        high_school: '',
        high_school_year_graduated: '',
        last_school_attended: '',
        last_sy_attended: '',
        last_year_level_attended: '',
        last_sem_attended: ''
      }],
      careerForm: [
      {
        first_choice: '',
        second_choice: '',
        third_choice: '',
        major: ''
      }],
      checklistForm: [
      {
        confidence: '',
        study_habits: '',
        work_schedule: '',
        diet: '',
        family: '',
        health: '',
        finances: '',
        not_interested: '',
        appearance: '',
        class_schedule: '',
        undecided: '',
        concentration: '',
        friends: '',
        privacy: '',
        others: '',
        other_field: ''
      }],
      personalForm: [{
        address: '',
        contact: '',
        civil_status: '',
        religion: '',
        social_account: '',
        student_id_number: ''
      }],
      approvalLoading: false,
      disapprovalLoading: false,
      personalErrors: {}
    }
  },
  watch: {
    tab (val) {
      this.pickedTab = this.items[val].title
    },
    checklist (val) {
      if (val) {
        this.countChecked = val.length
      }
    }
  },
  computed: {
    ...mapGetters('user', ['registrar', 'user']),
    ...mapGetters('form', ['isViewChecked']),
    isFreshman () {
      if (!global._.isEmpty(this.registrar)) {
        let status = this.registrar.applicant_status
        if (status === 'Freshman') return true
        return false
      }
    },
    isReqs () {
      // if approval is restricted
      let count = this.checklist.length
      if (this.isMarine && this.isFreshman) {
        return count === 11 ? false : true
      } else if (this.isMarine && !this.isFreshman) {
        return count === 11 ? false : true
      } else if (!this.isMarine && !this.isFreshman) {
        return count === 10 ? false : true
      }
    }
  },
  mounted () {
    this.fetchEvaluation()
    this.isStudent()
    this.fetchStudentInfo()
    this.setIsViewForm(false)
  },
  methods: {
    ...mapActions('applicants', ['POST_APPROVALS']),
    ...mapMutations('form', ['setIsViewForm', 'setIsViewChecked']),
    onScroll (e) {
      this.offsetTop = window.pageYOffset || document.documentElement.scrollTop
    },
    close () {
      this.dialog = false
    },
    approval (val) {
      this.approvalId = val
      this.dialog = true
      this.title = 'Approve'
    },
    disapproval (val) {
      this.approvalId = val
      this.dialog = true
      this.title = 'Disapprove'
    },
    submit (remarks) {
      if (this.approvalId === 1) {
        const hasItem = this.checklist.filter(item => item.disabled === false)
        if (hasItem) {
          const mapitems = hasItem.map(item => item.title)
          let payload = {
            type: this.registrar.submission_type,
            user_type_id: this.user.user_type_id,
            files: String(mapitems),
            icon: 'mdi-close-circle',
            reason: remarks,
            user_id: this.registrar.user_info ? this.registrar.user_info.id : null,
            status: 'Disapproved'
          }
          this.postApprovals(payload)
        }
      } else {
        let payload = {
          type: this.registrar.submission_type,
          user_type_id: this.user.user_type_id,
          icon: 'mdi-check-circle',
          user_id: this.registrar.user_info ? this.registrar.user_info.id : null,
          reason: '',
          status: 'Approved'
        }
        this.postApprovals(payload)
      }
      this.dialog = false
    },
    postApprovals (payload) {
      if (this.title === 'Approve') {
        this.approvalLoading = true
      } else {
        this.disapprovalLoading = true
      }
      this.POST_APPROVALS(payload).then(data => {
        this.$router.push({ name: 'admission-year-filter' })
      }).catch(data => {
        console.log(data)
      }).finally(() => {
        if (this.title === 'Approve') {
          this.approvalLoading = false
        } else {
          this.disapprovalLoading = false
        }
      })
    },
    checkResult (val) {
      if (val) {
        this.addItem('Entrance Exam Result')
      } else {
        this.removeItem('Entrance Exam Result')
      }
    },
    checkTor (val) {
      if (val) {
        this.addItem('Transcript Of Records')
      } else {
        this.removeItem('Transcript Of Records')
      }
    },
    checkHonor (val) {
      if (val) {
        this.addItem('Certificate Of Honorable Dismissal (original)')
      } else {
        this.removeItem('Certificate Of Honorable Dismissal (original)')
      }
    },
    checkReport (val) {
      if (val) {
        this.addItem('High School Report Card (original)')
      } else {
        this.removeItem('High School Report Card (original)')
      }
    },
    checkMoral (val) {
      if (val) {
        this.addItem('Good Moral Character Certificate (original)')
      } else {
        this.removeItem('Good Moral Character Certificate (original)')
      }
    },
    checkBirth (val) {
      if (val) {
        this.addItem('PSA Authenticated Birth Certificate (original)')
      } else {
        this.removeItem('PSA Authenticated Birth Certificate (original)')
      }
    },
    checkExam (val) {
      if (val) {
        this.addItem('APRO Exam Result')
      } else {
        this.removeItem('APRO Exam Result')
      }
    },
    fetchStudentInfo () {
      let id = global._.isUndefined(this.registrar) ? null : this.registrar.user_info.id
      if (!global._.isNull(id)) {
        this.$apollo.query({
          query: GET_ENROLLMENT_EXAM,
          variables: {
            id: id
          }
        }).then(({ data, loading }) => {
          this.isLoading = loading
          if (data.studentInfo) {
            const sortFreshmanReqs = this.admission_reqs.filter(item => item !== 'Transcript Of Records', 'Certificate Of Honorable Dismissal (original)')
            const sortFreshmanNotMaritimeReqs = this.admission_reqs.filter(item => item !== 'Transcript Of Records', 'APRO Exam Result')
            const sortTransfereeNotMaritimeReqs = this.admission_reqs.filter(item => item !== 'High School Report Card (original)', 'APRO Exam Result')
            const sortTransfereeReqs = this.admission_reqs.filter(item => item !== 'High School Report Card (original)')

            const applicantStatus = global._.isNull(data.studentInfo) ? '' : data.studentInfo.applicant_status
            let self = this
            if (!global._.isNull(data.studentInfo.requirements)) {
              global._.forEach(data.studentInfo.requirements, function (val) {
                if (self.isMarine && applicantStatus === 'Freshman') {
                  self.getFiles(sortFreshmanReqs, val.user_id, val.file_name)
                } else if (!self.isMarine && applicantStatus === 'Freshman') {
                  self.getFiles(sortFreshmanNotMaritimeReqs, val.user_id, val.file_name)
                } else if (!self.isMarine && applicantStatus === 'Transferee') {
                  self.getFiles(sortTransfereeNotMaritimeReqs, val.user_id, val.file_name)
                } else if (self.isMarine && applicantStatus === 'Transferee') {
                  self.getFiles(sortTransfereeReqs, val.user_id, val.file_name)
                }
              })
            }
            let payload = {
              id: id,
              icon: 'mdi-check-circle'
            }
            if (data.studentInfo.student_info) {
              let personalItems = global._.merge(data.studentInfo.spdi_checklist, data.studentInfo.student_info)
              this.setPersonalData(payload, personalItems)
            } else {
              this.setPersonalData(payload, data.studentInfo.spdi_checklist)
            }
            this.setFamData(payload, data.studentInfo.spdi_family_bg)
            this.setEducData(payload, data.studentInfo.spdi_education_bg)
          }
        })
        .catch(error => {
          if (error.graphQLErrors) {
            console.log('graphQLErrors:', error.graphQLErrors)
          }
          if (error.networkError) {
            console.log('networkError:', error.networkError)
          }
          if (error.ServerError) {
            console.log('ServerError:', error.ServerError)
          }
        })
      }
    },
    fetchEvaluation () {
      let id = global._.isUndefined(this.registrar) ? null : this.registrar.user_info.id
      if (!global._.isNull(id) || !global._.isUndefined(id)) {
        this.$apollo.query({
          query: GET_EVALUATION_STATUS,
          variables: {
            user_id: id
          }
        }).then(({ data, loading }) => {
          if (!global._.isNull(data.userEvaluation)) {
            if (data.userEvaluation.admission_icon === 'mdi-check-circle') {
              this.setIsViewChecked(false)
            } else {
              this.setIsViewChecked(true)
            }
          } else {
            this.setIsViewChecked(false)
          }
        })
        .catch(error => {
          if (error.graphQLErrors) {
            console.log('graphQLErrors:', error.graphQLErrors)
          }
          if (error.networkError) {
            console.log('networkError:', error.networkError)
          }
          if (error.ServerError) {
            console.log('ServerError:', error.ServerError)
          }
        })
      }
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.isStudent()
      vm.fetchStudentInfo()
      vm.fetchEvaluation()
    })
  }
}
</script>
