<template>
  <v-dialog
    :value="showDialog"
    max-width="750"
    persistent
    v-esc="escape">
    <v-card
      class="pt-1">
      <v-card-actions class="pb-0">
        <div class="flex-grow-1">
          <v-card-title class="main--text">{{ isEditing ? 'Edit' : 'Add' }} User</v-card-title>
        </div>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              text
              fab
              @click="closeDialog">
              <v-icon medium color="red">mdi-close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-card-actions>
      <v-divider class="mx-2" />
      <v-layout wrap>
        <v-card-title>
          <v-form ref="form">
            <v-layout wrap>
              <v-flex
                xs12
                :key="index"
                v-for="(item, index) in userForm"
              >
                <v-layout wrap>
                  <field-component
                    @change="OpenChoices($event)"
                    :field="field"
                    :key="field.key"
                    :form="userForm[index]"
                    :errors="errors"
                    :item-idx="index"
                    :choices="choices"
                    :loading="loading"
                    style="font-size: 15px; font-weight: 400;"
                    v-for="field in fields"
                    @iconClicked="iconClicked"
                  ></field-component>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-form>
        </v-card-title>
      </v-layout>
      <v-card-actions class="pb-3">
        <v-spacer />
        <v-btn
          :loading="saveLoading"
          color="main"
          width="100px"
          class="white--text mr-3 mt-2 text-none font-weight-light"
          @click="isEditing ? doEdit() : save()"
        >
        Save
        </v-btn>
      </v-card-actions>
    </v-card>

    <confirmation-dialog
      :showDialog="dialog"
      :passwordInput="true"
      @close="dialog = false"
      @proceed="edit"
      :loading="updateLoading"
      message="Do you want to save changes ?"
      :error_message="error_message"
    />
  </v-dialog>
</template>
<script type="text/javascript">
import formMixins from '@/mixins/form.js'
import { mapGetters, mapMutations } from 'vuex'
import userQueryMixins from '@/mixins/queries/admin/userQueries'
export default {
  mixins: [
    formMixins,
    userQueryMixins
  ],
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    userForm: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    }
  },
  data: () => ({
    fields: [
      {
        key: 'first_name',
        label: 'First Name',
        classNames: 'xs12 md6 px-2',
        required: true
      },
      {
        key: 'middle_name',
        label: 'Middle Name',
        classNames: 'xs12 md6 px-2'
      },
      {
        key: 'last_name',
        label: 'Last Name',
        classNames: 'xs12 md6 px-2',
        required: true
      },
      {
        key: 'birth_date',
        label: 'Birth Date',
        date: true,
        classNames: 'xs12 md6 px-2',
        required: true
      },
      {
        key: 'gender',
        label: 'Gender',
        choices: 'gender',
        itemValue: 'id',
        classNames: 'xs12 md6 px-2',
        required: true
      },
      {
        key: 'email',
        label: 'Email',
        email: true,
        classNames: 'xs12 md6 px-2',
        required: true
      },
      // {
      //   label: 'Position',
      //   key: 'user_type_id',
      //   choices: 'position',
      //   itemText: 'position_name',
      //   itemValue: 'user_type_id',
      //   classNames: 'xs12 md6 px-2',
      //   required: true
      // },
      {
        key: 'status',
        label: 'Status',
        choices: 'Statuses',
        classNames: 'xs12 md6 px-2'
      },
      {
        label: 'Company',
        key: 'program_id',
        choices: 'department',
        itemText: 'program_name',
        itemValue: 'program_id',
        hide: true,
        fieldTitle: true,
        classNames: 'xs12 px-2',
        required: true
      },
      {
        key: 'password',
        label: 'Password',
        password: true,
        classNames: 'xs12 px-2',
        required: true
      }
    ],
    genderItems: [
      'Male',
      'Female'
    ],
    dialog: false,
    positionItems: [],
    courseItems: [],
    departmentItems: [],
    errors: {},
    saveLoading: false,
    loading: false,
    skipUserQuery: false,
    skipPositionQuery: false,
    skipProgramQuery: false,
    count: 0,
    skip: 0,
    take: 10,
    dataList: [],
    updateLoading: false,
    error_message: '',
    isError: false
  }),
  computed: {
    ...mapGetters('filters', ['position', 'search']),
    choices () {
      return {
        department: this.departmentItems,
        position: this.positionItems,
        gender: this.genderItems,
        Statuses: ['Active', 'Inactive']
      }
    },
    isEditing () {
      return this.userForm.is_edit
    },
    postApi () {
      if (this.isEditing) return 'api/admin/update/user/account'
      return 'api/create/user'
    },
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        return this.SET_SEARCH(value)
      }
    }
  },
  watch: {
    userForm: {
      handler: function (val) {
        if (Array.isArray(val)) {
          this.setIds()
        }
      },
      deep: true
    }
  },
  mounted () {
    this.setIds()
  },
  methods: {
    ...mapMutations('filters', ['SET_SEARCH']),
    ...mapMutations('user', ['setClearItem']),
    escape () {
      this.$emit('close')
    },
    iconClicked () {},
    setIds () {
      if (!global._.isEmpty(this.userForm)) {
        if (!global._.isEmpty(this.userForm[0].program_id)) {
          this.skipProgramQuery = false
          this.$apollo.queries.program.refresh()
        }
        const id = !global._.isUndefined(this.userForm[0].user_type_id) ? this.userForm[0].user_type_id : 0
        if (Number(global._.trim(id)) === 5 || Number(global._.trim(id)) === 11 || Number(global._.trim(id)) === 3) {
          this.OpenChoices(id)
        }
      }
    },
    OpenChoices (id) {
      const userId = !global._.isUndefined(this.userForm[0].user_type_id) ? this.userForm[0].user_type_id : 0
      this.ChangeItem(userId, 'user')
    },
    closeDialog () {
      this.saveLoading = false
      this.updateLoading = false
      this.$emit('close')
      this.errors = {}
      this.$refs.form.reset()
    },
    close () {
      this.saveLoading = false
      this.updateLoading = false
      if (global._.isEmpty(this.errors)) {
        if (!global._.isEmpty(this.form) ) {
          if (global._.isEmpty(this.form.error_message) || global._.isUndefined(this.form.error_message)) {
            this.$emit('close')
            if (!global._.isEmpty(this.form)) {
              this.$emit('refetch', this.form)
              this.$refs.form.reset()
            }
            this.dialog = false
            this.error_message = ''
            this.userForm[0].confirm_password = ''
          } else {
            this.error_message = this.form.error_message
          }
        }
        this.skipUserQuery = false
        this.$apollo.queries.userFilterFetch.refetch()
      } else {
        this.$refs.form.errors = this.errors
      }
    },
    doEdit () {
      this.dialog = true
      this.setClearItem('')
    },
    async save () {
      this.saveLoading = true
      this.userForm[0].department_name = this.userForm[0].department_id
      this.saveData(this.userForm[0])
    },
    async edit (password) {
      this.setClearItem(password)
      this.updateLoading = true
      this.userForm[0].confirm_password = password
      this.userForm[0].department_name = this.userForm[0].department_id
      this.saveData(this.userForm[0])
    }
  },
  beforeRouteEnter (to, from, next ) {
    next(vm => {
      vm.skipProgramQuery = false
      vm.skipPositionQuery = false
      vm.skipUserQuery = false
    })
  }
}
</script>
