<template>
  <v-container fluid class="mt-0 pt-0">
    <v-layout wrap justify-center align-center>
      <v-col xs="12" md="11">
        <header-component
          :isSearch="true"
          :isFilter="true"
          :isAdd="true"
          :isExport="true"
          label="Search User"
          btnTitle="Add User"
          @clickDialog="addClicked"
          hint="Enter User"
          @clear="clear()"
          @enter="doSearch"
          :isSwitched="isSwitched"
          @reset="resetFilters()"
          @openFilter="openFilter()"
          @closeFilter="closeFilter()"
          :filterItems="headers"
          :link="link"
          @pdf="exportPdf()"
          @word="exportWord()"
          @excel="exportExcel()"
        />

        <v-layout wrap justify-center align-center>
          <v-flex xs12 class="mt-5">
            <floating-card :titles="title" />
          </v-flex>
          <v-flex xs12>
            <v-card> 
             <!-- <v-card-title class="my-5" /> -->
             <v-flex xs12>
                <v-data-table
                  ref="table"
                  :headers="headers"
                  :items="dataList"
                  :page.sync="page"
                  :items-per-page="itemsPerPage"
                  @page-count="pageCount = $event"
                  class="text-table-color"
                  hide-default-footer
                  :fixed-header="true"
                  :loading="userLoading"
                  :options.sync="options"
                  loading-text="Loading... Please wait"
                  @click:row="listClicked"
                  :server-items-length="count"
                 >
                 <template v-slot:item.status="{ item }">
                  <v-chip
                    :color="setColor(item.status)"
                    dark
                    label
                  >
                    {{ item.status }}
                  </v-chip>
                </template>
              </v-data-table>
            </v-flex>
            <v-flex xs12 class="text-center pt-3 pb-0">
              <v-pagination
                v-show="pageCount > 1"
                v-model="page"
                :length="pageCount"
                :total-visible="10"
                color="main"
              ></v-pagination>
            </v-flex>
            <v-flex xs12>
              <v-card-actions
                v-show="count > 0">
                <v-spacer />
                <small>Total of <span class="blue--text">{{ count }} </span> <span>{{ dataList.length > 1 ? 'Items' : 'Item'}}</span></small>
              </v-card-actions>
            </v-flex>
           </v-card>
        </v-flex>
        </v-layout>
      </v-col>
    </v-layout>

    <user-dialog
      :userForm="form"
      :showDialog="dialog"
      @close="close"
      @refetch="refetch"
    />

    <v-snackbar
      top
      right
      v-model="isSnackbar"
      :color="color"
      class="caption">
      <v-card-actions class="ma-0 pa-0">
        {{ text }}
        <v-spacer />
        <v-btn
          color="white"
          text
          icon
          right
          @click="isSnackbar = false"
          class="caption">
          <v-icon>clear</v-icon>
        </v-btn>
      </v-card-actions>
    </v-snackbar>
  </v-container>
</template>
<script>
import formMixins from '@/mixins/form'
import defaultMixins from '@/mixins/index'
import userQueryMixins from '@/mixins/queries/admin/userQueries'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    defaultMixins,
    userQueryMixins,
    formMixins
  ],
  data: () => ({
    isSwitched: false,
    dialog: false,
    // title: [
    //   {
    //     name: 'User',
    //     icon: 'person',
    //     color: 'main',
    //     flex: 'xs12'
    //   }
    // ],
    headers: [
      {
        text: 'Name',
        sortable: true,
        value: 'name',
        title: 'Position',
        icon: 'work',
        name: 'position-filter',
        field: '',
        name: 'user'
      },
      {
        text: 'Gender',
        sortable: true,
        value: 'gender',
        name: 'gender'
      },
      {
        text: 'Email',
        sortable: true,
        value: 'email',
        name: 'email'
      },
      // {
      //   text: 'Position',
      //   sortable: true,
      //   value: 'position_name',
      //   name: 'position'
      // },
      {
        text: 'Contact Number',
        sortable: true,
        value: 'contact_number',
        name: 'contact_number'
      },
      {
        text: 'Status',
        value: 'status',
        sortable: true,
        position: 'status'
      }
    ],
    skip: 0,
    take: 10,
    maxData: 0,
    count: 0,
    dataList: [],
    selectedItem: {},
    form: [],
    formItem: {
      first_name: null,
      middle_name: null,
      last_name: null,
      birth_date: null,
      gender: null,
      email: null,
      user_type_id: null,
      program_id: null,
      course: null,
      password: null,
      confirm_password: null
    },
    userLoading: false,
    skipUserQuery: false,
    programItems: [],
    skipPositionQuery: true,
    skipCourseQuery: true,
    courseItems: [],
    isSnackbar: false,
    color: '',
    text: '',
    link: '',
    skipItems: null,
    takeItems: null,
    currPage: null,
    prevPage: null,
    options: {},
    page: 1,
    pageCount: 0,
    itemsPerPage: 10
  }),
  computed: {
    ...mapGetters('filters', ['position', 'search']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        return this.SET_SEARCH(value)
      }
    },
    isPosition () {
      if (global._.isEmpty(this.position)) return false
      return true
    }
  },
  watch: {
    position (val) {
      this.$apollo.queries.userFilterFetch.refetch()
    },
    options: {
      handler (old, newx) {
        this.skipItems = global._.isUndefined(newx.itemsPerPage) ? 0 : newx.itemsPerPage
        this.takeItems = old.itemsPerPage
        this.prevPage = global._.isUndefined(newx.page) ? 0 : newx.page
        this.currPage = old.page
        let skip = this.sortSkipped(this.skipItems, this.currPage, old.itemsPerPage)
        let take = old.itemsPerPage
        this.loading = true
        this.skip = skip
        this.take = take
        this.$apollo.queries.userFilterFetch.refetch()
      },
      deep: true
    }
  },
  methods: {
    ...mapMutations('filters', ['RESET_FILTERS', 'SET_SEARCH']),
    resetFilters () {
      this.RESET_FILTERS()
      this.clear()
    },
    clear () {
      this.setSearch = ''
    },
    doSearch (val) {
      this.setSearch = val
    },
    // openFilter () {
    //   this.isSwitched = true
    // },
    // closeFilter () {
    //   this.isSwitched = false
    // },
    refetch (val) {
      if (!global._.isEmpty(val.message)) {
        this.snackbar(`${val.message}`, 'success')
      }
      if (!global._.isEmpty(val.error_message)) {
        this.snackbar(`${val.error_message}`, 'error')
      }
      this.$apollo.queries.userFilterFetch.refetch()
    },
    close () {
      this.dialog = false
    },
    addClicked () {
      this.form = []
      this.form[0] = Object.assign({}, this.formItem)
      this.form.is_edit = false
      this.dialog = true
    },
    listClicked (item) {
      const val = global._.pick(item, 'id', 'first_name', 'middle_name', 'last_name',
        'birth_date', 'gender', 'email', 'user_type_id', 'status', 'department_id', 'password', 'program_name', 'program_id', 'course_code', 'course_id', 'position_name', 'user_type_id', 'course', 'program_name')
      this.form = []
      this.form[0] = Object.assign({}, val)
      this.form.is_edit = true
      this.dialog = true
    },
    // onScroll (e) {
    //   const tableHeight = (this.$refs.table.$el.offsetHeight) - (e.srcElement.offsetHeight + 50)
    //   if (e.srcElement.scrollTop > tableHeight && !this.userLoading) {
    //     this.userLoading = true
    //     this.take++
    //     this.$apollo.queries.userFilterFetch.refetch()
    //   } else {
    //     this.take--
    //     this.$apollo.queries.userFilterFetch.refetch()
    //   }
    // },
    exportPdf () {
      let position_type = global._.isEmpty(this.position) ? 'All' : String(this.position.map(item => item))
      this.link = `${process.env.VUE_APP_URL}api/exports/pdf/users/${global._.trim(position_type)}`
    },
    exportWord () {
      let position_type = global._.isEmpty(this.position) ? 'All' : String(this.position.map(item => item))
      this.link = `${process.env.VUE_APP_URL}api/exports/word/users/${global._.trim(position_type)}`
    },
    exportExcel () {
      let position_type = global._.isEmpty(this.position) ? 'All' : String(this.position.map(item => item))
      this.link = `${process.env.VUE_APP_URL}api/exports/excel/users/${global._.trim(position_type)}`
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.RESET_FILTERS()
    })
  }
}
</script>
