<template>
  <v-container fluid class="ma-0 pa-0">
    <v-layout
      v-show="isMoreHistory === false"
      justify-left
      align-left
      class="ml-2 mb-4">
      <v-flex xs12
        class="pointer">
        <span
          @click="$emit('goBack')"
          class="blue--text">{{ history }}
        </span> &nbsp;/&nbsp;
        <span
          class="grey--text">{{ forwardOne }}
        </span>
      </v-flex>
    </v-layout>

    <v-layout
      v-show="isMoreHistory === true"
      justify-left
      align-left
      class="ml-2 mb-4">
      <v-flex xs12
        class="pointer">
        <span
          @click="$emit('goBack')"
          class="blue--text">{{ history }}
        </span> &nbsp;/&nbsp;
        <span
          @click="$emit('goBackOne')"
          class="blue--text">{{ forwardOne }}
        </span> &nbsp;/&nbsp;
        <span
          class="grey--text">{{ forwardTwo }}
        </span>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
  export default {
    props: {
      history: String,
      forwardOne: String,
      isMoreHistory: {
      	type: Boolean,
      	default: false
      },
      forwardTwo: String
    }
  }
</script>
