<template>
  <v-row class="fill-height">
    <v-col>
      <v-sheet height="64">
        <v-toolbar
          flat
        >
          <v-btn
            outlined
            class="mr-4"
            color="grey darken-2"
            @click="setToday"
          >
            Today
          </v-btn>
          <v-btn
            fab
            text
            small
            color="grey darken-2"
            @click="prev"
          >
            <v-icon small>
              mdi-chevron-left
            </v-icon>
          </v-btn>
          <v-btn
            fab
            text
            small
            color="grey darken-2"
            @click="next"
          >
            <v-icon small>
              mdi-chevron-right
            </v-icon>
          </v-btn>
          <v-toolbar-title v-if="$refs.calendar">
            {{ $refs.calendar.title }}
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-menu
            bottom
            right
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                outlined
                color="grey darken-2"
                v-bind="attrs"
                v-on="on"
              >
                <span>{{ typeToLabel[type] }}</span>
                <v-icon right>
                  mdi-menu-down
                </v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item @click="type = 'day'">
                <v-list-item-title>Day</v-list-item-title>
              </v-list-item>
              <v-list-item @click="type = 'week'">
                <v-list-item-title>Week</v-list-item-title>
              </v-list-item>
              <v-list-item @click="type = 'month'">
                <v-list-item-title>Month</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-toolbar>
      </v-sheet>
      <v-sheet height="600">
        <v-calendar
          ref="calendar"
          v-model="focus"
          color="primary"
          :events="events"
          :event-color="getEventColor"
          :type="type"
          :event-overlap-threshold="30"
          :start="dates.first_sem_duration_from"
          :end="endDate" 
          @click:event="showEvent"
          @click:more="viewDay"
          @click:date="viewDay"
          @change="updateRange"
        ></v-calendar>
        <v-menu
          min-width="350px"
          max-width="400px"
          v-model="selectedOpen"
          :close-on-content-click="false"
          :activator="selectedElement"
          nudge-right
        >
          <template>
            <v-card
              color="grey lighten-4"
              min-width="350px"
              max-width="400px"
              flat
            >
              <v-toolbar
                :color="selectedEvent.color"
                dark
              >
                <v-toolbar-title>{{ selectedEvent.name }}</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon>
                  <v-icon @click="selectedOpen = false">close</v-icon>
                </v-btn>
              </v-toolbar>
              <v-card-text>
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title>Day: {{ selectedEvent.day }}</v-list-item-title>
                    <v-list-item-subtitle>Teacher: {{ selectedEvent.teacher }}</v-list-item-subtitle>
                    <v-list-item-subtitle>Class Type: {{ selectedEvent.type | uppercase }}</v-list-item-subtitle>
                    <v-list-item-subtitle>Class Code: {{ selectedEvent.class_code | uppercase }}</v-list-item-subtitle>
                    <v-list-item-subtitle>Time: {{ selectedEvent.from }} - {{ selectedEvent.to }}</v-list-item-subtitle>
                    <v-list-item-subtitle v-if="selectedEvent.room">Room: {{ selectedEvent.room }} (Capacity: {{ selectedEvent.capacity }} )</v-list-item-subtitle>
                    <v-list-item-subtitle v-if="selectedEvent.section">Section/s: {{ selectedEvent.section }}
                    </v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-card-text>
            </v-card>
          </template>
        </v-menu>
      </v-sheet>
    </v-col>
  </v-row>
</template>
<script>
  import { mapGetters } from 'vuex'
  import { setDay, setYear, setMonth, getMonth, getYear, format, getDay } from 'date-fns'
  export default {
    props: {
      items: {
        type: [Array, Object]
      },
      dates: {
        type: [Object]
      }
    },
    data: () => ({
      focus: '',
      type: 'month',
      typeToLabel: {
        month: 'Month',
        week: 'Week',
        day: 'Day'
      },
      selectedEvent: {},
      selectedElement: null,
      selectedOpen: false,
      events: [],
      colors: ['blue', 'indigo', 'deep-purple', 'cyan', 'green', 'orange', 'grey darken-1'],
      weekday: [0, 1, 2, 3, 4, 5, 6],
      weekdays: [
        { text: 'Sun - Sat', value: [0, 1, 2, 3, 4, 5, 6] },
        { text: 'Mon - Sun', value: [1, 2, 3, 4, 5, 6, 0] },
        { text: 'Mon - Fri', value: [1, 2, 3, 4, 5] },
        { text: 'Mon, Wed, Fri', value: [1, 3, 5] },
        { text: 'Tue, Thu', value: [2, 4] },
      ]
    }),
    mounted () {
      this.$refs.calendar.checkChange()
    },
    computed: {
      ...mapGetters('filters', ['semester_id']),
      defaultEndDate () {
        return this.dates.summer_sem_duration_to ? this.dates.summer_sem_duration_to : this.dates.second_sem_duration_to ? this.dates.second_sem_duration_to : this.dates.first_sem_duration_to
      },
      endDate () {
        if (Number(this.semester_id) === 1) {
          return this.dates.first_sem_duration_to
        } else if (Number(this.semester_id) === 2) {
          return this.dates.second_sem_duration_to
        } else if (Number(this.semester_id) === 3) {
          return this.dates.summer_sem_duration_to ? this.dates.summer_sem_duration_to : this.dates.second_sem_duration_to
        } else {
          return this.defaultEndDate
        }
      }
    },
    methods: {
      viewDay ({ date }) {
        this.focus = date
        this.type = 'day'
      },
      getEventColor (event) {
        return event.color
      },
      setToday () {
        this.focus = ''
      },
      prev () {
        this.$refs.calendar.prev()
      },
      next () {
        this.$refs.calendar.next()
      },
      showEvent ({ nativeEvent, event }) {
        const open = () => {
          this.selectedEvent = event
          this.selectedElement = nativeEvent.target
          setTimeout(() => {
            this.selectedOpen = true
          }, 10)
        }

        if (this.selectedOpen) {
          this.selectedOpen = false
          setTimeout(open, 10)
        } else {
          open()
        }

        nativeEvent.stopPropagation()
      },
      updateRange ({ start, end }) {
        let newDefaultdate = new Date(this.endDate)
        let self = this
        let calendarDays = []
        let flattenSortedArrays = []
        const min = new Date(`${start.date}T00:00:00`)
        const max = new Date(`${end.date}T23:59:59`)
        const eventCount = (max.getTime() - min.getTime()) / 86400000
        let mapItems = this.items.map(item => {
          return [...item.lec_schedules, ...item.lab_schedules, ...item.ojt_schedules]
        })
        let flattenItems = global._.flatten(mapItems)
        let maxCount = Math.ceil(eventCount)
        const count =  maxCount * 24
        if (maxCount > 1) {
          let j = 0
          for (let i = 0; i < count; i++) {
            let newDate = min.setDate(min.getDate() + 1)
            let getNewDate = format(new Date(newDate), 'yyyy-LL-dd')
            let dayOfMonth = getDay(new Date(newDate))
            if (Number(newDate) <= Number(newDefaultdate.getTime())) {
              const dayItem = dayOfMonth === 0 ? 'Su' : dayOfMonth === 1 ? 'M' : dayOfMonth === 2 ? 'T' : dayOfMonth === 3 ? 'W' : dayOfMonth === 4 ? 'Th' : dayOfMonth === 5 ? 'F' : 'Sa'
              let sortedItems = flattenItems.filter(item => item.day === dayItem)
              global._.forEach(sortedItems, function (val) {
                const day = val.day === 'Su' ? 0 : val.day === 'M' ? 1 : val.day === 'T' ? 2 : val.day === 'W' ? 3 : val.day === 'Th' ? 4 : val.day === 'F' ? 5 : 6
                calendarDays.push({
                  class_code: val.class_code,
                  name: `${val.class_code} - ${val.teacher_fullname}`,
                  teacher: val.teacher_fullname,
                  capacity: val.capacity,
                  day: val.day_name,
                  from: val.time_from_meridian,
                  to: val.time_to_meridian,
                  start: setDay(new Date(`${getNewDate}T${val.time_from}`), Number(day)),
                  end: setDay(new Date(`${getNewDate}T${val.time_to}`), Number(day)),
                  room: val.room.number,
                  section: String(global._.uniq(val.section.map(item => item.section.section))),
                  type: val.type,
                  color: day === 0 ? 'blue' : day === 1 ? 'indigo' : day === 2 ? 'deep-purple' : day === 3 ? 'cyan' : day === 4 ? 'green' : day === 5 ? 'orange' : 'grey darken-1',
                  timed: true
                })
              })
            }
          }
        } else {
          for (let i = 0; i < maxCount; i++) {
            const day = start.weekday === 0 ? 'Su' : start.weekday === 1 ? 'M' : start.weekday === 2 ? 'T' : start.weekday === 3 ? 'W' : start.weekday === 4 ? 'Th' : start.weekday === 5 ? 'F' : 'Sa'
            let sortedItems = flattenItems.filter(item => item.day === day)
            global._.forEach(sortedItems, function (val) {
              calendarDays.push({
                class_code: val.class_code,
                name: `${val.class_code} - ${val.teacher_fullname}`,
                teacher: val.teacher_fullname,
                capacity: val.capacity,
                day: val.day_name,
                from: val.time_from_meridian,
                to: val.time_to_meridian,
                start: setDay(new Date(`${start.date}T${val.time_from}`), Number(start.weekday)),
                end: setDay(new Date(`${start.date}T${val.time_to}`), Number(start.weekday)),
                room: val.room.number,
                section: String(global._.uniq(val.section.map(item => item.section.section))),
                type: val.type,
                color: start.weekday === 0 ? 'blue' : start.weekday === 1 ? 'indigo' : start.weekday === 2 ? 'deep-purple' : start.weekday === 3 ? 'cyan' : start.weekday === 4 ? 'green' : start.weekday === 5 ? 'orange' : 'grey darken-1',
                timed: true
              })
            })
          }
        }
        this.events = calendarDays
      }
    }
  }
</script>
