<template>
 <v-layout
   wrap
   justify-center
   align-center
   >
   <v-flex
     v-for="(item, key) in items"
     :key="key"
     :class="item.flex">
     <v-card
       tile
       :class="item.color"
       class="ml-5 mb-4 mt-1 float-card">
        <v-card-title :class="item.color" class="font-weight-regular body-1">
          <v-icon dark large>{{ item.icon }}</v-icon>
        </v-card-title>
      </v-card>
     <v-card class="elevation-2 mx-2 mt-8 pt-8">
       <v-list-item three-line>
         <v-list-item-content>
           <v-list-item-title :class="`${item.color}--text`" class="text-center font-weight-light mb-1">
             <p :class="numberFont" class="mb-0">{{ item.number }}</p>
           <v-list-item-subtitle :class="titleFont" class="black--text text-center font-weight-light mb-1">{{ item.title }}</v-list-item-subtitle>
           </v-list-item-title>
         </v-list-item-content>
       </v-list-item>
     </v-card>
   </v-flex>
 </v-layout>
</template>
<script type="text/javascript">
export default {
  props: {
  	items: {
      required: true,
      type: [Object, Array]
    }
  },
  computed: {
    imgWidthSize () {
      if (this.$vuetify.breakpoint.lgAndUp) {
        return '100px'
      } else if (this.$vuetify.breakpoint.mdOnly) {
        return '80px'
      } else if (this.$vuetify.breakpoint.smOnly) {
        return '60px'
      } else {
        return '40px'
      }
    },
    imgHeightSize () {
      if (this.$vuetify.breakpoint.lgAndUp) {
        return '70px'
      } else if (this.$vuetify.breakpoint.mdOnly) {
        return '60px'
      } else if (this.$vuetify.breakpoint.smOnly) {
        return '50px'
      } else {
        return '40px'
      }
    },
    numberFont () {
      if (this.$vuetify.breakpoint.lgAndUp) {
        return 'text-h3'
      } else {
        return 'text-h4'
      }
    },
    titleFont () {
      if (this.$vuetify.breakpoint.smAndUp) return 'text-h8'
        return 'caption'
    }
  }
}
</script>
