<template>
  <v-dialog
    :value="showDialog"
    :max-width="widthStyle"
    persistent
    v-esc="escape">
    <v-card
      class="pa-2 text-center">
      <v-card-actions class="pb-0"
        >
        <span v-show="title"
        class=" accent--text">
          {{ title }}
        </span>
        <div class="flex-grow-1"></div>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              fab
              @click="$emit('close')"
              text>
              <v-icon medium color="red">mdi-close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-card-actions>
      <v-layout wrap :justify-center="!isDefault" :align-center="!isDefault"
        class="mt-10 mb-5">
        <v-flex :xs9="!isDefault" :xs12="isDefault">
          <v-container fluid>
            <v-layout wrap>
              <v-flex
                xs12
                :key="index"
                v-for="(item, index) in form"
              >
                <v-layout wrap>
                  <field-component
                    :field="field"
                    :key="field.key"
                    :form="form[index]"
                    :item-idx="index"
                    :errors="errors"
                    :choices="choices"
                    :selectOutlined="true"
                    v-for="field in fields"
                    @change="onChange"
                  ></field-component>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
        <v-flex xs3 v-if="!isDefault">
          <v-layout wrap justify-center align-center>
            <v-card-actions :class="classStyle"
            >
              <v-btn
                :disabled="disabled"
                color="accent"
                @click="$emit('go')">
                {{ btn_name }}
              </v-btn>
            </v-card-actions>
          </v-layout>
        </v-flex>
        <v-flex xs12 v-if="isDefault">
          <v-card-actions :class="classStyle"
            >
            <v-spacer />
              <v-btn
                :disabled="disabled"
                color="accent"
                width='100'
                class="text-none"
                @click="$emit('go')">
                {{ btn_name }}
              </v-btn>
            </v-card-actions>
        </v-flex>
      </v-layout>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    items: {
      required: false,
      type: [Array, Object]
    },
    value: {
      required: false,
      type: [Array, Object, String, Number]
    },
    label: {
      required: false,
      type: String
    },
    itemText: {
      required: false,
      type: String
    },
    itemValue: {
      required: false,
      type: String
    },
    title: {
      required: false,
      type: String
    },
    loading: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    fields: {
      required: false,
      type: [Array, Object]
    },
    form: {
      required: false,
      type: [Array, Object]
    },
    choices: {
      type: Object,
      default: () => {
        return {}
      }
    },
    classStyle: {
      required: false,
      type: String
    },
    btn_name: {
      required: false,
      type: String
    },
    isDefault: {
      type: Boolean,
      default: false
    },
    isStyle: {
      type: Boolean,
      default: false
    },
    errors: {
      required: false,
      type: [Array, Object]
    }
  },
  methods: {
    Input (value) {
      this.$emit('input', value)
    },
    escape () {
      this.$emit('close')
    },
    onChange (value) {
      this.$emit('Change', value)
    }
  },
  computed: {
    widthStyle () {
      if (this.isStyle) return '800'
      return '660'
    }
  }
}
</script>
