<template>
  <v-dialog
    :value="showDialog"
    max-width="500"
    persistent
    v-esc="escape">
    <v-card
      class="pt-1 text-center">
      <v-card-actions class="pb-0">
        <div class="flex-grow-1"></div>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              fab
              @click="close"
              text>
              <v-icon medium color="red">mdi-close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-card-actions>
      <v-layout wrap class="px-2 body-4" justify-center align-center>
        <v-card-actions>
          <v-card-text class="break-word">
            <v-icon class="main--text" large left>info</v-icon> {{ message }}
          </v-card-text>
        </v-card-actions>
      </v-layout>

      <v-container fluid
        v-if="passwordInput">
        <v-layout wrap justify-center align-center>
          <v-flex xs12>
            <v-text-field
              outlined
              class="mx-2"
              v-model="password"
              label="Confirm Password"
              color="main"
              :append-icon="show ? 'visibility_off' : 'visibility'"
              @click:append="show = !show"
              :type="show ? 'password' : 'text'"
              dense
              :error-messages="error_message"
              @keyup.enter="$emit('proceed', password)"
            />
          </v-flex>
        </v-layout>
      </v-container>

      <v-card-actions class="py-5">
        <v-spacer />
        <v-btn
          :loading="loading"
          color="main"
          width="90"
          v-show="isSubmit"
          class="white--text mr-3 mt-2 text-none font-weight-light"
          @click="$emit('proceed', password)">Proceed
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    message: String,
    error_message: String,
    loading: {
      type: Boolean,
      default: false
    },
    passwordInput: {
      type: Boolean,
      default: false
    },
    isSubmit: {
      type: Boolean,
      default: true
    }
  },
  data:() => ({
    show: true,
    password: ''
  }),
  computed: {
    ...mapGetters('user', ['clear_item'])
  },
  watch: {
    clear_item (val) {
      this.password = val
    }
  },
  methods: {
    close () {
      this.password = ''
      this.$emit('close', this.password)
    },
    escape () {
      this.$emit('close')
    }
  }
}
</script>
