<template>
  <v-container fluid class="mt-9 elevation-2" style="position: relative; background: white;"> 
    <v-layout wrap>
      <div class="table-overlay"
        v-if="prop.titleInfo">
        <v-card-title class="body-1 white--text font-weight-regular">
          {{ prop.titleInfo.name }} <v-icon class="white--text ml-2"> {{ prop.titleInfo.icon }} </v-icon>
        </v-card-title>
      </div>
    </v-layout>
    <v-row style="height: 3rem">
    </v-row>
    <v-layout wrap>
      <v-flex xs12
        class="full-width-table"
        @scroll="onScroll"
      >
        <v-data-table
          v-model="dataTable"
          :headers="prop.headers"
          :items="dataList"
          :items-per-page="prop.maxData"
          hide-default-footer
          select
          fixed-header
          :loading="loading"
          loading-text="Loading... Please wait"
          @click:row="$emit('clicked', $event)">
<!-- program table custom -->
          <template v-slot:item.program_status="{ item }">
            <v-chip
              :color="setColor(item.program_status)"
              dark
              label
            >
              {{ item.program_status }}
            </v-chip>
          </template>
<!-- program table custom -->
          <template v-slot:top>
            <v-card-actions
              v-show="prop.isTop"
              class="mb-7 mx-2">
              <v-spacer />
              <v-btn
                :width="prop.btnWidth"
                color="accent"
                class="text-none"
                @click="$emit('add')">
                {{ prop.btnTitle }}
                <v-icon>{{ prop.icon }}</v-icon>
              </v-btn>
            </v-card-actions>
          </template>
          <template v-slot:footer>
            <v-card-actions
              v-show="prop.isFooter"
              class="my-7 mx-3">
              <v-spacer />
              <v-btn
                dark
                v-show="prop.isApproval"
                :width="prop.btnWidth"
                color="green"
                class="mx-2 text-none"
                @click="$emit('approval')">
                Approval
              </v-btn>
              <v-btn
                dark
                v-show="prop.isDisapproval"
                :width="prop.btnWidth"
                color="red"
                class="mx-2 text-none"
                @click="$emit('disapproval')">
                Disapproval
              </v-btn>
              <a :href="prop.link" target="_blank" class="text-decor red--text">
                <v-btn
                  :width="prop.btnWidth"
                  class="accent--text text-none"
                  @click="$emit('export')">
                  Export
                  <v-icon>mdi-download</v-icon>
                </v-btn>
              </a>
            </v-card-actions>
          </template>
          <template v-slot:body.append>
            <tr 
              v-show="prop.isTotal">
              <td
                class="text-center"
                v-for="(item, index) in prop.headers"
                :key="index"
              >
                <span
                  v-if="item.total">{{ item.total_title }}</span>
                <span
                  class="pl-7"
                  v-else-if="item.total_data">
                  {{ prop.total_units }}
                </span>
                <span v-else></span>
              </td>
            </tr>
            <tr 
              v-show="prop.isOtherTotal">
              <td
                class="text-center"
                v-for="(item, index) in prop.headers"
                :key="index"
              >
                <span
                  v-if="item.other_total">{{ item.other_title }}</span>
                <span
                  class="pl-7"
                  v-else-if="item.other_total_data">
                  {{ prop.other_total }}
                </span>
                <span v-else></span>
              </td>
            </tr>
          </template>
        </v-data-table>
      </v-flex>
      <v-flex xs12>
        <v-card-actions
          v-show="prop.maxData > 0">
          <v-spacer />
          <small>Total of <span class="blue--text">{{ prop.maxData }}</span> Item/s</small>
        </v-card-actions>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  props: {
    prop: Object,
    dataList: Array,
    loading: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    dataTable: []
  }),
  methods: {
    onScroll (e) {
      this.$emit('scroll', e)
    },
    setColor(item) {
      return item == 'Active' ? 'green' : 'red'
    }
  }
}
</script>
