<template>
  <v-flex xs12>
    <v-card flat class="mx-1">
      <v-layout wrap>
        <v-flex xs12>
          <v-data-table
            :headers="headers"
            :items="items"
            :page.sync="page"
            :items-per-page="itemsPerPage"
            @page-count="pageCount = $event"
            hide-default-footer
            :loading="loading"
            loading-text="Loading... Please wait"
            class="ma-2"
            v-bind="rowsPerPage"
            fixed-header
            >
            <template v-slot:top="{ item }">
              <v-card-actions class="my-0 py-0">
                <v-layout wrap>
                  <v-flex xs12 sm6 md7>
                    <span class="subtitle-1 break-word">{{ header }}</span>
                  </v-flex>
                  <v-flex xs12 sm6 md5>
                    <v-card-actions>
                      <v-spacer />
                      <v-btn
                        color="accent"
                        width="160px"
                        class="white--text ml-2 my-2 text-none"
                        @click="addItem"
                      >
                        Add {{ title }}
                      </v-btn>
                    </v-card-actions>
                  </v-flex>
                </v-layout>
              </v-card-actions>
              <v-dialog
                v-model="dialog"
                persistent
                max-width="750"
                v-esc="escape"
              >
                <v-card>
                  <v-card-actions>
                    <v-card-title class="accent--text headline"
                      v-if="isEdit">
                      Edit {{ title }}
                    </v-card-title>
                    <v-card-title class="accent--text headline"
                      v-else>
                      Add {{ title }}
                    </v-card-title>
                    <v-spacer />
                    <v-tooltip top>
                      <template v-slot:activator="{ on }">
                        <v-btn
                          v-show="isEdit"
                          v-on="on"
                          @click="deleteItem"
                          text
                          fab
                          color="red">
                          <v-icon medium color="red">mdi-delete</v-icon>
                        </v-btn>
                      </template>
                      <span>Delete</span>
                    </v-tooltip>
                    <v-btn
                      text
                      fab
                      @click="close">
                      <v-icon medium color="red">mdi-close</v-icon>
                    </v-btn>
                  </v-card-actions>
                  <v-card-text>
                    <v-textarea
                      v-model="model"
                    ></v-textarea>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer />
                    <v-btn
                      color="accent"
                      width="100px"
                      class="white--text mr-3 my-2 text-none"
                      @click="dialog = false"
                      :loading="saveLoading"
                      @click.enter="saveItem"
                    >
                      Save
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </template>
            <template v-slot:body="{ items }">
              <tbody>
                <tr v-for="(item, index) in items" :key="index"
                  @click="editItem(item)">
                  <td class="text-left"
                  >
                    {{ item.on_the_job_details ? item.on_the_job_details : item.notes }}
                  </td>
                </tr>
              </tbody>
            </template>
          </v-data-table>
        </v-flex>
        <v-flex xs12 class="text-center pt-1 pb-0">
          <v-pagination
            v-show="pageCount > 1"
            v-model="page"
            :length="pageCount"
            :total-visible="3"
          ></v-pagination>
        </v-flex>
      </v-layout>
    </v-card>
  </v-flex>
</template>
<script type="text/javascript">
export default {
  props: {
    title: String,
    header: String,
    items: {
      required: true,
      type: [Object, Array],
      default: () => {
        return [{ name: ''}]
      }
    },
    loading: {
      type: Boolean,
      default: false
    },
    saveLoading: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      dialog: false,
      model: '',
      isEdit: false,
      rowsPerPage: {
        'footer-props': {
          'items-per-page-options': [3]
        }
      },
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      headers: [
        {
          text: '',
          align: 'center',
          sortable: false,
          value: 'id'
        }
      ],
      courseItem: {}
    }
  },
  methods: {
    escape () {
      this.$emit('close')
    },
    editItem (val) {
      this.courseItem = val
      let item = val.on_the_job_details ? val.on_the_job_details : val.notes
      this.isEdit = true
      this.model = item
      this.dialog = true
    },
    close () {
      this.model = ''
      this.dialog = false
    },
    addItem () {
      this.isEdit = false
      this.model = ''
      this.dialog = true
    },
    deleteItem () {
      this.$emit('delete', this.courseItem)
      this.dialog = false
    },
    saveItem () {
      if (this.isEdit) {
        let input = {
          ...this.courseItem,
          name: this.model
        }
        this.$emit('save', input)
      } else {
        this.$emit('save', this.model)
      }
    }
  }
}
</script>
