<template>
  <v-dialog
    :value="showDialog"
    max-width="800"
    persistent
    v-esc="escape">
    <v-card
      class="pt-1 text-center">
      <v-card-actions class="pb-3">
        <span class="pl-3 accent--text title">
          Entrance Exam
        </span>
        <div class="flex-grow-1"></div>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              fab
              @click="close"
              text>
              <v-icon medium color="red">mdi-close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-card-actions>
      <v-divider class="mx-3" />
      <v-container fluid>
        <v-layout wrap justify-left align-left
          class="mt-5">
          <v-flex xs12>
            <v-card-title class="mt-0 pt-0 break-word text-left body-1">
              Please check/uncheck the following requirement/s apply.
            </v-card-title>
          </v-flex>
          <v-flex xs12 sm6 md4
            v-for="(item, index) in items"
            :key="index">
            <v-card-actions class="my-0 py-0">
              <v-checkbox
                readonly
                v-model="item.title"
                :label="item.title"
                :value="item.title"
                :disabled="item.disabled"
                @click="checkedItem(item, index)"
              />
            </v-card-actions>
          </v-flex>
          <v-flex xs12>
            <v-layout wrap
              v-show="isOthers">
              <v-flex xs12>
                <v-textarea
                  solo
                  autocomplete="text"
                  label="Others:"
                  v-model="others"
                  rows="4"
                  class="mx-2"
                  @input="Input"
                ></v-textarea>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-container>

      <v-card-actions class="pb-5">
        <v-spacer />
        <v-btn
          :loading="acceptLoading"
          color="green"
          width="120"
          :disabled="isAccepted"
          class="white--text mr-3 mt-2 text-none"
          @click="$emit('accept')">Approve
        </v-btn>
        <v-btn
          :loading="declinedLoading"
          color="red"
          width="120"
          :disabled="isDeclined"
          class="white--text mr-3 mt-2 text-none"
          @click="$emit('declined')">Disapprove
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    acceptLoading: {
      type: Boolean,
      default: false
    },
    declinedLoading: {
      type: Boolean,
      default: false
    },
    items: {
      type: [Object, Array],
      default: []
    },
    isAccepted: {
      type: Boolean,
      default: false
    },
    isDeclined: {
      type: Boolean,
      default: false
    }
  },
  data:() => ({
    others: '',
    isOthers: false
  }),
  watch: {
    items (val) {
      if (!global._.isUndefined(val)) {
        let otherItem = val.find(item => item.title === 'Others')
        if (otherItem.title === 'Others') {
          this.isOthers = !otherItem.disabled
        }
      }
    }
  },
  methods: {
    escape () {
      this.$emit('close')
    },
    close () {
      this.others = ''
      this.$emit('close')
    },
    Input (val) {
      this.$emit('input', val)
    },
    checkedItem (item, index) {
      this.$emit('checkItem', item, index)
      if (item.title === 'Others') {
        this.isOthers = !item.disabled
      }
    }
  }
}
</script>
