<!--<template>
  <v-menu
    v-model="isMenu"
    offset-x
    transition="slide-y-transition"
    persistent
    bottom
    right
    :close-on-click="false"
    :close-on-content-click="false"
    :nudge-bottom="60"
    :nudge-left="nudgeLeft"
    max-width="450px"
  >
    <template v-slot:activator="{ on }">
      <v-btn
        v-on="on"
        v-show="isExport"
        :width="filterWidth"
        :height="height"
        color="main"
        :disabled="isDisabled"
        :class="classStyle"
        class="text-none body-1 mr-1 mb-1"
        @click="$emit('exportMenu')"
        @click.enter="isMenu = true"
        style="color: white;">
        Export
        <v-icon right large style="color: white;">{{ isMenu === true ? 'arrow_drop_down' : 'arrow_drop_up' }}</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-actions class="align-center justify-center">
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <a :href="link" target="_blank" class="text-decor red--text">
              <v-btn
                v-on="on"
                text
                v-show="isWord"
                @click="$emit('word')"
                class="blue--text">
                <v-icon large>mdi-file-word</v-icon>

                <template v-slot:loader>
                  <span
                    class="grey--text caption text--none">Loading...
                  </span>
                </template>
              </v-btn>
            </a>
          </template>
          <span>Word</span>
        </v-tooltip>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <a :href="link" target="_blank" class="text-decor red--text">
              <v-btn
                v-on="on"
                text
                v-show="isExcel"
                @click="$emit('excel')"
                class="green--text">
                <v-icon large>mdi-file-excel</v-icon>

                <template v-slot:loader>
                  <span
                    class="grey--text caption text--none">Loading...
                  </span>
                </template>
              </v-btn>
            </a>
          </template>
          <span>Excel</span>
        </v-tooltip>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <a :href="link" target="_blank" class="text-decor red--text">
            <v-btn
              v-on="on"
              text
              v-show="isPdf"
              class="red--text text-none"
              @click="$emit('pdf', link)">
              <v-icon size="30px">fas fa-file-pdf</v-icon>

              <template v-slot:loader>
                <span
                  class="grey--text caption text--none">Loading...
                </span>
              </template>
            </v-btn>
          </a>
          </template>
          <span>Pdf</span>
        </v-tooltip>
      </v-card-actions>
    </v-card>
  </v-menu>
</template>
<script>
import formMixins from '@/mixins/form.js'
import { mapGetters } from 'vuex'
export default {
  mixins: [
    formMixins
  ],
  props: {
    isExport: {
      required: false,
      type: Boolean,
      default: () => {
        return false
      }
    },
    isDisabled: {
      required: false,
      type: Boolean,
      default: () => {
        return false
      }
    },
    link: {
      required: false,
      type: String
    },
    height: {
      type: String
    },
    classStyle: {
      type: String
    },
    isWord: {
      type: Boolean,
      default: () => {
        return true
      }
    },
    isExcel: {
      type: Boolean,
      default: () => {
        return true
      }
    },
    isPdf: {
      type: Boolean,
      default: () => {
        return true
      }
    }
  },
  data: () => ({
    isMenu: false
  }),
  computed: {
    ...mapGetters('user', ['user']),
    filterWidth () {
      if (this.$vuetify.breakpoint.smAndUp) return '110px'
      return '90px'
    },
    nudgeLeft () {
      if (this.isPdf && this.isExcel && this.isWord) {
        return '170'
      } else if ((this.isPdf && this.isExcel && !this.isWord) || (this.isPdf && !this.isExcel && this.isWord) || (!this.isPdf && this.isExcel && this.isWord)) {
        return '130'
      } else {
        return '110'
      }
    }
  }
}
</script>
-->