<template>
  <v-flex :class="field.classNames">

    <small v-if="!field.fieldTitle">{{ field | label }} 
      <span v-if="field.required" class="pl-1" style="color: red;">*</span>
    </small>

    <v-autocomplete
      :chips="field.multiple"
      :deletable-chips="field.multiple"
      :error-messages="errors[field.key]"
      :hint="field.hint"
      :items="choices[field.choices]"
      :multiple="field.multiple"
      :persistent-hint="true"
      :placeholder="field.placeholder"
      :label="field.selectLabel"
      class="main--text"
      :item-value="field.itemValue"
      :item-text="field.itemText"
      :disabled="field.disabled"
      dense
      clearable
      :readonly="field.readonly"
      clear-icon="mdi-close-circle"
      :outlined="selectOutlined"
      color="main"
      :loading="field.loading"
      @change="onSelectChange"
      v-if="field.withKey"
      v-show="!field.hide"
      v-model="form[field.key]"
      required
      @click:clear="form[field.key] = ''"
    />

    <v-autocomplete
      :chips="field.multiple"
      :deletable-chips="field.multiple"
      :search-input.sync="input_search"
      :error-messages="errors[field.key]"
      :hint="field.hint"
      :items="choices[field.choices]"
      :multiple="field.multiple"
      :persistent-hint="true"
      :placeholder="field.placeholder"
      :label="field.selectLabel"
      class="main--text"
      :item-value="field.itemValue"
      :item-text="field.itemText"
      :disabled="field.disabled"
      dense
      :clearable="field.clearable"
      :readonly="field.readonly"
      clear-icon="mdi-close-circle"
      :outlined="selectOutlined"
      color="main"
      :loading="field.loading"
      @change="defaultSelect"
      v-else-if="field.choices"
      v-show="!field.hide"
      v-model="form[field.key]"
      required
      :append-outer-icon="input_search ? field.appendIcon : field.appendOtherIcon"
      @click:clear="form[field.key] = '', input_search = '', $emit('clear', field.key)"
      @click:append-outer="$emit('iconClicked', input_search)"
    />

    <v-text-field
      color="main"
      :error-messages="errors[field.key]"
      :hint="field.hint"
      :mask="field.mask"
      @input="Input"
      :persistent-hint="true"
      :placeholder="field.placeholder"
      :append-icon="show ? 'visibility_off' : 'visibility'"
      :type="show ? 'text' : 'password'"
      @click:append="show = !show"
      v-model="form[field.key]"
      :disabled="field.disabled"
      dense
      :outlined="passOutlined"
      v-else-if="field.password && field.counter"
      @click:clear="form[field.key] = ''"
      required
      :counter="field.counter"
      :rules="field.rule ? field.rule : rules"
    />

    <v-text-field
      color="main"
      :error-messages="errors[field.key]"
      :hint="field.hint"
      :mask="field.mask"
      @input="Input"
      :persistent-hint="true"
      :placeholder="field.placeholder"
      :append-icon="show ? 'visibility_off' : 'visibility'"
      :type="show ? 'text' : 'password'"
      @click:append="show = !show"
      v-model="form[field.key]"
      :disabled="field.disabled"
      dense
      :outlined="passOutlined"
      v-else-if="field.password && field.counter"
      @click:clear="form[field.key] = ''"
      required
      :counter="field.counter"
      :rules="field.rule"
    />

    <v-text-field
      color="main"
      :error-messages="errors[field.key]"
      :hint="field.hint"
      :mask="field.mask"
      @input="Input"
      :persistent-hint="true"
      :placeholder="field.placeholder"
      :append-icon="show ? 'visibility_off' : 'visibility'"
      :type="show ? 'text' : 'password'"
      @click:append="show = !show"
      v-model="form[field.key]"
      :disabled="field.disabled"
      dense
      :outlined="passOutlined"
      v-else-if="field.password"
      @click:clear="form[field.key] = ''"
      required
    />

    <v-dialog
      :close-on-value-click="false"
      v-model="showDate"
      max-width="290px"
      min-width="290px"
      v-else-if="field.date"
      color="main"
      :disabled="field.readonly"
    >
    <!-- profile - birth date field -->
      <template v-slot:activator="{ on }">
        <v-text-field
          v-on="on"
          @input="Input"
          v-bind="$attrs"
          
          @click:clear="form[field.key] = ''"
          :disabled="field.disabled"
          dense
         :placeholder="field.placeholder"
          :outlined="dateOutlined"
          color="main"
          append-icon="event"
          event-color="main"
          :type="field.type"
          readonly
          :error-messages="errors[field.key]"
          required
        />
      </template>
      <v-date-picker
        scrollable
        color="main"
        v-model="form[field.key]"
        @change="Input"
        type="date"
        @input="showDate = false"
      />
    </v-dialog>
<!-- 
    <v-dialog
      :close-on-value-click="false"
      v-model="showTime"
      max-width="290px"
      min-width="290px"
      v-else-if="field.time"
      color="main"
    >
      <template v-slot:activator="{ on }">
        <v-text-field
          v-on="on"
          :rules="field.rules"
          @input="Input"
          v-bind="$attrs"
          :value="form[field.key]"
          @click:clear="form[field.key] = ''"
         :disabled="field.disabled"
          dense
          placeholder="HH:MM"
          :outlined="timeOutlined"
  
          color="main"
          append-icon="mdi-clock-time-four-outline"
          event-color="main"
          :type="field.type"
          readonly
          class="mx-2"
          :error-messages="errors[field.key]"
        />
      </template>
      <v-time-picker
        scrollable
        color="main"
        v-model="form[field.key]"
        @change="Input"
        type="time"
        format="24hr"
        @input="showTime = false"
      />
    </v-dialog>
 -->
    <v-text-field
      @click:clear="form[field.key] = ''"
      color="main"
      :outlined="timeOutlined"
      dense
      @input="Input"
      hint="HH:MM am/pm"
      append-icon="mdi-clock-time-four-outline"
      v-else-if="field.time"
      pattern="^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$"
      type="time"
      v-model="form[field.key]"
      required>
    </v-text-field>

    <v-textarea
      color="main"
      :error-messages="errors[field.key]"
      :hint="field.hint"
      :mask="field.mask"
      @input="Input"
      :persistent-hint="true"
      :placeholder="field.placeholder"
      class="pt-0"
      :disabled="field.disabled"
      dense
      :rows="field.rows"
      :readonly="field.readonly"
      :outlined="textOutlined"
      :append-icon="field.appendIcon"
      :type="field.type"
      v-else-if="field.textarea"
      v-model="form[field.key]"
      @click:clear="form[field.key] = ''"
      required
    ></v-textarea>

    <v-checkbox
      v-else-if="field.checked"
      :disabled="field.disabled"
      :readonly="field.readonly"
      v-model="form[field.key]"
      :label="field.label"
      :value="field.key"
      @change="onCheckChange"
    ></v-checkbox>

    <v-text-field
      color="main"
      :error-messages="errors[field.key]"
      :hint="field.hint"
      :mask="field.mask"
      @input="Input"
      :persistent-hint="true"
      :placeholder="field.placeholder"
      class="main--text"
      :disabled="field.disabled"
      dense
      :readonly="field.readonly"
      :outlined="textOutlined"
      :append-icon="field.appendIcon"
      :type="field.type"
      v-else-if="field.email"
      :min="field.min"
      v-model="form[field.key]"
      @click:clear="form[field.key] = ''"
      required
    ></v-text-field>

    <v-text-field
      color="main"
      :error-messages="errors[field.key]"
      :hint="field.hint"
      :mask="field.mask"
      @input="Input"
      :persistent-hint="true"
      :placeholder="field.placeholder"
      class="main--text"
      :disabled="field.disabled"
      dense
      :readonly="field.readonly"
      :outlined="textOutlined"
      :append-icon="field.appendIcon"
      :prepend-inner-icon="field.prependIcon"
      :prefix="field.prefix"
      type="number"
      v-else-if="field.number"
      :min="field.min"
      v-model.number="form[field.key]"
      @click:clear="form[field.key] = ''"
    ></v-text-field>

    <v-text-field
      color="main"
      :error-messages="errors[field.key]"
      :hint="field.hint"
      v-mask="field.mask"
      :masked="true"
      @input="Input"
      :persistent-hint="true"
      :placeholder="field.placeholder"
      class="main--text"
      :disabled="field.disabled"
      dense
      :readonly="field.readonly"
      :outlined="textOutlined"
      :append-icon="field.appendIcon"
      :prepend-inner-icon="field.prependIcon"
      :prefix="field.prefix"
      v-else-if="field.mask"
      :min="field.min"
      v-model="form[field.key]"
      @click:clear="form[field.key] = ''"
    ></v-text-field>

    <v-text-field
      color="main"
      :error-messages="errors[field.key]"
      :hint="field.hint"
      :mask="field.mask"
      @input="Input"
      :persistent-hint="true"
      :placeholder="field.placeholder"
      class="main--text"
      :disabled="field.disabled"
      dense
      :readonly="field.readonly"
      :outlined="textOutlined"
      :append-icon="field.appendIcon"
      :prepend-inner-icon="field.prependIcon"
      :append-outer-icon="form[field.key] ? field.appendOuterIcon : ''"
      @click:append-outer="$emit('clickOuterIcon')"
      :type="field.type"
      v-else
      :min="field.min"
      v-model="form[field.key]"
      @click:clear="form[field.key] = ''"
    >
     <template v-slot:prepend v-if="field.help">
        <v-tooltip
          bottom
        >
          <template v-slot:activator="{ on }">
            <v-icon v-on="on">
              mdi-help-circle-outline
            </v-icon>
          </template>
          {{ field.help }}
        </v-tooltip>
      </template> 
    </v-text-field>
  </v-flex>
</template>

<script>
import { mask, masked } from 'vue-the-mask'

export default {
  directives: { mask, masked },
  props: {
    field: {
      required: true,
      type: Object
    },
    form: {
      required: true,
      type: [Object, Array]
    },
    choices: {
      type: Object,
      default: () => {
        return {}
      }
    },
    errors: {
      type: Object,
      default: () => {
        return {}
      }
    },
    value: [String, Number, Array, Object, Boolean],
    selectOutlined: {
      required: false,
      type: Boolean,
      default: () => {
        return false
      }
    },
    textOutlined: {
      required: false,
      type: Boolean,
      default: () => {
        return false
      }
    },
    dateOutlined: {
      required: false,
      type: Boolean,
      default: () => {
        return false
      }
    },
    timeOutlined: {
      required: false,
      type: Boolean,
      default: () => {
        return false
      }
    },
    passOutlined: {
      required: false,
      type: Boolean,
      default: () => {
        return false
      }
    }
  },
  data: () => ({
    show: false,
    showDate: false,
    date: null,
    showTime: false,
    input_search: ''
  }),
  computed: {
    rules () {
      const rules = []
       if (this.form['confirm_password']) {
        const rule =
          v => (!!v && v) === this.form['password'] ||
            'Passwords do not match'

        rules.push(rule)
      }
      return rules
    }
  },
  filters: {
    label (data) {
      if(data.noFilter) return data.label
      const label = data.label || data.key.replace(/_/g, ' ')
      const lowerLabel = label.toLowerCase()
      const splitLabel = lowerLabel.split(' ')
      const upFirstChar = splitLabel.map((word) => {
        return word[0].toUpperCase() + word.slice(1)
      })
      const joinLabel = upFirstChar.join(' ')
      return joinLabel
    }
  },
  methods: {
    formatDate (date) {
      if (!date) return null
      return date
    },
    Input (value) {
      this.$emit('input', value)
    },
    onSelectChange (value) {
      this.$emit('change', [value, this.field.key])
    },
    defaultSelect (value) {
      this.$emit('change', value)
    },
    onCheckChange (value) {
      this.$emit('change', value)
    }
  }
}
</script>
