<template>
<v-layout wrap justify-center align-center>
  <v-flex xs12 lg11>
    <v-card
      flat
      style="border: 1px solid #b5b3b3;"
      class="ma-2 pa-1"
    >
      <v-skeleton-loader
        class="ma-2"
        max-width
        type="table-heading, list-item-avatar-three-line"
        v-show="isLoading"
      ></v-skeleton-loader>
      <v-card-text class="body-1 text--primary"
        v-show="!isLoading">
        <div>
          <v-card-actions
            :class="cardFontSize">
            <v-checkbox
              v-show="(userType === 6 || userType === 2 || userType === 7)"
              v-model="checkValue"
              :disabled="!hasFile"
              @change="checkVal"
              @click="$emit('check', checkValue)"
            />
            {{ hasTitle }} <span v-show="isRequired" class="pl-1" style="color: red;">*</span>
            <v-spacer />
            <v-btn
              v-show="hasFile"
              outlined
              small
              width="90px"
              class="text-none purple--text"
              @click="dialog = true"
              >Preview
             </v-btn>
          </v-card-actions>
        </div>
        <template>
        <v-row justify="center">
          <v-dialog
            v-model="dialog"
            scrollable
            v-esc="escape">
            <v-card :loading="isLoading">
              <v-card-actions>
                <v-card-title
                  :class="cardFontSize"
                >{{ title }}</v-card-title>
                <v-spacer />
                <v-btn
                  color="blue darken-1"
                  text
                  @click="dialog = false"
                  class="mx-2"
                >
                  Close
                </v-btn>
              </v-card-actions>
              <v-divider></v-divider>
              <v-card-text style="height: 800px;"
                v-if="file_name">
                <iframe
                  :src="setFile(uploadFile)"
                  frameborder="0"
                  height="700px"
                  width="100%">
                </iframe>
              </v-card-text>
              <v-divider></v-divider>
            </v-card>
          </v-dialog>
        </v-row>
      </template>
      </v-card-text>
      <v-file-input
        v-show="(userType === 8 || userType === 9 || userType === 4 || isViewForm === true) && !isLoading"
        color="deep-purple accent-4"
        :multiple="false"
        placeholder="Browse File"
        prepend-icon="mdi-paperclip"
        @change="Change"
        accept="application/pdf"
        class="mx-2 mt-2 mb-0"
        @click:clear="$emit('clear')"
        @click="$emit('choose')"
        show-size
        type="file"
        :rules="rules"
        :loading="loading"
        hint="Maximum file size is 5MB. Only *.pdf file is allowed."
        :persistent-hint="true"
        :error-messages="errorMessages"
      >
      <template v-slot:selection="{ index, text }">
        <v-chip
          v-if="index < 2"
          color="deep-purple accent-4"
          dark
          label
          small
        >
          {{ text }}
        </v-chip>

        <span
          v-else-if="index === 2"
          class="overline grey--text text--darken-3 mx-2"
        >
          +{{ files.length - 2 }} File(s)
        </span>
      </template>
      </v-file-input>
    </v-card>
  </v-flex>
</v-layout>
</template>
<script type="text/javascript">
import { mapGetters } from 'vuex'
import defaultMixins from '@/mixins/index'
import formMixins from '@/mixins/form.js'
import { GET_APPLICANT_REQUIREMENTS } from '@/graphql/admin/queries'
export default {
  mixins: [
    defaultMixins,
    formMixins
  ],
  props: {
    title: {
      type: String
    },
    src: {
      type: [String, Array]
    },
    file_name: {
      type: String
    },
    hasFile: {
      type: Boolean,
      default: () => {
        return false
      }
    },
    loading: {
      type: Boolean,
      default: () => {
        return false
      }
    },
    id: {
      type: Number
    },
    isRequired: {
      type: Boolean,
      default: () => {
        return false
      }
    },
    errorMessages: {
      type: [String, Array]
    },
  },
  data () {
    return {
      readers: [],
      dialog: false,
      rules: [
        files => !files || !files.some(file => file.size > 41_943_040) || 'file size should be less than 5 MB!'
      ],
      showFile: this.hasFile,
      checkValue: '',
      isLoading: false,
      uploadFile: ''
    }
  },
  methods: {
    escape () {
      this.$emit('close')
    },
    Change (value) {
      if (!global._.isEmpty(value)) {
        if (!value.some(file => file.size > 41_943_040)) {
          this.showFile = true
          this.$emit('change', value)
        }
      }
    },
    checkVal (val) {
      this.$emit('checkVal', val)
    },
    isOptional (title) {
      if (global._.includes(title, '(Optional)')) return false
      return true
    }
  },
  apollo: {
    applicantRequirements: {
      query: GET_APPLICANT_REQUIREMENTS,
      variables () {
        return {
          input: {
            id: this.id,
            file_name: this.file_name
          }
        }
      },
      result ({ data }) {
        let self = this
        if (!global._.isUndefined(data)) {
          if (!global._.isNull(data.applicantRequirements)) {
            this.checkValue = !data.applicantRequirements.isApproved
            this.uploadFile = data.applicantRequirements.file_upload
          }
        }
      },
      watchLoading (isLoading) {
        this.isLoading = isLoading
      },
      skip () {
        return this.file_name ? false : true
      }
    }
  },
  computed: {
    ...mapGetters('user', ['user']),
    ...mapGetters('form', ['isViewForm', 'isViewChecked']),
    hasTitle () {
      if (global._.isEqual(this.title, 'Hepatitis B Antibodies')) {
        return `${this.title} (Optional)`
      } else if (global._.isEqual(this.title, 'Authenticated Birth Certificate')) {
        return `PSA ${this.title} (original)`
      } else if (global._.isEqual(this.title, 'Certificate Of Honorable Dismissal') || global._.isEqual(this.title, 'High School Report Card') || global._.isEqual(this.title, 'Good Moral Character Certificate')) {
        return `${this.title} (original)`
      } else if (global._.isEqual(this.title, 'Exam Result')) {
        return `APRO ${this.title}`
      } else {
        return this.title
      }
    }
  }
}
</script>
