<!--<template>
  <svg id="nav_blob" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:bx="https://boxy-svg.com">
    <defs>
      <linearGradient id="gradient-1" bx:pinned="true">
        <title>Blob1</title>
        <stop offset="0" style="stop-color: rgb(250, 175, 153);"/>
        <stop offset="0.848" style="stop-color: rgb(247, 100, 76);"/>
      </linearGradient>
      <linearGradient id="gradient-1-0" gradientUnits="userSpaceOnUse" x1="171.625" y1="362.519" x2="171.625" y2="466.558" xlink:href="#gradient-1"/>
      <linearGradient id="gradient-0" bx:pinned="true">
        <title>phasersanim</title>
        <stop offset="0.198" style="stop-color: rgb(253, 181, 75);"/>
        <stop offset="1" style="stop-color: rgb(247, 127, 75);"/>
      </linearGradient>
      <linearGradient id="gradient-0-0" gradientUnits="userSpaceOnUse" x1="166.054" y1="392.313" x2="166.054" y2="486.835" xlink:href="#gradient-0"/>
      <linearGradient id="gradient-0-1" gradientUnits="userSpaceOnUse" x1="339.076" y1="344.39" x2="339.076" y2="367.707" xlink:href="#gradient-0"/>
      <linearGradient id="gradient-0-2" gradientUnits="userSpaceOnUse" x1="270.352" y1="300.808" x2="270.352" y2="324.124" xlink:href="#gradient-0"/>
      <linearGradient id="gradient-0-3" gradientUnits="userSpaceOnUse" x1="135.406" y1="370.699" x2="135.406" y2="394.015" xlink:href="#gradient-0"/>
      <linearGradient id="gradient-0-4" gradientUnits="userSpaceOnUse" x1="370.966" y1="238.572" x2="370.966" y2="322.472" gradientTransform="matrix(0.94316, 0.33234, -0.234904, 0.741783, 77.127226, -61.683532)" xlink:href="#gradient-0"/>
    </defs>
    <path id="svg_blob1" style="fill: url(#gradient-1-0);" d="M 136.946 385.459 L 117.249 375.443 C 93.435 368.544 82.53 381.229 84.533 413.5 C 87.682 464.222 133.529 478.578 222.074 456.566 C 253.307 448.802 272.001 429.105 248.114 379.449 C 235.876 354.012 207.834 357.239 163.986 389.13 C 156.651 394.465 147.638 393.241 136.946 385.459 Z"/>
    <line id="svg_line1" style="stroke-width: 2px; stroke: rgb(118, 113, 109);" x1="244.4" y1="365.117" x2="288.544" y2="320.972"/>
    <path id="svg_blob2" style="stroke-miterlimit: 1; paint-order: fill; fill: url(#gradient-0-0);" d="M 134.328 420.424 C 112.519 415.643 98.306 425.008 91.692 448.52 C 83.244 478.545 104.465 490.923 155.351 485.655 C 163.048 484.859 173.265 480.536 186.002 472.688 C 194.317 467.565 205.647 465.927 219.993 467.776 C 228.701 468.898 235.251 463.527 239.642 451.665 C 245.94 434.646 240.701 417.225 223.922 399.401 C 211.062 385.737 193.313 391.828 170.677 417.674 C 162.536 426.969 150.419 427.885 134.328 420.424 Z"/>
    <circle id="svg_circ" style="fill: url(#gradient-0-4);" cx="370.966" cy="280.522" r="41.95"/>
    <path id="svg_phaser1" style="fill: url(#gradient-0-2);" d="M 258.783 318.088 L 276.316 301.685 C 278.393 299.179 284.688 302.438 281.778 306.461 C 280.891 307.687 264.245 323.319 264.245 323.319 C 261.553 326.205 256.399 320.593 258.783 318.088 Z"/>
    <path id="svg_phaser2" style="fill: url(#gradient-0-3);" d="M 123.838 387.979 L 141.371 371.576 C 143.448 369.07 149.742 372.329 146.833 376.352 C 145.946 377.579 129.3 393.21 129.3 393.21 C 126.607 396.096 121.454 390.484 123.838 387.979 Z"/>
    <path id="svg_phaser3" style="fill: url(#gradient-0-1);" d="M 327.508 361.67 L 345.041 345.268 C 347.118 342.761 353.412 346.02 350.503 350.043 C 349.615 351.27 332.97 366.902 332.97 366.902 C 330.277 369.787 325.124 364.176 327.508 361.67 Z"/>
    <line id="svg_line2" style="stroke-width: 2px; stroke: rgb(118, 113, 109);" x1="228.494" y1="452.241" x2="272.639" y2="408.098"/>
  </svg>
</template>
-->