<template>
  <v-layout wrap justify-center align-center>
    <v-flex :class="item.flex"
      v-for="(item, index) in titles"
      :key="index">
      <v-card tile flat :width="size" :color="item.color" class="ml-3 float-card ma-0 pa-0">
      <v-card-title :class="textStyle" class="py-1 pl-3 white--text font-weight-regular body-1">{{ item.name }}<v-icon right large class="white--text">{{ item.icon }}</v-icon></v-card-title>
    </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  props: {
    titles: {
      type: [Array, Object],
      default: () => ({
        name: String,
        icon: String,
        color: String,
        flex: String
      })
    },
    textStyle: String
  },
  computed: {
    size () {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs': return '75%'
        case 'sm': return '55%'
        case 'md': return '40%'
        case 'lg': return '28%'
        case 'xl': return '20%'
      }
    }
  }
}
</script>
