<template>
<v-card>
  <v-card-title dark class="pa-0 mb-3">
    <v-layout wrap justify-center align-center>
      <v-flex xs12 lg5 xl6>
        <v-text-field
          v-show="isSearch"
          append-icon="mdi-magnify"
          :label="label"
          single-line
          class="mb-2 px-3 black--text"
          :hint="hint"
          color="main"
          clearable
          v-model="keyword"
          clear-icon="mdi-close-circle"
          @click:clear="$emit('clear')"
          @keyup.enter="$emit('enter', keyword)"
        ></v-text-field>
      </v-flex>

      <v-flex xs12 lg7 xl6>
        <v-card-actions v-show="breakPoints">
          <v-spacer />
          <export
            :link="link"
            @pdf="$emit('pdf')"
            @excel="$emit('excel')"
            @word="$emit('word')"
            :isExport="isExport"
            :isWord="isWord"
            :isExcel="isExcel"
            :isPdf="isPdf"
            :isDisabled="isDisabled"
            :classStyle="fontSize"/>
          <v-btn
            dark
            right
            :class="fontSize"
            class="text-none mr-1 mb-1 font-weight-light"
            color="main"
            :width="filterWidth"
            v-show="!isSwitched && isFilter"
            @click="$emit('openFilter')">
            Filter
            <v-icon right large>arrow_drop_up</v-icon>
          </v-btn>
          <v-btn
            dark
            right
            :class="fontSize"
            class="text-none mr-1 mb-1"
            color="main"
            :width="filterWidth"
            v-show="isSwitched && isFilter"
            @click="$emit('closeFilter')"
            @click.enter="$emit('reset')"
            @click:stop="$emit('clear')">
            Reset
            <v-icon right size="20">mdi-refresh</v-icon>
          </v-btn>
          <v-btn
            v-show="isAdd"
            :width="addWidth"
            color="main"
            :class="fontSize"
            class="text-none mr-1 mb-1"
            :loading="loading"
            :disabled="isAddDisabled"
            @click="$emit('clickDialog')">
            <span style="color: white; font-weight: 300;" :class="addBtnFont">{{ btnTitle }}</span>
          </v-btn>
          <v-btn
            v-show="isEnroll"
            :width="enrollWidth"
            color="main"
            :class="fontSize"
            :disabled="isEnrollDisabled"
            class="text-none mr-1 mb-1"
            @click="$emit('enroll')">
            {{ btnEnrollTitle }}
          </v-btn>
          <v-btn
            v-show="isImport"
            :width="filterWidth"
            color="main"
            :class="fontSize"
            class="text-none mr-1 mb-1"
            @click.enter="chooseFileImage = true">
            <croppa
              v-if="chooseFileImage"
              :remove-button-color="'gray'"
              v-model="file"
              :height="155"
              :width="160"
              :accept="'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel'"
              initial-size="contain"
              initial-position="center"
              placeholder="Import"
              placeholder-color="white"
              :show-remove-button="true"
              :placeholder-font-size="18"
              @file-choose="$emit('import', file)"
              >
          </croppa>
          <span
            v-else
            class="white--text">Import
            <v-icon right size="20">publish</v-icon>
          </span>
          </v-btn>
        </v-card-actions>
      </v-flex>
    </v-layout>
  </v-card-title>

  <v-card-title
    class="mb-3 pa-0" v-show="isSwitched === true">
    <v-layout wrap justify-center align-center
      class="ma-0 pa-0">
      <v-flex xs12>
        <v-tabs
          v-model="tab"
          background-color="white"
          light
          icons-and-text
          fixed-tabs
          show-arrows
          class="py-0 my-0"
        >
          <router-link
            v-for="(item, index) in filterItems" :key="index"
            class="text-decor pa-0 ma-0"
            :to="{ name: item.name, params: item.params }">
            <v-tab
              v-show="item.title"
              :class="getActive(getFilteredFields(item.field))"
              class="text-none ma-0 pa-0"
            >
              <v-layout wrap justify-center align-center
                class="mx-0 py-0">
                <v-avatar color="main" class="mt-1 mx-0 px-0" size="40">
                  <v-icon color="white">{{ item.icon }}</v-icon>
                </v-avatar>
                <v-flex xs12 class="body-3 font-weight-regular">{{ item.title }}</v-flex>
              </v-layout>
            </v-tab>
          </router-link>
        </v-tabs>
      </v-flex>

      <v-flex xs12>
        <v-card flat color="grey lighten-4" class="pt-2">
          <v-slide-y-transition mode="out-in">
            <router-view/>
          </v-slide-y-transition>
        </v-card>
      </v-flex>
    </v-layout>
  </v-card-title>
</v-card>

</template>
<script>
import filterMixins from '@/mixins/filters'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    filterMixins
  ],
  props: {
    btnTitle: {
      required: false,
      type: String
    },
    label: {
      required: false,
      type: String
    },
    hint: {
      required: false,
      type: String
    },
    isSwitched: {
      required: false,
      type: Boolean,
      default: () => {
        return false
      }
    },
    isImport: {
      required: false,
      type: Boolean,
      default: () => {
        return false
      }
    },
    isSearch: {
      required: false,
      type: Boolean,
      default: () => {
        return false
      }
    },
    filterItems: {
      required: false,
      type: [Object, Array]
    },
    isFilter: {
      required: false,
      type: Boolean,
      default: () => {
        return false
      }
    },
    isAdd: {
      required: false,
      type: Boolean,
      default: () => {
        return false
      }
    },
    isExport: {
      required: false,
      type: Boolean,
      default: () => {
        return false
      }
    },
    isEnroll: {
      required: false,
      type: Boolean,
      default: () => {
        return false
      }
    },
    btnEnrollTitle: {
      required: false,
      type: String
    },
    value: [String, Number, Array, Object, Boolean],
    loading: {
      required: false,
      type: Boolean,
      default: () => {
        return false
      }
    },
    link: {
      required: false,
      type: String
    },
    isDisabled: {
      required: false,
      type: Boolean,
      default: () => {
        return false
      }
    },
    isWord: {
      type: Boolean,
      default: () => {
        return true
      }
    },
    isExcel: {
      type: Boolean,
      default: () => {
        return true
      }
    },
    isPdf: {
      type: Boolean,
      default: () => {
        return true
      }
    },
    importLink: {
      type: String
    },
    addBtnFont: {
      type: String,
      default: () => {
        return ''
      }
    },
    isAddDisabled: {
      required: false,
      type: Boolean,
      default: () => {
        return false
      }
    },
    isEnrollDisabled: {
      required: false,
      type: Boolean,
      default: () => {
        return false
      }
    }
  },
  data () {
    return {
      tab: 0,
      keyword: '',
      file: {},
      chooseFileImage: true
    }
  },
  computed: {
    ...mapGetters('user', ['user']),
    isDrawer: {
      get: function () {
        return this.drawer
      },
      // setter
      set: function (value) {
        return this.setDrawer(value)
      }
    },
    breakPoints () {
      if (this.isDrawer === true) {
        return this.$vuetify.breakpoint.smAndUp
      } else {
        return this.$vuetify.breakpoint
      }
    },
    fontSize () {
      if (this.$vuetify.breakpoint.smAndUp) return 'body-1'
      return 'caption'
    },
    filterWidth () {
      if (this.$vuetify.breakpoint.smAndUp) return '110px'
      return '90px'
    },
    enrollWidth () {
      if (this.$vuetify.breakpoint.smAndUp) return '110px'
      return '90px'
    },
    addWidth () {
      if (this.$vuetify.breakpoint.smAndUp) return '150px'
      return '110px'
    }
  },
  methods: {
    ...mapMutations('user', ['setDrawer'])
  }
}
</script>
