<template>
  <v-dialog
    :value="showDialog"
    max-width="1200px"
    persistent
    v-esc="escape">
    <v-card class="pa-2 text-center">
      <v-card-actions>
        <v-card-title class="accent--text"><v-icon class="grey--text" left>info</v-icon>{{ title }}</v-card-title>
        <div class="flex-grow-1"></div>
        <span class="mx-4 mt-1 accent--text"
          v-if="name">
          <v-icon class="grey--text mb-1 pb-1 pr-2" medium right>fas fa-user</v-icon> {{ name }}
        </span>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              fab
              @click="$emit('close')"
              text>
              <v-icon medium color="red">mdi-close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-card-actions>
      <v-card-actions class="ma-0 pa-0">
        
        <div class="flex-grow-1"></div>
      </v-card-actions>
      <v-container fluid
        class="overflow-y-auto py-0 my-0">
        <v-card
          flat  
          class="my-8">
          <v-layout wrap>
            <v-flex xs12>
              <v-data-table
                :headers="headers"
                :items="items"
                :page.sync="page"
                :items-per-page="itemsPerPage"
                hide-default-footer
                @page-count="pageCount = $event"
                :loading="loading"
                v-bind="rowsPerPage"
                loading-text="Loading... Please wait"
                fixed-header
                ref="table"
              >
              <template v-slot:item.created_at="{ item }">
                <span>{{ item.created_at | date }}</span>
              </template>
              <template v-slot:item.files="{ item }">
                <span>{{ sortFiles(item.files) }}</span>
              </template>
              </v-data-table>
            </v-flex>
            <v-flex xs12 class="text-center pt-3 pb-0">
              <v-pagination
                v-show="pageCount > 1"
                v-model="page"
                :length="pageCount"
                :total-visible="10"
              ></v-pagination>
            </v-flex>
          </v-layout>
        </v-card>
      </v-container>
    </v-card>
  </v-dialog>
</template>
<script>
  export default {
    data: () => ({
      rowsPerPage: {
        'footer-props': {
          'items-per-page-options': [10]
        }
      },
      page: 1,
      pageCount: 0,
      itemsPerPage: 10
    }),
    props: {
      showDialog: {
        type: Boolean,
        default: false
      },
      loading: {
        type: Boolean,
        default: false
      },
      items: {
        required: true,
        type: [Object, Array]
      },
      headers: {
        required: true,
        type: [Object, Array]
      },
      count: {
        type: Number,
        default: () => {
          return 0
        }
      },
      skip: {
        type: Number,
        default: () => {
          return 0
        }
      },
      take: {
        type: Number,
        default: () => {
          return 10
        }
      },
      name: {
        required: false,
        type: String
      },
      title: {
        type: String,
        default: () => {
          return 'Remarks History'
        }
      }
    },
    methods: {
      escape () {
        this.$emit('close')
      },
      sortFiles (val) {
        if (val) {
          return val.replace(/,/g, ', ')
        }
      }
    }
  }
</script>
