<template>
  <v-card tile class="elevation-5 login-custom-container">
    <v-container fluid>
      <form>
        <v-container fluid fill-height fill-width>
          <v-layout wrap justify-center align-center>
            <!-- <v-flex xs12 md6>
              <logo
                size="148px"
                :isContained="true"
              />
            </v-flex> -->
            <v-flex xs12>
              <h2 style="max-width: 20rem; margin: auto;" class="text-h4 global-color mt-8 title-2 text-center text-break">
                <span>
                  Hype Partners
                </span>
              </h2>
              <v-card flat v-show="isError" color="#E8F0FE" class="mt-2 mb-2">
                <v-layout row wrap justify-center align-center>
                  <v-flex xs12>
                    <v-card-text headline v-show="color === 'success'" class="font-weight-medium green--text ml-2">{{ message }}</v-card-text>
                    <v-card-text headline v-show="color === 'error'" class="font-weight-medium red--text ml-2">{{ message }}</v-card-text>
                  </v-flex>
                </v-layout>
              </v-card>
            </v-flex>
            <v-flex xs12>
              <v-text-field
                color="main"
                ref="email"
                autocomplete="off"
                label="Email"
                v-model="form.email"
                class="white--text"
                light
                @keyup.enter="$emit('submit')"
                :error-messages="errors['email']"
                style="margin-top: 5em;"
              />
            </v-flex>
            <v-flex xs12>
              <v-text-field
                color="main"
                ref="password"
                @keyup.enter="login()"
                autocomplete="off"
                label="Password"
                :append-icon="show ? 'visibility_off' : 'visibility'"
                :type="show ? 'text' : 'password'"
                @click:append="show = !show"
                v-model="form.password"
                light
                class="white--text"
                :error-messages="errors['password']"
              />
            </v-flex>
            <v-flex xs12 class="form-container">
              <v-card-actions>
                <v-spacer />
                <v-checkbox 
                  v-model="selected" 
                  label="Remember Me" 
                  color="#446597" 
                  class="caption-1" 
                  :value="false" 
                  style="margin-right: 2rem;" />
                <span
                  id="forgot-password"
                  :class="fontSize"
                  class="grey--text pointer mr-3"
                  @click="$emit('next')">Forgot Password?
                </span>
              </v-card-actions>
            </v-flex>
            <v-flex xs12>
              <v-layout justify-center align-center wrap>
                <v-flex xs12 md12 style="padding-bottom: 3px;">
                  <v-card-actions>
                    <v-btn
                      class="text-none text-uppercase font-weight-light"
                      color="main"
                      block
                      dark
                      :loading="loading"
                      @click="login()"
                      >Login
                    </v-btn>
                  </v-card-actions>
                  </v-flex>
                <!-- <v-flex xs12 md6>
                  <v-card-actions>
                    <v-btn
                      class="text-none"
                      color="main"
                      block
                      dark
                      outlined
                      @click="$router.push({ name: 'sign-up' })"
                      >Sign Up</v-btn>
                  </v-card-actions>
                </v-flex> -->
              </v-layout>
            </v-flex>
          </v-layout>
        </v-container>
      </form>
    </v-container>
  </v-card>
</template>
<script>
import Logo from '@/components/shared/Logo.vue'
import errorhandlingMixin from '@/mixins/error-handler.js'
import { mapGetters, mapMutations, mapActions } from 'vuex'
export default {
  components: {
    Logo
  },
  data () {
    return {
      show: false,
      form: {
        email: null,
        password: null
      },
      isError: false,
      color: '',
      message: '', 
      loading: false,
      errors: {},
      selected: false
    }
  },
  computed: {
    ...mapGetters('user', ['user']),
    fontSize () {
      if (this.$vuetify.breakpoint.xsOnly) return 'body-2'
      return 'body-1'
    }
  },
  methods: {
    ...mapMutations('user', ['setUser']),
    ...mapMutations('curricula', ['SET_CURRICULA']),
    ...mapActions('user', [`LOGIN`]),
    async login () {
      this.errors = {}
      this.loading = true
      await this.LOGIN(this.form).then(data => {
        this.loading = false
        this.isError = false
        this.color = 'success'
        localStorage.setItem('apollo-token', data.data.success.token)
        const pos = data.data.user.user_type_id
        const position_type = data.data.user.user_type
        const status = data.data.user.status
        this.setUser(data.data.user)
        // set program id
        this.SET_CURRICULA({
          id: data.data.user.department_id
        })
        if (position_type) {
          if (status === 'Active') {
            if (pos) {
              this.nextPage(pos)
            }
          } else {
            this.message = 'Not an Active User. Please see MIS.'
            this.isError = true
            this.color = 'error'
          }
        } else {
          this.message = 'Please see Systems Administrator.'
          this.isError = true
          this.color = 'error'
        }
        
      }).catch(data => {
        this.loading = false
        if (this.form.password === null && this.form.email === null) {
          this.errors = data.errors
        } else if (this.form.password === null && this.form.email !== null) {
          this.errors = data.errors
        } else if (this.form.password !== null && this.form.email === null) {
          this.errors = data.errors
        } else {
          this.message = 'Incorrect Password or Email'
          this.isError = true
          this.color = 'error'
        }
      })
    },
    nextPage (position_id) {
      if (Number(global._.trim(position_id)) === 1) {
        this.$router.push({ name: 'dashboard' })
      } else if (Number(global._.trim(position_id)) === 4) {
        this.$router.push({ name: 'student-enroll-online' })
      } else if (Number(global._.trim(position_id)) === 8) {
        this.$router.push({ name: 'mis-dashboard' })
      } else if (Number(global._.trim(position_id)) === 2) {
        this.$router.push({ name: 'admission-year-filter' })
      } else if (Number(global._.trim(position_id)) === 6) {
        this.$router.push({ name: 'clinic-year-filter' })
      } else if (Number(global._.trim(position_id)) === 5 || Number(global._.trim(position_id)) === 11) {
        this.$router.push({ name: 'deans-year-filter' })
      } else if (Number(global._.trim(position_id)) === 10) {
        this.$router.push({ name: 'finance-year-filter' })
      } else if (Number(global._.trim(position_id)) === 7) {
        this.$router.push({ name: 'guidance-enroll-academic-filter' })
      } else if (Number(global._.trim(position_id)) === 9) {
        this.$router.push({ name: 'registrar-year-filter' })
      } else if (Number(global._.trim(position_id)) === 3) {
        this.$router.push({ name: 'teacher-year-filter' })
      }
    }
  }
}
</script>
