<!--<template>
  <v-layout wrap justify-center align-center>
    <v-flex xs12 class="red--text">
      <v-img
        :height="size"
        :contain="isContained"
        :src="require('@/assets/images/dmma_logo.png')">
      </v-img>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  props: {
    isContained: Boolean,
    size: String
  }
}
</script>
-->