<template>
  <div class="text-center form-z-index">
    <v-menu
      v-model="menu"
      offset-x
      transition="slide-y-transition"
      persistent
      bottom
      right
      :close-on-click="false"
      :close-on-content-click="false"
      :nudge-bottom="60"
      max-width="450px"
    >
      <template v-slot:activator="{ on }">
        <v-toolbar-items
          v-on="on"
          class="mr-4"
          >
          <v-icon right v-show="!menu">keyboard_arrow_down</v-icon>
          <v-icon right v-show="menu">keyboard_arrow_up</v-icon>
        </v-toolbar-items>
      </template>
      <v-card>
        <v-list>
          <v-list-item>
            <v-avatar
              :color="color"
              size="70">
              <span
                v-if="!profileImage"
                class="white--text body-1">{{ user.first_name | initials }} {{ user.last_name | initials }}</span>
              <img
                v-else
                contain
                :src="profileImage" />
            </v-avatar>

            <v-list-item-content class="pl-3">
              <v-list-item-title class="font-weight-meduin">{{ user.first_name | capitalize }} {{ user.middle_name | initials }}<span v-if="user.middle_name">.</span> {{ user.last_name | capitalize }}</v-list-item-title>
              <v-list-item-subtitle class="caption">{{ position | capitalize }}</v-list-item-subtitle>
              <v-list-item-subtitle class="caption">{{ user.email }}</v-list-item-subtitle>

            </v-list-item-content>
          </v-list-item>
        </v-list>

        <v-divider></v-divider>

        <v-list>
          <v-list-item class="pointer log-menu"
            @click="dialog = true, menu = false"
            @click.enter="removeRouteKey()">
            <v-list-item-action>
              <v-icon large>mdi-logout-variant</v-icon>
            </v-list-item-action>
            <v-list-item-title class="grey--text font-weight-medium">Log out</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-card>
    </v-menu>

    <confirmation-dialog
      :showDialog="dialog"
      @close="dialog = false"
      @proceed="logout()"
      message="Are you sure you want to log out ?"
    />
  </div>
</template>
<script>
import formMixins from '@/mixins/form.js'
import { onLogout } from '@/vue-apollo.js'
import { mapGetters } from 'vuex'
export default {
  mixins: [
    formMixins
  ],
  data: () => ({
    dialog: false,
    menu: false
  }),
  computed: {
    ...mapGetters('user', ['user']),
    position () {
      if (!this.user.usertypes) return ''
      return this.user.usertypes.user_type
    },
    color () {
      if (this.profileImage) return 'white'
      return 'cyan darken-2'
    }
  },
  methods: {
    removeRouteKey () {
      window.localStorage.removeItem('LS_ROUTE_KEY')
    },
    logout () {
      onLogout(this.$apollo.provider.defaultClient)
      this.$router.push({ name: 'login' })
      setTimeout(() => {
        window.localStorage.clear()
      }, 100)
    }
  }
}
</script>
