<template>
  <v-flex xs12>
    <v-navigation-drawer
      :persistent="isPersistent"
      :temporary="isTemporary"
      :absolute="isAbsolute"
      v-model="isDrawer"
      enable-resize-watcher
      app
      dark
      mobile-breakpoint
      bottom
      color="main">
      <v-card flat
        class="list-index overflow-auto"
        height="100vh"
        color="transparent">
        <v-list-item style="padding-top: 5px; margin-top: 6px;">
          <v-list-item-content class="text-center">
            <v-layout wrap align-center justify-center>
              <v-avatar
                color="white"
                size="60">
                <span
                  v-if="!profileImage"
                  class="main--text title">
                  <!-- {{ user.first_name | initials }} {{ user.last_name | initials }} -->
                  C D
                </span>
                <img
                  v-else
                  height="58px"
                  contain
                  :src="profileImage" />
              </v-avatar>
            </v-layout>
              <v-list-item-subtitle class="pt-3">
                <!-- {{ user.first_name | capitalize }} {{ user.middle_name | initials }}<span v-if="user.middle_name">.</span> {{ user.last_name | capitalize }} -->
                Cynthia Doe
              </v-list-item-subtitle>
              <!-- <v-list-item-subtitle class="pt-1"> -->
                <!-- {{ position === 'Dean' ? `Department head / ${position}` : position | capitalize }} -->
                <!-- Admin -->
              <!-- </v-list-item-subtitle> -->
              <v-list-item-subtitle class="subtitle-2 caption font-weight-bold">
                <span v-if="position === 'Student'">
                  {{ department | capitalize }} ID:<span class="align-left mb-0 font-weight-bold white--text"> {{ user.student_id_number }}</span>
                </span>
                <span v-else>
                  {{ department | capitalize }}
                </span>
              </v-list-item-subtitle>
              <v-list-item-subtitle class="subtitle-2 caption font-weight-light"
                v-show="position === 'Student'">
                Program & Year:<span class="align-left mb-0 font-weight-bold white--text"> {{ user.program }} / {{ user.year_level }}</span>
              </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <v-divider />

        <v-list
          dense
          nav
          style="padding-left: 12px; margin-left: 12px; padding-top: 6px; margin-top: 6px;">
          <span
            v-for="(navItem, navIndex) in navItems"
            :key="navIndex">
            <span
              v-if="navItem.items"
              class="text-decor"
              v-for="(item, index) in navItem.items"
              :key="index">
              <router-link
                v-if="!item.itemGroup"
                tag="menu"
                :to="{ name: item.name, params: item.params }">
                <v-list-item
                  link
                  class="pointer menu"
                  style="height: 4em;">
                  <v-list-item-icon style="height: 3em;">
                    <v-icon>{{ item.icon }}</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title style="font-weight: 300;">{{ item.title }}</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </router-link>

              <v-list-group class="pointer group-menu white--text"
                v-else>
                <v-list-item slot="activator" class="px-0">
                  <v-list-item-icon>
                    <v-icon class="white--text" left>{{ item.itemGroupIcon }}</v-icon>
                  </v-list-item-icon>
                  <v-list-item-title class="white--text text-capitalize">{{ item.itemGroupTitle }}</v-list-item-title>
                </v-list-item>

                <router-link
                  tag="menu"
                  v-for="(itemlist, listindex) in item.itemGroup"
                  :key="listindex"
                  class="text-decor"
                  :to="{ name: itemlist.name, params: itemlist.params }">
                  <v-list-item
                    class="pointer menu pr-0">
                    <v-list-item-icon></v-list-item-icon>
                    <v-list-item-title
                      class="white--text text-capitalize">
                    <v-icon class="white--text" left v-html="itemlist.icon"></v-icon>
                    {{ itemlist.title }}</v-list-item-title>
                  </v-list-item>
                </router-link>
              </v-list-group>
            </span>

            <v-list-group class="pointer group-menu white--text"
              v-if="navItem.itemGroup">
              <v-list-item slot="activator" class="px-0">
                <v-list-item-icon>
                  <v-icon class="white--text" left>{{ navItem.itemGroupIcon }}</v-icon>
                </v-list-item-icon>
                <v-list-item-title class="white--text text-capitalize">{{ navItem.itemGroupTitle }}</v-list-item-title>
              </v-list-item>

              <router-link
                tag="menu"
                v-for="(itemlist, listindex) in navItem.itemGroup"
                :key="listindex"
                class="text-decor"
                :to="{ name: itemlist.name, params: itemlist.params }">
                <v-list-item
                  class="pointer menu pr-0">
                  <!-- <v-list-item-icon></v-list-item-icon> -->
                  <v-list-item-title
                    class="white--text text-capitalize">
                  <v-icon class="white--text" left v-html="itemlist.icon"></v-icon>
                  {{ itemlist.title }}</v-list-item-title>
                </v-list-item>
              </router-link>
            </v-list-group>
          </span>

          <span>
            <v-list-item
              class="pointer menu"
              @click="dialog = true"
              @click.enter="removeRouteKey()"
              style="height: 4em;">
              <v-list-item-action class="my-0 py-0">
                <v-icon left>mdi-logout-variant</v-icon>
              </v-list-item-action>
              <v-list-item-title class="font-weight-light">Log out</v-list-item-title>
            </v-list-item>
          </span>
        </v-list>

      </v-card>

    <confirmation-dialog
      :showDialog="dialog"
      @close="dialog = false"
      @proceed="logout()"
      message="Are you sure you want to log out ?"
    />

    <!-- <v-footer
      padless
      absolute
      class="footer-index"
      color="transparent"> -->
      <!-- <v-card-actions class="my-0 py-0 hidden-xs-only">
        <v-spacer />
        <v-img
          height="40px"
          width="100px"
          contain
          class="mb-0 px-0 mx-0"
          :src="require('@/assets/images/dmma_logo.png')">
        </v-img>
        <strong>DCSP Online Student Portal</strong>
      </v-card-actions> -->
      <!-- <v-card-actions class="my-0 py-0 hidden-sm-and-up">
        <v-spacer class="footer-margin" />
        <v-layout wrap class="">
          <v-flex xs10>
            <v-img
              height="30px"
              width="80px"
              contain
              class="mb-0"
              :src="require('@/assets/images/dmma_logo.png')">
            </v-img>
            <p class="my-0 py-0 caption-1 text-center">DCSP Online Student Portal</p>
          </v-flex>
        </v-layout>
      </v-card-actions> -->
      <!-- <v-card-actions class="my-0 py-0">
        <span class="ml-2 mr-1 text-small overline white--text">
          Developed by
        </span>
        <v-spacer />
        <a id="footerLink" class="pl-1 text-small" href="http://infosoftstudio.com/" target="_blank">
          Infosoft Studio
        </a>
      </v-card-actions> -->
    <!-- </v-footer>
    <floating-balloons class="balloons-index" /> -->
    </v-navigation-drawer>
  </v-flex>
</template>
<script>
import formMixins from '@/mixins/form.js'
import { onLogout } from '@/vue-apollo.js'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    formMixins
  ],
  props: {
    navItems: [Object, Array]
  },
  computed: {
    ...mapGetters('user', ['user']),
    ...mapGetters('navigation', ['drawer']),
    position () {
      if (!this.user) return ''
      return this.user.user_type
    },
    department () {
      if (this.user) {
        if (global._.trim(this.user.user_type) === 'Dean' || global._.trim(this.user.user_type) === 'Assistant Dean') return this.user.department
        return ''
      }
    },
    isDrawer: {
      get: function () {
        return this.drawer
      },
      // setter
      set: function (value) {
        return this.setDrawer(value)
      }
    },
    isPersistent () {
      if (this.$vuetify.breakpoint.smAndUp) return true
      return false
    },
    isTemporary () {
      if (this.$vuetify.breakpoint.xsOnly) return true
      return false
    },
    isAbsolute () {
      if (this.$vuetify.breakpoint.xsOnly) return true
      return false
    }
  },
  data: () => ({
    dialog: false
  }),
  destroyed () {
    this.destroyQueries()
  },
  methods: {
    ...mapMutations('navigation', ['setDrawer', 'RESET_NAVIGATION']),
    ...mapMutations('applicants', ['RESET_APPLICANTS']),
    ...mapMutations('curricula', ['RESET_CURRICULA']),
    ...mapMutations('exports', ['RESET_EXPORTS']),
    ...mapMutations('filters', ['RESET_FILTERS']),
    ...mapMutations('form', ['RESET_FORM']),
    ...mapMutations('registration', ['RESET_REGISTRATION']),
    ...mapMutations('students', ['RESET_STUDENTS']),
    ...mapMutations('user', ['RESET_USER']),
    destroyQueries () {
      if (this.$apollo) {
        this.$apollo.destroy()
      }
    },
    removeRouteKey () {
      window.localStorage.removeItem('LS_ROUTE_KEY')
    },
    logout () {
      onLogout(this.$apollo.provider.defaultClient)
      this.$router.push({ name: 'login' })
      this.RESET_APPLICANTS()
      this.RESET_CURRICULA()
      this.RESET_EXPORTS()
      this.RESET_FILTERS()
      this.RESET_FORM()
      this.RESET_NAVIGATION()
      this.RESET_REGISTRATION()
      this.RESET_STUDENTS()
      this.RESET_USER()
      window.localStorage.clear()
    }
  }
}
</script>
