<template>
	<v-card class="pa-4" :color="prop.active ? 'accent' : 'white'" elevation="1">
    <v-layout :class="isActive" justify-center align-center row wrap>
      <v-flex xs4>
        <v-img
          contain
          :src="payment[prop.image]"
          height="50px"
        />
      </v-flex>
      **********{{ prop.number }}
    <v-spacer></v-spacer>
    <span v-if="prop.active">Active</span>
    </v-layout>
  </v-card>
</template>
<script>
import baseUrl from '@/assets/images/imageurls'
export default {
	mixins: [baseUrl],
  props: {
  	prop: {
  		type: Object
  	}
  },
  data:()=>({

  }),
  computed: {
  	isActive() {
  		if (this.prop.active) return "px-3 white--text"
  		else return "px-3"
  	}
  }
}
</script>