<template>
  <v-dialog
    :value="showDialog"
    max-width="800"
    persistent
    v-esc="escape">
    <v-card
      class="pa-2">
      <v-card-actions class="pb-0">
        <div class="flex-grow-1"></div>
        
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              fab
              @click="clear"
              text>
              <v-icon medium color="red">mdi-close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-card-actions>

      <v-layout wrap>
        <v-flex xs12>
          <v-card-title class="mt-0 pt-0 break-word text-left body-1">
            Are you sure you want to  {{ title }} ?
          </v-card-title>
        </v-flex>
        <v-flex xs12 md7>
          <v-card flat class="ml-2 my-1 py-0 " v-if="isChecklist && title === 'Disapprove'"
            style="border: 1px solid #b5b3b3;">
            <small class="ma-2 body-2">Legends:</small>
            <v-list-item two-line>
              <v-list-item-content>
                <v-list-item-title>
                  <small>
                    <v-icon color="accent">check_box</v-icon> - For Disapproved Requirement/s
                  </small>
                </v-list-item-title>
                <v-list-item-title>
                  <small>
                    <v-icon>check_box</v-icon> - For Approved Requirement/s
                  </small>
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-card>
        </v-flex>
        <v-flex xs12>
          <v-layout wrap justify-right align-right
            class="mx-1">
            <v-flex xs12 sm6 md4
              v-for="(item, index) in items"
              :key="index">
              <v-card-actions class="my-0 py-0">
                <v-checkbox
                  readonly
                  v-model="item.title"
                  :label="item.title"
                  :value="item.title"
                  :disabled="item.disabled"
                  @click="$emit('checkItem', item, index)"
                />
              </v-card-actions>
            </v-flex>
            <v-flex xs12
              v-if="isDean">
              <v-layout wrap justify-right align-right>
                <v-flex xs12>
                  <v-card-actions class="text-left">
                    <v-list-item three-line>
                      <v-list-item-content>
                        <v-list-item-title>Status: {{ info.user_status }}/{{ info.applicant_status }}</v-list-item-title>
                        <v-list-item-title>Submission: {{ info.submission_type }}</v-list-item-title>
                        <v-list-item-title>Program Code: {{ info.program_code }}</v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                  </v-card-actions>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex xs12
              v-show="title === 'Disapprove' || title === 'Drop Course' || title === 'Add Course'">
              <v-textarea
                solo
                autocomplete="text"
                label="Remarks:"
                v-model="remarks"
                rows="4"
                class="mx-2"
                @input="Input"
              ></v-textarea>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>

      <v-card-actions class="py-5">
        <v-spacer />
        <v-btn
          :loading="loading"
          color="accent"
          width="100"
          class="white--text mr-3 mt-2 text-none"
          @click="$emit('submit', remarks)">
          {{ iscourseTab ? 'Yes' : 'Submit' }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    title: String,
    loading: {
      type: Boolean,
      default: false
    },
    value: {
      type: String
    },
    label: {
      type: String
    },
    items: {
      required: false,
      type: [Object, Array]
    },
    isDean: {
      type: Boolean,
      default: false
    },
    info: {
      required: false,
      type: [Object, Array]
    },
    iscourseTab: {
      type: Boolean,
      default: false
    },
    isChecklist: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      remarks: ''
    }
  },
  computed: {
    ...mapGetters('user', ['clear_item'])
  },
  watch: {
    clear_item (val) {
      this.remarks = val
    }
  },
  methods: {
    escape () {
      this.$emit('close')
    },
    Input (val) {
      this.$emit('input', val)
    },
    clear () {
      this.remarks = ''
      this.$emit('close', this.remarks)
    }
  }
}
</script>
