<template>
  <v-dialog
    :value="showDialog"
    max-width="800px"
    persistent
    v-esc="escape">
    <v-card class="py-1 text-center">
      <v-card-actions class="py-0">
        <v-card-title class="accent--text">
          Select Option
        </v-card-title> 
        <div class="flex-grow-1"></div>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              fab
              @click="$emit('close')"
              text>
              <v-icon medium color="red">mdi-close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-card-actions>
      <v-layout wrap class="px-2 py-0" justify-center align-center>
        <v-flex xs12 md10 sm11>
          <v-radio-group
            :value="radioGroup"
            row
            @change="Change">
            <v-radio
              v-for="item in 2"
              :key="item"
              :label="item === 1 ? 'Same Time' : 'Composite Time'"
              :value="item"
            ></v-radio>
          </v-radio-group>
        </v-flex>
      </v-layout>
      <v-container fluid
        v-if="id === 1">
        <v-layout wrap class="text-xs-center align-center ma-2 pa-2"
          style="border: 1px solid #b5b3b3;">
          <v-flex xs12>
            <v-layout wrap justify-center align-center
              class="ma-2">
              <v-flex xs12 md6>
                <v-text-field
                  color="accent"
                  dense
                  class="mx-2"
                  label="Time (From)"
                  type="time"
                  :rules="[
                    v => !!v || 'Time (From) is required'
                  ]"
                  :masked="true"
                  v-model="items.from">
                </v-text-field>
              </v-flex>
              <v-flex xs12 md6>
                <v-text-field
                  color="accent"
                  dense
                  class="mx-2"
                  label="Time (To)"
                  type="time"
                  :rules="[
                    v => !!v || 'Time (To) is required'
                  ]"
                  :masked="true"
                  v-model="items.to">
                </v-text-field>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex xs12 md6>
            <v-autocomplete
              :items="rooms"
              v-model="items.room_id"
              :search-input.sync="search_room"
              clearable
              label="Select Room"
              item-text="room_name"
              item-value="room_id"
              hide-no-data
              return-object
              dense
              class="mx-2"
              clear-icon="mdi-close-circle"/>
          </v-flex>
          <v-flex xs12 md6>
            <v-autocomplete
              :items="instructors"
              v-model="items.teacher_id"
              clearable
              label="Select Teacher"
              item-text="name"
              item-value="teacher_id"
              hide-no-data
              return-string
              dense
              class="mx-2"
              clear-icon="mdi-close-circle"
            />
          </v-flex>
          <v-flex xs12>
            <v-text-field
              color="accent"
              dense
              type="number"
              class="mx-2"
              label="Capacity"
              v-model="items.capacity">
            </v-text-field>
          </v-flex>
        </v-layout>
      </v-container>
      <v-card-actions>
        <v-spacer />
        <v-btn
          color="accent"
          width="100px"
          @click="$emit('create', items)"
          class="white--text mr-3 my-2 text-none">
          Create
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
  export default {
    data: () => ({
      radios: [
        {
          title: 'Same Time'
        },
        {
          title: 'Composite Time'
        }
      ],
      id: 1,
      search_room: ''
    }),
    props: {
      showDialog: {
        type: Boolean,
        default: false
      },
      radioGroup: {
        type: Number,
        default: 1
      },
      items: {
        required: true,
        type: [Object, Array],
        default: () => {
          return {}
        }
      },
      rooms: {
        required: true,
        type: [Object, Array],
        default: () => {
          return []
        }
      },
      instructors: {
        required: true,
        type: [Object, Array],
        default: () => {
          return []
        }
      }
    },
    watch: {
      'items.room_id' (val) {
        if (val) {
          this.$set(this.items, 'capacity', val.capacity)
        } else {
          this.$set(this.items, 'capacity', null)
        }
      }
    },
    methods: {
      escape () {
        this.$emit('close')
      },
      Change (val) {
        this.$emit('change', val)
        this.id = val
      }
    }
  }
</script>
