<template>
  <v-btn
    fab
    fixed
    right
    dark
    large
    bottom
    class="float text-none"
    @click="$emit('scrollPage')"
    :color="color">
    <v-icon large>
      {{ icon }}
    </v-icon>
  </v-btn>
</template>
<script>
export default {
  props: {
    icon: String,
    color: String
  }
}
</script>
