<template>
  <v-dialog
    :value="showDialog"
    max-width="350"
    persistent
    v-esc="escape">
    <v-card
      class="pt-1 text-center">
      <v-card-actions class="pb-0">
        <div class="flex-grow-1"></div>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              fab
              @click="$emit('close')"
              text>
              <v-icon medium color="red">mdi-close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-card-actions>
      <v-layout wrap class="pb-8 body-4"
        justify-center align-center>
        <v-flex xs12>
          <v-btn
            tile
            outlined
            width="150px"
            color="accent"
            class="my-2"
            @click="$emit('freshman')">
            FRESHMAN
          </v-btn>
        </v-flex>

        <v-flex xs12>
          <v-btn
            tile
            outlined
            width="150px"
            color="accent"
            class="my-2"
            @click="$emit('transferee')">
            TRANSFEREE
          </v-btn>
        </v-flex>
      </v-layout>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    title: {
      type: String
    }
  },
  methods: {
    escape () {
      this.$emit('close')
    }
  }
}
</script>
