<template>
  <form ref="form">
  <v-layout wrap class="mt-3">
    <v-flex xs12 md7>
      <v-layout wrap class="mb-2">
        <v-flex xs12>
          <h3 class="title-color mt-4 text-center title-1 font-weight-medium">Sign-up
            <span class="font-weight-regular body-1">(for your student account)</span></h3>
        </v-flex>
      </v-layout>
    </v-flex>
    <v-flex xs12 md5 />
    <v-flex xs12 md7>
      <v-layout wrap justify-center align-center class="pt-2">
        <v-flex xs12 sm11 md10>
          <v-layout wrap>
            <v-flex
              xs12
              :key="index"
              v-for="(item, index) in form"
            >
              <v-layout wrap>
                <field-component
                  :field="field"
                  :key="field.key"
                  :form="form[index]"
                  :errors="errors"
                  :item-idx="index"
                  :choices="choices"
                  v-for="field in fields"
                ></field-component>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-flex>
    <v-flex xs12 md5>
      <v-container fluid>
        <v-layout wrap justify-top align-center>
          <v-flex xs12 lg4 class="pl-2">
            <small>Upload Image:
              <span class="pl-1" style="color: red;">*</span>
            </small>
            <v-flex class="text-center red--text caption">
              {{ image_error_message }}
            </v-flex>
          </v-flex>
          <v-flex xs12 md8>
            <v-layout wrap class="px-2" v-if="!myImage" justify-center align-center>
              <croppa
                class="style"
                v-model="image"
                :height="155"
                :width="160"
                initial-size="cover"
                :accept="'image/*'"
                :prevent-white-space="true"
                :show-remove-button="false"
                :placeholder-font-size="10"
                :file-size-limit="2097152"
                @new-image-drawn="hasImage"
                @image-remove="imageRemoved"
                @file-size-exceed="onFileSizeExceed"
                :input-attrs="{capture: true, class: 'file-input'}">
              </croppa>
            </v-layout>
            <v-layout wrap class="px-2" v-else justify-center align-center>
              <croppa
                v-model="image"
                :height="155"
                :width="160"
                initial-size="cover"
                :accept="'image/*'"
                :prevent-white-space="true"
                :show-remove-button="false"
                :placeholder-font-size="10"
                :file-size-limit="2097152"
                @new-image-drawn="hasImage"
                @image-remove="imageRemoved"
                @file-size-exceed="onFileSizeExceed"
                :input-attrs="{capture: true, class: 'file-input'}">
              </croppa>
            </v-layout>
            <v-layout wrap justify-center align-center>
              <v-card-actions class="pt-1">
                <v-btn
                  tile
                  height="16"
                  width="95"
                  text
                  outlined
                  class="caption-1 text-none mb-1"
                  @click="removeImage"
                  v-show="isShown">
                  Remove Photo
                </v-btn>
              </v-card-actions>
            </v-layout>
          </v-flex>
          <v-flex xs12 lg4 class="pl-2" />
          <v-flex xs12 md8>
            <v-layout wrap class="px-2" justify-center align-center>
              <small class="red--text">Please upload a 2x2 picture with a white background. Photo must be smaller than 2 MB</small>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-container>
    </v-flex>
    <v-flex xs12>
      <v-container fluid py-0>
        <v-card-actions class="pb-6 px-2 pt-0">
          <v-spacer />
          <v-btn
            class="text-none"
            color="main"
            dark
            width="130"
            :loading="loading"
            @click="register()"
            >Submit</v-btn>
        </v-card-actions>
      </v-container>
    </v-flex>
  </v-layout>

  <v-snackbar
    top
    right
    v-model="isSnackbar"
    :color="color"
    class="caption">
    <v-card-actions class="ma-0 pa-0">
      {{ text }}
      <v-spacer />
      <v-btn
        color="white"
        text
        icon
        right
        @click="isSnackbar = false"
        class="caption">
        <v-icon>clear</v-icon>
      </v-btn>
    </v-card-actions>
  </v-snackbar>
</form>
</template>

<script>
import axios from 'axios'
import formMixins from '@/mixins/form.js'
import FieldComponent from '@/components/shared/FieldComponent.vue'
import { mapGetters, mapMutations, mapActions } from 'vuex'

export default {
  mixins: [
    formMixins
  ],
  components: {
    FieldComponent
  },
  data () {
    return {
      fields: [
        {
          key: 'first_name',
          classNames: 'xs12 lg12',
          required: true
        },
        {
          key: 'last_name',
          classNames: 'xs12 lg12',
          required: true
        },
        {
          key: 'middle_name',
          classNames: 'xs12 lg12'
        },
        {
          key: 'name_extension',
          placeholder: 'N/A',
          choices: 'extension',
          classNames: 'xs12 lg12',
        },
        {
          key: 'email',
          classNames: 'xs12 lg12',
          required: true
        },
        {
          key: 'birth_date',
          date: true,
          classNames: 'xs12 lg12',
          required: true
        },
        {
          key: 'gender',
          choices: 'gender_type',
          classNames: 'xs12 lg12',
          required: true
        },
        {
          key: 'password',
          password: true,
          classNames: 'xs12 lg12',
          counter: 8,
          rule: [v => (v && v.length) >= 8 || 'password must be atleast 8 characters'],
          required: true
        },
        {
          key: 'confirm_password',
          password: true,
          classNames: 'xs12 lg12',
          required: true
        }
      ],
      errors: {},
      isShown: false,
      myImage: '',
      image: null,
      form: [],
      formItem: {
        first_name: null,
        last_name: null,
        middle_name: null,
        avatar: null,
        email: null,
        birth_date: null,
        gender: null,
        password: null,
        confirm_password: null
      },
      loading: false,
      color: '',
      text: '',
      isSnackbar: false,
      image_error_message: ''
    }
  },
  computed: {
    ...mapGetters('user', ['user']),
    choices () {
      return {
        gender_type: ['Female', 'Male'],
        extension: ['N/A', 'II', 'III', 'IV', 'CPA', 'DDS', 'Esq', 'JD', 'Jr', 'LLD', 'MD', 'PhD', 'Ret', 'RN', 'Sr', 'DO']
      }
    }
  },
  watch: {
    errors (val) {
      if (val.avatar) {
        this.image_error_message = val.avatar[0]
      } else {
        this.image_error_message = ''
      }
    }
  },
  mounted () {
    this.addFormItem()
  },
  methods: {
    ...mapMutations('user', ['setUser']),
    ...mapActions('user', ['POST_USER']),
    hasImage () {
      if (this.image.getChosenFile().name !== '') {
        this.myImage = this.image.getChosenFile().name
      } else {
        this.myImage = ''
      }
      this.isShown = true
    },
    imageRemoved () {
      this.isShown = false
    },
    onFileSizeExceed (file) {
      this.snackbar('File size exceeds. Please choose a file smaller than 2MB.', 'black')
      this.isSnackbar = true
    },
    removeImage () {
      this.image.remove()
      this.myImage = ''
    },
    async register () {
      const inputs = new FormData()

      for (let key in this.form[0]) {
        if (this.form[0][key]) inputs.append(key, this.form[0][key])
      }
      inputs.append('user_type_id', 1)
      this.image.getChosenFile() && inputs.append('avatar', this.image.getChosenFile())
      this.loading = true
      await this.POST_USER(inputs)
        .then(data => {
          this.loading = false
          this.setUser(data.data.create_user)
          localStorage.setItem('apollo-token', data.data.success.token)
          this.$router.push({ name: 'dashboard' })
        })
        .catch(data => {
          this.loading = false
          if (!global._.isEmpty(data.errors)) {
            // this.$refs.form.errors = data.errors
            this.errors = data.errors
          } else {
            // this.$refs.form.errors = {}
            this.errors = {}
          }
        })
    }
  }
}
</script>
