<template>
  <v-dialog
    :value="showDialog"
    max-width="615px"
    persistent
    v-esc="escape">
    <v-card class="pt-1 text-center">
      <v-card-actions class="py-0">
        <div class="flex-grow-1"></div>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              fab
              @click="$emit('close')"
              text>
              <v-icon medium color="red">mdi-close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-card-actions>
      <v-layout wrap class="px-2" justify-center align-center>
        <v-flex xs12>
          <v-card-title flat class="subtitle-1 break-word text-justify">
          I hereby understand that the personal data or information gathered from the enrollment forms and documents are kept confidential by the DMMA College of Sourthern Philippines (DCSP) and that the latter shall use reasonable means 
          to protect the privacy and security of such data or information.I hereby authorize DCSP to use data or information in relation only to its processes
          and procedures or as may be allowed by existing laws, rules and regulations. 
        </v-card-title>
        </v-flex>
        <v-flex xs12>
          <v-card-title flat>
            <v-layout row wrap justify-center align-center>
              <v-flex xs12>
                <v-checkbox
                  v-model="selected"
                  color="#3A3A3A"
                  class="caption-1"
                  label="I agree and accept the terms and conditions"
                  :value="false">
                </v-checkbox>
              </v-flex>
              <v-flex xs12>
                <v-card-actions>
                  <v-spacer />
                  <v-btn
                    :loading="loading"
                    :disabled="!selected"
                    color="green"
                    width="100"
                    class="white--text mr-3 text-none"
                    @click="$emit('accept')">Accept
                  </v-btn>
                  <v-btn
                    dark
                    color="red darken-1"
                    width="100"
                    class="mr-3 text-none"
                    @click.enter="selected = false"
                    @click="$emit('close')">Cancel
                  </v-btn>
                </v-card-actions>
              </v-flex>
            </v-layout>
          </v-card-title>
        </v-flex>
      </v-layout>

    </v-card>
  </v-dialog>
</template>
<script>
  export default {
    data: () => ({
      selected: false
    }),
    props: {
      showDialog: {
        type: Boolean,
        default: false
      },
      loading: {
        type: Boolean,
        default: false
      }
    },
    methods: {
      escape () {
        this.$emit('close')
      }
    }
  }
</script>
