<template>
  <v-app-bar
    light
    app
    collapse
    flat
    color="white"
    class="nav-index">
    <v-app-bar-nav-icon @click.stop="isDrawer = !isDrawer"></v-app-bar-nav-icon>
  </v-app-bar>
</template>
<script>
import { mapGetters, mapMutations } from 'vuex'
export default {
  computed: {
    ...mapGetters('user', ['user']),
    ...mapGetters('navigation', ['drawer']),
    isDrawer: {
      get: function () {
        return this.drawer
      },
      // setter
      set: function (value) {
        return this.setDrawer(value)
      }
    }
  },
  methods: {
    ...mapMutations('navigation', ['setDrawer'])
  }
}
</script>
