<template>
  <v-dialog
    :value="showDialog"
    max-width="1065px"
    persistent
    v-esc="escape">
    <v-card class="pt-1 text-center">
      <v-layout wrap class="px-2" justify-center align-center>
        <v-flex xs12>
          <v-card-title flat class="subtitle-1 break-word text-justify">
            We noticed that you have not uploaded all requirements. Please download and fill up the {{ isWaiver && isAffidavit ? 'Waiver and Affidavit of Undertaking' : isWaiver && !isAffidavit ? 'Waiver' : 'Affidavit of Undertaking' }} below. Once done, please upload the documents again individually in their respective fields.
          </v-card-title>
        </v-flex>
        <v-flex xs12>
          <v-layout wrap>
            <v-flex :xs6="isWaiver && isAffidavit" :xs12="isWaiver && !isAffidavit"
              v-show="isWaiver">
              <v-card
                class="mx-2"
                outlined
              >
                <v-list-item three-line>
                  <v-list-item-content>
                    <v-list-item-title class="overline blue--text mb-1">
                      <v-tooltip top>
                        <template v-slot:activator="{ on }">
                          <a :href="waiverLink" target="_blank" class="text-decor red--text">
                            <v-btn
                              v-on="on"
                              text
                              @click="exportWaiver()"
                              class="blue--text">
                              <v-icon size="28px">mdi-download</v-icon>

                              <template v-slot:loader>
                                <span
                                  class="grey--text caption text--none">Loading...
                                </span>
                              </template>
                            </v-btn>
                          </a>
                        </template>
                        <span>Download</span>
                      </v-tooltip>
                      <span class="pointer text-decoration-underline">WAIVER-TEMPORARY ENROLLMENT</span>
                      <span class="pl-1 subtitle-1" style="color: red;">*</span>
                    <!--   <v-icon
                        right
                        class="pointer blue--text mb-2"
                        @click="openInfoDialog = true">info
                      </v-icon> -->
                    </v-list-item-title>
                    <v-list-item-subtitle class="my-4"></v-list-item-subtitle>
                    <v-list-item-subtitle :my-3="filenames.waiver_temporary_enrollment === ''">
                      <file-upload
                        @checkVal="checkWaiver"
                        :id="fullname.id"
                        ref="waiver_temporary_enrollment"
                        :hasFile="filenames.waiver_temporary_enrollment !== ''"
                        :file_name="filenames.waiver_temporary_enrollment"
                        title="Waiver Temporary Enrollment"
                        @change="doWaiver"
                        :loading="waiverLoading"
                        @clear="filenames.waiver_temporary_enrollment = ''"
                        @choose="filenames.waiver_temporary_enrollment = ''"
                        :isRequired="true"
                        :errorMessages="errors['file_name']"
                      />
                    </v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-card>
            </v-flex>
            <v-flex :xs6="isWaiver && isAffidavit" :xs12="!isWaiver && isAffidavit"
              v-show="isAffidavit">
              <v-card
                class="mx-2"
                outlined
              >
                <v-list-item three-line>
                  <v-list-item-content>
                    <v-list-item-title class="overline blue--text mb-1">
                      <v-tooltip top>
                        <template v-slot:activator="{ on }">
                          <a :href="affidavitLink" target="_blank" class="text-decor red--text">
                            <v-btn
                              v-on="on"
                              text
                              @click="exportAffidavit()"
                              class="blue--text">
                              <v-icon size="28px">mdi-download</v-icon>

                              <template v-slot:loader>
                                <span
                                  class="grey--text caption text--none">Loading...
                                </span>
                              </template>
                            </v-btn>
                          </a>
                        </template>
                        <span>Download</span>
                      </v-tooltip>
                      <span class="pointer text-decoration-underline">AFFIDAVIT OF UNDERTAKING</span>
                      <span class="pl-1 subtitle-1" style="color: red;">*</span>
                      <!-- v-icon
                        right
                        class="pointer blue--text mb-2"
                        @click="openAffidavitInfoDialog = true">info
                      </v-icon> -->
                    </v-list-item-title>
                    <v-list-item-subtitle>FOR LACK REQUIREMENTS (Old Students - enrolled SY {{ enrollData.sy }}) and/or Students with HEALTH AND PHYSICAL PROBLEMS</v-list-item-subtitle>
                    <v-list-item-subtitle :my-3="filenames.affidavit_of_undertaking === ''">
                      <file-upload
                        @checkVal="checkAffidavit"
                        :id="fullname.id"
                        ref="affidavit_of_undertaking"
                        :hasFile="filenames.affidavit_of_undertaking !== ''"
                        :file_name="filenames.affidavit_of_undertaking"
                        title="Affidavit Of Undertaking"
                        @change="doAffidavit"
                        :loading="affidavitLoading"
                        @clear="filenames.affidavit_of_undertaking = ''"
                        @choose="filenames.affidavit_of_undertaking = ''"
                        :isRequired="true"
                        :errorMessages="errors['file_name']"
                      />
                    </v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-card>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex xs12>
          <v-card-title flat>
            <v-layout row wrap justify-center align-center>
              <v-flex xs12>
                <v-checkbox
                  :disabled="isChecked"
                  v-model="selected"
                  color="#3A3A3A"
                  class="caption-1"
                  label="I hereby certify that all information I have submtted are true and correct. I consequently allow/authorize DMMA-CSP clinic with its authorized personnel as well to use, collect and process information provided for legitimate purposes specifically for reasons of Health and Safety."
                  :value="false">
                </v-checkbox>
              </v-flex>
              <v-flex xs12>
                <v-card-actions>
                  <v-spacer />
                  <v-btn
                    :loading="loading"
                    :disabled="!selected"
                    color="green"
                    width="100"
                    @click="DoPledged"
                    class="white--text mr-3 text-none">Accept
                  </v-btn>
                  <v-btn
                    dark
                    color="red darken-1"
                    width="100"
                    class="mr-3 text-none"
                    @click.enter="selected = false"
                    @click="$emit('close')">Cancel
                  </v-btn>
                </v-card-actions>
              </v-flex>
            </v-layout>
          </v-card-title>
        </v-flex>
      </v-layout>
      <waiver-info
        :showDialog="openInfoDialog"
        @close="openInfoDialog = false"
        :isWaiver="true"
      />

      <waiver-info
        :showDialog="openAffidavitInfoDialog"
        @close="openAffidavitInfoDialog = false"
        :isUndertaking="true"
      />
    </v-card>
  </v-dialog>
</template>
<script>
import defaultMixins from '@/mixins/index'
import formMixins from '@/mixins/form.js'
import { mapGetters } from 'vuex'
import { GET_APPLICANT_REQUIREMENTS, GET_FILENAMES } from '@/graphql/admin/queries'
  export default {
    mixins: [
      defaultMixins,
      formMixins
    ],
    data: () => ({
      selected: false,
      waiverLoading: false,
      affidavitLoading: false,
      filenames: {
        waiver_temporary_enrollment: '',
        affidavit_of_undertaking: ''
      },
      openInfoDialog: false,
      openAffidavitInfoDialog: false,
      form: [],
      isLoading: false,
      affidavitDialog: false,
      waiverLink: '',
      affidavitLink: '',
      file: '',
      affidavitFile: '',
      waiverItem: {},
      affidavitItem: {},
      errors: {},
      isFileInput: false,
      isaffidavitFileInput: false,
    }),
    props: {
      showDialog: {
        type: Boolean,
        default: false
      },
      loading: {
        type: Boolean,
        default: false
      },
      fullname: {
        type: Object
      },
      isWaiver: {
        type: Boolean,
        default: false
      },
      isAffidavit: {
        type: Boolean,
        default: false
      }
    },
    computed: {
      ...mapGetters('applicants', ['requirements', 'enrollData']),
      postApi () {
        return 'api/applicant/upload/requirement'
      },
      isChecked () {
        if (this.isWaiver && this.isAffidavit) {
          if (this.isFileInput && this.isaffidavitFileInput) return false
          return true
        } else if (this.isWaiver && !this.isAffidavit) {
          if (this.isFileInput) return false
          return true
        } else {
          if (this.isaffidavitFileInput) return false
          return true
        }
      }
    },
    mounted () {
      this.getfiles()
    },
    watch: {
      requirements () {
        this.getfiles()
      },
      errors (val) {
        if (!global._.isEmpty(val)) {
          this.selected = false
        } else {
          if (this.isChecked) {
            this.selected = false
          } else {
            this.selected = true
          }
        }
      }
    },
    methods: {
      escape () {
        this.$emit('close')
      },
      close () {
        this.$emit('closeWaiverAffidavit')
        this.getfiles()
      },
      getfiles () {
        let { filenames, capitalLeter, selected, isWaiver, isAffidavit, waiverLoading, affidavitLoading } = this
        if (!global._.isEmpty(this.requirements)) {
        let sortFiles = this.requirements.filter(item => item.file_name === 'Waiver Temporary Enrollment' || item.file_name === 'Affidavit Of Undertaking')
          if (this.isWaiver && this.isAffidavit) {
            if (sortFiles.length === 2) {
              this.waiverLoading = false
              this.affidavitLoading = false
              this.escape()
              this.$emit('accept')
            }
          } else if (this.isWaiver && !this.isAffidavit) {
            if (sortFiles.length === 1) {
              this.waiverLoading = false
              this.escape()
              this.$emit('accept')
            }
          } else {
            if (sortFiles.length === 1) {
              this.affidavitLoading = false
              this.escape()
              this.$emit('accept')
            }
          }
          if (!global._.isEmpty(sortFiles)) {
            global._.forEach(sortFiles, function (val) {
              Object.keys(filenames).forEach(key => {
                let name = key.replace(/_/g, ' ')
                if (val.file_name === `${capitalLeter(name)}`) {
                  filenames[key] = val.file_name
                  if ('Waiver Temporary Enrollment' === `${capitalLeter(name)}` || 'Affidavit Of Undertaking' === `${capitalLeter(name)}`) {
                    selected = val.isAccepted
                  }
                }
              })
            })
          }
        }
      },
      checkAffidavit (val) {
        console.log('checkAffidavit:', val)
      },
      checkWaiver (val) {
        console.log('checkWaiver:', val)
      },
      DoPledged () {
        this.waiverLoading = true
        this.affidavitLoading = true
        if (this.isWaiver && this.isAffidavit) {
          if (this.waiverItem) {
            this.saveData(this.waiverItem)
          }
          if (this.affidavitItem) {
            this.saveData(this.affidavitItem)
          }
        } else if (this.isWaiver && !this.isAffidavit) {
          if (this.waiverItem) {
            this.saveData(this.waiverItem)
          }
        } else {
          if (this.affidavitItem) {
            this.saveData(this.affidavitItem)
          }
        }
      },
      doWaiver (val) {
        if (val) {
          if (!val.some(file => file.size > 41_943_040)) {
            if (val.length > 0) {
              val.forEach((file) => {
                if (/\.(pdf)$/i.test(file.name)) {
                  const inputs = new FormData()
                  this.file = file
                  inputs.append('file_upload', file)
                  inputs.append('user_id', this.fullname.id)
                  inputs.append('file_name', 'Waiver Temporary Enrollment')
                  inputs.append('icon', 'mdi-check-circle')
                  inputs.append('isAccepted', true)
                  this.isFileInput = true
                  this.waiverItem = inputs
                }
              })
            }
          }
        }
      },
      doAffidavit (val) {
        if (val) {
          if (!val.some(file => file.size > 41_943_040)) {
            if (val.length > 0) {
              val.forEach((file) => {
                if (/\.(pdf)$/i.test(file.name)) {
                  const inputs = new FormData()
                  this.affidavitFile = file
                  inputs.append('file_upload', file)
                  inputs.append('user_id', this.fullname.id)
                  inputs.append('file_name', 'Affidavit Of Undertaking')
                  inputs.append('icon', 'mdi-check-circle')
                  inputs.append('isAccepted', true)
                  this.isaffidavitFileInput = true
                  this.affidavitItem = inputs
                }
              })
            }
          }
        }
      },
      exportWaiver () {
        this.waiverLink = `${process.env.VUE_APP_URL}api/exports/pdf/waiver_enrollment`
      },
      exportAffidavit () {
        this.affidavitLink = `${process.env.VUE_APP_URL}api/exports/pdf/affidavit_undertaking`
      }
    }
  }
</script>
