<template>
  <v-dialog
    :value="showDialog"
    width="670px"
    persistent
    v-esc="escape">
    <v-card class="pt-1 text-center">
      <v-card-actions class="py-0">
        <div class="flex-grow-1"></div>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              fab
              @click="$emit('close')"
              text>
              <v-icon medium color="red">mdi-close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-card-actions>
      <v-layout wrap class="px-2 pb-5" justify-center align-center>
        <v-flex xs12>
          <v-card-title
            flat
            class="ma-0 align-center overline overflow-y-auto"
            v-show="isWaiver">
            Please fill up the <span class="text-decoration-underline red--text px-1">red blank fields</span> as shown in the image below:
            <v-img
              class="white--text align-end"
              height="250px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
            <v-card-title>replace with waiver form image</v-card-title>
            </v-img>
            After filling up the required fields <span class="px-1 font-weight-bold accent--text">upload</span>the form in the section as  <span>shown in the image below:</span>
            <v-img
              class="align-end"
              height="300px"
              width="500px"
              :src="require('@/assets/images/waiver.png')"
            >
            </v-img>
          </v-card-title>
          <v-card-title
            flat
            class="ma-0 align-center overline overflow-y-auto"
            v-show="isUndertaking">
            Please <span class="px-1 font-weight-bold accent--text">download</span> the <span class="px-1 font-weight-bold">AFFIDAVIT OF UNDERTAKING FORM</span> and fill up the <span class="text-decoration-underline red--text px-1">red blank fields</span> as shown in the image below:
            <v-img
              class="white--text align-end"
              height="200px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
            <v-card-title>replace with AFFIDAVIT OF UNDERTAKING FORM image</v-card-title>
            </v-img>
            After filling up the required fields notarize and <span class="px-1 font-weight-bold accent--text">upload</span> the form in the section as shown in the image below:
            <v-img
              class="align-end"
              height="300px"
              width="500px"
              :src="require('@/assets/images/affidavit.png')"
            >
            </v-img>
          </v-card-title>
        </v-flex>
      </v-layout>
    </v-card>
  </v-dialog>
</template>
<script>
  export default {
    data: () => ({
      selected: false
    }),
    props: {
      showDialog: {
        type: Boolean,
        default: false
      },
      loading: {
        type: Boolean,
        default: false
      },
      information: {
        type: String
      },
      isWaiver: {
        type: Boolean,
        default: false
      },
      isUndertaking: {
        type: Boolean,
        default: false
      }
    },
    methods: {
      escape () {
        this.$emit('close')
      }
    }
  }
</script>
