<template>
<v-flex xs12 class="mx-2">
  <v-layout wrap justify-center align-center
    v-if="isMaritimeProgram">
  	<v-flex xs12>
      <v-card
        flat
        class="mx-2 mt-8 elevation-20">
        <v-layout wrap>
          <v-flex xs12 md7>
            <v-card-actions>
              <v-icon
                slot="icon"
                color="error"
                size="40"
              >
                cancel
              </v-icon>
              <v-list-item three-line>
                <v-list-item-content>
                <v-list-item-subtitle class="overline pb-1 red--text">Medical Results with the following Health & Physical Problems are not recommended for Maritime Programs:</v-list-item-subtitle>
                <v-list-item-subtitle>
                  <v-layout wrap class="mt-1">
                    <v-flex xs12 md4
                      class="caption"
                      v-for="(item, index) in maritimeItems" :key="index">
                      <v-icon>done</v-icon>
                      {{ item.label }}
                    </v-flex>
                  </v-layout>
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-card-actions>
          </v-flex>
          <v-flex xs12 md5>
            <v-card-actions>
              <v-icon
                slot="icon"
                color="accent"
                size="40"
              >
                warning
              </v-icon>
              <v-list-item three-line>
                <v-list-item-content>
                <v-list-item-subtitle class="overline pb-1 accent--text">An Affidavit of Undertaking shall be required for medical results with the </v-list-item-subtitle>
                <v-list-item-subtitle class="overline pb-1 accent--text"> following health and physical problems:</v-list-item-subtitle>
                  <v-list-item-subtitle>
                    <v-layout wrap class="mt-1">
                      <v-flex xs12 md6>
                        <span>
                          <v-icon class="pb-1">done</v-icon>
                          Visual Acuity<br>
                        </span>
                        <span class="gray--text ml-4">
                          - OD (right eye): 20/40 & above<br>
                        </span>
                        <span class="gray--text ml-4">
                          - OS (left eye): 20/40 & above
                        </span>
                      </v-flex>
                      <v-flex xs12 md6>
                        <span>
                          <v-icon class="pb-1">done</v-icon>
                          Obesity<br>
                        </span>
                        <span>
                          <v-icon class="pb-1">done</v-icon>
                          Varicocele<br>
                        </span>
                      </v-flex>
                    </v-layout>
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-card-actions>
          </v-flex>
        </v-layout>
      </v-card>
    </v-flex>
  </v-layout>
  <v-layout wrap justify-center align-center
    v-else>
    <v-flex xs12>
      <v-card
        flat
        class="mx-2 mt-8 elevation-15">
        <v-banner
            single-line
        >
          <v-icon
            slot="icon"
            color="accent"
            size="40"
          >
            warning
          </v-icon>
          <v-list-item three-line>
            <v-list-item-content>
            <v-list-item-subtitle class="overline pb-1 accent--text">An Affidavit of Undertaking shall be required for medical results with the following health and physical problems:</v-list-item-subtitle>
              <v-list-item-subtitle>
                <v-layout wrap class="my-4">
                  <v-flex xs12 md6>
                    <span>
                      <v-icon class="pb-1">done</v-icon>
                      Dextrocoliosis (Scoliosis)<br>
                    </span>
                    <span>
                      <v-icon class="pb-1">done</v-icon>
                      Hepatitis B Antigen Positive<br>
                    </span>
                  </v-flex>
                  <v-flex xs12 md6>
                    <span>
                      <v-icon class="pb-1">done</v-icon>
                      PTB Active<br>
                    </span>
                  </v-flex>
                </v-layout>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-banner>
      </v-card>
    </v-flex>
  </v-layout>
</v-flex>
</template>
<script>
import requirementsMixins from '@/mixins/arraylist/personnel/requirements-list'
export default {
  mixins: [
    requirementsMixins
  ],
  props: {
    isMaritimeProgram: {
      required: false,
      type: Boolean,
      default: false
    }
  }
}
</script>
