<template lang="html">
  <v-card class="ma-2 pa-2">
    <v-card-title>
      <strong>Client Population</strong>
    </v-card-title>
    <v-divider></v-divider>
    <bar-chart
      :chart-data="chartData"
      :height="250"
    >
    </bar-chart>
  </v-card>
</template>

<script>
  import ChartMixin from '@/mixins/charts'
  import BarChart from '@/components/charts/BarChart'
  export default {
    mixins: [
      ChartMixin
    ],
    components: {
      BarChart
    },
    props: {
      academicYears: {
        type: [Array],
        default: () => {
          return []
        }
      },
      count_enrolled: {
        type: Array,
        default: () => {
          return []
        }
      },
      count_potential: {
        type: Array,
        default: () => {
          return []
        }
      }
    },
    data () {
      return {
        isFetching: false,
        chartOptions: {
          responsive: true,
          legend: {
            display: true,
          },
          tooltips: {
            titleFontSize: 15,
            bodyFontSize: 10,
          },
          scales: {
            xAxes: [],
            yAxes: [
              {
                ticks: {
                  beginAtZero: false,
                }
              }
            ]
          }
        }
      }
    },
    computed: {
      chartData () {
        return {
          labels: this.academicYears,
          datasets: [
            {
              label: 'Shares',
              // label: 'Enrolled',
              backgroundColor: '#4CAF50',
              data: this.count_enrolled,
              borderWidth: 1
            },
            {
              label: 'Likes',
              // label: 'Potential Enrollee',
              backgroundColor: '#03A9F4',
              data: this.count_potential,
              borderWidth: 1
            }
          ],
          options: {
            responsive: true,
            maintainAspectRatio: false
          }
        }
      }
    }
  }
</script>
