<template lang="html">
  <v-card class="ma-2 pa-2">
    <v-card-title>
      <strong>Clients Per Company</strong>
    </v-card-title>
    <v-divider></v-divider>
    <pie-chart
      :chart-data="chartData"
      :height="250"
    />
    </bar-chart>
  </v-card>
</template>

<script>
  import ChartMixin from '@/mixins/charts'
  import PieChart from '@/components/charts/PieChart'
  export default {
    mixins: [
      ChartMixin
    ],
    components: {
      PieChart
    },
    props: {
      totalStudents: {
        type: Number,
        default: 0
      },
      programs: {
        type: [Array],
        default: () => {
        return []
        }
      }
    },
    data () {
      return {
        isFetching: false
      }
    },
    computed: {
      chartData () {
        return {
          labels: this.getValuesByKey(this.programs, 'program'),
          datasets: [
            {
              label: 'Clients',
              data: this.getValuesByKey(this.programs, 'count'),
              backgroundColor: this.getValuesByKey(this.programs, 'color'),
              borderWidth: 1
            }
          ]
        }
      }
    }
  }
</script>
