<template>
  <v-container>
    <v-layout row wrap>
      <v-row
        class="d-flex"
        cols="12"
        sm="6"
      >
        <v-text-field
          label="First Name"
          prepend-inner-icon="search"
          solo
                  ></v-text-field>

        <v-select
          class=""
          :items="items"
          label="Export"
          background-color="#F47927"
          dense
          solo
          style="color: white;"
        ></v-select>

        <v-select
          class=""
          :items="items"
          label="Filter"
          background-color="#F47927"
          dense
          solo
          style="color: white;"
        ></v-select>

<!--         <v-btn
          class="text-none"
          color="#F47927"
          block
          dark
          >Add / Drop Subject
        </v-btn> -->

        <v-btn
          class="text-none"
          color="main"
          dark
          >Add Student
        </v-btn>
      </v-row>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  data: () => ({
    items: ['Foo', 'Bar', 'Fizz', 'Buzz']
  })
}
</script>
