<template>
  <v-dialog
    :value="showDialog"
    persistent
    v-esc="escape">
  <v-card
    :loading="cardLoading"
    class="pt-0 mt-0">
    <v-card-actions class="pb-0">
    <div class="flex-grow-1">
      <v-card-title class="accent--text">{{ isEdit ? 'Edit' : 'Add' }} Class</v-card-title>
    </div>
      <v-tooltip top>
        <template v-slot:activator="{ on }">
          <v-btn
            v-on="on"
            v-if="isEdit && !hasStudents"
            @click="isDelete(true)"
            text
            fab
            color="red">
            <v-icon medium color="red">mdi-delete</v-icon>
          </v-btn>
        </template>
        <span>Delete</span>
      </v-tooltip>
      <v-tooltip top>
        <template v-slot:activator="{ on }">
          <v-btn
            v-on="on"
            @click="closeDialog"
            text
            fab
            color="red">
            <v-icon medium color="red">mdi-close</v-icon>
          </v-btn>
        </template>
        <span>Close</span>
      </v-tooltip>
    </v-card-actions>
    <v-divider class="mx-2" />
    <v-card-title>
      <v-form ref="form">
        <v-layout wrap class="py-0 my-0">
          <v-flex
            xs12
            :key="index"
            v-for="(item, index) in formData"
          >
            <v-layout wrap class="py-0 my-0">
              <field-component
                :field="field"
                :key="field.key"
                :form="formData[index]"
                :errors="errors"
                :item-idx="index"
                :choices="choices"
                v-for="field in fields"
                @change="Change"
                @clear="ClearItem"
              ></field-component>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-form>
    </v-card-title>
    <v-card-title class="py-0 my-0">
      <v-container fluid
        v-if="lecHours || labHours || isOjT"
        class="overflow-y-auto py-0 my-0"
        style="height: 400px;">
        <v-card flat
          style="height: 270px;"
          v-scroll="onhandleScroll">
          <v-layout wrap>
            <v-flex xs12 md6
              v-if="lecHours || isOjT">
              <v-layout wrap>
                <v-flex xs12>
                  <small v-if="!isOjT"> Lec: {{ lecHours }} Hour/s
                    <span class="pl-1" style="color: red;">*</span>
                  </small>
                </v-flex>
                <v-flex xs12>
                  <v-layout wrap justify-right align-right>
                    <v-flex xs12 sm6 md4
                      v-for="(item, index) in days"
                      :key="index">
                      <v-checkbox
                        class="ma-0 pa-0"
                        v-model="selectedLec"
                        dense
                        :label="item.title"
                        :value="item.value"
                        @click="AddItem(lecSize, item.value,index)">
                      </v-checkbox>
                    </v-flex>
                  </v-layout>
                </v-flex>
                <v-flex xs12>
                  <v-card-actions class="py-0">
                    <v-btn
                      color="accent"
                      width="150px"
                      :disabled="!Boolean(lecSize > 0)"
                      @click="scheduleDialog = true"
                      class="white--text mr-3 my-2 text-none">
                      Schedule Option
                    </v-btn>
                  </v-card-actions>
                </v-flex>
                <v-flex xs12
                  v-if="createLec">
                  <v-layout wrap>
                    <v-flex
                      xs12
                      v-for="(item, index) in dayItems" :key="index"
                      style="border: 1px solid #b5b3b3;"
                      class="ma-2">
                      <v-card-actions class="pa-0">
                        <small class="ma-2 font-weight-bold">{{ item.day }}</small>
                        <v-spacer />
                        <v-btn
                          text
                          class="small red--text font-weight-bold body-2 text-none"
                          @click="remove(index, item)">
                          <v-icon right>clear</v-icon>Remove fields
                        </v-btn>
                      </v-card-actions>
                      <v-container fluid>
                        <v-layout wrap class="text-xs-center align-center pa-2">
                          <v-flex xs12>
                            <v-layout wrap justify-center align-center>
                              <v-flex xs12 md6>
                                <v-text-field
                                  color="accent"
                                  dense
                                  class="mx-2"
                                  label="Time (From)"
                                  type="time"
                                  :rules="[
                                    v => !!v || 'Time (From) is required'
                                  ]"
                                  :masked="true"
                                  v-model="item.from"
                                  :error-messages="lecErrors[index] ? lecErrors[index]['from'] : ''">
                                </v-text-field>
                              </v-flex>
                              <v-flex xs12 md6>
                                <v-text-field
                                  color="accent"
                                  dense
                                  class="mx-2"
                                  label="Time (To)"
                                  type="time"
                                  :rules="[
                                    v => !!v || 'Time (To) is required'
                                  ]"
                                  :masked="true"
                                  :error-messages="lecErrors[index] ? lecErrors[index]['to'] : ''"
                                  v-model="item.to">
                                </v-text-field>
                              </v-flex>
                            </v-layout>
                          </v-flex>
                          <v-flex xs12 md6>
                            <v-autocomplete
                              :items="defaultRooms"
                              v-model="item.room_id"
                              clearable
                              label="Select Room"
                              item-text="room_name"
                              item-value="room_id"
                              hide-no-data
                              return-string
                              dense
                              class="mx-2"
                              clear-icon="mdi-close-circle"
                            />
                          </v-flex>
                          <v-flex xs12 md6>
                            <v-autocomplete
                              :items="instructors"
                              v-model="item.teacher_id"
                              clearable
                              label="Select Teacher"
                              item-text="name"
                              item-value="teacher_id"
                              hide-no-data
                              return-string
                              dense
                              class="mx-2"
                              clear-icon="mdi-close-circle"
                            />
                          </v-flex>
                          <v-flex xs12>
                            <v-text-field
                              color="accent"
                              dense
                              class="mx-2"
                              label="Capacity"
                              :error-messages="lecErrors[index] ? lecErrors[index]['capacity'] : ''"
                              v-model="item.capacity">
                            </v-text-field>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex xs12 md6
              v-if="labHours">
              <v-layout wrap>
                <v-flex xs12>
                  <small> Lab: {{ labHours }} Hour/s
                    <span class="pl-1" style="color: red;">*</span>
                  </small>
                </v-flex>
                <v-flex xs12>
                  <v-layout wrap justify-right align-right>
                    <v-flex xs12 sm6 md4
                      v-for="(item, index) in days"
                      :key="index">
                      <v-checkbox
                        class="ma-0 pa-0"
                        v-model="selectedLab"
                        dense
                        :label="item.title"
                        :value="item.value"
                        @click="AddLabItem(labSize, item.value,index)">
                      </v-checkbox>
                    </v-flex>
                  </v-layout>
                </v-flex>
                <v-flex xs12>
                  <v-card-actions class="py-0">
                    <v-btn
                      color="accent"
                      width="150px"
                      :disabled="!Boolean(labSize > 0)"
                      @click="scheduleLabDialog = true"
                      class="white--text mr-3 my-2 text-none">
                      Schedule Option
                    </v-btn>
                  </v-card-actions>
                </v-flex>
                <v-flex xs12
                  v-if="createLab">
                  <v-layout wrap>
                    <v-flex xs12
                      v-for="(item, index) in dayLabItems" :key="index"
                      style="border: 1px solid #b5b3b3;"
                      class="ma-2">
                      <v-card-actions class="pa-0">
                        <small class="ma-2 font-weight-bold">{{ item.day }}</small>
                        <v-spacer />
                        <v-btn
                          text
                          class="small red--text font-weight-bold body-2 text-none"
                          @click="removeLab(index, item)">
                          <v-icon right>clear</v-icon>Remove fields
                        </v-btn>
                      </v-card-actions>
                      <v-container fluid>
                        <v-layout wrap class="text-xs-center align-center pa-2">
                          <v-flex xs12>
                            <v-layout wrap justify-center align-center>
                              <v-flex xs12 md6>
                                <v-text-field
                                  color="accent"
                                  dense
                                  class="mx-2"
                                  label="Time (From)"
                                  type="time"
                                  :rules="[
                                    v => !!v || 'Time (From) is required'
                                  ]"
                                  :masked="true"
                                  v-model="item.from"
                                  :error-messages="labErrors[index] ? labErrors[index]['from'] : ''">
                                </v-text-field>
                              </v-flex>
                              <v-flex xs12 md6>
                                <v-text-field
                                  color="accent"
                                  dense
                                  class="mx-2"
                                  label="Time (To)"
                                  type="time"
                                  :rules="[
                                    v => !!v || 'Time (To) is required'
                                  ]"
                                  :masked="true"
                                  v-model="item.to"
                                  :error-messages="labErrors[index] ? labErrors[index]['to'] : ''">
                                </v-text-field>
                              </v-flex>
                            </v-layout>
                          </v-flex>
                          <v-flex xs12 md6>
                            <v-autocomplete
                              :items="defaultRooms"
                              v-model="item.room_id"
                              clearable
                              label="Select Room"
                              item-text="room_name"
                              item-value="room_id"
                              hide-no-data
                              return-string
                              dense
                              class="mx-2"
                              clear-icon="mdi-close-circle"/>
                          </v-flex>
                          <v-flex xs12 md6>
                            <v-autocomplete
                              :items="instructors"
                              v-model="item.teacher_id"
                              clearable
                              label="Select Teacher"
                              item-text="name"
                              item-value="teacher_id"
                              hide-no-data
                              return-string
                              dense
                              class="mx-2"
                              clear-icon="mdi-close-circle"
                            />
                          </v-flex>
                          <v-flex xs12>
                            <v-text-field
                              color="accent"
                              dense
                              class="mx-2"
                              label="Capacity"
                              :error-messages="lecErrors[index] ? lecErrors[index]['capacity'] : ''"
                              v-model="item.capacity">
                            </v-text-field>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-card>
      </v-container>
    </v-card-title>
    <v-card-actions class="pb-3">
      <v-spacer />
      <v-btn
        :loading="saveLoading"
        color="accent"
        width="100px"
        class="white--text mr-3 mt-2 text-none"
        @click="isEdit ? isDelete(false) : save()">
        Save
      </v-btn>
    </v-card-actions>

    <confirmation-dialog
      :showDialog="confirmDialog"
      @close="confirmDialog = false"
      @proceed="isDeleteItem ? deleteItem() : option()"
      :loading="deleteLoading"
      :isSubmit="isDeleteItem ? true : isEdit ? true : false"
      :message="isDeleteItem ? 'Are you sure you want to delete this class ?' : promptMessage"
    />

    <schedule-dialog
      :showDialog="scheduleDialog"
      @close="scheduleDialog = false"
      v-model="radioGroup"
      :items="schedule"
      :rooms="defaultRooms"
      :instructors="instructors"
      @create="populate"
      @change="radioItem"
      :type="isOjT ? 'OJT' : 'LEC/LAB'"
    />

    <schedule-dialog
      :showDialog="scheduleLabDialog"
      @close="scheduleLabDialog = false"
      :items="scheduleLab"
      :rooms="defaultRooms"
      :instructors="instructors"
      @create="populateLab"
      @change="radiolabItem"
    />

    <history-dialog
      :showDialog="errorDialog"
      @close="errorDialog = false"
      :loading="errorLoading"
      :count="errorCount"
      :skip="errorSkipped"
      :take="errorTake"
      :items="errorMessages"
      :headers="errorHeaders"
      :title="errorMessages.length > 1 ? 'Class Conflicts' : 'Class Conflict'"
    />
  </v-card>
</v-dialog>
</template>
<script>
import formMixins from '@/mixins/form.js'
import defaultMixins from '@/mixins/index'
import classMessagesMixins from '@/mixins/admin/class-messages.js'
import { mapGetters, mapActions } from 'vuex'
import classQueryMixins from '@/mixins/queries/admin/classQueries'
import { mask, masked, tokens } from 'vue-the-mask'

export default {
  directives: { mask, masked, tokens },
  mixins: [
    classQueryMixins,
    classMessagesMixins,
    formMixins,
    defaultMixins
  ],
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    formData: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    isEdit: {
      type: Boolean,
      default: false
    },
    classType: {
      type: String,
      default: () => {
        return ''
      }
    },
    cardLoading: {
      type: Boolean,
      default: false
    },
    hasStudents: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    offsetTop: 0,
    saveLoading: false,
    formItem: {
      school_year_id: null,
      program_id: null,
      curriculum_id: null,
      revision_id: null,
      year_level_id: null,
      semester_id: null,
      course_id: null,
      class_code: '',
      section_id: []
    },
    errors: {},
    years: [],
    programs: [],
    levels: [],
    semesters: [],
    defaultRooms: [],
    instructors: [],
    courseItems: [],
    skipQuery: true,
    deleteLoading: false,
    confirmDialog: false,
    take: 10,
    isDeleteItem: false,
    id: null,
    skip: 0,
    take: 10,
    skipclassWithFilterQuery: true,
    dayItems: [],
    selectedLec: [],
    classSectionItems: [],
    selectedLab: [],
    dayLabItems: [],
    currSemesterItems: [],
    type: '',
    lecErrors: [],
    labErrors: [],
    hourErrors: [],
    hourLabErrors: [],
    skipTeacherQuery: false,
    scheduleDialog: false,
    schedule: {
      type: '',
      day: '',
      from: '',
      to: '',
      teacher_id: '',
      room_id: '',
      id: ''
    },
    scheduleLabDialog: false,
    scheduleLab: {
      type: '',
      day: '',
      from: '',
      to: '',
      teacher_id: '',
      room_id: '',
      id: ''
    },
    radioGroup: 1,
    radioLabGroup: 1,
    createLec: false,
    createLab: false,
    errorDialog: false,
    errorLoading: false,
    errorCount: 0,
    errorSkipped: 0,
    errorTake: 10,
    errorMessages: [],
    errorHeaders: [
      {
        text: 'Message',
        align: 'center',
        sortable: true,
        value: 'message',
        title: '',
        icon: '',
        name: '',
        field: ''
      }
    ],
    skipSectionBySyQuery: true,
    sectionBySyLoading: false,
    skipRoomQuery: true,
    ids: {},
    skipCurriculaQuery: true,
    curricula: {},
    skipcurriculumProgramQuery: true,
    skipcurriculumYearLevelQuery: true,
    skipcurriculumSemesterQuery: true,
    skipcurriculumCoursesQuery: true,
    skipsemesterCurriculumQuery: true,
    skipSyProgramsQuery: true,
    curriculums: [],
    syProgramsLoading: false,
    revisions: [],
    skipCurrRevisionsQuery: true,
    skiproomListsQuery: false,
    classItems: []
  }),
  computed: {
    ...mapGetters('filters', ['program_id', 'academic_year_id', 'room', 'course_id', 'units', 'teacher', 'class_code', 'from', 'to', 'day', 'section', 'course', 'semester_id', 'year_level_id', 'search']),
    choices () {
      return {
        semesters: this.semesters,
        levels: this.levels,
        school_years: this.years,
        programs: this.programs,
        instructors: this.instructors,
        courses: this.courseItems,
        sections: this.classSectionItems,
        curriculums: this.curriculums,
        revisions: this.revisions
      }
    },
    setType: {
      get: function () {
        return this.classType
      },
      // setter
      set: function (value) {
        this.type = value
        return this.type
      }
    },
    fields () {
      return [
      {
        key: 'school_year_id',
        label: 'School Year',
        choices: 'school_years',
        itemText: 'school_year',
        itemValue: 'school_year_id',
        classNames: 'xs12 md3 px-2',
        disabled: this.isEdit ? true : false,
        required: true
      },
      {
        key: 'program_id',
        label: 'Program',
        choices: 'programs',
        itemText: 'program_code',
        itemValue: 'program_id',
        classNames: 'xs12 md3 px-2',
        disabled: this.isEdit ? true : false,
        required: true
      },
      {
        key: 'curriculum_id',
        label: 'Curriculum',
        choices: 'curriculums',
        itemText: 'curriculum_code',
        itemValue: 'curriculum_id',
        classNames: 'xs12 md3 px-2',
        required: true,
        disabled: this.isEdit ? true : false,
        withKey: true
      },
      {
        key: 'revision_id',
        label: 'Revision',
        choices: 'revisions',
        itemText: 'revision',
        itemValue: 'revision_id',
        classNames: 'xs12 md3 px-2',
        required: true,
        disabled: this.isEdit ? true : false,
        disabled: false
      },
      {
        key: 'year_level_id',
        label: 'Year Level',
        choices: 'levels',
        itemText: 'year_level',
        itemValue: 'year_level_id',
        classNames: 'xs12 md3 px-2',
        disabled: this.isEdit ? true : false,
        required: true
      },
      {
        key: 'semester_id',
        label: 'Semester',
        choices: 'semesters',
        itemText: 'semester',
        itemValue: 'semester_id',
        classNames: 'xs12 md3 px-2',
        disabled: this.isEdit ? true : false,
      },
      {
        key: 'course_id',
        label: 'Course',
        choices: 'courses',
        itemText: 'course_code',
        itemValue: 'course_id',
        classNames: 'xs12 md3 px-2',
        disabled: this.isEdit ? true : false,
        required: true
      },
      {
        key: 'class_code',
        label: 'Class Code',
        classNames: 'xs12 md1 px-2',
        number: true,
        disabled: this.isEdit ? true : false,
        required: true
      },
      {
        key: 'section_id',
        label: 'Section',
        choices: 'sections',
        itemText: 'section',
        itemValue: 'section_id',
        classNames: 'xs12 md2 px-2',
        multiple: true,
        required: true
      }
    ]
    }
  },
  watch: {
    formData: {
      handler: function (val) {
        if (!global._.isEmpty(val)) {
          if (!global._.isUndefined(val[0].class_code)) {
            this.setIds(val)
          }
          if (!global._.isUndefined(val[0].type)) {
            this.type = val[0].type
          } else {
            this.type = ''
          }
          if (!global._.isEmpty(this.formData[0].lec_schedules) || !global._.isEmpty(this.formData[0].lab_schedules)) {
            this.setSchedules()
          } else {
            this.defaultSchedules()
          }
        }
      },
      deep: true
    },
    radioGroup () {
    },
    radioLabGroup () {
    },
    schedule () {
    },
    scheduleLab () {
    },
    dayItems (val) {
    },
    dayLabItems (val) {
    }
  },
  mounted () {
    this.setIds(this.formData)
  },
  methods: {
    ...mapActions('curricula', ['POST_CLASS', 'PATCH_CLASS', 'DELETE_CLASS', 'DELETE_CLASS_CODE']),
    ClearItem (val) {
      if (val === 'school_year_id') {
        this.setIds(this.formData)
      }
    },
    escape () {
      this.$emit('close')
    },
    radioItem (item) {
      this.radioGroup = item
    },
    radiolabItem (item) {
      this.radioLabGroup = item
    },
    populate (val) {
      this.scheduleDialog = false
      this.createLec = true
      if (this.radioGroup === 1) {
        let items = this.doSameSchedFunc(this.dayItems, val)
        this.dayItems = []
        this.dayItems = items
      }
      // default sched
      this.schedule = {}
    },
    populateLab (val) {
      this.scheduleLabDialog = false
      this.createLab = true
      if (this.radioLabGroup === 1) {
        let items = this.doSameSchedFunc(this.dayLabItems, val)
        this.dayLabItems = []
        this.dayLabItems = items
      }
      // default sched
      this.scheduleLab = {}
    },
    onhandleScroll (e) {
      this.offsetTop = e.target.scrollTop
    },
    remove (index, item) {
      this.$delete(this.selectedLec, index)
      this.$delete(this.dayItems, index)
      if (!global._.isUndefined(item.id)) {
        this.deletePerSched(item.id)
      }
    },
    removeLab (index, item) {
      this.$delete(this.selectedLab, index)
      this.$delete(this.dayLabItems, index)
      if (!global._.isUndefined(item.id)) {
        this.deletePerSched(item.id)
      }
    },
    isDelete (item) {
      this.isDeleteItem = item
      this.confirmDialog = true
    },
    closeDialog () {
      this.defaultSchedules()
      this.saveLoading = false
      this.deleteLoading = false
      this.errors = {}
      this.$emit('close')
    },
    close () {
      this.saveLoading = false
      this.deleteLoading = false
      this.confirmDialog = false
      this.defaultSchedules()
      this.errors = {}
      this.$emit('close')
    },
    Change (val) {
      if (val) {
        this.setIds(this.formData)
      } else {
        this.$set(this.formData[0], 'revision_id', null)
      }
    },
    option () {
      this.errors = {}
      if (this.promptMessage !== 'Do you want to save changes ?') {
        this.save()
      } else {
        this.edit()
      }
    },
    async save () {
      let classType = this.lecHours || this.labHours ? 'Lec/Lab' : 'OJT'
      this.type = classType
      const hours = this.courseItems.filter(item => Number(item.course_id) === Number(this.formData[0].course_id))
      let inputs = []
      let data = {}
      let ojt = {
        ojt_schedules: this.isOjT  ? this.dayItems : []
      }
      if (this.type === 'OJT') {
        let lec = {
          lec_schedules: [],
          lec_hours: 0
        }
        let lab = {
          lab_schedules: [],
          lab_hours: 0
        }
        this.formData[0].type = 'OJT'
        data = {
          ...global._.omit(this.formData[0], 'semester_id'),
          ...lec,
          ...lab,
          ...ojt,
          semester_id: this.formData[0].semester_id ? this.formData[0].semester_id : null
        }
        this.postClass(data)
      } else {
        let lec = {
          lec_schedules: this.dayItems,
          lec_hours: this.lecHours
        }
        let lab = {
          lab_schedules: this.dayLabItems,
          lab_hours: this.labHours
        }
      let hasLec = Boolean(global._.isEmpty(this.dayItems) && this.lecHours > 0) // empty fields but has lec hours
      let hasLab = Boolean(global._.isEmpty(this.dayLabItems) && this.labHours > 0) // empty fields but has lab hours
      let hasTime = this.dayItems.filter(item => item.from === '' || item.to === '')
      let hasTimeLab = this.dayLabItems.filter(item => item.from === '' || item.to === '')

      let hasLecTime = Boolean(!global._.isEmpty(hasTime) && this.lecHours > 0) // has fields and has lec hours
      let hasLabTime = Boolean(!global._.isEmpty(hasTimeLab) && this.labHours > 0) // has fields and has lab hours
        data = { ...this.formData[0], ...lec, ...lab, ...ojt}
        if ((hasLec || hasLab) || (hasLec && hasLab) || (hasLab && hasLecTime) || (hasLec && hasLabTime) || (hasLecTime && hasLabTime) || (hasLecTime || hasLabTime)) {
          this.confirmDialog = true
        } else {
          this.confirmDialog = false
          this.postClass(data)
        }
      }
    },
    postClass (payload) {
      this.saveLoading = true
      this.POST_CLASS(payload).then(data => {
        this.saveLoading = false
        if (!global._.isEmpty(data.data.errors)) {
          this.errors = {}
          this.errorMessages = []
          this.classErrorFunc(data.data.errors)
        } else {
          this.close()
          this.$emit('refetch', data.data)
        }
      }).catch(data => {
        this.saveLoading = false
        if (!global._.isEmpty(data.errors)) {
          this.errors = data.errors
          this.errorMessages = []
          this.classErrorFunc(data.errors)
        }
      })
    },
    async edit () {
      let classType = this.lecHours || this.labHours ? 'Lec/Lab' : 'OJT'
      this.type = classType
      const hours = this.courseItems.filter(item => Number(item.course_id) === Number(this.formData[0].course_id))
      let inputs = []
      let data = {}
      let ojt = {
        ojt_schedules: this.isOjT  ? this.dayItems : []
      }
      if (this.type === 'OJT') {
        let lec = {
          lec_schedules: [],
          lec_hours: 0
        }
        let lab = {
          lab_schedules: [],
          lab_hours: 0
        }
        this.formData[0].type = 'OJT'
        data = {
          ...this.formData[0],
          ...lec,
          ...lab,
          ...ojt
        }
        this.patchClass(data)
      } else {
        let lec = {
          lec_schedules: this.dayItems,
          lec_hours: this.lecHours
        }
        let lab = {
          lab_schedules: this.dayLabItems,
          lab_hours: this.labHours
        }
        data = { ...this.formData[0], ...lec, ...lab, ...ojt}
        this.patchClass(data)
      }
    },
    patchClass (payload) {
      this.deleteLoading = true
      this.PATCH_CLASS(payload).then(data => {
        this.deleteLoading = false
        if (!global._.isEmpty(data.data.errors)) {
          this.errorMessages = []
          this.classErrorFunc(data.data.errors)
        } else {
          this.close()
          this.$emit('refetch', data.data)
        }
      }).catch(data => {
        this.deleteLoading = false
        if (!global._.isEmpty(data.errors)) {
          this.errorMessages = []
          this.errors = data.errors
          this.classErrorFunc(data.errors)
        }
      })
    },
    async deleteItem () {
      this.deleteLoading = true
      this.DELETE_CLASS_CODE({ class_code: this.formData[0].class_code, school_year_id: this.formData[0].school_year_id  }).then(data => {
        this.skipclassWithFilterQuery = false
        this.$apollo.queries.classWithFilter.refetch()
        this.close()
        this.$emit('refetch', data.data)
        this.deleteLoading = false
      }).catch(data => {
        this.deleteLoading = false
      })
    },
    async deletePerSched (id) {
      this.DELETE_CLASS({ id: id }).then(data => {
        this.deleteLoading = false
        if (!global._.isEmpty(data.data.errors)) {
          const lec = data.data.errors.lec_schedules
          const lab = data.data.errors.lab_schedules
          this.classErrorFunc(lec, lab)
        } else {
          this.$emit('refetch', data)
        }
      }).catch(data => {
        this.deleteLoading = false
        if (!global._.isEmpty(data.errors)) {
          this.errors = data.errors
          const lec = data.errors.lec_schedules
          const lab = data.errors.lab_schedules
          this.classErrorFunc(lec, lab)
        }
      })
    }
  }
}
</script>
