<template>
  <v-container fluid class="mt-0 pt-0">
    <v-layout wrap justify-center align-center>
      <v-flex xs12 md11>
        <class-table />
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
  import { mapMutations } from 'vuex'
  export default {
    methods: {
      ...mapMutations('filters', ['RESET_FILTERS', 'SET_SEARCH']),
    },
    beforeRouteEnter (to, from, next) {
      next(vm => {
        vm.RESET_FILTERS()
        vm.SET_SEARCH('')
      })
    }
  }
</script>
