<template>
  <v-dialog
    :value="showDialog"
    max-width="820"
    persistent
    v-esc="escape">
    <v-card
      class="pt-1">
      <v-card-actions class="pb-0">
        <div class="flex-grow-1">
          <v-card-title class="accent--text">{{ isEdit ? 'Edit' : 'Add' }} Room</v-card-title>
        </div>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              v-show="isEdit && hasClass === 0"
              @click="isDelete(true)"
              text
              fab
              color="red">
              <v-icon medium color="red">mdi-delete</v-icon>
            </v-btn>
          </template>
          <span>Delete</span>
        </v-tooltip>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              fab
              @click="closeDialog"
              text>
              <v-icon medium color="red">mdi-close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-card-actions>
      <v-divider class="mx-2" />
      <v-layout wrap>
         <v-flex xs12>
          <v-form ref="form">
            <v-card-title>
              <v-layout wrap>
                <v-flex xs12 md6>
                  <small>Location
                    <span class="pl-1" style="color: red;">*</span>
                  </small>
                  <v-autocomplete
                    :items="locations"
                    v-model="formData.room_location_id"
                    :search-input.sync="search_location"
                    clearable
                    item-text="location"
                    item-value="room_location_id"
                    hide-no-data
                    return-string
                    clear-icon="mdi-close-circle"
                    dense
                    class="mx-1 mt-2"
                    :error-messages="errors['room_location_id']">
                  </v-autocomplete>
                </v-flex>
                <v-flex xs12 md6>
                  <small>Division
                    <span class="pl-1" style="color: red;">*</span>
                  </small>
                  <v-autocomplete
                    :items="divisions"
                    v-model="formData.room_division_id"
                    :search-input.sync="search_division"
                    clearable
                    item-text="name"
                    item-value="room_division_id"
                    hide-no-data
                    return-string
                    clear-icon="mdi-close-circle"
                    dense
                    class="mx-1 mt-2"
                    :error-messages="errors['room_division_id']">
                  </v-autocomplete>
                </v-flex>
                <v-flex xs12 md6>
                  <small>Room Name
                    <span class="pl-1" style="color: red;">*</span>
                  </small>
                  <v-text-field
                    class="mx-1 mt-2"
                    dense
                    v-model="formData.number"
                    :error-messages="errors['number']"
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 md6>
                  <small>Capacity
                    <span class="pl-1" style="color: red;">*</span>
                  </small>
                  <v-text-field
                    class="mx-1 mt-2"
                    dense
                    type="number"
                    v-model="formData.capacity"
                    :error-messages="errors['capacity']"
                ></v-text-field>
                </v-flex>
              </v-layout>
            </v-card-title>
          </v-form>
        </v-flex>
      </v-layout>
      <v-card-actions class="pb-3">
        <v-spacer />
        <v-btn
          :loading="saveLoading"
          color="accent"
          width="100px"
          class="white--text mr-3 mt-2 text-none"
          @click="isEdit ? isDelete(false) : save()"
        >
          Save
        </v-btn>
      </v-card-actions>

      <confirmation-dialog
        :showDialog="confirmDialog"
        @close="confirmDialog = false"
        @proceed="isDelete_ ? deleteItem() : edit()"
        :loading="deleteLoading"
        :message="isDelete_ ? 'Are you sure you want to delete this room ?' : 'Do you want to save changes ?'"
      />
    </v-card>
  </v-dialog>
</template>
<script>
import formMixins from '@/mixins/form.js'
import { mapGetters } from 'vuex'
import classQueryMixins from '@/mixins/queries/admin/classQueries'
export default {
  mixins: [
    classQueryMixins,
    formMixins
  ],
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    formData: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    isEdit: {
      type: Boolean,
      default: false
    },
    id: {
      type: [String, Number]
    }
  },
  data () {
    return {
      confirmDialog: false,
      loading: false,
      skip: 0,
      take: 10,
      errors: {},
      fields: [
        {
          key: 'school_year_id',
          label: 'School Year',
          choices: 'school_years',
          itemText: 'school_year',
          itemValue: 'school_year_id',
          classNames: 'xs12 md6 px-2'
        },
        {
          key: 'semester_id',
          label: 'Semester',
          choices: 'semesters',
          itemText: 'semester',
          itemValue: 'semester_id',
          classNames: 'xs12 md6 px-2'
        },
        {
          key: 'room_name',
          classNames: 'xs12 md6 px-2'
        },
        {
          key: 'capacity',
          type: 'number',
          classNames: 'xs12 md6 px-2'
        }
      ],
      tableData: {
        input: {
          skip: 0,
          take: 10
        },
        maxData: 0,
        count: 0
      },
      isDelete_: false,
      form: [],
      saveLoading: false,
      deleteLoading: false,
      years: [],
      programs: [],
      levels: [],
      semesters: [],
      rooms: [],
      instructors: [],
      courseItems: [],
      sectionItems: [],
      sectionLoading: false,
      skipTeacherQuery: false,
      skipSectionBySyQuery: true,
      sectionBySyLoading: false,
      skipRoomQuery: false,
      ids: {},
      skipCurriculaQuery: true,
      curricula: {},
      skipcurriculumProgramQuery: true,
      skipcurriculumYearLevelQuery: true,
      skipcurriculumSemesterQuery: true,
      skipcurriculumCoursesQuery: true,
      skipsemesterCurriculumQuery: true,
      currSemesterItems: [],
      search_location: '',
      skiproomlocationQuery: false,
      locations: [],
      search_division: '',
      divisions: [],
      skiproomdivisionQuery: false
    }
  },
  computed: {
    ...mapGetters('filters', ['search']),
    postApi () {
      return 'api/class/create/rooms/rooms-in-building'
    },
    deleteApi () {
      return `api/class/delete/rooms/rooms-in-building/${this.id}`
    },
    hasClass () {
      if (this.formData) return this.formData.count_class
      return 0
    }
  },
  methods: {
    escape () {
      this.$emit('close')
    },
    isDelete (x) {
      this.isDelete_ = x
      this.confirmDialog = true
    },
    closeDialog () {
      this.saveLoading = false
      this.updateLoading = false
      this.deleteLoading = false
      this.$emit('close')
      this.errors = {}
    },
    close: function () {
      this.saveLoading = false
      this.deleteLoading = false
      this.confirmDialog = false
      if (global._.isEmpty(this.errors)) {
        this.$emit('close')
        if (!global._.isEmpty(this.form)) {
          this.$emit('refetch', this.form)
          this.$refs.form.reset()
        }
        this.$refs.form.errors = this.errors
        if (!global._.isEmpty(this.formData)) {
          this.form = {}
        }
      } else {
        this.$refs.form.errors = this.errors
      }
    },
    Change (val) {
      this.getsemesterByCurr(val)
    },
    async save () {
      this.saveLoading = true
      this.saveData(this.formData)
    },
    async edit () {
      this.deleteLoading = true
      this.saveData(this.formData)
    },
    async deleteItem () {
      this.deleteLoading = true
      this.deleteData()
    }
  }
}
</script>
