<template>
  <v-dialog
    :value="showDialog"
    max-width="950"
    persistent
    v-esc="escape">
  <v-card
    class="pt-1">
    <v-card-actions class="pb-0">
      <div class="flex-grow-1">
        <v-card-title class="accent--text">{{ isEdit ? 'Edit' : 'Add' }} Section</v-card-title>
      </div>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              v-show="isEdit && potentialEnrollees === 0"
              @click="isDelete(true)"
              text
              fab
              color="red">
              <v-icon medium color="red">mdi-delete</v-icon>
            </v-btn>
          </template>
          <span>Delete</span>
        </v-tooltip>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              fab
              @click="closeDialog"
              text>
              <v-icon medium color="red">mdi-close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
    </v-card-actions>
    <v-divider class="mx-2" />
    <v-layout wrap>
      <v-flex xs12>
        <v-form ref="form">
          <v-card-title>
            <v-layout wrap>
              <v-flex xs12 md6>
                <small>programs
                  <span class="pl-1" style="color: red;">*</span>
                </small>
                <v-autocomplete
                  :items="defaultPrograms"
                  v-model="formData.program_id"
                  :search-input.sync="search_program"
                  clearable
                  item-text="program_code"
                  item-value="program_id"
                  hide-no-data
                  return-string
                  clear-icon="mdi-close-circle"
                  dense
                  :disabled="isEdit"
                  class="mx-1 mt-2"
                  :error-messages="errors['program_id']">
                </v-autocomplete>
              </v-flex>
              <v-flex xs12 md6>
                <small>Year Level
                  <span class="pl-1" style="color: red;">*</span>
                </small>
                <v-autocomplete
                  :items="defaultYearlevel"
                  v-model="formData.year_level_id"
                  clearable
                  item-text="year_level"
                  item-value="year_level_id"
                  hide-no-data
                  return-string
                  clear-icon="mdi-close-circle"
                  dense
                  :disabled="isEdit"
                  class="mx-1 mt-2"
                  :error-messages="errors['year_level_id']">
                </v-autocomplete>
              </v-flex>
              <v-flex xs12 md6>
                <small>Section
                  <span class="pl-1" style="color: red;">*</span>
                </small>
                <v-text-field
                  class="mx-1 mt-2"
                  dense
                  v-model="formData.section"
                  :error-messages="errors['section']"
              ></v-text-field>
              </v-flex>
            </v-layout>
          </v-card-title>
        </v-form>
      </v-flex>
    </v-layout>
    <v-card-actions class="pb-3">
      <v-spacer />
      <v-btn
        :loading="saveLoading"
        color="accent"
        width="100px"
        class="white--text mr-3 mt-2 text-none"
        @click="isEdit ? isDelete(false) : save()">
        Save
      </v-btn>
    </v-card-actions>

    <confirmation-dialog
      :showDialog="confirmDialog"
      @close="confirmDialog = false"
      @proceed="isDeleteItem ? deleteItem() : edit()"
      :loading="deleteLoading"
      :message="isDeleteItem ? 'Are you sure you want to delete this section ?' : 'Do you want to save changes ?'"
    />
  </v-card>
</v-dialog>
</template>
<script>
import formMixins from '@/mixins/form.js'
import defaultMixins from '@/mixins/index'
import { mapGetters } from 'vuex'
import classQueryMixins from '@/mixins/queries/admin/classQueries'
export default {
  mixins: [
    classQueryMixins,
    formMixins,
    defaultMixins
  ],
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    formData: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    isEdit: {
      type: Boolean,
      default: false
    },
    id: {
      type: [String, Number]
    }
  },
  data: () => ({
    saveLoading: false,
    formItem: {
      curriculum_id: '',
      program_id: '',
      year_level_id: '',
      semester_id: '',
      section: ''
    },
    errors: {},
    fields: [
      {
        key: 'program_id',
        label: 'Program',
        choices: 'programs',
        itemText: 'program_code',
        itemValue: 'program_id',
        classNames: 'xs12 md6 px-2'
      },
      {
        key: 'year_level_id',
        label: 'Year Level',
        choices: 'levels',
        itemText: 'year_level',
        itemValue: 'year_level_id',
        classNames: 'xs12 md6 px-2'
      },
      {
        key: 'section',
        label: 'Section',
        classNames: 'xs12 md6 px-2'
      }
    ],
    years: [],
    programs: [],
    levels: [],
    semesters: [],
    rooms: [],
    instructors: [],
    courseItems: [],
    skipQuery: true,
    deleteLoading: false,
    confirmDialog: false,
    take: 10,
    isDeleteItem: false,
    skip: 0,
    take: 10,
    sectionItems: [],
    sectionLoading: false,
    currSemesterItems: [],
    form: [],
    skipTeacherQuery: false,
    skipSectionBySyQuery: true,
    sectionBySyLoading: false,
    skipRoomQuery: false,
    ids: {},
    skipCurriculaQuery: true,
    curricula: {},
    skipcurriculumProgramQuery: true,
    skipcurriculumYearLevelQuery: true,
    skipcurriculumSemesterQuery: true,
    skipcurriculumCoursesQuery: true,
    skipsemesterCurriculumQuery: true,
    skipprogramListsQuery: false,
    defaultPrograms: [],
    search_program: null,
    defaultYearlevel: []
  }),
  computed: {
    ...mapGetters('filters', ['program_id', 'academic_year_id', 'room', 'course_id', 'units', 'teacher', 'class_code', 'time_from', 'time_to', 'day', 'section', 'course', 'semester_id', 'year_level_id', 'search', 'section']),
    choices () {
      return {
        semesters: this.semesters,
        levels: this.levels,
        school_years: this.years,
        programs: this.defaultPrograms
      }
    },
    postApi () {
      if (this.isEdit) return `api/class/update/section/${this.id}`
      return 'api/class/create/add/section'
    },
    deleteApi () {
      return `api/class/delete/section/${this.id}`
    },
    potentialEnrollees () {
      if (this.formData) return this.formData.count_successful
      return
    }
  },
  methods: {
    escape () {
      this.$emit('close')
    },
    isDelete (item) {
      this.isDeleteItem = item
      this.confirmDialog = true
    },
    closeDialog () {
      this.saveLoading = false
      this.updateLoading = false
      this.$emit('close')
      this.errors = {}
    },
    close () {
      this.saveLoading = false
      this.deleteLoading = false
      this.confirmDialog = false
      if (global._.isEmpty(this.errors)) {
        this.$emit('close')
        if (!global._.isEmpty(this.form)) {
          this.$emit('refetch', this.form)
          this.$refs.form.reset()
        }
      } else {
        this.$refs.form.errors = this.errors
      }
    },
    async save () {
      this.saveLoading = true
      this.saveData(this.formData)
    },
    async edit () {
      this.deleteLoading = true
      this.saveData(this.formData)
    },
    async deleteItem () {
      this.deleteLoading = true
      this.deleteData()
    }
  }
}
</script>
