<template>
<v-container fluid class="mt-0 pt-0">
	<v-layout wrap justify-center align-center>
    <v-flex xs12 md11>
      <v-card flat>
        <header-component
          :isSearch="true"
          :isFilter="true"
          @enter="doSearch"
          :isAdd="false"
          label="Search Instructor"
          hint="Enter Instructor"
          @clear="clear()"
          @reset="resetFilters()"
          :isSwitched="isSwitched"
          @openFilter="openFilter()"
          @closeFilter="closeFilter()"
          @clickDialog="addClicked"
          :filterItems="headers"
        />
        <v-layout wrap justify-center align-center>
          <v-flex xs12 class="mt-5">
            <floating-card :titles="title" />
          </v-flex>
          <v-flex xs12>
          <v-card> 
           <v-card-title class="my-5" />
           <v-flex xs12>
            <v-data-table
              ref="table"
              :headers="headers"
              :items="dataList"
              :page.sync="page"
              :items-per-page="itemsPerPage"
              @page-count="pageCount = $event"
              hide-default-footer
              :options.sync="options"
              :server-items-length="count"
              class="text-table-color font-weight-medium"
              hide-default-footer
              :fixed-header="true"
              :loading="loading"
              loading-text="Loading... Please wait"
             >
            </v-data-table>
          </v-flex>
          <v-flex xs12 class="text-center pt-3 pb-0">
            <v-pagination
              v-show="pageCount > 1"
              v-model="page"
              :length="pageCount"
              :total-visible="10"
            ></v-pagination>
          </v-flex>
          <v-flex xs12>
            <v-card-actions
              v-show="count > 0">
              <v-spacer />
              <small>Total of <span class="blue--text">{{ count }} </span> <span>{{ dataList.length > 1 ? 'Items' : 'Item'}}</span></small>
            </v-card-actions>
          </v-flex>
         </v-card>
        </v-flex>
        </v-layout>
      </v-card>
    </v-flex>
  </v-layout>

  <v-snackbar
    top
    right
    v-model="isSnackbar"
    :color="color"
    class="caption">
    <v-card-actions class="ma-0 pa-0">
      {{ text }}
      <v-spacer />
      <v-btn
        color="white"
        text
        icon
        right
        @click="isSnackbar = false"
        class="caption">
        <v-icon>clear</v-icon>
      </v-btn>
    </v-card-actions>
  </v-snackbar>
</v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import defaultMixins from '@/mixins/index'
import teacherQueriesMixins from '@/mixins/queries/admin/teacherQueries'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    formMixins,
    defaultMixins,
    teacherQueriesMixins
  ],
  data: () => ({
    isSwitched: false,
    loading: false,
    dialog: false,
    formData: [],
    formItem: {
      curriculum_id: '',
      program_id: '',
      year_level_id: '',
      semester_id: '',
      room_name: '',
      room_description: '',
      capacity: ''
    },
    title: [
      {
        name: 'Instructor',
        icon: 'fas fa-chalkboard-teacher',
        color: 'accent',
        flex: 'xs12'
      }
    ],
    headers: [
      {
        text: 'Name',
        align: 'center',
        sortable: true,
        value: 'name',
        title: 'Academic School Year',
        icon: 'mdi-school',
        name: 'class-teacher-year-filter',
        field: ''
      },
      {
        text: 'Academic Year',
        align: 'center',
        sortable: true,
        value: 'academic_year'
      },
      {
        text: 'Semester',
        align: 'center',
        sortable: true,
        value: 'semester'
      },
      {
        text: 'Classes Assigned',
        align: 'center',
        sortable: true,
        value: 'count_class',
        title: 'Semester',
        icon: 'collections_bookmark',
        name: 'class-teacher-semester-filter',
        field: ''
      },
      {
        text: 'Students',
        align: 'center',
        sortable: true,
        value: 'count_student'
      }
    ],
    skip: 0,
    take: 10,
    count: 0,
    dataList: [],
    saveLoading: false,
    deleteLoading: false,
    isSnackbar: false,
    color: '',
    text: '',
    isEdit: false,
    teacherId: null,
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    options: {},
    currPage: null,
    prevPage: null,
    skipItems: null,
    takeItems: null
  }),
  computed: {
    ...mapGetters('filters', ['search', 'semester_id', 'academic_year_id']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        this.$apollo.queries.teachersFilterFetch.refetch()
        return this.SET_SEARCH(value)
      }
    }
  },
  watch: {
    options: {
      handler (old, newx) {
        this.skipItems = global._.isUndefined(newx.itemsPerPage) ? 0 : newx.itemsPerPage
        this.takeItems = old.itemsPerPage
        this.prevPage = global._.isUndefined(newx.page) ? 0 : newx.page
        this.currPage = old.page
        let skip = this.sortSkipped(this.skipItems, this.currPage, old.itemsPerPage)
        let take = old.itemsPerPage
        this.skip = skip
        this.take = take
        this.$apollo.queries.teachersFilterFetch.refetch()
      },
      deep: true
    },
    semester_id (val) {
      this.page = 1
      this.$apollo.queries.teachersFilterFetch.refetch()
    },
    academic_year_id (val) {
      this.page = 1
      this.$apollo.queries.teachersFilterFetch.refetch()
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_SEARCH','RESET_FILTERS']),
    resetFilters () {
      this.RESET_FILTERS()
      this.clear()
    },
    refetch (val) {
      if (!global._.isEmpty(val.message)) {
        this.snackbar(`${val.message}`, 'success')
      }
      if (!global._.isEmpty(val.course)) {
        // // if edit item
        const currItem = this.dataList.find(item => Number(item.id) === Number(val.course.id))
        const itemIndex = this.dataList.indexOf(currItem)
        if (itemIndex !== -1) {
          this.$delete(this.dataList, itemIndex)
        }
      }
      this.$apollo.queries.teachersFilterFetch.refetch()
    },
    close () {
      this.dialog = false
    },
    clear () {
      this.setSearch = ''
    },
    openFilter () {
      this.isSwitched = true
    },
    closeFilter () {
      this.isSwitched = false
    },
    doSearch (val) {
      this.setSearch = val
    },
    addClicked () {
      this.formData[0] = Object.assign({}, this.formItem)
      this.isEdit = false
      this.dialog = true
    }
    // onScroll (e) {
    //   const tableHeight = (this.$refs.table.$el.offsetHeight) - (e.srcElement.offsetHeight + 50)
    //   if (e.srcElement.scrollTop > tableHeight && !this.loading) {
    //     this.loading = true
    //     this.take++
    //     this.$apollo.queries.teachersFilterFetch.refetch()
    //   } else {
    //     this.take--
    //     this.$apollo.queries.teachersFilterFetch.refetch()
    //   }
    // }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.resetFilters()
    })
  }
}
</script>
