<template>
  <v-dialog
    :value="showDialog"
    max-width="820"
    persistent
    v-esc="escape">
    <v-card
      class="pt-1">
      <v-card-actions class="pb-0">
        <div class="flex-grow-1">
          <v-card-title class="accent--text">{{ isEdit ? 'Edit' : 'Add' }} Room</v-card-title>
        </div>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              v-show="isEdit"
              @click="isDelete(true)"
              text
              fab
              color="red">
              <v-icon medium color="red">mdi-delete</v-icon>
            </v-btn>
          </template>
          <span>Delete</span>
        </v-tooltip>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              @click="closeDialog"
              text
              fab
              color="red">
              <v-icon medium color="red">mdi-close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-card-actions>
      <v-divider class="mx-2" />
      <v-layout wrap>
         <v-flex xs12>
          <v-form ref="form">
            <v-card-title>
              <v-layout wrap>
                <v-flex
                  xs12
                  :key="index"
                  v-for="(item, index) in formData"
                >
                  <v-layout wrap>
                    <field-component
                      @change="Change"
                      :field="field"
                      :key="field.key"
                      :form="formData[index]"
                      :errors="errors"
                      :item-idx="index"
                      :loading="loading"
                      :choices="choices"
                      v-for="field in fields"
                    ></field-component>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-card-title>
          </v-form>
        </v-flex>
      </v-layout>
      <v-card-actions class="pb-3">
        <v-spacer />
        <v-btn
          :loading="saveLoading"
          color="accent"
          width="100px"
          class="white--text mr-3 mt-2 text-none"
          @click="isEdit ? isDelete(false) : save()"
        >
          Submit
        </v-btn>
      </v-card-actions>

      <confirmation-dialog
        :showDialog="confirmDialog"
        @close="confirmDialog = false"
        @proceed="isDelete_ ? deleteItem() : edit()"
        :loading="deleteLoading"
        :message="isDelete_ ? 'Are you sure you want to delete this course ?' : 'Do you want to save changes ?'"
      />
    </v-card>

  </v-dialog>
</template>
<script>
import formMixins from '@/mixins/form.js'
import { mapGetters } from 'vuex'
import classQueryMixins from '@/mixins/queries/admin/classQueries'
export default {
  mixins: [
    classQueryMixins,
    formMixins
  ],
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    formData: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    isEdit: {
      type: Boolean,
      default: false
    },
    id: {
      type: [String, Number]
    }
  },
  data () {
    return {
      confirmDialog: false,
      loading: false,
      skip: 0,
      take: 10,
      errors: {},
      fields: [
        {
          key: 'curriculum_id',
          label: 'School Year',
          choices: 'school_years',
          itemText: 'school_year',
          itemValue: 'curriculum_id',
          classNames: 'xs12 md6 px-2'
        },
        {
          key: 'program_id',
          label: 'Program',
          choices: 'programs',
          itemText: 'program_code',
          itemValue: 'program_id',
          classNames: 'xs12 md6 px-2'
        },
        {
          key: 'year_level_id',
          label: 'Year Level',
          choices: 'levels',
          itemText: 'year_level',
          itemValue: 'year_level_id',
          classNames: 'xs12 md6 px-2'
        },
        {
          key: 'semester_id',
          label: 'Semester',
          choices: 'semesters',
          itemText: 'semester',
          itemValue: 'semester_id',
          classNames: 'xs12 md6 px-2'
        },
        {
          key: 'room_name',
          classNames: 'xs12 md6 px-2'
        },
        {
          key: 'description',
          classNames: 'xs12 md6 px-2'
        },
        {
          key: 'capacity',
          type: 'number',
          classNames: 'xs12 md6 px-2'
        }
      ],
      tableData: {
        input: {
          skip: 0,
          take: 10
        },
        maxData: 0,
        count: 0
      },
      isDelete_: false,
      form: {},
      saveLoading: false,
      deleteLoading: false,
      years: [],
      programs: [],
      levels: [],
      semesters: [],
      rooms: [],
      instructors: [],
      courseItems: [],
      sectionItems: [],
      sectionLoading: false,
      skipTeacherQuery: false,
      skipSectionBySyQuery: true,
      sectionBySyLoading: false,
      skipRoomQuery: false,
      ids: {},
      skipCurriculaQuery: true,
      curricula: {},
      skipcurriculumProgramQuery: true,
      skipcurriculumYearLevelQuery: true,
      skipcurriculumSemesterQuery: true,
      skipcurriculumCoursesQuery: true,
      skipsemesterCurriculumQuery: true
    }
  },
  computed: {
    ...mapGetters('filters', ['search']),
    postApi () {
      if (!this.isEdit) return 'api/class/create/room'
      return 'api/class/update/room'
    },
    deleteApi () {
      return `api/class/delete/room/${this.id}`
    },
    choices () {
      return {
        semesters: this.semesters,
        levels: this.levels,
        school_years: this.years,
        programs: this.programs
      }
    }
  },
  watch: {
    formData: {
      handler: function (val) {
        if (!global._.isEmpty(val)) {
          if (!global._.isUndefined(val[0].class_code)) {
            this.setTeacherIds(val)
          }
        }
      },
      deep: true
    }
  },
  mounted () {
    this.setTeacherIds(this.formData)
  },
  methods: {
    escape () {
      this.$emit('close')
    },
    setTeacherIds (form) {
      let formItem = form.find(item => item)
      if (!global._.isUndefined(formItem)) {
        this.getcurrPrograms(formItem)
        this.getcurrYearLevel(formItem)
        this.getcurrSemester(formItem)
      }
    },
    isDelete (x) {
      this.isDelete_ = x
      this.confirmDialog = true
    },
    closeDialog () {
      this.saveLoading = false
      this.updateLoading = false
      this.deleteLoading = false
      this.$emit('close')
      this.errors = {}
      this.$refs.form.reset()
    },
    close: function () {
      this.saveLoading = false
      this.deleteLoading = false
      this.confirmDialog = false
      if (global._.isEmpty(this.errors)) {
        this.$emit('close')
        if (!global._.isEmpty(this.form)) {
          this.$emit('refetch', this.form)
          this.$refs.form.reset()
        }
        this.$refs.form.errors = this.errors
        if (!global._.isEmpty(this.formData[0])) {
          this.form = {}
        }
      } else {
        this.$refs.form.errors = this.errors
      }
    },
    Change (val) {
      let formItem = this.formData.find(item => item)
      if (!global._.isUndefined(formItem)) {
        this.getcurrPrograms(formItem)
        this.getcurrYearLevel(formItem)
        this.getcurrSemester(formItem)
      }
    },
    async save () {
      this.saveLoading = true
      this.saveData(this.formData[0])
    },
    async edit () {
      this.deleteLoading = true
      this.saveData(this.formData[0])
    },
    async deleteItem () {
      this.deleteLoading = true
      this.deleteData()
    }
  }
}
</script>
