<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hype Partners</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- <meta name="description" content="This system for the students of DMMA College of Southern Philippines to enroll online, view their grades, and download resources."> -->
    <!-- Android  -->
    <meta name="theme-color" content="red">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- iOS -->
    <meta name="apple-mobile-web-app-title" content="DCSP System">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="apple-touch-icon" href="<%= BASE_URL %>hype-partners.jpg">
    <!-- Startup Image  -->
    <link rel="apple-touch-startup-image" href="<%= BASE_URL %>hype-partners.jpg">
    <!-- Android  -->
    <link href="<%= BASE_URL %>hype-partners.jpg" sizes="192x192">
    <link href="<%= BASE_URL %>hype-partners.jpg" sizes="128x128">
<!-- Others -->
    <link href="<%= BASE_URL %>hype-partners.jpg" rel="shortcut icon" type="image/x-icon">
    <meta name="<%= BASE_URL %>hype-partners.jpg" content="DCSP System"/>

    <link rel="icon" href="<%= BASE_URL %>hype-partners.jpg">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
