<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- Android  -->
    <meta name="theme-color" content="red">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- iOS -->
    <meta name="apple-mobile-web-app-title" content="DCSP System">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="apple-touch-icon" href="<%= BASE_URL %>favicon.ico">
    <!-- Startup Image  -->
    <link rel="apple-touch-startup-image" href="<%= BASE_URL %>favicon.ico">
    <!-- Android  -->
    <link href="<%= BASE_URL %>favicon.ico" sizes="192x192">
    <link href="<%= BASE_URL %>favicon.ico" sizes="128x128">
<!-- Others -->
    <link href="<%= BASE_URL %>favicon.ico" rel="shortcut icon" type="image/x-icon">
    <meta name="<%= BASE_URL %>favicon.ico" content="DCSP System"/>

    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>{{ title }}</title>
    {{{ renderResourceHints() }}}
    {{{ renderStyles() }}}
  </head>
  <body>
    <!--vue-ssr-outlet-->
    {{{ renderState() }}}
    {{{ renderState({ contextKey: 'apolloState', windowKey: '__APOLLO_STATE__' }) }}}
    {{{ renderScripts() }}}
  </body>
</html>
