<template>
  <v-container fluid class="mt-0 pt-0">
    <v-layout wrap justify-center align-center>
      <v-flex xs12 md11>
        <applicants-table
          ref="table"
          :items="items"
          @rowClicked="ItemClicked($event)"
          :headers="headers"
          :potentialEnrolleesCount="count"
          :showSelect="userType === 8 || userType === 9"
          @select="getSelected"
          :title="title"
          @add="showSection"
          :isAdd="true"
          @clear="clear()"
          @reset="resetFilters()"
          @doEnroll="doEnroll"
          @openHistory="openHistory"
          :loading="loading"
          @tableOptions="tableOptions"
        />
      </v-flex>
      <assign-section
        title="Assign Section"
        :showDialog="dialog"
        @close="dialog = false"
        @refetch="refetch"
        :assignItems="sections"
        @save="save"
        :saveLoading="saveLoading"
        :sectionLoading="sectionLoading"
        @enter="doSearchSection"
        @clear="setKeyword = ''"
      />

      <v-snackbar
        top
        right
        v-model="isSnackbar"
        :color="color"
        class="caption">
        <v-card-actions 
          class="ma-0 pa-1 text-break"
          style="max-width: 500px;">
          <span v-if="isNoEnrollee">
          No qualified Enrolles.Please make sure Applicant has a Section and all icons are Checked <v-icon right class="mb-1 mr-4">mdi-check-circle</v-icon>
          </span>
          <span v-else>
            {{ text }}
          </span>
          <v-spacer />
          <v-btn
            color="white"
            text
            icon
            right
            @click="isSnackbar = false"
            class="caption">
            <v-icon>clear</v-icon>
          </v-btn>
        </v-card-actions>
      </v-snackbar>
    </v-layout>

    <history-dialog
      :showDialog="historyDialog"
      @close="historyDialog = false"
      :loading="enrollHistoryLoading"
      :count="countHistory"
      :skip="skipHistory"
      :take="takeHistory"
      :items=enrollHistoryItems
      :name="historyName"
      :headers="historyHeaders"
    />
  </v-container>
</template>
<script>
import formMixins from '@/mixins/form'
import { mapMutations, mapActions, mapGetters } from 'vuex'
import defaultMixins from '@/mixins/index'
import enrolleeQueryMixins from '@/mixins/queries/applicant/enrolleeQueries'
import historyMixins from '@/mixins/arraylist/admin/history-list'
export default {
  mixins: [
    defaultMixins,
    enrolleeQueryMixins,
    formMixins,
    historyMixins
  ],
  data: () => ({
    programItems: [],
    selected: [],
    title: 'Assign Section',
    loading: false,
    link: '',
    label: 'Search Applicant',
    isSwitched: false,
    titleInfo: [
      {
        name: 'Enrollment',
        icon: 'history',
        color: 'accent',
        flex: 'xs12'
      }
    ],
    dialog: false,
    headers: [
      {
        text: 'Application No.',
        align: 'center',
        sortable: true,
        value: 'aplication_no',
        title: '',
        icon: '',
        name: '',
        field: ''
      },
      {
        text: 'Name',
        align: 'center',
        sortable: true,
        value: 'name',
        title: '',
        icon: '',
        name: '',
        field: ''
      },
      {
        text: 'Academic School Year',
        align: 'center',
        sortable: true,
        value: 'school_year',
        title: 'Academic School Year',
        icon: 'mdi-school',
        name: 'admin-year-filter',
        field: ''
      },
      {
        text: 'Program',
        align: 'center',
        sortable: true,
        value: 'program_code',
        title: 'Program',
        icon: 'local_library',
        name: 'admin-program-filter',
        field: ''
      },
      {
        text: 'Section',
        align: 'center',
        sortable: true,
        value: 'section',
        title: 'Section',
        icon: 'event_seat',
        name: 'admin-section-filter',
        field: ''
      },
      {
        text: 'Year Level',
        align: 'center',
        sortable: true,
        value: 'year_level',
        title: 'Year Level',
        icon: 'show_chart',
        name: 'admin-level-filter',
        field: ''
      },
      {
        text: 'Semester',
        align: 'center',
        sortable: true,
        value: 'semester',
        title: 'Semester',
        icon: 'collections_bookmark',
        name: 'admin-semester-filter',
        field: ''
      },
      {
        text: 'Status',
        align: 'center',
        sortable: true,
        value: 'user_status',
        title: 'Status',
        icon: 'poll',
        name: 'admin-status-filter',
        field: ''
      },
      {
        text: 'Submission',
        align: 'center',
        sortable: true,
        value: 'submission_type',
        title: '',
        icon: '',
        name: '',
        field: ''
      },
      {
        text: 'Guidance',
        align: 'center',
        sortable: true,
        value: 'guidance_icon'
      },
      {
        text: 'Clinic',
        align: 'center',
        sortable: true,
        value: 'clinic_icon'
      },
      {
        text: 'Admission',
        align: 'center',
        sortable: true,
        value: 'admission_icon'
      },
      {
        text: 'Dean',
        align: 'center',
        sortable: true,
        value: 'dean_icon'
      },
      {
        text: 'Registrar',
        align: 'center',
        sortable: true,
        value: 'registrar_icon'
      },
      {
        text: 'Finance',
        align: 'center',
        sortable: true,
        value: 'finance_icon'
      },
      {
        text: 'Remarks',
        align: 'center',
        sortable: true,
        value: 'remarks_action'
      }
    ],
    items: [],
    sections: [],
    ids: [],
    enrolleeIds: [],
    isNoEnrollee: false,
    isSnackbar: false,
    color: '',
    text: '',
    historyDialog: false,
    enrollHistoryLoading: false,
    countHistory: 0,
    skipHistory: 0,
    takeHistory: 10,
    enrollHistoryItems: [],
    historyName: '',
    skipEnrolleesQuery: false,
    sectionLoading: false,
    saveLoading: false,
    count: 0,
    skip: 0,
    take: 10,
    assign_year_id: null,
    assign_program_id: null,
    skipAssignQuery: true,
    itemsPerApplicantPage: 10
  }),
  watch: {
    selected(applicants) {
      let applicant_ids = []
      global._.forEach(applicants, function(value) {
        applicant_ids.push({
          id: value.id
        })
      })
      this.ids = applicant_ids
    }
  },
  computed: {
    ...mapGetters('user', ['user']),
    ...mapGetters('applicants', ['isTitled']),
    ...mapGetters('filters', ['program_id', 'academic_year_id','semester_id', 'year_level_id', 'search', 'status', 'section', 'keyword_section']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        this.$apollo.queries.filterEnrollmentMIS.refetch()
        return this.SET_SEARCH(value)
      }
    },
    setKeyword: {
      get: function () {
        return this.keyword_section
      },
      // setter
      set: function (value) {
        this.$apollo.queries.sections.refetch()
        return this.SET_KEYWORD_SECTION(value)
      }
    }
  },
  watch: {
    program_id (val) {
      this.$apollo.queries.filterEnrollmentMIS.refetch()
    },
    academic_year_id (val) {
      this.$apollo.queries.filterEnrollmentMIS.refetch()
    },
    year_level_id (val) {
      this.$apollo.queries.filterEnrollmentMIS.refetch()
    },
    semester_id (val) {
      this.$apollo.queries.filterEnrollmentMIS.refetch()
    },
    status (val) {
      this.$apollo.queries.filterEnrollmentMIS.refetch()
    },
    setSearch (val) {
      this.$apollo.queries.filterEnrollmentMIS.refetch()
    },
    setKeyword (val) {
      this.$apollo.queries.filterEnrollmentMIS.refetch()
    },
    section (val) {
      this.$apollo.queries.filterEnrollmentMIS.refetch()
    }
  },
  methods: {
    ...mapMutations('user', ['setRegistrar']),
    ...mapMutations('applicants', ['setTitle']),
    ...mapMutations('filters', ['RESET_FILTERS', 'SET_SEARCH', 'SET_KEYWORD_SECTION']),
    ...mapActions('applicants', ['POST_SECTION_ASSIGNING', 'POST_ENROLEES']),
    ...mapMutations('students', ['setCurriculum', 'setRevision']),
    ...mapActions('students', ['POST_ASSESSMENT']),
    tableOptions (payload) {
      this.skip = payload.skip
      this.take = payload.take
      this.$apollo.queries.filterEnrollmentMIS.refetch()
    },
    doSearchSection () {
      this.$apollo.queries.sections.refetch()
    },
    openHistory (val) {
      this.historyDialog = true
      this.historyName = val.name
      if (!global._.isNull(val.applicant_remarks)) {
        this.enrollHistoryItems = val.applicant_remarks
        this.countHistory = Number(val.applicant_remarks.length)
      }
    },
    getSelected (ids) {
      let itemId = global._.sortedUniq(ids.map(item => item.program_id))
      let itemYearlevelId = global._.sortedUniq(ids.map(item => item.year_level_id))
      this.enrolleeIds = ids
      let applicant_ids = []
      if (itemId.length < 2 && itemYearlevelId.length < 2) {
        this.assign_program_id = Number(itemId)
        this.assign_year_id = Number(itemYearlevelId)
        this.skipAssignQuery = false
        global._.forEach(ids, function(value) {
          applicant_ids.push({
            id: value.id
          })
        })
        this.ids = applicant_ids
      } else if (itemId.length < 2 && itemYearlevelId.length > 1) {
        this.isNoEnrollee = false
        this.snackbar(`Please avoid selecting different Year Levels`, 'info')
      } else {
        this.isNoEnrollee = false
        this.snackbar(`Please avoid selecting multiple Programs with different Year Levels`, 'info')
      }
    },
    save (section) {
      if (!global._.isEmpty(this.ids)) {
        let { enrolleeIds, saveAssessment } = this
        this.saveLoading = true
        let sortIds = String(this.ids.map(item => item.id))
        let inputs = {ids: sortIds, section_id: section[0].section_id}
        this.POST_SECTION_ASSIGNING(inputs).then(data => {
          if (data.data.status === 'error') {
            this.snackbar(`${data.data.message}`, `${data.data.status}`)
          }
          global._.forEach(enrolleeIds, function(val) {
            let assessment_payload = {
              school_year_id: val.school_year_id,
              program_id: val.program_id,
              semester_id: val.semester_id,
              year_level_id : val.year_level_id,
              user_id: val.user_id
            }
            saveAssessment(assessment_payload, data.data)
          })
          this.saveLoading = false
          this.dialog = false
          this.skipEnrolleesQuery = false
          this.$apollo.queries.filterEnrollmentMIS.refetch()
        })
      } else {
        this.snackbar('Please select Applicant/s.', 'info')
      }
    },
    saveAssessment (paylaod, section_msg) {
      this.POST_ASSESSMENT(paylaod).then(data => {
        if (data.data.status === 'error') {
          this.snackbar(`${data.data.message}`, `${data.data.status}`)
        } else {
          this.snackbar(`${section_msg.message}`, `${section_msg.status}`)
        }
      }).catch(data => {
        console.log(data)
      })
    },
    resetFilters () {
      this.RESET_FILTERS()
      this.clear()
    },
    clear () {
      this.setSearch = ''
    },
    doSearch (val) {
      this.setSearch = val
    },
    openFilter () {
      this.isSwitched = true
    },
    closeFilter () {
      this.isSwitched = false
    },
    Item (val) {
      this.$emit('rowClicked', val)
    },
    ItemClicked (val) {
      let curriculum = {
        curriculum_code: null,
        id: null
      }
      let curriculumItem = val.curriculum ? val.curriculum : curriculum
      this.setCurriculum(curriculumItem)
      let revision = {
        revision_no: null,
        id: null
      }
      let revisionItem = !global._.isNull(val.curriculum_revision) ? val.curriculum_revision : revision
      this.setRevision(revisionItem)
      this.setRegistrar(val)
      this.$router.push({ name: 'admin-applicant-form', params: { type: `${val.user_status}` } })
    },
    showSection() {
      this.dialog = true
    },
    doEnroll () {
      let sortedIds = this.enrolleeIds.filter(item => {
        if (item.applicant_approve) {
          return item.applicant_approve.admission_icon !== null && item.applicant_approve.clinic_icon !== null && item.applicant_approve.dean_icon !== null && item.applicant_approve.guidance_icon !== null && item.applicant_approve.registrar_icon !== null && item.applicant_approve.finance_icon !== null&& item.section !== null
        }
      })
      let applicant_ids = []
      global._.forEach(sortedIds, function(value) {
        applicant_ids.push({
          id: value.id
        })
      })
      let enrollee_ids = String(applicant_ids.map(item => item.id))
      if (!global._.isEmpty(enrollee_ids)) {
        this.POST_ENROLEES({ids: enrollee_ids}).then(data => {
          this.isNoEnrollee = false
          this.snackbar(`${data.data.message}`, 'success')
          this.$apollo.queries.filterEnrollmentMIS.refetch()
        }).catch(data => {
          console.log(data)
        })
      } else {
        this.isNoEnrollee = true
        this.snackbar('', 'info')
      }
    },
    refetch () {
      this.skipEnrolleesQuery = false
      this.$apollo.queries.filterEnrollmentMIS.refetch()
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.resetFilters()
      vm.skipEnrolleesQuery = false
      const title = vm.titleInfo.find(item => item.name)
      vm.setTitle(title.name)
    })
  }
}
</script>
