<template>
<v-container fluid
  v-scroll="onScroll">
  <v-layout wrap>
    <v-flex xs12>
      <floating-card
        v-if="type === 'Enrollment'"
        class="mt-2" :titles="floatingTitle" />
      <floating-card
        v-if="type === 'Entrance Exam'"
        class="mt-2" :titles="entranceFloatingTitle" />
      <floating-card
        v-if="type === 'Student'"
        class="mt-2" :titles="studentTitle" />

      <v-card
        class="px-2 my-5"
        style="border: 1px solid #b5b3b3;">
        <v-flex xs12>
          <basic-info
           :studentItem="registrar"
           :tableTitle="type"
          />
        </v-flex>

        <v-tabs
          v-model="tab"
          background-color="transparent"
          grow
          show-arrows
        >
          <v-tab
            v-for="(item, index) in items"
            :key="index"
          >
            {{ item.title }}
          </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item
            v-for="(item, index) in items"
            :key="index"
          >
            <v-card
              flat
            >
            <spdi-tab
              ref="spdi"
              :isLoading="isLoading"
              :tab="item"
              :fields="fields"
              :form="form"
              :personalfields="personalfields"
              :fathersFields="fathersFields"
              :mothersFields="mothersFields"
              :guardianFields="guardianFields"
              :careerFields="careerFields"
              :checklistFields="checklistFields"
              :educationFields="educationFields"
              :personalForm="personalForm"
              :personalErrors="personalErrors"
              :fathersForm="fathersForm"
              :mothersForm="mothersForm"
              :guardiansForm="guardiansForm"
              :educationForm="educationForm"
              :educErrors="educErrors"
              :careerForm="careerForm"
              :checklistForm="checklistForm"
              @savePersonal="savePersonal"
              @saveFamily="saveFamily"
              @saveEducation="saveEducation"
              :personalLoading="personalLoading"
              :familyLoading="familyLoading"
              :educLoading="educLoading"
              v-if="tab === getTabIndex('Student Personal Data Inventory (SPDI)')"
            />

            <keep-alive>
              <requirements-tab
                v-if="tab === getTabIndex('Requirements')"
                :userId="registrar.user_info.id"
                :isEnrollment="true"
                :isMedical="true"
                :isWaiver="true"
                :isAffidavit="true"
                :isTransferee="isTransferee"
                :isMaritimeProgram="isMarine"
              />
            </keep-alive>

            <keep-alive>
               <add-and-drop-tab
                v-if="tab === getTabIndex('Adding & Dropping')"
              />
            </keep-alive>

            <keep-alive>
              <courses-tab
                :isStudent="isCourseType"
                v-if="tab === getTabIndex('Courses') && !isCourseType"
              />
            </keep-alive>

            <keep-alive>
              <evaluation-tab
                :userId="registrar.user_info.id"
                :ids="registrar"
                :isEvaluation="item.title === 'Student Evaluation'"
                v-if="tab === getTabIndex('Student Evaluation')"
              />
            </keep-alive>

            <keep-alive>
               <resources-tab
                v-if="tab === getTabIndex('Resources')"
                :userId="registrar.user_info.id"
              />
            </keep-alive>

            <keep-alive>
              <subject-equivalency-tab
                :tab="item"
                v-if="tab === getTabIndex('Subject Equivalency')"
              />
            </keep-alive>

            <keep-alive>
              <subject-overload-tab
                :isFooter="true"
                :tab="item"
                v-if="tab === getTabIndex('Subject Overload')"
              />
            </keep-alive>

            <keep-alive>
              <student-history
                v-if="tab === getTabIndex('Enrollment History')"
                :user_id="registrar.user_info.id"
              />
            </keep-alive>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
      </v-card>
    </v-flex>
  </v-layout>

  <scroll-btn
    v-show="offsetTop > 1"
    @scrollPage="getTopPage()"
    icon="mdi-chevron-up"
    color="main"
  />
</v-container>
</template>
<script>
import defaultMixins from '@/mixins/index'
import { mapGetters, mapActions } from 'vuex'
import fieldsMixins from '@/mixins/arraylist/admin/fields-list'
import spdiMixins from '@/mixins/admin/spdi.js'
import spdiQueryMixins from '@/mixins/queries/admin/spdiQueries'
export default {
  mixins: [
    defaultMixins,
    fieldsMixins,
    spdiMixins,
    spdiQueryMixins
  ],
  data () {
    return {
      offsetTop: 0,
      floatingTitle: [{
        name: 'Enrollment Form',
        icon: 'event',
        color: 'main',
        flex: 'xs12'
      }],
      entranceFloatingTitle: [{
        name: 'Entrance Form',
        icon: 'event',
        color: 'main',
        flex: 'xs12'
      }],
      studentTitle: [{
        name: 'Student Form',
        icon: 'event',
        color: 'main',
        flex: 'xs12'
      }],
      tab: null,
      items: [
        {
          title: 'Student Personal Data Inventory (SPDI)',
          tabs: [
            {
              title: 'Personal Information',
              update: ''
            },
            {
              title: 'Family Information',
              update: ''
            },
            {
              title: 'Educational Background',
              update: ''
            }
          ]
        }
      ],
      courses: [],
      isLoading: false,
      form: [{
        first_name: '',
        middle_name: '',
        last_name: '',
        name_extension: '',
        gender: '',
        birth_date: '',
        email: '',
        password: '',
        isTransferee: ''
      }],
      personalForm: [
      {
        address: '',
        contact: '',
        civil_status: '',
        religion: '',
        social_account: '',
        student_id_number: ''
      }],
      fathersForm: [
      {
        fathers_name: '',
        fathers_age: '',
        fathers_contact_no: '',
        fathers_occupation: '',
        father_works_abroad: ''
      }],
      mothersForm: [
      {
        mothers_name: '',
        mothers_age: '',
        mothers_contact_no: '',
        mothers_occupation: '',
        mother_works_abroad: ''
      }],
      guardiansForm: [
      {
        guardians_name: '',
        relation: '',
        contact_no: '',
        address: '',
        annual_income: ''
      }],
      educationForm: [
      {
        elementary_school: '',
        elem_year_graduated: '',
        high_school: '',
        high_school_year_graduated: '',
        last_school_attended: '',
        last_sy_attended: '',
        last_year_level_attended: '',
        last_sem_attended: ''
      }],
      careerForm: [
      {
        first_choice: '',
        second_choice: '',
        third_choice: '',
        major: ''
      }],
      checklistForm: [
      {
        confidence: '',
        study_habits: '',
        work_schedule: '',
        diet: '',
        family: '',
        health: '',
        finances: '',
        not_interested: '',
        appearance: '',
        class_schedule: '',
        undecided: '',
        concentration: '',
        friends: '',
        privacy: '',
        others: '',
        other_field: ''
      }],
      personalLoading: false,
      familyLoading: false,
      educLoading: false,
      skipAdminStudentQuery: false,
      personalErrors: {},
      educErrors: {}
    }
  },
  computed: {
    ...mapGetters('user', ['user', 'registrar']),
    isTransferee () {
      if (this.registrar) {
        if (this.registrar.user_status === 'New') return Boolean(this.registrar.applicant_status === 'Transferee')
        return Boolean(this.registrar.isTransferee === 'Yes') || Boolean(this.registrar.applicant_status === 'Transferee')
      }
    },
    isCourseType () {
      return this.type === 'Student' ? true : false
    }
  },
  methods: {
    ...mapActions('students', ['PATCH_STUDENT_PERSONAL', 'PATCH_STUDENT_FAMILY', 'PATCH_STUDENT_EDUCATION', 'PATCH_STUDENT']),
    onScroll (e) {
      this.offsetTop = window.pageYOffset || document.documentElement.scrollTop
    },
    savePersonal (val) {
      this.personalLoading = true
      this.resetPersonalErrors()

      let updateBy = this.setUpdatedby(val[0].updated_by, String(this.user.user_type_id))
      let sortVal = global._.omit(val[0], 'address', 'civil_status', 'religion', 'contact', 'major', 'major', 'student_id_number')
      let sortCareer = global._.pick(this.careerForm[0], 'major')

      let input = {
        ...sortVal,
        ...sortCareer,
        ...this.personalForm[0]
      }
      this.$set(input, 'updated_by', updateBy)
      this.$set(input, 'user_id', this.registrar.user_info.id)
      this.PATCH_STUDENT_PERSONAL(input).then(data => {
        this.personalLoading = false
        let isUpdated = this.updatedFunc('Personal Information')
          isUpdated.update = data.data.updated_by.split(',')
        this.patchStudentInfo(global._.pick(input, 'curriculum_id', 'program_id', 'year_level_id', 'semester_id', 'student_id_number', 'status', 'student_status','isTransferee', 'user_status', 'user_id'))
      }).catch(data => {
        window.scrollTo(0,300)
        this.personalErrors = data.errors
        this.$refs.spdi[0].$refs.career[0].errors = data.errors
        this.$refs.spdi[0].$refs.checklist[0].errors = data.errors
        this.personalLoading = false
      })
    },
    patchStudentInfo (ids) {
      let payload = {}
      if (this.form[0].password !== '') {
        let confirmPassItem = {
          confirm_password: this.form[0].password
        }
        payload = {...ids, ...this.form[0], ...confirmPassItem}
      } else {
        payload = {...ids, ...global._.omit(this.form[0], 'password')}
      }
      this.PATCH_STUDENT(payload).then(data => {
        this.personalLoading = false
        this.skipAdminStudentQuery = false
        this.$apollo.queries.studentInfo.refetch()
        this.$apollo.queries.studentWithFilterMIS.refetch()
      }).catch(data => {
        window.scrollTo(0,300)
        this.personalLoading = false
      })
    },
    saveFamily (val) {
      this.familyLoading = true
      this.resetFamilyErrors()
      let payload = {
        ...this.fathersForm[0],
        ...this.mothersForm[0],
        ...this.guardiansForm[0]
      }
      let updateBy = this.setUpdatedby(val[0].updated_by, String(this.user.user_type_id))

      this.$set(payload, 'updated_by', updateBy)
      this.$set(payload, 'user_id', this.registrar.user_info.id)
      this.PATCH_STUDENT_FAMILY(payload).then(data => {
        this.familyLoading = false
        let isUpdated = this.updatedFunc('Family Information')
        isUpdated.update = data.data.updated_by.split(',')
        this.skipAdminStudentQuery = false
        this.$apollo.queries.studentInfo.refetch()
      }).catch(data => {
        let fErrors = global._.pick(data.errors, 'fathers_age', 'fathers_contact_no', 'fathers_name', 'fathers_occupation', 'father_works_abroad')
        let mErrors = global._.pick(data.errors, 'mothers_age', 'mothers_contact_no', 'mothers_name', 'mothers_occupation', 'mother_works_abroad')
        let gErrors = global._.pick(data.errors, 'address', 'annual_income', 'contact_no', 'guardians_name', 'relation')
        this.$refs.spdi[0].$refs.fathers[0].errors = fErrors
        this.$refs.spdi[0].$refs.mothers[0].errors = mErrors
        this.$refs.spdi[0].$refs.guardians[0].errors = gErrors
        this.familyLoading = false
      })
    },
    saveEducation (val) {
      this.educLoading = true
      this.resetEducErrors()
      let updateBy = this.setUpdatedby(val[0].updated_by, String(this.user.user_type_id))

      this.$set(this.educationForm[0], 'updated_by', updateBy)
      this.$set(this.educationForm[0], 'user_id', this.registrar.user_info.id)
      this.PATCH_STUDENT_EDUCATION(this.educationForm[0]).then(data => {
        this.educLoading = false
        let isUpdated = this.updatedFunc('Educational Background')
        isUpdated.update = data.data.updated_by.split(',')
        this.skipAdminStudentQuery = false
        this.$apollo.queries.studentInfo.refetch()
      }).catch(data => {
        this.educErrors = data.errors
        this.educLoading = false
      })
    },
    addTabs () {
      // enrollment or student
      if (this.registrar.submission_type !== 'Entrance Exam') {
        this.setTabs()
      }
    }
  },
  mounted () {
    this.addTabs()
    this.isStudent()
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.addTabs()
      vm.skipAdminStudentQuery = false
      vm.$apollo.queries.studentInfo.refetch()
    })
  }
}
</script>
