<template>
  <v-container fluid class="mt-0 pt-0">
    <v-layout wrap justify-center align-center>
      <v-flex xs12 md11>
        <students-table
          @add="addStudent"
          @rowClicked="EditItem"
          :headers="headers"/>
      </v-flex>
    </v-layout>

    <students-dialog
      :showDialog="dialog"
      :formData="form"
      @close="dialog = false"
    />
  </v-container>
</template>
<script>
import { mapMutations, mapGetters } from 'vuex'
export default {
  data: () => ({
    dialog: false,
    form: [],
    formItem: {
      school_year_id: null,
      program_id: null,
      year_level_id: null,
      student_id_number: null,
      status: null,
      student_status: null,
      first_name: null,
      middle_name: null,
      last_name: null,
      name_extension: null,
      email: null,
      birth_date: null,
      gender: null,
      password: null
    },
    headers: [
      {
        text: 'Student Id',
        align: 'center',
        sortable: true,
        value: 'student_id_number',
        title: '',
        icon: '',
        name: '',
        field: ''
      },
      {
        text: 'Name',
        align: 'center',
        sortable: true,
        value: 'name',
        title: 'Academic School Year',
        icon: 'mdi-school',
        name: 'admin-stud-year-filter',
        field: ''
      },
      {
        text: 'Gender',
        align: 'center',
        sortable: true,
        value: 'gender',
        title: 'Program',
        icon: 'local_library',
        name: 'admin-stud-program-filter',
        field: ''
      },
      {
        text: 'Email',
        align: 'center',
        sortable: true,
        value: 'email'
      },
      {
        text: 'Program',
        align: 'center',
        sortable: true,
        value: 'program_code',
        title: 'Year Level',
        icon: 'show_chart',
        name: 'admin-stud-level-filter',
        field: ''
      },
      {
        text: 'Year Level',
        align: 'center',
        sortable: true,
        value: 'year_level',
        title: 'Semester',
        icon: 'collections_bookmark',
        name: 'admin-stud-semester-filter',
        field: ''
      },
      {
        text: 'Status',
        align: 'center',
        sortable: true,
        value: 'status',
        title: 'Status',
        icon: 'poll',
        name: 'admin-stud-status-filter',
        field: ''
      },
      {
        text: 'Section',
        align: 'center',
        sortable: true,
        value: 'section'
      }
    ],
    isEdit: false
  }),
  computed: {
    ...mapGetters('user', ['user']),
    ...mapGetters('applicants', ['isTitled']),
    ...mapGetters('filters', ['search']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        return this.SET_SEARCH(value)
      }
    }
  },
  methods: {
    ...mapMutations('user', ['setRegistrar']),
    ...mapMutations('filters', ['RESET_FILTERS', 'SET_SEARCH']),
    ...mapMutations('students', ['setCurriculum', 'setRevision']),
    EditItem (val) {
      let curriculum = {
        curriculum_code: null,
        id: null
      }
      let curriculumItem = val.curriculum ? val.curriculum : curriculum
      this.setCurriculum(curriculumItem)
      let revision = {
        revision_no: null,
        id: null
      }
      let revisionItem = !global._.isNull(val.curriculum_revision) ? val.curriculum_revision : revision
      this.setRevision(revisionItem)
      this.setRegistrar(val)
      this.$router.push({ name: 'admin-student-form', params: { type: `${val.status}` } })
      this.form = [val]
      this.isEdit = true
    },
    addStudent () {
      this.form[0] = Object.assign({}, this.formItem)
      this.dialog = true
      this.isEdit = false
    },
    resetFilters () {
      this.RESET_FILTERS()
      this.setSearch = ''
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.resetFilters()
    })
  }
}
</script>
