<template>
  <v-dialog
    :value="showDialog"
    max-width="750"
    scrollable
    persistent
    v-esc="escape">
    <v-card
      class="pt-1">
      <v-card-actions class="pb-0">
        <div class="flex-grow-1">
          <v-card-title class="accent--text">{{ title }}</v-card-title>
        </div>
        <v-text-field
          append-icon="mdi-magnify"
          label="Search"
          hint="Enter Section"
          single-line
          class="mb-0 mr-2 black--text"
          color="accent"
          clearable
          v-model="setKeyword"
          clear-icon="mdi-close-circle"
          @click:clear="$emit('clear')"
          @keyup.enter="$emit('enter', setKeyword)"
        ></v-text-field>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              fab
              @click="$emit('close')"
              text>
              <v-icon medium color="red">mdi-close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-card-actions>
      <v-divider class="mx-2" />
      <v-card-text >
        <v-layout wrap>
          <v-flex xs12>
            <v-data-table
              :headers="headers"
              :items="assignItems"
              :page.sync="page"
              :items-per-page="itemsPerPage"
              @page-count="pageCount = $event"
              hide-default-footer
              :loading="sectionLoading"
              loading-text="Loading... Please wait"
              :single-select="true"
              show-select
              v-model="section_selected"
              v-bind="rowsPerPage"
              item-key="section_id"
              >
            </v-data-table>
          </v-flex>
          <v-flex xs12 class="text-center pt-3 pb-0">
            <v-pagination
              v-show="pageCount > 1"
              v-model="page"
              :length="pageCount"
              :total-visible="10"
            ></v-pagination>
          </v-flex>
        </v-layout>
      </v-card-text>

      <v-card-actions class="py-5">
        <v-spacer />
        <v-btn
          :loading="saveLoading"
          color="accent"
          width="100px"
          class="white--text mr-3 mt-2 text-none"
          @click="$emit('save',section_selected)"
          >Save
        </v-btn>
      </v-card-actions>

    </v-card>
  </v-dialog>
</template>
<script>
import defaultMixins from '@/mixins/index'
import formMixins from '@/mixins/form.js'
import { mapActions, mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    formMixins
  ],
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    title: {
      required: true,
      type: String
    },
    assignItems: {
      required: true,
      type: [Object, Array]
    },
    saveLoading: {
      type: Boolean,
      default: false
    },
    sectionLoading: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    rowsPerPage: {
      'footer-props': {
        'items-per-page-options': [10]
      }
    },
    section_selected: [],
    check_item: [],
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    programItems: [],
    headers: [
      {
        text: 'Section',
        align: 'center',
        sortable: false,
        value: 'section'
      }
    ],
    loading: false,
    skip: 0,
    take: 10,
    dataList: [],
    form: [],
    disableCheckbox: false
  }),
  methods: {
    ...mapMutations('filters', ['SET_KEYWORD_SECTION']),
    close () {
      this.loading = false
    },
    escape () {
      this.$emit('close')
    }
  },
  computed: {
    ...mapGetters('filters', ['keyword_section']),
    setKeyword: {
      get: function () {
        return this.keyword_section
      },
      // setter
      set: function (value) {
        return this.SET_KEYWORD_SECTION(value)
      }
    }
  }
}
</script>
