<template>
  <v-dialog
    :value="showDialog"
    max-width="1600"
    persistent
    v-esc="escape">
    <v-card
      class="pt-1">
      <v-card-actions class="pb-0">
        <div class="flex-grow-1">
          <v-card-title class="accent--text">{{ isEdit ? 'Edit' : 'Add' }} Course</v-card-title>
        </div>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              v-show="isEdit && !hasClasses"
              @click="isDelete(true)"
              text
              fab
              color="red">
              <v-icon medium color="red">mdi-delete</v-icon>
            </v-btn>
          </template>
          <span>Delete</span>
        </v-tooltip>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              @click="closeDialog"
              text
              fab>
              <v-icon medium color="red">mdi-close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-card-actions>
      <v-divider class="mx-2" />
      <v-layout wrap>
        <v-card-title>
          <v-form ref="form">
            <v-layout wrap justify-right align-right>
              <v-flex xs12 sm6 md3>
                <small>Year Level
                  <span class="pl-1" style="color: red;">*</span>
                </small>
                <v-autocomplete
                  :items="yearlevels"
                  v-model="formData.year_level_id"
                  clearable
                  item-text="level"
                  item-value="year_level_id"
                  hide-no-data
                  return-string
                  clear-icon="mdi-close-circle"
                  dense
                  class="mx-2 mt-3"
                  :error-messages="errors['year_level_id']">
                </v-autocomplete>
              </v-flex>
              <v-flex xs12 sm6 md3>
                <small>Semester
                </small>
                <v-autocomplete
                  :items="semestersItems"
                  v-model="formData.semester_id"
                  clearable
                  item-text="semester_name"
                  item-value="semester_id"
                  hide-no-data
                  return-string
                  clear-icon="mdi-close-circle"
                  dense
                  class="mx-1 mt-3"
                  :error-messages="errors['semester_id']">
                </v-autocomplete>
              </v-flex>
              <v-flex xs12 sm6 md3>
                <small>Course Code
                  <span class="pl-1" style="color: red;">*</span>
                </small>
                <v-autocomplete
                  :items="courseItems"
                  v-model="formData.course_item"
                  :loading="isLoading"
                  :search-input.sync="search_course"
                  clearable
                  item-text="course_code"
                  item-value="course_id"
                  hide-no-data
                  return-object
                  clear-icon="mdi-close-circle"
                  dense
                  class="mx-1 mt-3"
                  @click:clear="clearCourse"
                  :error-messages="errors['course_id']">
                  <template v-slot:item="data">
                    <v-list-item-content>
                      <v-list-item-title v-html="data.item.course_code"></v-list-item-title>
                      <v-list-item-subtitle v-html="data.item.course_description"></v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </v-autocomplete>
              </v-flex>
              <v-flex xs12 sm6 md3>
                <small>Pre-Requisite
                </small>
                <v-autocomplete
                  :items="prerequisitesItems"
                  v-model="formData.pre_requisite"
                  :loading="preLoading"
                  :search-input.sync="search_pre_requisite"
                  clearable
                  multiple
                  item-text="course_code"
                  item-value="course_id"
                  hide-no-data
                  return-string
                  clear-icon="mdi-close-circle"
                  dense
                  chips
                  deletable-chips
                  class="mx-1 mt-0 pt-0">
                  <template v-slot:item="data">
                    <v-list-item-content>
                      <v-list-item-title v-html="data.item.course_code"></v-list-item-title>
                      <v-list-item-subtitle v-html="data.item.course_description"></v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </v-autocomplete>
              </v-flex>
              <v-flex xs12 sm6 md3>
                <small>Co-Requisite
                </small>
                <v-autocomplete
                  :items="corequisitesItems"
                  v-model="formData.co_requisite"
                  :loading="coLoading"
                  :search-input.sync="search_co_requisite"
                  clearable
                  multiple
                  item-text="course_code"
                  item-value="course_id"
                  hide-no-data
                  return-string
                  clear-icon="mdi-close-circle"
                  dense
                  chips
                  deletable-chips
                  class="mx-1 mt-0 pt-0">
                  <template v-slot:item="data">
                    <v-list-item-content>
                      <v-list-item-title v-html="data.item.course_code"></v-list-item-title>
                      <v-list-item-subtitle v-html="data.item.course_description"></v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </v-autocomplete>
              </v-flex>
              <v-flex xs12 sm6 md3>
                <small>Course Description
                  <span class="pl-1" style="color: red;">*</span>
                  <v-tooltip right>
                    <template v-slot:activator="{ on }">
                      <v-btn
                        v-show="formData.year_level_id && formData.course_item"
                        v-on="on"
                        outlined
                        small
                        color="accent"
                        :width="btnWidth"
                        @click="showDetails"
                        :class="detailStyle"
                        class="white--text mx-3 mb-1 text-none">
                        Details
                      </v-btn>
                    </template>
                    <span>{{ openDetails ? 'Close' : 'Open' }}</span>
                  </v-tooltip>
                </small>
                <v-text-field
                  class="mx-1 mt-2"
                  dense
                  required
                  v-model="formData.course_description"
                  :error-messages="errors['course_description']"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md3>
                <v-layout wrap>
                  <v-flex xs12 sm6>
                    <small>Lec
                    </small>
                    <v-text-field
                      class="mx-1 mt-2"
                      dense
                      required
                      type="number"
                      v-model="formData.lecture_schedule"
                      :error-messages="errors['lecture_schedule']"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <small>Lab
                    </small>
                    <v-text-field
                      class="mx-1 mt-2"
                      dense
                      required
                      type="number"
                      v-model="formData.laboratory_schedule"
                      :error-messages="errors['laboratory_schedule']"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-flex>
              <v-flex xs12 sm6 md3>
                <small>Unit/s
                  <span class="pl-1" style="color: red;">*</span>
                </small>
                <v-text-field
                  class="mx-1 mt-2"
                  dense
                  required
                  type="number"
                  v-model="formData.units"
                  :error-messages="errors['units']"
                ></v-text-field>
              </v-flex>
              <v-flex xs12
                v-show="openDetails">
                <v-layout  wrap text-xs-center align-center>
                  <v-flex xs12>
                    <p class="ma-0 text-uppercase font-weight-medium text-center align-center">{{ formData.course_description }}</p>
                  </v-flex>
                  <v-flex xs12>
                    <small class="mx-2">Sub Course Description
                    </small>
                    <v-text-field
                      class="mx-2"
                      dense
                      required
                      v-model="formData.sub_descriptive_title"
                      :error-messages="errors['sub_descriptive_title']"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 md6 class="pa-1">
                    <v-container fluid
                    class="overflow-y-auto py-0 my-0"
                    style="height: 325px; border: 1px solid #b5b3b3;">
                    <v-card flat
                      style="height: 200px;"
                      v-scroll="onhandleScroll">
                      <details-dialog
                        :items="requirementItems"
                        title="Requirement"
                        :header="header"
                        @save="saveRequirement"
                        @delete="deleteRequirement"
                        :loading="detailsLoading"
                        :saveLoading="saveDetailsLoading"
                      />
                    </v-card>
                  </v-container>
                  </v-flex>
                  <v-flex xs12 md6 class="pa-1">
                    <v-container fluid
                    class="overflow-y-auto py-0 my-0"
                    style="height: 325px; border: 1px solid #b5b3b3;">
                    <v-card flat
                      style="height: 200px;"
                      v-scroll="onhandleScroll">
                      <details-dialog
                        :items="noteItems"
                        title="Note"
                        header="Note:"
                        @save="saveNote"
                        @delete="deleteNote"
                        :loading="noteLoading"
                        :saveLoading="saveNoteLoading"
                      />
                    </v-card>
                  </v-container>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-form>
        </v-card-title>
      </v-layout>
      <v-card-actions class="pb-3">
        <v-spacer />
        <v-btn
          :loading="saveLoading"
          color="accent"
          width="100px"
          class="white--text mr-3 my-2 text-none"
          @click="isEdit ? isDelete(false) : save()"
        >
          Save
        </v-btn>
      </v-card-actions>

      <confirmation-dialog
        :showDialog="confirmDialog"
        @close="confirmDialog = false"
        @proceed="isDelete_ ? deleteItem() : edit()"
        :loading="deleteLoading"
        :message="isDelete_ ? 'Are you sure you want to delete this course ?' : 'Do you want to save changes ?'"
      />
      <v-snackbar
        top
        absolute
        vertical
        v-model="isSnackbar"
        :color="color"
        class="caption"
        multi-line
        timeout="3000">
        <v-card-actions class="ma-0 pa-0"
          style="word-break: break-word;">
          {{ text }}
          <v-spacer />
          <v-btn
            color="white"
            text
            icon
            right
            @click="isSnackbar = false"
            class="caption">
            <v-icon>clear</v-icon>
          </v-btn>
        </v-card-actions>
      </v-snackbar>
    </v-card>
  </v-dialog>
</template>
<script>
import formMixins from '@/mixins/form.js'
import defaultMixins from '@/mixins/index'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import courseDetailsMixins from '@/mixins/queries/admin/courseDetailsQueries'
export default {
  mixins: [
    courseDetailsMixins,
    defaultMixins,
    formMixins
  ],
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    formData: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    isEdit: {
      type: Boolean,
      default: false
    },
    id: {
      type: [String, Number]
    },
    hasClasses: {
      type: Boolean,
      required: false
    }
  },
  data () {
    return {
      confirmDialog: false,
      loading: false,
      skip: 0,
      take: 10,
      errors: {},
      yearlevels: [],
      semestersItems: [],
      courseItems: [],
      prerequisitesItems: [],
      corequisitesItems: [],
      isDelete_: false,
      form: {},
      saveLoading: false,
      deleteLoading: false,
      openDetails: false,
      requirement: '',
      dialog: false,
      noteDialog: false,
      detailsLoading: false,
      noteLoading: false,
      skipDetailsQuery: true,
      skipNoteQuery: true,
      requirementItems: [],
      noteItems: [],
      offsetTop: 0,
      saveDetailsLoading: false,
      saveNoteLoading: false,
      isSnackbar: false,
      color: '',
      text: '',
      search_course: '',
      search_pre_requisite: '',
      search_co_requisite: '',
      isLoading: false,
      preLoading: false,
      coLoading: false
    }
  },
  computed: {
    ...mapGetters('filters', ['search', 'semester_id', 'year_level_id']),
    ...mapGetters('curricula', ['curricula', 'per_program', 'revisions']),
    postApi () {
      if (!this.isEdit) return 'api/curricula/create/curriculum_course'
      return 'api/curricula/update/curriculum_course'
    },
    deleteApi () {
      return `api/curricula/delete/curriculum_course/${this.id}`
    },
    header () {
      return `The ${this.formData.course_item ? this.formData.course_item.course_code : ''} requirements shall be complied with by undergoing and completing:`
    },
    btnWidth () {
      if (this.$vuetify.breakpoint.smAndUp) return '100px'
      return '70px'
    },
    detailStyle () {
      if (this.$vuetify.breakpoint.smAndUp) return ''
      return 'caption-2'
    }
  },
  watch: {
    'formData.course_item' (val) {
      if (val) {
        this.formData.course_code = val.course_code
        this.formData.course_description = val.course_description
        this.queryCourseSelections(this.search_course)
      } else {
        this.formData.course_description = ''
      }
    },
    'formData.pre_requisite' (val) {
      this.querySelections('pre', this.search_pre_requisite)
    },
    'formData.co_requisite' (val) {
      this.querySelections('co', this.search_co_requisite)
    },
    formData (val) {
      if (val.course_item.course_id) {
        this.skipDetailsQuery = false
        this.skipNoteQuery = false
        this.$apollo.queries.obtDetails.refetch()
        this.$apollo.queries.obtNotes.refetch()
      }
    },
    search_course (val) {
      val && val !== this.formData.course_item && this.queryCourseSelections(val)
    },
    search_pre_requisite (val) {
      val && val !== this.formData.pre_requisite && this.querySelections('pre', val)
    },
    search_co_requisite (val) {
      val && val !== this.formData.co_requisite && this.querySelections('co', val)
    }
  },
  methods: {
    ...mapActions('curricula', ['POST_COURSE_DETAILS', 'DELETE_COURSE_DETAILS', 'POST_COURSE_NOTES', 'DELETE_COURSE_NOTES', 'PATCH_COURSE_DETAILS', 'PATCH_COURSE_NOTES']),
    escape () {
      this.$emit('close')
    },
    onhandleScroll (e) {
      this.offsetTop = e.target.scrollTop
    },
    clearCourse () {
      this.formData.course_description = ''
      this.openDetails = false
    },
    showDetails () {
      this.openDetails = !this.openDetails
      if (this.formData.course_item.course_id && this.revisions.curriculum_id && this.revisions.id) {
        this.skipDetailsQuery = false
        this.skipNoteQuery = false
        this.$apollo.queries.obtDetails.refetch()
        this.$apollo.queries.obtNotes.refetch()
      }
    },
    isDelete (x) {
      this.isDelete_ = x
      if (this.isDelete_) {
        if (this.hasClasses) {
          this.snackbar(`This course has existing classes. Please delete the classes first.`, 'info')
        } else {
          this.confirmDialog = true
        }
      } else {
        this.confirmDialog = true
      }
    },
    closeDialog () {
      this.saveLoading = false
      this.updateLoading = false
      this.deleteLoading = false
      this.$emit('close')
      this.errors = {}
      this.$refs.form.reset()
    },
    close: function () {
      this.saveLoading = false
      this.deleteLoading = false
      this.confirmDialog = false
      if (global._.isEmpty(this.errors)) {
        this.$emit('close')
        if (!global._.isEmpty(this.form)) {
          this.postNotes(this.form)
          this.postDetails(this.form)
          this.$emit('refetch', this.form)
          this.$refs.form.reset()
        }
        this.$refs.form.errors = this.errors
        if (!global._.isEmpty(this.formData)) {
          this.form = {}
        }
      } else {
        this.$refs.form.errors = this.errors
      }
    },
    async save () {
      this.saveLoading = true
      this.formData.corequisites = this.formData.co_requisite.length > 0 ? global._.toString(this.formData.co_requisite.map(item => item)) : ''
      this.formData.prerequisites = this.formData.pre_requisite.length > 0 ? global._.toString(this.formData.pre_requisite.map(item => item)) : ''
      this.formData.program_id = this.per_program.program_id
      this.formData.curriculum_id = this.per_program.id
      this.formData.course_id = this.formData.course_item ? Number(this.formData.course_item.course_id) : null
      this.formData.revision_id = this.revisions.id
      this.saveData(this.formData)
    },
    async edit () {
      this.deleteLoading = true
      this.formData.corequisites = this.formData.co_requisite.length > 0 ? global._.toString(this.formData.co_requisite.map(item => item)) : ''
      this.formData.prerequisites = this.formData.pre_requisite.length > 0 ? global._.toString(this.formData.pre_requisite.map(item => item)) : ''
      this.formData.program_id = this.per_program.program_id
      this.formData.course_id = this.formData.course_item ? Number(this.formData.course_item.course_id) : null
      this.formData.revision_id = this.revisions.id
      this.saveData(this.formData)
    },
    async deleteItem () {
      this.deleteLoading = true
      this.deleteData()
    },
    postDetails (item) {
      if (!global._.isUndefined(item.course)) {
        let self = this
        global._.forEach(this.requirementItems, function (val) {
          if (global._.isUndefined(val.id)) {
            let payload = {
              ...val,
              curriculum_course_id: item.course.id,
              curriculum_id: self.revisions.curriculum_id,
              revision_id: self.revisions.id
            }
            self.POST_COURSE_DETAILS(payload)
          }
        })
      }
    },
    saveRequirement (val) {
      if (global._.isUndefined(val.id)) {
        let payload = {
          course_id: this.formData.course_item ? Number(this.formData.course_item.course_id) : null,
          on_the_job_details: val
        }
        this.requirementItems.push(payload)
      } else {
        let payload = {
          course_id: this.formData.course_item ? Number(this.formData.course_item.course_id) : null,
          on_the_job_details: val.name,
          id: val.id,
          curriculum_id: self.revisions.curriculum_id,
          revision_id: self.revisions.id
        }
        this.saveDetailsLoading = true
        this.detailsLoading = true
        this.PATCH_COURSE_DETAILS(payload).then(response => {
          this.skipDetailsQuery = false
          this.$apollo.queries.obtDetails.refetch()
        }).catch(errors => {
          console.log('errors:', errors)
        }).finally(() => {
          this.saveDetailsLoading = false
        })
      }
    },
    deleteRequirement (val) {
      if (val) {
        this.detailsLoading = true
        this.DELETE_COURSE_DETAILS({ id: val.id }).then(response => {
          this.skipDetailsQuery = false
          this.$apollo.queries.obtDetails.refetch()
        }).catch(errors => {
          console.log('errors:', errors)
        })
      }
    },
    postNotes (item) {
      if (!global._.isUndefined(item.course)) {
        let self = this
        global._.forEach(this.noteItems, function (val) {
          if (global._.isUndefined(val.id)) {
            let payload = {
              ...val,
              curriculum_course_id: item.course.id,
              curriculum_id: self.revisions.curriculum_id,
              revision_id: self.revisions.id
            }
            self.POST_COURSE_NOTES(payload)
          }
        })
      }
    },
    saveNote (val) {
      if (global._.isUndefined(val.id)) {
        let payload = {
          curricula_lists_id: this.curricula.curricula_id,
          course_id: this.formData.course_item ? Number(this.formData.course_item.course_id) : null,
          notes: val
        }
        this.noteItems.push(payload)
        
      } else {
        let payload = {
          curricula_lists_id: this.curricula.curricula_id,
          course_id: this.formData.course_item ? Number(this.formData.course_item.course_id) : null,
          notes: val.name,
          curriculum_course_id: val.curriculum_course_id,
          id: val.id,
          curriculum_id: self.revisions.curriculum_id,
          revision_id: self.revisions.id
        }
        this.saveNoteLoading = true
        this.noteLoading = true
        this.PATCH_COURSE_NOTES(payload).then(response => {
          this.skipNoteQuery = false
          this.$apollo.queries.obtNotes.refetch()
        }).catch(errors => {
          console.log('errors:', errors)
        }).finally(() => {
          this.saveNoteLoading = false
        })
      }
    },
    deleteNote (val) {
      if (val) {
        this.noteLoading = true
        this.DELETE_COURSE_NOTES({ id: val.id }).then(response => {
          this.skipNoteQuery = false
          this.$apollo.queries.obtNotes.refetch()
        }).catch(errors => {
          console.log('errors:', errors)
        })
      }
    }
  }
}
</script>
