<template>
<v-card flat>
  <header-component
    :isSearch="true"
    :isFilter="true"
    :isExport="Boolean(user.department && course_count > 0)"
    @pdf="exportPdf()"
    :link="link"
    :isWord="false"
    :isExcel="false"
    @enter="doSearch"
    :isAdd="true"
    label="Search Course Code"
     hint="Enter Course Code"
    :btnTitle="title"
    @clear="clear"
    @reset="resetFilters()"
    :isSwitched="isSwitched"
    @openFilter="openFilter()"
    @closeFilter="closeFilter()"
    @clickDialog="addClicked"
    :filterItems="headers"
  />
    <v-layout wrap justify-center align-center>
      <v-flex xs12 class="mt-5">
        <floating-card :titles="floatTitle" />
      </v-flex>
      <v-flex xs12>
        <v-card> 
         <v-card-title class="my-5" />
         <v-flex xs12>
          <v-data-table
              ref="table"
              :headers="headers"
              :items="dataList"
              :page.sync="page"
              :items-per-page="itemsPerPage"
              @page-count="pageCount = $event"
              :options.sync="options"
              :server-items-length="count"
              class="text-table-color font-weight-medium"
              hide-default-footer
              :fixed-header="true"
              :loading="courseLoading"
              loading-text="Loading... Please wait"
              @click:row="listClicked"
             >
             <template v-slot:item.status="{ item }">
              <v-chip
                :color="setColor(item.status)"
                dark
                label
              >
                {{ item.status }}
              </v-chip>
            </template>
          </v-data-table>
        </v-flex>
        <v-flex xs12 class="text-center pt-3 pb-0">
          <v-pagination
            v-show="pageCount > 1"
            v-model="page"
            :length="pageCount"
            :total-visible="10"
          ></v-pagination>
        </v-flex>
        <v-flex xs12>
          <v-card-actions
            v-show="count > 0">
            <v-spacer />
            <small>Total of <span class="blue--text">{{ count }} </span> <span>{{ dataList.length > 1 ? 'Items' : 'Item'}}</span></small>
          </v-card-actions>
        </v-flex>
       </v-card>
    </v-flex>
    </v-layout>

    <course-dialog
      :formData="formData"
      :showDialog="dialog"
      @close="close"
      @refetch="refetch"
      :isEdit="isEdit"
      :id="courseId"
      :hasClasses="hasClasses"
    />

  <v-snackbar
    top
    right
    v-model="isSnackbar"
    :color="color"
    class="caption"
    timeout="1500">
    <v-card-actions class="ma-0 pa-0">
      {{ text }}
      <v-spacer />
      <v-btn
        color="white"
        text
        icon
        right
        @click="isSnackbar = false"
        class="caption">
        <v-icon>clear</v-icon>
      </v-btn>
    </v-card-actions>
  </v-snackbar>
</v-card>
</template>
<script>
import formMixins from '@/mixins/form.js'
import defaultMixins from '@/mixins/index'
import courseQueryMixins from '@/mixins/queries/admin/courseQueries'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    formMixins,
    courseQueryMixins,
    defaultMixins
  ],
  props: {
    title: String
  },
  data: () => ({
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    items: [],
    courseLoading: false,
    skip: 0,
    take: 10,
    dialog: false,
    formData: {
      year_level_id: '',
      semester_id: '',
      course_id: '',
      pre_requisite: '',
      lecture_schedule: '',
      laboratory_schedule: '',
      units: '',
      course_item: '',
      sub_descriptive_title: ''
    },
    formItem: {
      year_level_id: '',
      semester_id: '',
      course_id: '',
      pre_requisite: '',
      co_requisite: '',
      lecture_schedule: '',
      laboratory_schedule: '',
      units: '',
      course_item: '',
      sub_descriptive_title: ''
    },
    floatTitle: [
      {
        name: 'Courses',
        icon: 'ballot',
        color: 'accent',
        flex: 'xs12'
      }
    ],
    headers: [
      {
        text: 'Year Level',
        align: 'center',
        sortable: true,
        value: 'level',
        title: 'Year Level',
        icon: 'show_chart',
        name: 'course-level-filter',
        field: ''
      },
      {
        text: 'Semester',
        align: 'center',
        sortable: true,
        value: 'semester_name',
        title: 'Semester',
        icon: 'collections_bookmark',
        name: 'course-semester-filter',
        field: ''
      },
      {
        text: 'Course Code',
        align: 'center',
        sortable: true,
        value: 'course_code'
      },
      {
        text: 'Course Description',
        align: 'center',
        sortable: true,
        value: 'course_description'
      },
      {
        text: 'Pre-Requisite',
        align: 'center',
        sortable: true,
        value: 'pre_requisite_name'
      },
      {
        text: 'Co-Requisite',
        align: 'center',
        sortable: true,
        value: 'co_requisite_name'
      },
      {
        text: 'Lec',
        align: 'center',
        sortable: true,
        value: 'lecture_schedule'
      },
      {
        text: 'Lab',
        align: 'center',
        sortable: true,
        value: 'laboratory_schedule'
      },
      {
        text: 'Units',
        align: 'center',
        sortable: true,
        value: 'units'
      }
    ],
    skip: 0,
    take: 10,
    count: 0,
    dataList: [],
    skipCourseQuery: false,
    saveLoading: false,
    deleteLoading: false,
    isSnackbar: false,
    color: '',
    text: '',
    isEdit: false,
    isSwitched: false,
    courseId: null,
    link: '',
    hasClasses: false,
    options: {},
    currPage: null,
    prevPage: null,
    skipItems: null,
    takeItems: null
  }),
  computed: {
    ...mapGetters('filters', ['search', 'semester_id', 'year_level_id']),
    ...mapGetters('user', ['user']),
    ...mapGetters('curricula', ['curricula', 'revisions']),
    ...mapGetters('form', ['curriculum', 'course_count']),
    programCode () {
      if (!global._.isEmpty(this.curricula)) {
        if (this.user.department) {
          let programItem = this.curricula.programs.find(item => item.program_code)
          return `${programItem.program_code}`
        } else {
          return `${this.curricula.program_code}`
        }
      }
    },
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        this.$apollo.queries.coursesUnderCurriculum.refetch()
        return this.SET_SEARCH(value)
      }
    }
  },
  watch: {
    options: {
      handler (old, newx) {
        this.skipItems = global._.isUndefined(newx.itemsPerPage) ? 0 : newx.itemsPerPage
        this.takeItems = old.itemsPerPage
        this.prevPage = global._.isUndefined(newx.page) ? 0 : newx.page
        this.currPage = old.page
        let skip = this.sortSkipped(this.skipItems, this.currPage, old.itemsPerPage)
        let take = old.itemsPerPage
        this.skip = skip
        this.take = take
        this.currLoading = true
        this.$apollo.queries.coursesUnderCurriculum.refetch()
      },
      deep: true
    },
    year_level_id (val) {
      if (val) {
        this.page = 1
        this.$apollo.queries.coursesUnderCurriculum.refetch()
      }
    },
    semester_id (val) {
      if (val) {
        this.page = 1
        this.$apollo.queries.coursesUnderCurriculum.refetch()
      }
    }
  },
  methods: {
    ...mapMutations('filters', ['RESET_FILTERS', 'SET_SEARCH']),
    back () {
      this.resetFilters()
      setTimeout(() => {
        this.$router.push({ name: 'program-curriculum-revisions' })
      }, 300)
    },
    exportPdf () {
      this.link = `${process.env.VUE_APP_URL}api/exports/pdf/curriculum_prospectus/${this.curriculum.curriculum_id}/${this.curricula.program_id}/${this.revisions.id}`
    },
    resetFilters () {
      this.RESET_FILTERS()
      this.clear()
    },
    refetch (val) {
      if (!global._.isEmpty(val.deleted_course)) {
        this.snackbar(`${val.message}`, 'error')
      } else {
        this.snackbar(`${val.message}`, 'success')
      }
      if (!global._.isEmpty(val.course)) {
        // // if edit item
        const currItem = this.dataList.find(item => Number(item.id) === Number(val.course.id))
        const itemIndex = this.dataList.indexOf(currItem)
        if (itemIndex !== -1) {
          this.$delete(this.dataList, itemIndex)
        }
      }
      this.skipCourseQuery = false
      this.$apollo.queries.coursesUnderCurriculum.refetch()
    },
    close () {
      this.dialog = false
    },
    clear () {
      this.setSearch = ''
    },
    doSearch (val) {
      this.setSearch = val
    },
    openFilter () {
      this.isSwitched = true
    },
    closeFilter () {
      this.isSwitched = false
    },
    addClicked () {
      this.formData = Object.assign({}, this.formItem)
      this.isEdit = false
      this.dialog = true
    },
    listClicked (item) {
      this.hasClasses = item.has_class
      this.courseId = item.id
      this.formData = Object.assign({}, item)
      this.isEdit = true
      this.dialog = true
    }
    // onScroll (e) {
    //   const tableHeight = (this.$refs.table.$el.offsetHeight) - (e.srcElement.offsetHeight + 50)
    //   if (e.srcElement.scrollTop > tableHeight && !this.courseLoading) {
    //     this.courseLoading = true
    //     this.take++
    //     this.$apollo.queries.coursesUnderCurriculum.refetch()
    //   } else {
    //     this.take--
    //     this.$apollo.queries.coursesUnderCurriculum.refetch()
    //   }
    // }
  }
}
</script>
