<template>
<v-container fluid class="mt-0 pt-0">
  <v-breadcrumbs
    :items="breadcrumbItems"
    large
  >
    <template v-slot:item="{ item }">
      <v-breadcrumbs-item
        :to="item.to"
        :disabled="item.disabled"
      >
        <span
         :class="item.disabled ? 'grey--text' : 'blue--text'"
         @click="RESET_FILTERS">{{ item.text }}</span>
      </v-breadcrumbs-item>
    </template>
  </v-breadcrumbs>
  <v-layout wrap justify-center align-center>
    <v-flex xs12 md11>
      <course-table
       title="Add Course"/>
    </v-flex>
  </v-layout>
</v-container>
</template>
<script>
import { mapGetters, mapMutations } from 'vuex'
  export default {
    data () {
      return {
        breadcrumbItems: [
          {
            text: 'Program',
            disabled: false,
            to: { name: 'program' }
          },
          {
            text: 'Curriculum',
            disabled: false,
            to: { name: 'program-curriculum' }
          },
          {
            text: 'Revisions',
            disabled: false,
            to: { name: 'program-curriculum-revisions' }
          },
          {
            text: 'Courses',
            disabled: true,
            to: { name: '' }
          }
        ]
      }
    },
    computed: {
      ...mapGetters('curricula', ['per_program', 'curricula', 'revisions'])
    },
    methods: {
      ...mapMutations('filters', ['RESET_FILTERS']),
      revisionBreadcrumbs () {
        this.breadcrumbItems[0].text = `${this.curricula.program_code}`
        this.breadcrumbItems[1].text = `${this.per_program.curriculum_code}`
        this.breadcrumbItems[2].text = `Revision ${this.revisions.revision_no}`
      }
    },
    mounted () {
      this.revisionBreadcrumbs()
    }
  }
</script>
