<template>
  <v-dialog
    :value="showDialog"
    width="900"
    persistent
    v-esc="escape">
    <v-card>
      <v-card-actions>
        <div class="flex-grow-1">
          <v-card-title class="main--text">{{ isEditing ? 'Edit' : 'Add' }} Company</v-card-title>
        </div>
        <!-- <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              v-show="isEditing && !hasCurriculum"
              @click="doDelete(true)"
              text
              fab
              color="red">
              <v-icon medium color="red">mdi-delete</v-icon>
            </v-btn>
          </template>
          <span>Delete</span>
        </v-tooltip> -->
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              @click="closeDialog"
              text
              fab>
              <v-icon medium color="red">mdi-close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-card-actions>

      <v-divider class="mx-3" height="4px" />
      <v-form class="pt-5 px-3"
        ref="form">
        <v-layout wrap>
            <v-flex
              xs12
              :key="index"
              v-for="(item, index) in formData"
            >
              <v-layout wrap>
                <field-component
                  :field="field"
                  :key="field.key"
                  :form="formData[index]"
                  :errors="errors"
                  :item-idx="index"
                  :choices="choices"
                  v-for="field in fields"
                ></field-component>
              </v-layout>
            </v-flex>
            <v-flex xs11 md7>
              <v-container fluid>
                <v-layout wrap justify-top align-center>
                  <v-flex xs12 lg4 class="pl-2">
                    <!-- <small>Program Image: -->
                      <!-- <span class="pl-1" style="color: red;">*</span> -->
                    <!-- </small> -->
                    <!-- <v-flex class="text-center red--text caption"> -->
                      <!-- {{ errors['profile_image'] }} -->
                    <!-- </v-flex> -->
                  </v-flex>
                  <v-flex xs12 md8>
                    <!-- <v-layout wrap class="px-2" v-if="!myImage" justify-center align-center>
                      <croppa
                        class="style"
                        v-model="image"
                        :height="180"
                        :width="180"
                        :accept="'image/*'"
                        :file-size-limit="204800"
                        :prevent-white-space="true"
                        @file-size-exceed="onFileSizeExceed"
                        initial-size="cover"
                        :show-remove-button="false"
                        :placeholder-font-size="10"
                        @new-image-drawn="hasImage"
                        @image-remove="imageRemoved"
                        :input-attrs="{capture: true, class: 'file-input'}">
                      </croppa>
                    </v-layout> -->
                    <!-- <v-layout wrap class="px-2" v-else justify-center align-center>
                      <v-avatar
                        tile
                        size="180">
                        <img
                          height="180px"
                          width="180px"
                          contain
                          :src="myImage" />
                      </v-avatar>
                    </v-layout> -->
                    <!-- <v-layout wrap justify-center align-center>
                      <v-card-actions class="pt-1">
                        <v-btn
                          tile
                          height="16"
                          width="95"
                          text
                          outlined
                          class="caption-1 text-none mb-1"
                          @click="removeImage"
                          v-show="myImage">
                          Remove Photo
                        </v-btn>
                      </v-card-actions>
                    </v-layout> -->
                  </v-flex>
                </v-layout>
              </v-container>
            </v-flex>
            <v-flex xs12 md5>
              <v-layout justify-end fill-height align-end class="py-4">
                <v-card-actions>
                  <v-spacer />
                  <v-btn
                    :loading="saveLoading"
                    color="main"
                    width="100px"
                    class="white--text mr-3 mt-2 text-none font-weight-light"
                    @click="isEditing ? doDelete(false) : submit()"
                  >
                    Save
                  </v-btn>
                </v-card-actions>
              </v-layout>
            </v-flex>
          </v-layout>
      </v-form>

      <confirmation-dialog
        :showDialog="dialog"
        @close="dialog = false"
        @proceed="isDelete ? deleteItem() : update()"
        :loading="isDelete ? deleteLoading : updateLoading"
        :message="isDelete ? 'Are you sure you want to delete this program ?' : 'Do you want to save changes ?'"
      />
    </v-card>
  </v-dialog>
</template>
<script type="text/javascript">
import formMixins from '@/mixins/form.js'
import { mapGetters, mapMutations } from 'vuex'
import programQueryMixins from '@/mixins/queries/admin/programQueries'
export default {
  mixins: [
    formMixins,
    programQueryMixins
  ],
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    formData: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    programId: Number,
    hasCurriculum: false
  },
  data: () => ({
    fields: [
      // {
      //   key: 'program_no',
      //   label: 'Program No.',
      //   type: 'number',
      //   classNames: 'xs12 md6 px-2',
      //   required: true
      // },
      // {
      //   key: 'program_code',
      //   classNames: 'xs12 md6 px-2',
      //   required: true
      // },
      // {
      //   key: 'program_name',
      //   classNames: 'xs12 md6 px-2',
      //   required: true
      // },
      // {
      //   key: 'program_status',
      //   choices: 'status',
      //   itemValue: 'id',
      //   classNames: 'xs12 md6 px-2',
      //   required: true
      // },
      // {
      //   key: 'program_description',
      //   textarea: true,
      //   classNames: 'xs12 px-2',
      //   required: true
      // }
      {
        key: 'program_name',
        label: 'Company Name',
        classNames: 'xs12 md6 px-2',
        required: true
      },
      {
        key: 'program_code',
        label: 'Type of Business',
        classNames: 'xs12 md6 px-2',
        required: true
      },
      {
        key: 'program_status',
        choices: 'status',
        itemValue: 'id',
        classNames: 'xs12 md6 px-2',
        required: true
      },
    ],
    statusItems: [
      'Active',
      'Inactive'
    ],
    errors: {},
    dialog: false,
    formInput: false,
    show: false,
    myImage: '',
    image: null,
    isShown: false,
    saveLoading: false,
    skipProgramFilteredQuery: false,
    dataList: [],
    updateLoading: false,
    formItem: {
      program_no: '',
      program_code: '',
      program_name: '',
      program_status: '',
      program_description: ''
    },
    skip: 0,
    take: 10,
    count: 0,
    deleteLoading: false,
    isDelete: false
  }),
  computed: {
    ...mapGetters('filters', ['search']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        return this.SET_SEARCH(value)
      }
    },
    choices () {
      return {
        status: this.statusItems
      }
    },
    isEditing () {
      return this.formData.is_edit
    },
    postApi () {
      if (this.isEditing) return 'api/curricula/update/program'
      return 'api/curricula/create/program'
    },
    deleteApi () {
      return `api/curricula/delete/program/${this.programId}`
    }
  },
  watch: {
    formData: {
      handler: function (val) {
        this.setImage()
      },
      deep: true
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_SEARCH']),
    doDelete (item) {
      this.isDelete = item
      this.dialog = true
    },
    escape () {
      this.$emit('close')
    },
    setImage () {
      if (this.formData) {
        if (!global._.isEmpty(this.formData[0].program_image) && !global._.isEqual(this.formData[0].program_image, 'undefined')) {
          this.myImage = `${process.env.VUE_APP_URL}/storage/${this.formData[0].program_image}`
        } else {
          this.myImage = ''
        }
      }
    },
    closeDialog () {
      this.saveLoading = false
      this.updateLoading = false
      this.$emit('close')
      this.errors = {}
      this.$refs.form.reset()
    },
    close: function () {
      this.saveLoading = false
      this.updateLoading = false
      if (global._.isEmpty(this.errors)) {
        this.$emit('close')
        if (!global._.isEmpty(this.form)) {
          this.$emit('refetch', this.form)
          this.$refs.form.reset()
        }
        this.dialog = false
        this.$refs.form.errors = this.errors
        this.myImage = ''
        if (global._.isEmpty(this.formData[0].program_no)) {
          this.form = {}
        }
      } else {
        this.$refs.form.errors = this.errors
      }
    },
    hasImage () {
      if (!global._.isUndefined(this.image.getChosenFile())) {
        this.myImage = this.image.generateDataUrl()
      } else {
        this.myImage = this.image
      }
    },
    imageRemoved () {
      this.myImage = ''
    },
    onFileSizeExceed (file) {
      this.snackbar('File size exceeds. Please choose a file smaller than 200kb.', 'main')
      this.isSnackbar = true
    },
    removeImage () {
      this.myImage = ''
    },
    async submit () {
      this.saveLoading = true
      const inputs = new FormData()
        inputs.append('program_image', this.image.getChosenFile())
        inputs.append('program_no', this.formData[0].program_no)
        inputs.append('program_code', this.formData[0].program_code)
        inputs.append('program_name', this.formData[0].program_name)
        inputs.append('program_status', this.formData[0].program_status)
        inputs.append('program_description', this.formData[0].program_description)
      this.saveData(inputs)
    },
    async update () {
      this.updateLoading = true
      let programImage = global._.isEmpty(this.myImage) ? '' : global._.isNull(this.image.chosenFile) ? this.formData[0].program_image : this.image.getChosenFile()
      if (global._.includes(programImage, 'uploads/programs')) {
        const inputs = new FormData()
          inputs.append('id', this.formData[0].id)
          inputs.append('hasImage', false)
          inputs.append('program_image', programImage)
          inputs.append('program_no', this.formData[0].program_no)
          inputs.append('program_code', this.formData[0].program_code)
          inputs.append('program_name', this.formData[0].program_name)
          inputs.append('program_status', this.formData[0].program_status)
          inputs.append('program_description', this.formData[0].program_description)
        this.saveData(inputs)
      } else {
        const inputs = new FormData()
          inputs.append('id', this.formData[0].id)
          inputs.append('program_image', programImage)
          inputs.append('program_no', this.formData[0].program_no)
          inputs.append('program_code', this.formData[0].program_code)
          inputs.append('program_name', this.formData[0].program_name)
          inputs.append('program_status', this.formData[0].program_status)
          inputs.append('program_description', this.formData[0].program_description)
        this.saveData(inputs)
      }
    },
    async deleteItem () {
      this.deleteLoading = true
      this.deleteData()
    }
  }
}
</script>
