<template>
  <v-container fluid>
    <v-breadcrumbs
      :items="breadcrumbItems"
      large
    >
      <template v-slot:item="{ item }">
        <v-breadcrumbs-item
          :to="item.to"
          :disabled="item.disabled"
        >
          <span :class="item.disabled ? 'grey--text' : 'blue--text'">{{ item.text }}</span>
        </v-breadcrumbs-item>
      </template>
      </v-breadcrumbs>
      <v-layout wrap justify-center align-center>
        <v-col xs="12" md="11">
          <header-component
            :isSearch="true"
            :isAdd="true"
            :isSwitched="false"
            :isFilter="true"
            @enter="doSearch"
            label="Search Client Code"
            hint="Enter Client Code"
            btnTitle="Add Client"
            @clickDialog="addItem()"
            @clear="clear()"
            @reset="resetFilters()"
          />
          <floating-card :titles="titleInfo"/>
          <v-card class="my-8">
           <!-- <v-card-title class="my-5" /> -->
             <v-layout wrap>
               <v-flex xs12>
                 <v-data-table
                    ref="table"
                    :headers="headers"
                    :items="items"
                    :page.sync="page"
                    :items-per-page="itemsPerPage"
                    @page-count="pageCount = $event"
                    :options.sync="options"
                    :server-items-length="count"
                    class="text-table-color"
                    hide-default-footer
                    :loading="currLoading"
                    loading-text="Loading... Please wait">
                    <template v-slot:header>
                      <!-- <thead v-show="hideCard">
                        <tr>
                          <th style="text-align: center;" :colspan="5">
                            Client
                          </th>
                          <th style="text-align: center;" :colspan="2">
                            Actions
                          </th>
                        </tr>
                      </thead> -->
                    </template>
                    <template v-slot:item.actions="{ item }">
                      <v-btn
                        depressed
                        small
                        color="main"
                        @click="seeRevisions(item)"
                        class="font-weight-light"
                        style="color: white; margin-right: 12px;">
                        View
                      </v-btn>
                      <v-btn
                        depressed
                        small
                        color="main"
                        @click="editItem(item)"
                        class="font-weight-light"
                        style="color: white; margin-right: 12px;">
                        Edit
                      </v-btn>
                      <v-btn
                        depressed
                        small
                        color="red"
                        @click="deleteItem(item)"
                        class="font-weight-light"
                        style="color: white;">
                        Delete
                      </v-btn>
                    </template>
                    <!-- <template v-slot:item.edit_actions="{ item }">
                      
                    </template> -->
                 </v-data-table>
                </v-flex>
                <v-flex xs12 class="text-center pt-3 pb-0">
                  <v-pagination
                    v-show="pageCount > 1"
                    v-model="page"
                    :length="pageCount"
                    :total-visible="10"
                  ></v-pagination>
                </v-flex>
               <v-flex xs12>
               <v-card-actions>
                  <!-- <span class="my-2 grey--text font-italic">Disclaimer: Programs with no available courses will not be visible to Applicants.</span> -->
                 <v-spacer />
                  <small>Total of <span class="blue--text">{{ count }} </span> <span>{{ items.length > 1 ? 'Items' : 'Item'}}</span></small>
               </v-card-actions>
               </v-flex>
             </v-layout>
          </v-card>
        </v-col>
      </v-layout>

    <program-curriculum-dialog
      :showDialog="dialog"
      @close="close"
      :formData="form"
      @refetch="refetch"
      :id="curriculumId"
      :hasRevision="hasRevision"
    />

    <v-snackbar
      top
      right
      v-model="isSnackbar"
      :color="color"
      class="caption">
      <v-card-actions class="ma-0 pa-0">
        {{ text }}
        <v-spacer />
        <v-btn
          color="white"
          text
          icon
          right
          @click="isSnackbar = false"
          class="caption">
          <v-icon>clear</v-icon>
        </v-btn>
      </v-card-actions>
    </v-snackbar>

  </v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import { mapGetters, mapMutations } from 'vuex'
import defaultMixins from '@/mixins/index'
import curriculumQueryMixins from '@/mixins/queries/admin/curriculumQueries'
export default {
  mixins: [
    curriculumQueryMixins,
    formMixins,
    defaultMixins
  ],
  data: () => ({
    loading: false,
    dialog: false,
    headers: [
      // {
      //   text: 'Code',
      //   value: 'curriculum_code',
      //   sortable: true,
      //   align: 'center'
      // },
      // {
      //   text: 'Scheme',
      //   value: 'scheme',
      //   sortable: true,
      //   align: 'center'
      // },
      // {
      //   text: 'Series',
      //   value: 'series_year',
      //   sortable: true,
      //   align: 'center'
      // },
      // {
      //   text: 'CMO No.',
      //   value: 'cmo_no',
      //   sortable: true,
      //   align: 'center'
      // },
      // {
      //   text: 'Subtitle',
      //   value: 'subtitle',
      //   sortable: true,
      //   align: 'center'
      // },
      // {
      //   text: '',
      //   value: 'actions',
      //   sortable: true,
      //   align: 'center'
      // },
      // {
      //   text: '',
      //   value: 'edit_actions',
      //   sortable: true,
      //   align: 'center'
      // }
      {
        text: 'Clients',
        value: 'curriculum_code',
        sortable: true,
      },
      {
        text: 'Type of business',
        value: 'scheme',
        sortable: true,
      },
      {
        text: 'Email Address',
        value: 'cmo_no',
        sortable: true,
      },
      {
        text: 'Company Website',
        value: 'subtitle',
        sortable: true,
      },
      // {
      //   text: 'Status',
      //   value: 'status',
      //   sortable: true,
      // },
      {
        text: 'Actions',
        value: 'actions',
        sortable: true,
      }
      // {
      //   text: '',
      //   value: 'edit_actions',
      //   sortable: true,
      // }
    ],
    items: [],
    form: [],
    defaultItem: {
      curriculum_code: '',
      scheme: '',
      cmo_no: '',
      subtitle: '',
      status: ''
    },
    skipProgramFilteredQuery: false,
    color: '',
    text: '',
    isSnackbar: false,
    // titleInfo: [{
    //   name: 'Client',
    //   icon: 'contact_page',
    //   color: 'main',
    //   flex: 'xs12'
    // }],
    skip: 0,
    take: 10,
    count: 0,
    curriculumId: null,
    skipCurriculumQuery: false,
    hasRevision: false,
    breadcrumbItems: [
      {
        text: 'Program',
        disabled: false,
        to: { name: 'program' }
      },
      {
        text: 'Client',
        disabled: true,
        to: { name: '' }
      }
    ],
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    options: {},
    currPage: null,
    prevPage: null,
    skipItems: null,
    takeItems: null
  }),
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.resetFilters()
    })
  },
  computed: {
    ...mapGetters('filters', ['search']),
    ...mapGetters('programs', ['programList']),
    ...mapGetters('curricula', ['curricula']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        this.$apollo.queries.curriculaWithFilter.refetch()
        return this.SET_SEARCH(value)
      }
    }
  },
  watch: {
    options: {
      handler (old, newx) {
        this.skipItems = global._.isUndefined(newx.itemsPerPage) ? 0 : newx.itemsPerPage
        this.takeItems = old.itemsPerPage
        this.prevPage = global._.isUndefined(newx.page) ? 0 : newx.page
        this.currPage = old.page
        let skip = this.sortSkipped(this.skipItems, this.currPage, old.itemsPerPage)
        let take = old.itemsPerPage
        this.skip = skip
        this.take = take
        this.currLoading = true
        this.$apollo.queries.curriculaWithFilter.refetch()
      },
      deep: true
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_SEARCH', 'RESET_FILTERS']),
    ...mapMutations('curricula', ['SET_REVISIONS', 'SET_PER_PROGRAM']),
    seeRevisions (item) {
      this.SET_PER_PROGRAM(item)
      setTimeout(() => {
        this.$router.push({ name: 'program-curriculum-revisions' })
      }, 300)
    },
    resetFilters () {
      this.RESET_FILTERS()
      this.clear()
    },
    setColor (item) {
      return item == 'Active' ? 'green' : 'red'
    },
    refetch (val) {
      this.currLoading = false
      if (!global._.isUndefined(val)) {
        if (val.curriculum) {
          this.snackbar(`${val.message}`, 'success')
        } else {
          this.snackbar(`${val.message}`, 'error')
        }
        this.$apollo.queries.curriculaWithFilter.refetch()
      }
    },
    clear () {
      this.setSearch = ''
    },
    doSearch (val) {
      this.setSearch = val
    },
    close () {
      this.dialog = false
    },
    addItem () {
      this.form = []
      this.form[0] = Object.assign({}, this.defaultItem)
      this.form.is_edit = false
      this.dialog = true
    },
    editItem (item) {
      this.hasRevision = item.has_revision
      this.curriculumId = item.id
      this.form = []
      this.form[0] = Object.assign({}, item)
      this.form.is_edit = true
      this.dialog = true
    },
    // onScroll (e) {
    //   const tableHeight = (this.$refs.table.$el.offsetHeight) - (e.srcElement.offsetHeight + 50)
    //   if (e.srcElement.scrollTop > tableHeight && !this.currLoading) {
    //     this.currLoading = true
    //     this.take++
    //     this.$apollo.queries.curriculaWithFilter.refetch()
    //   } else {
    //     this.take--
    //     this.$apollo.queries.curriculaWithFilter.refetch()
    //   }
    // },
    syBreadcrumbs () {
      this.breadcrumbItems[0].text = `${this.curricula.program_code}`
    }
  },
  mounted () {
    this.syBreadcrumbs()
  }
}
</script>
