<template>
  <v-dialog
    :value="showDialog"
    width="900"
    persistent
    v-esc="escape">
    <v-card>
      <v-card-actions>
        <div class="flex-grow-1">
          <v-card-title class="main--text">{{ isEditing ? 'Edit' : 'Add' }} Client Data</v-card-title>
        </div>
        <v-tooltip top>
        </v-tooltip>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-icon
              v-on="on"
              @click="doDelete(true)"
              v-show="isEditing && !hasClass"
              class="mx-2 pb-1"
              color="red">
              mdi-delete
            </v-icon>
          </template>
          <span>Delete</span>
        </v-tooltip>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              @click="closeDialog"
              text
              fab
              small>
              <v-icon
                color="black">
                mdi-close
              </v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-card-actions>

      <v-divider class="mx-3" height="4px" />
      <v-form class="pt-5 px-3"
        ref="form">
        <v-layout wrap justify-center align-center>
            <!-- <v-flex xs12 md6>
              <small>Revision No.
                <span class="pl-1" style="color: red;">*</span>
              </small>
              <v-text-field
                class="mx-2 mt-3"
                dense
                required
                type="number"
                v-model="formData.revision_no"
                :error-messages="errors['revision_no']"
              ></v-text-field>
            </v-flex> -->
            <v-flex xs12 md6>
              <small>Date
                <span class="pl-1" style="color: red;">*</span>
              </small>
              <v-text-field
                color="main"
                append-icon="mdi-event"
                class="mx-2 mt-0"
                type="date"
                :masked="true"
                v-model="formData.revision_date"
                :error-messages="errors['revision_date']">
              </v-text-field>
            </v-flex>
            <v-flex xs12 md6>
              <small>Links
                <span class="pl-1" style="color: red;">*</span>
              </small>
              <v-text-field
                color="main"
                append-icon="mdi-event"
                class="mx-2 mt-0"
                type="text"
                :error-messages="errors['effective_school_year_from']">
              </v-text-field>
            </v-flex>
            <!-- <v-flex xs12 md6>
              <small>Effective S.Y. From
                <span class="pl-1" style="color: red;">*</span>
              </small>
              <v-text-field
                color="main"
                append-icon="mdi-event"
                class="mx-2 mt-0"
                type="number"
                placeholder="YYYY"
                v-model="formData.effective_school_year_from"
                :error-messages="errors['effective_school_year_from']">
              </v-text-field>
            </v-flex> -->
            <!-- <v-flex xs12 md6>
              <small>Effective S.Y. To
                <span class="pl-1" style="color: red;">*</span>
              </small>
              <v-text-field
                color="main"
                append-icon="mdi-event"
                class="mx-2 mt-0"
                type="number"
                disabled
                placeholder="YYYY"
                v-model="formData.effective_school_year_to"
                :error-messages="errors['effective_school_year_to']">
              </v-text-field>
            </v-flex> -->
            <v-flex xs12>
              <small> Data Platform </small>
              <!-- <small>Remarks</small> -->
              <v-text-field
                color="main"
                append-icon="mdi-event"
                class="mx-2 mt-0"
                v-model="formData.remarks">
              </v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-layout justify-end fill-height align-end class="py-4">
                <v-card-actions>
                  <v-spacer />
                  <v-btn
                    :loading="saveLoading"
                    color="main"
                    width="100px"
                    class="white--text mr-3 mt-2 text-none font-weight-light"
                    @click="isEditing ? doDelete(false) : submit()"
                  >
                    Save
                  </v-btn>
                </v-card-actions>
              </v-layout>
            </v-flex>
          </v-layout>
      </v-form>

      <confirmation-dialog
        :showDialog="dialog"
        @close="dialog = false"
        @proceed="isDelete ? deleteItem() : update()"
        :loading="updateLoading"
        :message="isDelete ? 'Are you sure you want to delete this revision ?' : 'Do you want to save changes ?'"
      />
    </v-card>
  </v-dialog>
</template>
<script type="text/javascript">
import formMixins from '@/mixins/form.js'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    formMixins
  ],
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    formData: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    id: {
      type: [String, Number]
    },
    hasClass: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    errors: {},
    dialog: false,
    saveLoading: false,
    dataList: [],
    updateLoading: false,
    defaultItem: {
      revision_no: '',
      revision_date: '',
      remarks: '',
      effective_school_year_from: '',
      effective_school_year_to: ''
    },
    skip: 0,
    take: 10,
    count: 0,
    form: [],
    link: '',
    isDelete: false
  }),
  computed: {
    ...mapGetters('filters', ['search']),
    ...mapGetters('curricula', ['per_program', 'curricula', 'revisions']),
    ...mapGetters('form', ['curriculum', 'course_count']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        return this.SET_SEARCH(value)
      }
    },
    isEditing () {
      return this.formData.is_edit
    },
    postApi () {
      if (this.isEditing) return 'api/curricula/update/revision'
      return 'api/curricula/create/revision'
    },
    deleteApi () {
      return `api/curricula/delete/revision/${this.id}`
    }
  },
  watch: {
    'formData.effective_school_year_from' (val) {
      if (val) {
        this.$set(this.formData, 'effective_school_year_to', Number(val) + 1)
      } else {
        this.$set(this.formData, 'effective_school_year_to', null)
      }
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_SEARCH']),
    doDelete (item) {
      this.isDelete = item
      this.dialog = true
    },
    doExport () {
      this.link = `${process.env.VUE_APP_URL}api/exports/pdf/curriculum_prospectus/${this.per_program.id}/${this.per_program.program_id}/${this.id}`
    },
    escape () {
      this.$emit('close')
    },
    closeDialog () {
      this.saveLoading = false
      this.updateLoading = false
      this.$emit('close')
      this.errors = {}
      this.$refs.form.reset()
    },
    close: function () {
      this.saveLoading = false
      this.updateLoading = false
      if (global._.isEmpty(this.errors)) {
        this.$emit('close')
        if (!global._.isEmpty(this.form)) {
          this.$emit('refetch', this.form)
          this.$refs.form.reset()
        }
        this.dialog = false
        this.$refs.form.errors = this.errors
      } else {
        this.$refs.form.errors = this.errors
      }
    },
    submit () {
      this.saveLoading = true
      const inputs = {
        ...this.formData,
        curriculum_id: this.per_program.id,
        revision_id: this.formData.id
      }
      this.saveData(inputs)
    },
    update () {
      this.updateLoading = true
      const inputs = {
        ...this.formData,
        curriculum_id: this.per_program.id,
        revision_id: this.formData.id
      }
      this.saveData(inputs)
    },
    deleteItem () {
      this.updateLoading = true
      this.deleteData()
    }
  }
}
</script>
