<template>
  <v-container fluid>
    <v-layout wrap justify-center>
      <v-col xs="12" md="11">
        <header-component
          :isSearch="true"
          :isExport="false"
          :isAdd="true"
          :isSwitched="false"
          :isFilter="true"
          @enter="doSearch"
          label="Search Company"
          hint="Enter Company Name"
          btnTitle="Add Company"
          @clickDialog="addClicked()"
          @clear="clear()"
        />
        <floating-card :titles="titleInfo"/>
        <v-card class="my-8">
         <!-- <v-card-title class="my-5" /> -->
           <v-layout wrap>
             <v-flex xs12>
               <v-data-table
                  ref="table"
                  :headers="headers"
                  :items="dataList"
                  :page.sync="page"
                  :items-per-page="itemsPerPage"
                  @page-count="pageCount = $event"
                  class="text-table-color"
                  hide-default-footer
                  :loading="loading"
                  :options.sync="options"
                  loading-text="Loading... Please wait"
                  :server-items-length="count">
                  <template v-slot:item.program_status="{ item }">
                    <v-chip
                       :color="setColor(item.program_status)"
                       dark
                       label
                     >
                       {{ item.program_status }}
                    </v-chip>
                  </template>
                  <!-- <template v-slot:item.edit_action="{ item }">
                    
                  </template> -->
                  <template v-slot:item.action="{ item }">
                    <v-btn
                      depressed
                      small
                      color="main"
                      @click="SeeCurriculum(item)"
                      class="font-weight-light"
                      style="color: white; margin-right: 12px;">
                      View
                    </v-btn>
                    <v-btn
                      depressed
                      small
                      color="main"
                      @click="editItem(item)"
                      class="font-weight-light"
                      style="color: white; margin-right: 12px;">
                      Edit
                    </v-btn>
                    <v-btn
                      depressed
                      small
                      color="red"
                      @click="deleteItem(item)"
                      class="font-weight-light"
                      style="color: white;">
                      Delete
                    </v-btn>
                  </template>
               </v-data-table>
              </v-flex>
              <v-flex xs12 class="text-center pt-3 pb-0">
                <v-pagination
                  v-show="pageCount > 1"
                  v-model="page"
                  :length="pageCount"
                  :total-visible="10"
                  color="main"
                ></v-pagination>
              </v-flex>
             <v-flex xs12>
             <v-card-actions>
               <v-spacer />
              <small>Total of <span class="blue--text">{{ count }} </span> <span>{{ dataList.length > 1 ? 'Items' : 'Item'}}</span></small>
             </v-card-actions>
             </v-flex>
           </v-layout>
        </v-card>
      </v-col>
    </v-layout>

    <program-dialog
      :showDialog="dialog"
      @close="close"
      :formData="form"
      @refetch="refetch"
      :programId="programId"
      :hasCurriculum="hasCurriculum"
    />

    <v-snackbar
      top
      right
      v-model="isSnackbar"
      :color="color"
      class="caption">
      <v-card-actions class="ma-0 pa-0">
        {{ text }}
        <v-spacer />
        <v-btn
          color="white"
          text
          icon
          right
          @click="isSnackbar = false"
          class="caption">
          <v-icon>clear</v-icon>
        </v-btn>
      </v-card-actions>
    </v-snackbar>

  </v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import { mapGetters, mapMutations } from 'vuex'
import defaultMixins from '@/mixins/index'
import programQueryMixins from '@/mixins/queries/admin/programQueries'
export default {
  mixins: [
    defaultMixins,
    formMixins,
    programQueryMixins
  ],
  data: () => ({
    loading: false,
    dialog: false,
    headers: [
      // {
      //   text: 'Program No.',
      //   value: 'program_no',
      //   sortable: true,
      //   align: 'center',
      //   title: 'Program No.',
      //   name: ''
      // },
      // {
      //   text: 'Code',
      //   value: 'program_code',
      //   sortable: true,
      //   align: 'center',
      //   title: 'Code',
      //   name: ''
      // },
      {
        text: 'Company Name',
        value: 'program_name',
        sortable: true,
        title: 'Company Name',
        name: ''
      },
      {
        text: 'Type of Business',
        value: 'program_code',
        sortable: true,
        title: 'Type of Business',
        name: ''
      },
      {
        text: 'Status',
        value: 'program_status',
        sortable: true,
        title: 'Status',
        name: ''
      },
      {
        text: 'Action',
        value: 'action',
        sortable: true
      }
      // {
      //   text: '',
      //   value: 'edit_action',
      //   sortable: true
      // }
    ],
    dataList: [],
    form: [],
    formItem: {
      program_no: '',
      program_code: '',
      program_name: '',
      program_status: '',
      program_description: ''
    },
    skipProgramFilteredQuery: false,
    color: '',
    text: '',
    isSnackbar: false,
    // titleInfo: [{
    //   name: 'Company',
    //   icon: 'business',
    //   color: 'main',
    //   flex: 'xs12'
    // }],
    skip: 0,
    take: 10,
    count: 0,
    programId: null,
    hasCurriculum: false,
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    skipItems: null,
    takeItems: null,
    currPage: null,
    prevPage: null,
    options: {}
  }),
  computed: {
    ...mapGetters('filters', ['search']),
    ...mapGetters('programs', ['programList']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        return this.SET_SEARCH(value)
      }
    }
  },
  watch: {
    options: {
      handler (old, newx) {
        this.skipItems = global._.isUndefined(newx.itemsPerPage) ? 0 : newx.itemsPerPage
        this.takeItems = old.itemsPerPage
        this.prevPage = global._.isUndefined(newx.page) ? 0 : newx.page
        this.currPage = old.page
        let skip = this.sortSkipped(this.skipItems, this.currPage, old.itemsPerPage)
        let take = old.itemsPerPage
        this.loading = true
        this.skip = skip
        this.take = take
        this.$apollo.queries.programsWithFilter.refetch()
      },
      deep: true
    },
    setSearch (val) {
      this.$apollo.queries.programsWithFilter.refetch()
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_SEARCH']),
    ...mapMutations('curricula', ['SET_CURRICULA']),
    SeeCurriculum (item) {
      this.SET_CURRICULA(item)
      setTimeout(() => {
        this.$router.push({ name: 'program-curriculum' })
      }, 300)
    },
    setColor (item) {
      return item == 'Active' ? 'green' : 'red'
    },
    refetch (val) {
      this.loading = false
      if (!global._.isUndefined(val)) {
        if (val.deleted_program) {
          this.snackbar(`${val.message}`, 'error')
        } else {
          this.snackbar(`${val.message}`, 'success')
        }
        this.$apollo.queries.programsWithFilter.refetch()
      }
    },
    clear () {
      this.setSearch = ''
    },
    doSearch (val) {
      this.setSearch = val
    },
    close () {
      this.dialog = false
    },
    addClicked () {
      this.form = []
      this.form[0] = Object.assign({}, this.formItem)
      this.form.is_edit = false
      this.dialog = true
    },
    editItem (item) {
      this.hasCurriculum = item.has_curriculum
      this.programId = item.id
      this.form = []
      this.form[0] = Object.assign({}, item)
      this.form.is_edit = true
      this.dialog = true
    }
    // onScroll (e) {
    //   const tableHeight = (this.$refs.table.$el.offsetHeight) - (e.srcElement.offsetHeight + 50)
    //   if (e.srcElement.scrollTop > tableHeight && !this.loading) {
    //     this.loading = true
    //     this.take++
    //     this.$apollo.queries.programsWithFilter.refetch()
    //   } else {
    //     this.take--
    //     this.$apollo.queries.programsWithFilter.refetch()
    //   }
    // }
  }
}
</script>
