<template>
  <v-dialog
    :value="showDialog"
    width="900"
    persistent
    v-esc="escape">
    <v-card>
      <v-card-actions>
        <div class="flex-grow-1">
          <v-card-title class="main--text">{{ formData.is_edit ? 'Edit' : 'Add' }} Client</v-card-title>
        </div>
        <!-- <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              v-show="formData.is_edit && !hasRevision"
              @click="isDeleteItem(true)"
              text
              fab>
              <v-icon medium color="red">mdi-delete</v-icon>
            </v-btn>
          </template>
          <span>Delete</span>
        </v-tooltip> -->
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              @click="closeDialog"
              text
              fab>
              <v-icon medium color="red">mdi-close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-card-actions>

      <v-divider class="mx-3" height="4px" />
      <v-form class="pt-5 px-3"
        ref="form">
        <v-layout wrap>
            <v-flex
              xs12
              :key="index"
              v-for="(item, index) in formData"
            >
              <v-layout wrap>
                <field-component
                  :field="field"
                  :key="field.key"
                  :form="formData[index]"
                  :errors="errors"
                  :item-idx="index"
                  :choices="choices"
                  v-for="field in fields"
                ></field-component>
              </v-layout>
            </v-flex>
            <v-flex xs12>
              <v-layout justify-end fill-height align-end class="py-4">
                <v-card-actions>
                  <v-spacer />
                  <v-btn
                    :loading="saveLoading"
                    color="main"
                    width="100px"
                    class="white--text mr-3 mt-2 text-none font-weight-light"
                    @click="formData.is_edit ? isDeleteItem(false) : submit()"
                  >
                    Save
                  </v-btn>
                </v-card-actions>
              </v-layout>
            </v-flex>
          </v-layout>
      </v-form>

      <confirmation-dialog
        :showDialog="dialog"
        @close="dialog = false"
        @proceed="isDelete ? deleteItem() : edit()"
        :loading="deleteLoading"
        :message="isDelete ? 'Are you sure you want to delete this curriculum ?' : 'Do you want to save changes ?'"
      />

      <v-snackbar
        top
        right
        v-model="isSnackbar"
        :color="color"
        class="caption"
        timeout="1500">
        <v-card-actions class="ma-0 pa-0">
          {{ text }}
          <v-spacer />
          <v-btn
            color="white"
            text
            icon
            right
            @click="isSnackbar = false"
            class="caption">
            <v-icon>clear</v-icon>
          </v-btn>
        </v-card-actions>
      </v-snackbar>
    </v-card>
  </v-dialog>
</template>
<script type="text/javascript">
import formMixins from '@/mixins/form.js'
import { mapGetters, mapMutations } from 'vuex'
import curriculumQueryMixins from '@/mixins/queries/admin/curriculumQueries'
export default {
  mixins: [
    curriculumQueryMixins,
    formMixins
  ],
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    formData: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    id: {
      type: [String, Number]
    },
    hasRevision: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    fields: [
      // {
      //   key: 'curriculum_code',
      //   classNames: 'xs12 md6 px-2',
      //   required: true
      // },
      // {
      //   key: 'scheme',
      //   classNames: 'xs12 md6 px-2'
      // },
      // {
      //   key: 'cmo_no',
      //   label: 'CMO No.',
      //   classNames: 'xs12 md6 px-2',
      //   required: true
      // },
      // {
      //   key: 'series_year',
      //   label: 'Series',
      //   classNames: 'xs12 md6 px-2'
      // },
      // {
      //   key: 'subtitle',
      //   classNames: 'xs12 md6 px-2'
      // },
      // {
      //   key: 'status',
      //   label: 'Status',
      //   itemText: 'name',
      //   itemValue: 'status',
      //   choices: 'Statuses',
      //   classNames: 'xs12 md6 px-2',
      //   required: true
      // }
      {
        key: 'curriculum_code',
        label: 'Clients',
        classNames: 'xs12 md6 px-2',
        required: true
      },
      {
        key: 'scheme',
        label: 'Type of business',
        classNames: 'xs12 md6 px-2',
        required: true
      },
      {
        label: 'Email Address',
        key: 'cmo_no',
        classNames: 'xs12 md6 px-2',
        required: true
      },
      {
        label: 'Company Website',
        key: 'subtitle',
        classNames: 'xs12 md6 px-2',
        required: true
      },
    ],
    errors: {},
    dialog: false,
    saveLoading: false,
    dataList: [],
    updateLoading: false,
    defaultItem: {
      curriculum_code: '',
      scheme: '',
      cmo_no: '',
      subtitle: ''
    },
    skip: 0,
    take: 10,
    count: 0,
    isDelete: false,
    deleteLoading: false,
    link: '',
    isSnackbar: false,
    color: '',
    text: ''
  }),
  computed: {
    ...mapGetters('filters', ['search']),
    ...mapGetters('curricula', ['curricula', 'per_program']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        return this.SET_SEARCH(value)
      }
    },
    choices () {
      return {
        Statuses: [{
          name: 'Active',
          status: true
        },
        {
          name: 'Inactive',
          status: false
        }]
      }
    },
    postApi () {
      if (this.formData.is_edit) return 'api/curricula/update/program/curriculum'
      return 'api/curricula/create/program/curriculum'
    },
    deleteApi () {
      return `api/curricula/delete/program/curriculum/${this.id}`
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_SEARCH']),
    isDeleteItem (item) {
      this.isDelete = item
      if (this.isDelete) {
        if (this.hasRevision) {
          this.snackbar(`Cannot be deleted. Please delete course/s first.`, 'info')
        } else {
          this.dialog = true
        }
      } else {
        this.dialog = true
      }
    },
    escape () {
      this.$emit('close')
    },
    closeDialog () {
      this.saveLoading = false
      this.updateLoading = false
      this.$emit('close')
      this.errors = {}
    },
    close: function () {
      this.saveLoading = false
      this.updateLoading = false
      if (global._.isEmpty(this.errors)) {
        this.$emit('close')
        if (!global._.isEmpty(this.form)) {
          this.$emit('refetch', this.form)
          this.$refs.form.reset()
        }
        this.dialog = false
        this.$refs.form.errors = this.errors
      } else {
        this.$refs.form.errors = this.errors
      }
    },
    submit () {
      this.saveLoading = true
      const inputs = {
        ...this.formData[0],
        program_id: this.curricula.id
      }
      this.saveData(inputs)
    },
    edit () {
      this.updateLoading = true
      let payload = {
        ...this.formData[0],
        curriculum_id: this.formData[0].id
      }
      this.saveData(payload)
    },
    deleteItem () {
      this.deleteData()
    }
  }
}
</script>
