<template>
<v-container fluid>
  <v-layout wrap>
    <v-flex xs12>
      <v-layout wrap>
        <v-flex xs12 md6>
        <span class="font-weight-medium subtitle-1 mx-2">Father</span>
          <fathers-info
            :fields="fathersFields"
            :form="fathersForm"
          />
        </v-flex>
        <v-flex xs12 md6>
        <span class="font-weight-medium subtitle-1 mx-2">Mother</span>
          <mothers-info
            :fields="mothersFields"
            :form="mothersForm"
          />
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
  
  <v-layout wrap
    class="mt-12">
    <v-flex xs12>
      <v-layout wrap>
        <v-flex xs12>
        <span class="font-weight-medium subtitle-1 mx-2">Guardian</span>
          <guardians-info
            :fields="guardianFields"
            :form="guardiansForm"
          />
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</v-container>
</template>
<script type="text/javascript">
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      fathersFields: [
        {
          key: 'fathers_name',
          label: 'Name',
          disabled: true,
          hint: 'Surname, First Name, Middle Name',
          classNames: 'xs12 px-2'
        },
        {
          key: 'fathers_age',
          label: 'Age',
          disabled: true,
          classNames: 'xs12 px-2'
        },
        {
          key: 'fathers_contact_no',
          label: 'Contact Number',
          type: 'number',
          mask: '###-###-####',
          prefix: "+63",
          disabled: true,
          classNames: 'xs12 px-2'
        },
        {
          key: 'fathers_occupation',
          label: 'Occupation',
          disabled: true,
          classNames: 'xs12 px-2'
        },
        {
          key: 'father_works_abroad',
          label: 'Working Abroad',
          choices: 'type',
          disabled: true,
          classNames: 'xs12 px-2'
        },
      ],
      mothersFields: [
        {
          key: 'mothers_name',
          label: 'Name',
          disabled: true,
          hint: 'Surname, First Name, Middle Name',
          classNames: 'xs12 px-2'
        },
        {
          key: 'mothers_age',
          label: 'Age',
          disabled: true,
          classNames: 'xs12 px-2'
        },
        {
          key: 'mothers_contact_no',
          label: 'Contact Number',
          type: 'number',
          mask: '###-###-####',
          prefix: "+63",
          disabled: true,
          classNames: 'xs12 px-2'
        },
        {
          key: 'mothers_occupation',
          label: 'Occupation',
          disabled: true,
          classNames: 'xs12 px-2'
        },
        {
          key: 'mother_works_abroad',
          label: 'Working Abroad',
          choices: 'type',
          disabled: true,
          classNames: 'xs12 px-2'
        }
      ],
      guardianFields: [
        {
          key: 'guardians_name',
          label: 'Name',
          disabled: true,
          hint: 'Surname, First Name, Middle Name',
          classNames: 'xs12 md6 px-2'
        },
        {
          key: 'relation',
          disabled: true,
          classNames: 'xs12 md6 px-2'
        },
        {
          key: 'contact_no',
          type: 'number',
          mask: '###-###-####',
          prefix: "+63",
          disabled: true,
          classNames: 'xs12 md6 px-2'
        },
        {
          key: 'address',
          disabled: true,
          hint: 'House/Block/Lot. No., Street, Subd./Village, Barangay, City/Municipality, Province',
          classNames: 'xs12 md6 px-2'
        },
        {
          key: 'annual_income',
          label: 'Annual Income of Family(Check one below)',
          choices: 'income',
          disabled: true,
          classNames: 'xs12 px-2'
        }
      ],
      fathersForm: [],
      mothersForm: [],
      guardiansForm: []
    }
  },
  computed: {
    ...mapGetters('applicants', ['family']),
    choices () {
      return {
        type: ['Yes', 'No'],
        income: ['below P60,000', 'P61,000-P100,000', 'P101,000-P300,000', 'P301,000-P500,000', 'Above P700,000']
      }
    }
  },
  methods: {
    getForm () {
      if (this.family) {
        let data = global._.pick(this.family, 'fathers_name', 'fathers_age', 'fathers_contact_no', 'fathers_occupation', 'father_works_abroad')
        let mothersData = global._.pick(this.family, 'mothers_name', 'mothers_age', 'mothers_contact_no', 'mothers_occupation', 'mother_works_abroad')
        let guardiansData = global._.pick(this.family, 'mothers_name', 'mothers_age', 'mothers_contact_no', 'mothers_occupation', 'mother_works_abroad')
        this.fathersForm[0] = Object.assign({}, data)
        this.mothersForm[0] = Object.assign({}, mothersData)
        this.guardiansForm[0] = Object.assign({}, guardiansData)
      } else {
        this.fathersForm.push({
          fathers_name: null,
          fathers_age: null,
          fathers_contact_no: null,
          fathers_occupation: null,
          father_works_abroad: null
        })
        this.mothersForm.push({
          mothers_name: null,
          mothers_age: null,
          mothers_contact_no: null,
          mothers_occupation: null,
          mother_works_abroad: null
        })
        this.guardiansForm.push({
          guardians_name: null,
          relation: null,
          contact_no: null,
          address: null,
          annual_income: null
        })
      }
    }
  },
  watch: {
    '$route': 'getForm'
  },
  created () {
    this.getForm()
  }
}
</script>
