<template>
<v-layout wrap>
  <v-flex
    xs12
    :key="index"
    v-for="(item, index) in form"
    >
    <v-layout wrap justify-center align-center
      class="mt-12">
      <field-component
        :field="field"
        :key="field.key"
        :form="form[index]"
        :errors="errorData"
        :item-idx="index"
        :choices="choices"
        v-for="field in fields"
        @input="Input"
      ></field-component>
    </v-layout>
  </v-flex>
</v-layout>
</template>
<script type="text/javascript">
import formMixins from '@/mixins/form.js'
import { mapGetters } from 'vuex'
export default {
  props: {
    form: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    fields: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    }
  },
  mixins: [
    formMixins
  ],
  data () {
    return {
      errors: {}
    }
  },
  computed: {
    errorData () {
      return this.errors
    },
    choices () {
      return {
        type: ['Yes', 'No']
      }
    }
  },
  methods: {
    Input (value) {
      this.$emit('input', value)
    }
  }
}
</script>
