.caption-2
  font-size: .60rem !important

.caption-3
  font-size: .40rem !important

.login-background
  background: url('../src/assets/images/hp_login_page.png') !important
  background-repeat: no-repeat !important
  background-size: cover !important
  z-index: 0 !important

.login-container
  position: relative !important
  height: 100% !important
  overflow: hidden !important

.login-container::before
  position: fixed !important
  content: "" !important
  left: 45% !important
  // background: #F47927 !important
  background: #446597 !important
  height: 100em !important
  transform: scaleY(1.5) skew(-86%deg, 15deg) !important
  width: 100em !important

/*------------------svg-animated-bg-start-------------------*/

svg#nav_blob{
  width: 35rem
  position: absolute
  bottom: -3%
  right: -50%
}

#svg_circ {
  animation: circleanim 5s ease-in-out infinite alternate
}

@keyframes circleanim {
  from {
    transform: translate(0, 0)
  }
  to {
    transform: translate(5%, -5%)
  }
}

#svg_phaser1 {
  animation: phasersanim 10s ease-in-out infinite alternate
}

#svg_phaser2 {
  animation: phasersanim 2s ease-in-out infinite alternate
}

#svg_phaser3 {
  animation: phasersanim 5s ease-in-out infinite alternate
}

@keyframes phasersanim {
  from {
    transform: translate(0, 0)
  }
  to {
    transform: translate(10%, -10%)
  }
}

#svg_line1 {
  animation: lineanim1 15s ease-in-out infinite alternate
}

#svg_line2 {
  animation: lineanim2 20s ease-in-out infinite alternate
}

@keyframes lineanim1 {
  from {
    transform: translate(0, 0)
  }
  to {
    transform: translate(-10%, 10%)
  }
}

@keyframes lineanim2 {
  from {
    transform: translate(0, 0)
  }
  to {
    transform: translate(10%, -10%)
  }
}

#svg_blob1 {
  animation: blobanim 10s ease-in-out infinite alternate
}

#svg_blob2 {
  animation: blobanim 20s ease-in-out infinite alternate
}

@keyframes blobanim {
  from {
    transform: scaleX(1)
  }
  to {
    transform: scaleX(1.2)
  }
}

/*------------------svg-animated-bg-end-------------------*/
//------------------- Footer -----------------------------

a#footerLink
  color: white !important
  text-decoration: none

a#footerLink:hover
  text-decoration: underline

//------------------- Footer -----------------------------

.caption-1
  font-size: 11px !important

.global-color
  // color: #F47927 !important
  color: #446597 !important

.title-color
  // color: #DC5101 !important
  color: #3B5676 !important

.croppa-container.style
  background-color: #E0E0E0 !important

.croppa-container.size
  width: 205px !important
  height: 205px !important

.title-2
  font-size: 28px !important

.title-1
  font-size: 23px !important

.background-color
  // background-color: #F47927 !important
  background-color: #446597 !important
  background-repeat: no-repeat !important
  background-size: cover !important

.back-btn
  position: absolute !important

.back-btn-margin
  margin-top: 2px !important
  margin-bottom: 2px !important

.v-card > *:last-child:not(.v-btn):not(.v-chip) a {
    text-decoration: none
}

.pointer
  cursor: pointer

.btn-position
  position: absolute !important
  top: 20px !important
  left: 15px !important

.dropdown_white label, .dropdown_white i, .dropdown_white .v-select__selection.v-select__selection--comma
  color: white !important
  font-weight: 500

form.dense > div
  margin-bottom: -2rem

.float-card
  position: absolute !important
  margin-top: -3% !important
  color: white !important
  z-index: 2 !important

.menu:hover
  // background-color: #7d390c !important
  background-color: #3B5676 !important
  opacity: 0.8 !important

.router-link-exact-active
  // background-color: #7d390c !important
  // background-color: #3B5676 !important
  cursor: pointer !important
  border-radius: 5px !important

.group-menu:hover
  background-color: transparent !important
  opacity: 0.8 !important

.list-index
  z-index: 3 !important

.balloons-index
  z-index: 0 !important

.nav-index
  z-index: 0 !important

.footer-index
  opacity: 0.8 !important
  z-index: 1 !important

.text-decor
  text-decoration: none !important

.filterColor
  // background-color: #F47927 !important
  background-color: #446597 !important
  border: 1px solid white !important
  border-radius: 5px !important

.tab
  overflow: hidden !important

.tab.active
  z-index: 40 !important
  position: relative !important
  padding-bottom: 1px !important
  // background-color: #F47927 !important
  background-color: #446597 !important

.range-box
  box-sizing: border-box !important
  width: 100% !important

.card-menu:hover
  // background-color: #F47927 !important
  background-color: #446597 !important
  opacity: 0.8 !important

.tabColor
  // background-color: #F47927 !important
  background-color: #446597 !important

::-webkit-scrollbar {
  width: 6px  !important
}
::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px #f47b4a !important
    -webkit-box-shadow: inset 0 0 6px #555 !important
}
::-webkit-scrollbar-thumb {
    // -webkit-box-shadow: inset 0 0 50px #f47b4a !important
    -webkit-box-shadow: inset 0 0 50px #555 !important
}

.table-overlay
  // background: #F47927
  background: #446597
  width: 250px
  left: 1.5rem
  top: -1.5rem
  position: absolute

.full-width-table
  width: -webkit-fill-available
  width: -moz-available
  max-height: 30rem
  overflow-x: hidden

.break-word
  word-break: break-word !important

.before-enter
  opacity: 0

.enter
  transition: opacity 2s ease

.spacing
  padding-top: 0.9px !important
  padding-bottom: 0.9px !important

.card-border
  border-radius: 20px !important

.selection
  background-color: unset !important

.reveal
  align-items: center !important
  bottom: 0  !important
  justify-content: center !important
  opacity: .8  !important
  position: absolute !important
  width: 100% !important

#forgot-password:hover
  text-decoration: underline !important

.applicantProgram::before
  content: ''
  position: absolute
  // background-color: #f47927
  background-color: #446597
  width: 15px
  height: -webkit-fill-available

.email-btn
  bottom: 85px !important

.footer-margin
  margin-right: 150px !important

th
  background-color: #446597 !important
  color: white !important
  font-size: 14px !important
  text-transform: uppercase
  font-weight: 400
  border: 1px solid white
  // vertical-align: middle

// th:not(:last-child)
//   border-left: 1px solid white

.primary--text
  color: #446597 !important

.login-custom-container
  height: 33em !important
  max-width: 95% !important
  padding: 2px 50px !important

// .form-container
//   padding: 12px

// .elevation-5 .v-card .v-sheet .theme--light .rounded-0
//   padding: 50px !important

.v-data-table-header__icon
  color: white !important

td
  color: #555

.tab-active
  color: #446597 !important

.tab-active:hover
  color: #446597 !important

// .v-application .primary--text 
//     color: none !important;;
//     caret-color: none !important;;

// .v-application .primary--text 
//   color: #446597 !important;