<template>
  <v-container fluid class="pb-0 mb-0">
    <v-layout wrap justify-center align-center>
      <v-flex xs12 md8>
        <v-autocomplete
          :items="types"
          v-model="setAccountType"
          clearable
          label="Select Type of Account"
          outlined
          hide-no-data
          return-string
          dense
          deletable-chips
          class="mx-2"
          clear-icon="mdi-close-circle"
        />
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import { GET_FEE_TYPES } from '@/graphql/admin/queries'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    formMixins
  ],
  data: () => ({
    types: ['Finance', 'MTAC']
  }),
  computed: {
    ...mapGetters('filters', ['account_type']),
    setAccountType: {
      get: function () {
        return this.account_type
      },
      // setter
      set: function (value) {
        return this.SET_ACCOUNT_TYPE(value)
      }
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_ACCOUNT_TYPE'])
  }
}
</script>
