<template>
  <v-container fluid class="pb-0 mb-0">
    <v-layout wrap justify-center align-center>
      <v-flex xs12 md8>
        <v-autocomplete
          :items="discounts"
          v-model="setDiscountType"
          clearable
          label="Select Type of Discount"
          outlined
          item-text="name"
          item-value="id"
          hide-no-data
          return-string
          multiple
          dense
          chips
          deletable-chips
          class="mx-2"
          clear-icon="mdi-close-circle"
        />
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import { GET_DISCOUNTS } from '@/graphql/admin/queries'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    formMixins
  ],
  data: () => ({
    discounts: []
  }),
  computed: {
    ...mapGetters('filters', ['discount_type']),
    setDiscountType: {
      get: function () {
        return this.discount_type
      },
      // setter
      set: function (value) {
        return this.SET_DISCOUNT_TYPE(value)
      }
    }
  },
  apollo: {
    discountQuery: {
      query: GET_DISCOUNTS,
      result ({ data }) {
        if (!global._.isUndefined(data)) {
          this.discounts = data.discountQuery.discounts
        }
      }
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_DISCOUNT_TYPE'])
  }
}
</script>
