<template>
  <v-container fluid class="pb-0 mb-0">
    <v-layout wrap justify-center align-center>
      <v-flex xs12 md8>
        <v-autocomplete
          :items="types"
          v-model="setFeeType"
          clearable
          label="Select Type of Fee"
          outlined
          item-text="name"
          item-value="fee_type_id"
          hide-no-data
          return-string
          dense
          deletable-chips
          class="mx-2"
          clear-icon="mdi-close-circle"
        />
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import { GET_FEE_TYPES } from '@/graphql/admin/queries'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    formMixins
  ],
  data: () => ({
    types: []
  }),
  computed: {
    ...mapGetters('filters', ['fee_type_id']),
    setFeeType: {
      get: function () {
        return this.fee_type_id
      },
      // setter
      set: function (value) {
        return this.SET_FEE_TYPE(value)
      }
    }
  },
  apollo: {
    feeTypesQuery: {
      query: GET_FEE_TYPES,
      result ({ data }) {
        let fees = []
        if (!global._.isUndefined(data)) {
          global._.forEach(data.feeTypesQuery, function (value) {
            fees.push({
              fee_type_id: value.id,
              name: value.name
            })
          })
          this.types = fees
        }
      }
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_FEE_TYPE'])
  }
}
</script>
