<template>
  <v-container fluid class="pb-0 mb-0">
    <v-layout wrap justify-center align-center>
      <v-flex xs12 md8>
        <v-autocomplete
          :items="paymentModes"
          v-model="setPaymentMode"
          clearable
          label="Select Payment Mode"
          outlined
          hide-no-data
          return-string
          dense
          class="mx-2"
          clear-icon="mdi-close-circle"
        />
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    formMixins
  ],
  computed: {
    ...mapGetters('filters', ['payment_mode']),
    setPaymentMode: {
      get: function () {
        return this.payment_mode
      },
      // setter
      set: function (value) {
        return this.SET_PAYMENT_MODE(value)
      }
    },
    mode () {
      return this.$route.params.mode
    },
    paymentModes () {
      if (this.mode === 'enrollment') {
        return ['Registration', 'Other Payment', 'Non-Student']
      } else if (this.mode === 'entrance') {
        return ['Other Payment', 'Non-Student']
      } else {
        return ['Tuition & Other Fees', 'Other Payment', 'Non-Student']
      }
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_PAYMENT_MODE'])
  }
}
</script>
