<template>
  <v-container fluid class="pb-0 mb-0">
    <v-layout wrap justify-center align-center>
      <v-flex xs12 md6>
        <v-text-field
          color="accent"
          class="pt-0 mx-1"
          dense
          label="From"
          outlined
          clearable
          clear-icon="mdi-close-circle"
          type="number"
          v-model.number="setClassCode[0]"
        ></v-text-field>
      </v-flex>

      <v-flex xs12 md6>
        <v-text-field
          color="accent"
          class="pt-0 mx-1"
          dense
          label="To"
          outlined
          clearable
          clear-icon="mdi-close-circle"
          type="number"
          v-model.number="setClassCode[1]"
        ></v-text-field>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import { GET_CLASS_CODE } from '@/graphql/admin/queries'
import { mapGetters, mapMutations } from 'vuex'
export default {
  apollo: {
    classCode: {
      query: GET_CLASS_CODE,
      result ({ data }) {
        if (!global._.isUndefined(data)) {
          if (!global._.isNull(data.classCode) && !global._.isUndefined(data.classCode)) {
            this.range = [0, data.classCode]
          } else {
            this.range = [0, 5000]
          }
        } else {
          this.range = [0, 5000]
        }
      }
    }
  },
  data () {
    return {
      range: []
    }
  },
  computed: {
    ...mapGetters('filters', ['class_code']),
    setClassCode: {
      get: function () {
        return this.class_code
      },
      // setter
      set: function (value) {
        return this.SET_CLASS_CODE(value)
      }
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_CLASS_CODE'])
  }
}
</script>
