<template>
  <v-container fluid class="pb-0 mb-0">
    <v-layout wrap justify-center align-center>
      <v-flex xs12 md8>
        <v-autocomplete
          :items="courses"
          v-model="setCourse"
          :search-input.sync="search"
          clearable
          label="Search Course"
          outlined
          item-text="course_code"
          item-value="id"
          hide-no-data
          return-string
          multiple
          dense
          chips
          deletable-chips
          class="mx-2"
          clear-icon="mdi-close-circle">
          <template v-slot:item="data">
            <v-list-item-content>
              <v-list-item-title>{{ data.item.course_code }}</v-list-item-title>
              <v-list-item-subtitle>{{ data.item.course_description }}</v-list-item-subtitle>
            </v-list-item-content>
          </template>
        </v-autocomplete>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import { GET_REQUISITE } from '@/graphql/admin/queries'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    formMixins
  ],
  data: () => ({
    courses: [],
    search: null
  }),
  apollo: {
    courses: {
      query: GET_REQUISITE,
      variables () {
        return {
          course_id: this.setCourse ? this.setCourse : [],
          keyword: this.search ? this.search : null,
        }
      },
      result ({ data }) {
        if (data) {
          if (data.courses) {
            if (!global._.isNull(data.courses.courses)) {
              this.courses = data.courses.courses
            } else {
              this.courses = []
            }
          } else {
            this.courses = []
          }
        }
      }
    }
  },
  computed: {
    ...mapGetters('filters', ['course']),
    setCourse: {
      get: function () {
        return this.course
      },
      // setter
      set: function (value) {
        return this.SET_COURSE(value)
      }
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_COURSE'])
  }
}
</script>
