<template>
  <v-container fluid class="pb-0 mb-0">
    <v-layout wrap justify-center align-center>
      <v-flex xs12 md8>
        <v-autocomplete
          :items="days"
          v-model="setDay"
          clearable
          label="Select Day"
          outlined
          item-text="day"
          item-value="day"
          hide-no-data
          return-string
          multiple
          dense
          chips
          deletable-chips
          class="mx-2"
          clear-icon="mdi-close-circle"
        />
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import { GET_DAY } from '@/graphql/admin/queries'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    formMixins
  ],
  data: () => ({
    days: []
  }),
  computed: {
    ...mapGetters('filters', ['day']),
    setDay: {
      get: function () {
        return this.day
      },
      // setter
      set: function (value) {
        return this.SET_DAY(value)
      }
    }
  },
  apollo: {
    fetchDays: {
      query: GET_DAY,
      result ({ data }) {
        if (data) {
          this.days = data.fetchDays
        }
      }
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_DAY'])
  }
}
</script>
