<template>
  <v-container fluid class="pb-0 mb-0">
    <v-layout wrap justify-center align-center>
      <v-flex xs12 md8>
        <v-autocomplete
          :items="instructors"
          v-model="setTeacher"
          clearable
          label="Select Instructor"
          outlined
          item-text="name"
          item-value="id"
          hide-no-data
          return-string
          multiple
          dense
          chips
          deletable-chips
          class="mx-2"
          clear-icon="mdi-close-circle"
        />
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import defaultMixins from '@/mixins/index'
import formMixins from '@/mixins/form.js'
import { GET_TEACHERS } from '@/graphql/admin/queries'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    formMixins,
    defaultMixins
  ],
  data: () => ({
    instructors: []
  }),
  apollo: {
    fetchTeachers: {
      query: GET_TEACHERS,
      result ({ data }) {
        let self = this
        const fullName = []
        if (!global._.isUndefined(data)) {
          global._.forEach(data.fetchTeachers, function (value) {
            fullName.push({
              id: value.id,
              name: `${global._.capitalize(value.first_name)} ${self.initialLetter(value.middle_name)}${global._.capitalize(value.last_name)}`
            })
          })
          this.instructors = fullName
        }
      }
    }
  },
  computed: {
    ...mapGetters('filters', ['teacher']),
    setTeacher: {
      get: function () {
        return this.teacher
      },
      // setter
      set: function (value) {
        return this.SET_TEACHER(value)
      }
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_TEACHER'])
  }
}
</script>
