<template>
  <v-container fluid class="pb-0 mb-0">
    <v-layout wrap justify-center align-center>
      <v-flex xs12 md8>
        <v-autocomplete
          :items="rooms"
          v-model="setRoom"
          clearable
          label="Select Room"
          outlined
          item-text="room_name"
          item-value="id"
          hide-no-data
          return-string
          multiple
          dense
          chips
          deletable-chips
          class="mx-2"
          clear-icon="mdi-close-circle"
        />
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import { GET_ROOMS } from '@/graphql/admin/queries'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    formMixins
  ],
  data: () => ({
    rooms: []
  }),
  computed: {
    ...mapGetters('filters', ['room']),
    setRoom: {
      get: function () {
        return this.room
      },
      // setter
      set: function (value) {
        return this.SET_ROOM(value)
      }
    }
  },
  apollo: {
    fetchRooms: {
      query: GET_ROOMS,
      result ({ data }) {
        if (!global._.isUndefined(data)) {
          this.rooms = data.fetchRooms
        }
      }
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_ROOM'])
  }
}
</script>
