<template>
  <v-container fluid class="pb-0 mb-0">
    <v-layout wrap justify-center align-center>
      <v-flex xs12 md8>
        <v-autocomplete
          :items="sections"
          v-model="setSection"
          clearable
          label="Select Section"
          outlined
          item-text="section"
          item-value="id"
          hide-no-data
          return-string
          multiple
          dense
          chips
          deletable-chips
          class="mx-2"
          clear-icon="mdi-close-circle"
        />
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import { GET_SECTION } from '@/graphql/admin/queries'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    formMixins
  ],
  data: () => ({
    sections: []
  }),
  apollo: {
    fetchSections: {
      query: GET_SECTION,
      result ({ data }) {
        if (!global._.isUndefined(data)) {
          this.sections = data.fetchSections
        }
      }
    }
  },
  computed: {
    ...mapGetters('filters', ['section']),
    setSection: {
      get: function () {
        return this.section
      },
      // setter
      set: function (value) {
        return this.SET_SECTION(value)
      }
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_SECTION'])
  }
}
</script>
