<template>
  <v-container fluid class="pb-0 mb-0">
    <v-layout wrap justify-center align-center>
      <v-flex xs12 md6>
        <v-text-field
          color="accent"
          class="pt-0 mx-1"
          dense
          label="From"
          outlined
          clearable
          clear-icon="mdi-close-circle"
          pattern="^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$"
          type="time"
          v-model="setTimeFrom"
        ></v-text-field>
      </v-flex>

      <v-flex xs12 md6>
        <v-text-field
          color="accent"
          class="pt-0 mx-1"
          dense
          label="To"
          outlined
          clearable
          clear-icon="mdi-close-circle"
          pattern="^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$"
          type="time"
          v-model="setTimeTo"
        ></v-text-field>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    formMixins
  ],
  computed: {
    ...mapGetters('filters', ['time_from', 'time_to']),
    setTimeFrom: {
      get: function () {
        return this.time_from
      },
      // setter
      set: function (value) {
        return this.SET_TIME_FROM(value)
      }
    },
    setTimeTo: {
      get: function () {
        return this.time_to
      },
      // setter
      set: function (value) {
        return this.SET_TIME_TO(value)
      }
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_TIME_FROM', 'SET_TIME_TO'])
  }
}
</script>
