<template>
  <v-container fluid class="pb-0 mb-0">
    <v-layout wrap justify-center align-center>
      <v-flex xs12 md8>
        <v-autocomplete
          :items="unitItems"
          v-model="setUnits"
          clearable
          label="Select Units"
          outlined
          item-text="units"
          item-value="units"
          hide-no-data
          return-string
          multiple
          dense
          chips
          deletable-chips
          class="mx-2"
          clear-icon="mdi-close-circle"
        />
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import { GET_UNITS } from '@/graphql/admin/queries'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    formMixins
  ],
  data () {
    return {
      unitItems: []
    }
  },
  computed: {
    ...mapGetters('filters', ['units']),
    setUnits: {
      get: function () {
        return this.units
      },
      // setter
      set: function (value) {
        return this.SET_UNITS(value)
      }
    }
  },
  apollo: {
    fetchUnits: {
      query: GET_UNITS,
      result ({ data }) {
        if (data) {
          this.unitItems = data.fetchUnits
        }
      }
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_UNITS'])
  }
}
</script>
