<template>
  <v-container fluid class="py-0 my-0">
    <v-layout wrap justify-center align-center>
      <v-flex xs12 sm6 md3>
        <v-switch
        v-model="status"
        inset
        dense
        label="Freshman"
        value="Freshman">
        </v-switch>
      </v-flex>
      <v-flex xs12 sm6 md3>
        <v-switch
        v-model="status"
        inset
        dense
        label="Transferee"
        value="Transferee">
        </v-switch>
      </v-flex>
      <v-flex xs12 sm6 md3>
        <v-switch
        v-model="status"
        inset
        dense
        label="Regular"
        value="Regular">
        </v-switch>
      </v-flex>
      <v-flex xs12 sm6 md3>
        <v-switch
        v-model="status"
        inset
        dense
        label="Irregular"
        value="Irregular">
        </v-switch>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import { mapMutations } from 'vuex'
export default {
  mixins: [
    formMixins
  ],
  data: () => ({
    status: []
  }),
  watch: {
    status (val) {
      this.SET_STATUS(val)
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_STATUS'])
  }
}
</script>
