<template>
  <v-container fluid class="pb-0 mb-0">
    <v-layout wrap justify-center align-center>
      <v-flex xs12 md6>
        <v-text-field
          color="accent"
          class="pt-0 mx-1"
          dense
          label="From"
          outlined
          clearable
          clear-icon="mdi-close-circle"
          type="date"
          v-model="setDateApplied[0]"
        ></v-text-field>
      </v-flex>

      <v-flex xs12 md6>
        <v-text-field
          color="accent"
          class="pt-0 mx-1"
          dense
          label="To"
          outlined
          clearable
          clear-icon="mdi-close-circle"
          type="date"
          v-model="setDateApplied[1]"
        ></v-text-field>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import { mapGetters, mapMutations } from 'vuex'
export default {
  computed: {
    ...mapGetters('filters', ['date_applied']),
    setDateApplied: {
      get: function () {
        return this.date_applied
      },
      // setter
      set: function (value) {
        return this.SET_DATE_APPLIED(value)
      }
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_DATE_APPLIED'])
  }
}
</script>
