<template>
  <v-container fluid class="pb-0 mb-0">
    <v-layout wrap justify-center align-center>
      <v-flex xs12 md8>
        <v-autocomplete
          :items="statuses"
          v-model="setStatus"
          clearable
          label="Select Email Status"
          outlined
          hide-no-data
          return-string
          dense
          class="mx-2"
          clear-icon="mdi-close-circle"
        />
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import { GET_CURRENT_PROGRAM } from '@/graphql/admin/queries'
import formMixins from '@/mixins/form.js'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    formMixins
  ],
  data: () => ({
    statuses: ['Pending', 'Sent']
  }),
  computed: {
    ...mapGetters('filters', ['email_status']),
    setStatus: {
      get: function () {
        return this.email_status
      },
      // setter
      set: function (value) {
        return this.SET_EMAIL_STATUS(value)
      }
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_EMAIL_STATUS'])
  }
}
</script>
