<template>
  <v-container fluid class="py-0 my-0">
    <v-layout wrap justify-center align-center>
      <v-flex xs12 sm6 md3>
        <v-switch
        v-model="entrance_status"
        inset
        dense
        label="Approved"
        value="Approved">
        </v-switch>
      </v-flex>
      <v-flex xs12 sm6 md3>
        <v-switch
        v-model="entrance_status"
        inset
        dense
        label="Disapproved"
        value="Disapproved">
        </v-switch>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import { mapMutations } from 'vuex'
export default {
  mixins: [
    formMixins
  ],
  data: () => ({
    entrance_status: []
  }),
  watch: {
    entrance_status (val) {
      this.SET_ENTRANCE_STATUS(val)
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_ENTRANCE_STATUS'])
  }
}
</script>
