<template>
  <v-layout wrap>
    <auto-logout />
    <toolbar />
    <navigation :navItems="navItems" />

    <v-flex xs12>
      <v-container fluid>
        <v-slide-y-transition mode="out-in">
          <router-view/>
        </v-slide-y-transition>
      </v-container>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  data: () => ({
    navItems: [
      {
        items: [
          { title: 'Dashboard', icon: 'dashboard', name: 'mis-dashboard' },
          { title: 'Companies', icon: 'business', name: 'program' },
          { title: 'Users', icon: 'people', name: 'position-filter' },
          { title: 'Settings', icon: 'settings', name: 'my-admin-profile' }
          // { title: 'Dashboard', icon: 'home', name: 'mis-dashboard' },
          // { title: 'Enrollment', icon: 'history', name: 'admin-year-filter' },
          // { title: 'Entrance Exam', icon: 'people', name: 'admin-entrance-academic-filter' },
          // { title: 'Students', icon: 'school', name: 'admin-stud-year-filter' },
          // {
          //   itemGroupTitle: 'Class Management',
          //   itemGroupIcon: 'playlist_add_check',
          //   itemGroup: [
          //     {
          //       title: 'Class',
          //       icon: 'class',
          //       name: 'class-year-filter',
          //       params: ''
          //     },
          //     {
          //       title: 'Sections',
          //       icon: 'event_seat',
          //       name: 'section-year-filter',
          //       params: ''
          //     },
          //     {
          //       title: 'Rooms',
          //       icon: 'room',
          //       name: 'rooms-year-filter',
          //       params: ''
          //     },
          //     {
          //       title: 'Teachers',
          //       icon: 'fas fa-chalkboard-teacher',
          //       name: 'class-teacher-year-filter',
          //       params: ''
          //     },
          //     {
          //       title: 'Schedule of Exam',
          //       icon: 'pending_actions',
          //       name: 'exam-year-filter',
          //       params: ''
          //     }
          //   ]
          // },
          // { title: 'Course', icon: 'article', name: 'courses-menu' },
          // { title: 'Program', icon: 'local_library', name: 'program' },
          // { title: 'Academic School Year', icon: 'ballot', name: 'academic-year' },
          // { title: 'Users', icon: 'person', name: 'position-filter' },
          // { title: 'My Profile', icon: 'account_circle', name: 'my-admin-profile' }
        ]
      }
    ]
  })
}
</script>
