<template>
  <v-layout wrap>
    <auto-logout />
    <toolbar />
    <navigation :navItems="navItems" />

    <v-flex xs12>
      <v-container fluid>
        <v-slide-y-transition mode="out-in">
          <router-view/>
        </v-slide-y-transition>
      </v-container>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  data: () => ({
    navItems: [
      {
        items: [
          { title: 'Enrollment', icon: 'history', name: 'clinic-year-filter' },
          { title: 'Students', icon: 'school', name: 'clinic-stud-year-filter' },
          { title: 'My Profile', icon: 'account_circle', name: 'my-clinic-profile' }
        ]
      }
    ]
  })
}
</script>
