<template>
  <v-layout wrap>
    <auto-logout />
    <toolbar />
    <navigation :navItems="navItems" />

    <v-flex xs12>
      <v-container fluid>
        <v-slide-y-transition mode="out-in">
          <router-view/>
        </v-slide-y-transition>
      </v-container>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  data: () => ({
    navItems: [
      {
        items: [
          { title: 'Enrollment', icon: 'history', name: 'finance-year-filter' },
          { title: 'Entrance Exam', icon: 'people', name: 'finance-entrance-academic-filter' },
          { title: 'Students', icon: 'mdi-calendar-check', name: 'finance-stud-year-filter' },
          {
            itemGroupTitle: 'Fees',
            itemGroupIcon: 'text_snippet',
            itemGroup: [
              {
                title: 'Tuition and Misc.',
                icon: 'miscellaneous_services',
                name: 'finance-programs',
                params: ''
              },
              {
                title: 'Fees',
                icon: 'subject',
                name: 'finance-fee-type-filter',
                params: ''
              }
            ]
          },
          { title: 'Discount', icon: 'local_offer', name: 'finance-discount-types-filter' },
          { title: 'Account Codes', icon: 'subtitles', name: 'finance-account-type-filter' },
          { title: 'Collection Report', icon: 'history_edu', name: 'finance-account-history-year-filter' },
          { title: 'My Profile', icon: 'account_circle', name: 'my-finance-profile' }
        ]
      }
    ]
  })
}
</script>
