<template>
  <v-layout wrap>
    <auto-logout />
    <toolbar />
    <navigation :navItems="navItems" />

    <v-flex xs12>
      <v-container fluid>
        <v-slide-y-transition mode="out-in">
          <router-view/>
        </v-slide-y-transition>
      </v-container>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  data: () => ({
    navItems: [
      {
        items: [
          { title: 'Enrollment', icon: 'history', name: 'registrar-year-filter' },
          { title: 'Students', icon: 'school', name: 'registrar-stud-year-filter' },
          {
            itemGroupTitle: 'Class Management',
            itemGroupIcon: 'playlist_add_check',
            itemGroup: [
              {
                title: 'Class',
                icon: 'class',
                name: 'registrar-class-year-filter',
                params: ''
              },
              {
                title: 'Sections',
                icon: 'event_seat',
                name: 'registrar-section-year-filter',
                params: ''
              },
              {
                title: 'Rooms',
                icon: 'room',
                name: 'registrar-rooms-year-filter',
                params: ''
              },
              {
                title: 'Teachers',
                icon: 'fas fa-chalkboard-teacher',
                name: 'registrar-class-teacher-year-filter',
                params: ''
              },
              {
                title: 'Schedule of Exam',
                icon: 'pending_actions',
                name: 'registrar-exam-year-filter',
                params: ''
              }
            ]
          },
          { title: 'My Profile', icon: 'account_circle', name: 'my-registrar-profile' }
        ]
      }
    ]
  })
}
</script>
