<template>
  <v-layout wrap>
    <auto-logout
      :defaultWarningTime="warningTimer"
      :defaultLogoutTime="logoutTimer"
      />
    <toolbar />
    <navigation :navItems="navItems" />

    <v-flex xs12>
      <v-container fluid>
        <v-slide-y-transition mode="out-in">
          <router-view/>
        </v-slide-y-transition>
      </v-container>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  data: () => ({
    warningTimer: 14 * (60 * 1000),
    logoutTimer: 15 * (60 * 1000),
    navItems: [
      {
        items: [
          { title: 'Enroll Online', icon: 'school', name: 'student-enroll-online' },
          { title: 'Class Schedule', icon: 'turned_in', name: 'student-class-year-filter' },
          { title: 'My Grades', icon: 'grade', name: 'my-grades' },
          { title: 'Deficiencies', icon: 'mdi-notebook-minus', name: 'deficiencies' },
          { title: 'Acount Balance', icon: 'account_balance_wallet', name: 'account-balance' },
          { title: 'My Profile', icon: 'account_circle', name: 'my-stud-profile' }
        ]
      }
    ]
  })
}
</script>
