<template>
<v-container fluid>
  <v-layout wrap
    class="my-12">
    <v-flex lg12
      class="full-width-table">
      <v-data-table
        :headers="headers"
        :items="items"
        :page.sync="page"
        :items-per-page="itemsPerPage"
        @page-count="pageCount = $event"
        class="text-table-color font-weight-medium"
        hide-default-footer
        :loading="loading"
        loading-text="Loading... Please wait"
        fixed-header
        ref="table"
      >
      </v-data-table>
    </v-flex>
    <v-flex xs12 class="text-center pt-3 pb-0">
      <v-pagination
        v-show="pageCount > 1"
        v-model="page"
        :length="pageCount"
        :total-visible="10"
      ></v-pagination>
    </v-flex>
  </v-layout>
</v-container>
</template>
<script type="text/javascript">
import { CLASS_SCHED_BY_STUDENT } from '@/graphql/admin/queries'
import { mapActions, mapGetters, mapMutations } from 'vuex'
export default {
  data () {
    return {
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      items: [],
      loading: false,
      total_units: 0,
      count: 0,
      skip: 0,
      take: 10,
      skipSelectedSchedQuery: true,
      headers: [
        {
          text: 'Class Code',
          value: 'class_code',
          sortable: true,
          align: 'center',
          title: '',
          name: ''
        },
        {
          text: 'Course',
          value: 'course_code',
          sortable: true,
          align: 'center',
          title: '',
          name: ''
        },
        {
          text: 'Section',
          value: 'section',
          sortable: true,
          align: 'center',
          title: '',
          name: '',
          total: true,
          total_title: 'Total'
        },
        {
          text: 'Units',
          value: 'units',
          sortable: true,
          align: 'center',
          title: '',
          name: '',
          total_data: true
        },
        {
          text: 'Lec/Hr',
          value: 'lecture_schedule',
          sortable: true,
          align: 'center',
          title: '',
          name: ''
        },
        {
          text: 'Lab/Hr',
          value: 'laboratory_schedule',
          sortable: true,
          align: 'center',
          title: '',
          name: ''
        },
        {
          text: 'Time',
          value: 'time',
          sortable: true,
          align: 'center',
          title: '',
          name: ''
        },
        {
          text: 'Days',
          value: 'day',
          sortable: true,
          align: 'center',
          title: '',
          name: ''
        },
        {
          text: 'Room',
          value: 'room',
          sortable: true,
          align: 'center',
          title: '',
          name: ''
        },
        {
          text: 'Instructor',
          value: 'teacher',
          sortable: true,
          align: 'center',
          title: '',
          name: ''
        },
        {
          text: 'Added By',
          value: 'tagged',
          sortable: true,
          align: 'center',
          title: '',
          name: ''
        },
        {
          text: 'Action',
          value: 'drop_action',
          sortable: true,
          align: 'center',
          title: '',
          name: ''
        },
      ]
    }
  },
  computed: {
    ...mapGetters('user', ['user', 'student_data']),
    skipstudentclassQuery () {
      return !Boolean(this.user.id && this.student_data.semester_id && this.student_data.program_id  && this.user.curriculum_id && this.student_data.year_level_id && this.student_data.school_year_id && this.user.revision_id)
    }
  },
  apollo: {
    classSchedByStudent: {
      query: CLASS_SCHED_BY_STUDENT,
      variables () {
        return {
          input: {
            user_id: this.user.id,
            semester_id: this.student_data.semester_id,
            program_id: this.student_data.program_id,
            curriculum_id: this.user.curriculum_id,
            year_level_id: this.student_data.year_level_id,
            school_year_id: this.student_data.school_year_id,
            revision_id: this.user.revision_id
          }
        }
      },
      result ({ data }) {
        if (!global._.isUndefined(data)) {
          let coursetab = []
          if (!global._.isNull(data.classSchedByStudent)) {
            this.count = Number(data.classSchedByStudent.schedules.length)
            this.total_units = Number(data.classSchedByStudent.total_units)
            global._.forEach(data.classSchedByStudent.schedules, function (val) {
              let sortLecTime = val.lec_schedules_sorted.map(item => {
                return `${item.time_from_meridian} - ${item.time_to_meridian}`
              })
              let sortLabTime = val.lab_schedules_sorted.map(item => {
                return `${item.time_from_meridian} - ${item.time_to_meridian}`
              })
              const sectionLec = val.lec_schedules_sorted.map(item => {
                if (item.section) return item.section.section
                return ''
              })
              const sectionLab = val.lab_schedules_sorted.map(item => {
                if (item.section) return item.section.section
                return ''
              })
              const daysLab = val.lab_schedules_sorted.map(item => item.day)
              const daysLec = val.lec_schedules_sorted.map(item => item.day)
              const roomLec = val.lec_schedules_sorted.map(item => {
                if (item.room) return item.room.room_name
                return ''
              })
              const roomLab = val.lab_schedules_sorted.map(item => {
                if (item.room) return item.room.room_name
                return ''
              })
              const instructorLab = val.lab_schedules_sorted.map(item => item.teacher_fullname)
              const instructorLec = val.lec_schedules_sorted.map(item => item.teacher_fullname)
              coursetab.push({
                ...val,
                class_code: val.class_code,
                course_code: global._.isNull(val.course) ? '' : val.course.course_code,
                course_id: val.course.id,
                year_level_id: val.year_level_id,
                semester_id: val.semester_id,
                curriculum_id: val.curriculum_id,
                program_id: val.program_id,
                section: !global._.isNull(val.lec_hours) ? `${global._.uniq(sectionLec)}` : `${global._.uniq(sectionLab)}`,
                program_code: global._.isNull(val.program) ? '' : val.program.program_code,
                lec_time: global._.uniq(sortLecTime),
                lab_time: global._.uniq(sortLabTime),
                lec_days: global._.uniq(daysLec),
                lab_days: global._.uniq(daysLab),
                lec_room: global._.uniq(roomLec),
                lab_room: global._.uniq(roomLab),
                lec_instructor: global._.uniq(instructorLec),
                lab_instructor: global._.uniq(instructorLab)

              })
            })
            this.items = coursetab
          }
        }
      },
      watchLoading (isLoading) {
        this.loading = isLoading
      },
      skip () {
        return this.skipstudentclassQuery
      }
    }
  }
}
</script>
