<template>
  <v-container fluid class="pb-0 mb-0">
    <v-layout wrap justify-center align-center>
      <v-flex xs12 md8>
        <v-autocomplete
          :items="semesters"
          v-model="setSemester"
          clearable
          label="Select Semester"
          outlined
          item-text="semester"
          item-value="id"
          hide-no-data
          return-string
          dense
          class="mx-2"
          clear-icon="mdi-close-circle"
        />
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import { GET_SEMESTER } from '@/graphql/admin/queries'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    formMixins
  ],
  data () {
    return {
      semesters: []
    }
  },
  computed: {
    ...mapGetters('filters', ['semester_id']),
    choices () {
      return {
        semesters: this.semesters
      }
    },
    setSemester: {
      get: function () {
        return this.semester_id
      },
      // setter
      set: function (value) {
        return this.SET_SEMESTER_ID(value)
      }
    }
  },
  apollo: {
    semester: {
      query: GET_SEMESTER,
      result ({ data }) {
        if (data) {
          let items = []
          global._.forEach(data.semester, function (value) {
            items.push({
              id: Number(value.id),
              semester: value.semester
            })
          })
          this.semesters = items
        }
      }
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_SEMESTER_ID'])
  }
}
</script>
