<template>
  <v-container fluid class="py-0 my-0">
    <v-layout wrap justify-right align-right>
      <v-flex xs12 sm6 md4>
        <v-switch
          v-model="setStatus"
          inset
          dense
          label="Old"
          value="Old">
          </v-switch>
      </v-flex>
      <v-flex xs12 sm6 md4>
        <v-switch
          v-model="setStatus"
          inset
          dense
          label="New"
          value="New">
          </v-switch>
      </v-flex>
      <v-flex xs12 sm6 md4>
        <v-switch
          v-model="setStatus"
          inset
          dense
          label="Returnee"
          value="Returnee">
          </v-switch>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    formMixins
  ],
  computed: {
    ...mapGetters('filters', ['status']),
    setStatus: {
      get: function () {
        return this.status
      },
      // setter
      set: function (value) {
        this.$nextTick(function () {
          return this.SET_STATUS(value)
        })
      }
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_STATUS'])
  }
}
</script>
