<template>
  <v-container fluid class="pb-0 mb-0">
    <v-layout wrap justify-center align-center>
      <v-flex xs12 md8>
        <v-autocomplete
          :items="levels"
          v-model="setLevel"
          clearable
          label="Select Year Level"
          outlined
          item-text="year_level"
          item-value="id"
          hide-no-data
          return-string
          dense
          class="mx-2"
          clear-icon="mdi-close-circle"
        />
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import { GET_YEAR_LEVEL } from '@/graphql/admin/queries'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    formMixins
  ],
  data () {
    return {
      levels: []
    }
  },
  computed: {
    ...mapGetters('filters', ['year_level_id']),
    setLevel: {
      get: function () {
        return this.year_level_id
      },
      // setter
      set: function (value) {
        return this.SET_YEAR_LEVEL_ID(value)
      }
    }
  },
  apollo: {
    yearlevel: {
      query: GET_YEAR_LEVEL,
      result ({ data }) {
        if (data) {
          this.levels = data.yearlevel
        }
      }
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_YEAR_LEVEL_ID'])
  }
}
</script>
