<template>
  <v-flex xs12>
    <v-snackbar
        top
        right
        height="8px"
        v-model="isWarning"
        color="blue-grey"
        class="caption">
        <v-card-actions 
          class="ma-0 pa-1 text-break"
          style="max-width: 500px;">
          <v-icon
            left
            color="warning"
          >
            error_outline
          </v-icon>
          Are you still with us ?
        </v-card-actions>
      </v-snackbar>
  </v-flex>
</template>
<script type="text/javascript">
  import { mapMutations } from 'vuex'
  import { onLogout } from '@/vue-apollo.js'
  export default {
    data () {
      return {
        events: ['click', 'mousemove', 'mousedown', 'scroll', 'keypress', 'load'],
        warningTimer: null,
        logoutTimer: null,
        isWarning: false
      }
    },
    props: {
      defaultWarningTime: {
        type: Number,
        default: () => {
          return 12  *(55 *(60 * 1000))
        }
      },
      defaultLogoutTime: {
        type: Number,
        default: () => {
          return 12  *(60  *(60 * 1000))
        }
      }
    },
    mounted () {
      this.events.forEach(function (event) {
        window.addEventListener(event, this.resetTimer)
      }, this)

      this.setTimers()
    },
    destroyed () {
      this.destroyQueries()
      this.events.forEach(function (event) {
        window.removeEventListener(event, this.resetTimer)
      }, this)

      this.resetTimer()
    },
    methods: {
      ...mapMutations('navigation', ['setDrawer', 'RESET_NAVIGATION']),
      ...mapMutations('applicants', ['RESET_APPLICANTS']),
      ...mapMutations('curricula', ['RESET_CURRICULA']),
      ...mapMutations('exports', ['RESET_EXPORTS']),
      ...mapMutations('filters', ['RESET_FILTERS']),
      ...mapMutations('form', ['RESET_FORM']),
      ...mapMutations('registration', ['RESET_REGISTRATION']),
      ...mapMutations('students', ['RESET_STUDENTS']),
      ...mapMutations('user', ['RESET_USER']),
      destroyQueries () {
        if (this.$apollo) {
          this.$apollo.destroy()
        }
      },
      removeRouteKey () {
        window.localStorage.removeItem('LS_ROUTE_KEY')
      },
      logoutUser () {
        this.removeRouteKey()
        onLogout(this.$apollo.provider.defaultClient)
        this.$router.push({ name: 'login' })
        this.RESET_APPLICANTS()
        this.RESET_CURRICULA()
        this.RESET_EXPORTS()
        this.RESET_FILTERS()
        this.RESET_FORM()
        this.RESET_NAVIGATION()
        this.RESET_REGISTRATION()
        this.RESET_STUDENTS()
        this.RESET_USER()
        window.localStorage.clear()
      },
      setTimers () {
        this.warningTimer = setTimeout(this.warningMessage, this.defaultWarningTime) // 14 minutes - 14 * 60 * 1000
        this.logoutTimer = setTimeout(this.logoutUser, this.defaultLogoutTime) // 15 minutes - 15 * 60 * 1000

        this.isWarning = false
      },
      warningMessage () {
        this.isWarning = true
      },
      resetTimer () {
        clearTimeout(this.warningTimer)
        clearTimeout(this.logoutTimer)

        this.setTimers()
      },
    }
  }
</script>
