<template>
  <v-container fluid fill-height>
    <v-slide-y-transition mode="out-in">
      <v-layout wrap justify-center align-center>
        <v-card flat>
          <v-card-actions>
            <v-img
              :height="heightClass"
              :width="widthClass"
              contain
              class="mt-12"
              :src="require('@/assets/images/dmma_logo.png')">
            </v-img>
          </v-card-actions>
          <p class="text-center font-weight-bold">This Feature is not yet Available.<br/></p>
          <p class="text-center body-2">Sorry for the inconvenience.Please enjoy existing features for now. Thanks !</p>
        </v-card>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>
<script type="text/javascript">
  export default {
    computed: {
      heightClass () {
        if (this.$vuetify.breakpoint.smAndUp) return '200px'
        return '150px'
      },
      widthClass () {
        if (this.$vuetify.breakpoint.smAndUp) return '300px'
        return '100px'
      }
    }
  }
</script>
