<template>
  <v-container fluid fill-height>
    <v-layout wrap align-center justify-center>
      <v-card class="pa-5 elevation-15">
      	<v-card-title class="my-2">
          <h2>Page Under Maintenance</h2>
        </v-card-title>
        <v-card-text class="mt-2 title">
          The page you were looking for is temporary unavailable.
        </v-card-text>
        <v-card-text>
          <v-card-actions>
          	<v-btn
          	  depressed
          	  class="green--text"
              @click="logout()">
          	  <v-icon>keyboard_arrow_left</v-icon>Back to Page
          	</v-btn>
          </v-card-actions>
        </v-card-text>
      </v-card>
    </v-layout>
  </v-container>
</template>
<script type="text/javascript">
  import { onLogout } from '@/vue-apollo.js'
  import { mapMutations } from 'vuex'
  export default {
    methods: {
    ...mapMutations('navigation', ['RESET_NAVIGATION']),
    ...mapMutations('applicants', ['RESET_APPLICANTS']),
    ...mapMutations('curricula', ['RESET_CURRICULA']),
    ...mapMutations('exports', ['RESET_EXPORTS']),
    ...mapMutations('filters', ['RESET_FILTERS']),
    ...mapMutations('form', ['RESET_FORM']),
    ...mapMutations('registration', ['RESET_REGISTRATION']),
    ...mapMutations('students', ['RESET_STUDENTS']),
    ...mapMutations('user', ['RESET_USER']),
      logout () {
        onLogout(this.$apollo.provider.defaultClient)
        this.$router.push({ name: 'login' })
        this.RESET_APPLICANTS()
        this.RESET_CURRICULA()
        this.RESET_EXPORTS()
        this.RESET_FILTERS()
        this.RESET_FORM()
        this.RESET_NAVIGATION()
        this.RESET_REGISTRATION()
        this.RESET_STUDENTS()
        this.RESET_USER()
        window.localStorage.clear()
        window.localStorage.removeItem('LS_ROUTE_KEY')
      }
    }
  }
</script>