<template>
<v-container fluid>
  <v-layout wrap justify-center align-center>
    <v-flex xs12>
      <floating-card class="mt-2" :titles="educationalTitle" />
      <v-card
        class="px-2 my-5"
        style="border: 1px solid #b5b3b3;">
        <v-skeleton-loader
          class="mx-2 my-5"
          max-width
          type="article, article, button"
          v-show="loading"
        ></v-skeleton-loader>

        <v-layout wrap
          v-show="!loading"
          class="mt-8">
          <v-flex
            xs12
            :key="index"
            v-for="(item, index) in educForm"
            >
            <v-layout wrap justify-center align-center
              class="mt-12">
              <field-component
                :field="field"
                :key="field.key"
                :form="educForm[index]"
                :errors="errors"
                :item-idx="index"
                :choices="choices"
                v-for="field in fields"
              ></field-component>
            </v-layout>
          </v-flex>
        </v-layout>

        <v-card-actions
          v-show="!loading">
          <v-btn
            @click="save()"
            width="120px"
            height="35px"
            small
            color="accent"
            v-show="isViewForm === true"
            class="ma-2 body-2 text-none white--text">Save
          </v-btn>
          <v-spacer />
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>

  <v-snackbar
    top
    right
    v-model="isSnackbar"
    :color="color"
    class="caption">
    <v-card-actions class="ma-0 pa-0">
      {{ text }}
      <v-spacer />
      <v-btn
        color="white"
        text
        icon
        right
        @click="isSnackbar = false"
        class="caption">
        <v-icon>clear</v-icon>
      </v-btn>
    </v-card-actions>
  </v-snackbar>
</v-container>
</template>
<script>
import formMixins from '@/mixins/form'
import defaultMixins from '@/mixins/index'
import { GET_YEAR_LEVEL, GET_SEMESTER } from '@/graphql/admin/queries'
import { mapGetters, mapMutations } from 'vuex'
import studentQueries from '@/mixins/queries/student/studentQueries'
import indexQueryMixins from '@/mixins/queries/indexQueries'
export default {
  mixins: [
    defaultMixins,
    formMixins,
    indexQueryMixins,
    studentQueries
  ],
  data: () => ({
    educationalTitle: [{
      name: 'Educational Information',
      icon: 'library_books',
      color: 'accent',
      flex: 'xs12'
    }],
    loading: false,
    form: {},
    educForm: [
    {
      elementary_school: null,
      elem_year_graduated: null,
      high_school: null,
      high_school_year_graduated: null,
      last_school: null,
      last_sy_attended: null,
      last_year_level_attended: null
    }],
    formItem: {
      elementary_school: null,
      elem_year_graduated: null,
      high_school: null,
      high_school_year_graduated: null,
      last_school: null,
      last_sy_attended: null,
      last_year_level_attended: null
    },
    fields: [
      {
        key: 'elementary_school',
        classNames: 'xs12 md6 px-2',
        required: true
      },
      {
        key: 'elem_year_graduated',
        label: 'Year Graduated',
        type: 'number',
        classNames: 'xs12 md6  px-2',
        required: true
      },
      {
        key: 'high_school',
        classNames: 'xs12 md6  px-2',
        required: true
      },
      {
        key: 'high_school_year_graduated',
        label: 'Year Graduated',
        type: 'number',
        classNames: 'xs12 md6 px-2',
        required: true
      },
      {
        key: 'last_school_attended',
        label: 'Last School Attended(For Transferees)',
        classNames: 'xs12 md6 px-2'
      },
      {
        key: 'last_sy_attended',
        label: 'Last S. Y. Attended(For Transferees)',
        classNames: 'xs12 md6 px-2'
      },
      {
        key: 'last_year_level_attended',
        label: 'Last Year Level Attended(For Transferees)',
        choices: 'levels',
        itemValue: 'year_level_id',
        itemText: 'last_year_level_attended',
        classNames: 'xs12 md6 px-2'
      },
      {
        key: 'last_sem_attended',
        label: 'Last Semester Attended(For Transferees)',
        classNames: 'xs12 md6 px-2'
      }
    ],
    errors: {},
    color: '',
    text: '',
    isSnackbar: false,
    yearlevels: [],
    semestersItems: [],
    skipUserQuery: false,
    skipYearLevelQuery: false,
    skipSemesterQuery: false
  }),
  computed: {
    ...mapGetters('user', ['user']),
    ...mapGetters('applicants', ['education']),
    ...mapGetters('form', ['isViewForm']),
    ...mapGetters('registration', ['entrance', 'enrollment']),
    choices () {
      return {
        semesters: this.semestersItems,
        levels: this.yearlevels
      }
    },
    postApi () {
      return 'api/applicant/update/create/SpdiEducationalInfo'
    },
    status () {
      return this.$route.params.status
    }
  },
  watch: {
    form (val) {
      let item = []
      this.educForm[0] = val
    }
  },
  methods: {
    ...mapMutations('applicants', ['setEducation']),
    ...mapMutations('form', ['setStudentIcons']),
    ...mapMutations('user', ['SET_ACTIVE']),
    setActiveTab () {
      if (this.status === 'entrance-exam') {
        this.SET_ACTIVE(1)
      } else {
        this.SET_ACTIVE(2)
      }
    },
    close () {
      this.skipUserQuery = false
      if (this.enrollment.applicant_status === 'Transferee') {
        if (global._.isEmpty(this.educForm[0].last_school_attended)) {
          this.errors['last_school_attended'] = 'Last School Attended is Required.'
        }
        if (global._.isEmpty(this.educForm[0].last_sy_attended)) {
          this.errors['last_sy_attended'] = 'Last School Year Attended is Required.'
        }
        if (global._.isEmpty(this.educForm[0].last_year_level_attended)) {
          this.errors['last_year_level_attended'] = 'Last Year Level Attended is Required.'
        }
        if (global._.isEmpty(this.educForm[0].last_sem_attended)) {
          this.errors['last_sem_attended'] = 'Last Semester Attended is Required.'
        }
      }
      if (global._.isEmpty(this.errors)) {
        if (this.form) {
          this.saveLoading = false
          this.snackbar('Education data saved.', 'success')
          this.setEducation(this.form)
          this.$apollo.queries.studentInfo.refetch()
          let educational = {
            key: 'student_educational_info',
            value: this.form.icon
          }
          this.setStudentIcons(educational)
        }
      } else {
        this.snackbar('fill up all required fields', 'error')
      }
      window.scrollTo(0,0)
    },
    save () {
      const payload = { ...this.educForm[0]}
      this.$set(payload, 'icon', 'mdi-check-circle')
      this.$set(payload, 'user_id', this.user.id)
      this.$set(payload, 'updated_by', this.user.user_type_id)
      // temp fields
      this.saveData(payload)
    }
  },
  mounted () {
    this.setActiveTab()
    this.educForm[0] = this.education
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.loading = true
      vm.skipUserQuery = false
      if (vm.education) {
        vm.educForm[0] = vm.education
      }
      vm.setActiveTab()
    })
  }
}
</script>
