<template>
<v-container fluid>
  <v-layout wrap justify-center align-center>
    <v-flex xs12>
      <floating-card class="mt-2" :titles="familyTitle" />
      <v-card
        class="px-2 my-5"
        style="border: 1px solid #b5b3b3;">
        <v-skeleton-loader
          class="mx-2 my-5"
          max-width
          type="article, article, article, article, article, article, button"
          v-show="loading"
        ></v-skeleton-loader>

        <v-layout wrap
          v-show="!loading"
          class="mt-12">
          <v-flex xs12>
            <v-layout wrap>
              <v-flex xs12 md6>
                <span class="font-weight-medium subtitle-1 mx-2">Father</span>
                <fathers-info
                  :fields="fathersFields"
                  :form="fathersForm"
                  ref="father"
                />
              </v-flex>
              <v-flex xs12 md6>
                <span class="font-weight-medium subtitle-1 mx-2">Mother</span>
                <mothers-info
                  :fields="mothersFields"
                  :form="mothersForm"
                  ref="mother"
                />
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>

        <v-layout wrap
          v-show="!loading"
          class="mt-12">
          <v-flex xs12>
            <span class="font-weight-medium subtitle-1 mx-2">Guardian</span>
            <!-- <v-layout wrap class="mx-2">
              <v-flex>
                <strong class="font-weight-regular font-italic caption">If Guardian is your Father
                  <v-btn
                    text
                    small
                    class="text-none primary--text"
                    @click="copyFather()">
                    Click here
                  </v-btn>
                </strong>
              </v-flex>
              <v-flex>
                <strong class="font-weight-regular font-italic caption">If Guardian is your Mother
                  <v-btn
                    text
                    small
                    class="text-none primary--text"
                    @click="copyMother()">
                    Click here
                  </v-btn>
                </strong>
              </v-flex>
            </v-layout> -->
          </v-flex>
          <v-flex xs12>
            <v-layout wrap>
              <v-flex xs12>
                <guardians-info
                  :fields="guardianFields"
                  :form="guardiansForm"
                  ref="guardian"
                />
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>

        <v-card-actions>
          <v-btn
            @click="save()"
            width="120px"
            height="35px"
            small
            color="accent"
            v-show="isViewForm === true"
            class="ma-2 body-2 text-none white--text">Save
          </v-btn>
          <v-spacer />
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>

  <v-snackbar
    top
    right
    v-model="isSnackbar"
    :color="color"
    class="caption">
    <v-card-actions class="ma-0 pa-0">
      {{ text }}
      <v-spacer />
      <v-btn
        color="white"
        text
        icon
        right
        @click="isSnackbar = false"
        class="caption">
        <v-icon>clear</v-icon>
      </v-btn>
    </v-card-actions>
  </v-snackbar>
</v-container>
</template>
<script>
import formMixins from '@/mixins/form'
import { EVENT_OFFSET } from '@/constants/events'
import defaultMixins from '@/mixins/index'
import studentQueries from '@/mixins/queries/student/studentQueries'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    defaultMixins,
    formMixins,
    studentQueries
  ],
  data: () => ({
    familyTitle: [{
      name: 'Family Information',
      icon: 'supervisor_account',
      color: 'accent',
      flex: 'xs12'
    }],
    loading: false,
    skipUserQuery: false,
    color: '',
    text: '',
    isSnackbar: false,
    componentRefs: [
      'father',
      'mother',
      'guardian'
    ],
    fathersFields: [
      {
        key: 'fathers_name',
        label: 'Name',
        disabled: false,
        classNames: 'xs12 px-2',
        hint: 'Surname, First Name, Middle Name',
        required: true
      },
      {
        key: 'fathers_age',
        label: 'Age',
        type: 'Number',
        disabled: false,
        classNames: 'xs12 px-2',
        required: true
      },
      {
        key: 'fathers_contact_no',
        label: 'Contact Number',
        type: 'number',
        mask: '###-###-####',
        prefix: "+63",
        disabled: false,
        classNames: 'xs12 px-2',
        required: true
      },
      {
        key: 'fathers_occupation',
        label: 'Occupation',
        disabled: false,
        classNames: 'xs12 px-2',
        required: true
      },
      {
        key: 'father_works_abroad',
        label: 'Working Abroad',
        choices: 'type',
        disabled: false,
        classNames: 'xs12 px-2',
        required: true
      },
    ],
    mothersFields: [
      {
        key: 'mothers_name',
        label: 'Name',
        disabled: false,
        hint: 'Surname, First Name, Middle Name',
        classNames: 'xs12 px-2',
        required: true
      },
      {
        key: 'mothers_age',
        label: 'Age',
        type: 'Number',
        disabled: false,
        classNames: 'xs12 px-2',
        required: true
      },
      {
        key: 'mothers_contact_no',
        label: 'Contact Number',
        type: 'number',
        mask: '###-###-####',
        prefix: "+63",
        disabled: false,
        classNames: 'xs12 px-2',
        required: true
      },
      {
        key: 'mothers_occupation',
        label: 'Occupation',
        disabled: false,
        classNames: 'xs12 px-2',
        required: true
      },
      {
        key: 'mother_works_abroad',
        label: 'Working Abroad',
        choices: 'type',
        disabled: false,
        classNames: 'xs12 px-2',
        required: true
      }
    ],
    guardianFields: [
      {
        key: 'guardians_name',
        label: 'Name',
        disabled: false,
        classNames: 'xs12 md6 px-2',
        hint: 'Surname, First Name, Middle Name',
        required: true
      },
      {
        key: 'relation',
        disabled: false,
        classNames: 'xs12 md6 px-2',
        required: true
      },
      {
        key: 'contact_no',
        type: 'number',
        mask: '###-###-####',
        prefix: "+63",
        disabled: false,
        classNames: 'xs12 md6 px-2',
        required: true
      },
      {
        key: 'address',
        disabled: false,
        hint: 'House/Block/Lot. No., Street, Subd./Village, Barangay, City/Municipality, Province',
        classNames: 'xs12 md6 px-2',
        required: true
      },
      {
        key: 'annual_income',
        label: 'Annual Income of Family(Check one below)',
        choices: 'income',
        disabled: false,
        classNames: 'xs12 px-2',
        required: true
      }
    ],
    fathersForm: [],
    mothersForm: [],
    guardiansForm: []
  }),
  computed: {
    ...mapGetters('user', ['user']),
    ...mapGetters('form', ['isViewForm']),
    ...mapGetters('applicants', ['family']),
    postApi () {
      return 'api/applicant/update/create/SpdiFamilyInfo'
    },
    status () {
      return this.$route.params.status
    }
  },
  methods: {
    ...mapMutations('form', ['setStudentIcons']),
    ...mapMutations('applicants', ['setFamily']),
    ...mapMutations('user', ['SET_ACTIVE']),
    copyFather () {
      this.$nextTick(function () {
        let data = global._.pick(this.$refs.father.form[0], 'icon', 'updated_by', 'id', 'fathers_name', 'fathers_age', 'fathers_contact_no', 'fathers_occupation', 'father_works_abroad')
        this.$set(this.$refs.guardian.form[0], 'icon', data.icon)
        this.$set(this.$refs.guardian.form[0], 'updated_by', data.updated_by)
        this.$set(this.$refs.guardian.form[0], 'guardians_name', data.fathers_name)
        this.$set(this.$refs.guardian.form[0], 'relation', 'Father')
        this.$set(this.$refs.guardian.form[0], 'contact_no', data.fathers_contact_no)
      })
    },
    copyMother () {
      this.$nextTick(function () {
        let data = global._.pick(this.$refs.mother.form[0], 'icon', 'id', 'mothers_name', 'mothers_age', 'mothers_contact_no', 'mothers_occupation', 'mother_works_abroad')
        this.$set(this.$refs.guardian.form[0], 'icon', data.icon)
        this.$set(this.$refs.guardian.form[0], 'updated_by', data.updated_by)
        this.$set(this.$refs.guardian.form[0], 'guardians_name', data.mothers_name)
        this.$set(this.$refs.guardian.form[0], 'relation', 'Mother')
        this.$set(this.$refs.guardian.form[0], 'contact_no', data.mothers_contact_no)
      })
    },
    getForm () {
      if (this.family) {
        this.family.id = this.family.user_id
        let data = global._.pick(this.family,  'icon', 'updated_by', 'id', 'fathers_name', 'fathers_age', 'fathers_contact_no', 'fathers_occupation', 'father_works_abroad')
        let mothersData = global._.pick(this.family, 'icon', 'id', 'mothers_name', 'mothers_age', 'mothers_contact_no', 'mothers_occupation', 'mother_works_abroad')
        let guardiansData = global._.pick(this.family, 'icon', 'id', 'guardians_name', 'relation', 'contact_no', 'address', 'annual_income')
        this.fathersForm[0] = Object.assign({}, data)
        this.mothersForm[0] = Object.assign({}, mothersData)
        this.guardiansForm[0] = Object.assign({}, guardiansData)
      } else {
        this.fathersForm.push({
          fathers_name: null,
          fathers_age: null,
          fathers_contact_no: null,
          fathers_occupation: null,
          father_works_abroad: null
        })
        this.mothersForm.push({
          mothers_name: null,
          mothers_age: null,
          mothers_contact_no: null,
          mothers_occupation: null,
          mother_works_abroad: null
        })
        this.guardiansForm.push({
          guardians_name: null,
          relation: null,
          contact_no: null,
          address: null,
          annual_income: null
        })
      }
    },
    setActiveTab () {
      if (this.status === 'entrance-exam') {
        this.SET_ACTIVE(2)
      } else {
        this.SET_ACTIVE(3)
      }
    },
    close () {
      this.skipUserQuery = false
      if (global._.isEmpty(this.errors)) {
        if (this.form) {
          this.saveLoading = false
          this.snackbar('family data saved', 'success')
          this.setFamily(this.form)
          this.$apollo.queries.studentInfo.refetch()
          let family = {
            key: 'student_family_info',
            value: this.form.icon
          }
          this.setStudentIcons(family)  
          this.$refs.father.errors = this.errors
          this.$refs.mother.errors = this.errors
          this.$refs.guardian.errors = this.errors
        }
      } else {
        this.$refs.father.errors = this.errors
        this.$refs.mother.errors = this.errors
        this.$refs.guardian.errors = this.errors
        this.snackbar('fill up all required fields', 'error')
      }
      window.scrollTo(0,0)
    },
    save () {
      this.saveLoading = true
      this.isSnackbar = false
      let payload = {}
      let inputs = {}
      this.componentRefs.forEach(ref => {
        const component = this.$refs[ref]
        component.setErrors({})
        payload[ref] = component.getData()
      })
      inputs = global._.merge(
        global._.pick(payload.father[0], 'icon', 'updated_by', 'id', 'fathers_name', 'fathers_age', 'fathers_contact_no', 'fathers_occupation', 'father_works_abroad'),global._.pick(payload.mother[0], 'icon', 'id', 'mothers_name', 'mothers_age', 'mothers_contact_no', 'mothers_occupation', 'mother_works_abroad'),
        global._.pick(payload.guardian[0], 'icon', 'id', 'guardians_name', 'relation', 'contact_no', 'address', 'annual_income')

      )
      this.$set(inputs, 'icon', 'mdi-check-circle')
      this.$set(inputs, 'user_id', this.user.id)
      this.$set(inputs, 'updated_by', this.user.user_type_id)
      this.saveData(inputs)
    }
  },
  mounted () {
    this.setActiveTab()
  },
  watch: {
    '$route': 'getForm'
  },
  created () {
    this.getForm()
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.loading = true
      vm.skipUserQuery = false
      vm.setActiveTab()
    })
  }
}
</script>
