<template>
<v-container fluid>
  <v-layout wrap justify-center align-center>
    <v-flex xs12>
      <floating-card class="mt-2" :titles="titles" />
      <v-card
        class="px-2 my-5"
        style="border: 1px solid #b5b3b3;">
        <v-skeleton-loader
          class="mx-1 mt-5"
          max-width
          type="article, article, article, article, article, article, article"
          v-show="loading"
        ></v-skeleton-loader>

        <v-layout wrap
          class="mt-5"
          v-show="!loading">
          <v-flex xs12>
            <v-card-text class="accent--text">
              Falsifying documents is a serious offense  that can result in criminal charges. Please upload the correct documents for a swift application process. We will verify the documents you upload from the rightful institutions.
            </v-card-text>
          </v-flex>
        </v-layout>
        <requirements-tab
          :userId="user.id"
          :isTransferee="isTransferee"
          :isEnrollment="true"
          :isMedical="true"
          :isMaritimeProgram="isMaritimeProgram"
        />

        <v-card-actions>
          <v-btn
            width="120px"
            height="35px"
            small
            :disabled="disabled"
            color="accent"
            @click="save()"
            v-show="isViewForm === true"
            class="ma-2 body-2 text-none white--text">Save
          </v-btn>
          <v-spacer />
        </v-card-actions>
      </v-card>
    </v-flex>

    <v-snackbar
      top
      right
      v-model="isSnackbar"
      :color="color"
      class="caption">
      <v-card-actions class="ma-0 pa-0">
        {{ text }}
        <v-spacer />
        <v-btn
          color="white"
          text
          icon
          right
          @click="isSnackbar = false"
          class="caption">
          <v-icon>clear</v-icon>
        </v-btn>
      </v-card-actions>
    </v-snackbar>

    <waiver
      :loading="waiverLoading"
      :showDialog="waiverDialog"
      @close="waiverDialog = false"
      @accept="acceptWaiver()"
      :fullname="user"
      @closeWaiverAffidavit="closeWaiverAffidavit"
      :isWaiver="isWaiver"
      :isAffidavit="isAffidavit"
    />
  </v-layout>
</v-container>
</template>
<script type="text/javascript">
import formMixins from '@/mixins/form'
import defaultMixins from '@/mixins/index'
import { mapGetters, mapMutations } from 'vuex'
import { GET_FILENAMES } from '@/graphql/queries'
import studentQueries from '@/mixins/queries/student/studentQueries'
export default {
  mixins: [
    defaultMixins,
    formMixins,
    studentQueries
  ],
  data: () => ({
    titles: [{
      name: 'Requirements',
      icon: 'fas fa-folder-open',
      color: 'accent',
      flex: 'xs12'
    }],
    loading: false,
    skipFileNamesQuery: false,
    color: '',
    text: '',
    form: [],
    isSnackbar: false,
    filenames: {
      transcript_of_records: '',
      certificate_of_honorable_dismissal: '',
      good_moral_character_certificate: '',
      entrance_exam_result: '',
      high_school_report_card: '',
      ishihara_test: '',
      hearing_test: '',
      blood_typing: '',
      complete_blood_court: '',
      chest_x_ray: '',
      dental_certificate: '',
      drug_test: '',
      electrocardiogram: '',
      hepatitis_b_antegen: '',
      hepatitis_b_antibodies: '',
      physical_exam_or_medical_certificate: '',
      stool_examination: '',
      urinalysis: '',
      visual_activity: '',
      authenticated_birth_certificate: '',
      exam_result: ''
    },
    torLoading: false,
    hdLoading: false,
    entranceLoading: false,
    reportLoading: false,
    gmLoading: false,
    ishiharaLoading: false,
    hearingLoading: false,
    bloodLoading: false,
    cbcLoading: false,
    xrayLoading: false,
    dentalLoading: false,
    drugLoading: false,
    electroLoading: false,
    antegenLoading: false,
    antibodiesLoading: false,
    physicalLoading: false,
    stoolLoading: false,
    urinalysisLoading: false,
    visualLoading: false,
    psaLoading: false,
    aproLoading: false,
    disabled: false,
    files: [],
    skipUserQuery: false,
    waiverLoading: false,
    isWaiver: false,
    isAffidavit: false,
    waiverDialog: false
  }),
  computed: {
    ...mapGetters('registration', ['enrollment', 'entrance']),
    ...mapGetters('applicants', ['student_applicant']),
    ...mapGetters('user', ['user']),
    ...mapGetters('form', ['isViewForm']),
    postApi () {
      return 'api/applicant/upload/requirement'
    },
    status () {
      return this.$route.params.status
    },
    isTransferee () {
      if (this.enrollment) {
        if (this.enrollment.applicant_status === 'Transferee') return true
        return false
      }
    },
    isFreshman () {
      if (this.enrollment) {
        if (this.enrollment.applicant_status === 'Freshman') return true
        return false
      }
    },
    isMaritimeProgram () {
      if (!global._.isEmpty(this.student_applicant)) {
        let name = this.student_applicant.program.program_name
        let lowerCaseName = name.toLowerCase()
        let isMarine = lowerCaseName.includes('marine')
        return isMarine
      }
    }
  },
  mounted () {
    this.setActiveTab()
  },
  methods: {
    ...mapMutations('form', ['setStudentIcons']),
    ...mapMutations('user', ['SET_ACTIVE']),
    ...mapMutations('applicants', ['setRequirements']),
    acceptWaiver () {
      this.waiverDialog = false
      if (this.isViewForm) {
        this.save()
      }
    },
    closeWaiverAffidavit () {
      this.skipFileNamesQuery = false
      this.$apollo.queries.requirementFileNames.refetch()
    },
    setActiveTab () {
      this.SET_ACTIVE(4)
    },
    close () {
      this.skipUserQuery = false
      this.torLoading = false
      this.hdLoading = false
      this.entranceLoading = false
      this.reportLoading = false
      this.gmLoading = false
      this.ishiharaLoading = false
      this.hearingLoading = false
      this.bloodLoading = false
      this.cbcLoading = false
      this.xrayLoading = false
      this.dentalLoading = false
      this.drugLoading = false
      this.electroLoading = false
      this.antegenLoading = false
      this.antibodiesLoading = false
      this.physicalLoading = false
      this.stoolLoading = false
      this.urinalysisLoading = false
      this.visualLoading = false
      this.psaLoading = false
      this.aproLoadin = false
      this.$apollo.queries.requirementFileNames.refetch()
      this.$apollo.queries.studentInfo.refetch()
    },
    successMessage () {
      this.waiverDialog = false
      this.fetchStudentIcon('student_requirements', 'mdi-check-circle')
      window.scrollTo(0,0)
      this.snackbar('Requirements data saved.', 'success')
    },
    save () {
      if (this.status !== 'entrance-exam') {
        let isAdmissions = this.files.filter(item => item.file_name === 'Authenticated Birth Certificate'|| item.file_name === 'Good Moral Character Certificate')
        let isClinic = this.files.filter(item => {
          if (this.isMaritimeProgram) {
            return item.file_name === 'Ishihara Test' || item.file_name === 'Hearing Test' || item.file_name === 'Blood Typing' || item.file_name === 'Complete Blood Count' || item.file_name === 'Chest X Ray' || item.file_name === 'Drug Test' || item.file_name === 'Electrocardiogram' || item.file_name === 'Hepatitis B Antegen' || item.file_name === 'Physical Exam' || item.file_name === 'Medical Certificate' || item.file_name === 'Stool Examination' || item.file_name === 'Urinalysis' || item.file_name === 'Visual Acuity' || item.file_name === 'Dental Certificate'
          } else {
            return item.file_name === 'Blood Typing' || item.file_name === 'Complete Blood Count' || item.file_name === 'Chest X Ray' || item.file_name === 'Drug Test' || item.file_name === 'Electrocardiogram' || item.file_name === 'Hepatitis B Antegen' || item.file_name === 'Physical Exam' || item.file_name === 'Medical Certificate' || item.file_name === 'Stool Examination' || item.file_name === 'Urinalysis'
          }
        })
        let waiverFile = this.files.find(item => item.file_name === 'Waiver Temporary Enrollment')
        let affidavitFile = this.files.find(item => item.file_name === 'Affidavit Of Undertaking')
        if (global._.isEmpty(isAdmissions) && global._.isEmpty(isClinic)) {
          // no admissions and clinic requirements
          if (global._.isUndefined(waiverFile) && global._.isUndefined(affidavitFile)) {
            this.isWaiver = true
            this.isAffidavit = true
            this.waiverDialog = true
          } else if (!global._.isUndefined(waiverFile) && global._.isUndefined(affidavitFile)) {
            this.isWaiver = false
            this.isAffidavit = true
            this.waiverDialog = true
          } else if (global._.isUndefined(waiverFile) && !global._.isUndefined(affidavitFile)) {
            this.isWaiver = true
            this.isAffidavit = false
            this.waiverDialog = true
          } else {
            if (waiverFile.isAccepted === 'true' && affidavitFile.isAccepted === 'true') {
              this.successMessage()
            } else {
              this.isWaiver = true
              this.isAffidavit = true
              this.waiverDialog = true
            }
          }
        } else if (global._.isEmpty(isAdmissions) && !global._.isEmpty(isClinic)) {
          // no admissions requirements
          if (this.isMaritimeProgram) {
            if (global._.isUndefined(waiverFile) && isClinic.length >= 14) {
              this.isWaiver = true
              this.isAffidavit = false
              this.waiverDialog = true
            } else if (global._.isUndefined(waiverFile) && isClinic.length < 14) {
              this.isWaiver = true
              this.isAffidavit = true
              this.waiverDialog = true
            } else {
              if (waiverFile.isAccepted === 'true') {
                this.successMessage()
              } else {
                this.isWaiver = true
                this.isAffidavit = false
                this.waiverDialog = true
              }
            }
          } else {
            if (global._.isUndefined(waiverFile) && isClinic.length >= 10) {
              this.isWaiver = true
              this.isAffidavit = false
              this.waiverDialog = true
            } else if (global._.isUndefined(waiverFile) && isClinic.length < 10) {
              this.isWaiver = true
              this.isAffidavit = true
              this.waiverDialog = true
            } else {
              if (waiverFile.isAccepted === 'true') {
                this.successMessage()
              } else {
                this.isWaiver = true
                this.isAffidavit = false
                this.waiverDialog = true
              }
            }
          }
        } else if (!global._.isEmpty(isAdmissions) && global._.isEmpty(isClinic)) {
          // no clinic requirements
          if (global._.isUndefined(affidavitFile) && isAdmissions.length >= 2) {
            this.isWaiver = false
            this.isAffidavit = true
            this.waiverDialog = true
          } else if (global._.isUndefined(affidavitFile) && isAdmissions.length < 2) {
            this.isWaiver = true
            this.isAffidavit = true
            this.waiverDialog = true
          } else {
            if (affidavitFile.isAccepted === 'true') {
              this.successMessage()
            } else {
              this.isWaiver = false
              this.isAffidavit = true
              this.waiverDialog = true
            }
          }
        } else {
          // have both admissions and clinic requirements
          if (this.isMaritimeProgram) {
            if (isAdmissions.length < 2 && isClinic.length >= 14) {
              if (global._.isUndefined(waiverFile)) {
                this.isWaiver = true
                this.isAffidavit = false
                this.waiverDialog = true
              } else {
                if (waiverFile.isAccepted === 'true') {
                  this.successMessage()
                } else {
                  this.isWaiver = true
                  this.isAffidavit = false
                  this.waiverDialog = true
                }
              }
            } else if (isAdmissions.length >= 2 && isClinic.length < 14) {
              if (global._.isUndefined(affidavitFile)) {
                this.isWaiver = false
                this.isAffidavit = true
                this.waiverDialog = true
              } else {
                if (affidavitFile.isAccepted === 'true') {
                  this.successMessage()
                } else {
                  this.isWaiver = false
                  this.isAffidavit = true
                  this.waiverDialog = true
                }
              }
            } else {
              this.successMessage()
            }
          } else {
            if (isAdmissions.length < 2 && isClinic.length >= 10) {
              if (global._.isUndefined(waiverFile)) {
                this.isWaiver = true
                this.isAffidavit = false
                this.waiverDialog = true
              } else {
                if (waiverFile.isAccepted === 'true') {
                  this.successMessage()
                } else {
                  this.isWaiver = true
                  this.isAffidavit = false
                  this.waiverDialog = true
                }
              }
            } else if (isAdmissions.length >= 2 && isClinic.length < 10) {
              if (global._.isUndefined(affidavitFile)) {
                this.isWaiver = false
                this.isAffidavit = true
                this.waiverDialog = true
              } else {
                if (affidavitFile.isAccepted === 'true') {
                  this.successMessage()
                } else {
                  this.isWaiver = false
                  this.isAffidavit = true
                  this.waiverDialog = true
                }
              }
            } else {
              this.successMessage()
            }
          }
        }
      } else {
        this.fetchStudentIcon('student_requirements', 'mdi-check-circle')
        window.scrollTo(0,0)
        this.snackbar('Requirements data saved.', 'success')
      }
    }
  },
  watch: {
    form: {
      handler: function (val) {
        Object.keys(this.filenames).forEach(key => {
          let name = key.replace(/_/g, ' ')
          if (val.file_name === `${this.capitalLeter(name)}`) {
            this.filenames[key] = val.file_name
          }
        })
      },
      deep: true
    }
  },
  apollo: {
    requirementFileNames: {
      query: GET_FILENAMES,
      variables () {
        return {
          input: {
            id: this.user.id
          }
        }
      },
      result ({ data, loading }) {
        let self = this
        if (!global._.isUndefined(data)) {
          const count = data.requirementFileNames.length
          if (!global._.isEmpty(data.requirementFileNames)) {
            this.files = data.requirementFileNames
            this.setRequirements(this.files)
            if (this.isMaritimeProgram && this.isTransferee) {
              const countItems = data.requirementFileNames.filter(item => item.file_name ===  'Entrance Exam Result' || item.file_name === 'Transcript Of Records' || item.file_name === 'Certificate Of Honorable Dismissal' || item.file_name === 'Exam Result')
              if (global._.size(countItems) >= 4) {
                this.disabled = false
              } else {
                this.disabled = true
              }
            } else if ((!this.isMaritimeProgram && this.isTransferee)) {
              const countItems = data.requirementFileNames.filter(item => item.file_name === 'Entrance Exam Result' || item.file_name === 'Transcript Of Records' || item.file_name === 'Certificate Of Honorable Dismissal')
              if (global._.size(countItems) >= 2) {
                this.disabled = false
              } else {
                this.disabled = true
              }
            } else if (this.isMaritimeProgram && this.isFreshman) {
              const countItems = data.requirementFileNames.filter(item => item.file_name === 'Entrance Exam Result' || item.file_name === 'High School Report Card' || item.file_name === 'Exam Result')
              if (global._.size(countItems) >= 3) {
                this.disabled = false
              } else {
                this.disabled = true
              }
            } else if (!this.isMaritimeProgram && this.isFreshman) {
              const countItems = data.requirementFileNames.filter(item => item.file_name ===  'Entrance Exam Result' || item.file_name === 'High School Report Card')
              if (global._.size(countItems) >= 2) {
                this.disabled = false
              } else {
                this.disabled = true
              }
            }
          } else {
            this.disabled = true
          }
        }
      },
      skip () {
        return this.skipFileNamesQuery
      },
      watchLoading (isLoading) {
        this.loading = isLoading
      }
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.skipFileNamesQuery = false
      vm.$apollo.queries.requirementFileNames.refetch()
      vm.setActiveTab()
      vm.disabled = true
    })
  }
}
</script>
