<template>
<v-container fluid>
  <v-layout wrap justify-center align-center>
    <v-flex xs12>
      <floating-card class="mt-2" :titles="courseTitle" />
      <v-card
        class="px-2 my-5"
        style="border: 1px solid #b5b3b3;">
        <v-skeleton-loader
          class="mx-1 mt-5"
          max-width
          type="article, article, article, article, article, article, article"
          v-show="loading"
        ></v-skeleton-loader>

        <v-layout wrap justify-center align-center
          class="my-10"
          v-show="!courseId">
          <v-card-title class="font-italic font-weight-light">Not Yet Available.Please Click Submit.</v-card-title>
        </v-layout>

        <current-courses
          v-show="courseId"
        />
      </v-card>
    </v-flex>
  </v-layout>

</v-container>
</template>
<script>
import defaultMixins from '@/mixins/index'
import { mapMutations, mapGetters } from 'vuex'
import { CLASS_SCHED_BY_STUDENT  } from '@/graphql/admin/queries'
export default {
  mixins: [
    defaultMixins
  ],
  data: () => ({
    invokedOffset: 0,
    courseTitle: [{
      name: 'Courses',
      icon: 'fact_check',
      color: 'accent',
      flex: 'xs12'
    }],
    loading: false
  }),
  computed: {
    ...mapGetters('form', ['courseId']),
    ...mapGetters('students', ['enroll_student']),
    ...mapGetters('user', ['user', 'student_data']),
    status () {
      return this.$route.params.status
    },
    skipstudentclassQuery () {
      return !Boolean(this.user.id && this.enroll_student.semester_id && this.enroll_student.program_id && this.student_data.year_level_id && this.enroll_student.school_year_id && this.user.revision_id)
    }
  },
  methods: {
    ...mapMutations('user', ['SET_ACTIVE']),
    ...mapMutations('form', ['setCourseId']),
    setActiveTab () {
      if (this.status === 'entrance-exam') {
        this.SET_ACTIVE(4)
      } else {
        this.SET_ACTIVE(5)
      }
    }
  },
  mounted () {
    this.setActiveTab()
  },
  apollo: {
    classSchedByStudent: {
      query: CLASS_SCHED_BY_STUDENT,
      variables () {
        return {
          input: {
            user_id: this.user.id,
            semester_id: this.enroll_student.semester_id,
            program_id: this.enroll_student.program_id,
            curriculum_id: this.user.curriculum_id,
            year_level_id: this.student_data.year_level_id,
            school_year_id: this.enroll_student.school_year_id,
            revision_id: this.user.revision_id
          }
        }
      },
      result ({ data }) {
        if (!global._.isUndefined(data)) {
          let coursetab = []
          if (!global._.isNull(data.classSchedByStudent)) {
            let item = data.classSchedByStudent.schedules.find(item => item)
          }
        }
      },
      watchLoading (isLoading) {
        this.loading = isLoading
      },
      skip () {
        return this.skipstudentclassQuery
      },
      error ({ graphQLErrors, networkError }) {
        if (graphQLErrors) {
          console.log('graphQLErrors:', graphQLErrors)
        }
        if (networkError) {
          console.log('networkError:', networkError)
        }
      }
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.setActiveTab()
    })
  }
}
</script>
