<template>
<v-container fluid>
  <v-layout wrap justify-center align-center>
    <v-flex xs12>
      <floating-card class="mt-2" :titles="applicationTitle" />
      <v-card
        class="px-2 my-5"
        style="border: 1px solid #b5b3b3;">
        <v-skeleton-loader
          class="mx-2 my-5"
          max-width
          type="article, article, button"
          v-show="loading"
        ></v-skeleton-loader>

        <v-layout wrap justify-center align-center
          class="my-12 mx-2"
          v-show="!loading">
          <v-flex xs12>
            <v-card-text class="subtitle-1 my-0 py-0">
              <v-layout wrap justify-left>
                <v-flex xs12 md5 lg3>
                <v-card-text class="body-1 text-left">School Year:</v-card-text>
                </v-flex>
                <v-flex xs12 md7 lg9>
                  <v-text-field
                    disabled
                    v-model="applied_school_year"
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-flex>
          <v-flex xs12>
            <v-card-text class="subtitle-1 my-0 py-0">
              <v-layout wrap justify-left>
                <v-flex xs12 md5 lg3>
                <v-card-text class="body-1 text-left">Status:</v-card-text>
                </v-flex>
                <v-flex xs12 md7 lg9>
                  <v-text-field
                    disabled
                    v-model="setStatusName"
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-flex>
          <v-flex xs12>
            <v-card-text class="subtitle-1 my-0 py-0">
              <v-layout wrap justify-left>
                <v-flex xs12 md5 lg3>
                <v-card-text class="body-1 text-left">Program:</v-card-text>
                </v-flex>
                <v-flex xs12 md7 lg9>
                  <v-text-field
                    disabled
                    v-model="setProgramName"
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-flex>
          <v-flex xs12>
            <v-card-text class="subtitle-1 my-0 py-0">
              <v-layout wrap justify-left>
                <v-flex xs12 md5 lg3>
                <v-card-text class="body-1 text-left">Semester:</v-card-text>
                </v-flex>
                <v-flex xs12 md7 lg9>
                  <v-text-field
                    disabled
                    v-model="applied_semester"
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-flex>
        </v-layout>
      </v-card>
    </v-flex>
  </v-layout>
</v-container>
</template>
<script>
import defaultMixins from '@/mixins/index'
import { GET_CURRENT_PROGRAM, GET_SEMESTER } from '@/graphql/admin/queries'
import { mapGetters, mapMutations } from 'vuex'
import { format } from 'date-fns'
import studentQueries from '@/mixins/queries/student/studentQueries'
export default {
  mixins: [
    defaultMixins,
    studentQueries
  ],
  data: () => ({
    applicationTitle: [{
      name: 'Application Info',
      icon: 'library_books',
      color: 'accent',
      flex: 'xs12'
    }],
    loading: false,
    isReadOnly: true,
    skipApplicationQuery: false,
    years: [],
    programs: [],
    semesters: [],
    title: '',
    fields: [
      {
        key: 'id',
        selectLabel: 'Select Option',
        choices: 'items',
        itemValue: 'id',
        itemText: 'name',
        fieldTitle: true,
        classNames: 'xs12'
      }
    ],
    form: [],
    isProgramDisabled: true,
    statuses: [
      {
        id: 1,
        name: 'Freshman'
      },
      {
        id: 2,
        name: 'Transferee'
      }
    ],
    formData: [
      {
        id: ''
      }
    ],
    skipUserQuery: false
  }),
  apollo: {
    curriculumProgramsYearNow: {
      query: GET_CURRENT_PROGRAM,
      result ({ data }) {
        const years = []
        if (!global._.isUndefined(data)) {
          global._.forEach(data.curriculumProgramsYearNow, function (value) {
            years.push({
              curriculum_id: Number(value.curriculum_id),
              school_year: `${value.effective_school_year_from} - ${value.effective_school_year_to}`
            })
          })
          // this.years = years
          const sortedPrograms = data.curriculumProgramsYearNow.filter(item => item.program_status === 'Active')
          this.programs = []
          const programItems = []
          global._.forEach(sortedPrograms, function (value) {
            programItems.push({
              id: Number(value.program_id),
              name: value.program_name
            })
          })
          this.programs = programItems
        }
      }
    },
    semester: {
      query: GET_SEMESTER,
      result ({ data }) {
        if (data) {
          const semesterItems = []
          this.semesters = []
          global._.forEach(data.semester, function (value) {
            semesterItems.push({
              id: Number(value.id),
              name: value.semester
            })
          })
          this.semesters = semesterItems
        }
      }
    }
  },
  computed: {
    ...mapGetters('user', ['user']),
    ...mapGetters('students', ['enroll_student']),
    ...mapGetters('applicants', ['student_applicant', 'program_name', 'semester', 'status']),
    ...mapGetters('registration', ['enrollment']),
    applied_school_year () {
      return this.enroll_student.sy
    },
    applied_semester () {
      return this.enroll_student.semester
    },
    applicant_status () {
      if (this.student_applicant) return this.student_applicant.applicant_status
      return ''
    },
    statusInfo () {
      if (this.student_applicant) return `${this.student_applicant.status} / ${this.applicant_status}`
      return ''
    },
    setProgramName: {
      get: function () {
        return this.program_name
      },
      // setter
      set: function (value) {
        return this.setProgram(value)
      }
    },
    setStatusName: {
      get: function () {
        return this.status
      },
      // setter
      set: function (value) {
        return this.setStatus(value)
      }
    }
  },
  methods: {
    ...mapMutations('form', ['setIcons']),
    ...mapMutations('applicants', ['setProgram', 'setStatus'])
  },
  beforeRouteEnter (to, from, next) {
    next( vm => {
      vm.skipUserQuery = false
      vm.skipApplicationQuery = false
      vm.skipEnrollApplicationQuery = false
    })
  }
}
</script>
