<template>
<v-card flat>
  <header-component
    :isSearch="true"
    :isFilter="true"
    :isExport="false"
    :isEnroll="(userType === 8 && isTitled === 'Enrollment') || userType === 9"
    :label="label"
    @clickDialog="$emit('add')"
    @clear="clear()"
    @enter="doSearch"
    @reset="resetFilters()"
    :isSwitched="isSwitched"
    @openFilter="openFilter()"
    @closeFilter="closeFilter()"
    :filterItems="headers"
    :isAdd="isAdd"
    :btnTitle="title"
    :loading="addLoading"
    @enroll="$emit('doEnroll')"
    btnEnrollTitle="Enroll"
  />

   <floating-card :titles="titleInfo" :textStyle="textStyle" />
   <v-card class="my-8">
    <v-card-title class="my-5" />
      <v-layout wrap>
        <v-flex xs12>
          <v-data-table
            ref="table"
            :headers="headers"
            :items="items"
            :page.sync="pageItems"
            :items-per-page="itemsPerApplicantPage"
            @page-count="pageItemCount = $event"
            :options.sync="options"
            :server-items-length="potentialEnrolleesCount"
            class="text-table-color font-weight-medium"
            hide-default-footer
            :loading="loading"
            :show-select="showSelect"
            v-model="selected_applicants"
            @input="$emit('select', selected_applicants)"
            loading-text="Loading... Please wait">
            <template v-slot:item.name="{ item }">
              <v-tooltip top>
              <template v-slot:activator="{ on }">
                <span
                  v-on="on"
                  @click="Item(item)"
                  class="main--text pointer text-none"
                  >{{ item.name }}</span>
              </template>
              <span>View</span>
            </v-tooltip>
            </template>
            <template v-slot:item.guidance_icon="{ item }">
              <v-btn
                icon
                small
                :class="item.guidance_icon === 'mdi-check-circle' ? 'main--text' : 'red--text'"
                class="text-none">
              <v-icon>{{ item.guidance_icon }}</v-icon>
            </v-btn>
            </template>
            <template v-slot:item.clinic_icon="{ item }">
              <v-btn
                icon
                small
                :class="item.clinic_icon === 'mdi-check-circle' ? 'main--text' : 'red--text'"
                class="text-none">
              <v-icon>{{ item.clinic_icon }}</v-icon>
            </v-btn>
            </template>
            <template v-slot:item.admission_icon="{ item }">
              <v-btn
                icon
                small
                :class="item.admission_icon === 'mdi-check-circle' ? 'main--text' : 'red--text'"
                class="text-none">
              <v-icon>{{ item.admission_icon }}</v-icon>
            </v-btn>
            </template>
            <template v-slot:item.dean_icon="{ item }">
              <v-btn
                icon
                small
                :class="item.dean_icon === 'mdi-check-circle' ? 'main--text' : 'red--text'"
                class="text-none">
              <v-icon>{{ item.dean_icon }}</v-icon>
            </v-btn>
            </template>
            <template v-slot:item.registrar_icon="{ item }">
              <v-btn
                icon
                small
                :class="item.registrar_icon === 'mdi-check-circle' ? 'main--text' : 'red--text'"
                class="text-none">
              <v-icon>{{ item.registrar_icon }}</v-icon>
            </v-btn>
            </template>
            <template v-slot:item.finance_icon="{ item }">
              <v-btn
                icon
                small
                :class="item.finance_icon === 'mdi-check-circle' ? 'main--text' : 'red--text'"
                class="text-none">
              <v-icon>{{ item.finance_icon }}</v-icon>
            </v-btn>
            </template>
            <template v-slot:item.remarks_action="{ item }">
              <v-btn
                icon
                small
                @click="$emit('openHistory', item)"
                class="blue--text text-none">
              <v-icon>info</v-icon>
            </v-btn>
            </template>
          </v-data-table>
        </v-flex>
        <v-flex xs12 class="text-center pt-3 pb-0">
          <v-pagination
            v-show="pageItemCount > 1"
            v-model="pageItems"
            :length="pageItemCount"
            :total-visible="10"
          ></v-pagination>
        </v-flex>
        <v-flex xs12>
        <v-card-actions
         v-if="potentialEnrolleesCount > 0">
          <v-spacer />
          <small class="ma-2 body-2">Total of <span class="blue--text">{{ potentialEnrolleesCount }} </span> {{ items.length > 1 ? 'Items' : 'Item' }}</small>
        </v-card-actions>
        </v-flex>
      </v-layout>
   </v-card>
</v-card>
</template>
<script>
import defaultMixins from '@/mixins/index'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    defaultMixins
  ],
  props: {
    headers: {
      type: [Array, Object]
    },
    items: {
      type: [Array, Object]
    },
    showSelect: {
      type: Boolean,
      default: false
    },
    textStyle: String,
    title: String,
    totalsTitle: String,
    titleInfo: {
      type: [Object, Array],
      default: () => {
        return [{
          name: 'Enrollment',
          icon: 'history',
          color: 'main',
          flex: 'xs12'
        }]
      }
    },
    isAdd: {
      type: Boolean,
      default: false
    },
    addLoading: {
      required: false,
      type: Boolean,
      default: () => {
        return false
      }
    },
    loading: {
      required: false,
      type: Boolean,
      default: () => {
        return false
      }
    },
    potentialEnrolleesCount: {
      type: Number,
      default: () => {
        return 0
      }
    }
  },
  data: () => ({
    selected_applicants: [],
    link: '',
    label: 'Search Applicant',
    isSwitched: false,
    skip: 0,
    take: 10,
    itemsPerApplicantPage: 10,
    pageItems: 1,
    pageItemCount: 0,
    options: {},
    currPage: null,
    prevPage: null
  }),
  watch: {
    options: {
      handler (old, newx) {
        this.skipItems = global._.isUndefined(newx.itemsPerPage) ? 0 : newx.itemsPerPage
        this.takeItems = old.itemsPerPage
        this.prevPage = global._.isUndefined(newx.page) ? 0 : newx.page
        this.currPage = old.page
        let skip = this.sortSkipped(this.skipItems, this.currPage, old.itemsPerPage)
        let take = old.itemsPerPage
        let payload = {
          skip: skip,
          take: take
        }
        this.$emit('tableOptions', payload)
      },
      deep: true
    }
  },
  computed: {
    ...mapGetters('filters', ['search']),
    ...mapGetters('user', ['user']),
    ...mapGetters('applicants', ['isTitled']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        return this.SET_SEARCH(value)
      }
    },
    type () {
      if (this.registrar) return this.registrar.submission_type
      return ''
    }
  },
  methods: {
    ...mapMutations('filters', ['RESET_FILTERS', 'SET_SEARCH']),
    onScroll (e) {
      this.$emit('scroll', e)
    },
    resetFilters () {
      this.RESET_FILTERS()
      this.clear()
    },
    clear () {
      this.skip = 0
      this.setSearch = ''
    },
    doSearch (val) {
      this.setSearch = val
      this.skip = 0
    },
    openFilter () {
      this.isSwitched = true
    },
    closeFilter () {
      this.isSwitched = false
    },
    Item (val) {
      this.$emit('rowClicked', val)
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.resetFilters()
    })
  }
}
</script>
