<template>
<v-layout wrap justify-center align-center>
  <v-flex xs12 md3>
    <v-card flat class="mt-4">
      <v-list-item>
        <v-list-item-content class="text-center mt-3">
          <v-layout wrap align-center justify-center >
            <v-avatar
              :color="imageColor"
              size="100">
              <span
                v-if="!applicantImage"
                class="white--text display-1">{{ studentItem.first_name | initials }} {{ studentItem.last_name | initials }}</span>
              <img
                v-else
                height="58px"
                contain
                :src="setFile(applicantImage)" />
            </v-avatar>
          </v-layout>
          <v-list-item-title
            class="subtitle-1 my-4">
            {{ studentItem.name | capitalize }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-card>
  </v-flex>

  <v-flex xs12 md9>
    <v-layout wrap justify-right align-right
      class="my-12 mx-2">
      <v-flex xs12 md4>
        <v-card-text class="subtitle-1 font-weight-medium">
          Status:
          <span class="font-weight-regular ml-2">
          {{ studentItem.user_status }}</span>
        </v-card-text>
      </v-flex>
      <v-flex xs12 md4>
        <v-card-text
          class="subtitle-1 my-0 py-0"
          v-if="!isEditDisabled">
          <v-layout wrap justify-left>
            <v-flex xs12 md5>
            <v-card-text class="subtitle-1 font-weight-medium text-left">Curriculum:</v-card-text>
            </v-flex>
            <v-flex xs12 md7>
              <v-text-field
                :disabled="isEditDisabled"
                :append-outer-icon="'edit'"
                @click:append-outer="updateCurriculum"
                v-model="setCurriculumCode.curriculum_code"
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-card-text
          class="subtitle-1 font-weight-medium"
          v-else>
          Curriculum:
          <span class="font-weight-regular ml-2">
          {{ setCurriculumCode.curriculum_code }}</span>
        </v-card-text>
      </v-flex>
      <!-- <v-flex xs12 md4>
        <v-card-text
          class="subtitle-1 my-0 py-0"
          v-if="!isEditDisabled">
          <v-layout wrap justify-left>
            <v-flex xs12 md5>
            <v-card-text class="subtitle-1 font-weight-medium text-left">Revision:</v-card-text>
            </v-flex>
            <v-flex xs12 md7>
              <v-text-field
                :disabled="isEditDisabled"
                :append-outer-icon="'edit'"
                @click:append-outer="updateRevision"
                v-model="setRevisionNo.revision_no"
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-card-text
          class="subtitle-1 font-weight-medium"
          v-else>
          Revision:
          <span class="font-weight-regular ml-2">
          {{ setRevisionNo.revision_no }}</span>
        </v-card-text>
      </v-flex> -->
      <v-flex xs12 md4
        v-show="studentItem.school_year">
        <v-card-text class="subtitle-1 font-weight-medium">
          School Year:
          <span class="font-weight-regular ml-2">
          {{ studentItem.school_year ? studentItem.school_year : '' }}</span>
        </v-card-text>
      </v-flex>
      <v-flex xs12 md4>
        <v-card-text class="subtitle-1 font-weight-medium">
          Program:
          <span class="font-weight-regular ml-2">
          {{ studentItem.program_code }}</span>
        </v-card-text>
      </v-flex>
      <v-flex xs12 md4
        v-if="type !== 'Entrance Exam'">
        <v-card-text class="subtitle-1 font-weight-medium">
          Year Level:
          <span class="font-weight-regular ml-2">
          {{ studentItem.year_level }}</span>
        </v-card-text>
      </v-flex>
      <v-flex xs12 md4
        v-if="type !== 'Entrance Exam'">
        <v-card-text class="subtitle-1 font-weight-medium">
          Semester:
          <span class="font-weight-regular ml-2">
          {{ studentItem.semester }}</span>
        </v-card-text>
      </v-flex>
      <v-flex xs12 md4
        v-if="type !== 'Entrance Exam'">
        <v-card-text class="subtitle-1 font-weight-medium">
          Section:
          <span class="font-weight-regular ml-2">
          {{ studentItem.section }}</span>
        </v-card-text>
      </v-flex>
    </v-layout>
  </v-flex>

  <card-dialog
    :showDialog="dialog"
    @close="dialog = false"
    :title="title"
    @go="PickedItem"
    @Change="ChangeItem"
    :disabled="isDisabled"
    :fields="fields"
    :form="formData"
    :choices="choices"
    classStyle="mr-2"
    btn_name="Go"
    :isDefault="true"
    :errors="errors"
  />

  <v-snackbar
    top
    right
    v-model="isSnackbar"
    :color="color"
    class="caption">
    <v-card-actions 
      class="ma-0 pa-1 text-break"
      style="max-width: 500px;">
      <span>
        {{ text }}
      </span>
      <v-spacer />
      <v-btn
        color="white"
        text
        icon
        right
        @click="isSnackbar = false"
        class="caption">
        <v-icon>clear</v-icon>
      </v-btn>
    </v-card-actions>
  </v-snackbar>
</v-layout>
</template>
<script type="text/javascript">
import defaultMixins from '@/mixins/index'
import formMixins from '@/mixins/form.js'
import { mapGetters, mapMutations, mapActions  } from 'vuex'
import basicQueriesyMixins from '@/mixins/queries/student/basicQueries'
export default {
  mixins: [
    basicQueriesyMixins,
    defaultMixins,
    formMixins
  ],
  props: ['studentItem', 'tableTitle'],
  data () {
    return {
      applicant: this.studentItem,
      title: '',
      dialog: false,
      formData: [{
        curriculum_id: null,
        revision_id: null
      }],
      isDisabled: false,
      fields: [
        {
          key: 'curriculum_id',
          placeholder: 'Curriculum',
          label: 'Curriculum',
          choices: 'curriculums',
          itemValue: 'curriculum_id',
          itemText: 'curriculum_code',
          fieldTitle: true,
          classNames: 'xs12 px-2'
        },
        {
          key: 'revision_id',
          placeholder: 'Revision',
          label: 'Revision',
          choices: 'revisions',
          itemValue: 'revision_id',
          itemText: 'revision',
          fieldTitle: true,
          classNames: 'xs12 px-2'
        }
      ],
      curriculums: [],
      revisions: [],
      curriculumId: null,
      errors: {},
      isSnackbar: false,
      color: '',
      text: ''
    }
  },
  computed: {
    ...mapGetters('user', ['user', 'registrar']),
    ...mapGetters('students', ['curriculum', 'revision']),
    applicantImage () {
      if (this.applicant) {
        if (this.applicant.avatar) return this.applicant.avatar
        return ''
      }
    },
    type () {
      if (this.registrar) {
        if (this.registrar.applicant_approve) return this.registrar.applicant_approve.type
        return ''
      }
    },
    imageColor () {
      if (this.applicantImage) return 'white'
      return 'main'
    },
    setCurriculumCode: {
      get: function () {
        return this.curriculum
      },
      // setter
      set: function (value) {
        return this.setCurriculum(value)
      }
    },
    setRevisionNo: {
      get: function () {
        return this.revision
      },
      // setter
      set: function (value) {
        return this.setRevision(value)
      }
    },
    choices () {
      return {
        revisions: this.revisions,
        curriculums: this.curriculums
      }
    },
    isEditDisabled () {
      if (this.tableTitle === 'Enrollment') {
        // enable editing curriculum and revision for transferee 1st year and students
        if (this.registrar.applicant_status === 'Transferee' && this.registrar.user_type_id === 1) {
          return !Boolean(this.userType === 8 || this.userType === 9)
        } else {
          return true
        }
     } else if (this.tableTitle === 'Student') {
       return !Boolean(this.userType === 8 || this.userType === 9)
     } else {
      return true
     }
    }
  },
  methods: {
    ...mapMutations('students', ['setCurriculum', 'setRevision']),
    ...mapActions('curricula', ['PATCH_STUDENT_CURRICULUM']),
    updateCurriculum () {
      this.title = 'UPDATE CURRICULUM'
      this.dialog = true
      this.formData[0].curriculum_id = this.setCurriculumCode.id
      this.formData[0].revision_id = this.setRevisionNo.id
      if (this.formData[0].revision_id) {
        this.curriculumId = this.formData[0].curriculum_id
      } else {
        this.curriculumId = null
      }
    },
    updateRevision () {
      this.title = 'UPDATE REVISION'
      this.dialog = true
    },
    PickedItem () {
      let payload = {
        ...this.formData[0],
        id: this.registrar.student_id,
        program_id: this.registrar.program_id,
        year_level_id: this.registrar.year_level_id,
        semester_id: this.registrar.semester_id,
        school_year_id: this.registrar.school_year_id
      }
      this.saveCurriculum(payload)
    },
    saveCurriculum (payload) {
      this.PATCH_STUDENT_CURRICULUM(payload).then(data => {
        if (data.data.status === 'error') {
          this.errors = {
            revision_id: data.data.revision_id
          }
        } else {
          this.errors = {}
          this.dialog = false
          this.snackbar(`${data.data.message}`, `${data.data.status}`)
          this.setCurriculum({ curriculum_code: data.data.updated.curriculum_code.curriculum_code , name: data.data.updated.curriculum_code.curriculum_code, id: Number(data.data.updated.curriculum_code.id) })
          this.setRevision({ revision_no: Number(data.data.updated.revision.revision_no), name: `Revision No. ${Number(data.data.updated.revision.revision_no)}`, id: Number(data.data.updated.revision_id) })
        }
      }).catch(data => {
        console.log(data)
      })
    },
    ChangeItem (val) {
      let formItem = this.formData.find(item => item)
      if (!global._.isUndefined(formItem)) {
        this.curriculumId = formItem.curriculum_id
        this.$apollo.queries.revisions.refetch()
      } else {
        this.curriculumId = null
      }
      if (global._.isEmpty(this.formData)) {
        this.isDisabled = true
      } else {
        this.isDisabled = false
      }
    }
  }
}
</script>