<template>
<v-container fluid>
  <v-card tile flat class="accent--text">
    <v-tabs
      v-model="tab"
      align-with-title>
    <v-tab
      v-for="(item, index) in items"
      :key="index">
      {{ item.year }}
    </v-tab>
    </v-tabs>
    <v-tabs-items v-model="tab">
      <v-tab-item
        v-for="(item, index) in items"
        :key="index"
      >
        <v-flex xs12
          v-for="(semItem, semIndex) in sortSemester(item.semesters)"
          :key="semIndex">
          <v-card-title>
            {{ semItem.semester }}
          </v-card-title>
          <v-divider class="mx-2" />
          <v-card-text>
            <v-layout wrap>
              <v-flex xs12>
                <v-data-table
                  :headers="headers"
                  :items="semItem.items"
                  :page.sync="page"
                  :items-per-page="itemsPerPage"
                  @page-count="pageCount = $event"
                  hide-default-footer
                  loading-text="Loading... Please wait"
                  v-bind="rowsPerPage"
                  @click:row="editItem($event)"
                  >
                  <template v-slot:body.append>
                    <tr>
                      <td
                        class="text-center"
                        v-for="(item, index) in headers"
                        :key="index"
                      >
                        <span
                          v-if="item.total">{{ item.total_title }}</span>
                        <span
                          class="align-center"
                          v-else-if="item.total_lec_data">
                          {{ totalLec(semItem.items) }}
                        </span>
                        <span
                          class="align-center"
                          v-else-if="item.total_lab_data">
                          {{ totalLab(semItem.items) }}
                        </span>
                        <span
                          class="align-center"
                          v-else-if="item.total_data">
                          {{ totalUnits(semItem.items) }}
                        </span>
                        <span v-else></span>
                      </td>
                    </tr>
                  </template>
                </v-data-table>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-flex>
      </v-tab-item>
    </v-tabs-items>
  </v-card>

  <card-dialog
    :showDialog="dialog"
    @close="closeDialog"
    :title="title"
    @go="go"
    :fields="fields"
    :form="formData"
    :choices="choices"
    classStyle="mr-3"
    btn_name="Save"
    :isDefault="true"
    :isStyle="true"
  />
  <v-snackbar
    top
    right
    v-model="isSnackbar"
    :color="color"
    class="caption">
    <v-card-actions 
      class="ma-0 pa-1 text-break"
      style="max-width: 500px;">
      <span>
        {{ text }}
      </span>
      <v-spacer />
      <v-btn
        color="white"
        text
        icon
        right
        @click="isSnackbar = false"
        class="caption">
        <v-icon>clear</v-icon>
      </v-btn>
    </v-card-actions>
  </v-snackbar>

  <confirmation-dialog
    :showDialog="confirmDialog"
    @close="confirmDialog = false"
    @proceed="Save"
    :loading="loading"
    message="Are you sure you want to lock In grade ? This will automatically update student evaluation record."
  />
</v-container>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import defaultMixins from '@/mixins/index'
import evaluationQueryMixins from '@/mixins/queries/admin/evaluationQueries'
export default {
  mixins: [
    defaultMixins,
    evaluationQueryMixins
  ],
  props: {
    userId: {
      type: [String, Number]
    },
    ids: {
      type: [Object]
    },
    isEvaluation: {
      type: Boolean
    }
  },
  data: () => ({
    rowsPerPage: {
      'footer-props': {
        'items-per-page-options': [10]
      }
    },
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    items: [],
    tab: 0,
    headers: [
      {
        text: 'Grade',
        value: 'grade',
        sortable: true,
        align: 'center',
        title: '',
        name: ''
      },
      {
        text: 'Course Code',
        value: 'course_code',
        sortable: true,
        align: 'center',
        title: '',
        name: ''
      },
      {
        text: 'Course Description',
        value: 'course_description',
        sortable: true,
        align: 'center',
        title: '',
        name: ''
      },
      {
        text: 'Co-Requisite/Pre-requisite',
        value: 'prerequisite',
        sortable: true,
        align: 'center',
        title: '',
        name: '',
        total: true,
        total_title: 'Total'
      },
      {
        text: 'Lec',
        value: 'lecture_schedule',
        sortable: true,
        align: 'center',
        title: '',
        name: '',
        total_lec_data: true
      },
      {
        text: 'Lab',
        value: 'laboratory_schedule',
        sortable: true,
        align: 'center',
        title: '',
        name: '',
        total_lab_data: true
      },
      {
        text: 'Units',
        value: 'units',
        sortable: true,
        align: 'center',
        title: '',
        name: '',
        total_data: true
      }
    ],
    dialog: false,
    fields: [
      {
        key: 'course_code',
        disabled: true,
        classNames: 'xs12 md6 px-2'
      },
      {
        key: 'course_description',
        disabled: true,
        classNames: 'xs12 md6 px-2'
      },
      {
        key: 'prerequisite',
        disabled: true,
        label: 'Co-Requisite/Pre-requisite',
        classNames: 'xs12 md6 px-2'
      },
      {
        key: 'lecture_schedule',
        label: 'Lec',
        disabled: true,
        classNames: 'xs12 md3 px-2'
      },
      {
        key: 'laboratory_schedule',
        label: 'lab',
        disabled: true,
        classNames: 'xs12 md3 px-2'
      },
      {
        key: 'units',
        disabled: true,
        classNames: 'xs12 md6 px-2'
      },
      {
        key: 'grade',
        classNames: 'xs12 md6 px-2',
        type: 'number'
      }
    ],
    formData: [],
    defaultItem: {
      course_code: '',
      course_description: '',
      prerequisite: '',
      lecture_schedule: '',
      laboratory_schedule: '',
      units: '',
      grade: ''
    },
    title: '',
    isSnackbar: false,
    color: '',
    text: '',
    loading: false,
    confirmDialog: false
  }),
  computed: {
    ...mapGetters('user', ['prospectus', 'registrar']),
    choices () {
      return {
      }
    }
  },
  watch: {
    ids (val) {
      console.log('ids:', val)
    }
  },
  methods: {
    ...mapActions('students', ['POST_STUDENT_GRADE_BY_ADMIN']),
    totalUnits (items) {
      let total = global._.reduce(global._.mapValues(items, function (o) { return o.units }), function (sum, num) {
       return Number(sum) + Number(num)
      })
      return total
    },
    totalLec (items) {
      let total = global._.reduce(global._.mapValues(items, function (o) { return o.lecture_schedule }), function (sum, num) {
       return Number(sum) + Number(num)
      })
      return total
    },
    totalLab (items) {
      let total = global._.reduce(global._.mapValues(items, function (o) { return o.laboratory_schedule }), function (sum, num) {
       return Number(sum) + Number(num)
      })
      return total
    },
    sortSemester (val) {
      let semesters = []
      global._.forEach(val, function (value, key) {
        semesters.push({
          key: key === '1st Semester' ? 1 : key === '2nd Semester' ? 2 : 3,
          semester: key,
          items: value
        })
      })
      return semesters.sort((a, b) => a.key - b.key)
    },
    closeDialog () {
      this.confirmDialog = false
      this.dialog = false
      this.loading = false
      this.formData[0] = Object.assign({}, this.defaultItem)
    },
    editItem (val) {
      if (val.school_year_id) {
        this.title = `Add Student Grade (${val.school_year} - ${val.semester})`
        this.dialog = true
        this.formData[0] = Object.assign({}, val)
      }
    },
    go () {
      this.confirmDialog = true
    },
    Save () {
      let payload = {
        ...this.formData[0],
        user_id: this.registrar.user_id
      }
      this.loading = true
      this.POST_STUDENT_GRADE_BY_ADMIN(payload).then(data => {
        this.$apollo.queries.studentEvaluation.refetch()
        this.closeDialog()
      }).catch(data => {
        console.log(data)
      })
    },
  }
}
</script>
