<template>
  <v-container fluid>
    <v-layout wrap
      height="800px">
      <v-flex xs12 lg6
        v-show="isEnrollment">
        <file-upload
          @checkVal="checkResult"
          :id="userId"
          ref="entrance_exam"
          :hasFile="filenames.entrance_exam_result !== ''"
          :file_name="filenames.entrance_exam_result"
          title="Entrance Exam Result"
          @change="doEntrance"
          :loading="entranceLoading"
          @clear="filenames.entrance_exam_result = ''"
          @choose="filenames.entrance_exam_result = ''"
          :isRequired="true"
        />
      </v-flex>
      <v-flex xs12 lg6
        v-show="(!isEnrollment && isTransferee) || (isEnrollment && isTransferee) || isAdmission && isTransferee">
        <file-upload
          @checkVal="checkTor"
          :id="userId"
          ref="tor"
          :hasFile="filenames.transcript_of_records !== ''"
          :file_name="filenames.transcript_of_records"
          title="Transcript Of Records"
          @change="doTor"
          :loading="torLoading"
          @clear="filenames.transcript_of_records = ''"
          @choose="filenames.transcript_of_records = ''"
          :isRequired="true"
        />
      </v-flex>
      <v-flex xs12 lg6
        v-show="isEnrollment && isTransferee">
        <file-upload
          @checkVal="checkHonor"
          :id="userId"
          ref="hd"
          :hasFile="filenames.certificate_of_honorable_dismissal !== ''"
          :file_name="filenames.certificate_of_honorable_dismissal"
          title="Certificate Of Honorable Dismissal"
          @change="doHonorableDismissal"
          :loading="hdLoading"
          @clear="filenames.certificate_of_honorable_dismissal = ''"
          @choose="filenames.certificate_of_honorable_dismissal = ''"
          :isRequired="true"
        />
      </v-flex>
      <v-flex xs12 lg6
        v-show="isEnrollment && !isTransferee">
        <file-upload
          @checkVal="checkReport"
          :id="userId"
          ref="card"
          title="High School Report Card"
          :hasFile="filenames.high_school_report_card !== ''"
          :file_name="filenames.high_school_report_card"
          @change="doReport"
          :loading="reportLoading"
          @clear="filenames.high_school_report_card = ''"
          @choose="filenames.high_school_report_card = ''"
          :isRequired="true"
        />
      </v-flex>
      <v-flex xs12 lg6
        v-show="isEnrollment || isGoodMoral">
        <file-upload
          @checkVal="checkMoral"
          :id="userId"
          ref="gm"
          title="Good Moral Character Certificate"
          :hasFile="filenames.good_moral_character_certificate !== ''"
          :file_name="filenames.good_moral_character_certificate"
          @change="doGoodMoral"
          :loading="gmLoading"
          @clear="filenames.good_moral_character_certificate = ''"
          @choose="filenames.good_moral_character_certificate = ''"
        />
      </v-flex>
      <v-flex xs12 lg6
        v-show="isEnrollment">
        <file-upload
          @checkVal="checkBirth"
          :id="userId"
          ref="psa"
          title="Authenticated Birth Certificate"
          :hasFile="filenames.authenticated_birth_certificate !== ''"
          :file_name="filenames.authenticated_birth_certificate"
          @change="doPsa"
          :loading="psaLoading"
          @clear="filenames.authenticated_birth_certificate = ''"
          @choose="filenames.authenticated_birth_certificate = ''"
        />
      </v-flex>
      <v-flex xs12
        v-if="isMedical">
        <v-layout wrap justify-right align-right>
          <v-flex xs12
            v-show="isEnrollment || isMedical">
            <v-card-text class="body-1 mb-1">Medical Examination</v-card-text>
          </v-flex>
          <v-flex xs12
            v-show="isEnrollment || isMedical">
            <v-divider class="mb-5" />
          </v-flex>
          <v-flex xs12 lg6
            v-show="(isEnrollment || isMedical) || isMaritimeProgram">
            <file-upload
              @checkVal="checkXray"
              :id="userId"
              ref="xray"
              title="Chest X Ray"
              :hasFile="filenames.chest_x_ray !== ''"
              :file_name="filenames.chest_x_ray"
              @change="doXray"
              :loading="xrayLoading"
              @clear="filenames.chest_x_ray = ''"
              @choose="filenames.chest_x_ray = ''"
            />
          </v-flex>
          <v-flex xs12 lg6
            v-show="(isEnrollment || isMedical) || isMaritimeProgram">
            <file-upload
              @checkVal="checkElectro"
              :id="userId"
              ref="electro"
              title="Electrocardiogram"
              :hasFile="filenames.electrocardiogram !== ''"
              :file_name="filenames.electrocardiogram"
              @change="doElectro"
              :loading="electroLoading"
              @clear="filenames.electrocardiogram = ''"
              @choose="filenames.electrocardiogram = ''"
            />
          </v-flex>
          <v-flex xs12 lg6
            v-show="(isEnrollment || isMedical) || isMaritimeProgram">
            <file-upload
              @checkVal="checkBloodCount"
              :id="userId"
              ref="cbc"
              title="Complete Blood Count"
              :hasFile="filenames.complete_blood_count !== ''"
              :file_name="filenames.complete_blood_count"
              @change="doCbc"
              :loading="cbcLoading"
              @clear="filenames.complete_blood_count = ''"
              @choose="filenames.complete_blood_count = ''"
            />
          </v-flex>
          <v-flex xs12 lg6
            v-show="(isEnrollment || isMedical) || isMaritimeProgram">
            <file-upload
              @checkVal="checkBloodType"
              :id="userId"
              ref="blood"
              title="Blood Typing"
              :hasFile="filenames.blood_typing !== ''"
              :file_name="filenames.blood_typing"
              @change="doBlood"
              :loading="bloodLoading"
              @clear="filenames.blood_typing = ''"
              @choose="filenames.blood_typing = ''"
            />
          </v-flex>
          <v-flex xs12 lg6
            v-show="(isEnrollment || isMedical) || isMaritimeProgram">
            <file-upload
              @checkVal="checkUrine"
              :id="userId"
              ref="urinalysis"
              title="Urinalysis"
              :hasFile="filenames.urinalysis !== ''"
              :file_name="filenames.urinalysis"
              @change="doUrinalysis"
              :loading="urinalysisLoading"
              @clear="filenames.urinalysis = ''"
              @choose="filenames.urinalysis = ''"
            />
          </v-flex>
          <v-flex xs12 lg6
            v-show="(isEnrollment || isMedical) || isMaritimeProgram">
            <file-upload
              @checkVal="checkStool"
              :id="userId"
              ref="stool"
              title="Stool Examination"
              :hasFile="filenames.stool_examination !== ''"
              :file_name="filenames.stool_examination"
              @change="doStool"
              :loading="stoolLoading"
              @clear="filenames.stool_examination = ''"
              @choose="filenames.stool_examination = ''"
            />
          </v-flex>
          <v-flex xs12 lg6
            v-show="(isEnrollment || isMedical) || isMaritimeProgram">
          <file-upload
            @checkVal="checkAntegen"
            :id="userId"
            ref="antegen"
            title="Hepatitis B Antegen"
            :hasFile="filenames.hepatitis_b_antegen !== ''"
            :file_name="filenames.hepatitis_b_antegen"
            @change="doAntegen"
            :loading="antegenLoading"
            @clear="filenames.hepatitis_b_antegen = ''"
            @choose="filenames.hepatitis_b_antegen = ''"
          />
          </v-flex>
            <v-flex xs12 lg6
              v-show="(isEnrollment || isMedical) || isMaritimeProgram">
              <file-upload
                @checkVal="checkAntibodies"
                :id="userId"
                ref="antibodies"
                title="Hepatitis B Antibodies"
                :hasFile="filenames.hepatitis_b_antibodies !== ''"
                :file_name="filenames.hepatitis_b_antibodies"
                @change="doAntibodies"
                :loading="antibodiesLoading"
                @clear="filenames.hepatitis_b_antibodies = ''"
                @choose="filenames.hepatitis_b_antibodies = ''"
              />
            </v-flex>
            
        <v-flex xs12 lg6
          v-show="(isEnrollment || isMedical) && isMaritimeProgram">
          <file-upload
            @checkVal="checkIshihara"
            :id="userId"
            ref="ishihara"
            title="Ishihara Test"
            :hasFile="filenames.ishihara_test !== ''"
            :file_name="filenames.ishihara_test"
            @change="doIshihara"
            :loading="ishiharaLoading"
            @clear="filenames.ishihara_test = ''"
            @choose="filenames.ishihara_test = ''"
          />
        </v-flex>
        <v-flex xs12 lg6
          v-show="(isEnrollment || isMedical) && isMaritimeProgram">
          <file-upload
            @checkVal="checkVisuals"
            :id="userId"
            ref="visual"
            title="Visual Acuity"
            :hasFile="filenames.visual_acuity !== ''"
            :file_name="filenames.visual_acuity"
            @change="doVisual"
            :loading="visualLoading"
            @clear="filenames.visual_acuity = ''"
            @choose="filenames.visual_acuity = ''"
          />
        </v-flex>
        <v-flex xs12 lg6
          v-show="(isEnrollment || isMedical) && isMaritimeProgram">
          <file-upload
            @checkVal="checkHearing"
            :id="userId"
            ref="hearing"
            title="Hearing Test"
            :hasFile="filenames.hearing_test !== ''"
            :file_name="filenames.hearing_test"
            @change="doHearing"
            :loading="hearingLoading"
            @clear="filenames.hearing_test = ''"
            @choose="filenames.hearing_test = ''"
          />
        </v-flex>
        <v-flex xs12 lg6
          v-show="(isEnrollment || isMedical) && isMaritimeProgram">
          <file-upload
            @checkVal="checkDental"
            :id="userId"
            ref="dental"
            title="Dental Certificate"
            :hasFile="filenames.dental_certificate !== ''"
            :file_name="filenames.dental_certificate"
            @change="doDental"
            :loading="dentalLoading"
            @clear="filenames.dental_certificate = ''"
            @choose="filenames.dental_certificate = ''"
          />
        </v-flex>
        <v-flex xs12 lg6
          v-show="(isEnrollment || isMedical) || isMaritimeProgram">
          <file-upload
            @checkVal="checkDrugs"
            :id="userId"
            ref="drug"
            title="Drug Test"
            :hasFile="filenames.drug_test !== ''"
            :file_name="filenames.drug_test"
            @change="doDrug"
            :loading="drugLoading"
            @clear="filenames.drug_test = ''"
            @choose="filenames.drug_test = ''"
          />
        </v-flex>
        <v-flex xs12 lg6
          v-show="(isEnrollment || isMedical) || isMaritimeProgram">
          <file-upload
            @checkVal="checkPhysical"
            :id="userId"
            ref="physical"
            title="Physical Exam"
            :hasFile="filenames.physical_exam !== ''"
            :file_name="filenames.physical_exam"
            @change="doPhysical"
            :loading="physicalLoading"
            @clear="filenames.physical_exam = ''"
            @choose="filenames.physical_exam = ''"
          />
        </v-flex>
        <v-flex xs12 lg6
          v-show="(isEnrollment || isMedical) || isMaritimeProgram">
          <file-upload
            @checkVal="checkMedicalCert"
            :id="userId"
            ref="medical_cert"
            title="Medical Certificate"
            :hasFile="filenames.medical_certificate !== ''"
            :file_name="filenames.medical_certificate"
            @change="doMedical"
            :loading="medicalLoading"
            @clear="filenames.medical_certificate = ''"
            @choose="filenames.medical_certificate = ''"
          />
        </v-flex>
        </v-layout>
      </v-flex>
      <v-flex xs12
        v-if="isEnrollment && isMaritimeProgram">
        <v-layout wrap justify-right align-right>
          <v-flex xs12>
            <v-card-text class="body-1 mb-1">Maritime Form (Maritime Program: BSMT & BSMarE)</v-card-text>
          </v-flex>
          <v-flex xs12>
            <v-divider class="mb-5" />
          </v-flex>
          <v-flex xs12 lg6>
            <file-upload
              @checkVal="checkExam"
              :id="userId"
              ref="apro"
              title="Exam Result"
              :hasFile="filenames.exam_result !== ''"
              :file_name="filenames.exam_result"
              @change="doApro"
              :loading="aproLoading"
              @clear="filenames.exam_result = ''"
              @choose="filenames.exam_result = ''"
              :isRequired="true"
            />
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex xs12
        v-if="isWaiver && hasWaiver">
        <v-layout wrap justify-right align-right>
          <v-flex xs12>
            <v-card-text class="body-1 mb-1">WAIVER-TEMPORARY ENROLLMENT FORM</v-card-text>
          </v-flex>
          <v-flex xs12>
            <v-divider class="mb-5" />
          </v-flex>
          <v-flex xs12 lg6>
            <file-upload
              @checkVal="checkWaiver"
              :id="userId"
              ref="waiver"
              title="Waiver Temporary Enrollment"
              :hasFile="filenames.waiver_temporary_enrollment !== ''"
              :file_name="filenames.waiver_temporary_enrollment"
              @change="doWaiver"
              :loading="waiverLoading"
              @clear="filenames.waiver_temporary_enrollment = ''"
              @choose="filenames.waiver_temporary_enrollment = ''"
              :isRequired="true"
            />
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex xs12
        v-if="isAffidavit && hasAffidavit">
        <v-layout wrap justify-right align-right>
          <v-flex xs12>
            <v-card-text class="body-1 mb-1">AFFIDAVIT OF UNDERTAKING FORM</v-card-text>
          </v-flex>
          <v-flex xs12>
            <v-divider class="mb-5" />
          </v-flex>
          <v-flex xs12 lg6>
            <file-upload
              @checkVal="checkAffidavit"
              :id="userId"
              ref="affidavit"
              title="Affidavit Of Undertaking"
              :hasFile="filenames.affidavit_of_undertaking !== ''"
              :file_name="filenames.affidavit_of_undertaking"
              @change="doAffidavit"
              :loading="affidavitLoading"
              @clear="filenames.affidavit_of_undertaking = ''"
              @choose="filenames.affidavit_of_undertaking = ''"
              :isRequired="true"
            />
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import defaultMixins from '@/mixins/index'
import { mapGetters, mapMutations } from 'vuex'
import formMixins from '@/mixins/form.js'
import { GET_FILENAMES } from '@/graphql/queries'
export default {
  mixins: [
    defaultMixins,
    formMixins
  ],
  props: {
    userId: {
      type: [Number, String]
    },
    isTransferee: {
      required: false,
      type: Boolean,
      default: false
    },
    isEnrollment: {
      required: false,
      type: Boolean,
      default: false
    },
    isMaritimeProgram: {
      required: false,
      type: Boolean,
      default: false
    },
    isGoodMoral: {
      required: false,
      type: Boolean,
      default: false
    },
    isMedical: {
      required: false,
      type: Boolean,
      default: false
    },
    isWaiver: {
      required: false,
      type: Boolean,
      default: false
    },
    isAffidavit: {
      required: false,
      type: Boolean,
      default: false
    },
    isAdmission: {
      required: false,
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    loading: false,
    skipFileNamesQuery: false,
    skipReqQuery: false,
    color: '',
    text: '',
    isSnackbar: false,
    form: [],
    filenames: {
      transcript_of_records: '',
      certificate_of_honorable_dismissal: '',
      good_moral_character_certificate: '',
      entrance_exam_result: '',
      high_school_report_card: '',
      ishihara_test: '',
      hearing_test: '',
      blood_typing: '',
      complete_blood_count: '',
      chest_x_ray: '',
      dental_certificate: '',
      drug_test: '',
      electrocardiogram: '',
      hepatitis_b_antegen: '',
      hepatitis_b_antibodies: '',
      physical_exam: '',
      medical_certificate: '',
      stool_examination: '',
      urinalysis: '',
      visual_acuity: '',
      authenticated_birth_certificate: '',
      exam_result: '',
      waiver_temporary_enrollment: '',
      affidavit_of_undertaking: ''
    },
    torLoading: false,
    hdLoading: false,
    entranceLoading: false,
    reportLoading: false,
    gmLoading: false,
    ishiharaLoading: false,
    hearingLoading: false,
    bloodLoading: false,
    cbcLoading: false,
    xrayLoading: false,
    dentalLoading: false,
    drugLoading: false,
    electroLoading: false,
    antegenLoading: false,
    antibodiesLoading: false,
    physicalLoading: false,
    stoolLoading: false,
    urinalysisLoading: false,
    visualLoading: false,
    psaLoading: false,
    aproLoading: false,
    disabled: false,
    medicalLoading: false,
    waiverLoading: false,
    affidavitLoading: false
  }),
  apollo: {
    requirementFileNames: {
      query: GET_FILENAMES,
      variables () {
        return {
          input: {
            id: global._.isUndefined(this.userId) ? 0 : this.userId
          }
        }
      },
      result ({ data }) {
        let self = this
        if (!global._.isUndefined(data)) {
          if (!global._.isEmpty(data.requirementFileNames)) {
            this.setRequirements(data.requirementFileNames)
            global._.forEach(data.requirementFileNames, function (value) {
              Object.keys(self.filenames).forEach(key => {
                let name = key.replace(/_/g, ' ')
                if (value.file_name === `${self.capitalLeter(name)}`) {
                  self.filenames[key] = value.file_name
                }
              })
            })
            this.disabled = false
          } else {
            this.disabled = true
          }
        }
      },
      skip () {
        return this.skipFileNamesQuery
      }
    }
  },
  computed: {
    ...mapGetters('registration', ['enrollment', 'entrance']),
    ...mapGetters('user', ['user']),
    ...mapGetters('applicants', ['requirements']),
    postApi () {
      return 'api/applicant/upload/requirement'
    },
    hasWaiver () {
      return this.filenames.good_moral_character_certificate === '' || this.filenames.authenticated_birth_certificate === ''
    },
    hasAffidavit () {
      if (!global._.isEmpty(this.requirements)) {
        if (this.isMaritimeProgram) {
          let marineFiles = this.requirements.filter(item => item.file_name === 'Ishihara Test' || item.file_name === 'Hearing Test' || item.file_name === 'Blood Typing' || item.file_name === 'Complete Blood Count' || item.file_name === 'Chest X Ray' || item.file_name === 'Dental Certificate' || item.file_name === 'Drug Test' || item.file_name === 'Electrocardiogram' || item.file_name === 'Hepatitis B Antegen' || item.file_name === 'Hepatitis B Antibodies' || item.file_name === 'Physical Exam' || item.file_name === 'Medical Certificate' || item.file_name === 'Stool Examination' || item.file_name === 'Urinalysis' || item.file_name === 'Visual Acuity')
          if (!global._.isEmpty(marineFiles)) {
            if (marineFiles.length < 14) {
              return true
            } else {
              return false
            }
          } else {
            return true
          }
        } else {
          let notMarineFiles = this.requirements.filter(item => item.file_name === 'Chest X Ray' || item.file_name === 'Complete Blood Count' || item.file_name === 'Stool Examination' || item.file_name === 'Physical Exam' || item.file_name === 'Medical Certificate' || item.file_name === 'Blood Typing' || item.file_name === 'Urinalysis' || item.file_name === 'Drug Test' || item.file_name === 'Hepatitis B Antegen' || item.file_name === 'Hepatitis B Antibodies' || item.file_name === 'Electrocardiogram')
          if (!global._.isEmpty(notMarineFiles)) {
            if (notMarineFiles.length < 10) {
              return true
            } else {
              return false
            }
          } else {
            return true
          }
        }
      }
    }
  },
  watch: {
    form: {
      handler: function (val) {
        Object.keys(this.filenames).forEach(key => {
          let name = key.replace(/_/g, ' ')
          if (val.file_name === `${this.capitalLeter(name)}`) {
            this.filenames[key] = val.file_name
            this.disabled = false
          }
        })
      },
      deep: true
    }
  },
  methods: {
    ...mapMutations('applicants', ['setRequirements']),
    checkAffidavit (val) {
      this.$emit('checkAffidavit', val)
    },
    checkWaiver (val) {
      this.$emit('checkWaiver', val)
    },
    checkResult (val) {
      this.$emit('checkResult', val)
    },
    checkTor (val) {
      this.$emit('checkTor', val)
    },
    checkHonor (val) {
      this.$emit('checkHonor', val)
    },
    checkReport (val) {
      this.$emit('checkReport', val)
    },
    checkMoral (val) {
      this.$emit('checkMoral', val)
    },
    checkBirth (val) {
      this.$emit('checkBirth', val)
    },
    checkXray (val) {
      this.$emit('checkXray', val)
    },
    checkElectro (val) {
      this.$emit('checkElectro', val)
    },
    checkBloodCount (val) {
      this.$emit('checkBloodCount', val)
    },
    checkBloodType (val) {
      this.$emit('checkBloodType', val)
    },
    checkUrine (val) {
      this.$emit('checkUrine', val)
    },
    checkStool (val) {
      this.$emit('checkStool', val)
    },
    checkAntegen (val) {
      this.$emit('checkAntegen', val)
    },
    checkAntibodies (val) {
      this.$emit('checkAntibodies', val)
    },
    checkIshihara (val) {
      this.$emit('checkIshihara', val)
    },
    checkVisuals (val) {
      this.$emit('checkVisuals', val)
    },
    checkHearing (val) {
      this.$emit('checkHearing', val)
    },
    checkDental (val) {
      this.$emit('checkDental', val)
    },
    checkDrugs (val) {
      this.$emit('checkDrugs', val)
    },
    checkPhysical (val) {
      this.$emit('checkPhysical', val)
    },
    checkMedicalCert (val) {
      this.$emit('checkMedicalCert', val)
    },
    checkExam (val) {
      this.$emit('checkExam', val)
    },
    close () {
      this.medicalLoading = false
      this.torLoading = false
      this.hdLoading = false
      this.entranceLoading = false
      this.reportLoading = false
      this.gmLoading = false
      this.ishiharaLoading = false
      this.hearingLoading = false
      this.bloodLoading = false
      this.cbcLoading = false
      this.xrayLoading = false
      this.dentalLoading = false
      this.drugLoading = false
      this.electroLoading = false
      this.antegenLoading = false
      this.antibodiesLoading = false
      this.physicalLoading = false
      this.stoolLoading = false
      this.urinalysisLoading = false
      this.visualLoading = false
      this.psaLoading = false
      this.aproLoading = false
      this.waiverLoading = false
      this.affidavitLoading = false
      this.$apollo.queries.requirementFileNames.refetch()
    },
    doAffidavit (val) {
       this.affidavitLoading = true
      if (val.length > 0) {
        if (this.$refs.affidavit.title) {
          val.forEach((file) => {
            if (/\.(pdf)$/i.test(file.name)) {
              const inputs = new FormData()
              inputs.append('file_upload', file)
              inputs.append('user_id', this.userId)
              inputs.append('file_name', this.$refs.affidavit.title)
              inputs.append('icon', 'mdi-check-circle')
              this.saveData(inputs)
            }
          })
        }
      }
    },
    doWaiver (val) {
       this.waiverLoading = true
      if (val.length > 0) {
        if (this.$refs.waiver.title) {
          val.forEach((file) => {
            if (/\.(pdf)$/i.test(file.name)) {
              const inputs = new FormData()
              inputs.append('file_upload', file)
              inputs.append('user_id', this.userId)
              inputs.append('file_name', this.$refs.waiver.title)
              inputs.append('icon', 'mdi-check-circle')
              this.saveData(inputs)
            }
          })
        }
      }
    },
    doTor (val) {
      this.torLoading = true
      if (val.length > 0) {
        if (this.$refs.tor.title) {
          val.forEach((file) => {
            if (/\.(pdf)$/i.test(file.name)) {
              const inputs = new FormData()
              inputs.append('file_upload', file)
              inputs.append('user_id', this.userId)
              inputs.append('file_name', this.$refs.tor.title)
              inputs.append('icon', 'mdi-check-circle')
              this.saveData(inputs)
            }
          })
        }
      }
    },
    doHonorableDismissal (val) {
      this.hdLoading = true
      if (val.length > 0) {
        if (this.$refs.hd.title) {
          val.forEach((file) => {
            if (/\.(pdf)$/i.test(file.name)) {
              const inputs = new FormData()
              inputs.append('file_upload', file)
              inputs.append('user_id', this.userId)
              inputs.append('file_name', this.$refs.hd.title)
              inputs.append('icon', 'mdi-check-circle')
              this.saveData(inputs)
            }
          })
        }
      }
    },
    doReport (val) {
      this.reportLoading = true
      if (val.length > 0) {
        if (this.$refs.card.title) {
          val.forEach((file) => {
            if (/\.(pdf)$/i.test(file.name)) {
              const inputs = new FormData()
              inputs.append('file_upload', file)
              inputs.append('user_id', this.userId)
              inputs.append('file_name', this.$refs.card.title)
              inputs.append('icon', 'mdi-check-circle')
              this.saveData(inputs)
            }
          })
        }
      }
    },
    doGoodMoral (val) {
      this.gmLoading = true
      if (val.length > 0) {
        if (this.$refs.gm.title) {
          val.forEach((file) => {
            if (/\.(pdf)$/i.test(file.name)) {
              const inputs = new FormData()
              inputs.append('file_upload', file)
              inputs.append('user_id', this.userId)
              inputs.append('file_name', this.$refs.gm.title)
              inputs.append('icon', 'mdi-check-circle')
              this.saveData(inputs)
            }
          })
        }
      }
    },
    doEntrance (val) {
      this.entranceLoading = true
      if (val.length > 0) {
        if (this.$refs.entrance_exam.title) {
          val.forEach((file) => {
            if (/\.(pdf)$/i.test(file.name)) {
              const inputs = new FormData()
              inputs.append('file_upload', file)
              inputs.append('user_id', this.userId)
              inputs.append('file_name', this.$refs.entrance_exam.title)
              inputs.append('icon', 'mdi-check-circle')
              this.saveData(inputs)
            }
          })
        }
      }
    },
    doIshihara (val) {
      this.ishiharaLoading = true
      if (val.length > 0) {
        if (this.$refs.ishihara.title) {
          val.forEach((file) => {
            if (/\.(pdf)$/i.test(file.name)) {
              const inputs = new FormData()
              inputs.append('file_upload', file)
              inputs.append('user_id', this.userId)
              inputs.append('file_name', this.$refs.ishihara.title)
              inputs.append('icon', 'mdi-check-circle')
              this.saveData(inputs)
            }
          })
        }
      }
    },
    doHearing (val) {
      this.hearingLoading = true
      if (val.length > 0) {
        if (this.$refs.hearing.title) {
          val.forEach((file) => {
            if (/\.(pdf)$/i.test(file.name)) {
              const inputs = new FormData()
              inputs.append('file_upload', file)
              inputs.append('user_id', this.userId)
              inputs.append('file_name', this.$refs.hearing.title)
              inputs.append('icon', 'mdi-check-circle')
              this.saveData(inputs)
            }
          })
        }
      }
    },
    doBlood (val) {
      this.bloodLoading = true
      if (val.length > 0) {
        if (this.$refs.blood.title) {
          val.forEach((file) => {
            if (/\.(pdf)$/i.test(file.name)) {
              const inputs = new FormData()
              inputs.append('file_upload', file)
              inputs.append('user_id', this.userId)
              inputs.append('file_name', this.$refs.blood.title)
              inputs.append('icon', 'mdi-check-circle')
              this.saveData(inputs)
            }
          })
        }
      }
    },
    doCbc (val) {
      this.cbcLoading = true
      if (val.length > 0) {
        if (this.$refs.cbc.title) {
          val.forEach((file) => {
            if (/\.(pdf)$/i.test(file.name)) {
              const inputs = new FormData()
              inputs.append('file_upload', file)
              inputs.append('user_id', this.userId)
              inputs.append('file_name', this.$refs.cbc.title)
              inputs.append('icon', 'mdi-check-circle')
              this.saveData(inputs)
            }
          })
        }
      }
    },
    doXray (val) {
      this.xrayLoading = true
      if (val.length > 0) {
        if (this.$refs.xray.title) {
          val.forEach((file) => {
            if (/\.(pdf)$/i.test(file.name)) {
              const inputs = new FormData()
              inputs.append('file_upload', file)
              inputs.append('user_id', this.userId)
              inputs.append('file_name', this.$refs.xray.title)
              inputs.append('icon', 'mdi-check-circle')
              this.saveData(inputs)
            }
          })
        }
      }
    },
    doDental (val) {
      this.dentalLoading = true
      if (val.length > 0) {
        if (this.$refs.dental.title) {
          val.forEach((file) => {
            if (/\.(pdf)$/i.test(file.name)) {
              const inputs = new FormData()
              inputs.append('file_upload', file)
              inputs.append('user_id', this.userId)
              inputs.append('file_name', this.$refs.dental.title)
              inputs.append('icon', 'mdi-check-circle')
              this.saveData(inputs)
            }
          })
        }
      }
    },
    doDrug (val) {
      this.drugLoading = true
      if (val.length > 0) {
        if (this.$refs.drug.title) {
          val.forEach((file) => {
            if (/\.(pdf)$/i.test(file.name)) {
              const inputs = new FormData()
              inputs.append('file_upload', file)
              inputs.append('user_id', this.userId)
              inputs.append('file_name', this.$refs.drug.title)
              inputs.append('icon', 'mdi-check-circle')
              this.saveData(inputs)
            }
          })
        }
      }
    },
    doElectro (val) {
      this.electroLoading = true
      if (val.length > 0) {
        if (this.$refs.electro.title) {
          val.forEach((file) => {
            if (/\.(pdf)$/i.test(file.name)) {
              const inputs = new FormData()
              inputs.append('file_upload', file)
              inputs.append('user_id', this.userId)
              inputs.append('file_name', this.$refs.electro.title)
              inputs.append('icon', 'mdi-check-circle')
              this.saveData(inputs)
            }
          })
        }
      }
    },
    doAntegen (val) {
      this.antegenLoading = true
      if (val.length > 0) {
        if (this.$refs.antegen.title) {
          val.forEach((file) => {
            if (/\.(pdf)$/i.test(file.name)) {
              const inputs = new FormData()
              inputs.append('file_upload', file)
              inputs.append('user_id', this.userId)
              inputs.append('file_name', this.$refs.antegen.title)
              inputs.append('icon', 'mdi-check-circle')
              this.saveData(inputs)
            }
          })
        }
      }
    },
    doAntibodies (val) {
      this.antibodiesLoading = true
      if (val.length > 0) {
        if (this.$refs.antibodies.title) {
          val.forEach((file) => {
            if (/\.(pdf)$/i.test(file.name)) {
              const inputs = new FormData()
              inputs.append('file_upload', file)
              inputs.append('user_id', this.userId)
              inputs.append('file_name', this.$refs.antibodies.title)
              inputs.append('icon', 'mdi-check-circle')
              this.saveData(inputs)
            }
          })
        }
      }
    },
    doPhysical (val) {
      this.physicalLoading = true
      if (val.length > 0) {
        if (this.$refs.physical.title) {
          val.forEach((file) => {
            if (/\.(pdf)$/i.test(file.name)) {
              const inputs = new FormData()
              inputs.append('file_upload', file)
              inputs.append('user_id', this.userId)
              inputs.append('file_name', this.$refs.physical.title)
              inputs.append('icon', 'mdi-check-circle')
              this.saveData(inputs)
            }
          })
        }
      }
    },
    doMedical (val) {
      this.medicalLoading = true
      if (val.length > 0) {
        if (this.$refs.medical_cert.title) {
          val.forEach((file) => {
            if (/\.(pdf)$/i.test(file.name)) {
              const inputs = new FormData()
              inputs.append('file_upload', file)
              inputs.append('user_id', this.userId)
              inputs.append('file_name', this.$refs.medical_cert.title)
              inputs.append('icon', 'mdi-check-circle')
              this.saveData(inputs)
            }
          })
        }
      }
    },
    doStool (val) {
      this.stoolLoading = true
      if (val.length > 0) {
        if (this.$refs.stool.title) {
          val.forEach((file) => {
            if (/\.(pdf)$/i.test(file.name)) {
              const inputs = new FormData()
              inputs.append('file_upload', file)
              inputs.append('user_id', this.userId)
              inputs.append('file_name', this.$refs.stool.title)
              inputs.append('icon', 'mdi-check-circle')
              this.saveData(inputs)
            }
          })
        }
      }
    },
    doUrinalysis (val) {
      this.urinalysisLoading = true
      if (val.length > 0) {
        if (this.$refs.urinalysis.title) {
          val.forEach((file) => {
            if (/\.(pdf)$/i.test(file.name)) {
              const inputs = new FormData()
              inputs.append('file_upload', file)
              inputs.append('user_id', this.userId)
              inputs.append('file_name', this.$refs.urinalysis.title)
              inputs.append('icon', 'mdi-check-circle')
              this.saveData(inputs)
            }
          })
        }
      }
    },
    doVisual (val) {
      this.visualLoading = true
      if (val.length > 0) {
        if (this.$refs.visual.title) {
          val.forEach((file) => {
            if (/\.(pdf)$/i.test(file.name)) {
              const inputs = new FormData()
              inputs.append('file_upload', file)
              inputs.append('user_id', this.userId)
              inputs.append('file_name', this.$refs.visual.title)
              inputs.append('icon', 'mdi-check-circle')
              this.saveData(inputs)
            }
          })
        }
      }
    },
    doPsa (val) {
      this.psaLoading = true
      if (val.length > 0) {
        if (this.$refs.psa.title) {
          val.forEach((file) => {
            if (/\.(pdf)$/i.test(file.name)) {
              const inputs = new FormData()
              inputs.append('file_upload', file)
              inputs.append('user_id', this.userId)
              inputs.append('file_name', this.$refs.psa.title)
              inputs.append('icon', 'mdi-check-circle')
              this.saveData(inputs)
            }
          })
        }
      }
    },
    doApro (val) {
      this.aproLoading = true
      if (val.length > 0) {
        if (this.$refs.apro.title) {
          val.forEach((file) => {
            if (/\.(pdf)$/i.test(file.name)) {
              const inputs = new FormData()
              inputs.append('file_upload', file)
              inputs.append('user_id', this.userId)
              inputs.append('file_name', this.$refs.apro.title)
              inputs.append('icon', 'mdi-check-circle')
              this.saveData(inputs)
            }
          })
        }
      }
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.skipFileNamesQuery = false
    })
  }
}
</script>
