<template>
  <v-flex xs12>
    <v-skeleton-loader
      class="ma-2"
      max-width
      type="list-item-avatar-three-line, list-item-avatar-three-line, list-item-avatar-three-line, list-item-avatar-three-line, list-item-avatar-three-line"
      v-show="isLoading"
    ></v-skeleton-loader>
    <v-layout wrap
      v-show="!isLoading">
      <v-flex xs12>
        <v-btn
          class="mx-2 my-4 text-none accent--text"
          @click="all"
          v-show="isEmpty(panel)"
          depressed>
          Show All
        </v-btn>
        <v-btn
          class="mx-2 my-4 text-none accent--text"
          @click="none"
          v-show="!isEmpty(panel)"
          depressed>
          Close All
        </v-btn>
      </v-flex>
      <v-flex xs12>
        <v-expansion-panels
          flat
          v-model="panel"
          multiple>
          <v-expansion-panel
            v-for="(item, index) in tab.tabs"
            :key="index"
          >
            <v-expansion-panel-header>
              <v-card-actions class="my-0 py-1">
                {{ item.title }}
                <v-layout wrap
                  v-if="item.update">
                  <v-flex xs12 sm4 md3 lg2 xl1
                    v-for="(itemby, index) in item.update" :key="index">
                    <v-btn
                      :width="btnWidth"
                      height="30px"
                      small
                      text
                      outlined
                      color="accent"
                      :class="fontSize"
                      class="my-1 mx-2 text-none white--text">Updated by {{ itemby === '1' ? 'Applicant' : itemby === '8' ? 'MIS' : itemby === '4' ? 'Student' : 'Registrar' }}
                    </v-btn>
                  </v-flex>
                </v-layout>
              </v-card-actions>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-layout wrap justify-center align-center
                v-if="item.title === 'Personal Information'">
                <v-flex xs12>
                  <personal-data
                    ref="user"
                    :fields="fields"
                    :form="form"
                    @input="Input(form)"
                  />
                </v-flex>
                <v-flex
                  xs12
                  :key="index"
                  v-for="(item, index) in personalForm"
                  >
                  <v-layout wrap justify-right align-right
                    class="mt-5">
                    <field-component
                      ref="personal"
                      :field="field"
                      :key="field.key"
                      :form="personalForm[index]"
                      :errors="personalErrors"
                      :item-idx="index"
                      :choices="choices"
                      v-for="field in personalfields"
                      @input="Input(personalForm[index])"
                    ></field-component>
                  </v-layout>
                </v-flex>
                <v-flex xs12>
                  <span class="font-weight-medium subtitle-1 mx-2">Career Choice / Plans</span>
                  <career-info
                    v-if="isCareer"
                    ref="career"
                    :fields="careerFields"
                    :form="careerForm"/>

                  <v-layout wrap justify-center align-center
                    class="my-10"
                    v-if="!isCareer">
                    <v-card-title class="font-italic font-weight-light">Not Yet Available</v-card-title>
                  </v-layout>
                </v-flex>
                <v-flex xs12>
                  <span class="font-weight-medium subtitle-1 mx-2">Personal Checklist</span>
                  <checklist-info
                    v-if="isChecklist"
                    ref="checklist"
                    :fields="checklistFields"
                    :form="checklistForm"
                  />
                </v-flex>
                <v-flex xs12>
                  <v-card-actions
                    v-if="item.title === 'Personal Information'">
                    <v-spacer />
                    <v-btn
                      @click="$emit('savePersonal', personalData)"
                      width="120px"
                      height="35px"
                      small
                      :loading="personalLoading"
                      color="accent"
                      v-if="(userType === 8 && paramType !== 'New') || (userType === 9 && paramType !== 'New')"
                      class="ma-2 body-2 text-none white--text">Save
                    </v-btn>
                  </v-card-actions>
                </v-flex>
              </v-layout>
            </v-expansion-panel-content>
            <v-expansion-panel-content>
              <v-layout wrap
                v-if="item.title === 'Family Information'">
                <v-flex xs12 md6>
                  <span class="font-weight-medium subtitle-1 mx-2">Father</span>
                  <fathers-info
                    v-if="isFathers"
                    ref="fathers"
                    :fields="fathersFields"
                    :form="fathersForm"/>

                  <v-layout wrap justify-center align-center
                    class="my-10"
                    v-if="!isFathers">
                    <v-card-title class="font-italic font-weight-light">Not Yet Available</v-card-title>
                  </v-layout>
                </v-flex>
                <v-flex xs12 md6>
                  <span class="font-weight-medium subtitle-1 mx-2">Mother</span>
                  <mothers-info
                    v-if="isMothers"
                    ref="mothers"
                    :fields="mothersFields"
                    :form="mothersForm"/>

                  <v-layout wrap justify-center align-center
                    class="my-10"
                    v-if="!isMothers">
                    <v-card-title class="font-italic font-weight-light">Not Yet Available</v-card-title>
                  </v-layout>
                </v-flex>
                <v-flex xs12>
                  <span class="font-weight-medium subtitle-1 mx-2">Guardian</span>
                  <guardians-info
                    v-if="isGuardians"
                    ref="guardians"
                    :fields="guardianFields"
                    :form="guardiansForm"/>

                </v-flex>
                <v-flex xs12>
                  <v-card-actions
                    v-show="item.title === 'Family Information'">
                    <v-spacer />
                    <v-btn
                      @click="$emit('saveFamily', familyData)"
                      width="120px"
                      height="35px"
                      small
                      :loading="familyLoading"
                      color="accent"
                      v-show="(userType === 8 && paramType !== 'New') || (userType === 9 && paramType !== 'New')"
                      class="ma-2 body-2 text-none white--text">Save
                    </v-btn>
                  </v-card-actions>
                </v-flex>
              </v-layout>
            </v-expansion-panel-content>
            <v-expansion-panel-content>
              <v-layout wrap justify-center align-center
                v-if="isEduc"
                v-show="item.title === 'Educational Background'">
                <v-flex
                  xs12
                  :key="educIndex"
                  v-for="(item, educIndex) in educationForm"
                  >
                  <v-layout wrap justify-right align-right
                    class="mt-5">
                    <field-component
                      ref="education"
                      :field="educField"
                      :key="educField.key"
                      :form="educationForm[educIndex]"
                      :errors="educErrors"
                      :item-idx="educIndex"
                      :choices="educChoices"
                      v-for="educField in educationFields"
                      @input="Input(educationForm[educIndex])"
                    ></field-component>
                  </v-layout>
                </v-flex>
              </v-layout>
              <v-layout wrap justify-center align-center
                class="my-10"
                v-if="!isEduc">
                <v-card-title class="font-italic font-weight-light">Not Yet Available</v-card-title>
              </v-layout>
              <v-card-actions
                v-show="item.title === 'Educational Background'">
                <v-spacer />
                <v-btn
                  @click="$emit('saveEducation', educationForm)"
                  width="120px"
                  height="35px"
                  small
                  :loading="educLoading"
                  color="accent"
                  v-show="(userType === 8 && paramType !== 'New') || (userType === 9 && paramType !== 'New')"
                  class="ma-2 body-2 text-none white--text">Save
                </v-btn>
              </v-card-actions>
            </v-expansion-panel-content>
            <v-divider class="mx-2" />
          </v-expansion-panel>
        </v-expansion-panels>
      </v-flex>
    </v-layout>
  </v-flex>
</template>
<script>
import defaultMixins from '@/mixins/index'
import { GET_YEAR_LEVEL } from '@/graphql/admin/queries'
import indexQueryMixins from '@/mixins/queries/indexQueries'
export default {
  mixins: [
    defaultMixins,
    indexQueryMixins
  ],
  props: {
    tab: {
      type: [Array, Object]
    },
    form: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    personalForm: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    fields: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    personalfields: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    fathersFields: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    mothersFields: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    guardianFields: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    careerFields: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    checklistFields: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    educationFields: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    fathersForm: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    mothersForm: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    guardiansForm: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    careerForm: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    checklistForm: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    educationForm: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    isLoading: {
      required: false,
      type: Boolean,
      default: () => {
        return true
      }
    },
    personalLoading: {
      required: false,
      type: Boolean,
      default: () => {
        return true
      }
    },
    familyLoading: {
      required: false,
      type: Boolean,
      default: () => {
        return true
      }
    },
    educLoading: {
      required: false,
      type: Boolean,
      default: () => {
        return true
      }
    },
    personalErrors: {
      required: false,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    educErrors: {
      required: false,
      type: [Object, Array],
      default: () => {
        return {}
      }
    }
  },
  data () {
    return {
      panel: [],
      items: 5,
      yearlevels: [],
      semestersItems: []
    }
  },
  computed: {
    fontSize () {
      if (this.$vuetify.breakpoint.xsOnly) return 'caption-2'
      return 'body-2'
    },
    btnWidth () {
      if (this.$vuetify.breakpoint.smAndDown) return '142px'
      return '150px'
    },
    choices () {
      return {
        type: ['Yes', 'No'],
        income: ['below P60,000', 'P61,000-P100,000', 'P101,000-P300,000', 'P301,000-P500,000', 'Above P700,000'],
        statuses: ['Single', 'Married', 'Widowed'],
        types: [
          'Old',
          'Returnee'
        ],
        student_statuses: [
          'Regular',
          'Irregular'
        ]
      }
    },
    educChoices () {
      return {
        levels: this.yearlevels
      }
    },
    familyData () {
      return [{ ...this.fathersForm[0], ...this.mothersForm[0], ...this.guardiansForm[0] }]
    },
    personalData () {
      return [{ ...this.careerForm[0], ...this.personalForm[0], ...this.checklistForm[0] }]
    },
    isCareer () {
      return !global._.isEmpty(this.careerForm)
    },
    isChecklist () {
      return !global._.isEmpty(this.checklistForm)
    },
    isFathers () {
      return !global._.isEmpty(this.fathersForm)
    },
    isMothers () {
      return !global._.isEmpty(this.mothersForm)
    },
    isGuardians () {
      return !global._.isEmpty(this.guardiansForm)
    },
    isEduc () {
      return !global._.isEmpty(this.educationForm)
    },
    skipYearLevelQuery () {
      if (global._.includes(this.panel, 2)) return false
      return true
    }
  },
  methods: {
    Input (value) {
      this.$emit('input', value)
    },
    // Create an array the length of our items
    // with all values as true
    all () {
      this.panel = [...Array(this.items).keys()].map((k,i) => i)
    },
    // Reset the panel
    none () {
      this.panel = []
    },
    isEmpty (val) {
      return global._.isEmpty(val)
    }
  }
}
</script>
