<template>
<v-layout wrap>
  <v-flex xs12 class="mt-8">
    <v-card-text class="body-1">Credit Card</v-card-text>

    <v-divider class="mb-5" />

    <v-layout wrap justify-left>
      <v-flex xs12 md5 lg3>
        <v-card-text>
          <span class="body-1 text-left">Amount:</span>
          <span class="pl-1" style="color: red;">*</span>
        </v-card-text>
      </v-flex>
      <v-flex xs12 md7 lg6>
        <v-text-field
          outlined
          read-only
          v-model="amount"
        ></v-text-field>
      </v-flex>
    </v-layout>

    <v-layout wrap justify-left>
      <v-flex xs12 md5 lg3>
        <v-card-text class="mt-8">
          <span class="body-1 text-left">Card Number:</span>
          <span class="pl-1" style="color: red;">*</span>
        </v-card-text>
      </v-flex>
      <v-flex xs12 md7 lg6>
        <v-layout wrap>
          <v-flex xs12>
            <v-icon large color="accent">fab fa-cc-mastercard</v-icon>
            <v-icon large color="blue">fab fa-cc-visa</v-icon>
            <v-icon large color="#3F79C8">fab fa-cc-amex</v-icon>
            <v-icon large color="#435669">fab fa-cc-discover</v-icon>
          </v-flex>
          <v-flex xs12>
            <v-text-field
              outlined
              read-only
              append-icon="fas fa-credit-card"
              v-model="card_info.card_number"
            ></v-text-field>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex lg3 md0/>
      <v-flex xs12 md5 lg3>
        <v-card-text>
          <span class="body-1 text-left">Expiration:</span>
          <span class="pl-1" style="color: red;">*</span>
        </v-card-text>
      </v-flex>
      <v-flex xs3 md1>
        <v-text-field
          outlined
          read-only
          v-model="card_info.expiration.month"
        ></v-text-field>
      </v-flex>
      <span class="pt-4">/</span>
      <v-flex xs3 md1>
        <v-text-field
          outlined
          read-only
          v-model="card_info.expiration.year"
        ></v-text-field>
      </v-flex>
      <v-spacer class="hidden-lg-and-up"/>
      <!-- <v-flex lg0 md1/> -->
      <v-flex xs12 md2 lg2>
        <v-card-text>
          <span class="body-1 text-left">CVC:</span>
          <span class="pl-1" style="color: red;">*</span>
        </v-card-text>
      </v-flex>
      <v-flex xs12 md2 lg1>
        <v-text-field
          outlined
          read-only
          v-model="card_info.cvc"
        ></v-text-field>
      </v-flex>
    </v-layout>
    <v-divider class="mb-6" />


    <v-layout wrap justify-left>
      <v-flex xs12 md5 lg3>
        <v-card-text>
          <span class="font-weight-bold body-1 text-left">BILLING INFORMATION</span>
        </v-card-text>
      </v-flex>
      <v-flex xs12 md7>
        <v-layout wrap>
          <v-flex
              md12 lg10 
              v-for="(item, index) in form"
              :key="index"
            >
              <v-layout wrap>
                <field-component
                  :field="field"
                  :key="field.key"
                  :form="form[index]"
                  :errors="errors"
                  :item-idx="index"
                  :choices="choices"
                  @change="getCity"
                  v-for="field in fields"
                ></field-component>
              </v-layout>
            </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>

    <v-divider class="mb-6" />

    <v-layout wrap justify-left>
      <v-flex xs12 md5 lg3>
        <v-card-text class="body-1">Other Payment Method</v-card-text>
      </v-flex>
      <v-flex xs12 md7 lg9>
        <v-layout wrap justify-left>
          <v-flex xs12 md11 lg6>
            <v-autocomplete
              :items="items"
              label="Please Select Payment Option"
              outlined
              hide-no-data
              return-string
              v-model="payment_mode"
              @click:clear="$emit('clear')"
              :loading="loading"
            />
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>

    <v-card-actions
      v-show="!showPayment">
      <v-btn
        width="120px"
        height="35px"
        small
        @click="save()"
        color="accent"
        class="ma-2 body-2 text-none white--text">Save
      </v-btn>
      <v-spacer />
    </v-card-actions>
  </v-flex>
</v-layout>
</template>
<script>
import formMixins from '@/mixins/form.js'
import { mapActions } from 'vuex'
import axios from 'axios'
export default {
  props: {
    showPayment: {
      type: Boolean
    }
  },
  mixins: [formMixins],
  data: () => ({
    paymentTitle: [{
      name: 'Payment',
      icon: 'payments',
      color: 'accent',
      flex: 'xs12'
    }],
    errors: {},
    form: [],
    fields: [
      {
        key: 'first_name',
        classNames: 'xs12 lg3 px-1',
        required: true
      },
      {
        key: 'last_name',
        classNames: 'xs12 lg3 px-1',
        required: true
      },
      {
        key: 'phone',
        label: 'Phone number',
        classNames: 'xs12 lg6 px-1',
        required: true
      },
      {
        key: 'billing_address',
        classNames: 'xs12 lg6 px-1',
        required: true
      },
      {
        key: 'postal_code',
        classNames: 'xs12 lg6 px-1',
        required: true
      },
      {
        key: 'country',
        withKey: true,
        choices: 'countryList',
        itemText: 'country',
        classNames: 'xs12 lg6 px-1',
        required: true
      },
      {
        key: 'city',
        choices: 'cityList',
        classNames: 'xs12 lg6 px-1',
        required: true
      }
    ],
    countries: [],
    cities: [],
    amount: 'P500',
    payment_mode: '',
    card_info: {
      card_number: '235-2523-2626-26',
      cvc: '123',
      expiration: {
        month: '02',
        year: '24'
      }
    },
    items: ['Gcash', 'Dragon Pay', 'Over the Counter'],
    loading: false
  }),
  mounted () {
    this.addFormItem()
  },
  methods: {
    ...mapActions('applicants', ['MAKE_PAYMENT']),
    async getCountry() {
      var country=[]
      await axios.get(`https://countriesnow.space/api/v0.1/countries`)
      .then(response => (
        country=response.data.data
      ))
      for (let key in country) {
        this.countries.push(country[key])
      }
    },
    getCity(value) {
      this.cities = this.countries[_.findKey(this.countries, ['country', this.form[0].country])].cities
      if ( value[1]=='country' && this.form[0].city ) this.form[0].city=null
    },
    async save() {
      let payload={
        amount: this.amount,
        card_number: this.card_info.card_number,
        exp_month: this.card_info.expiration.month,
        exp_year: this.card_info.expiration.year,
        cvc: this.card_info.cvc
      }
      for (let item in this.form[0]){
        payload = Object.assign({}, payload, this.form[0])
      }
      await this.MAKE_PAYMENT(payload)
    }
  },
  computed: {
    choices() {
      return {
        countryList: this.countries,
        cityList: this.cities
      }
    }
  },
  created() {
    this.getCountry()
  }
}
</script>
