<template>
  <v-container fluid fill-height fill-width class="login-background">
    <v-card-actions class="back-btn-margin">
      <v-btn
        text
        dark
        light
        color="main"
        class="text-none btn-position"
        @click="$router.push({ name: 'login' })">
        <v-icon x-large>keyboard_arrow_left</v-icon>
      </v-btn>
      <v-spacer />
    </v-card-actions>
    <v-layout wrap justify-center align-center>
      <v-flex xs12 sm8 md6 lg5>
        <v-card class="elevation-12 card-z-index">
          <v-container fluid>
            <h2 class="font-weight-regular">Forgot your password?</h2>
            <p class="font-weight-regular caption px-2">Please enter your email address in the field below, once sent you will receive an email with the reset password instructions. Please contact the MIS department if you do not receive a system generated email within the day.</p>
            <v-form ref="form">
              <v-card flat v-show="isError" color="#E8F0FE" class="ma-2">
                <v-layout row wrap justify-center align-center>
                  <v-flex xs12>
                    <v-card-text headline v-show="color === 'error'" class="font-weight-medium red--text ml-2">{{ message }}</v-card-text>
                  </v-flex>
                </v-layout>
              </v-card>
              <v-text-field
                ref="email"
                label="Email Address"
                v-model="email"
                outlined
                class="white--text mx-2 mt-3"
                light
                dense
                @keyup.enter="submit"
                :error-messages="errors['email']"
              />
              <v-card-actions class="py-0">
                <v-spacer />
                <v-btn
                  :loading="loading"
                  @click="submit"
                  class="mb-2 px-4 white--text text-none body-2 font-weight-light"
                  color="main"
                  light
                  tile
                >Send Email</v-btn>
              </v-card-actions>
            </v-form>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapActions, mapMutations } from 'vuex'
export default {
  data () {
    return {
      email: '',
      isError: false,
      loading: false,
      text: '',
      color: '',
      errors: {},
      message: ''
    }
  },
  methods: {
    ...mapActions('user', ['FORGOT_PASSWORD']),
    ...mapMutations('registration', ['setForgotPassword']),
    submit () {
      let payload = {
        email: this.email
      }
      this.loading = true
      this.setForgotPassword(payload)
      this.FORGOT_PASSWORD(payload).then(data => {
        this.loading = false
        this.$router.push({ name: 'reset' })
      }).catch(data => {
        if (data.errors) {
          this.errors = data.errors
        } else {
          this.errors = {}
          this.color = 'error'
          this.isError = true
          this.message = data.error_message
        }
      })
    }
  }
}
</script>
