<template>
  <v-container fluid fill-height fill-width class="login-background">
    <v-layout wrap justify-center align-center>
      <!-- <v-flex xs12 md4 lg7 xl8
        hidden-xs-only>
        <h2
        style="max-width: 36rem;"
        class="text-h3 global-color mt-8 title-2 text-center text-break">
          <span>
            DCSP
          </span><br>
          <span>
            Online Student Portal
          </span>
        </h2>
      </v-flex> -->

      <v-flex xs12 md8 lg5 xl4  class="login-container">
        <v-container fluid fill-height fill-width>
          <v-layout wrap justify-center align-center>
            <v-flex xs12>
              <login-component @next="nextPage()" />
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import LoginComponent from '@/components/shared/LoginComponent'
export default {
  components: {
    LoginComponent
  },
  methods: {
    nextPage () {
      this.$router.push({ name: 'forgot-password' })
    }
  }
}
</script>
