<template>
<v-container fluid>
  <v-layout wrap justify-center align-center>
    <v-flex xs12 md11>
      <!-- <floating-card class="my-5" :titles="floatingTitle" /> -->
      <v-card
        tile
      >
        <v-img
          :aspect-ratio="16/aspectRatio"
          :src="src"
          :class="alignStyle"
        >
        <!-- <v-card-title>
          <v-spacer />
          <p class="mt-4 text-right"
            :class="titleSize">
            {{ user.first_name | capitalize }} {{ user.middle_name | initials }}<span v-if="user.middle_name">.</span> {{ user.last_name | capitalize }}
          </p>
        </v-card-title> -->
        </v-img>
        <v-card-text
          class="pt-6"
        >
          <v-layout wrap justify-center align-center>
            <v-avatar
              :color="imageColor"
              :size="size"
              style="position: absolute; margin-top: -70px;">
              <span
                v-if="!profileImage"
                :class="nameSize"
                class="white--text">
                <!-- {{ user.first_name | initials }} {{ user.last_name | initials }} -->
                C D
              </span>
              <img
                v-else
                contain
                :src="profileImage" />
            </v-avatar>
            <v-tooltip right color="white">
              <template v-slot:activator="{ on }">
                <v-btn
                  v-on="on"
                  depressed
                  fab
                  outlined
                  color="white"
                  :small="$vuetify.breakpoint.smAndUp"
                  :x-small="$vuetify.breakpoint.smAndDown"
                  :style="positionStyle"
                  @click="chooseFileImage = true"
                  class="text-none">
                  <croppa
                    v-if="chooseFileImage"
                    :remove-button-color="'gray'"
                    v-model="image"
                    :height="155"
                    :width="160"
                    :accept="'image/*'"
                    initial-size="contain"
                    placeholder="Edit"
                    placeholder-color="white"
                    :show-remove-button="true"
                    :placeholder-font-size="13"
                    :file-size-limit="2097152"
                    @file-choose="showDialog(true)">
                </croppa>
                <span
                  v-else
                  class="white--text">Edit</span>
                </v-btn>
              </template>
              <span class="caption black--text">Change Photo</span>
            </v-tooltip>
          </v-layout>
          <v-flex xs12 class="mt-8">
            <v-tabs v-model="tab">
              <v-tab
                v-for="(item, index) in tabItem"
                :key="index"
                :href="item.href"
                active-class="tab-active"
              >
                {{item.label}}
              </v-tab>
            </v-tabs>
          </v-flex>
        
          <v-tabs-items v-model="tab">
<!---------------------------profile-start- tab ----------------------------------------------------->
            <v-tab-item value="profile-tab">
              <v-layout wrap class="mt-10">
                <v-flex
                  xs12
                  :key="index"
                  v-for="(item, index) in form"
                >
                  <v-layout wrap class="mt-5">
                    <field-component
                      :field="field"
                      :key="field.key"
                      :form="form[index]"
                      :errors="errors"
                      :item-idx="index"
                      :choices="choices"
                      v-for="field in fields"
                    />
                    <v-flex lg11 md10 xs12 />
                    <v-btn
                      v-if="userType !== 1 && userType !== 4"
                      color="main"
                      width="120px"
                      :loading="saveLoading"
                      class="white--text mr-3 mt-4 text-none font-weight-light"
                      @click="showDialog(false)"
                    >
                      Save
                    </v-btn>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-tab-item>
<!----------------------------profile-end- tab -security-start-------------------------------------->
            <v-tab-item value="security-tab">
              <v-layout wrap class="mt-10">
                <v-flex xs12 lg5
                  v-if="passwordAction">
                  <v-text-field
                    color="main"
                    ref="password"
                    @keyup.enter="login()"
                    autocomplete="off"
                    label="New password"
                    :append-icon="show ? 'visibility_off' : 'visibility'"
                    :type="show ? 'text' : 'password'"
                    @click:append="show = !show"
                    v-model="password"
                    hint="password must be atleast 8 characters"
                    light
                    class="white--text mx-2"
                  />
                </v-flex>
                <v-flex xs12>
                  <v-card-actions>
                    <v-btn
                      color="main"
                      :width="width"
                      class="text-none mt-4 font-weight-light"
                      @click="passwordAction ? dialogChangePass() : passwordAction = true"
                      style="color: white;"
                    >
                      {{ passwordAction ? 'Save' : 'Change password' }}
                    </v-btn>
                  </v-card-actions>
                </v-flex>
              </v-layout>
            </v-tab-item>
<!---------------------------security-end- tab -payment-start----------------------------------->
            <v-tab-item v-if="paymentInfoShown" value="payment-tab">
              <v-layout row wrap class="px-5">
                <v-flex 
                  v-for="(item, index) in paymentCards"
                  :key="index"
                  class="md4 xs12 pa-1"
                >
                  <paymentcards :prop="item"/>
                </v-flex>
              </v-layout>
            </v-tab-item>
<!----------------------------payment-end- tab ----------------------------------------------------->
          </v-tabs-items>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>

  <confirmation-dialog
    :showDialog="dialog"
    :passwordInput="true"
    @close="close"
    @proceed="proceed"
    :loading="isLoading"
    :message="dialogAction === 'profile' ? 'Do you want to save changes ?' : 'Change password ?'"
  />
  <v-snackbar
    top
    right
    v-model="isSnackbar"
    :color="color"
    class="caption"
    timeout="1500">
    <v-card-actions class="ma-0 pa-0">
      {{ text }}
      <v-spacer />
      <v-btn
        color="white"
        text
        icon
        right
        @click="isSnackbar = false"
        class="caption">
        <v-icon>clear</v-icon>
      </v-btn>
    </v-card-actions>
  </v-snackbar>
</v-container>
</template>
<script type="text/javascript">
import formMixins from '@/mixins/form.js'
import defaultMixins from '@/mixins/index.js'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import { format } from 'date-fns'
export default {
  mixins: [
    defaultMixins,
    formMixins
  ],
  data:()=>({
    dialogAction: '',
    passwordAction: false,
    password: '',
    show: false,
    dialog: false,
    image: null,
    isDP: '',
    // floatingTitle: [{
    //   name: 'Account Settings',
    //   icon: 'settings',
    //   color: 'main',
    //   flex: 'xs12'
    // }],
    paymentCards: [
      {
        image: 'dragon_pay',
        number: 123,
        active: false
      },
      {
        image: 'gcash',
        number: 123,
        active: false
      },
      {
        image: 'visa',
        number: 123,
        active: false
      },
      {
        image: 'mastercard',
        number: 123,
        active: true
      }
    ],
    errors: {},
    tab: null,
    tabItem: [
      {label: 'Profile', href: '#profile-tab'}, 
      {label: 'Security', href: '#security-tab'}
    ],
    form: [],
    isLoading: false,
    saveLoading: false,
    isSnackbar: false,
    color: '',
    text: '',
    chooseFileImage: true
  }),
  computed: {
    ...mapGetters('user', ['user']),
    choices () {
      return {
        gender: ['Female', 'Male'],
        statuses: ['Single', 'Married', 'Widowed'],
        extension: ['II', 'III', 'IV', 'CPA', 'DDS', 'Esq', 'JD', 'Jr', 'LLD', 'MD', 'PhD', 'Ret', 'RN', 'Sr', 'DO']
      }
    },
    imageColor () {
      if (this.profileImage) return 'white'
      return 'main'
    },
    src () {
      // return require('@/assets/images/profilecover.jpg')
      return require('@/assets/images/hp_login_page.png')
    },
    size () {
      if (this.$vuetify.breakpoint.smAndUp) return '125'
      return '80'
    },
    nameSize () {
      if (this.$vuetify.breakpoint.smAndUp) return 'display-1'
      return 'caption'
    },
    aspectRatio () {
      if (this.$vuetify.breakpoint.smAndUp) return '3'
      return '6'
    },
    paymentInfoShown() {
      // adds the payment tab IF user_id_type is for applicant
      if(this.user.user_type_id == 1) {
        this.tabItem.push({label: 'Payment Information', href: '#payment-tab'})
        return true
      }
      else return false
    },
    width () {
      if (this.passwordAction) return '120px'
      return '160px'
    },
    positionStyle () {
      if (this.$vuetify.breakpoint.smAndUp) return 'position: absolute; margin-top: -145px; margin-right: -118px; margin-bottom: -20px;'
      return 'position: absolute; margin-top: -145px; margin-right: -70px; margin-bottom: -20px;'
    },
    titleSize () {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs': return 'body-1'
        case 'sm': return 'subtitle-2'
        case 'md': return 'subtitle-1'
        case 'lg': return 'display-1'
        case 'xl': return 'display-2'
      }
    },
    alignStyle () {
      if (this.$vuetify.breakpoint.smAndUp) return 'align-end'
      return ''
    },
    fields () {
      return [
        {
          key: 'first_name',
          classNames: 'xs12 md6 lg4 px-2',
          required: true,
          readonly: Boolean(this.userType !== 1 && this.userType !== 4) ? false : true 
        },
        {
          key: 'middle_name',
          classNames: 'xs12 md6 lg4 px-2',
          required: true,
          readonly: Boolean(this.userType !== 1 && this.userType !== 4) ? false : true 
        },
        {
          key: 'last_name',
          classNames: 'xs12 md6 lg4 px-2',
          required: true,
          readonly: Boolean(this.userType !== 1 && this.userType !== 4) ? false : true 
        },
        {
          key: 'name_extension',
          choices: 'extension',
          classNames: 'xs12 md6 lg4 px-2',
          readonly: Boolean(this.userType !== 1 && this.userType !== 4) ? false : true 
        },
        {
          key: 'gender',
          choices: 'gender',
          classNames: 'xs12 md6 lg4 px-2',
          required: true,
          readonly: Boolean(this.userType !== 1 && this.userType !== 4) ? false : true 
        },
        {
          key: 'birth_date',
          date: true,
          classNames: 'xs12 md6 lg4 px-2',
          required: true,
          readonly: Boolean(this.userType !== 1 && this.userType !== 4) ? false : true 
        },
        {
          key: 'email',
          classNames: 'xs12 md6 lg4 px-2',
          required: true,
          readonly: Boolean(this.userType !== 1 && this.userType !== 4) ? false : true 
        },
        {
          key: 'contact_no.',
          classNames: 'xs12 md6 lg4 px-2',
          required: true,
          readonly: Boolean(this.userType !== 1 && this.userType !== 4) ? false : true 
        }
      ]
    }
  },
  watch: {
    dialogAction (val) {
      this.dialog = true
    }
  },
  methods: {
    ...mapMutations('user', ['setUserDP', 'setUser']),
    ...mapActions('user', ['UPDATE_DP', 'PATCH_USER', 'UPDATE_PASS']),
    close () {
      this.dialog = false
    },
    showDialog(isProfile) {
      this.chooseFileImage = false
      this.dialogAction = 'profile'
      this.isDP = isProfile
      this.dialog = true
    },
    proceed (password) {
      if (this.dialogAction === 'profile') {
        if (this.isDP) return this.updateProfileImage()
        return this.updateData(password)
      } else {
        this.updatePassword(password)
      }
    },
    async updatePassword (confirm_password) {
      let payload = {
        password: this.password,
        confirm_password: confirm_password
      }
      this.isLoading = true
      await this.UPDATE_PASS(payload).then(data=> {
        this.isLoading = false
        this.passwordAction = false
        this.dialog = false
        this.password = ''
      })
    },
    async updateProfileImage () {
      const inputs = new FormData()

      inputs.append('avatar', this.image.getChosenFile())
      let avatar = { image: this.image.generateDataUrl(), update: true }

      this.dialog = false
      await this.UPDATE_DP(inputs).then(response => {
        this.chooseFileImage = true
        this.snackbar(`${response.data.message}`, 'success')
        this.setUserDP(response.data.user)
      })
    },
    async updateData(password) {
      this.dialog = false
      this.form[0].password = password
      this.form[0].confirm_password = password
      this.form[0].avatar = this.user.avatar
      this.saveLoading = true
      await this.PATCH_USER(this.form[0]).then(response => {
        this.snackbar(`${response.data.message}`, 'success')
        this.saveLoading = false
        let sortData = global._.omit(response.data.user, 'avatar', 'birth_date')
        sortData.user_type = this.user.user_type
        sortData.avatar = this.user.avatar
        sortData.birth_date = this.formatDate(response.data.user)
        this.setUser(sortData)
      }).catch(errors => {
        this.saveLoading = false
      })
    },
    dialogChangePass() {
      this.dialogAction = 'security'
      this.dialog = true
    }
  },
  created () {
    const item = global._.omit(this.user, 'birth_date')
    item.birth_date = this.formatDate(this.user.birth_date)
    this.form[0] = Object.assign({}, item)
  }
}
</script>
