<template>
  <v-container fluid fill-height>
    <v-layout justify-center align-center>
      <v-flex xs12 sm8 md6 lg4>
        <v-card class="elevation-12 pa-1">
          <v-container fluid>
            <h2 class="font-weight-bold main--text">Reset your Password</h2>
            <p class="font-weight-regular body-3 px-1">We have sent a reset password email to <span class="main--text">{{ forgotPassword.email }}</span>. Please check your email.</p>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script lang="js">
import { mapGetters } from 'vuex'
export default {
  datamapGetters () {
    return {
      forgotPassword: {
        email: ''
      }
    }
  },
  computed: {
    ...mapGetters('registration', ['forgotPassword'])
  }
}
</script>
