<template>
  <v-container fluid fill-height>
    <v-layout justify-center align-center>
      <v-flex xs12 sm8 md6 lg4>
        <v-card class="elevation-12 card-z-index">
          <v-container fluid>
            <h2 class="font-weight-medium pl-2 pb-2">Reset password</h2>
            <v-form>
              <v-text-field
                ref="password"
                @keyup.enter="submit()"
                autocomplete="off"
                label="New Password"
                :append-icon="show ? 'visibility_off' : 'visibility'"
                :type="show ? 'text' : 'password'"
                @click:append="show = !show"
                v-model="formData.password"
                outlined
                light
                dense
                class="white--text my-0 py-0 mx-3"
                prepend-inner-icon="fas fa-lock"
              />
              <v-card-actions class="py-0">
                <v-spacer />
                <v-btn
                  :loading="loading"
                  @click="submit()"
                  class="mb-2 mr-1 white--text text-none body-2"
                  width="100px"
                  color="#446597"
                  light
                  tile
                >Submit</v-btn>
              </v-card-actions>
            </v-form>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script lang="js">
import { mapActions,mapGetters  } from 'vuex'
export default {
  data () {
    return {
      formData: {
        password: ''
      },
      loading: false,
      show: false
    }
  },
  computed: {
    ...mapGetters('user', ['FORGOT_PASSWORD']),
    tokenId () {
      return this.$route.params.tokenId
    }
  },
  methods: {
    ...mapActions('user', ['RESET_PASSWORD', 'token']),
    submit () {
      let payload = {
        token: this.tokenId,
        password: this.formData.password,
      }
      this.RESET_PASSWORD(payload).then(response => {
        this.$router.push({ name: 'login' })
      }).catch(err => {
        this.isError = true
      }).finally(() => {
        this.loading = false
      })
    }
  }
}
</script>
