<template>
  <v-container fluid fill-height fill-width class="background-color">
    <v-card-actions class="back-btn-margin">
      <v-btn
        text
        dark
        class="text-none back-btn"
        @click="$router.push({ name: 'login' })">
        <v-icon x-large>keyboard_arrow_left</v-icon>
      </v-btn>
      <v-spacer />
    </v-card-actions>
    <v-layout wrap justify-center align-center>
      <v-flex xs12 sm11 md10 lg9>
        <v-card tile>
          <v-container fluid class="py-0">
            
            <v-layout wrap justify-center align-center>
              <v-flex xs12 md4 xl5>
                <v-card-text class="pt-4 pb-0">
                  <logo
                    size="120px"
                    :isContained="true"
                  />
                </v-card-text>
                <h2 class="title-color mt-8 title-2 text-center">DCSP<br>Online Student Portal</h2>
              </v-flex>
              <v-flex xs12 md8 xl7>
                <sign-up-component />
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Logo from '@/components/shared/Logo.vue'
import SignUpComponent from '@/components/shared/SignUpComponent.vue'
export default {
  components: {
    Logo,
    SignUpComponent
  }
}
</script>
