<template>
  <v-dialog
    :value="showDialog"
    max-width="1350"
    persistent
    v-esc="escape">
    <v-card
      class="pt-1">
      <v-card-actions class="pb-0">
        <div class="flex-grow-1">
          <v-card-title class="accent--text">{{ isEdit ? 'Edit' : 'Add' }} Tuition and Miscellaneous Fee</v-card-title>
        </div>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              v-show="isEdit"
              @click="isDelete(true)"
              text
              fab
              color="red">
              <v-icon medium color="red">mdi-delete</v-icon>
            </v-btn>
          </template>
          <span>Delete</span>
        </v-tooltip>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              @click="closeDialog"
              text
              fab>
              <v-icon medium color="red">mdi-close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-card-actions>
      <v-divider class="mx-2" />
      <v-layout wrap>
         <v-flex xs12>
          <v-form ref="form">
            <v-card-title>
              <v-layout wrap>
                <v-flex xs12 md6>
                  <small>Fee Code
                    <span class="pl-1" style="color: red;">*</span>
                  </small>
                  <v-autocomplete
                    :items="feeCodes"
                    v-model="formData.fee_code_id"
                    :search-input.sync="keyword"
                    clearable
                    :multiple="false"
                    item-text="description"
                    item-value="fee_code_id"
                    hide-no-data
                    return-string
                    clear-icon="mdi-close-circle"
                    dense
                    :loading="isLoading"
                    class="mx-1 mt-2"
                    :error-messages="errors['fee_code_id']">
                    <template v-slot:item="data">
                      <v-list-item-content>
                        <v-list-item-title v-html="data.item.code" class="accent--text"></v-list-item-title>
                        <v-list-item-subtitle v-html="data.item.description"></v-list-item-subtitle>
                        <v-list-item-subtitle v-html="data.item.fee_type"></v-list-item-subtitle>
                      </v-list-item-content>
                    </template>
                  </v-autocomplete>
                </v-flex>
                <v-flex xs12 md6>
                  <small>Status
                    <span class="pl-1" style="color: red;">*</span>
                  </small>
                  <v-autocomplete
                    :items="statuses"
                    v-model="formData.status"
                    clearable
                    hide-no-data
                    return-object
                    clear-icon="mdi-close-circle"
                    dense
                    class="mx-1 mt-2"
                    :error-messages="errors['status']">
                  </v-autocomplete>
                </v-flex>
                <v-flex xs12>
                  <v-layout wrap class="mx-2">
                    <v-tooltip top
                      v-model="isTooplip">
                      <span>Copy to other year levels</span>
                    </v-tooltip>
                    <v-flex xs12
                      v-if="!isTuitionMarine">
                      <small>FEES
                        <v-card-actions class="ma-0">
                        </v-card-actions>
                      </small>
                      <v-layout wrap>
                        <v-flex xs12 md3>
                          <v-text-field
                            class="mx-2 mt-2"
                            dense
                            required
                            type="number"
                            label="First Year"
                            v-model="formData.first_year"
                            append-outer-icon="content_copy"
                            @click:append-outer="copyFees"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md3>
                          <v-text-field
                            class="mx-2 mt-2"
                            dense
                            required
                            type="number"
                            label="Second Year"
                            v-model="formData.second_year"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md3>
                          <v-text-field
                            class="mx-2 mt-2"
                            dense
                            required
                            type="number"
                            label="Third Year"
                            v-model="formData.third_year"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md3>
                          <v-text-field
                            class="mx-2 mt-2"
                            dense
                            required
                            type="number"
                            label="Fourth Year"
                            v-model="formData.fourth_year"
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-flex>
                    <v-flex xs12
                      v-if="isTuitionMarine">
                      <small>NSA
                      </small>
                      <v-layout wrap>
                        <v-flex xs12 md3>
                          <v-text-field
                            class="mx-2 mt-2"
                            dense
                            required
                            type="number"
                            label="First Year"
                            v-model="formData.nsa_first_year"
                            append-outer-icon="content_copy"
                            @click:append-outer="copyNsaFees"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md3>
                          <v-text-field
                            class="mx-2 mt-2"
                            dense
                            required
                            type="number"
                            label="Second Year"
                            v-model="formData.nsa_second_year"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md3>
                          <v-text-field
                            class="mx-2 mt-2"
                            dense
                            required
                            type="number"
                            label="Third Year"
                            v-model="formData.nsa_third_year"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md3>
                          <v-text-field
                            class="mx-2 mt-2"
                            dense
                            required
                            type="number"
                            label="Fourth Year"
                            v-model="formData.nsa_fourth_year"
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-flex>
                    <v-flex xs12
                      v-if="isTuitionMarine">
                      <small>OTHER CSC
                      </small>
                      <v-layout wrap>
                        <v-flex xs12 md3>
                          <v-text-field
                            class="mx-2 mt-2"
                            dense
                            required
                            type="number"
                            label="First Year"
                            v-model="formData.csc_first_year"
                            append-outer-icon="content_copy"
                            @click:append-outer="copyCscFees"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md3>
                          <v-text-field
                            class="mx-2 mt-2"
                            dense
                            required
                            type="number"
                            label="Second Year"
                            v-model="formData.csc_second_year"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md3>
                          <v-text-field
                            class="mx-2 mt-2"
                            dense
                            required
                            type="number"
                            label="Third Year"
                            v-model="formData.csc_third_year"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md3>
                          <v-text-field
                            class="mx-2 mt-2"
                            dense
                            required
                            type="number"
                            label="Fourth Year"
                            v-model="formData.csc_fourth_year"
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-card-title>
          </v-form>
        </v-flex>
      </v-layout>
      <v-card-actions class="pb-5">
        <v-spacer />
        <v-btn
          :loading="saveLoading"
          color="accent"
          width="100px"
          class="white--text mr-3 mt-2 text-none"
          @click="isEdit ? isDelete(false) : save()"
        >
          Submit
        </v-btn>
      </v-card-actions>

      <confirmation-dialog
        :showDialog="confirmDialog"
        @close="confirmDialog = false"
        @proceed="isDelete_ ? deleteItem() : edit()"
        :loading="deleteLoading"
        :message="isDelete_ ? 'Are you sure you want to delete this course ?' : 'Do you want to save changes ?'"
      />
    </v-card>
  
  </v-dialog>
</template>
<script>
import formMixins from '@/mixins/form.js'
import miscQueriesMixins from '@/mixins/queries/finance/miscQueries'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    formMixins,
    miscQueriesMixins
  ],
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    formData: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    isEdit: {
      type: Boolean,
      default: false
    },
    id: {
      type: [String, Number]
    },
    feeId: {
      type: [String, Number]
    }
  },
  data () {
    return {
      confirmDialog: false,
      loading: false,
      skip: 0,
      take: 10,
      errors: {},
      isDelete_: false,
      form: {},
      saveLoading: false,
      deleteLoading: false,
      programsLists: [],
      semesters: [],
      sy_id: null,
      feeCodes: [],
      isLoading: false,
      keyword: '',
      skipSyListQuery: false,
      skipDiscountQuery: true,
      skipFeeCodeQuery: false,
      skipAccountQuery: true,
      skipFeesQuery: false,
      feeLists: [],
      isTooplip: false,
      statuses: ['Active', 'Inactive']
    }
  },
  computed: {
    ...mapGetters('filters', ['search', 'academic_year_id', 'semester_id']),
    ...mapGetters('programs', ['semester', 'programs']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        return this.SET_SEARCH(value)
      }
    },
    postApi () {
      if (!this.isEdit) return 'api/finance/create/Fee'
      return 'api/finance/update/Fee'
    },
    deleteApi () {
      return `api/finance/delete/Fee/${this.id}/${this.feeId}`
    },
    isTuitionMarine () {
      if (!global._.isEmpty(this.programs)) {
        let name = this.programs.program_name
        let lowerCaseName = name.toLowerCase()
        let isMarine = lowerCaseName.includes('marine')
        return isMarine
      }
    }
  },
  watch: {
    'formData.fee_code_id' (val) {
      if (val) {
        this.keyword = this.formData.description
      }
    },
    keyword (val) {
      val && this.querySelections(val)
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_SEARCH']),
    copyFees () {
      this.isTooplip = true
      this.$set(this.formData, 'second_year', this.formData.first_year)
      this.$set(this.formData, 'third_year', this.formData.first_year)
      this.$set(this.formData, 'fourth_year', this.formData.first_year)
    },
    copyNsaFees () {
      this.isTooplip = true
      this.$set(this.formData, 'nsa_second_year', this.formData.nsa_first_year)
      this.$set(this.formData, 'nsa_third_year', this.formData.nsa_first_year)
      this.$set(this.formData, 'nsa_fourth_year', this.formData.nsa_first_year)
    },
    copyCscFees () {
      this.isTooplip = true
      this.$set(this.formData, 'csc_second_year', this.formData.csc_first_year)
      this.$set(this.formData, 'csc_third_year', this.formData.csc_first_year)
      this.$set(this.formData, 'csc_fourth_year', this.formData.csc_first_year)
    },
    remove (index) {
      this.$delete(this.feeLists, index)
    },
    escape () {
      this.$emit('close')
    },
    isDelete (item) {
      this.isDelete_ = item
      this.confirmDialog = true
    },
    closeDialog () {
      this.saveLoading = false
      this.updateLoading = false
      this.deleteLoading = false
      this.$emit('close')
      this.errors = {}
      this.$refs.form.reset()
    },
    close: function () {
      this.saveLoading = false
      this.deleteLoading = false
      this.confirmDialog = false
      if (global._.isEmpty(this.errors)) {
        this.$emit('close')
        if (!global._.isEmpty(this.form)) {
          this.$emit('refetch', this.form)
          this.$refs.form.reset()
        }
        this.$refs.form.errors = this.errors
        if (!global._.isEmpty(this.formData)) {
          this.form = {}
        }
      } else {
        this.$refs.form.errors = this.errors
      }
    },
    async save () {
      this.saveLoading = true
      let input = {
        sy_program_id: this.semester.sy_program_id,
        semester_id: this.semester.semester_id,
        ...this.formData,
        amount: [{
          year_level: '1',
          type: 'Fee',
          amount: this.formData.first_year
        },
        {
          year_level: '2',
          type: 'Fee',
          amount: this.formData.second_year
        },
        {
          year_level: '3',
          type: 'Fee',
          amount: this.formData.third_year
        },
        {
          year_level: '4',
          type: 'Fee',
          amount: this.formData.fourth_year
        },
        {
          year_level: '1',
          type: 'NSA',
          amount: this.formData.nsa_first_year
        },
        {
          year_level: '2',
          type: 'NSA',
          amount: this.formData.nsa_second_year
        },
        {
          year_level: '3',
          type: 'NSA',
          amount: this.formData.nsa_third_year
        },
        {
          year_level: '4',
          type: 'NSA',
          amount: this.formData.nsa_fourth_year
        },
        {
          year_level: '1',
          type: 'CSC',
          amount: this.formData.csc_first_year
        },
        {
          year_level: '2',
          type: 'CSC',
          amount: this.formData.csc_second_year
        },
        {
          year_level: '3',
          type: 'CSC',
          amount: this.formData.csc_third_year
        },
        {
          year_level: '4',
          type: 'CSC',
          amount: this.formData.csc_fourth_year
        }]
     }
      this.saveData(input)
    },
    async edit () {
      this.deleteLoading = true
      let input = {
        sy_program_id: this.semester.sy_program_id,
        semester_id: this.semester.semester_id,
        ...this.formData,
        amount: [{
          year_level: '1',
          type: 'Fee',
          amount: this.formData.first_year,
          id: this.formData.first_amount_id
        },
        {
          year_level: '2',
          type: 'Fee',
          amount: this.formData.second_year,
          id: this.formData.second_amount_id
        },
        {
          year_level: '3',
          type: 'Fee',
          amount: this.formData.third_year,
          id: this.formData.third_amount_id
        },
        {
          year_level: '4',
          type: 'Fee',
          amount: this.formData.fourth_year,
          id: this.formData.fourth_amount_id
        },
        {
          year_level: '1',
          type: 'NSA',
          amount: this.formData.nsa_first_year,
          id: this.formData.nsa_first_amount_id
        },
        {
          year_level: '2',
          type: 'NSA',
          amount: this.formData.nsa_second_year,
          id: this.formData.nsa_second_amount_id
        },
        {
          year_level: '3',
          type: 'NSA',
          amount: this.formData.nsa_third_year,
          id: this.formData.nsa_third_amount_id
        },
        {
          year_level: '4',
          type: 'NSA',
          amount: this.formData.nsa_fourth_year,
          id: this.formData.nsa_fourth_amount_id
        },
        {
          year_level: '1',
          type: 'CSC',
          amount: this.formData.csc_first_year,
          id: this.formData.csc_first_amount_id
        },
        {
          year_level: '2',
          type: 'CSC',
          amount: this.formData.csc_second_year,
          id: this.formData.csc_second_amount_id
        },
        {
          year_level: '3',
          type: 'CSC',
          amount: this.formData.csc_third_year,
          id: this.formData.csc_third_amount_id
        },
        {
          year_level: '4',
          type: 'CSC',
          amount: this.formData.csc_fourth_year,
          id: this.formData.csc_fourth_amount_id
        }]
      }
      this.saveData(input)
    },
    async deleteItem () {
      this.deleteLoading = true
      this.deleteData()
    }
  }
}
</script>
