<template>
  <v-dialog
    :value="showDialog"
    max-width="1100"
    persistent
    v-esc="escape">
    <v-card
      class="pt-1">
      <v-card-actions class="pb-0">
        <div class="flex-grow-1">
          <v-card-title class="accent--text">{{ isEdit ? 'Edit' : 'Add' }} Fee</v-card-title>
        </div>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              @click="isDelete(true)"
              v-show="!hasFee"
              text
              fab
              color="red">
              <v-icon medium color="red">mdi-delete</v-icon>
            </v-btn>
          </template>
          <span>Delete</span>
        </v-tooltip>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              @click="closeDialog"
              text
              fab>
              <v-icon medium color="red">mdi-close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-card-actions>
      <v-divider class="mx-2" />
      <v-layout wrap>
         <v-flex xs12>
          <v-form ref="form">
            <v-card-title>
              <v-layout wrap>
                <v-flex xs12 md3>
                  <small>Code
                    <span class="pl-1" style="color: red;">*</span>
                  </small>
                  <v-text-field
                  class="mx-1 mt-2"
                  dense
                  v-model="formData.code"
                  :error-messages="errors['code']"
                ></v-text-field>
                </v-flex>
                <v-flex xs12 md3>
                  <small>Fee Type
                    <span class="pl-1" style="color: red;">*</span>
                  </small>
                  <v-autocomplete
                    :items="feeTypes"
                    v-model="formData.fee_item"
                    clearable
                    item-text="name"
                    item-value="fee_type_id"
                    hide-no-data
                    return-object
                    clear-icon="mdi-close-circle"
                    dense
                    class="mx-1 mt-2"
                    :error-messages="errors['fee_type_id']">
                  </v-autocomplete>
                </v-flex>
                <v-flex xs12 md6>
                  <small>Description
                  </small>
                  <v-text-field
                  class="mx-1 mt-2"
                  dense
                  v-model="formData.description"
                  :error-messages="errors['description']"
                ></v-text-field>
                </v-flex>
                <v-flex>
                  <v-layout wrap
                    v-if="feetypeId === 2">
                    <v-flex xs12>
                      <small>Course Code
                        <span class="pl-1" style="color: red;">*</span>
                      </small>
                      <v-autocomplete
                        :items="courseItems"
                        v-model="formData.course_item"
                        :search-input.sync="search"
                        clearable
                        item-text="course_code"
                        item-value="curriculum_course_id"
                        hide-no-data
                        return-object
                        clear-icon="mdi-close-circle"
                        dense
                        :loading="isLoading"
                        class="mx-1 mt-2"
                        :error-messages="errors['course_id']">
                        <template v-slot:item="data">
                          <v-list-item-content>
                            <v-list-item-title v-html="data.item.course_code"></v-list-item-title>
                            <v-list-item-subtitle v-html="data.item.course_description"></v-list-item-subtitle>
                          </v-list-item-content>
                        </template>
                      </v-autocomplete>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-card-title>
          </v-form>
        </v-flex>
      </v-layout>
      <v-card-actions class="pb-3">
        <v-spacer />
        <v-btn
          :loading="saveLoading"
          color="accent"
          width="100px"
          class="white--text mr-3 mt-2 text-none"
          @click="isEdit ? isDelete(false) : save()"
        >
          Submit
        </v-btn>
      </v-card-actions>

      <confirmation-dialog
        :showDialog="confirmDialog"
        @close="confirmDialog = false"
        @proceed="isDelete_ ? deleteItem() : edit()"
        :loading="deleteLoading"
        :message="isDelete_ ? 'Are you sure you want to delete this fee ?' : 'Do you want to save changes ?'"
      />
    </v-card>

  </v-dialog>
</template>
<script>
import formMixins from '@/mixins/form.js'
import { GET_FEE_CURRICULUM_COURSES } from '@/graphql/admin/queries'
import feesQueryMixins from '@/mixins/queries/finance/feesQueries'
export default {
  mixins: [
    formMixins,
    feesQueryMixins
  ],
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    formData: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    isEdit: {
      type: Boolean,
      default: false
    },
    id: {
      type: [String, Number]
    },
    hasFee: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      confirmDialog: false,
      loading: false,
      skip: 0,
      take: 10,
      errors: {},
      tableData: {
        input: {
          skip: 0,
          take: 10
        },
        maxData: 0,
        count: 0
      },
      isDelete_: false,
      form: {},
      saveLoading: false,
      deleteLoading: false,
      fee_type: null,
      courseItems: [],
      FeeItems: [],
      isLoading: false,
      feeTypes: [],
      search: '',
      skipSyListQuery: false,
      skipDiscountQuery: true,
      skipFeeCodeQuery: false,
      skipAccountQuery: true,
      skipFeesQuery: false,
      skipFeeTypesQuery: false
    }
  },
  computed: {
    postApi () {
      if (!this.isEdit) return 'api/finance/create/FeeCode'
      return 'api/finance/update/FeeCode'
    },
    deleteApi () {
      return `api/finance/delete/FeeCode/${this.id}`
    },
    choices () {
      return {
        feeCodes: []
      }
    },
    courseDescription () {
      return global._.isUndefined(this.formData.course_item) ? '' : this.formData.course_item.course_description
    },
    feetypeId () {
      return global._.isUndefined(this.formData.fee_item) ? '' : this.formData.fee_item.fee_type_id
    }
  },
  watch: {
    search (val) {
      this.$apollo.queries.feeCourses.refetch()
    }
  },
  methods: {
    escape () {
      this.$emit('close')
    },
    isDelete (x) {
      this.isDelete_ = x
      this.confirmDialog = true
    },
    closeDialog () {
      this.saveLoading = false
      this.updateLoading = false
      this.deleteLoading = false
      this.$emit('close')
    },
    close: function () {
      this.saveLoading = false
      this.deleteLoading = false
      this.confirmDialog = false
      if (global._.isEmpty(this.errors)) {
        this.$emit('close')
        if (!global._.isEmpty(this.form)) {
          this.$emit('refetch', this.form)
          this.$refs.form.reset()
        }
        this.$refs.form.errors = this.errors
        if (!global._.isEmpty(this.formData[0])) {
          this.form = {}
        }
      } else {
        this.$refs.form.errors = this.errors
      }
    },
    async save () {
      this.saveLoading = true
      let input = {
        ...this.formData,
        fee_type_id: !global._.isUndefined(this.formData.fee_item) ?  this.formData.fee_item.fee_type_id: null,
        curriculum_course_id: !global._.isUndefined(this.formData.course_item) ? this.formData.course_item.curriculum_course_id : null
      }
      this.saveData(input)
    },
    async edit () {
      this.deleteLoading = true
      let input = {
        ...this.formData,
        fee_type_id: !global._.isUndefined(this.formData.fee_item) ? this.formData.fee_item.fee_type_id : null,
        curriculum_course_id: !global._.isUndefined(this.formData.course_item) ? this.formData.course_item.curriculum_course_id : null
      }
      this.saveData(input)
    },
    async deleteItem () {
      this.deleteLoading = true
      this.deleteData()
    }
  },
  apollo: {
    feeCourses: {
      query: GET_FEE_CURRICULUM_COURSES,
      variables () {
        return {
          keyword: this.search
        }
      },
      result ({ data }) {
        let courses = []
        if (!global._.isUndefined(data)) {
          global._.forEach(data.feeCourses, function (value) {
            courses.push({
              curriculum_course_id: value.id,
              course_code: value.course_code,
              course_description: value.course_description
            })
          })
          this.courseItems = courses
        }
      }
    }
  }
}
</script>
