<template>
<v-container fluid class="mt-0 pt-0">
  <v-layout wrap justify-center align-center>
    <v-flex xs12 md11>
      <v-card flat>
        <header-component
          :isSearch="true"
          :isFilter="true"
          @enter="doSearch"
          :isAdd="true"
          :label="label"
          btnTitle="Add Fee"
          hint="Enter Fee Code or Description"
          @clear="clear()"
          @reset="resetFilters()"
          @clickDialog="addClicked"
          :filterItems="headers"
          :isSwitched="isSwitched"
          @openFilter="openFilter()"
          @closeFilter="closeFilter()"
        />

        <v-layout wrap justify-center align-center>
          <v-flex xs12 class="mt-5">
            <floating-card :titles="title" />
          </v-flex>
          <v-flex xs12>
            <v-card> 
            <v-card-title class="my-5" />
            <v-flex xs12>
              <v-data-table
                ref="table"
                :headers="headers"
                :items="feeCodesItems"
                :page.sync="page"
                :items-per-page="itemsPerPage"
                @page-count="pageCount = $event"
                hide-default-footer
                :options.sync="options"
                :server-items-length="feeCount"
                class="text-table-color font-weight-medium"
                hide-default-footer
                :fixed-header="true"
                :loading="feeLoading"
                loading-text="Loading... Please wait"
                @click:row="listClicked"
               >
              </v-data-table>
            </v-flex>
            <v-flex xs12 class="text-center pt-3 pb-0">
              <v-pagination
                v-show="pageCount > 1"
                v-model="page"
                :length="pageCount"
                :total-visible="10"
              ></v-pagination>
            </v-flex>
            <v-flex xs12>
              <v-card-actions
                v-show="feeCount > 0">
                <v-spacer />
                  <small>Total of <span class="blue--text">{{ feeCount }} </span> <span>{{ feeCodesItems.length > 1 ? 'Items' : 'Item'}}</span></small>
              </v-card-actions>
            </v-flex>
           </v-card>
          </v-flex>
        </v-layout>

        <finance-fee-dialog
          :formData="formData"
          :showDialog="dialog"
          @close="close"
          @refetch="refetch"
          :isEdit="isEdit"
          :id="courseFeeId"
          :hasFee="hasFee"
        />
      </v-card>
    </v-flex>
  </v-layout>

  <v-snackbar
    top
    right
    v-model="isSnackbar"
    :color="color"
    class="caption"
    timeout="1500">
    <v-card-actions class="ma-0 pa-0">
      {{ text }}
      <v-spacer />
      <v-btn
        color="white"
        text
        icon
        right
        @click="isSnackbar = false"
        class="caption">
        <v-icon>clear</v-icon>
      </v-btn>
    </v-card-actions>
  </v-snackbar>
</v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import defaultMixins from '@/mixins/index'
import { mapGetters, mapMutations } from 'vuex'
import feesQueryMixins from '@/mixins/queries/finance/feesQueries'
export default {
  mixins: [
    formMixins,
    defaultMixins,
    feesQueryMixins
  ],
  data: () => ({
    feeLoading: false,
    label: 'Search Code',
    dialog: false,
    formData: {
      code: '',
      fee_type_id: '',
      description: '',
      course_item: {
        description: ''
      },
      curriculum_course_id: '',
      fee_item: {
        name: '',
        fee_type_id: ''
      }
    },
    defaultItems: {
      code: '',
      fee_type_id: '',
      description: '',
      course_item: {
        description: ''
      },
      curriculum_course_id: '',
      fee_item: {
        name: '',
        fee_type_id: ''
      }
    },
    title: [
      {
        name: 'Fees',
        icon: 'subject',
        color: 'accent',
        flex: 'xs12'
      }
    ],
    headers: [
      {
        text: 'Code',
        align: 'center',
        sortable: true,
        value: 'code',
        title: 'Fee Type',
        icon: 'show_chart',
        name: 'finance-fee-type-filter',
        field: ''
      },
      {
        text: 'Fee Type',
        align: 'center',
        sortable: true,
        value: 'fee_type'
      },
      {
        text: 'Description',
        align: 'center',
        sortable: true,
        value: 'description'
      },
      {
        text: 'Course',
        align: 'center',
        sortable: true,
        value: 'course_code'
      }
    ],
    skip: 0,
    take: 10,
    feeCount: 0,
    feeCodesItems: [],
    saveLoading: false,
    deleteLoading: false,
    isSnackbar: false,
    color: '',
    text: '',
    isEdit: false,
    courseFeeId: null,
    bottom: false,
    dataList: [],
    isSwitched: false,
    skipSyListQuery: false,
    skipDiscountQuery: true,
    skipFeeCodeQuery: false,
    skipAccountQuery: true,
    hasFee: false,
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    options: {},
    currPage: null,
    prevPage: null,
    skipItems: null,
    takeItems: null
  }),
  computed: {
    ...mapGetters('filters', ['search', 'academic_year_id', 'semester_id', 'fee_type_id']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        this.$apollo.queries.feeCodeQuery.refetch()
        return this.SET_SEARCH(value)
      }
    }
  },
  watch: {
    options: {
      handler (old, newx) {
        this.skipItems = global._.isUndefined(newx.itemsPerPage) ? 0 : newx.itemsPerPage
        this.takeItems = old.itemsPerPage
        this.prevPage = global._.isUndefined(newx.page) ? 0 : newx.page
        this.currPage = old.page
        let skip = this.sortSkipped(this.skipItems, this.currPage, old.itemsPerPage)
        let take = old.itemsPerPage
        this.skip = skip
        this.take = take
        this.$apollo.queries.feeCodeQuery.refetch()
      },
      deep: true
    },
    fee_type_id (val) {
      this.page = 1
      this.$apollo.queries.feeCodeQuery.refetch()
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_SEARCH', 'RESET_FILTERS']),
    resetFilters () {
      this.RESET_FILTERS()
      this.clear()
    },
    openFilter () {
      this.isSwitched = true
    },
    closeFilter () {
      this.isSwitched = false
    },
    setColor(item) {
      return item == 'Active' ? 'green' : 'red'
    },
    refetch (val) {
      if (!global._.isEmpty(val.message)) {
        this.snackbar(`${val.message}`, 'success')
      }
      if (this.feeCount > 10) {
        this.take = this.feeCount + 1
      } else {
        this.take = 10
      }
      this.$apollo.queries.feeCodeQuery.refetch()
    },
    close () {
      this.dialog = false
    },
    clear () {
      this.setSearch = ''
    },
    doSearch (val) {
      this.setSearch = val
      if (val) {
        this.skipFeeCodeQuery = false
        this.$apollo.queries.feeCodeQuery.refetch()
      }
    },
    addClicked () {
      this.formData = Object.assign({}, this.defaultItems)
      this.isEdit = false
      this.dialog = true
    },
    listClicked (item) {
      this.hasFee = item.hasFee
      this.courseFeeId = item.id
      this.formData = Object.assign({}, item)
      this.isEdit = true
      this.dialog = true
    }
    // onScroll (e) {
    //   const tableHeight = (this.$refs.table.$el.offsetHeight) - (e.srcElement.offsetHeight + 50)
    //   if (e.srcElement.scrollTop > tableHeight && !this.feeLoading) {
    //     this.feeLoading = true
    //     this.take++
    //     this.$apollo.queries.feeCodeQuery.refetch()
    //   } else {
    //     this.take--
    //     this.$apollo.queries.feeCodeQuery.refetch()
    //   }
    // }
  },
  mounted () {
    this.clear()
  }
}
</script>
