<template>
  <v-dialog
    :value="showDialog"
    width="600"
    persistent
    v-esc="escape">
    <v-card
      class="pt-1">
      <v-card-actions class="pb-0">
        <div class="flex-grow-1">
          <v-card-title class="accent--text">{{ type }} Fees {{ type === 'Copy' ? 'From' : ''}}</v-card-title>
        </div>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              @click="closeDialog"
              text
              fab>
              <v-icon medium color="red">mdi-close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-card-actions>
      <v-divider class="mx-2" />
      <v-layout wrap>
         <v-flex xs12>
          <v-form ref="form">
            <v-card-title>
              <v-layout wrap
                v-if="type === 'Copy'">
                <v-flex xs12>
                  <small>Academic School Year
                    <span class="pl-1" style="color: red;">*</span>
                  </small>
                  <v-autocomplete
                    :items="copyYears"
                    v-model="formData.school_year_id"
                    clearable
                    item-text="school_year"
                    item-value="sy_program_id"
                    hide-no-data
                    return-object
                    clear-icon="mdi-close-circle"
                    dense
                    class="mx-1 mt-2"
                    :error-messages="errors['school_year_id']">
                  </v-autocomplete>
                </v-flex>
                <v-flex xs12
                  v-if="formData.school_year_id">
                  <small>Semester: 
                    <span class="pl-1" style="color: red;">*</span>
                  </small>
                  <v-radio-group
                    row
                    v-model="formData.semester">
                    <v-radio
                      label="1st Semester"
                      value="1"
                      :disabled="isRadioEnabled(formData.school_year_id.first_sem_fee, semester.semester_id, formData.school_year_id.first_sem)"
                    ></v-radio>
                    <v-radio
                      label="2nd Semester"
                      value="2"
                      :disabled="isRadioEnabled(formData.school_year_id.second_sem_fee, semester.semester_id, formData.school_year_id.second_sem)"
                    ></v-radio>
                    <v-radio
                      label="Summer"
                      value="3"
                      :disabled="isRadioEnabled(formData.school_year_id.third_sem_fee, semester.semester_id, formData.school_year_id.third_sem)"
                    ></v-radio>
                  </v-radio-group>
                </v-flex>
                <v-flex xs12>
                  <small>Year level
                    <span class="pl-1" style="color: red;">*</span>
                  </small>
                  <v-layout wrap justify-center align-center>
                    <v-flex xs6 md3>
                      <v-checkbox
                        v-model="formData.selected"
                        label="1st Year"
                        value="1"
                      ></v-checkbox>
                    </v-flex>
                    <v-flex xs6 md3>
                      <v-checkbox
                        v-model="formData.selected"
                        label="2nd Year"
                        value="2"
                      ></v-checkbox>
                    </v-flex>
                    <v-flex xs6 md3>
                      <v-checkbox
                        v-model="formData.selected"
                        label="3rd Year"
                        value="3"
                      ></v-checkbox>
                    </v-flex>
                    <v-flex xs6 md3>
                      <v-checkbox
                        v-model="formData.selected"
                        label="4th Year"
                        value="4"
                      ></v-checkbox>
                    </v-flex>
                  </v-layout>
                </v-flex>
                <v-flex>
                  <small>Increase Percentage (%)
                  </small>
                  <v-text-field
                    class="mx-2 mt-2"
                    dense
                    required
                    type="number"
                    v-model="formData.percentage"
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout
                wrap
                v-else>
                <v-flex>
                  <small>Percentage (%)
                    <span class="pl-1" style="color: red;">*</span>
                  </small>
                  <v-text-field
                    class="mx-2 mt-2"
                    dense
                    required
                    type="number"
                    v-model="formData.percentage"
                    :error-messages="errors['percentage']"
                  ></v-text-field>
                </v-flex>
                </v-layout>
            </v-card-title>
          </v-form>
        </v-flex>
      </v-layout>
      <v-card-actions class="pb-3">
        <v-spacer />
        <v-btn
          :loading="saveLoading"
          color="accent"
          width="120px"
          class="white--text mr-3 mt-2 text-none"
          @click="save(selection)"
        >
          Submit
          <template v-slot:loader>
            <span>copying...</span>
          </template>
        </v-btn>
      </v-card-actions> 
    </v-card>

  </v-dialog>
</template>
<script>
import formMixins from '@/mixins/form.js'
import { GET_FEE_CURRICULUM_COURSES } from '@/graphql/admin/queries'
import feesQueryMixins from '@/mixins/queries/finance/feesQueries'
import { mapGetters, mapActions } from 'vuex'
export default {
  mixins: [
    formMixins,
    feesQueryMixins
  ],
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    type: String,
    selection: {
      type: Array
    }
  },
  data () {
    return {
      loading: false,
      skip: 0,
      take: 10,
      errors: {},
      tableData: {
        input: {
          skip: 0,
          take: 10
        },
        maxData: 0,
        count: 0
      },
      form: {},
      saveLoading: false,
      deleteLoading: false,
      fee_type: null,
      courseItems: [],
      FeeItems: [],
      isLoading: false,
      feeTypes: [],
      skipSyListQuery: false,
      skipDiscountQuery: true,
      skipFeeCodeQuery: false,
      skipAccountQuery: true,
      skipFeesQuery: true,
      formData: {
        school_year_id: '',
        selected: [],
        multiplier: '',
        percentage: '',
        semester: ''
      },
      defaultItem: {
        school_year_id: '',
        selected: [],
        multiplier: '',
        percentage: ''
      },
      copyYears: [],
      skipcopyfeeQuery: false,
      skipFeeTypesQuery: false
    }
  },
  computed: {
    ...mapGetters('programs', ['programs', 'semester']),
    setOpenSemester () {
      if (this.formData.school_year_id) {
        // to be fixed
        return null
      }
    }
  },
  methods: {
    ...mapActions('fee', ['INCREASE_PERCENTAGE', 'COPY_FEES']),
    isRadioEnabled (hasFee, semester, selected_semester) {
      if (hasFee) {
        if (this.semester.sy_program_id === this.formData.school_year_id.sy_program_id) {
          if (semester === selected_semester) return true
          return false
        } else {
          return false
        }
      } else {
        return true
      }
    },
    escape () {
      this.$emit('close')
    },
    closeDialog () {
      this.formData = Object.assign({}, this.defaultItem)
      this.saveLoading = false
      this.updateLoading = false
      this.$emit('close')
    },
    postIncrease (selected, percentage) {
      this.saveLoading = true
      this.INCREASE_PERCENTAGE({ ids: selected.map(item => item.fee_bridge_id), percentage: percentage}).then(res => {
        this.closeDialog()
        this.$emit('message', res.data)
      }).catch(res => {
        this.saveLoading = false
        this.errors = res.error
      })
    },
    postCopy (payload) {
      this.saveLoading = true
      this.COPY_FEES(payload).then(res => {
        this.closeDialog()
        this.$emit('message', res.data)
      }).catch(res => {
        this.saveLoading = false
        this.errors = res.error
      })
    },
    async save (selected) {
      if (this.type === 'Increase') {
        this.postIncrease(selected, this.formData.percentage)
      } else {
        let payload = {
          academic_year: this.formData.school_year_id.sy_program_id,
          semester: this.formData.semester,
          sy_program_id: this.semester.sy_program_id,
          semester_id: this.semester.semester_id,
          year_levels: this.formData.selected,
          percentage: this.formData.percentage
        }
        this.postCopy(payload)
      }
    }
  }
}
</script>
