<template>
<v-container fluid class="mt-0 pt-0">
  <v-breadcrumbs
    :items="breadcrumbItems"
    large
  >
    <template v-slot:item="{ item }">
      <v-breadcrumbs-item
        :to="item.to"
        :disabled="item.disabled"
      >
        <span
         :class="item.disabled ? 'grey--text' : 'blue--text'">{{ item.text }}</span>
      </v-breadcrumbs-item>
    </template>
  </v-breadcrumbs>
  <v-layout wrap justify-center align-center>
    <v-flex xs12 md11>
      <v-card flat>
        <header-component
          :isSearch="true"
          :isFilter="true"
          :isEnroll="true"
          :isEnrollDisabled="isEnrollDisabled"
          @enter="doSearch"
          @enroll="copyTuitionFees"
          :btnEnrollTitle="btnFeeTitle"
          :isAdd="true"
          :label="label"
          btnTitle="Add Tuition and Misc."
          hint="Enter Fee Code"
          @clear="clear()"
          @reset="resetFilters()"
          @clickDialog="addiItem"
          :filterItems="headers"
          :isSwitched="isSwitched"
          @openFilter="openFilter()"
          @closeFilter="closeFilter()"
          addBtnFont="caption-2"
        />

        <v-layout wrap justify-center align-center>
          <v-flex xs12 class="mt-5">
            <floating-card :titles="title" />
          </v-flex>
          <v-flex xs12>
            <v-card>
              <v-card-title class="my-5" />
              <v-flex xs12>
                <v-data-table
                  ref="table"
                  :headers="headers"
                  :items="feeItems"
                  :page.sync="page"
                  :items-per-page="itemsPerPage"
                  @page-count="pageCount = $event"
                  hide-default-footer
                  :options.sync="options"
                  :server-items-length="feesCount"
                  class="text-table-color font-weight-medium"
                  hide-default-footer
                  :fixed-header="true"
                  :loading="tuitionfeeLoading"
                  loading-text="Loading... Please wait"
                  show-select
                  v-model="selected"
                  @input="$emit('select', selected)"
                  @click:row="EditItem($event)"
                  item-key="code"
                 >
                 <template v-slot:header>
                   <thead v-show="hideCard">
                     <tr>
                       <th style="text-align: center;" :colspan="6">
                       </th>
                       <th
                         v-if="!isTuitionMarine"
                         style="text-align: center;" :colspan="4">
                         Fee
                         <hr />
                       </th>
                       <th
                         v-if="isTuitionMarine"
                         style="text-align: center;" :colspan="4">
                         NSA
                         <hr />
                       </th>
                       <th
                         v-if="isTuitionMarine"
                         style="text-align: center;" :colspan="4">
                         CSC
                         <hr />
                       </th>
                     </tr>
                   </thead>
                 </template>
              </v-data-table>
            </v-flex>
            <v-flex xs12 class="text-center pt-3 pb-0">
              <v-pagination
                v-show="pageCount > 1"
                v-model="page"
                :length="pageCount"
                :total-visible="10"
              ></v-pagination>
            </v-flex>
            <v-flex xs12>
              <v-card-actions
                v-show="feesCount > 0">
                <v-spacer />
                <small>Total of <span class="blue--text">{{ feesCount }} </span> <span>{{ feeItems.length > 1 ? 'Items' : 'Item'}}</span></small>
              </v-card-actions>
            </v-flex>
          </v-card> 
        </v-flex>
        </v-layout>

        <finance-tuition-dialog
          :formData="formData"
          :showDialog="dialog"
          @close="close"
          @refetch="refetch"
          :isEdit="isEdit"
          :id="tuitionFeeId"
          :feeId="feeId"
        />

      </v-card>
    </v-flex>
  </v-layout>

  <v-snackbar
    top
    right
    v-model="isSnackbar"
    :color="color"
    class="caption"
    timeout="1500">
    <v-card-actions class="ma-0 pa-0">
      {{ text }}
      <v-spacer />
      <v-btn
        color="white"
        text
        icon
        right
        @click="isSnackbar = false"
        class="caption">
        <v-icon>clear</v-icon>
      </v-btn>
    </v-card-actions>
  </v-snackbar>

  <finance-fee-copy
    :showDialog="copyIncreaseDialog"
    @close="copyIncreaseDialog = false"
    :type="btnFeeTitle"
    :selection="selected"
    @message="message"
  />
</v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import defaultMixins from '@/mixins/index'
import { mapGetters, mapMutations } from 'vuex'
import feesQueryMixins from '@/mixins/queries/finance/feesQueries'
import miscQueriesMixins from '@/mixins/queries/finance/miscQueries'
export default {
  mixins: [
    formMixins,
    defaultMixins,
    feesQueryMixins,
    miscQueriesMixins
  ],
  data: () => ({
    tuitionfeeLoading: false,
    label: 'Search Code',
    dialog: false,
    formData: [],
    defaultItem: {
      fee_code_id: '',
      status: '',
      first_year: '',
      second_year: '',
      third_year: '',
      fourth_year: '',
      nsa_first_year: '',
      nsa_second_year: '',
      nsa_third_year: '',
      nsa_fourth_year: '',
      csc_first_year: '',
      csc_second_year: '',
      csc_third_year: '',
      csc_fourth_year: ''
    },
    title: [
      {
        name: 'Tuition and Miscellaneous',
        icon: 'miscellaneous_services',
        color: 'accent',
        flex: 'xs12'
      }
    ],
    skip: 0,
    take: 10,
    feesCount: 0,
    feeItems: [],
    saveLoading: false,
    deleteLoading: false,
    isSnackbar: false,
    color: '',
    text: '',
    isEdit: false,
    tuitionFeeId: null,
    isSwitched: false,
    currSemesterItems: [],
    skipSyListQuery: false,
    skipDiscountQuery: true,
    skipFeeCodeQuery: false,
    skipAccountQuery: true,
    skipFeesQuery: false,
    selected: [],
    copyIncreaseDialog: false,
    breadcrumbItems: [
      {
        text: 'Program',
        disabled: false,
        to: { name: 'finance-programs' }
      },
      {
        text: 'Academic School Year',
        disabled: false,
        to: { name: 'finance-programs-school-year' }
      },
      {
        text: 'Tuition and Miscellaneous',
        disabled: true,
        to: { name: '' }
      }
    ],
    skipcopyfeeQuery: false,
    copyYears: [],
    feeId: null,
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    options: {},
    currPage: null,
    prevPage: null,
    skipItems: null,
    takeItems: null
  }),
  computed: {
    ...mapGetters('filters', ['search', 'fee_type_id']),
    ...mapGetters('programs', ['semester', 'programs']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        this.$apollo.queries.feesQuery.refetch()
        return this.SET_SEARCH(value)
      }
    },
    btnFeeTitle () {
      return this.selected.length > 0 ? 'Increase' : 'Copy'
    },
    isEnrollDisabled () {
      if (this.btnFeeTitle === 'Copy') {
        if (this.copyYears.length > 0) {
          if (this.copyYears.length === 1) {
            let selfItem = this.copyYears.find(item => item.school_year_id === this.semester.school_year_id)
            if (!global._.isUndefined(selfItem)) {
              if (selfItem.first_sem === this.semester.semester_id) {
                if (selfItem.first_sem_fee) return true
                return false
              } else if (selfItem.second_sem === this.semester.semester_id) {
                if (selfItem.second_sem_fee) return true
                return false
              } else if (selfItem.third_sem === this.semester.semester_id) {
                if (selfItem.third_sem_fee) return true
                return false
              }
            } else {
              return false
            }
          } else {
            return false
          }
        }
      } else {
        return false
      }
    },
    headers () {
      if (this.isTuitionMarine) {
        return [
          {
            text: 'Code',
            align: 'center',
            sortable: true,
            value: 'code',
            title: 'Fee Type',
            icon: 'show_chart',
            name: 'finance-fee-type-filter',
            field: ''
          },
          {
            text: 'Fee Type',
            align: 'center',
            sortable: true,
            value: 'name'
          },
          {
            text: 'Description',
            align: 'center',
            sortable: true,
            value: 'description'
          },
          {
            text: 'Course',
            align: 'center',
            sortable: true,
            value: 'course_code'
          },
          {
            text: 'Percentage',
            align: 'center',
            sortable: true,
            value: 'percentage'
          },
          {
            text: '1st Year',
            align: 'center',
            sortable: true,
            value: 'nsa_first_year'
          },
          {
            text: '2nd Year',
            align: 'center',
            sortable: true,
            value: 'nsa_second_year'
          },
          {
            text: '3rd Year',
            align: 'center',
            sortable: true,
            value: 'nsa_third_year'
          },
          {
            text: '4th Year',
            align: 'center',
            sortable: true,
            value: 'nsa_fourth_year'
          },
          {
            text: '1st Year',
            align: 'center',
            sortable: true,
            value: 'csc_first_year'
          },
          {
            text: '2nd Year',
            align: 'center',
            sortable: true,
            value: 'csc_second_year'
          },
          {
            text: '3rd Year',
            align: 'center',
            sortable: true,
            value: 'csc_third_year'
          },
          {
            text: '4th Year',
            align: 'center',
            sortable: true,
            value: 'csc_fourth_year'
          }
        ]
      } else {
        return [
          {
            text: 'Code',
            align: 'center',
            sortable: true,
            value: 'code',
            title: 'Fee Type',
            icon: 'show_chart',
            name: 'finance-fee-type-filter',
            field: ''
          },
          {
            text: 'Fee Type',
            align: 'center',
            sortable: true,
            value: 'name'
          },
          {
            text: 'Description',
            align: 'center',
            sortable: true,
            value: 'description'
          },
          {
            text: 'Course',
            align: 'center',
            sortable: true,
            value: 'course_code'
          },
          {
            text: 'Percentage',
            align: 'center',
            sortable: true,
            value: 'percentage'
          },
          {
            text: '1st Year',
            align: 'center',
            sortable: true,
            value: 'first_year'
          },
          {
            text: '2nd Year',
            align: 'center',
            sortable: true,
            value: 'second_year'
          },
          {
            text: '3rd Year',
            align: 'center',
            sortable: true,
            value: 'third_year'
          },
          {
            text: '4th Year',
            align: 'center',
            sortable: true,
            value: 'fourth_year'
          }
        ]
      }
    },
    isTuitionMarine () {
      if (!global._.isEmpty(this.programs)) {
        let name = this.programs.program_name
        let lowerCaseName = name.toLowerCase()
        let isMarine = lowerCaseName.includes('marine')
        return isMarine
      }
    }
  },
  watch: {
    options: {
      handler (old, newx) {
        this.skipItems = global._.isUndefined(newx.itemsPerPage) ? 0 : newx.itemsPerPage
        this.takeItems = old.itemsPerPage
        this.prevPage = global._.isUndefined(newx.page) ? 0 : newx.page
        this.currPage = old.page
        let skip = this.sortSkipped(this.skipItems, this.currPage, old.itemsPerPage)
        let take = old.itemsPerPage
        this.skip = skip
        this.take = take
        this.$apollo.queries.feesQuery.refetch()
      },
      deep: true
    },
    fee_type_id (val) {
      this.page = 1
      this.$apollo.queries.feesQuery.refetch()
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_SEARCH', 'RESET_FILTERS']),
    copyTuitionFees () {
      this.copyIncreaseDialog = true
    },
    openFilter () {
      this.isSwitched = true
    },
    closeFilter () {
      this.isSwitched = false
    },
    setColor(item) {
      return item == 'Active' ? 'green' : 'red'
    },
    refetch (val) {
      if (!global._.isEmpty(val.message)) {
        this.snackbar(`${val.message}`, `${val.status}`)
      }
      this.$apollo.queries.feesQuery.refetch()
    },
    message (val) {
      this.copyIncreaseDialog = false
      if (!global._.isEmpty(val.message)) {
        this.snackbar(`${val.message}`, 'success')
      }
      this.$apollo.queries.feesQuery.refetch()
    },
    close () {
      this.dialog = false
    },
    resetFilters () {
      this.RESET_FILTERS()
      this.clear()
    },
    clear () {
      this.setSearch = ''
    },
    doSearch (val) {
      this.setSearch = val
    },
    addiItem () {
      this.formData = Object.assign({}, this.defaultItem)
      this.isEdit = false
      this.dialog = true
    },
    EditItem (item) {
      this.feeId = item.fee_id
      this.tuitionFeeId = item.delete_id
      this.formData = Object.assign({}, item)
      this.isEdit = true
      this.dialog = true
    },
    // onScroll (e) {
    //   const tableHeight = (this.$refs.table.$el.offsetHeight) - (e.srcElement.offsetHeight + 50)
    //   if (e.srcElement.scrollTop > tableHeight && !this.tuitionfeeLoading) {
    //     this.tuitionfeeLoading = true
    //     this.take++
    //     this.$apollo.queries.feesQuery.refetch()
    //   } else {
    //     this.take--
    //     this.$apollo.queries.feesQuery.refetch()
    //   }
    // },
    SemesterBreadcrumbs () {
      this.breadcrumbItems[0].text = `${this.programs.program_code}`
      this.breadcrumbItems[1].text = `${this.semester.school_year} - ${this.semester.semester_id === 1 ? '1st Semester' : this.semester.semester_id === 2 ? '2nd Semester' : 'Summer'}`
    }
  },
  mounted () {
    this.clear()
    this.SemesterBreadcrumbs()
  }
}
</script>
