<template>
  <v-container fluid class="py-0 my-0">
    <v-layout wrap justify-center align-center class="px-5 pt-10">
      <v-flex xs12 md9>
        <v-range-slider
          :min="0"
          :max="8000"
          :value="value"
          id="id"
          @input="Input"
          :thumb-size="36"
          thumb-label="always"
          class="range-box mt-2">
          <template v-slot:prepend>
            <span style="width: 45px"
            class="blue--text">{{ value[0] }}</span>
          </template>
          <template v-slot:append>
            <span style="width: 90px"
            class="blue--text">{{ value[1] }}</span>
          </template>
        </v-range-slider>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  props: {
    rangeTitle: {
      required: true,
      type: String
    },
    value: {
      required: false,
      type: [Array]
    }
  },
  methods: {
    Input (value) {
      this.$emit('input', value)
    }
  }
}
</script>
