<template>
<v-layout wrap>
  <v-flex xs12 class="mt-5">
   <floating-card :titles="titleInfo" />
    <v-card
      class="my-6">
      <v-layout wrap>
        <v-flex xs12>
          <v-data-table
            :headers="tableData.headers"
            :items="selectedItems"
            :page.sync="page"
            :items-per-page="itemsPerPage"
            @page-count="pageCount = $event"
            v-bind="rowsPerPage"
            hide-default-footer
            fixed-header
            :loading="selectedloading"
            loading-text="Loading... Please wait">
            <template v-slot:top>
              <v-card-actions>
                <v-spacer />
                <small class="mx-2 font-weight-medium body-2">Total Units : <span class="title-color">{{ tableData.units_added }}</span> / <span class="blue--text">{{ tableData.total_units }}</span> </small>
              </v-card-actions>
            </template>
          <template v-slot:body="{ items }">
            <tbody>
              <tr v-for="item in items" :key="item.name">
                <td class="text-center">
                  {{ item.class_code }}
                </td>
                <td class="text-center">
                  {{ item.course_code }}
                </td>
                <td class="text-center">
                  {{ item.program_code }}
                </td>
                <td class="text-center">
                  {{ item.section }}
                </td>
                <td class="text-center">
                  {{ item.lec_hours }}
                </td>
                <td class="text-center"
                  v-if="item.lec_days">
                  <tr v-for="(daysItem, daysIndex) in item.lec_days" :key="daysIndex">
                    <td class="text-center">
                      {{ daysItem }}
                    </td>
                  </tr>
                </td>
                <td class="text-center"
                  v-if="item.lec_time">
                  <tr v-for="(timeItem, timeIndex) in item.lec_time" :key="timeIndex">
                    <td class="text-center">
                      {{ timeItem }}
                    </td>
                  </tr>
                </td>
                <td class="text-center"
                  v-if="item.lec_room">
                  <tr v-for="(roomItem, roomIndex) in item.lec_room" :key="roomIndex">
                    <td class="text-center">
                      {{ roomItem }}
                    </td>
                  </tr>
                </td>
                <td class="text-center"
                  v-if="item.lec_instructor">
                  <tr v-for="(instructorItem, instructorIndex) in item.lec_instructor" :key="instructorIndex">
                    <td class="text-center">
                      {{ instructorItem }}
                    </td>
                  </tr>
                </td>
                <td class="text-center">
                  {{ item.lab_hours }}
                </td>
                <td class="text-center"
                  v-if="item.lab_days">
                  <tr v-for="(labDaysItem, labDaysIndex) in item.lab_days" :key="labDaysIndex">
                    <td class="text-center">
                      {{ labDaysItem }}
                    </td>
                  </tr>
                </td>
                <td class="text-center"
                  v-if="item.lab_time">
                  <tr v-for="(labTimeItem, labTimeIndex) in item.lab_time" :key="labTimeIndex">
                    <td class="text-center">
                      {{ labTimeItem }}
                    </td>
                  </tr>
                </td>
                <td class="text-center"
                  v-if="item.lab_room">
                  <tr v-for="(labRoomItem, labRoomIndex) in item.lab_room" :key="labRoomIndex">
                    <td class="text-center">
                      {{ labRoomItem }}
                    </td>
                  </tr>
                </td>
                <td class="text-center"
                  v-if="item.lab_instructor">
                  <tr v-for="(labInstructorItem, labInstructorIndex) in item.lab_instructor" :key="labInstructorIndex">
                    <td class="text-center">
                      {{ labInstructorItem }}
                    </td>
                  </tr>
                </td>
                <td>
                  <v-btn
                    dark
                    depressed
                    small
                    fab
                    :color="item.tagged === 'D'? 'blue' : item.tagged === 'M' ? 'accent' : item.tagged === 'S' ? 'green' : 'transparent'"
                    class="text-none">
                    {{ item.tagged }}
                  </v-btn>
                </td>
                <td>
                  <v-btn
                    dark
                    depressed
                    small
                    color="red"
                    class="text-none"
                    @click="showDroppedDialog(item)">
                    Drop
                  </v-btn>
                </td>
              </tr>
            </tbody>
          </template>
          </v-data-table>
        </v-flex>
        <v-flex xs12 class="text-center my-3">
          <v-pagination
            v-show="pageCount > 1"
            v-model="page"
            :length="pageCount"
            :total-visible="10"
          ></v-pagination>
        </v-flex>
        <v-flex xs12
          v-show="itemsLength > 0">
          <v-card-actions>
            <v-spacer />
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <a :href="link" target="_blank" class="text-decor red--text"
                  v-on="on">
                  <v-btn
                    outlined
                    width="220px"
                    class="accent--text text-none my-3 mr-2"
                    @click="exportData()">
                    Adding & Dropping Form
                    <v-icon>mdi-download</v-icon>
                  </v-btn>
                </a>
              </template>
              <span>Download</span>
            </v-tooltip>
          </v-card-actions>
        </v-flex>
      </v-layout>
    </v-card>
  </v-flex>

  <v-flex xs12 md6>
    <v-layout wrap justify-center align-center>
      <v-text-field
        append-icon="mdi-magnify"
        label="Search Course Code"
        single-line
        class="mt-6 mx-2"
        color="accent"
        clearable
        solo
        v-model="keyword"
        clear-icon="mdi-close-circle"
        @keyup.enter="enter(keyword)"
        @click:clear="clear"
        hint="Click Enter"
      ></v-text-field>
    </v-layout>
  </v-flex>

  <v-flex xs12 md6>
    <v-layout wrap justify-center align-center>
      <v-autocomplete
        v-model="select"
        :loading="loading"
        :items="programItems"
        :search-input.sync="searchProgram"
        cache-items
        clearable
        clear-icon="mdi-close-circle"
        class="mt-6 mx-2"
        item-value="program_id"
        item-text="program_code"
        hide-no-data
        hide-details
        label="Program"
        solo
      ></v-autocomplete>
    </v-layout>
  </v-flex>

  <v-flex xs12 class="mt-5">
   <floating-card :titles="availablesTitle" />
    <v-card
      class="my-8">
      <v-card-title class="my-5" />
      <v-layout wrap>
        <v-flex xs12>
          <v-data-table
            :headers="availableData.headers"
            :items="availableItems"
            :page.sync="page1"
            :items-per-page="itemsPerPage1"
            @page-count="pageCount1 = $event"
            v-bind="rowsPerPage1"
            hide-default-footer
            fixed-header
            :loading="availableLoading"
            loading-text="Loading... Please wait">
            <template v-slot:body="{ items }">
              <tbody>
                <tr v-for="item in items" :key="item.name">
                  <td class="text-center">
                    {{ item.class_code }}
                  </td>
                  <td class="text-center">
                    {{ item.course_code }}
                  </td>
                  <td class="text-center">
                    {{ item.program_code }}
                  </td>
                  <td class="text-center">
                    {{ item.section }}
                  </td>
                  <td class="text-center">
                    {{ item.lec_hours }}
                  </td>
                  <td class="text-center"
                    v-if="item.lec_days">
                    <tr v-for="(daysItem, daysIndex) in item.lec_days" :key="daysIndex">
                      <td class="text-center">
                        {{ daysItem }}
                      </td>
                    </tr>
                  </td>
                  <td class="text-center"
                    v-if="item.lec_time">
                    <tr v-for="(timeItem, timeIndex) in item.lec_time" :key="timeIndex">
                      <td class="text-center">
                        {{ timeItem }}
                      </td>
                    </tr>
                  </td>
                  <td class="text-center"
                    v-if="item.lec_room">
                    <tr v-for="(roomItem, roomIndex) in item.lec_room" :key="roomIndex">
                      <td class="text-center">
                        {{ roomItem }}
                      </td>
                    </tr>
                  </td>
                  <td class="text-center"
                    v-if="item.lec_instructor">
                    <tr v-for="(instructorItem, instructorIndex) in item.lec_instructor" :key="instructorIndex">
                      <td class="text-center">
                        {{ instructorItem }}
                      </td>
                    </tr>
                  </td>
                  <td class="text-center">
                    {{ item.lab_hours }}
                  </td>
                  <td class="text-center"
                    v-if="item.lab_days">
                    <tr v-for="(labDaysItem, labDaysIndex) in item.lab_days" :key="labDaysIndex">
                      <td class="text-center">
                        {{ labDaysItem }}
                      </td>
                    </tr>
                  </td>
                  <td class="text-center"
                    v-if="item.lab_time">
                    <tr v-for="(labTimeItem, labTimeIndex) in item.lab_time" :key="labTimeIndex">
                      <td class="text-center">
                        {{ labTimeItem }}
                      </td>
                    </tr>
                  </td>
                  <td class="text-center"
                    v-if="item.lab_room">
                    <tr v-for="(labRoomItem, labRoomIndex) in item.lab_room" :key="labRoomIndex">
                      <td class="text-center">
                        {{ labRoomItem }}
                      </td>
                    </tr>
                  </td>
                  <td class="text-center"
                    v-if="item.lab_instructor">
                    <tr v-for="(labInstructorItem, labInstructorIndex) in item.lab_instructor" :key="labInstructorIndex">
                      <td class="text-center">
                        {{ labInstructorItem }}
                      </td>
                    </tr>
                  </td>
                  <td class="text-center">
                    <span
                      :class="item.period_status === 'Dropped' ? 'red--text' : 'accent--text'">
                      {{ item.period_status }}
                    </span>
                  </td>
                  <td>
                    <v-btn
                      dark
                      depressed
                      small
                      color="green"
                      class="text-none"
                      @click="showAddedDialog(item)">
                      Add
                    </v-btn>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-data-table>
        </v-flex>
        <v-flex xs12 class="text-center my-3">
          <v-pagination
            v-show="pageCount1 > 1"
            v-model="page1"
            :length="pageCount1"
            :total-visible="10"
          ></v-pagination>
        </v-flex>
      </v-layout>
    </v-card>
  </v-flex>

  <remarks-dialog
    :showDialog="dialog"
    @close="dialog = false"
    title="Drop Course"
    @submit="submitDropped"
    :info="registrar"
  />

  <remarks-dialog
    :showDialog="addedDialog"
    @close="addedDialog = false"
    title="Add Course"
    @submit="submitAdded"
    :info="registrar"
  />

  <remarks-dialog
    :showDialog="exceedingDialog"
    @close="exceedingDialog = false"
    title="Add Class ? Adding this class will exceed the maximum allowable units taken by a student in this semester. Do you wish to proceed"
    @submit="submitAdded"
    :info="registrar"
    :iscourseTab="true"
  />

</v-layout>
</template>
<script type="text/javascript">
import defaultMixins from '@/mixins/index'
import tabQueryMixins from '@/mixins/queries/admin/tabQueries'
import { mapActions, mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    defaultMixins,
    tabQueryMixins
  ],
  data: () => ({
    rowsPerPage: {
      'footer-props': {
        'items-per-page-options': [10]
      }
    },
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    rowsPerPage1: {
      'footer-props': {
        'items-per-page-options': [10]
      }
    },
    page1: 1,
    pageCount1: 0,
    itemsPerPage1: 10,
    titleInfo: [
      {
        name: 'Student Course',
        icon: 'playlist_add_check',
        color: 'accent',
        flex: 'xs12'
      }
    ],
    availablesTitle: [
      {
        name: 'Available/Dropped Course',
        icon: 'playlist_add_check',
        color: 'accent',
        flex: 'xs12'
      }
    ],
    searchProgram: null,
    programItems: [],
    select: null,
    loading: false,
    tableData: {
      headers: [
        {
          text: 'Class Code',
          align: 'center',
          sortable: false,
          value: 'class_code'
        },
        {
          text: 'Course',
          align: 'center',
          sortable: false,
          value: 'course_code'
        },
        {
          text: 'Program',
          align: 'center',
          sortable: false,
          value: 'program_code'
        },
        {
          text: 'Section',
          align: 'center',
          sortable: false,
          value: 'section'
        },
        {
          text: 'Lec/HR',
          align: 'center',
          sortable: false,
          value: 'lec_hours'
        },
        {
          text: 'Lec/Days',
          align: 'center',
          sortable: false,
          value: 'lec_days'
        },
        {
          text: 'Lec/Time',
          align: 'center',
          sortable: false,
          value: 'lec_time'
        },
        {
          text: 'Lec/Room',
          align: 'center',
          sortable: false,
          value: 'lec_room'
        },
        {
          text: 'Lec/Instructor',
          align: 'center',
          sortable: false,
          value: 'lec_instructor'
        },
        {
          text: 'Lab/HR',
          align: 'center',
          sortable: false,
          value: 'lab_hours'
        },
        {
          text: 'Lab/Days',
          align: 'center',
          sortable: false,
          value: 'lab_days'
        },
        {
          text: 'Lab/Time',
          align: 'center',
          sortable: false,
          value: 'lab_time'
        },
        {
          text: 'Lab/Room',
          align: 'center',
          sortable: false,
          value: 'lab_room'
        },
        {
          text: 'Instructor',
          align: 'center',
          sortable: false,
          value: 'lab_instructor'
        },
        {
          text: 'Added By',
          value: 'tagged',
          sortable: true,
          align: 'center',
          title: '',
          name: ''
        }
      ],
      input: {
        skip: 0,
        take: 10 
      },
      count: 0,
      total_units: 0,
      maxData: 0,
      units_added: 0,
      add_drop_units_added: 0,
      add_drop_total_units: 0
    },
    availableData: {
      headers: [
        {
          text: 'Class Code',
          align: 'center',
          sortable: false,
          value: 'class_code'
        },
        {
          text: 'Course',
          align: 'center',
          sortable: false,
          value: 'course_code'
        },
        {
          text: 'Program',
          align: 'center',
          sortable: false,
          value: 'program_code'
        },
        {
          text: 'Section',
          align: 'center',
          sortable: false,
          value: 'section'
        },
        {
          text: 'Lec/HR',
          align: 'center',
          sortable: false,
          value: 'lec_hours'
        },
        {
          text: 'Lec/Days',
          align: 'center',
          sortable: false,
          value: 'lec_days'
        },
        {
          text: 'Lec/Time',
          align: 'center',
          sortable: false,
          value: 'lec_time'
        },
        {
          text: 'Lec/Room',
          align: 'center',
          sortable: false,
          value: 'lec_room'
        },
        {
          text: 'Lec/Instructor',
          align: 'center',
          sortable: false,
          value: 'lec_instructor'
        },
        {
          text: 'Lab/HR',
          align: 'center',
          sortable: false,
          value: 'lab_hours'
        },
        {
          text: 'Lab/Days',
          align: 'center',
          sortable: false,
          value: 'lab_days'
        },
        {
          text: 'Lab/Time',
          align: 'center',
          sortable: false,
          value: 'lab_time'
        },
        {
          text: 'Lab/Room',
          align: 'center',
          sortable: false,
          value: 'lab_room'
        },
        {
          text: 'Instructor',
          align: 'center',
          sortable: false,
          value: 'lab_instructor'
        }
      ],
      input: {
        skip: 0,
        take: 10 
      },
      count: 0,
      maxData: 0
    },
    selectedItems: [],
    availableItems: [],
    selectedloading: false,
    availableLoading: false,
    keyword: '',
    skipSelectedSchedQuery: true,
    skipAvailableSchedQuery: true,
    search: '',
    dialog: false,
    addedDialog: false,
    exceedingDialog: false,
    addClassItem: {},
    dropClassItem: {},
    skipAddDropQuery: false,
    itemsLength: 0,
    link: ''
  }),
  computed: {
    ...mapGetters('user', ['registrar', 'user', 'student_data'])
  },
  mounted () {
    if (this.userType === 5 || this.userType === 8) {
      this.tableData.headers.push(
      {
        text: 'Action',
        value: 'drop_action',
        sortable: true,
        align: 'center',
        title: '',
        name: ''
      })
      this.availableData.headers.push(
        {
          text: 'Status',
          value: 'period_status',
          sortable: true,
          align: 'center',
          title: '',
          name: ''
        },
        {
          text: 'Action',
          value: 'available_action',
          sortable: true,
          align: 'center',
          title: '',
          name: ''
        })
    }
    if (this.skipStudent || this.skipApplicant) {
      this.skipSelectedSchedQuery = false
      this.skipAvailableSchedQuery = false
    } else {
      this.skipSelectedSchedQuery = true
      this.skipAvailableSchedQuery = true
    }
  },
  methods: {
    ...mapActions('applicants', ['POST_CREATE_STUDENT_CLASS', 'POST_DROP_CLASS', 'POST_ADD_CLASS']),
    ...mapMutations('user', ['setClearItem']),
    showDroppedDialog (item) {
      this.dropClassItem = item
      if (item.class_code) {
        this.setClearItem('')
        this.dialog = true
      }
    },
    submitDropped (remarks) {
      this.setClearItem(remarks)
      this.POST_DROP_CLASS({
        remarks: remarks,
        class_code: this.dropClassItem.class_code,
        user_id: this.registrar.user_info.id,
        program_id: this.registrar.program_id,
        curriculum_id: this.registrar.curriculum_id,
        semester_id: this.registrar.semester_id,
        year_level_id: this.registrar.year_level_id,
        revision_id: this.registrar.revision_id,
        school_year_id: this.registrar.school_year_id,
        period: 'Adding-Dropping'
      }).then(data => {
        this.dialog = false
        this.$apollo.queries.classSchedByStudent.refetch()
        this.$apollo.queries.classSchedAvailable.refetch()
      }).catch(data => {
        this.dialog = false
      })
    },
    showAddedDialog (item) {
      this.addClassItem = item
      if (item.class_code) {
        this.setClearItem('')
        if (this.tableData.units_added >= this.tableData.total_units) {
          this.exceedingDialog = true
        } else {
          this.addedDialog = true
        }
      }
    },
    submitAdded (remarks) {
      let added_by = this.user.user_type === 'Student' ? 'S' : this.user.user_type === 'MIS' ? 'M' : this.user.user_type === 'Dean' ? 'D' : 'R'
      this.setClearItem(remarks)
      this.POST_ADD_CLASS({
        user_id: this.registrar.user_info.id,
        remarks: remarks,
        class_code: this.addClassItem.class_code,
        program_id: this.registrar.program_id,
        curriculum_id: this.registrar.curriculum_id,
        semester_id: this.registrar.semester_id,
        year_level_id: this.registrar.year_level_id,
        school_year_id: this.registrar.school_year_id,
        revison_id: this.registrar.revision_id,
        tagged: added_by,
        period: 'Adding-Dropping'
      }).then(data => {
        this.exceedingDialog = false
        this.addedDialog = false
        this.$apollo.queries.classSchedByStudent.refetch()
        this.$apollo.queries.classSchedAvailable.refetch()
      }).catch(data => {
        this.exceedingDialog = false
        this.addedDialog = false
      })
    },
    clear () {
      this.search = ''
    },
    enter (keyword) {
      this.search = keyword
    },
    exportData () {
      this.link = `${process.env.VUE_APP_URL}api/exports/pdf/adding_dropping/form/${this.registrar.user_info.id}/${this.registrar.school_year_id}/${this.registrar.semester_id}/Adding-Dropping`
    }
  }
}
</script>
