<template>
<v-container fluid>
  <v-layout wrap justify-center align-center>
    <v-flex xs12 sm11
      class="mt-5">
      <floating-card :titles="titleInfo" />
       <v-card class="my-6">
        <v-layout wrap justify-center align-center>
          <v-flex xs12
            class="mt-10">
            <v-data-table
              :headers="headersEnroll"
              :items="itemsEnroll"
              class="text-table-color font-weight-medium"
              hide-default-footer
              :loading="studentloading"
              loading-text="Loading... Please wait"
              @click:row="$event.submission_type === 'Under Assessment' ? enrollNow($event) : ''"
              fixed-header
              ref="table"
            >
              <template v-slot:item.status="{ item }">
                <v-btn
                  small
                  rounded
                  depressed
                  :color="item.status === 'Open' ? 'success' : 'error'">
                  {{ item.status }}
                </v-btn>
              </template>
              <template v-slot:item.action="{ item }">
                <v-btn
                  small
                  depressed
                  :disabled="item.submission_type === 'Pending for Submission' && item.status === 'Open' ? false : true"
                  @click="enrollNow(item)"
                  color="accent">
                  Enroll Now
                </v-btn>
              </template>
            </v-data-table>
          </v-flex>
        </v-layout>
        <v-layout wrap justify-center align-center>
          <v-flex xs12
            class="mt-10 mb-10">
            <v-data-table
              :headers="headersAdding"
              :items="itemsAdding"
              class="text-table-color font-weight-medium"
              hide-default-footer
              :loading="studentloading"
              loading-text="Loading... Please wait"
              fixed-header
              ref="table"
            >
              <template v-slot:item.status="{ item }">
                <v-btn
                  small
                  rounded
                  depressed
                  :color="item.status === 'Open' ? 'success' : 'error'">
                  {{ item.status }}
                </v-btn>
              </template>

              <template v-slot:item.adding_action="{ item }">
                <v-btn
                  width="120px"
                  color="accent"
                  small
                  depressed
                  :disabled="item.status === 'Open' ? false : true"
                  @click="addDrop(item)">
                  Add / Drop
                </v-btn>
              </template>
            </v-data-table>
          </v-flex>
        </v-layout>
       </v-card>
    </v-flex>

    <v-flex xs12 sm11
      class="mt-5">
      <floating-card :titles="titleInfo1" />
       <v-card class="my-6">
        <v-layout wrap>
          <v-flex xs12
            class="mt-10">
            <v-data-table
              :headers="headers1"
              :items="itemsHistory"
              class="text-table-color font-weight-medium"
              hide-default-footer
              :loading="historyLoading"
              loading-text="Loading... Please wait"
              fixed-header
              ref="table"
            >
            <template v-slot:item.guidance_icon="{ item }">
              <v-btn
                icon
                small
                class="accent--text text-none">
              <v-icon>{{ item.guidance_icon }}</v-icon>
            </v-btn>
            </template>
            <template v-slot:item.dean_icon="{ item }">
              <v-btn
                icon
                small
                class="accent--text text-none">
              <v-icon>{{ item.dean_icon }}</v-icon>
            </v-btn>
            </template>
            <template v-slot:item.clinic_icon="{ item }">
              <v-btn
                icon
                small
                class="accent--text text-none">
              <v-icon>{{ item.clinic_icon }}</v-icon>
            </v-btn>
            </template>
            <template v-slot:item.admission_icon="{ item }">
              <v-btn
                icon
                small
                class="accent--text text-none">
              <v-icon>{{ item.admission_icon }}</v-icon>
            </v-btn>
            </template>
            <template v-slot:item.registrar_icon="{ item }">
              <v-btn
                icon
                small
                class="accent--text text-none">
              <v-icon>{{ item.registrar_icon }}</v-icon>
            </v-btn>
            </template>
            <template v-slot:item.finance_icon="{ item }">
              <v-btn
                icon
                small
                class="accent--text text-none">
              <v-icon>{{ item.finance_icon }}</v-icon>
            </v-btn>
            </template>
            <template v-slot:item.remarks_action="{ item }">
              <v-btn
                icon
                small
                @click="openHistory(item)"
                class="blue--text text-none">
              <v-icon>info</v-icon>
            </v-btn>
            </template>
            </v-data-table>
          </v-flex>
        </v-layout>
       </v-card>
    </v-flex>

    <history-dialog
      :showDialog="historyDialog"
      @close="historyDialog = false"
      :loading="enrollHistoryLoading"
      :count="countHistory"
      :skip="skipHistory"
      :take="takeHistory"
      :items=enrollHistoryItems
      :headers="historyHeaders"
    />
    <v-snackbar
      top
      right
      v-model="isSnackbar"
      color="white"
      :timeout="timeout"
      class="caption">
      <v-card-actions 
        class="ma-0 pa-1 text-break"
        style="max-width: 500px;">
        <v-icon
          color="accent"
          size="40"
          right
        >
          warning
        </v-icon>
        <span class="pl-2 black--text">
          Please Contact MIS regarding your Program.
        </span>
      </v-card-actions>
    </v-snackbar>
  </v-layout>
</v-container>
</template>
<script type="text/javascript">
  import { CHECK_ENROLLMENT_PERIOD, STUDENT_ENROLLMENT_HISTORY } from '@/graphql/queries'
  import { mapGetters, mapMutations } from 'vuex'
  import studentQueries from '@/mixins/queries/student/studentQueries'
  import historyMixins from '@/mixins/arraylist/admin/history-list'
  export default {
    mixins: [
      studentQueries,
      historyMixins
    ],
    data: () => ({
      titleInfo: [
        {
          name: 'Enrollment Status',
          icon: 'info',
          color: 'accent',
          flex: 'xs12'
        }
      ],
      titleInfo1: [
        {
          name: 'Enrollment',
          icon: 'history',
          color: 'accent',
          flex: 'xs12'
        }
      ],
      headersEnroll: [
        {
          text: 'School Year',
          value: 'sy',
          sortable: true,
          align: 'center',
          title: '',
          name: '',
          width: '10%'
        },
        {
          text: 'Semester',
          value: 'semester',
          sortable: true,
          align: 'center',
          title: '',
          name: '',
          width: '20%'
        },
        {
          text: 'Opening of Enrollment',
          value: 'opening',
          sortable: true,
          align: 'center',
          title: '',
          name: '',
          width: '20%'
        },
        {
          text: 'Closing  of Enrollment',
          value: 'closing',
          sortable: true,
          align: 'center',
          title: '',
          name: '',
          width: '20%'
        },
        {
          text: 'Enrollment Period Status',
          value: 'status',
          sortable: true,
          align: 'center',
          title: '',
          name: '',
          width: '10%'
        },
        {
          text: 'Status',
          value: 'submission_type',
          sortable: true,
          align: 'center',
          title: '',
          width: '10%'
        },
        {
          text: 'Action',
          value: 'action',
          sortable: true,
          align: 'center',
          title: '',
          width: '10%'
        }
      ],
      headersAdding: [
        {
          text: 'School Year',
          value: 'sy',
          sortable: true,
          align: 'center',
          title: '',
          name: '',
          width: '10%'
        },
        {
          text: 'Year Level',
          value: 'year_level',
          sortable: true,
          align: 'center',
          title: '',
          name: '',
          width: '10%'
        },
        {
          text: 'Semester',
          value: 'semester',
          sortable: true,
          align: 'center',
          title: '',
          name: '',
          width: '10%'
        },
        {
          text: 'Opening of Adding/Dropping',
          value: 'opening',
          sortable: true,
          align: 'center',
          title: '',
          name: '',
          width: '20%'
        },
        {
          text: 'Closing  of Adding/Dropping',
          value: 'closing',
          sortable: true,
          align: 'center',
          title: '',
          name: '',
          width: '20%'
        },
        {
          text: 'Adding/Dropping Period Status',
          value: 'status',
          sortable: true,
          align: 'center',
          title: '',
          name: '',
          width: '10%'
        },
        {
          text: 'Action',
          value: 'adding_action',
          sortable: true,
          align: 'center',
          title: '',
          width: '20%'
        },
      ],
      headers1: [
        {
          text: 'Academic School Year',
          value: 'sy',
          sortable: true,
          align: 'center',
          title: '',
          name: ''
        },
        {
          text: 'Program',
          value: 'program',
          sortable: true,
          align: 'center',
          title: '',
          name: ''
        },
        {
          text: 'Semester',
          value: 'semester',
          sortable: true,
          align: 'center',
          title: '',
          name: ''
        },
        {
          text: 'Guidance',
          value: 'guidance_icon',
          sortable: true,
          align: 'center',
          title: '',
          name: ''
        },
        {
          text: 'Dean',
          value: 'dean_icon',
          sortable: true,
          align: 'center',
          title: '',
          name: ''
        },
        {
          text: 'Clinic',
          value: 'clinic_icon',
          sortable: true,
          align: 'center',
          title: '',
          name: ''
        },
        {
          text: 'Admission',
          value: 'admission_icon',
          sortable: true,
          align: 'center',
          title: '',
          name: ''
        },
        {
          text: 'Registrar',
          value: 'registrar_icon',
          sortable: true,
          align: 'center',
          title: '',
          name: ''
        },
        {
          text: 'Finance',
          value: 'finance_icon',
          sortable: true,
          align: 'center',
          title: '',
          name: ''
        },
        {
          text: 'Remarks',
          value: 'remarks_action',
          sortable: true,
          align: 'center',
          title: '',
          name: ''
        }
      ],
      input: {
        skip: 0,
        take: 10 
      },
      count: 0,
      itemsEnroll: [],
      itemsAdding: [],
      itemsHistory: [],
      form: [],
      skipUserQuery: false,
      loading: false,
      enrollLoading: false,
      historyLoading: false,
      studentloading: false,
      historyDialog: false,
      enrollHistoryLoading: false,
      countHistory: 0,
      skipHistory: 0,
      takeHistory: 10,
      enrollHistoryItems: [],
      isSnackbar: false,
      timeout: null
    }),
    apollo: {
      checkEnrollmentPeriod: {
        query: CHECK_ENROLLMENT_PERIOD,
        variables () {
          return {
            input: {
              user_id: this.user.id,
              program_id: this.user.program_id
            }
          }
        },
        result ({ data }) {
          if (!global._.isUndefined(data)) {
            let info = []
            let enrollData = data.checkEnrollmentPeriod.original.enroll
            if (enrollData) {
              info.push({
                curriculum_id: enrollData.id,
                ...enrollData
              })
            }
            this.itemsEnroll = info
            let enrollInfo = info.find(item => item)
            if (enrollInfo.program_id === null) {
              this.isSnackbar = true
              this.timeout = -1
            } else {
              this.isSnackbar = false
              this.timeout = null
            }
            this.setEnrollStudent(...info)
            this.setSemester(enrollInfo.semester)
            let info1 = []
            let addDropData = data.checkEnrollmentPeriod.original.add_drop
            if (addDropData) {
              info1.push({
                curriculum_id: addDropData.id,
                ...addDropData
              })
            }
            this.itemsAdding = info1
          }
        },
        watchLoading (isLoading) {
          this.studentloading = isLoading
        }
      },
      userEnrollmentHistory: {
        query: STUDENT_ENROLLMENT_HISTORY,
        variables () {
          return {
            user_id: this.user.id
          }
        },
        result ({ data }) {
          if (!global._.isUndefined(data)) {
            let history = []
            global._.forEach(data.userEnrollmentHistory, function (value) {
              history.push({
                ...value.applicant_approve,
                infos: value.applicant_remarks,
                sy: value.school_year ? `${value.school_year.school_year_from} - ${value.school_year.school_year_to}` : '',
                program: value.program ? value.program.program_code : '',
                semester: value.semester ? value.semester.semester : '',
                enrollment_status: value.submission_type,
              })
            })
            this.itemsHistory = history
          }
        },
        watchLoading (isLoading) {
          this.historyLoading = isLoading
        }
      }
    },
    computed: {
      ...mapGetters('user', ['user']),
      ...mapGetters('students', ['enroll_student'])
    },
    methods: {
    ...mapMutations('applicants', ['setSemester']),
    ...mapMutations('user', ['SET_ACTIVE', 'setStudentData']),
    ...mapMutations('students', ['setEnrollStudent']),
    ...mapMutations('form', ['setIsViewForm', 'setIsEnrollSubmit']),
      openHistory (val) {
        this.enrollHistoryItems = val.infos
        this.historyDialog = true
      },
      enrollNow (val) {
        if (val.submission_type === '' || val.submission_type === 'Pending for Submission') {
          this.SET_ACTIVE(0)
          this.$router.push({ name: 'student-application-info' })
          this.setIsViewForm(true)
          this.setIsEnrollSubmit(true)
        } else {
          this.SET_ACTIVE(0)
          this.$router.push({ name: 'student-application-info' })
          this.setIsViewForm(false)
          this.setIsEnrollSubmit(false)
        }
      },
      addDrop (val) {
        this.setStudentData(val)
        this.$router.push({ name: 'adding-dropping' })
      },
    },
    beforeRouteEnter (to, from, next) {
      next(vm => {
        vm.skipUserQuery = false
      })
    }
  }
</script>
