<template>
  <v-container fluid>
    <v-layout wrap justify-right align-right>
      <v-flex xs12 lg6
        class="mt-5">
        <file-upload
          :id="userId"
          ref="diploma"
          :hasFile="filenames.diploma !== ''"
          :file_name="filenames.diploma"
          title="Diploma"
          @change="doDiploma"
          :loading="loading"
          @clear="filenames.diploma = ''"
          @choose="filenames.diploma = ''"
        />
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import defaultMixins from '@/mixins/index'
import { GET_FILENAMES } from '@/graphql/queries'
import formMixins from '@/mixins/form.js'
export default {
  mixins: [
    defaultMixins,
    formMixins
  ],
  props: {
    userId: {
      type: [Number, String]
    }
  },
  data: () => ({
    filenames: {
      diploma: ''
    },
    loading: false,
    skipFileNamesQuery: false
  }),
  apollo: {
    requirementFileNames: {
      query: GET_FILENAMES,
      variables () {
        return {
          input: {
            id: this.userId
          }
        }
      },
      result ({ data }) {
        let self = this
        if (!global._.isUndefined(data)) {
          if (!global._.isEmpty(data.requirementFileNames)) {
            global._.forEach(data.requirementFileNames, function (value) {
              Object.keys(self.filenames).forEach(key => {
                let name = key.replace(/_/g, ' ')
                if (value.file_name === `${self.capitalLeter(name)}`) {
                  self.filenames[key] = value.file_name
                }
              })
            })
          }
        }
      },
      skip () {
        return this.skipFileNamesQuery
      },
      watchLoading (isLoading) {
        this.loading = isLoading
      }
    }
  },
  computed: {
    postApi () {
      return 'api/applicant/upload/requirement'
    }
  },
  methods: {
    close () {
      this.loading = false
      this.$apollo.queries.requirementFileNames.refetch()
    },
    doDiploma (val) {
      this.loading = true
      if (val.length > 0) {
        if (this.$refs.diploma.title) {
          val.forEach((file) => {
            if (/\.(pdf)$/i.test(file.name)) {
              const inputs = new FormData()
              inputs.append('file_upload', file)
              inputs.append('user_id', this.userId)
              inputs.append('file_name', this.$refs.diploma.title)
              inputs.append('icon', 'mdi-check-circle')
              this.saveData(inputs)
            }
          })
        }
      }
    }
  }
}
</script>
