<template>
<v-container fluid>
  <v-layout wrap justify-center align-center>
    <v-flex xs12 md11>
      <v-card flat>
        <header-component
          :isSearch="true"
          :isFilter="true"
          :isAdd="false"
          :isExport="false"
          @enter="doSearch"
          @clear="clear()"
          label="Search Student"
          hint="Enter Student"
          @reset="resetFilters()"
          :isSwitched="isSwitched"
          @openFilter="openFilter()"
          @closeFilter="closeFilter()"
          :filterItems="headers"
        />
    
        <v-card>
          <v-layout wrap justify-right align-right
            class="my-12 mx-2">
            <v-flex xs12 md4>
              <v-card-text class="subtitle-1 font-weight-medium">
                Id No:
                <span class="font-weight-regular ml-2"></span>
              </v-card-text>
            </v-flex>
            <v-flex xs12 md4>
              <v-card-text class="subtitle-1 font-weight-medium">
                Program:
                <span class="font-weight-regular ml-2"></span>
              </v-card-text>
            </v-flex>
            <v-flex xs12 md4>
              <v-card-text class="subtitle-1 font-weight-medium">
                Year Level:
                <span class="font-weight-regular ml-2"></span>
              </v-card-text>
            </v-flex>
            <v-flex xs12 md4>
              <v-card-text class="subtitle-1 font-weight-medium">
                Section:
                <span class="font-weight-regular ml-2"></span>
              </v-card-text>
            </v-flex>
            <v-flex xs12 md4>
              <v-card-text class="subtitle-1 font-weight-medium">
                Credit Units:
                <span class="font-weight-regular ml-2"></span>
              </v-card-text>
            </v-flex>
            <v-flex xs12 md4>
              <v-card-text class="subtitle-1 font-weight-medium">
                Semester:
                <span class="font-weight-regular ml-2"></span>
              </v-card-text>
            </v-flex>
            <v-flex xs12 md4>
              <v-card-text class="subtitle-1 font-weight-medium">
                Curriculum:
                <span class="font-weight-regular ml-2"></span>
              </v-card-text>
            </v-flex>
            <v-flex xs12 md4>
              <v-card-text class="subtitle-1 font-weight-medium">
                Status:
                <span class="font-weight-regular ml-2"></span>
              </v-card-text>
            </v-flex>
          </v-layout>
        </v-card>
    
        <v-layout wrap justify-center align-center>
          <v-flex xs12 class="mt-5">
            <floating-card :titles="title" />
          </v-flex>
          <v-flex xs12>
            <v-card> 
             <v-card-title class="my-5" />
             <v-flex xs12
                @scroll="onScroll"
                class="full-width-table">
              <v-data-table
                  ref="table"
                  :headers="headers"
                  :items="items"
                  :items-per-page="take"
                  class="text-table-color font-weight-medium"
                  hide-default-footer
                  :fixed-header="true"
                  :loading="loading"
                  loading-text="Loading... Please wait"
                  @click:row="editItem"
                 >
                 <template v-slot:item.status="{ item }">
                  <v-chip
                    :color="setColor(item.status)"
                    dark
                    label
                  >
                    {{ item.status }}
                  </v-chip>
                </template>
              </v-data-table>
            </v-flex>
            <v-flex xs12>
              <v-card-actions
                v-show="count > 0">
                <v-spacer />
                <small>Total of <span class="blue--text">{{ items.length }}/{{ count }} </span> <span>{{ items.length > 1 ? 'Items' : 'Item'}}</span></small>
              </v-card-actions>
            </v-flex>
           </v-card>
        </v-flex>
        </v-layout>
      </v-card>
    </v-flex>
  </v-layout>
</v-container>
</template>
<script type="text/javascript">
import { mapMutations, mapGetters } from 'vuex'
export default {
  data () {
    return {
      isSwitched: false,
      title: [
        {
          name: 'Account Balance',
          icon: 'account_balance_wallet',
          color: 'accent',
          flex: 'xs12'
        }
      ],
      loading: false,
      headers: [
        {
          text: 'Tuituion Fee',
          value: 'tuition_name',
          sortable: true,
          align: 'center',
          title: 'School Year',
          icon: 'mdi-school',
          name: 'student-balance-year-filter'
        },
        {
          text: '',
          value: 'tuition_amount',
          sortable: true,
          align: 'center',
          title: 'Semester',
          icon: 'collections_bookmark',
          name: 'student-balance-semester-filter'
        },
        {
          text: 'Total(Current) + Old Account',
          value: 'account_name',
          sortable: true,
          align: 'center'
        },
        {
          text: '',
          value: 'account',
          sortable: true,
          align: 'center'
        }
      ],
      skip: 0,
      take: 10,
      maxData: 0,
      insetSkip: 0,
      count: 0,
      items: []
    }
  },
  computed: {
    ...mapGetters('filters', ['search']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        return this.SET_SEARCH(value)
      }
    }
  },
  methods: {
    ...mapMutations('filters', ['RESET_FILTERS', 'SET_SEARCH']),
    resetFilters () {
      this.RESET_FILTERS()
      this.clear()
    },
    clear () {
      this.setSearch = ''
    },
    doSearch (val) {
      this.setSearch = val
    },
    openFilter () {
      this.isSwitched = true
    },
    closeFilter () {
      this.isSwitched = false
    },
    onScroll (e) {
      const tableHeight = (this.$refs.table.$el.offsetHeight) - (e.srcElement.offsetHeight + 50)
      if (e.srcElement.scrollTop > tableHeight && !this.loading) {
        this.loading = true
        this.take++
        // this.$apollo.queries.roomsFilterFetch.refetch()
      } else {
        this.take--
        // this.$apollo.queries.roomsFilterFetch.refetch()
      }
    },
    editItem (val) {
      console.log(val)
    }
  }
}
</script>
