<template>
<v-container fluid>
  <v-layout wrap justify-center align-center>
    <v-flex xs12 md11>
      <v-card flat>
        <header-component
          :isSearch="true"
          :isFilter="true"
          :isAdd="false"
          :isExport="true"
          @enter="doSearch"
          @clear="clear()"
          label="Search Course"
          hint="Enter Course"
          @reset="resetFilters()"
          :isSwitched="isSwitched"
          @openFilter="openFilter()"
          @closeFilter="closeFilter()"
          :filterItems="headers"
        />

        <v-layout wrap>
          <v-flex xs12>
            <floating-card :titles="title" />
          </v-flex>
          <v-flex xs12>
            <v-card>
              <v-card-title class="my-5" />
              <v-flex xs12
                class="full-width-table"
                @scroll="onScroll">
                <v-data-table
                  ref="table"
                  :headers="headers"
                  :items="items"
                  :items-per-page="take"
                  hide-default-footer
                  :loading="loading"
                  loading-text="Loading... Please wait"
                  >
                  <template v-slot:body.append>
                    <tr 
                      v-show="$vuetify.breakpoint.smAndUp">
                      <td
                        class="text-center"
                        v-for="(item, index) in headers"
                        :key="index"
                      >
                        <span
                          v-if="item.total">{{ item.total_title }}</span>
                        <span
                          class="center"
                          v-else-if="item.total_data">
                          {{ total_units }}
                        </span>
                        <span
                          class="center"
                          v-else-if="item.other_total_data">
                          {{ other_total }}
                        </span>
                        <span v-else></span>
                      </td>
                    </tr>
                  </template>
                  <template v-slot:footer>
                    <v-layout wrap>
                      <v-flex xs12 md4
                        class="ma-0 pa-0">
                        <v-list>
                          <strong class="mx-2 font-weight-medium">Legends:</strong>
                          <v-list-item
                            v-for="(item, i) in legends"
                            :key="i"
                          >
                            <v-list-item-icon>
                              <v-card
                                dark
                                flat
                                width="100px"
                                class="text-center body-2 pa-1 my-0 card-border"
                                :color="item.color"
                              >{{ item.text }}
                              </v-card>
                            </v-list-item-icon>
                            <v-list-item-content>
                              <v-list-item-title v-text="item.text"></v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                        </v-list>
                      </v-flex>
                    </v-layout>
                  </template>
                </v-data-table>
              </v-flex>
            </v-card>
          </v-flex>
        </v-layout>
      </v-card>
    </v-flex>
  </v-layout>
</v-container>
</template>
<script type="text/javascript">
import { mapGetters, mapMutations } from 'vuex'
import { GET_MY_GRADES } from '@/graphql/admin/queries'
export default {
  data () {
    return {
      isSwitched: false,
      headers: [
        {
          text: 'Course',
          value: 'course',
          sortable: true,
          align: 'center',
          title: 'School Year',
          icon: 'mdi-school',
          name: 'student-grade-year-filter'
        },
        {
          text: 'Description',
          value: 'description',
          sortable: true,
          align: 'center',
          title: 'Semester',
          icon: 'collections_bookmark',
          name: 'student-grade-semester-filter'
        },
        {
          text: 'Prelim',
          value: 'prelim',
          sortable: true,
          align: 'center'
        },
        {
          text: 'Midterm',
          value: 'midterm',
          sortable: true,
          align: 'center'
        },
        {
          text: 'Semi Finals',
          value: 'semi_finals',
          sortable: true,
          align: 'center'
        },
        {
          text: 'Finals',
          value: 'finals',
          sortable: true,
          align: 'center',
          total: true,
          total_title: 'General Average:'
        },
        {
          text: 'Unit',
          value: 'unit',
          sortable: true,
          align: 'center'
        },
        {
          text: 'GWA',
          value: 'gwa',
          sortable: true,
          align: 'center',
          total_data: true
        },
        {
          text: 'EQV',
          value: 'equivalent',
          sortable: true,
          align: 'center',
          other_total_data: true
        },
        {
          text: 'Remarks',
          value: 'remarks',
          sortable: true,
          align: 'center'
        }
      ],
      legends: [
        {
          color: 'green',
          text: 'Passed'
        },
        {
          color: 'accent',
          text: 'No Grade'
        },
        {
          color: 'red',
          text: 'Failed'
        },
        {
          color: 'purple darken-3',
          text: 'Dropped'
        }
      ],
      skip: 0,
      take: 10,
      title: [
        {
          name: 'My Grades',
          icon: 'grade',
          color: 'accent',
          flex: 'xs12'
        }
      ],
      loading: false,
      count: 0,
      items: [],
      total_units: 0,
      other_total: 0
    }
  },
  computed: {
    ...mapGetters('filters', ['search', 'academic_year_id', 'semester_id']),
    ...mapGetters('user', ['user']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        return this.SET_SEARCH(value)
      }
    }
  },
  mounted () {
    this.fetchData()
  },
  methods: {
    ...mapMutations('filters', ['RESET_FILTERS', 'SET_SEARCH']),
    totalUnits (items) {
      let total = global._.reduce(global._.mapValues(items, function (o) { return o.units }), function (sum, num) {
       return Number(sum) + Number(num)
      })
      return total
    },
    resetFilters () {
      this.RESET_FILTERS()
      this.clear()
    },
    clear () {
      this.setSearch = ''
    },
    doSearch (val) {
      this.setSearch = val
    },
    openFilter () {
      this.isSwitched = true
    },
    closeFilter () {
      this.isSwitched = false
    },
    fetchData () {
      if (!global._.isNull(this.user.id) && !global._.isNull(this.academic_year_id) && !global._.isNull(this.semester_id)) {
        this.$apollo.query({
          query: GET_MY_GRADES,
          variables: {
            skip: 0,
            take: this.take,
            student_id: this.user.id,
            school_year_id: this.academic_year_id,
            semester_id: Number(this.semester_id)
          }
        }).then(({ data, loading }) => {
          // this.isLoading = loading
          console.log(data)
        })
        .catch(error => {
          if (error.graphQLErrors) {
            console.log('graphQLErrors:', error.graphQLErrors)
          }
          if (error.networkError) {
            console.log('networkError:', error.networkError)
          }
          if (error.ServerError) {
            console.log('ServerError:', error.ServerError)
          }
        })
      }
    },
    onScroll (e) {
      const tableHeight = (this.$refs.table.$el.offsetHeight) - (e.srcElement.offsetHeight + 50)
      if (e.srcElement.scrollTop > tableHeight && !this.loading) {
        this.loading = false
        this.take++
        // this.$apollo.queries.userFilterFetch.refetch()
      } else {
        this.take--
        // this.$apollo.queries.userFilterFetch.refetch()
      }
    },
    Item (val) {
      console.log(val)
    }
  }
}
</script>
