<template>
<v-container fluid>
  <v-layout wrap justify-center align-center>
    <v-flex xs12 md11>
      <v-card flat>
        <header-component
          :isSearch="true"
          :isFilter="true"
          :isAdd="false"
          :isExport="false"
          @enter="doSearch"
          @clear="clear()"
          label="Search"
          hint="Enter Student"
          @reset="resetFilters()"
          :isSwitched="isSwitched"
          @openFilter="openFilter()"
          @closeFilter="closeFilter()"
          :filterItems="headers"
        />

        <v-card>
          <v-layout wrap justify-right align-right
            class="my-12 mx-2">
            <v-flex xs12 md4>
              <v-card-text class="subtitle-1 font-weight-medium">
                Program:
                <span class="font-weight-regular ml-2 accent--text"> {{ studentInfo.program }}</span>
              </v-card-text>
            </v-flex>
            <v-flex xs12 md4>
              <v-card-text class="subtitle-1 font-weight-medium">
                Year Level:
                <span class="font-weight-regular ml-2 accent--text"> {{ studentInfo.year_level }}</span>
              </v-card-text>
            </v-flex>
            <v-flex xs12 md4>
              <v-card-text class="subtitle-1 font-weight-medium">
                Section:
                <span class="font-weight-regular ml-2 accent--text"> {{ studentInfo.section }}</span>
              </v-card-text>
            </v-flex>
            <v-flex xs12 md4>
              <v-card-text class="subtitle-1 font-weight-medium">
                Credit Units:
                <span class="font-weight-regular ml-2 accent--text">{{ studentInfo.credit_units }}</span>
              </v-card-text>
            </v-flex>
            <v-flex xs12 md4>
              <v-card-text class="subtitle-1 font-weight-medium">
                Semester:
                <span class="font-weight-regular ml-2 accent--text"> {{ studentInfo.semester }}</span>
              </v-card-text>
            </v-flex>
            <!-- <v-flex xs12 md4>
              <v-card-text class="subtitle-1 font-weight-medium">
                Curriculum:
                <span class="font-weight-regular ml-2 accent--text"> {{ studentInfo.curriculum }}</span>
              </v-card-text>
            </v-flex> -->
            <v-flex xs12 md4>
              <v-card-text class="subtitle-1 font-weight-medium">
                Status:
                <span class="font-weight-regular ml-2 accent--text"> {{ studentInfo.status }}</span>
              </v-card-text>
            </v-flex>
          </v-layout>
        </v-card>

         <floating-card :titles="titleInfo" />
         <v-card class="my-8">
          <v-card-title class="my-5" />
            <v-layout wrap>
              <v-flex xs12>
                <v-data-table
                  :headers="headers"
                  :items="items"
                  :page.sync="page"
                  :items-per-page="itemsPerPage"
                  @page-count="pageCount = $event"
                  hide-default-footer
                  :options.sync="options"
                  :server-items-length="count"
                  hide-default-footer
                  :loading="loading"
                  loading-text="Loading... Please wait"
                  fixed-header
                  ref="table"
                >
                <template v-slot:body="{ items }">
                  <tbody>
                    <tr v-for="item in items" :key="item.name"
                      >
                      </td>
                      <td class="text-center">
                        {{ item.class_code }}
                      </td>
                      <td class="text-center">
                        {{ item.program_code }}
                      </td>
                      <td class="text-center">
                        {{ item.course_code }}
                      </td>
                     <!--  <td class="text-center">
                        {{ item.section }}
                      </td> -->
                      <td class="text-center"
                        v-if="item.section">
                        <tr v-for="(sectionItem, sectionIndex) in item.section" :key="sectionIndex">
                          <td class="text-center">
                            <v-chip
                              label
                              class="ma-1"
                            >{{ sectionItem }}</v-chip>
                          </td>
                        </tr>
                      </td>
                      <td class="text-center">
                        {{ item.lec_hours }}
                      </td>
                      <td class="text-center"
                        v-if="item.lec_days">
                        <tr v-for="(daysItem, daysIndex) in item.lec_days" :key="daysIndex">
                          <td class="text-center">
                            {{ daysItem }}
                          </td>
                        </tr>
                      </td>
                      <!-- <td class="text-center"
                        v-if="item.lec_time">
                        <tr v-for="(timeItem, timeIndex) in item.lec_time" :key="timeIndex">
                          <td class="text-center">
                            {{ timeItem }}
                          </td>
                        </tr>
                      </td> -->
                      <td class="text-center"
                        v-if="item.lec_time">
                        <tr v-for="(timeItem, timeIndex) in item.lec_time" :key="timeIndex">
                          <td class="text-center">
                            <v-chip
                              label
                              class="ma-1"
                            >{{ timeItem }}</v-chip>
                          </td>
                        </tr>
                      </td>
                      <td class="text-center"
                        v-if="item.lec_room">
                        <tr v-for="(roomItem, roomIndex) in item.lec_room" :key="roomIndex">
                          <td class="text-center">
                            {{ roomItem }}
                          </td>
                        </tr>
                      </td>
                      <td class="text-center"
                        v-if="item.lec_room">
                        <tr v-for="(lecInstructorItem, lecInstructorIndex) in item.lec_instructor" :key="lecInstructorIndex">
                          <td class="text-center">
                            {{ lecInstructorItem }}
                          </td>
                        </tr>
                      </td>
                      <td class="text-center">
                        {{ item.lab_hours }}
                      </td>
                      <td class="text-center"
                        v-if="item.lab_days">
                        <tr v-for="(labDaysItem, labDaysIndex) in item.lab_days" :key="labDaysIndex">
                          <td class="text-center">
                            {{ labDaysItem }}
                          </td>
                        </tr>
                      </td>
                      <td class="text-center"
                      v-if="item.lab_time">
                      <tr v-for="(labTimeItem, labTimeIndex) in item.lab_time" :key="labTimeIndex">
                        <td class="text-center">
                          <v-chip
                            label
                            class="ma-1"
                          >{{ labTimeItem }}</v-chip>
                        </td>
                      </tr>
                    </td>
                     <!--  <td class="text-center"
                        v-if="item.lab_time">
                        <tr v-for="(labTimeItem, labTimeIndex) in item.lab_time" :key="labTimeIndex">
                          <td class="text-center">
                            {{ labTimeItem }}
                          </td>
                        </tr>
                      </td> -->
                      <td class="text-center"
                        v-if="item.lab_room">
                        <tr v-for="(labRoomItem, labRoomIndex) in item.lab_room" :key="labRoomIndex">
                          <td class="text-center">
                            {{ labRoomItem }}
                          </td>
                        </tr>
                      </td>
                      <td class="text-center"
                        v-if="item.lec_room">
                        <tr v-for="(labInstructorItem, labInstructorIndex) in item.lab_instructor" :key="labInstructorIndex">
                          <td class="text-center">
                            {{ labInstructorItem }}
                          </td>
                        </tr>
                      </td>
                    </tr>
                  </tbody>
                </template>
                </v-data-table>
              </v-flex>
              <v-flex xs12 class="text-center pt-3 pb-0">
                <v-pagination
                  v-show="pageCount > 1"
                  v-model="page"
                  :length="pageCount"
                  :total-visible="10"
                ></v-pagination>
              </v-flex>
              <v-flex xs12>
                <v-card-actions>
                  <v-spacer />
                  <small>Total of <span class="blue--text">{{ count }} </span> <span>{{ items.length > 1 ? 'Items' : 'Item'}}</span></small>
                </v-card-actions>
              </v-flex>
            </v-layout>
         </v-card>
      </v-card>
    </v-flex>
  </v-layout>
</v-container>
</template>
<script type="text/javascript">
import { mapGetters, mapMutations } from 'vuex'
import defaultMixins from '@/mixins/index'
import { GET_STUDENT_CLASS_SCHEDULE } from '@/graphql/admin/queries'
export default {
  mixins: [
    defaultMixins
  ],
  data () {
    return {
      isSwitched: false,
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      loading: false,
      titleInfo: [
        {
          name: 'Class Schedule',
          icon: 'turned_in',
          color: 'accent',
          flex: 'xs12'
        }
      ],
      headers: [
        {
          text: 'Class Code',
          align: 'center',
          sortable: false,
          value: 'class_code',
          title: 'Academic Year',
          icon: 'mdi-school',
          name: 'student-class-year-filter',
          field: ''
        },
        {
          text: 'Program',
          align: 'center',
          sortable: false,
          value: 'program_code'
        },
        {
          text: 'Course',
          align: 'center',
          sortable: false,
          value: 'course_code'
        },
        {
          text: 'Section',
          align: 'center',
          sortable: false,
          value: 'section',
          title: 'Semester',
          icon: 'collections_bookmark',
          name: 'student-class-semester-filter',
          field: ''
        },
        {
          text: 'Lec/HR',
          align: 'center',
          sortable: false,
          value: 'lec_hours'
        },
        {
          text: 'Lec/Days',
          align: 'center',
          sortable: false,
          value: 'lec_days'
        },
        {
          text: 'Lec/Time',
          align: 'center',
          sortable: false,
          value: 'lec_time'
        },
        {
          text: 'Lec/Room',
          align: 'center',
          sortable: false,
          value: 'lec_room'
        },
        {
          text: 'Lec/Instructor',
          align: 'center',
          sortable: false,
          value: 'lec_instructor'
        },
        {
          text: 'Lab/HR',
          align: 'center',
          sortable: false,
          value: 'lab_hours'
        },
        {
          text: 'Lab/Days',
          align: 'center',
          sortable: false,
          value: 'lab_days'
        },
        {
          text: 'Lab/Time',
          align: 'center',
          sortable: false,
          value: 'lab_time'
        },
        {
          text: 'Lab/Room',
          align: 'center',
          sortable: false,
          value: 'lab_room'
        },
        {
          text: 'Instructor',
          align: 'center',
          sortable: false,
          value: 'lab_instructor'
        }
      ],
      skip: 0,
      take: 10,
      count: 0,
      items: [],
      studentInfo: {
        id_number: '',
        program: '',
        year_level: '',
        section: '',
        credit_units: '',
        semester: '',
        curriculum: '',
        status: ''
      },
      options: {},
      currPage: null,
      prevPage: null,
      skipItems: null,
      takeItems: null
    }
  },
  computed: {
    ...mapGetters('filters', ['position', 'search', 'academic_year_id', 'program_id', 'year_level_id', 'semester_id', 'status', 'class_code']),
    ...mapGetters('user', ['user']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        return this.SET_SEARCH(value)
      }
    }
  },
  watch: {
    options: {
      handler (old, newx) {
        this.skipItems = global._.isUndefined(newx.itemsPerPage) ? 0 : newx.itemsPerPage
        this.takeItems = old.itemsPerPage
        this.prevPage = global._.isUndefined(newx.page) ? 0 : newx.page
        this.currPage = old.page
        let skip = this.sortSkipped(this.skipItems, this.currPage, old.itemsPerPage)
        let take = old.itemsPerPage
        this.skip = skip
        this.take = take
        this.$apollo.queries.studentClassSchedule.refetch()
      },
      deep: true
    },
    semester_id (val) {
      this.page = 1
      this.$apollo.queries.studentClassSchedule.refetch()
    },
    academic_year_id (val) {
      this.page = 1
      this.$apollo.queries.studentClassSchedule.refetch()
    }
  },
  apollo: {
    studentClassSchedule: {
      query: GET_STUDENT_CLASS_SCHEDULE,
      variables () {
        return {
          input: {
            user_id: this.user ? this.user.id : null,
            school_year_id: !this.academic_year_id ? null : Number(this.academic_year_id),
            semester_id: !this.semester_id ? null : Number(this.semester_id),
            skip: this.skip,
            take: this.take
          }
        }
      },
      result ({ data }) {
        if (!global._.isUndefined(data)) {
          this.studentInfo = data.studentClassSchedule.studentInfo
          let items = []
          this.count = data.studentClassSchedule.total_schedules
          global._.forEach(data.studentClassSchedule.schedules, function (val, key) {
            let sortItem = global._.omit(val, 'section_id')
            let sortLecTime = val.lec_schedules_sorted.map(item => {
              return `${item.time_from_meridian} - ${item.time_to_meridian}`
            })
            let sortLabTime = val.lab_schedules_sorted.map(item => {
              return `${item.time_from_meridian} - ${item.time_to_meridian}`
            })
            const sectionLec = val.lec_schedules_sorted.map((item, idx) => {
              if (item.section) return item.section.section
            })
            // const sectionLec = val.lec_schedules_sorted.map((item, idx) => {
            //   let sections = item.section.map(item => item.section.section)
            //   if (item.section) return sections
            //   return '  '
            // })
            const sectionLab = val.lab_schedules_sorted.map((item, idx) => {
              if (item.section) return item.section.section
            })
            // const sectionLab = val.lab_schedules_sorted.map((item, idx) => {
            //   let sections = item.section.map(item => item.section.section)
            //   if (item.section) return sections
            //   return ''
            // })
            const daysLab = val.lab_schedules_sorted.map(item => item.day)
            const daysLec = val.lec_schedules_sorted.map(item => item.day)
            const roomLec = val.lec_schedules_sorted.map(item => {
              if (item.room) return item.room.number
              return ''
            })
            const roomLab = val.lab_schedules_sorted.map(item => {
              if (item.room) return item.room.number
              return ''
            })
            const instructorLab = val.lab_schedules_sorted.map(item => item.teacher_fullname)
            const instructorLec = val.lec_schedules_sorted.map(item => item.teacher_fullname)
            items.push({
              ...sortItem,
              section_id: global._.compact(global._.uniq(val.section_id)),
              class_code: val.class_code,
              course_code: global._.isNull(val.course) ? '' : val.course.course_code,
              course_id: val.course ? val.course.id : null,
              year_level_id: val.year_level_id,
              semester_id: val.semester_id,
              no_data: '',
              curriculum_id: val.curriculum_id,
              program_id: val.program_id,
              section: Number(val.lec_hours) !== 0 ? global._.uniq(global._.flatten(sectionLec)) : global._.uniq(global._.flatten(sectionLab)),
              program_code: global._.isNull(val.program) ? '' : val.program.program_code,
              lec_time: global._.uniq(sortLecTime),
              lab_time: global._.uniq(sortLabTime),
              lec_days: global._.uniq(daysLec),
              lab_days: global._.uniq(daysLab),
              lec_room: global._.uniq(roomLec),
              lab_room: global._.uniq(roomLab),
              lec_instructor: global._.uniq(instructorLec),
              lab_instructor: global._.uniq(instructorLab),
              type: global._.isEmpty(val.lab_schedules) && global._.isEmpty(val.lec_schedules) ? 'OJT' : 'Lec/Lab'
            })
          })
          this.items = items
        }
      },
      watchLoading (isLoading) {
        this.loading = isLoading
      },
      skip () {
        return !this.user.id
      },
      error ({ graphQLErrors, networkError, ServerError }) {
        if (graphQLErrors) {
          console.log('graphQLErrors:', graphQLErrors)
        }
        if (networkError) {
          console.log('networkError:', networkError)
        }
        if (ServerError) {
          console.log('ServerError:', ServerError)
        }
      }
    }
  },
  methods: {
    ...mapMutations('filters', ['RESET_FILTERS', 'SET_SEARCH']),
    resetFilters () {
      this.RESET_FILTERS()
      this.clear()
    },
    clear () {
      this.setSearch = ''
    },
    doSearch (val) {
      this.setSearch = val
    },
    openFilter () {
      this.isSwitched = true
    },
    closeFilter () {
      this.isSwitched = false
    },
    onScroll (e) {
      const tableHeight = (this.$refs.table.$el.offsetHeight) - (e.srcElement.offsetHeight + 50)
      if (e.srcElement.scrollTop > tableHeight && !this.loading) {
        this.loading = true
        this.take++
        this.$apollo.queries.studentClassSchedule.refetch()
      } else {
        this.take--
        this.$apollo.queries.studentClassSchedule.refetch()
      }
    }
  }
}
</script>
