<template>
  <v-container fluid class="mt-0 pt-0">
    <v-layout wrap justify-center align-center>
      <v-flex xs12 md11>
        <students-table />
      </v-flex>
    </v-layout>

  </v-container>
</template>
<script>
import StudentsTable from './StudentsTable'
export default {
  components: {
    StudentsTable
  }
}
</script>
