<template>
<v-card flat>
  <v-layout wrap>
    <v-flex xs12 md4 lg3>
      <steps
        @save="dialog = true"
        CardStyle="subtitle-1"
        :title="title"
        :enrollmentItems="enrollmentItems"
        :isSubmit="true"
        :active="active"
        :isEnabled="isEnrollSubmit"
        :disabled="disabled"
      />
    </v-flex>

    <v-flex xs12 md8 lg9>
      <v-container fluid>
        <v-card tile flat
          v-scroll="onScroll"
          class="mx-2 mt-2 transparent">
          <v-slide-y-transition mode="out-in">
            <router-view/>
          </v-slide-y-transition>
        </v-card>
      </v-container>
    </v-flex>
  </v-layout>

  <terms-dialog
    :loading="enrollLoading"
    :showDialog="dialog"
    @close="dialog = false"
    @accept="accept()"
  />

  <scroll-btn
    v-show="offsetTop > 1"
    @scrollPage="getTopPage()"
    icon="mdi-chevron-up"
    color="accent"
  />
</v-card>
</template>
<script>
import defaultMixins from '@/mixins/index'
import { mapGetters, mapActions } from 'vuex'
export default {
  mixins: [
    defaultMixins
  ],
  data: () => ({
    offsetTop: 0,
    enrollmentItems: [
      {
        name: 'student-application-info',
        title: 'Application Information',
        icon: 'mdi-close-circle'
      },
      {
        name: 'student-personal-info',
        title: 'Personal Information',
        icon: 'mdi-close-circle'
      },
      {
        name: 'student-educational-info',
        title: 'Educational Information',
        icon: 'mdi-close-circle'
      },
      {
        name: 'student-family-info',
        title: 'Family Information',
        icon: 'mdi-close-circle'
      },
      {
        name: 'student-requirements',
        title: 'Requirements',
        icon: 'mdi-close-circle'
      },
      {
        name: 'student-courses',
        title: 'Courses',
        icon: 'mdi-close-circle'
      },
      {
        name: 'student-payment',
        title: 'Payment',
        icon: 'mdi-close-circle'
      }
    ],
    dialog: false,
    disabled: false,
    enrollLoading: false
  }),
  computed: {
    ...mapGetters('students', ['enroll_student']),
    ...mapGetters('user', ['user', 'active']),
    ...mapGetters('form', ['student_icons', 'isEnrollSubmit']),
    title () {
      return 'ENROLLMENT FORM'
    }
  },
  watch: {
    disabled (val) {
      return val
    },
    'student_icons.student_application_info': function (val) {
      this.fetchIcons()
    },
    'student_icons.student_personal_info': function (val) {
      this.fetchIcons()
    },
    'student_icons.student_educational_info': function (val) {
      this.fetchIcons()
    },
    'student_icons.student_family_info': function (val) {
      this.fetchIcons()
    },
    'student_icons.student_requirements': function (val) {
      this.fetchIcons()
    },
    'student_icons.student_courses': function (val) {
      this.fetchIcons()
    }
  },
  mounted () {
    this.fetchIcons()
  },
  methods: {
    ...mapActions('students', ['ENROLL_STUDENT']),
    onScroll (e) {
      this.offsetTop = window.pageYOffset || document.documentElement.scrollTop
    },
    accept () {
      let payload = {
        user_id: this.user.id,
        semester_id: this.enroll_student.semester_id,
        program_id: this.enroll_student.program_id,
        year_level_id: this.enroll_student.year_level === 'First Year' ? 1 : this.enroll_student.year_level === 'Second Year' ? 2 : this.enroll_student.year_level === 'Third Year' ? 3 : this.enroll_student.year_level === 'Fourth Year' ? 4 : 5,
        school_year_id: this.enroll_student.school_year_id
      }
      this.enrollLoading = true
      this.ENROLL_STUDENT(payload).then(data => {
        this.dialog = false
        this.enrollLoading = false
        this.$router.push({ name: 'student-enroll-online' })
      })
    },
    fetchIcons () {
      this.enrollmentItems.filter(item => {
        for (const [key, value] of Object.entries(this.student_icons)) {
          let name = key.replace(/_/g, '-')
          if (item.name === `${name}`) {
            item.icon = `${value}`
            if (`${value}` === '') {
              item.icon = 'mdi-close-circle'
            }
          }
        }
      })
      const count = this.enrollmentItems.filter(item => item.icon === 'mdi-check-circle')
      if (count.length === this.enrollmentItems.length) {
        this.disabled = false
      } else {
        this.disabled = true
      }
    }
  }
}
</script>
