<template>
<v-card flat>
  <header-component
    :isSearch="true"
    :isFilter="true"
    :isAdd="userType === 8"
    :isExport="userType === 8 || userType === 9"
    :isDisabled="false"
    @enter="doSearch"
    label="Search Student"
    btnTitle="Add Student"
    hint="Enter Student"
    @clickDialog="$emit('add')"
    @clear="clear()"
    :isSwitched="isSwitched"
    @reset="resetFilters()"
    @openFilter="openFilter()"
    @closeFilter="closeFilter()"
    :filterItems="headers"
    :link="link"
    @pdf="exportPdf()"
    @excel="exportExcel()"
    @word="exportWord()"
  />
   <floating-card :titles="titleInfo" />
   <v-card class="my-8">
    <v-card-title class="my-5" />
     <v-layout wrap>
       <v-flex xs12>
         <v-data-table
          :headers="headers"
          :items="items"
          :page.sync="page"
          :items-per-page="itemsPerPage"
          @page-count="pageCount = $event"
          class="text-table-color font-weight-medium"
          hide-default-footer
          :loading="loading"
          :options.sync="options"
          loading-text="Loading... Please wait"
          @click:row="editItem($event)"
          fixed-header
          ref="table"
          :server-items-length="count">
        </v-data-table>
       </v-flex>
        <v-flex xs12 class="text-center pt-3 pb-0">
          <v-pagination
            v-show="pageCount > 1"
            v-model="page"
            :length="pageCount"
            :total-visible="10"
          ></v-pagination>
        </v-flex>
       <v-flex xs12>
        <v-card-actions
          v-show="count > 0">
          <v-spacer />
          <small>Total of <span class="blue--text">{{ count }} </span> <span>{{ items.length > 1 ? 'Items' : 'Item'}}</span></small>
        </v-card-actions>
       </v-flex>
     </v-layout>
   </v-card>

  <v-snackbar
    top
    right
    v-model="isSnackbar"
    :color="color"
    class="caption">
    <v-card-actions class="ma-0 pa-0">
      {{ text }}
      <v-spacer />
      <v-btn
        color="white"
        text
        icon
        right
        @click="isSnackbar = false"
        class="caption">
        <v-icon>clear</v-icon>
      </v-btn>
    </v-card-actions>
  </v-snackbar>
</v-card>
</template>
<script>
import formMixins from '@/mixins/form.js'
import defaultMixins from '@/mixins/index'
import { GET_STUDENT_FILTERED } from '@/graphql/queries'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    defaultMixins,
    formMixins
  ],
  props: {
    headers: {
      type: [Array, Object]
    }
  },
  data: () => ({
    loading: false,
    link: '',
    isSwitched: false,
    titleInfo: [
      {
        name: 'Students',
        icon: 'school',
        color: 'accent',
        flex: 'xs12'
      }
    ],
    items: [],
    isSnackbar: false,
    color: '',
    text: '',
    skip: 0,
    take: 10,
    count: 0,
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    skipItems: null,
    takeItems: null,
    currPage: null,
    prevPage: null,
    options: {}
  }),
  computed: {
    ...mapGetters('filters', ['program_id', 'academic_year_id', 'year_level_id', 'semester_id', 'status', 'search']),
    ...mapGetters('user', ['user']),
    ...mapGetters('students', ['refetchedData']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        return this.SET_SEARCH(value)
      }
    }
  },
  watch: {
    program_id (val) {
      this.getStudents(this.skip,this.take)
    },
    academic_year_id (val) {
      this.getStudents(this.skip,this.take)
    },
    year_level_id (val) {
      this.getStudents(this.skip,this.take)
    },
    semester_id (val) {
      this.getStudents(this.skip,this.take)
    },
    status (val) {
      this.getStudents(this.skip,this.take)
    },
    setSearch (val) {
      this.getStudents(this.skip,this.take)
    },
    refetchedData (val) {
      if (!global._.isUndefined(val)) {
        if (val.enroll) {
          this.snackbar('Student added Successfully !', 'success')
        }
      }
      this.$apollo.queries.studentWithFilterMIS.refetch()
    },
    options: {
      handler (old, newx) {
        this.skipItems = global._.isUndefined(newx.itemsPerPage) ? 0 : newx.itemsPerPage
        this.takeItems = old.itemsPerPage
        this.prevPage = global._.isUndefined(newx.page) ? 0 : newx.page
        this.currPage = old.page
        let skip = this.sortSkipped(this.skipItems, this.currPage, old.itemsPerPage)
        let take = old.itemsPerPage
        this.loading = true
        this.getStudents(skip,take)
      },
      deep: true
    }
  },
  methods: {
    ...mapMutations('filters', ['RESET_FILTERS', 'SET_SEARCH']),
    resetFilters () {
      this.RESET_FILTERS()
      this.clear()
    },
    clear () {
      this.setSearch = ''
    },
    doSearch (val) {
      this.setSearch = val
      this.getStudents(this.skip,this.take)
    },
    openFilter () {
      this.isSwitched = true
    },
    closeFilter () {
      this.isSwitched = false
    },
    editItem (val) {
      this.$emit('rowClicked', val)
    },
    getStudents (skip,take) {
      this.$apollo.query({
        query: GET_STUDENT_FILTERED,
        variables: {
          input: {
            program_id: global._.isUndefined(this.program_id) ? '' : this.program_id,
            school_year_id: global._.isUndefined(this.academic_year_id) ? '' : this.academic_year_id,
            year_level_id: global._.isUndefined(this.year_level_id) ? '' : this.year_level_id,
            semester_id: global._.isUndefined(this.semester_id) ? '' : this.semester_id,
            status: global._.isUndefined(this.status) ? '' : this.status,
            skip: skip,
            take: take,
            keyword:  global._.isEmpty(this.setSearch) ? '' : this.setSearch
          }
        }
      }).then(({ data, loading }) => {
        this.loading = loading
        let items = []
        if (!global._.isUndefined(data)) {
          let self = this
          const students = []
          this.count = Number(data.studentWithFilterMIS.count)
          global._.forEach(data.studentWithFilterMIS.students, function (value) {
            const sortItems = global._.omit(value, 'user_id', 'student_info')
            const sortStudentItems = global._.omit(value.student_info, 'student_user')
            const sortUserItem = global._.omit(value.student_info.student_user, 'birth_date')
            sortUserItem.birth_date = self.formatDate(value.student_info.student_user.birth_date)
            const firstname = value.student_info.student_user.first_name ? self.textCapitalize(value.student_info.student_user.first_name) : ''
            const lastname = value.student_info.student_user.last_name ? self.textCapitalize(value.student_info.student_user.last_name) : ''
            const middlename = value.student_info.student_user.middle_name ? self.initialLetter(value.student_info.student_user.middle_name) : ''
            const extension = value.student_info.student_user.name_extension && global._.lowerCase(value.student_info.student_user.name_extension) !== 'n a' ? self.initialLetter(value.student_info.student_user.name_extension) : ''
            students.push({
              ...sortItems,
              ...sortStudentItems,
              ...sortUserItem,
              student_id: value.id,
              student_user: sortUserItem,
              scheme: value.curriculum ? value.curriculum.scheme : null,
              section: value.section ? value.section.section : '',
              student_id_number: global._.isEmpty(value.student_info) ? '' : value.student_info.student_id_number,
              name: global._.isEmpty(value.student_info) ? '' : global._.isEmpty(value.student_info.student_user) ? '' : `${lastname}, ${firstname} ${middlename} ${extension}`,
              program_code: global._.isEmpty(value.program) ? '' : value.program.program_code,
              year_level: global._.isEmpty(value.yearlevel) ? '' : value.yearlevel.year_level,
              status: value.student_info ? value.student_info.status : '',
              semester: global._.isEmpty(value.semester) ? '' : value.semester.semester,
              semester_id: value.semester_id,
              program_id: value.program_id,
              school_year: !global._.isNull(value.school_year) ? `${value.school_year.school_year_from} - ${value.school_year.school_year_to}` : '',
              school_year_id: value.school_year_id,
              user_info: { id: value.user_id },
              user_status: value.status,
              applicant_status: global._.isEmpty(value.student_info) ? '' : value.student_info.isTransferee === 'No' ? 'Freshman' : 'Transferee'
            })
          })
          this.items = students
        }
      })
      .catch(error => {
        if (error.graphQLErrors) {
          console.log('graphQLErrors:', error.graphQLErrors)
        }
        if (error.networkError) {
          console.log('networkError:', error.networkError)
        }
        if (error.ServerError) {
          console.log('ServerError:', error.ServerError)
        }
      })
    },
    exportPdf () {
      let school_year_id = !this.academic_year_id ? 'All' : this.academic_year_id
      let program_id = !this.program_id ? 'All' : this.program_id
      let semester_id = !this.semester_id ? 'All' : this.semester_id
      let year_level_id = !this.year_level_id ? 'All' : this.year_level_id
      let status = global._.isEmpty(this.status) ? 'All' : this.status
      this.link = `${process.env.VUE_APP_URL}api/exports/pdf/student_masterlist/${school_year_id}/${program_id}/${semester_id}/${year_level_id}/${status}`
    },
    exportExcel () {
      let school_year_id = !this.academic_year_id ? 'All' : this.academic_year_id
      let program_id = !this.program_id ? 'All' : this.program_id
      let semester_id = !this.semester_id ? 'All' : this.semester_id
      let year_level_id = !this.year_level_id ? 'All' : this.year_level_id
      let status = global._.isEmpty(this.status) ? 'All' : this.status
      this.link = `${process.env.VUE_APP_URL}api/exports/excel/student_masterlist/${school_year_id}/${program_id}/${semester_id}/${year_level_id}/${status}`
    },
    exportWord () {
      this.link = ''
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.resetFilters()
    })
  }
}
</script>
