<template>
<v-container fluid class="mt-5">
  <v-card
    tile
    class="accent--text"
    min-height="350px">
    <v-layout wrap>
      <v-flex xs12>
        <v-data-table
          :headers="headers"
          :items="items"
          :page.sync="page"
          :items-per-page="itemsPerPage"
          hide-default-footer
          @page-count="pageCount = $event"
          :loading="loading"
          v-bind="rowsPerPage"
          loading-text="Loading... Please wait"
          fixed-header
          ref="table"
        >
          <template v-slot:item.remarks_action="{ item }">
            <v-btn
              icon
              small
              @click="openHistory(item)"
              class="blue--text text-none">
            <v-icon>info</v-icon>
          </v-btn>
          </template>
        </v-data-table>
      </v-flex>
      <v-flex xs12 class="text-center pt-3 pb-0">
        <v-pagination
          v-show="pageCount > 1"
          v-model="page"
          :length="pageCount"
          :total-visible="10"
        ></v-pagination>
      </v-flex>
    </v-layout>

    <history-dialog
      :showDialog="historyDialog"
      @close="historyDialog = false"
      :loading="enrollHistoryLoading"
      :count="countHistory"
      :skip="skipHistory"
      :take="takeHistory"
      :items=enrollHistoryItems
      :name="historyName"
      :headers="historyHeaders"
    />
  </v-card>
</v-container>
</template>
<script>
import { mapGetters } from 'vuex'
import { GET_STUDENT_HISTORY } from '@/graphql/admin/queries'
export default {
  props: {
    user_id: {
      type: [String, Number]
    }
  },
  data: () => ({
    rowsPerPage: {
      'footer-props': {
        'items-per-page-options': [10]
      }
    },
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    items: [],
    tab: null,
    headers: [
      {
        text: 'Application No.',
        align: 'center',
        sortable: true,
        value: 'aplication_no',
        title: '',
        icon: '',
        name: '',
        field: ''
      },
      {
        text: 'Academic School Year',
        align: 'center',
        sortable: true,
        value: 'school_year'
      },
      {
        text: 'Program',
        align: 'center',
        sortable: true,
        value: 'program_code'
      },
      {
        text: 'Section',
        align: 'center',
        sortable: true,
        value: 'section'
      },
      {
        text: 'Year Level',
        align: 'center',
        sortable: true,
        value: 'year_level'
      },
      {
        text: 'Semester',
        align: 'center',
        sortable: true,
        value: 'semester'
      },
      {
        text: 'Status',
        align: 'center',
        sortable: true,
        value: 'user_status'
      },
      {
        text: 'Remarks',
        align: 'center',
        sortable: true,
        value: 'remarks_action'
      }
    ],
    historyHeaders: [
      {
        text: 'Date',
        value: 'created_at',
        sortable: true,
        align: 'center',
        title: '',
        name: ''
      },
      {
        text: 'Status',
        value: 'status',
        sortable: true,
        align: 'center',
        title: '',
        name: ''
      },
      {
        text: 'Office',
        value: 'office',
        sortable: true,
        align: 'center',
        title: '',
        name: ''
      },
      {
        text: 'Reason',
        value: 'reason',
        sortable: true,
        align: 'center',
        title: '',
        name: ''
      }
    ],
    loading: false,
    historyDialog: false,
    historyName: '',
    enrollHistoryItems: [],
    countHistory: 0,
    enrollHistoryLoading: false,
    skipHistory: 0,
    takeHistory: 10
  }),
  computed: {
    ...mapGetters('user', ['prospectus', 'user'])
  },
  methods: {
    openHistory (val) {
      this.historyDialog = true
      this.historyName = val.name
      if (!global._.isNull(val.applicant_remarks)) {
        this.enrollHistoryItems = val.applicant_remarks
        this.countHistory = Number(val.applicant_remarks.length)
      }
    },
    Item () {},
    getHistory () {
      if (this.user_id) {
        this.$apollo.query({
          query: GET_STUDENT_HISTORY,
          variables: {
            user_id: this.user_id,
            program_id: this.user.department_id ? this.user.department_id : null
          }
        }).then(({data, loading }) => {
          this.loading = loading
          const lists = []
          if (!global._.isUndefined(data)) {
            global._.forEach(data.enrollmentHistoryEnrolled, function (val) {
              if (val.school_year) {
                lists.push({
                  ...val,
                  aplication_no: val.id,
                  school_year: val.school_year ? `${val.school_year.school_year_from} - ${val.school_year.school_year_to}` : '',
                  program_code: val.program ? val.program.program_code : '',
                  section: val.section ? val.section.section : '',
                  year_level: val.yearlevel ? val.yearlevel.year_level : '',
                  semester: val.semester ? val.semester.semester : '',
                  user_status: `${val.status} / ${val.applicant_status}`
                })
              }
            })
            this.items = lists
          }
        })
        .catch(error => {
          console.log(error)
        })
      }
    }
  },
  mounted () {
    this.getHistory()
  }
}
</script>
