<template>
<v-container fluid>
  <v-layout wrap justify-center align-center>
    <v-flex xs12>
      <floating-card class="mt-2" :titles="applicationTitle" />
      <v-card
        class="px-2 my-5"
        style="border: 1px solid #b5b3b3;">
        <v-skeleton-loader
          class="mx-2 my-5"
          max-width
          type="article, article, button"
          v-show="loading"
        ></v-skeleton-loader>

        <v-layout wrap justify-center align-center
          class="my-3 mx-2"
          v-show="!loading">
          <v-flex xs12>
            <basic-info />
          </v-flex>

          <v-flex xs12
            v-show="userType === 9">
            <registrar-tabs />
          </v-flex>

          <v-flex xs12
            v-show="userType === 2">
            <admission-tabs />
          </v-flex>

          <v-flex xs12
            v-show="userType === 6">
            <clinic-tabs />
          </v-flex>

          <v-flex xs12
            v-show="userType === 8">
            <admin-tabs />
          </v-flex>

          <v-flex xs12
            v-show="userType === 5">
            <department-tabs
              @approval="approval"
              @disapproval="disapproval"
            />
          </v-flex>
        </v-layout>
      </v-card>
    </v-flex>
  </v-layout>

  <remarks-dialog
    :showDialog="dialog"
    @close="dialog = false"
    :title="title"
    v-model="model"
    @submit="submit"
    label="Remarks:"
  />
</v-container>
</template>
<script>
import { mapGetters } from 'vuex'
import defaultMixins from '@/mixins/index'
export default {
  mixins: [
    defaultMixins
  ],
  data: () => ({
    applicationTitle: [{
      name: 'Enrollment Form',
      icon: 'event',
      color: 'accent',
      flex: 'xs12'
    }],
    loading: false,
    dialog: false,
    title: '',
    model: '',
  }),
  methods: {
    approval () {
      this.dialog = true
      this.title = 'Are you sure you want to Approve ?'
    },
    disapproval () {
      this.dialog = true
      this.title = 'Are you sure you want to Disapprove ?'
    },
    submit () {
      this.dialog = false
    }
  }
}
</script>
