<template>
  <v-dialog
    :value="showDialog"
    persistent
    v-esc="escape">
    <v-card>
      <v-card-actions>
        <div class="flex-grow-1">
          <v-card-title class="accent--text">{{ isEdit ? 'Edit' : 'Add' }} Student</v-card-title>
        </div>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              v-show="isEdit"
              @click="confirmDialog = true"
              text
              fab
              color="red">
              <v-icon medium color="red">mdi-delete</v-icon>
            </v-btn>
          </template>
          <span>Delete</span>
        </v-tooltip>
        <v-btn
          text
          fab
          small
          @click="closeDialog">
          <v-icon medium color="black">close</v-icon>
        </v-btn>
      </v-card-actions>
      <v-divider class="mx-3" />
      <v-form
        class="pt-5 px-3"
        ref="form">
        <v-layout wrap>
          <v-flex
            xs12
            :key="index"
            v-for="(item, index) in formData"
          >
            <v-layout wrap>
              <field-component
                :field="field"
                :key="field.key"
                :form="formData[index]"
                :errors="errors"
                :item-idx="index"
                :choices="choices"
                v-for="field in fields"
                @change="Change"
              ></field-component>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-form>
      <v-card-actions class="py-5">
        <v-spacer />
        <v-btn
          :loading="saveLoading"
          color="accent"
          width="100px"
          class="white--text mr-3 mt-2 text-none"
          @click="isEdit ? isDelete(false) : save()"
        >
          Submit
        </v-btn>
      </v-card-actions>

      <confirmation-dialog
        :showDialog="confirmDialog"
        @close="confirmDialog = false"
        @proceed="isDeleteItem ? deleteItem() : edit()"
        :loading="deleteLoading"
        :message="isDeleteItem ? 'Are you sure you want to delete this student ?' : 'Do you want to save changes ?'"
      />
    </v-card>
  </v-dialog>
</template>
<script type="text/javascript">
import formMixins from '@/mixins/form.js'
import { mapMutations } from 'vuex'
import studentQueries from '@/mixins/queries/student/studentQueries'
export default {
  mixins: [
    formMixins,
    studentQueries
  ],
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    formData: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    isEdit: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    fields: [
      {
        key: 'curriculum_id',
        label: 'Curriculum',
        choices: 'years',
        itemText: 'curriculum_code',
        itemValue: 'curriculum_id',
        classNames: 'xs12 sm6 md3 px-2',
        required: true
      },
      {
        key: 'revision_id',
        label: 'Revision',
        choices: 'revisions',
        itemText: 'revision_no',
        itemValue: 'revision_id',
        classNames: 'xs12 sm6 md3 px-2',
        required: true
      },
      {
        key: 'program_id',
        label: 'Program',
        choices: 'programs',
        itemText: 'program_code',
        itemValue: 'program_id',
        classNames: 'xs12 sm6 md3 px-2',
        required: true
      },
      {
        key: 'year_level_id',
        label: 'Year Level',
        choices: 'levels',
        itemText: 'year_level',
        itemValue: 'year_level_id',
        classNames: 'xs12 sm6 md3 px-2',
        required: true
      },
      {
        key: 'student_id_number',
        label: 'Student No.',
        classNames: 'xs12 md3 px-2',
        required: true
      },
      {
        key: 'status',
        label: 'Type',
        choices: 'types',
        classNames: 'xs12 md3 px-2',
        required: true
      },
      {
        key: 'student_status',
        label: 'Status',
        choices: 'student_statuses',
        classNames: 'xs12 md3 px-2',
        required: true
      },
      {
        key: 'isTransferee',
        label: 'Is the Student Transferee ?',
        choices: 'applicantStatus',
        classNames: 'xs12 md3 px-2',
        required: true
      },
      {
        key: 'first_name',
        label: 'First Name',
        classNames: 'xs12 md3 px-2',
        required: true
      },
      {
        key: 'middle_name',
        label: 'Middle Name',
        classNames: 'xs12 md3 px-2',
        required: true
      },
      {
        key: 'last_name',
        label: 'Last Name',
        classNames: 'xs12 md3 px-2',
        required: true
      },
      {
        key: 'name_extension',
        label: 'Name Extension',
        classNames: 'xs12 md3 px-2'
      },
      {
        key: 'email',
        label: 'Email',
        classNames: 'xs12 md3 px-2',
        required: true
      },
      {
        key: 'birth_date',
        label: 'Birth Date',
        date: true,
        classNames: 'xs12 md3 px-2',
        required: true
      },
      {
        key: 'gender',
        label: 'Gender',
        choices: 'genders',
        classNames: 'xs12 md3 px-2',
        required: true
      },
      {
        key: 'password',
        label: 'Create Password',
        password: true,
        classNames: 'xs12 md3 px-2',
        counter: 8,
        rule: [v => (v && v.length) >= 8 || 'password must be atleast 8 characters'],
        required: true
      }
    ],
    types: [
      'Old',
      'Returnee'
    ],
    old: [
      'Regular',
      'Irregular'
    ],
    genders: [
      'Male',
      'Female'
    ],
    errors: {},
    formInput: false,
    show: false,
    confirmDialog: false,
    deleteLoading: false,
    formItem: {
      curriculum_id: null,
      revision_id: null,
      program_id: null,
      year_level_id: null,
      semester_id: null,
      student_id_number: null,
      status: null,
      student_status: null,
      first_name: null,
      middle_name: null,
      last_name: null,
      name_extension: null,
      email: null,
      birth_date: null,
      gender: null,
      password: null
    },
    years: [],
    programs: [],
    levels: [],
    semesters: [],
    skipStudentQuery: true,
    skipYearQuery: true,
    skipSemQuery: true,
    studentStatus: '',
    isDeleteItem : false,
    saveLoading: false,
    id: null,
    skipCurrRevisionQuery: true
  }),
  computed: {
    choices () {
      return {
        statuses: this.statuses,
        student_statuses: this.old,
        genders: this.genders,
        years: this.years,
        programs: this.programs,
        levels: this.levels,
        semesters: this.semesters,
        types: this.types,
        applicantStatus: ['Yes', 'No'],
        revisions: this.revisions
      }
    },
    postApi () {
      if (this.isEdit) return `api/student/update/${this.id}`
      return 'api/student/create'
    }
  },
  mounted () {
    if (!global._.isEmpty(this.formData)) {
      if (!global._.isNull(this.formData[0].curriculum_id)) {
        this.skipStudentQuery = false
        this.skipCurrRevisionQuery = false
        this.$apollo.queries.curriculumPrograms.refresh()
        this.$apollo.queries.revisions.refresh()
        if (!global._.isNull(this.formData[0].program_id)) {
          this.skipYearQuery = false
          this.$apollo.queries.curriculumYearLevel.refresh()
          if (!global._.isNull(this.formData[0].year_level_id)) {
            this.skipSemQuery = false
            this.$apollo.queries.curriculumSemester.refresh()
          }
        }
      }
    }
  },
  methods: {
    ...mapMutations('students', ['setRefetchedData']),
    escape () {
      this.$emit('close')
    },
    isDelete(item) {
      this.isDeleteItem = item
      // this.confirmDialog = true
    },
    Change (val) {
      if (!global._.isEmpty(this.formData)) {
        this.studentStatus = this.formData[0].status
        if (!global._.isNull(this.formData[0].curriculum_id)) {
          this.skipStudentQuery = false
          this.skipCurrRevisionQuery = false
            this.$apollo.queries.curriculumPrograms.refresh()
           this.$apollo.queries.revisions.refresh()
          if (!global._.isNull(this.formData[0].program_id)) {
            this.skipYearQuery = false
            this.$apollo.queries.curriculumYearLevel.refresh()
            if (!global._.isNull(this.formData[0].year_level_id)) {
              this.skipSemQuery = false
              this.$apollo.queries.curriculumSemester.refresh()
            }
          }
        }
      }
    },
    closeDialog () {
      this.saveLoading = false
      this.updateLoading = false
      this.$emit('close')
      this.errors = {}
      this.$refs.form.reset()
    },
    close () {
      this.saveLoading = false
      this.deleteLoading = false
      this.confirmDialog = false
      if (global._.isEmpty(this.errors)) {
        this.$emit('close')
        if (!global._.isEmpty(this.form)) {
          this.$emit('refetch', this.form)
          this.$refs.form.reset()
          this.formData[0] = Object.assign({}, this.formItem)
        }
        this.setRefetchedData(this.form)
        this.$refs.form.errors = this.errors
      } else {
        this.$refs.form.errors = this.errors
      }
    },
    async save () {
      this.saveLoading = true
      this.saveData(this.formData[0])
    },
    async edit () {
      this.deleteLoading = true
    },
    async delete () {
      this.deleteLoading = true
    }
  }
}
</script>
