<template>
<v-container fluid>
  <v-layout wrap justify-center align-center>
    <v-flex xs12 md11>
      <v-card flat>
        <header-component
          :isSearch="true"
          :isFilter="true"
          :isAdd="false"
          :isExport="false"
          @enter="doSearch"
          @clear="clear()"
          label="Search Course"
          hint="Enter Course"
          @reset="resetFilters()"
          :isSwitched="isSwitched"
          @openFilter="openFilter()"
          @closeFilter="closeFilter()"
          :filterItems="tableData.headers"
        />
    
        <v-layout wrap>
          <data-table
            ref="table"
            :prop="tableData"
            :dataList="items"
            @clicked="editItem"
            @scroll="lazyLoad"
          />
        </v-layout>
      </v-card>
    </v-flex>
  </v-layout>
</v-container>
</template>
<script type="text/javascript">
import { mapGetters, mapMutations } from 'vuex'
export default {
  data () {
    return {
      isSwitched: false,
      tableData: {
        loading: false,
        titleInfo: {
          name: 'Deficiencies',
          icon: 'mdi-notebook-minus'
        },
        headers: [
          {
            text: 'Course',
            value: 'course',
            sortable: true,
            align: 'center',
            title: 'School Year',
            icon: 'mdi-school',
            name: ''
          },
          {
            text: 'Description',
            value: 'description',
            sortable: true,
            align: 'center',
            title: 'Semester',
            icon: 'collections_bookmark',
            name: ''
          },
          {
            text: 'Units',
            value: 'units',
            sortable: true,
            align: 'center'
          },
          {
            text: 'Year Level',
            value: 'year_level',
            sortable: true,
            align: 'center'
          },
          {
            text: 'Semester',
            value: 'semester',
            sortable: true,
            align: 'center'
          }
        ],
        input: {
          skip: 0,
          take: 10
        },
        maxData: 0,
        insetSkip: 0,
        count: 0
      },
      items: []
    }
  },
  computed: {
    ...mapGetters('filters', [ 'search']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        return this.SET_SEARCH(value)
      }
    }
  },
  methods: {
    ...mapMutations('filters', ['RESET_FILTERS', 'SET_SEARCH']),
    resetFilters () {
      this.RESET_FILTERS()
      this.clear()
    },
    clear () {
      this.tableData.input.take = 10
      this.setSearch = ''
    },
    doSearch (val) {
      this.setSearch = val
      this.tableData.input.take = 10
    },
    openFilter () {
      this.isSwitched = true
    },
    closeFilter () {
      this.isSwitched = false
    },
    lazyLoad (e) {
      const tableHeight = (this.$refs.table.$el.offsetHeight) - (e.srcElement.offsetHeight)
      const totalSkipped = this.tableData.maxData > this.tableData.input.skip ? this.tableData.maxData - this.tableData.input.skip : 0
      if (e.target.scrollTop === 0) {
        this.tableData.input.take = 10
        this.$apollo.queries.roomsFilterFetch.refetch()
      } else if (e.target.scrollTop <= tableHeight) {
        if (totalSkipped >= 10) {
          this.tableData.input.skip +=10
          let takeItems = this.tableData.input.take + this.tableData.input.skip
          if (takeItems <= this.tableData.maxData) {
            this.tableData.input.take = takeItems
            this.$apollo.queries.roomsFilterFetch.refetch()
          } else {
            this.tableData.input.take = this.tableData.maxData
          }
        } else {
          this.tableData.input.take = this.tableData.maxData
        }
      } else {
        this.tableData.input.take = 10
        this.$apollo.queries.roomsFilterFetch.refetch()
      }
    },
    editItem (val) {
      console.log(val)
    }
  }
}
</script>
