<template>
  <v-container fluid>
    <v-card flat>
      <v-layout wrap>
        <v-flex xs12>
          <v-data-table
            :headers="headers"
            :items="items"
            :page.sync="page"
            :items-per-page="itemsPerPage"
            @page-count="pageCount = $event"
            v-bind="rowsPerPage"
            hide-default-footer
            fixed-header
            :loading="loading"
            loading-text="Loading... Please wait">
            <template v-slot:body.append>
              <tr>
                <td
                  class="text-center"
                  v-for="(item, index) in headers"
                  :key="index"
                >
                  <span
                    class="align-center font-weight-bold"
                    v-if="item.total">{{ item.total_title }}</span>
                  <span
                    class="align-center font-weight-bold"
                    v-else-if="item.isUnit">
                    {{ total_units }}
                  </span>
                  <span
                    class="align-center font-weight-bold"
                    v-else-if="item.isLec">
                    {{ totalLec(items) }}
                  </span>
                  <span
                    class="align-center font-weight-bold"
                    v-else-if="item.isLab">
                    {{ totalLab(items) }}
                  </span>
                  <span v-else></span>
                </td>
              </tr>
            </template>
          </v-data-table>
        </v-flex>
        <v-flex xs12 class="text-center my-3">
          <v-pagination
            v-show="pageCount > 1"
            v-model="page"
            :length="pageCount"
            :total-visible="10"
          ></v-pagination>
        </v-flex>
      </v-layout>
    </v-card>

  </v-container>
</template>
<script type="text/javascript">
  import historyMixins from '@/mixins/queries/finance/historyQueries'
  export default {
    mixins: [
      historyMixins
    ],
    data: () => ({
      rowsPerPage: {
        'footer-props': {
          'items-per-page-options': [10]
        }
      },
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      headers: [
        {
          text: 'Course Code',
          align: 'center',
          sortable: false,
          value: 'course_code',
          total: true,
          total_title: 'TOTALS:'
        },
        {
          text: 'Units',
          align: 'center',
          sortable: false,
          value: 'units',
          isUnit: true
        },
        {
          text: 'Lec',
          align: 'center',
          sortable: false,
          value: 'lec_hours',
          isLec: true
        },
        {
          text: 'Lab',
          align: 'center',
          sortable: false,
          value: 'lab_hours',
          isLab: true
        }
      ],
      items: [],
      loading: false,
      count: 0,
      total_units: 0,
      units_added: 0
    }),
    methods: {
      totalLec (items) {
        let total = global._.reduce(global._.mapValues(items, function (o) { return Number(o.lec_hours) }), function (sum, num) {
         return Number(sum) + Number(num)
        })
        return total
      },
      totalLab (items) {
        let total = global._.reduce(global._.mapValues(items, function (o) { return Number(o.lab_hours) }), function (sum, num) {
         return Number(sum) + Number(num)
        })
        return total
      }
    }
  }
</script>
