<template>
  <v-container fluid>
    <v-card flat>
      <v-layout wrap>
        <v-flex xs12>
          <v-data-table
            :headers="headers"
            :items="discountItems"
            :page.sync="page"
            :items-per-page="itemsPerPage"
            @page-count="pageCount = $event"
            v-bind="rowsPerPage"
            hide-default-footer
            fixed-header
            :loading="discountLoading"
            loading-text="Loading... Please wait">
          </v-data-table>
        </v-flex>
        <v-flex xs12 class="text-center my-3">
          <v-pagination
            v-show="pageCount > 1"
            v-model="page"
            :length="pageCount"
            :total-visible="10"
          ></v-pagination>
        </v-flex>
      </v-layout>
    </v-card>

  </v-container>
</template>
<script type="text/javascript">
  import historyMixins from '@/mixins/queries/finance/historyQueries'
  export default {
    mixins: [
      historyMixins
    ],
    data: () => ({
      rowsPerPage: {
        'footer-props': {
          'items-per-page-options': [10]
        }
      },
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      headers: [
        {
          text: 'Description',
          align: 'center',
          sortable: false,
          value: 'descirption'
        },
        {
          text: 'Rate',
          align: 'center',
          sortable: false,
          value: 'rate',
          isUnit: true
        },
        {
          text: 'Apply',
          align: 'center',
          sortable: false,
          value: 'apply',
          isLec: true
        },
        {
          text: 'Exam',
          align: 'center',
          sortable: false,
          value: 'exam',
          isLab: true
        }
      ],
      discountItems: [],
      discountLoading: false,
      count: 0,
      total_units: 0,
      units_added: 0
    })
  }
</script>
