<template>
<v-card flat height="760px"
  style="margin-top: -10px">
  <v-layout row wrap>
    <steps
      CardStyle="title"
      :title="title"
      :items="items" />
  </v-layout>
</v-card>
</template>
<script>
export default {
  data: () => ({
    items: [
      {
        color: 'red lighten-2',
        icon: 'looks_one',
        title: 'Click Enroll Online from the Menu'
      },
      {
        color: 'purple darken-1',
        icon: 'looks_two',
        title: 'Sign-up for entrance exam'
      },
      {
        color: 'green lighten-1',
        icon: 'looks_3',
        title: 'Once you have passed the entrance exam, enroll online as a student'
      }
    ],
    title: 'STEPS TO ENROLL ONLINE'
  })
}
</script>
