<template>
<v-flex xs12>
  <v-layout wrap justify-center>
    <v-flex xs12 :md4="!isSubmit" :lg3="!isSubmit">
      <v-card
        tile
        class="text-center float-left">
        <v-card
          light
          tile
          flat
          class="text-center mb-10 accent--text"
          v-show="$vuetify.breakpoint.mdAndUp">
          <v-card-title
            style="max-width: 36rem;"
            class="text-break justify-center font-weight-medium" :class="CardStyle">
            {{ title }}
          </v-card-title>
        </v-card>

        <v-tabs
          v-show="isSubmit"
          v-model="activetab"
          :vertical="$vuetify.breakpoint.mdAndUp"
          next-icon="keyboard_arrow_right"
          prev-icon="keyboard_arrow_left"
          :show-arrows="isArrowEnabled"
          slider-color="transparent"
          class="tabs justify-center align-center py-2">

          <router-link
            v-for="(item, index) in enrollmentItems" :key="index"
            class="text-decor checklist-color"
            :to="{ name: item.name }">
            <v-tab
              :class="getIndex(index, activetab)"
              class="tab pointer checked-menu text-none">
              <v-card-actions class="px-1">
                <v-icon :class="getColor(item.icon)" class="display-1 mb-2" left>{{ item.icon }}</v-icon>
              </v-card-actions>
              <v-card-text
                class="px-0 font-weight-regular subtitle-1
                text-left">
                {{ item.title }}
              </v-card-text>
            </v-tab>
          </router-link>

          <v-card
            tile
            flat
            :style="isUp"
            class="text-center mx-1"
            v-show="isSubmit">
            <v-card-actions
              class="justify-center">
              <v-spacer />
              <v-btn
                v-show="isEnabled"
                @click="$emit('save')"
                width="100px"
                :depressed="$vuetify.breakpoint.smAndDown"
                :disabled="disabled"
                height="35px"
                color="accent"
                class="mx-1 text-none white--text">Submit</v-btn>
            </v-card-actions>
          </v-card>
        </v-tabs>

        <v-layout wrap>
          <v-flex xs12>
            <v-timeline
              dense
              v-show="!isSubmit"
            >
              <v-timeline-item
                v-for="(item, index) in items"
                :key="index"
                :icon="item.icon"
                fill-dot
              >
                <v-card flat>
                  <v-card-title class="my-12 title font-weight-regular break-word">
                    {{ item.title }}
                  </v-card-title>
                </v-card>
              </v-timeline-item>
            </v-timeline>
          </v-flex>
        </v-layout>
      </v-card>
    </v-flex>

    <v-flex xs12 md8 lg9>
      <v-container fluid>
        <v-card
          v-show="!isSubmit"
          tile
          flat
          v-scroll="onScroll"
          class="mx-2 mt-2 transparent">
          <view-programs />
        </v-card>
      </v-container>
    </v-flex>
  </v-layout>
</v-flex>
</template>
<script>
import defaultMixins from '@/mixins/index'
export default {
  mixins: [
    defaultMixins
  ],
  props: {
    isSubmit: {
      type: Boolean,
      default: false
    },
    isEnabled: {
      type: Boolean,
      default: false
    },
    items: {
      type: [Array, Object]
    },
    itemScrolled: {
      type: String
    },
    enrollmentItems: {
      type: [Array, Object]
    },
    title: {
      type: String
    },
    CardStyle: {
      type: String
    },
    disabled: {
      type: Boolean,
      default: false
    },
    active: Number
  },
  data () {
    return {
      activetab: this.active
    }
  },
  computed: {
    isUp () {
      if (this.$vuetify.breakpoint.mdAndUp) return 'margin-top: 250px;'
      return 'background-color: #446597;'
    },
    isStyled () {
      if (this.$vuetify.breakpoint.mdAndUp) return 'body-2'
      return 'subtitle-1'
    }
  },
  methods: {
    onScroll (e) {
      this.offsetTop = window.pageYOffset || document.documentElement.scrollTop
    }
  }
}
</script>
