<template>
  <v-container fluid
    v-if="tab">
    <v-card flat
      v-for="(item, index) in semesters"
      :key="index">
      <v-card-text>{{ item.semester }}</v-card-text>
      <v-divider />
      <v-data-table
        :headers="headers"
        :items="item.items"
        :page.sync="page"
        :items-per-page="itemsPerPage"
        class="text-table-color font-weight-medium"
        @page-count="pageCount = $event"
        hide-default-footer
      >
      <template v-slot:header>
        <thead v-show="hideCard">
          <tr>
            <th style="text-align: center;" :colspan="3">
            </th>
            <th style="text-align: center;" :colspan="2">
              Hours
            </th>
            <th style="text-align: center;" :colspan="1">
            </th>
          </tr>
        </thead>
      </template>
      </v-data-table>
    </v-card>
  </v-container>
</template>
<script>
import defaultMixins from '@/mixins/index'
export default {
  mixins: [
    defaultMixins
  ],
  props: {
    items: {
      required: true,
      type: [Array, Object]
    },
    tab: {
      required: true,
      type: Object
    }
  },
  data: () => ({
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    headers: [
      {
        text: 'Course',
        align: 'center',
        sortable: true,
        value: 'course_code'
      },
      {
        text: 'Descriptive Title',
        align: 'center',
        sortable: true,
        value: 'course_description'
      },
      {
        text: 'Course Co-Requisite/Pre-Requisite',
        align: 'center',
        sortable: true,
        value: 'prerequisite'
      },
      {
        text: 'Lec',
        align: 'center',
        sortable: true,
        value: 'lecture_schedule'
      },
      {
        text: 'Lab',
        align: 'center',
        sortable: true,
        value: 'laboratory_schedule'
      },
      {
        text: 'Units',
        align: 'center',
        sortable: true,
        value: 'units'
      }
    ],
    semesters: []
  }),
  created () {
    let semesters = []
    global._.forEach(this.items, function (value, key) {
      semesters.push({
        semester: key,
        items: value
      })
    })
    this.semesters = semesters
  }
}
</script>
