<template>
<v-container fluid>
  <v-layout wrap justify-center align-center>
    <v-flex xs12
      class="mt-10">
      <v-expansion-panels
        class="mb-6"
        hover>
        <v-expansion-panel
          v-for="(item, index) in items"
          :key="index"
        >
          <v-layout wrap>
            <v-flex class="applicantProgram" xs12>
              <v-expansion-panel-header class="py-6 pl-9 pointer ripple"
                :class="titleSize"
                @click="openItem(item)">
                {{ item.program_name }}
              </v-expansion-panel-header>
              <v-expansion-panel-content class="mt-6">
                <v-list-item three-line>
                  <v-layout wrap justify-center align-center>
                    <v-flex xs12 md7>
                      <v-list-item-content>
                        <v-list-item-subtitle class="break-word px-2">{{ item.program_description }}</v-list-item-subtitle>
                      </v-list-item-content>
                    </v-flex>

                    <v-flex xs12 md5>
                      <v-card-actions
                        class="my-0 py-0">
                        <v-spacer />
                        <v-list-item-avatar
                          tile
                          :size="200"
                          :color="setImage(item.program_image) ? 'white' : 'grey'"
                        >
                          <v-img
                            v-if="setImage(item.program_image)"
                            max-height="150"
                            max-width="250"
                            :src="setFile(setImage(item.program_image))"
                          ></v-img>
                          <v-icon v-else xLarge class="white--text">receipt_long</v-icon>
                        </v-list-item-avatar>
                      </v-card-actions>
                    </v-flex>
                  </v-layout>
                </v-list-item>

                <v-card-actions>
                  <v-spacer />
                  <v-btn
                    color="accent"
                    small
                    class="mb-2 mr-4"
                    width="200px"
                    depressed
                    @click="$router.push({ name: 'view-curriculum' })"
                  >
                    See Curriculum
                  </v-btn>
                </v-card-actions>
              </v-expansion-panel-content>
            </v-flex>
          </v-layout>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-flex>
  </v-layout>
</v-container>
</template>
<script>
import formMixins from '@/mixins/form'
import { GET_CURRENT_PROGRAM } from '@/graphql/admin/queries'
import { mapMutations } from 'vuex'
export default {
  mixins: [formMixins],
  data: () => ({
    offsetTop: 0,
    items: [],
    show: false,
    itemIndex: null
  }),
  computed: {
    titleSize () {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs': return 'caption'
        case 'sm': return 'body-2'
        case 'md': return 'subtitle-1'
      }
    }
  },
  apollo: {
    curriculumProgramsYearNow: {
      query: GET_CURRENT_PROGRAM,
      result ({ data }) {
        if (data) {
          this.items = data.curriculumProgramsYearNow
        }
      }
    }
  },
  methods: {
    ...mapMutations('user', ['setProspectus']),
    onScroll (e) {
      this.offsetTop = window.pageYOffset || document.documentElement.scrollTop
    },
    open (val) {
      this.itemIndex = val
    },
    openItem (val) {
      this.setProspectus(val)
    },
    setImage (item) {
      if (!global._.isEmpty(item) && !global._.isEqual(item, 'undefined')) return item
      return ''
    }
  }
}
</script>
