<template>
<v-container fluid>
  <v-card tile class="accent--text">
    <v-card-actions>
      <v-spacer />
      <v-card-title>DCSP ONLINE STUDENT PORTAL</v-card-title>
    </v-card-actions>

    <v-list-item three-line>
      <v-list-item-content>
        <v-list-item-title class="headline mb-1">
          {{ prospectus.program_name }}
        </v-list-item-title>
        <v-list-item-subtitle>{{ prospectus.program_description }}</v-list-item-subtitle>
      </v-list-item-content>

      <v-list-item-avatar
        tile
        size="80"
        color="grey"
        class="mx-2"
      >
        <v-icon xLarge class="white--text">receipt_long</v-icon>
      </v-list-item-avatar>
    </v-list-item>

    <v-tabs
      v-model="tab"
      align-with-title>
    <v-tab
      v-for="(item, index) in items"
      :key="index">
      {{ item.year }}
    </v-tab>
    </v-tabs>
    <v-tabs-items v-model="tab">
      <v-tab-item
        v-for="(item, index) in items"
        :key="index"
      >
        <view-semester :tab="item" :items="item.semesters" />
      </v-tab-item>
    </v-tabs-items>
  </v-card>
</v-container>
</template>
<script>
import { mapGetters } from 'vuex'
import { GET_PROSPECTUS } from '@/graphql/admin/queries'
export default {
  data: () => ({
    items: [],
    tab: null,
    semesters: []
  }),
  computed: {
    ...mapGetters('user', ['prospectus'])
  },
  apollo: {
    coursesProgramCurriculum: {
      query: GET_PROSPECTUS,
      variables () {
        return {
          input: {
            school_year_id: this.prospectus.school_year_id,
            program_id: this.prospectus.program_id
          }
        }
      },
      result ({ data }) {
        if (data) {
          let years = []
          global._.forEach(data.coursesProgramCurriculum, function (value, key) {
            years.push({
              key: key === 'First Year' ? 1 : key === 'Second Year' ? 2 : key === 'Third Year' ? 3 : 4,
              year: key,
              semesters: value
            })
          })
          let sortKeys = years.sort((a, b) => a.key - b.key)
          this.items = sortKeys
        }
      },
      deep: true
    }
  }
}
</script>
