<template>
  <v-app>
    <v-slide-y-transition mode="out-in">
      <v-main>
        <router-view />
      </v-main>
    </v-slide-y-transition>
  </v-app>
</template>
<style lang="stylus">
  @import './stylus/main'
</style>
