<template>
<v-container fluid class="mt-0 pt-0">
  <v-layout wrap justify-center align-center>
    <v-flex xs12 md11>
      <v-card flat>
        <header-component
          :isSearch="false"
          :isFilter="true"
          :isAdd="false"
          hint="Enter Schedule"
          @clear="clear()"
          @reset="RESET_FILTERS()"
          @clickDialog="addClicked"
          :filterItems="headers"
          :isSwitched="isSwitched"
          @openFilter="openFilter()"
          @closeFilter="closeFilter()"
        />

        <v-layout wrap justify-center align-center>
          <v-flex xs12 class="mt-5">
            <floating-card :titles="title" />
          </v-flex>
          <v-flex xs12>
          <v-card> 
           <v-card-title class="my-5" />
           <v-card-actions>
            <v-spacer />
            <v-card-text class="py-0 subtitle-1 font-weight-medium">
              Academic School Year:
              <span class="font-weight-regular ml-2">{{ schoolYearItem.school_year }}</span>
            </v-card-text>
           </v-card-actions>
           <v-flex xs12>
            <v-data-table
                ref="table"
                :headers="headers"
                :items="asyItems"
                :page.sync="page"
                :items-per-page="itemsPerPage"
                @page-count="pageCount = $event"
                :options.sync="options"
                :server-items-length="yearsCount"
                class="text-table-color font-weight-medium"
                hide-default-footer
                :fixed-header="true"
                :loading="examLoading"
                loading-text="Loading... Please wait"
                @click:row="listClicked"
               >
            </v-data-table>
          </v-flex>
          <v-flex xs12 class="text-center pt-3 pb-0">
            <v-pagination
              v-show="pageCount > 1"
              v-model="page"
              :length="pageCount"
              :total-visible="10"
            ></v-pagination>
          </v-flex>
          <v-flex xs12>
            <v-card-actions
              v-show="yearsCount > 0">
              <v-spacer />
              <small>Total of <span class="blue--text">{{ yearsCount }} </span> <span>{{ asyItems.length > 1 ? 'Items' : 'Item'}}</span></small>
            </v-card-actions>
          </v-flex>
         </v-card>
        </v-flex>
        </v-layout>

        <exam-schedule-dialog
          :formData="formData"
          :showDialog="dialog"
          @close="close"
          @refetch="refetch"
          :isEdit="isEdit"
          :id="courseFeeId"
          :hasFee="hasFee"
        />
      </v-card>
    </v-flex>
  </v-layout>

  <v-snackbar
    top
    right
    v-model="isSnackbar"
    :color="color"
    class="caption"
    timeout="1500">
    <v-card-actions class="ma-0 pa-0">
      {{ text }}
      <v-spacer />
      <v-btn
        color="white"
        text
        icon
        right
        @click="isSnackbar = false"
        class="caption">
        <v-icon>clear</v-icon>
      </v-btn>
    </v-card-actions>
  </v-snackbar>
</v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import defaultMixins from '@/mixins/index'
import { mapGetters, mapMutations } from 'vuex'
import scheduleQueriesMixins from '@/mixins/queries/registrar/scheduleQueries'
export default {
  mixins: [
    formMixins,
    defaultMixins,
    scheduleQueriesMixins
  ],
  data: () => ({
    examLoading: false,
    dialog: false,
    formData: {
      period_id: '',
      school_year_id: '',
      exam_date_from: '',
      exam_date_to: '',
      payment_date: ''
    },
    defaultItems: {
      period_id: '',
      school_year_id: '',
      exam_date_from: '',
      exam_date_to: '',
      payment_date: ''
    },
    title: [
      {
        name: 'Schedule of Examination',
        icon: 'pending_actions',
        color: 'accent',
        flex: 'xs12'
      }
    ],
    headers: [
      {
        text: 'Exam Type',
        align: 'center',
        sortable: true,
        value: 'exam_type',
        title: 'Academic School Year',
        icon: 'mdi-school',
        name: 'registrar-exam-year-filter',
        field: ''
      },
      {
        text: 'Exam Date',
        align: 'center',
        sortable: true,
        value: 'exam_date'
      },
      {
        text: 'Payment Schedule',
        align: 'center',
        sortable: true,
        value: 'payment_schedule'
      }
    ],
    skip: 0,
    take: 10,
    yearsCount: 0,
    asyItems: [],
    saveLoading: false,
    deleteLoading: false,
    isSnackbar: false,
    color: '',
    text: '',
    isEdit: false,
    courseFeeId: null,
    bottom: false,
    dataList: [],
    isSwitched: false,
    skipSyListQuery: false,
    skipDiscountQuery: true,
    skipFeeCodeQuery: false,
    skipAccountQuery: true,
    skipFeesQuery: false,
    hasFee: false,
    skipExamSchedQuery: false,
    examLoading: false,
    schoolYearItem: {},
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    options: {},
    currPage: null,
    prevPage: null,
    skipItems: null,
    takeItems: null
  }),
  computed: {
    ...mapGetters('filters', ['academic_year_id'])
  },
  watch: {
    options: {
      handler (old, newx) {
        this.skipItems = global._.isUndefined(newx.itemsPerPage) ? 0 : newx.itemsPerPage
        this.takeItems = old.itemsPerPage
        this.prevPage = global._.isUndefined(newx.page) ? 0 : newx.page
        this.currPage = old.page
        let skip = this.sortSkipped(this.skipItems, this.currPage, old.itemsPerPage)
        let take = old.itemsPerPage
        this.skip = skip
        this.take = take
        this.currLoading = true
        this.$apollo.queries.studentExamSchedQuery.refetch()
      },
      deep: true
    },
    academic_year_id (val) {
      this.$apollo.queries.studentExamSchedQuery.refetch()
    }
  },
  methods: {
    ...mapMutations('filters', ['RESET_FILTERS']),
    openFilter () {
      this.isSwitched = true
    },
    closeFilter () {
      this.isSwitched = false
    },
    refetch (val) {
      if (!global._.isEmpty(val.message)) {
        this.snackbar(`${val.message}`, 'success')
      }
      this.$apollo.queries.studentExamSchedQuery.refetch()
    },
    close () {
      this.dialog = false
    },
    addClicked () {
      this.formData = Object.assign({}, this.defaultItems)
      this.isEdit = false
      this.dialog = true
    },
    listClicked (item) {
      this.hasFee = item.hasFee
      this.courseFeeId = item.id
      this.formData = Object.assign({}, item)
      this.isEdit = true
      this.dialog = true
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.RESET_FILTERS()
    })
  }
}
</script>
