<template>
  <v-dialog
    :value="showDialog"
    max-width="1300"
    persistent
    v-esc="escape">
    <v-card
      class="pt-1">
      <v-card-actions class="pb-0">
        <div class="flex-grow-1">
          <v-card-title class="accent--text">Schedule of Examination ( {{ formData.exam_type }})</v-card-title>
        </div>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              @click="isDelete(true)"
              v-show="!hasFee"
              text
              fab
              color="red">
              <v-icon medium color="red">mdi-delete</v-icon>
            </v-btn>
          </template>
          <span>Delete</span>
        </v-tooltip>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              @click="closeDialog"
              text
              fab>
              <v-icon medium color="red">mdi-close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-card-actions>
      <v-divider class="mx-2" />
      <v-layout wrap>
         <v-flex xs12>
          <v-form ref="form">
            <v-card-title>
              <v-layout wrap>
                <v-flex xs12 md4>
                  <small>Exam Date (From)
                    <span class="pl-1" style="color: red;">*</span>
                  </small>
                  <v-text-field
                    color="accent"
                    @input="Input"
                    append-icon="mdi-event"
                    class="mx-2"
                    type="date"
                    :masked="true"
                    :error-messages="errors['exam_date_from']"
                    v-model="formData.exam_date_from">
                  </v-text-field>
                </v-flex>
                <v-flex xs12 md4>
                  <small>Exam Date (To)
                    <span class="pl-1" style="color: red;">*</span>
                  </small>
                  <v-text-field
                    color="accent"
                    @input="Input"
                    append-icon="mdi-event"
                    class="mx-2"
                    type="date"
                    :masked="true"
                    :error-messages="errors['exam_date_to']"
                    v-model="formData.exam_date_to">
                  </v-text-field>
                </v-flex>
                <v-flex xs12 md4>
                  <small>Payment Date
                    <span class="pl-1" style="color: red;">*</span>
                  </small>
                  <v-text-field
                    color="accent"
                    @input="Input"
                    append-icon="mdi-event"
                    class="mx-2"
                    type="date"
                    :masked="true"
                    :error-messages="errors['payment_date']"
                    v-model="formData.payment_date">
                  </v-text-field>
                </v-flex>
              </v-layout>
            </v-card-title>
          </v-form>
        </v-flex>
      </v-layout>
      <v-card-actions class="pb-5">
        <v-spacer />
        <v-btn
          :loading="saveLoading"
          color="accent"
          width="100px"
          class="white--text mr-3 mt-2 text-none"
          @click="isEdit ? isDelete(false) : save()"
        >
          Submit
        </v-btn>
      </v-card-actions>

      <confirmation-dialog
        :showDialog="confirmDialog"
        @close="confirmDialog = false"
        @proceed="isDelete_ ? deleteItem() : edit()"
        :loading="deleteLoading"
        :message="isDelete_ ? 'Are you sure you want to delete this fee ?' : 'Do you want to save changes ?'"
      />
    </v-card>

  </v-dialog>
</template>
<script>
import formMixins from '@/mixins/form.js'
import { GET_FEE_CURRICULUM_COURSES } from '@/graphql/admin/queries'
import feesQueryMixins from '@/mixins/queries/finance/feesQueries'
export default {
  mixins: [
    formMixins,
    feesQueryMixins
  ],
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    formData: {
      required: true,
      type: [Object, Array],
      default: () => {
        return {}
      }
    },
    isEdit: {
      type: Boolean,
      default: false
    },
    id: {
      type: [String, Number]
    },
    hasFee: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      confirmDialog: false,
      loading: false,
      skip: 0,
      take: 10,
      errors: {},
      isDelete_: false,
      form: {},
      saveLoading: false,
      deleteLoading: false,
      fee_type: null,
      courseItems: [],
      FeeItems: [],
      isLoading: false,
      periods: [{
        id: 1,
        name: 'PRELIM'
      },
      {
        id: 2,
        name: 'MIDTERM'
      },
      {
        id: 3,
        name: 'SEMI-FINAL'
      },
      {
        id: 4,
        name: 'FINAL'
      }
      ],
      search: '',
      skipExamSchedQuery: false,
      examItems: [
        {
          flex: 'xs12',
          title: 'Prelim',
          fields: [
            {
              key: 'exam_date_from',
              label: 'Exam Date (From)',
              type: 'number',
              classNames: 'xs12 md3 px-2',
              noFilter: true
            },
            {
              key: 'exam_date_to',
              label: 'Exam Date (To)',
              type: 'number',
              classNames: 'xs12 md3 px-2',
              noFilter: true
            },
            {
              key: 'payment_date',
              label: 'Payment Date',
              type: 'number',
              classNames: 'xs12 md6 px-2',
              noFilter: true
            }
          ]
        }
      ]
    }
  },
  computed: {
    postApi () {
      if (!this.isEdit) return 'api/finance/create/FeeCode'
      return 'api/finance/update/student/exam/schedule'
    },
    deleteApi () {
      return `api/finance/delete/student/exam/schedule/${this.id}`
    }
  },
  watch: {
    search (val) {
      this.$apollo.queries.feeCourses.refetch()
    }
  },
  methods: {
    Input (value) {
      this.$emit('input', value)
    },
    escape () {
      this.$emit('close')
    },
    isDelete (x) {
      this.isDelete_ = x
      this.confirmDialog = true
    },
    closeDialog () {
      this.saveLoading = false
      this.updateLoading = false
      this.deleteLoading = false
      this.$emit('close')
    },
    close: function () {
      this.saveLoading = false
      this.deleteLoading = false
      this.confirmDialog = false
      if (global._.isEmpty(this.errors)) {
        this.$emit('close')
        if (!global._.isEmpty(this.form)) {
          this.$emit('refetch', this.form)
          this.$refs.form.reset()
        }
        this.$refs.form.errors = this.errors
        if (!global._.isEmpty(this.formData[0])) {
          this.form = {}
        }
      } else {
        this.$refs.form.errors = this.errors
      }
    },
    async save () {
      this.saveLoading = true
      this.saveData(this.formData)
    },
    async edit () {
      this.deleteLoading = true
      this.saveData(this.formData)
    },
    async deleteItem () {
      this.deleteLoading = true
      this.deleteData()
    }
  }
}
</script>
