<template>
  <v-container fluid class="mt-0 pt-0">
    <v-layout wrap justify-center align-center>
      <v-flex xs12 md11>
        <students-table
          @rowClicked="EditItem"
          :headers="headers"/>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import { mapGetters, mapMutations } from 'vuex'
export default {
  data: () => ({
    dialog: false,
    form: [],
    headers: [
      {
        text: 'Student Id',
        align: 'center',
        sortable: true,
        value: 'student_id_number',
        title: 'Academic School Year',
        icon: 'mdi-school',
        name: 'guidance-student-academic-filter',
        field: ''
      },
      {
        text: 'Name',
        align: 'center',
        sortable: true,
        value: 'name',
        title: 'Program',
        icon: 'local_library',
        name: 'guidance-student-program-filter',
        field: ''
      },
      {
        text: 'Gender',
        align: 'center',
        sortable: true,
        value: 'gender',
        title: 'Year Level',
        icon: 'show_chart',
        name: 'guidance-student-level-filter',
        field: ''
      },
      {
        text: 'Email',
        align: 'center',
        sortable: true,
        value: 'email',
        title: 'Semester',
        icon: 'collections_bookmark',
        name: 'guidance-student-semester-filter',
        field: ''
      },
      {
        text: 'Program',
        align: 'center',
        sortable: true,
        value: 'program_code',
        title: 'Status',
        icon: 'poll',
        name: 'guidance-student-status-filter',
        field: ''
      },
      {
        text: 'Year Level',
        align: 'center',
        sortable: true,
        value: 'year_level'
      },
      {
        text: 'Status',
        align: 'center',
        sortable: true,
        value: 'status'
      },
      {
        text: 'Section',
        align: 'center',
        sortable: true,
        value: 'section'
      }
    ],
    isDialog: false
  }),
  methods: {
    ...mapMutations('filters', ['RESET_FILTERS', 'SET_SEARCH']),
    ...mapMutations('user', ['setRegistrar']),
    ...mapMutations('students', ['setCurriculum', 'setRevision']),
    close () {
      this.dialog = false
    },
    EditItem (val) {
      let curriculum = {
        curriculum_code: null,
        id: null
      }
      let curriculumItem = val.curriculum ? val.curriculum : curriculum
      this.setCurriculum(curriculumItem)
      let revision = {
        revision_no: null,
        id: null
      }
      let revisionItem = !global._.isNull(val.curriculum_revision) ? val.curriculum_revision : revision
      this.setRevision(revisionItem)
      this.setRegistrar(val)
      this.$router.push({ name: 'guidance-student-form', params: { type: `${val.status}` } })
      this.form = [val]
      this.isDialog = true
    },
    resetFilters () {
      this.RESET_FILTERS()
      this.setSearch = ''
    }
  },
  computed: {
    ...mapGetters('filters', ['search']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        return this.SET_SEARCH(value)
      }
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.resetFilters()
    })
  }
}
</script>
