<template>
<v-container fluid
  v-scroll="onScroll">
  <v-layout wrap>
    <v-flex xs12>
      <floating-card
        v-if="type === 'Enrollment'"
        class="mt-2" :titles="floatingTitle" />
      <floating-card
        v-if="type === 'Entrance Exam'"
        class="mt-2" :titles="entranceFloatingTitle" />
      <floating-card
        v-if="type === 'Student'"
        class="mt-2" :titles="studentTitle" />

      <v-card
        class="px-2 my-5"
        style="border: 1px solid #b5b3b3;">
        <v-flex xs12>
          <basic-info
           :studentItem="registrar"
          />
        </v-flex>

        <v-tabs
          v-model="tab"
          background-color="transparent"
          grow
          show-arrows
        >
          <v-tab
            v-for="(item, index) in items"
            :key="index"
          >
            {{ item.title }}
          </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item
            v-for="(item, index) in items"
            :key="index"
          >
            <v-card
              flat
            >
            <keep-alive>
              <spdi-tab
                ref="spdi"
                :isLoading="isLoading"
                :tab="item"
                :fields="fields"
                :form="form"
                :personalfields="personalfields"
                :fathersFields="fathersFields"
                :mothersFields="mothersFields"
                :guardianFields="guardianFields"
                :careerFields="careerFields"
                :checklistFields="checklistFields"
                :educationFields="educationFields"
                :personalForm="personalForm"
                :personalErrors="personalErrors"
                :fathersForm="fathersForm"
                :mothersForm="mothersForm"
                :guardiansForm="guardiansForm"
                :educationForm="educationForm"
                :careerForm="careerForm"
                :checklistForm="checklistForm"
                v-if="tab === getTabIndex('Student Personal Data Inventory (SPDI)')"
              />
            </keep-alive>

            <keep-alive>
              <requirements-tab
                v-if="tab === getTabIndex('Requirements') && (type !== 'Entrance Exam')"
                :userId="registrar.user_info.id"
                :isGoodMoral="isGoodMoral"
                @checkMoral="checkMoral"
            />
            </keep-alive>
            </v-card>
          </v-tab-item>
        </v-tabs-items>

        <remarks-dialog
          :showDialog="dialog"
          @close="close"
          :title="title"
          @submit="submit"
          :items="checklist"
          @checkItem="checkItem"
          :isChecklist="true"
        />

        <v-card-actions
          class="my-5"
          v-if="(pickedTab !== 'Student Personal Data Inventory (SPDI)') && (type === 'Enrollment')">
          <v-spacer />
          <v-btn
            dark
            width="150px"
            color="green"
            :loading="approvalLoading"
            @click="approval(0)">
            Approved
          </v-btn>
          <v-btn
            dark
            width="150px"
            color="red"
            :loading="disapprovalLoading"
            @click="disapproval(1)">
            Disapproved
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>

  <v-snackbar
    top
    right
    v-model="isSnackbar"
    :color="color"
    class="caption">
    <v-card-actions class="ma-0 pa-0">
      {{ text }}
      <v-spacer />
      <v-btn
        color="white"
        text
        icon
        right
        @click="isSnackbar = false"
        class="caption">
        <v-icon>clear</v-icon>
      </v-btn>
    </v-card-actions>
  </v-snackbar>

  <scroll-btn
    v-show="offsetTop > 1"
    @scrollPage="getTopPage()"
    icon="mdi-chevron-up"
    color="accent"
  />
</v-container>
</template>
<script>
import tabQueryMixins from '@/mixins/queries/admin/tabQueries'
import defaultMixins from '@/mixins/index'
import formMixins from '@/mixins/form'
import fieldsMixins from '@/mixins/arraylist/personnel/fields-list'
import spdiMixins from '@/mixins/admin/spdi.js'
import { mapGetters, mapActions, mapMutations } from 'vuex'
import { GET_ENROLLMENT_EXAM } from '@/graphql/queries'
import { GET_EVALUATION_STATUS } from '@/graphql/admin/queries'
export default {
  mixins: [
    defaultMixins,
    formMixins,
    fieldsMixins,
    tabQueryMixins,
    spdiMixins
  ],
  data () {
    return {
      offsetTop: 0,
      floatingTitle: [{
        name: 'Enrollment Form',
        icon: 'event',
        color: 'accent',
        flex: 'xs12'
      }],
      entranceFloatingTitle: [{
        name: 'Entrance Form',
        icon: 'event',
        color: 'accent',
        flex: 'xs12'
      }],
      studentTitle: [{
        name: 'Student Form',
        icon: 'event',
        color: 'accent',
        flex: 'xs12'
      }],
      tab: null,
      dialog: false,
      title: '',
      model: '',
      items: [
        {
          title: 'Student Personal Data Inventory (SPDI)',
          tabs: [
            {
              title: 'Personal Information',
              update: ''
            },
            {
              title: 'Family Information',
              update: ''
            },
            {
              title: 'Educational Background',
              update: ''
            }
          ]
        }
      ],
      form: [],
      isSnackbar: false,
      text: '',
      color: '',
      pickedTab: '',
      isGoodMoral: true,
      checklist: [],
      approvalId: null,
      isLoading: false,
      selectedItems: [],
      availableItems: [],
      selectedloading: false,
      availableLoading: false,
      skipSelectedSchedQuery: true,
      skipAvailableSchedQuery: true,
      fathersForm: [
      {
        fathers_name: '',
        fathers_age: '',
        fathers_contact_no: '',
        fathers_occupation: '',
        father_works_abroad: ''
      }],
      mothersForm: [
      {
        mothers_name: '',
        mothers_age: '',
        mothers_contact_no: '',
        mothers_occupation: '',
        mother_works_abroad: ''
      }],
      guardiansForm: [
      {
        guardians_name: '',
        relation: '',
        contact_no: '',
        address: '',
        annual_income: ''
      }],
      educationForm: [
      {
        elementary_school: '',
        elem_year_graduated: '',
        high_school: '',
        high_school_year_graduated: '',
        last_school_attended: '',
        last_sy_attended: '',
        last_year_level_attended: '',
        last_sem_attended: ''
      }],
      careerForm: [
      {
        first_choice: '',
        second_choice: '',
        third_choice: '',
        major: ''
      }],
      checklistForm: [
      {
        confidence: '',
        study_habits: '',
        work_schedule: '',
        diet: '',
        family: '',
        health: '',
        finances: '',
        not_interested: '',
        appearance: '',
        class_schedule: '',
        undecided: '',
        concentration: '',
        friends: '',
        privacy: '',
        others: '',
        other_field: ''
      }],
      personalForm: [
      {
        address: '',
        civil_status: '',
        religion: '',
        contact: '',
        social_account: '',
        student_id_number: ''
      }],
      approvalLoading: false,
      disapprovalLoading: false,
      personalErrors: {}
    }
  },
  computed: {
    ...mapGetters('user', ['registrar', 'user']),
    ...mapGetters('form', ['isViewChecked']),
    ...mapGetters('applicants', ['isTitled']),
    status () {
      return this.$route.params.status
    }
  },
  watch: {
    tab (val) {
      this.pickedTab = this.items[val].title
    }
  },
  methods: {
    ...mapActions('applicants', ['POST_APPROVALS']),
    ...mapMutations('form', ['setIsViewForm', 'setIsViewChecked']),
    onScroll (e) {
      this.offsetTop = window.pageYOffset || document.documentElement.scrollTop
    },
    close () {
      this.dialog = false
    },
    approval (val) {
      this.approvalId = val
      this.dialog = true
      this.title = 'Approve'
    },
    disapproval (val) {
      this.approvalId = val
      this.dialog = true
      this.title = 'Disapprove'
    },
    submit (remarks) {
      if (this.approvalId === 1) {
        const hasItem = this.checklist.filter(item => item.disabled === false)
        if (hasItem) {
          const mapitems = hasItem.map(item => item.title)
          let payload = {
            type: this.registrar.submission_type,
            user_type_id: this.user.user_type_id,
            not_approved_files: String(mapitems),
            icon: 'mdi-close-circle',
            reason: remarks,
            user_id: this.registrar.user_info ? this.registrar.user_info.id : null,
            status: 'Disapproved'
          }
          this.postApprovals(payload)
        }
      } else {
        let payload = {
          type: this.registrar.submission_type,
          user_type_id: this.user.user_type_id,
          icon: 'mdi-check-circle',
          user_id: this.registrar.user_info ? this.registrar.user_info.id : null,
          reason: '',
          status: 'Approved'
        }
        this.postApprovals(payload)
      }
      this.dialog = false
    },
    postApprovals (payload) {
      if (this.title === 'Approve') {
        this.approvalLoading = true
      } else {
        this.disapprovalLoading = true
      }
      this.POST_APPROVALS(payload).then(data => {
        if (this.registrar.submission_type === 'Enrollment') {
          this.$router.push({ name: 'guidance-enroll-academic-filter' })
        } else {
          this.$router.push({ name: 'guidance-entrance-academic-filter' })
        }
      }).catch(data => {
        console.log(data)
      }).finally(() => {
        if (this.title === 'Approve') {
          this.approvalLoading = false
        } else {
          this.disapprovalLoading = false
        }
      })
    },
    checkMoral (val) {
      if (val) {
        this.addItem('Good Moral Character Certificate')
      } else {
        this.removeItem('Good Moral Character Certificate')
      }
    },
    fetchStudentInfo () {
      let id = global._.isUndefined(this.registrar) ? null : this.registrar.user_info.id
      if (!global._.isNull(id)) {
        this.$apollo.query({
          query: GET_ENROLLMENT_EXAM,
          variables: {
            id: id
          }
        }).then(({ data, loading }) => {
          this.isLoading = loading
          if (data.studentInfo) {
            let self = this
            if (!global._.isNull(data.studentInfo.requirements)) {
              global._.forEach(data.studentInfo.requirements, function (val) {
                self.getFiles(['Good Moral Character Certificate (original)'], val.user_id, val.file_name)
              })
            }
            let payload = {
              id: id,
              icon: 'mdi-check-circle'
            }
            if (data.studentInfo.student_info) {
              let personalItems = global._.merge(data.studentInfo.spdi_checklist, data.studentInfo.student_info)
              this.setPersonalData(payload, personalItems)
            } else {
              this.setPersonalData(payload, data.studentInfo.spdi_checklist)
            }
            this.setFamData(payload, data.studentInfo.spdi_family_bg)
            this.setEducData(payload, data.studentInfo.spdi_education_bg)
          }
        })
        .catch(error => {
          if (error.graphQLErrors) {
            console.log('graphQLErrors:', error.graphQLErrors)
          }
          if (error.networkError) {
            console.log('networkError:', error.networkError)
          }
          if (error.ServerError) {
            console.log('ServerError:', error.ServerError)
          }
        })
      }
    },
    fetchEvaluation () {
      let id = global._.isUndefined(this.registrar) ? null : this.registrar.user_info.id
      if (!global._.isNull(id)) {
        this.$apollo.query({
          query: GET_EVALUATION_STATUS,
          variables: {
            user_id: id
          }
        }).then(({ data, loading }) => {
          if (!global._.isNull(data.userEvaluation)) {
            if (data.userEvaluation.guidance_icon === 'mdi-check-circle') {
              this.setIsViewChecked(false)
            } else {
              this.setIsViewChecked(true)
            }
          } else {
            this.setIsViewChecked(false)
          }
        })
        .catch(error => {
          if (error.graphQLErrors) {
            console.log('graphQLErrors:', error.graphQLErrors)
          }
          if (error.networkError) {
            console.log('networkError:', error.networkError)
          }
          if (error.ServerError) {
            console.log('ServerError:', error.ServerError)
          }
        })
      }
    },
    addTab () {
      if (this.type !== 'Entrance Exam') {
        const tabExist = this.items.find(item => item.title === 'Requirements')
        if (global._.isUndefined(tabExist)) {
          this.items.push(
            {
              title: 'Requirements'
            }
          )
        }
      }
    }
  },
  mounted () {
    this.addTab()
    this.fetchEvaluation()
    this.isStudent()
    this.fetchStudentInfo()
    this.setIsViewForm(false)
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.addTab()
      vm.isStudent()
      vm.fetchStudentInfo()
      vm.fetchEvaluation()
    })
  }
}
</script>
