<template>
  <v-container fluid class="mt-0 pt-0">
    <v-layout wrap justify-center align-center>

      <v-flex xs12 md11>
        <applicants-table
          ref="table"
          :items="items"
          @rowClicked="ItemClicked($event)"
          :headers="headers"
          :title="title"
          :potentialEnrolleesCount="count"
          :titleInfo="titleInfo"
          :showSelect="showSelect"
          @select="getSelected"
          @add="openEmail"
          :addLoading="emailLoading"
          textStyle="caption"
          :isAdd="isAdd"
          :loading="entranceLoading"
          @tableOptions="tableOptions"
          @openHistory="openHistory"
          />
      </v-flex>

      <email-dialog
        :showDialog="emailDialog"
        @close="closeEmail"
        :linkInput="true"
        :items="checklist"
        @accept="sendEmail"
        @declined="sendDeclinedEmail"
        :acceptLoading="acceptLoading"
        :declinedLoading="declinedLoading"
        @checkItem="checkEmailItem"
        :isAccepted="isCheckedAll"
        :isDeclined="!isCheckedAll"
        @input="Input"
      />

      <history-dialog
        :showDialog="historyDialog"
        @close="historyDialog = false"
        :loading="enrollHistoryLoading"
        :count="countHistory"
        :skip="skipHistory"
        :take="takeHistory"
        :items=enrollHistoryItems
        :name="historyName"
        :headers="historyHeaders"
      />

      <v-snackbar
        top
        right
        v-model="isSnackbar"
        :color="color"
        class="caption"
        timeout="1500">
        <v-card-actions class="ma-0 pa-0">
          {{ text }}
          <v-spacer />
          <v-btn
            color="white"
            text
            icon
            right
            @click="isSnackbar = false"
            class="caption">
            <v-icon>clear</v-icon>
          </v-btn>
        </v-card-actions>
      </v-snackbar>
    </v-layout>
  </v-container>
</template>
<script>
import formMixins from '@/mixins/form'
import { mapMutations, mapActions, mapGetters } from 'vuex'
import defaultMixins from '@/mixins/index'
import entranceListsMixins from '@/mixins/arraylist/admin/entrance-list'
import entranceMixins from '@/mixins/admin/entrance'
import entranceQueryMixins from '@/mixins/queries/applicant/entranceQueries'
export default {
  mixins: [
    defaultMixins,
    entranceQueryMixins,
    entranceListsMixins,
    entranceMixins,
    formMixins
  ],
  data: () => ({
    title: 'Send Email',
    dialog: false,
    titleInfo: [
      {
        name: 'Entrance Exam Applicants',
        icon: 'people',
        color: 'accent',
        flex: 'xs12',
      }
    ],
    headers: [
      {
        text: 'Application No.',
        align: 'center',
        sortable: true,
        value: 'aplication_no',
        title: 'Academic School Year',
        icon: 'mdi-school',
        name: 'guidance-entrance-academic-filter',
        field: ''
      },
      {
        text: 'Name',
        align: 'center',
        sortable: true,
        value: 'name',
        title: 'Program',
        icon: 'local_library',
        name: 'guidance-entrance-program-filter',
        field: ''
      },
      {
        text: 'Program',
        align: 'center',
        sortable: true,
        value: 'program_code'
      },
      {
        text: 'Type',
        align: 'center',
        sortable: true,
        value: 'applicant_status',
        title: 'Status',
        icon: 'assignment_turned_in',
        name: 'guidance-entrance-status-filter',
        field: ''
      },
      {
        text: 'Status',
        align: 'center',
        sortable: true,
        value: 'user_status',
        title: 'Entrance Status',
        icon: 'fact_check',
        name: 'guidance-entrance-exam-status-filter',
        field: ''
      },
      {
        text: 'Submission',
        align: 'center',
        sortable: true,
        value: 'submission_type',
        title: '',
        icon: '',
        name: '',
        field: ''
      },
      {
        text: 'Dean',
        align: 'center',
        sortable: true,
        value: 'dean_icon'
      },
      {
        text: 'Guidance',
        align: 'center',
        sortable: true,
        value: 'guidance_icon'
      },
      {
        text: 'Finance',
        align: 'center',
        sortable: true,
        value: 'finance_icon'
      },
      {
        text: 'Email Status',
        align: 'center',
        sortable: true,
        value: 'email_status'
      },
      {
        text: 'Remarks',
        align: 'center',
        sortable: true,
        value: 'remarks_action'
      }
    ],
    items: [],
    ids: [],
    isAdd: false,
    showSelect: false,
    count: null,
    isSnackbar: false,
    color: '',
    text: '',
    emailLoading: false,
    skipEntranceQuery: false,
    entranceLoading: false,
    entranceIds: [],
    skip: 0,
    take: 10,
    emailDialog: false,
    declinedLoading: false,
    acceptLoading: false,
    approvalId: 1,
    isCheckedAll: false,
    historyDialog: false,
    enrollHistoryLoading: false,
    countHistory: 0,
    skipHistory: 0,
    takeHistory: 10,
    enrollHistoryItems: [],
    historyName: '',
    others_model: ''
  }),
  computed: {
    ...mapGetters('filters', ['program_id', 'search', 'status', 'academic_year_id', 'entrance_status']),
    ...mapGetters('user', ['user', 'registrar']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        return this.SET_SEARCH(value)
      }
    }
  },
  mounted () {
    if (this.userType === 8 || this.userType === 7) {
      this.isAdd = true
      this.showSelect = true
    } else {
      this.isAdd = false
      this.showSelect = false
    }
  },
  watch: {
    program_id (val) {
      this.getEntranceApplicants(this.skip,this.take)
    },
    academic_year_id (val) {
      this.getEntranceApplicants(this.skip,this.take)
    },
    entrance_status (val) {
      this.getEntranceApplicants(this.skip,this.take)
    },
    status (val) {
      this.getEntranceApplicants(this.skip,this.take)
    },
    setSearch (val) {
      this.getEntranceApplicants(this.skip,this.take)
    }
  },
  methods: {
    ...mapMutations('user', ['setRegistrar']),
    ...mapMutations('applicants', ['setTitle']),
    ...mapActions('applicants', ['POST_EMAIL', 'POST_APPROVALS']),
    tableOptions (payload) {
      this.getEntranceApplicants(payload.skip,payload.take)
    },
    ItemClicked (val) {
      this.setRegistrar(val)
      this.$router.push({ name: 'guidance-applicant-form', params: { type: `${val.user_status}` } })
    },
    getSelected (ids) {
      this.entranceIds = ids
      let applicant_info = []
      global._.forEach(ids, function(value) {
        applicant_info.push({
          id: value.user_info.id
        })
      })
      this.ids = applicant_info
      this.resetChecklist()
    },
    Input (val) {
      this.others_model = val
    },
    openHistory (val) {
      this.historyDialog = true
      this.historyName = val.name
      if (!global._.isNull(val.applicant_remarks)) {
        this.enrollHistoryItems = val.applicant_remarks
        this.countHistory = Number(val.applicant_remarks.length)
      }
    },
    openEmail () {
      this.emailDialog = true
      this.resetChecklist()
    },
    closeEmail () {
      this.emailDialog = false
      this.resetChecklist()
    },
    sendDeclinedEmail () {
      let self = this
      const mapitems = this.checklist.filter(item => item.disabled === true && item.title !== 'Others')
      const sortItems = mapitems.map(item => item.title)
      let items = String(sortItems)
      const size = this.checklist.filter(item => item.disabled === false).length
      let payload = {
        ids: this.ids,
        user_type_id: this.user.user_type_id,
        status: 'Disapproved',
        acceptance_requirements: size < 8 ? (!global._.isEmpty(this.others_model) ? `${items},${this.others_model}` : items) : ''
      }
      if(this.ids.length > 0) {
        this.declinedLoading = true
        this.POST_EMAIL(payload).then(data => {
          this.snackbar(`${data.data}`, 'success')
          this.declinedLoading = false
          this.emailDialog = false
          global._.forEach(this.entranceIds, function(val) {
            let payload = {
              type: val.submission_type,
              user_type_id: self.user.user_type_id,
              files: String(sortItems),
              icon: 'mdi-close-circle',
              user_id: val.user_info ? val.user_info.id : null,
              reason: '',
              status: 'Disapproved'
            }
            self.postApprovals(payload)
          })
        })
      } else {
        this.snackbar(`Please check Applicant/s`, 'info')
      }
    },
    sendEmail () {
      let self = this

      let payload = {
        ids: this.ids,
        user_type_id: this.user.user_type_id,
        status: 'Approved',
        acceptance_requirements: ''
      }

      if(this.ids.length > 0) {
        this.acceptLoading = true
        this.POST_EMAIL(payload).then(data => {
          this.snackbar(`${data.data}`, 'success')
          this.acceptLoading = false
          this.emailDialog = false
          global._.forEach(this.entranceIds, function(val) {
            let payload = {
              type: val.submission_type,
              user_type_id: self.user.user_type_id,
              icon: 'mdi-check-circle',
              user_id: val.user_info ? val.user_info.id : null,
              reason: '',
              status: 'Approved'
            }
            self.postApprovals(payload)
          })
        })
      } else {
        this.snackbar(`Please check Applicant/s`, 'info')
      }
    },
    postApprovals (payload) {
      this.POST_APPROVALS(payload).then(data => {
        this.skipEntranceQuery = false
        this.$apollo.queries.filterEntranceExamMIS.refetch()
      }).catch(data => {
        console.log(data)
      })
    },
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.skipEntranceQuery = false
      const title = vm.titleInfo.find(item => item.name)
      vm.setTitle(title.name)
    })
  }
}
</script>
