<template>
<v-container fluid class="mt-0 pt-0">
	<v-layout wrap justify-center align-center>
    <v-flex xs12 md11>
      <v-card flat>
        <header-component
          :isSearch="true"
          :isFilter="true"
          @enter="doSearch"
          :isAdd="true"
          label="Search Room"
          btnTitle="Add Room"
          hint="Enter Room"
          @clear="clear()"
          @reset="resetFilters()"
          :isSwitched="isSwitched"
          @openFilter="openFilter()"
          @closeFilter="closeFilter()"
          @clickDialog="addClicked"
          :filterItems="headers"
        />
      
         <floating-card :titles="titleInfo" />
         <v-card class="my-8">
          <v-card-title class="my-5" />
            <v-layout wrap>
              <v-flex xs12>
                <v-data-table
                  :headers="headers"
                  :items="dataList"
                  :page.sync="page"
                  :items-per-page="itemsPerPage"
                  @page-count="pageCount = $event"
                  :options.sync="options"
                  :server-items-length="count"
                  hide-default-footer
                  :loading="loading"
                  loading-text="Loading... Please wait"
                  fixed-header
                  ref="table"
                  @click:row="editItem($event)"
                >
                </v-data-table>
              </v-flex>
              <v-flex xs12 class="text-center pt-3 pb-0">
                <v-pagination
                  v-show="pageCount > 1"
                  v-model="page"
                  :length="pageCount"
                  :total-visible="10"
                ></v-pagination>
              </v-flex>
              <v-flex xs12>
                <v-card-actions
                  v-show="count > 0">
                  <v-spacer />
                  <small>Total of <span class="blue--text">{{ count }} </span> <span>{{ dataList.length > 1 ? 'Items' : 'Item'}}</span></small>
                </v-card-actions>
              </v-flex>
            </v-layout>
         </v-card>
      </v-card>
    </v-flex>
  </v-layout>

  <room-dialog
    :formData="formData"
    :showDialog="dialog"
    @close="close"
    @refetch="refetch"
    :isEdit="isEdit"
    :id="roomId"
  />
  <v-snackbar
    top
    right
    v-model="isSnackbar"
    :color="color"
    class="caption">
    <v-card-actions class="ma-0 pa-0">
      {{ text }}
      <v-spacer />
      <v-btn
        color="white"
        text
        icon
        right
        @click="isSnackbar = false"
        class="caption">
        <v-icon>clear</v-icon>
      </v-btn>
    </v-card-actions>
  </v-snackbar>
</v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import defaultMixins from '@/mixins/index'
import { mapGetters, mapMutations } from 'vuex'
import classQueryMixins from '@/mixins/queries/admin/classQueries'
import roomQueriesMixins from '@/mixins/queries/admin/roomQueries'
export default {
  mixins: [
    classQueryMixins,
    defaultMixins,
    formMixins,
    roomQueriesMixins
  ],
  data: () => ({
    isSwitched: false,
    loading: false,
    dialog: false,
    formData: [],
    formItem: {
      curriculum_id: '',
      semester_id: '',
      room_name: '',
      capacity: ''
    },
    headers: [
      {
        text: 'Rooms',
        align: 'center',
        sortable: true,
        value: 'number',
        title: 'Academic School Year',
        icon: 'mdi-school',
        name: 'registrar-rooms-year-filter',
        field: ''
      },
      {
        text: 'Capacity',
        align: 'center',
        sortable: true,
        value: 'capacity',
        title: 'Semester',
        icon: 'collections_bookmark',
        name: 'registrar-rooms-semester-filter',
        field: ''
      },
      {
        text: 'Students',
        align: 'center',
        sortable: true,
        value: 'count_student',
        title: 'Room',
        icon: 'room',
        name: 'registrar-room-filter',
        field: ''
      },
      {
        text: 'No. of Classes',
        align: 'center',
        sortable: true,
        value: 'count_class'
      },
      {
        text: 'Programs',
        align: 'center',
        sortable: true,
        value: 'count_program'
      }
    ],
    titleInfo: [
      {
        name: 'Rooms',
        icon: 'room',
        color: 'accent',
        flex: 'xs12'
      }
    ],
    skip: 0,
    take: 10,
    count: 0,
    dataList: [],
    saveLoading: false,
    deleteLoading: false,
    isSnackbar: false,
    color: '',
    text: '',
    isEdit: false,
    roomId: null,
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    options: {},
    currPage: null,
    prevPage: null,
    skipItems: null,
    takeItems: null
  }),
  computed: {
    ...mapGetters('filters', ['search', 'academic_year_id', 'semester_id', 'room']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        this.$apollo.queries.roomsFilterFetch.refetch()
        return this.SET_SEARCH(value)
      }
    }
  },
  watch: {
    options: {
      handler (old, newx) {
        this.skipItems = global._.isUndefined(newx.itemsPerPage) ? 0 : newx.itemsPerPage
        this.takeItems = old.itemsPerPage
        this.prevPage = global._.isUndefined(newx.page) ? 0 : newx.page
        this.currPage = old.page
        let skip = this.sortSkipped(this.skipItems, this.currPage, old.itemsPerPage)
        let take = old.itemsPerPage
        this.skip = skip
        this.take = take
        this.$apollo.queries.roomsFilterFetch.refetch()
      },
      deep: true
    },
    semester_id (val) {
      this.page = 1
      this.$apollo.queries.roomsFilterFetch.refetch()
    },
    academic_year_id (val) {
      this.page = 1
      this.$apollo.queries.roomsFilterFetch.refetch()
    },
    room (val) {
      this.page = 1
      this.$apollo.queries.roomsFilterFetch.refetch()
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_SEARCH','RESET_FILTERS']),
    resetFilters () {
      this.RESET_FILTERS()
      this.clear()
    },
    refetch (val) {
      if (!global._.isEmpty(val.message)) {
        this.snackbar(`${val.message}`, `${val.status}`)
      }
      if (!global._.isEmpty(val.room)) {
        // // if edit item
        const currItem = this.dataList.find(item => Number(item.id) === Number(val.room.id))
        const itemIndex = this.dataList.indexOf(currItem)
        if (itemIndex !== -1) {
          this.$delete(this.dataList, itemIndex)
        }
      }
      this.$apollo.queries.roomsFilterFetch.refetch()
    },
    close () {
      this.dialog = false
    },
    clear () {
      this.setSearch = ''
    },
    openFilter () {
      this.isSwitched = true
    },
    closeFilter () {
      this.isSwitched = false
    },
    doSearch (val) {
      this.setSearch = val
    },
    addClicked () {
      this.formData = Object.assign({}, this.formItem)
      this.isEdit = false
      this.dialog = true
    },
    editItem (item) {
      this.roomId = item.id
      this.formData = Object.assign({}, item)
      this.isEdit = true
      this.dialog = true
    },
    onScroll (e) {
      const tableHeight = (this.$refs.table.$el.offsetHeight) - (e.srcElement.offsetHeight + 50)
      if (e.srcElement.scrollTop > tableHeight && !this.loading) {
        this.loading = true
        this.take++
        this.$apollo.queries.roomsFilterFetch.refetch()
      } else {
        this.take--
        this.$apollo.queries.roomsFilterFetch.refetch()
      }
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.resetFilters()
    })
  }
}
</script>
