<template>
<v-container fluid class="mt-0 pt-0">
  <v-layout wrap justify-center align-center>
    <v-flex xs12 md11>
      <v-card flat>
        <header-component
          :isSearch="true"
          :isFilter="true"
          :isAdd="true"
          :isExport="false"
          @enter="doSearch"
          label="Search Section"
          hint="Enter Section"
          btnTitle="Add Section"
          @clickDialog="addItem"
          @clear="clear()"
          @reset="resetFilters()"
          :isSwitched="isSwitched"
          @openFilter="openFilter()"
          @closeFilter="closeFilter()"
          :filterItems="headers"
        />

         <floating-card :titles="titleInfo" />
         <v-card class="my-8">
          <v-card-title class="my-5" />
            <v-layout wrap>
              <v-flex xs12>
                <v-data-table
                  :headers="headers"
                  :items="sectionItems"
                  :page.sync="page"
                  :items-per-page="itemsPerPage"
                  @page-count="pageCount = $event"
                  hide-default-footer
                  :options.sync="options"
                  :server-items-length="count"
                  :loading="sectionLoading"
                  loading-text="Loading... Please wait"
                  fixed-header
                  ref="table"
                  @click:row="editItem($event)"
                >
                </v-data-table>
              </v-flex>
              <v-flex xs12 class="text-center pt-3 pb-0">
                <v-pagination
                  v-show="pageCount > 1"
                  v-model="page"
                  :length="pageCount"
                  :total-visible="10"
                ></v-pagination>
              </v-flex>
              <v-flex xs12>
                <v-card-actions
                  v-if="count > 0">
                  <v-spacer />
                  <small>Total of <span class="blue--text">{{ count }} </span> <span>{{ sectionItems.length > 1 ? 'Items' : 'Item'}}</span></small>
                </v-card-actions>
              </v-flex>
            </v-layout>

            <section-dialog
              :formData="formData"
              :showDialog="dialog"
              @close="close"
              @refetch="refetch"
              :isEdit="isEdit"
              :id="sectionId"
            />

          <v-snackbar
            top
            right
            v-model="isSnackbar"
            :color="color"
            class="caption">
            <v-card-actions class="ma-0 pa-0">
              {{ text }}
              <v-spacer />
              <v-btn
                color="white"
                text
                icon
                right
                @click="isSnackbar = false"
                class="caption">
                <v-icon>clear</v-icon>
              </v-btn>
            </v-card-actions>
          </v-snackbar>
         </v-card>
      </v-card>
    </v-flex>
  </v-layout>
</v-container>
</template>
<script>
import defaultMixins from '@/mixins/index'
import formMixins from '@/mixins/form'
import { mapGetters, mapMutations } from 'vuex'
import classQueryMixins from '@/mixins/queries/admin/classQueries'
export default {
  mixins: [
    classQueryMixins,
    defaultMixins,
    formMixins
  ],
  data: () => ({
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    items: [],
    loading: false,
    link: '',
    isSwitched: false,
    titleInfo: [
      {
        name: 'Section',
        icon: 'event_seat',
        color: 'accent',
        flex: 'xs12'
      }
    ],
    headers: [
      {
        text: 'Section',
        align: 'center',
        sortable: false,
        value: 'section',
        title: 'Academic Year',
        icon: 'mdi-school',
        name: 'registrar-section-year-filter',
        field: ''
      },
      {
        text: 'Academic Year',
        align: 'center',
        sortable: false,
        value: 'school_year',
        title: 'Program',
        icon: 'local_library',
        name: 'registrar-section-program-filter',
        field: ''
      },
      {
        text: 'Program',
        align: 'center',
        sortable: false,
        value: 'program_code',
        title: 'Year Level',
        icon: 'show_chart',
        name: 'registrar-section-level-filter',
        field: ''
      },
      {
        text: 'Potential Enrollees',
        align: 'center',
        sortable: false,
        value: 'count_potential',
        title: 'Semester',
        icon: 'collections_bookmark',
        name: 'registrar-section-semester-filter',
        field: ''
      },
      {
        text: 'Successful Enrollees',
        align: 'center',
        sortable: false,
        value: 'count_successful',
        title: 'Section',
        icon: 'event_seat',
        name: 'registrar-class-sections-filter',
        field: ''
      }
    ],
    skip: 0,
    take: 10,
    dialog: false,
    form: [],
    formData: [],
    calendarDialog: false,
    formItem: {
      curriculum_id: '',
      program_id: '',
      year_level_id: '',
      semester_id: '',
      section: ''
    },
    isEdit: false,
    isSnackbar: false,
    color: '',
    text: '',
    count: 0,
    sectionItems: [],
    sectionLoading: false,
    sectionId: null,
    currSemesterItems: [],
    skipTeacherQuery: false,
    skipSectionQuery: false,
    skipSectionBySyQuery: true,
    sectionBySyLoading: false,
    rooms: [],
    skipRoomQuery: false,
    ids: {},
    skipCurriculaQuery: true,
    curricula: {},
    skipcurriculumProgramQuery: true,
    skipcurriculumYearLevelQuery: true,
    skipcurriculumSemesterQuery: true,
    skipcurriculumCoursesQuery: true,
    skipsemesterCurriculumQuery: true,
    options: {},
    currPage: null,
    prevPage: null,
    skipItems: null,
    takeItems: null
  }),
  computed: {
    ...mapGetters('filters', ['program_id', 'academic_year_id', 'room', 'course_id', 'units', 'teacher', 'class_code', 'time_from', 'time_to', 'day', 'section', 'course', 'semester_id', 'year_level_id', 'search', 'section']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        this.$apollo.queries.sectionsFilterFetch.refetch()
        return this.SET_SEARCH(value)
      }
    }
  },
  watch: {
    options: {
      handler (old, newx) {
        this.skipItems = global._.isUndefined(newx.itemsPerPage) ? 0 : newx.itemsPerPage
        this.takeItems = old.itemsPerPage
        this.prevPage = global._.isUndefined(newx.page) ? 0 : newx.page
        this.currPage = old.page
        let skip = this.sortSkipped(this.skipItems, this.currPage, old.itemsPerPage)
        let take = old.itemsPerPage
        this.skip = skip
        this.take = take
        this.$apollo.queries.sectionsFilterFetch.refetch()
      },
      deep: true
    },
    program_id (val) {
      this.page = 1
      this.$apollo.queries.sectionsFilterFetch.refetch()
    },
    academic_year_id (val) {
      this.page = 1
      this.$apollo.queries.sectionsFilterFetch.refetch()
    },
    year_level_id (val) {
      this.page = 1
      this.$apollo.queries.sectionsFilterFetch.refetch()
    },
    section (val) {
      this.page = 1
      this.$apollo.queries.sectionsFilterFetch.refetch()
    }
  },
  methods: {
    ...mapMutations('filters', ['RESET_FILTERS', 'SET_SEARCH']),
    resetFilters () {
      this.RESET_FILTERS()
      this.clear()
    },
    clear () {
      this.setSearch = ''
    },
    doSearch (val) {
      this.setSearch = val
    },
    close () {
      this.dialog = false
    },
    refetch (val) {
      if (!global._.isUndefined(val)) {
        if (!global._.isEmpty(val.message)) {
          if (val.deleted_section) {
            this.snackbar(`${val.message}`, 'error')
          } else {
            this.snackbar(`${val.message}`, 'success')
          }
        }
        this.$apollo.queries.sectionsFilterFetch.refetch()
      }
    },
    // onScroll (e) {
    //   const tableHeight = (this.$refs.table.$el.offsetHeight) - (e.srcElement.offsetHeight + 50)
    //   if (e.srcElement.scrollTop > tableHeight && !this.sectionLoading) {
    //     this.sectionLoading = true
    //     this.take++
    //     this.$apollo.queries.sectionsFilterFetch.refetch()
    //   } else {
    //     this.take--
    //     this.$apollo.queries.sectionsFilterFetch.refetch()
    //   }
    // },
    openFilter () {
      this.isSwitched = true
    },
    closeFilter () {
      this.isSwitched = false
    },
    addItem () {
      this.dialog = true
      this.isEdit = false
      this.formData = Object.assign({}, this.formItem)
    },
    editItem (item) {
      this.sectionId = item.id
      this.isEdit = true
      this.dialog = true
      this.formData = Object.assign({}, item)
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.resetFilters()
      vm.skipSectionQuery = false
    })
  }
}
</script>
