<template>
<v-container fluid class="mt-0 pt-0">
  <v-layout wrap justify-center align-center>
    <v-flex xs12 md11>
      <v-card flat>
        <header-component
          :isSearch="true"
          :isFilter="true"
          :isAdd="true"
          :isExport="true"
          @enter="doSearch"
          label="Search Class Code"
          hint="Enter Class Code"
          btnTitle="Add Class"
          @clickDialog="addItem"
          @clear="clear()"
          @reset="resetFilters()"
          :isSwitched="isSwitched"
          @openFilter="openFilter()"
          @closeFilter="closeFilter()"
          :filterItems="headers"
        />

         <floating-card :titles="titleInfo" />
         <v-card class="my-8">
          <v-card-title class="my-5" />
            <v-layout wrap>
              <v-flex xs12>
                <v-data-table
                  :headers="headers"
                  :items="items"
                  :page.sync="page"
                  :items-per-page="itemsPerPage"
                  @page-count="pageCount = $event"
                  hide-default-footer
                  :options.sync="options"
                  :server-items-length="classCount"
                  :loading="loading"
                  loading-text="Loading... Please wait"
                  fixed-header
                  ref="table"
                >
                <template v-slot:top>
                  <v-card-actions
                    class="mb-7 mx-2">
                    <v-spacer />
                    <v-btn
                      v-show="academic_year_id"
                      outlined
                      width="140px"
                      color="accent"
                      class="text-none"
                      @click="calendarDialog = true">
                      View Calendar
                    </v-btn>
                  </v-card-actions>
                  <v-dialog
                    v-model="calendarDialog"
                    scrollable
                    v-esc="escape"
                  >
                    <v-card>
                      <v-card-actions>
                        <v-card-title
                          :class="cardFontSize"
                        >Class Calendar</v-card-title>
                        <v-spacer />
                        <v-btn
                          color="blue darken-1"
                          text
                          @click="calendarDialog = false"
                          class="mx-2"
                        >
                          Close
                        </v-btn>
                      </v-card-actions>
                      <v-divider></v-divider>
                      <v-card-text style="height: 800px;">
                        <calendar
                        :items="items"
                        :dates="curricula" />
                      </v-card-text>
                      <v-divider></v-divider>
                    </v-card>
                  </v-dialog>
                </template>
                <template v-slot:body="{ items }">
                  <tbody>
                    <tr v-for="item in items" :key="item.name"
                      @click="editItem(item)">
                      <td class="text-center">
                        {{ item.class_code }}
                      </td>
                      <td class="text-center">
                        {{ item.course_code }}
                      </td>
                      <td class="text-center">
                        {{ item.program_code }}
                      </td>
                      <td class="text-center"
                        v-if="item.section">
                        <tr v-for="(sectionItem, sectionIndex) in item.section" :key="sectionIndex">
                          <td class="text-center">
                            <v-chip
                              label
                              class="ma-1"
                            >{{ sectionItem }}</v-chip>
                          </td>
                        </tr>
                      </td>
                      <td class="text-center">
                        {{ item.lec_hours }}
                      </td>
                      <td class="text-center"
                        v-if="item.lec_days">
                        <tr v-for="(daysItem, daysIndex) in item.lec_days" :key="daysIndex">
                          <td class="text-center">
                            {{ daysItem }}
                          </td>
                        </tr>
                      </td>
                      <td class="text-center"
                        v-if="item.lec_time">
                        <tr v-for="(timeItem, timeIndex) in item.lec_time" :key="timeIndex">
                          <td class="text-center">
                            <v-chip
                              label
                              class="ma-1"
                            >{{ timeItem }}</v-chip>
                          </td>
                        </tr>
                      </td>
                      <td class="text-center"
                        v-if="item.lec_room">
                        <tr v-for="(roomItem, roomIndex) in item.lec_room" :key="roomIndex">
                          <td class="text-center">
                            {{ roomItem }}
                          </td>
                        </tr>
                      </td>
                      <td class="text-center"
                        v-if="item.lec_instructor">
                        <tr v-for="(instructorItem, instructorIndex) in item.lec_instructor" :key="instructorIndex">
                          <td class="text-center">
                            {{ instructorItem }}
                          </td>
                        </tr>
                      </td>
                      <td class="text-center">
                        {{ item.lab_hours }}
                      </td>
                      <td class="text-center"
                        v-if="item.lab_days">
                        <tr v-for="(labDaysItem, labDaysIndex) in item.lab_days" :key="labDaysIndex">
                          <td class="text-center">
                            {{ labDaysItem }}
                          </td>
                        </tr>
                      </td>
                      <td class="text-center"
                        v-if="item.lab_time">
                        <tr v-for="(labTimeItem, labTimeIndex) in item.lab_time" :key="labTimeIndex">
                          <td class="text-center">
                            <v-chip
                              label
                              class="ma-1"
                            >{{ labTimeItem }}</v-chip>
                          </td>
                        </tr>
                      </td>
                      <td class="text-center"
                        v-if="item.lab_room">
                        <tr v-for="(labRoomItem, labRoomIndex) in item.lab_room" :key="labRoomIndex">
                          <td class="text-center">
                            {{ labRoomItem }}
                          </td>
                        </tr>
                      </td>
                      <td class="text-center"
                        v-if="item.lab_instructor">
                        <tr v-for="(labInstructorItem, labInstructorIndex) in item.lab_instructor" :key="labInstructorIndex">
                          <td class="text-center">
                            {{ labInstructorItem }}
                          </td>
                        </tr>
                      </td>
                    </tr>
                  </tbody>
                </template>
                </v-data-table>
              </v-flex>
              <v-flex xs12 class="text-center pt-3 pb-0">
                <v-pagination
                  v-show="pageCount > 1"
                  v-model="page"
                  :length="pageCount"
                  :total-visible="10"
                ></v-pagination>
              </v-flex>
              <v-flex xs12>
                <v-card-actions
                  v-if='classCount > 0'>
                  <v-spacer />
                  <small>Total of <span class="blue--text">{{ classCount }} </span> <span>{{ items.length > 1 ? 'Items' : 'Item'}}</span></small>
                </v-card-actions>
              </v-flex>
            </v-layout>

            <class-dialog
            :formData="form"
            :showDialog="dialog"
            @close="dialog = false"
            @refetch="refetch"
            :isEdit="isEdit"
            :classType="type"
            :cardLoading="loading"
            :hasStudents="hasStudents"
          />

          <v-snackbar
            top
            right
            v-model="isSnackbar"
            :color="color"
            class="caption">
            <v-card-actions class="ma-0 pa-0">
              {{ text }}
              <v-spacer />
              <v-btn
                color="white"
                text
                icon
                right
                @click="isSnackbar = false"
                class="caption">
                <v-icon>clear</v-icon>
              </v-btn>
            </v-card-actions>
          </v-snackbar>
         </v-card>
      </v-card>
    </v-flex>
  </v-layout>
</v-container>
</template>
<script>
import defaultMixins from '@/mixins/index'
import formMixins from '@/mixins/form'
import { mapGetters, mapMutations } from 'vuex'
import classQueryMixins from '@/mixins/queries/admin/classQueries'
import { GET_CLASS } from '@/graphql/admin/queries'
export default {
  mixins: [
    classQueryMixins,
    defaultMixins,
    formMixins
  ],
  data: () => ({
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    items: [],
    loading: false,
    link: '',
    isSwitched: false,
    titleInfo: [
      {
        name: 'Class',
        icon: 'playlist_add_check',
        color: 'accent',
        flex: 'xs12'
      }
    ],
    headers: [
      {
        text: 'Class Code',
        align: 'center',
        sortable: false,
        value: 'class_code',
        title: 'Academic Year',
        icon: 'mdi-school',
        name: 'registrar-class-year-filter',
        field: ''
      },
      {
        text: 'Course',
        align: 'center',
        sortable: false,
        value: 'course_code',
        title: 'Program',
        icon: 'local_library',
        name: 'registrar-class-program-filter',
        field: ''
      },
      {
        text: 'Program',
        align: 'center',
        sortable: false,
        value: 'program_code',
        title: 'Year Level',
        icon: 'show_chart',
        name: 'registrar-class-level-filter',
        field: ''
      },
      {
        text: 'Section',
        align: 'center',
        sortable: false,
        value: 'section',
        title: 'Semester',
        icon: 'collections_bookmark',
        name: 'registrar-class-semester-filter',
        field: ''
      },
      {
        text: 'Lec/HR',
        align: 'center',
        sortable: false,
        value: 'lec_hours',
        title: 'Room',
        icon: 'room',
        name: 'registrar-class-room-filter',
        field: ''
      },
      {
        text: 'Lec/Days',
        align: 'center',
        sortable: false,
        value: 'lec_days',
        title: 'Units',
        icon: 'fas fa-list-ol',
        name: 'registrar-class-unit-filter',
        field: ''
      },
      {
        text: 'Lec/Time',
        align: 'center',
        sortable: false,
        value: 'lec_time',
        title: 'Section',
        icon: 'event_seat',
        name: 'registrar-class-section-filter',
        field: ''
      },
      {
        text: 'Lec/Room',
        align: 'center',
        sortable: false,
        value: 'lec_room'
      },
      {
        text: 'Lec/Instructor',
        align: 'center',
        sortable: false,
        value: 'lec_instructor'
      },
      {
        text: 'Lab/HR',
        align: 'center',
        sortable: false,
        value: 'lab_hours',
        title: 'Course',
        icon: 'subject',
        name: 'registrar-class-course-filter',
        field: ''
      },
      {
        text: 'Lab/Days',
        align: 'center',
        sortable: false,
        value: 'lab_days'
      },
      {
        text: 'Lab/Time',
        align: 'center',
        sortable: false,
        value: 'lab_time'
      },
      {
        text: 'Lab/Room',
        align: 'center',
        sortable: false,
        value: 'lab_room'
      },
      {
        text: 'Instructor',
        align: 'center',
        sortable: false,
        value: 'lab_instructor'
      }
    ],
    skip: 0,
    take: 10,
    dialog: false,
    form: [],
    calendarDialog: false,
    formItem: {
      curriculum_id: '',
      program_id: '',
      year_level_id: '',
      semester_id: '',
      course_id: '',
      class_code: '',
      day: '',
      time_from: '',
      time_to: ''
    },
    isEdit: false,
    isSnackbar: false,
    color: '',
    text: '',
    classCount: 0,
    skipTeacherQuery: false,
    skipclassWithFilterQuery: false,
    currSemesterItems: [],
    type: '',
    sortNames: [],
    curricula: {},
    skipSectionBySyQuery: true,
    sectionBySyLoading: false,
    rooms: [],
    skipRoomQuery: false,
    ids: {},
    skipCurriculaQuery: true,
    skipcurriculumProgramQuery: true,
    skipcurriculumYearLevelQuery: true,
    skipcurriculumSemesterQuery: true,
    skipcurriculumCoursesQuery: true,
    skipsemesterCurriculumQuery: true,
    skipcalendarQuery: true,
    hasStudents: false,
    options: {},
    currPage: null,
    prevPage: null,
    skipItems: null,
    takeItems: null
  }),
  computed: {
    ...mapGetters('filters', ['program_id', 'academic_year_id', 'room', 'course_id', 'units', 'teacher', 'class_code', 'time_from', 'time_to', 'day', 'section', 'course', 'semester_id', 'year_level_id', 'search']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        return this.SET_SEARCH(value)
      }
    }
  },
  watch: {
    options: {
      handler (old, newx) {
        this.skipItems = global._.isUndefined(newx.itemsPerPage) ? 0 : newx.itemsPerPage
        this.takeItems = old.itemsPerPage
        this.prevPage = global._.isUndefined(newx.page) ? 0 : newx.page
        this.currPage = old.page
        let skip = this.sortSkipped(this.skipItems, this.currPage, old.itemsPerPage)
        let take = old.itemsPerPage
        this.skip = skip
        this.take = take
        this.$apollo.queries.classWithFilter.refetch()
      },
      deep: true
    },
    semester_id (val) {
      this.page = 1
      this.$apollo.queries.classWithFilter.refetch()
    },
    academic_year_id (val) {
      this.page = 1
      this.$apollo.queries.classWithFilter.refetch()
    },
    room (val) {
      this.page = 1
      this.$apollo.queries.classWithFilter.refetch()
    },
    program_id (val) {
      this.page = 1
      this.$apollo.queries.classWithFilter.refetch()
    },
    year_level_id (val) {
      this.page = 1
      this.$apollo.queries.classWithFilter.refetch()
    },
    units (val) {
      this.page = 1
      this.$apollo.queries.classWithFilter.refetch()
    },
    section (val) {
      this.page = 1
      this.$apollo.queries.classWithFilter.refetch()
    },
    course (val) {
      this.page = 1
      this.$apollo.queries.classWithFilter.refetch()
    }
  },
  methods: {
    ...mapMutations('filters', ['RESET_FILTERS', 'SET_SEARCH']),
    escape () {
      this.$emit('close')
    },
    resetFilters () {
      this.RESET_FILTERS()
      this.clear()
    },
    clear () {
      this.setSearch = ''
    },
    doSearch (val) {
      this.setSearch = val
    },
    close () {
      this.form[0] = Object.assign({}, this.formItem)
      this.dialog = false
    },
    refetch (val) {
      if (!global._.isUndefined(val)) {
        if (!global._.isEmpty(val.message)) {
          this.snackbar(`${val.message}`, 'success')
        }
        this.skipclassWithFilterQuery = false
        this.$apollo.queries.classWithFilter.refetch()
      }
    },
    onScroll (e) {
      const tableHeight = (this.$refs.table.$el.offsetHeight) - (e.srcElement.offsetHeight + 50)
      if (e.srcElement.scrollTop > tableHeight && !this.loading) {
        this.loading = true
        this.take++
        this.$apollo.queries.classWithFilter.refetch()
      } else {
        this.take--
        this.$apollo.queries.classWithFilter.refetch()
      }
    },
    openFilter () {
      this.isSwitched = true
    },
    closeFilter () {
      this.isSwitched = false
    },
    addItem () {
      this.dialog = true
      this.isEdit = false
      this.form[0] = Object.assign({}, this.formItem)
    },
    editItem (val) {
      this.hasStudents = val.has_student
      this.isEdit = true
      this.dialog = true
      this.form = [val]
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.resetFilters()
    })
  }
}
</script>
