<template>
  <v-container fluid class="mt-0 pt-0">
    <v-layout wrap justify-center align-center>
      <v-flex xs12 md11>
        <applicants-table
          ref="table"
          :items="items"
          @rowClicked="ItemClicked($event)"
          :headers="headers"
          :potentialEnrolleesCount="count"
          :showSelect="userType === 8 || userType === 9"
          @select="getSelected"
          @doEnroll="doEnroll"
          @openHistory="openHistory"
          :loading="loading"
          @tableOptions="tableOptions"
        />
      </v-flex>
    </v-layout>

    <v-snackbar
      top
      right
      v-model="isSnackbar"
      :color="color"
      class="caption">
      <v-card-actions
        class="ma-0 pa-1 text-break"
        style="max-width: 500px;">
        <span v-if="isNoEnrollee">
          No qualified Enrolles.Please make sure Applicant has a Section and all icons are Checked <v-icon right class="mb-1 mr-4">mdi-check-circle</v-icon>
        </span>
        <span v-else>
          {{ text }}
        </span>
        <v-spacer />
        <v-btn
          color="white"
          text
          icon
          right
          @click="isSnackbar = false"
          class="caption">
          <v-icon>clear</v-icon>
        </v-btn>
      </v-card-actions>
    </v-snackbar>

    <history-dialog
      :showDialog="historyDialog"
      @close="historyDialog = false"
      :loading="enrollHistoryLoading"
      :count="countHistory"
      :skip="skipHistory"
      :take="takeHistory"
      :items=enrollHistoryItems
      :name="historyName"
      :headers="historyHeaders"
    />
  </v-container>
</template>
<script>
import formMixins from '@/mixins/form'
import defaultMixins from '@/mixins/index'
import enrolleeQueryMixins from '@/mixins/queries/applicant/enrolleeQueries'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import historyMixins from '@/mixins/arraylist/admin/history-list'
export default {
  mixins: [
    defaultMixins,
    enrolleeQueryMixins,
    formMixins,
    historyMixins
  ],
  data: () => ({
    dialog: false,
    headers: [
      {
        text: 'Application No.',
        align: 'center',
        sortable: true,
        value: 'aplication_no',
        title: '',
        icon: '',
        name: '',
        field: ''
      },
      {
        text: 'Name',
        align: 'center',
        sortable: true,
        value: 'name',
        title: 'Academic School Year',
        icon: 'mdi-school',
        name: 'registrar-year-filter',
        field: ''
      },
      {
        text: 'Program',
        align: 'center',
        sortable: true,
        value: 'program_code',
        title: 'Program',
        icon: 'local_library',
        name: 'registrar-program-filter',
        field: ''
      },
      {
        text: 'Academic School Year',
        align: 'center',
        sortable: true,
        value: 'school_year',
      },
      {
        text: 'Section',
        align: 'center',
        sortable: true,
        value: 'section',
        title: 'Section',
        icon: 'event_seat',
        name: 'registrar-section-filter',
        field: ''
      },
      {
        text: 'Year Level',
        align: 'center',
        sortable: true,
        value: 'year_level',
        title: 'Year Level',
        icon: 'show_chart',
        name: 'registrar-level-filter',
        field: ''
      },
      {
        text: 'Semester',
        align: 'center',
        sortable: true,
        value: 'semester',
        title: 'Semester',
        icon: 'collections_bookmark',
        name: 'registrar-semester-filter',
        field: ''
      },
      {
        text: 'Status',
        align: 'center',
        sortable: true,
        value: 'user_status',
        title: 'Status',
        icon: 'poll',
        name: 'registrar-status-filter',
        field: ''
      },
      {
        text: 'Submission',
        align: 'center',
        sortable: true,
        value: 'submission_type',
        title: '',
        icon: '',
        name: '',
        field: ''
      },
      {
        text: 'Guidance',
        align: 'center',
        sortable: true,
        value: 'guidance_icon'
      },
      {
        text: 'Clinic',
        align: 'center',
        sortable: true,
        value: 'clinic_icon'
      },
      {
        text: 'Admission',
        align: 'center',
        sortable: true,
        value: 'admission_icon'
      },
      {
        text: 'Dean',
        align: 'center',
        sortable: true,
        value: 'dean_icon'
      },
      {
        text: 'Registrar',
        align: 'center',
        sortable: true,
        value: 'registrar_icon'
      },
      {
        text: 'Finance',
        align: 'center',
        sortable: true,
        value: 'finance_icon'
      },
      {
        text: 'Remarks',
        align: 'center',
        sortable: true,
        value: 'remarks_action'
      }
    ],
    items: [],
    count: 0,
    ids: [],
    isSnackbar: false,
    color: '',
    text: '',
    isNoEnrollee: false,
    historyDialog: false,
    enrollHistoryLoading: false,
    countHistory: 0,
    skipHistory: 0,
    takeHistory: 10,
    enrollHistoryItems: [],
    historyName: '',
    skipEnrolleesQuery: false,
    skip: 0,
    take: 10,
    loading: false
  }),
  computed: {
    ...mapGetters('filters', ['program_id', 'academic_year_id','semester_id', 'year_level_id', 'search', 'status', 'section']),
    ...mapGetters('user', ['user']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        return this.SET_SEARCH(value)
      }
    }
  },
  watch: {
    program_id (val) {
      this.getApplicants(this.skip,this.take)
    },
    academic_year_id (val) {
      this.getApplicants(this.skip,this.take)
    },
    year_level_id (val) {
      this.getApplicants(this.skip,this.take)
    },
    semester_id (val) {
      this.getApplicants(this.skip,this.take)
    },
    status (val) {
      this.getApplicants(this.skip,this.take)
    },
    setSearch (val) {
      this.getApplicants(this.skip,this.take)
    },
    section (val) {
      this.getApplicants(this.skip,this.take)
    }
  },
  methods: {
    ...mapMutations('user', ['setRegistrar']),
    ...mapActions('applicants', ['POST_ENROLEES']),
    ...mapMutations('filters', ['RESET_FILTERS', 'SET_SEARCH']),
    ...mapMutations('students', ['setCurriculum', 'setRevision']),
    tableOptions (payload) {
      this.getApplicants(payload.skip,payload.take)
    },
    doEnroll () {
      // this.enrollDialog = true
      let sortedIds = this.ids.filter(item => {
        if (item.applicant_approve) {
          return item.applicant_approve.admission_icon !== null && item.applicant_approve.clinic_icon !== null && item.applicant_approve.dean_icon !== null && item.applicant_approve.guidance_icon !== null && item.applicant_approve.registrar_icon !== null && item.applicant_approve.finance_icon !== null && item.section !== null
        }
      })
      let applicant_ids = []
      global._.forEach(sortedIds, function(value) {
        applicant_ids.push({
          id: value.id
        })
      })
      let enrollee_ids = applicant_ids
      if (!global._.isEmpty(enrollee_ids)) {
        this.POST_ENROLEES({ids: enrollee_ids}).then(data => {
          this.isNoEnrollee = false
          this.snackbar(`${data.data}`, 'success')
          this.skipEnrolleesQuery = false
          this.$apollo.queries.filterEnrollmentMIS.refetch()
        }).catch(data => {
          console.log(data)
        })
      } else {
        this.isNoEnrollee = true
        this.snackbar('', 'info')
      }
    },
    ItemClicked (val) {
      let curriculum = {
        curriculum_code: null,
        id: null
      }
      let curriculumItem = val.curriculum ? val.curriculum : curriculum
      this.setCurriculum(curriculumItem)
      let revision = {
        revision_no: null,
        id: null
      }
      let revisionItem = !global._.isNull(val.curriculum_revision) ? val.curriculum_revision : revision
      this.setRevision(revisionItem)
      this.setRegistrar(val)
      this.$router.push({ name: 'registrar-applicant-form', params: { type: `${val.user_status}`} })
    },
    getSelected (ids) {
      this.ids = ids
    },
    openHistory (val) {
      this.historyDialog = true
      this.historyName = val.name
      if (!global._.isNull(val.applicant_remarks)) {
        this.enrollHistoryItems = val.applicant_remarks
        this.countHistory = Number(val.applicant_remarks.length)
      }
    },
    resetFilters () {
      this.RESET_FILTERS()
      this.setSearch = ''
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.resetFilters()
      vm.skipEnrolleesQuery = false
    })
  }
}
</script>
