<template>
<v-container fluid>
  <v-layout wrap justify-center align-center>
    <v-flex xs12>
      <data-table
        ref="table"
        :prop="tableData"
        :dataList="items"
        @clicked="Item"
        @scroll="onScroll"
        @add="add()"
        @export="exportData()"
        @approval="approval()"
        @disapproval="disapproval()"
      />
    </v-flex>
  </v-layout>

  <remarks-dialog
    :showDialog="dialog"
    @close="dialog = false"
    :title="remarksTitle"
    v-model="model"
    @submit="submit"
    label="Reasons for Approval/Disapproval:"
  />
</v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import defaultMixins from '@/mixins/index'
export default {
  mixins: [
    formMixins,
    defaultMixins
  ],
  props: {
    isFooter: {
      type: Boolean
    }
  },
  mounted () {
    if (global._.isEmpty(this.form)) {
      this.addFormItem()
    }
  },
  data: () => ({
    dialog: false,
    invokedOffset: 0,
    loading: false,
    id: null,
    form: [],
    errors: {},
    tableData: {
      titleInfo: {
        name: 'Subject Overload',
        icon: 'list_alt'
      },
      headers: [
        {
          text: 'Subjects',
          value: 'subjects',
          sortable: true,
          align: 'center',
          title: '',
          name: '',
          total: true,
          total_title: 'Total No. of Units'
        },
        {
          text: 'Units',
          value: 'units',
          sortable: true,
          align: 'center',
          title: '',
          name: '',
          total_name: true
        }
      ],
      input: {
        skip: 0,
        take: 10
      },
      count: 0,
      maxData: 0,
      isTotal: true,
      isFooter: false,
      isApproval: true,
      isDisapproval: true,
      btnWidth: '150px',
      link: ''
    },
    items: [],
    dialog: false,
    title: '',
    input: {
      course: '',
      year: ''
    },
    remarksTitle: '',
    model: ''
  }),
  created () {
    this.tableData.isFooter = this.isFooter
  },
  methods: {
    Item (val) {
      this.title = 'Edit Subject Overload'
      this.form = []
      this.dialog = true
      this.form = [...val]
    },
    onScroll (e) {
      const tableHeight = (this.$refs.table.$el.offsetHeight) - (e.srcElement.offsetHeight + 50)
      if (e.srcElement.scrollTop > tableHeight && !this.loading) {
        this.loading = true
        this.take++
        // this.$apollo.queries.userFilterFetch.refetch()
      } else {
        this.take--
        // this.$apollo.queries.userFilterFetch.refetch()
      }
    },
    close () {
      this.dialog = false
    },
    add () {
      this.title = 'Add Subject Overload'
      this.dialog = true
    },
    exportData () {
      this.link = ''
    },
    approval () {
      this.dialog = true
      this.remarksTitle = 'Are you sure you want to Approve ?'
    },
    disapproval () {
      this.dialog = true
      this.remarksTitle = 'Are you sure you want to Disapprove ?'
    },
    submit () {
      this.dialog = false
    }
  }
}
</script>
