<template>
  <v-container fluid>
    <v-layout wrap justify-center align-center>
      <v-col xs="12" md="11">
        <header-component
          :isSearch="true"
          :isExport="false"
          :isAdd="false"
          @enter="doSearch"
          label="Search Program"
          hint="Enter Program Name or Code"
          @clear="clear()"
        />
        <floating-card :titles="titleInfo"/>
        <v-card class="my-8">
         <v-card-title class="my-5" />
           <v-layout wrap>
             <v-flex xs12>
               <v-data-table
                  ref="table"
                  :headers="headers"
                  :items="dataList"
                  :page.sync="page"
                  :items-per-page="itemsPerPage"
                  @page-count="pageCount = $event"
                  hide-default-footer
                  :options.sync="options"
                  :server-items-length="count"
                  class="text-table-color font-weight-medium"
                  hide-default-footer
                  :loading="loading"
                  loading-text="Loading... Please wait"
                  @click:row="ViewSchoolYear($event)">
                 <template v-slot:item.program_status="{ item }">
                  <v-chip
                    :color="setColor(item.program_status)"
                    dark
                    label
                  >
                    {{ item.program_status }}
                  </v-chip>
                </template>
               </v-data-table>
              </v-flex>
              <v-flex xs12 class="text-center pt-3 pb-0">
                <v-pagination
                  v-show="pageCount > 1"
                  v-model="page"
                  :length="pageCount"
                  :total-visible="10"
                ></v-pagination>
              </v-flex>
             <v-flex xs12>
             <v-card-actions>
               <v-spacer />
                <small>Total of <span class="blue--text">{{ count }} </span> <span>{{ dataList.length > 1 ? 'Items' : 'Item'}}</span></small>
             </v-card-actions>
             </v-flex>
           </v-layout>
        </v-card>
      </v-col>
    </v-layout>
  </v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import { mapGetters, mapMutations } from 'vuex'
import defaultMixins from '@/mixins/index'
import programQueryMixins from '@/mixins/queries/admin/programQueries'
export default {
  mixins: [
    defaultMixins,
    formMixins,
    programQueryMixins
  ],
  data: () => ({
    loading: false,
    dialog: false,
    headers: [
      {
        text: 'Code',
        value: 'program_code',
        sortable: true,
        align: 'center'
      },
      {
        text: 'Name',
        value: 'program_name',
        sortable: true,
        align: 'center'
      },
      {
        text: 'Status',
        value: 'program_status',
        sortable: true,
        align: 'center'
      }
    ],
    dataList: [],
    form: [],
    color: '',
    text: '',
    isSnackbar: false,
    titleInfo: [{
      name: 'Program',
      icon: 'local_library',
      color: 'accent',
      flex: 'xs12'
    }],
    skip: 0,
    take: 10,
    count: 0,
    skipProgramFilteredQuery: false,
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    options: {},
    currPage: null,
    prevPage: null,
    skipItems: null,
    takeItems: null
  }),
  computed: {
    ...mapGetters('filters', ['search']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        this.$apollo.queries.programsWithFilter.refetch()
        return this.SET_SEARCH(value)
      }
    }
  },
  watch: {
    options: {
      handler (old, newx) {
        this.skipItems = global._.isUndefined(newx.itemsPerPage) ? 0 : newx.itemsPerPage
        this.takeItems = old.itemsPerPage
        this.prevPage = global._.isUndefined(newx.page) ? 0 : newx.page
        this.currPage = old.page
        let skip = this.sortSkipped(this.skipItems, this.currPage, old.itemsPerPage)
        let take = old.itemsPerPage
        this.skip = skip
        this.take = take
        this.$apollo.queries.programsWithFilter.refetch()
      },
      deep: true
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_SEARCH']),
    ...mapMutations('programs', ['SET_PROGRAMS']),
    ViewSchoolYear (val) {
      this.SET_PROGRAMS(val)
      setTimeout(() => {
        this.$router.push({ name: 'finance-programs-school-year' })
      }, 300)
    },
    clear () {
      this.setSearch = ''
    },
    doSearch (val) {
      this.setSearch = val
    },
    close () {
      this.dialog = false
    }
    // onScroll (e) {
    //   const tableHeight = (this.$refs.table.$el.offsetHeight) - (e.srcElement.offsetHeight + 50)
    //   if (e.srcElement.scrollTop > tableHeight && !this.loading) {
    //     this.loading = true
    //     this.take++
    //     this.$apollo.queries.programsWithFilter.refetch()
    //   } else {
    //     this.take--
    //     this.$apollo.queries.programsWithFilter.refetch()
    //   }
    // }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.SET_SEARCH()
    })
  }
}
</script>
