<template>
<v-container fluid>
  <v-breadcrumbs
    :items="breadcrumbItems"
    large
  >
    <template v-slot:item="{ item }">
      <v-breadcrumbs-item
        :to="item.to"
        :disabled="item.disabled"
      >
        <span
         :class="item.disabled ? 'grey--text' : 'blue--text'">{{ item.text }}</span>
      </v-breadcrumbs-item>
    </template>
  </v-breadcrumbs>
  <v-layout wrap justify-center align-center>
    <v-flex xs12 md11>
      <v-card flat>
        <!-- <header-component
          :isSearch="true"
          :isFilter="false"
          :isAdd="false"
          label="Search Academic School Year"
          hint="Enter Year(from-to)"
          @reset="RESET_FILTERS()"
        /> -->

         <floating-card :titles="titleInfo" />
         <v-card class="mt-8">
          <v-card-title class="my-5" />
          <v-layout wrap>
            <v-flex lg12>
              <v-data-table
                :headers="headers"
                :items="financeyearsItems"
                :page.sync="page"
                :items-per-page="itemsPerPage"
                @page-count="pageCount = $event"
                hide-default-footer
                :options.sync="options"
                :server-items-length="feesycount"
                class="text-table-color font-weight-medium"
                hide-default-footer
                :loading="syLoading"
                loading-text="Loading... Please wait"
                fixed-header
                ref="table"
              >
              <template v-slot:header>
                <thead v-show="hideCard">
                  <tr>
                    <th style="text-align: center;" :colspan="2">
                      Acedemic School Year
                    </th>
                    <th style="text-align: center;" :colspan="1">
                    </th>
                  </tr>
                </thead>
              </template>
              <template v-slot:body="{ items }">
                <tbody>
                  <tr v-for="item in items" :key="item.name">
                    <td class="text-center">
                      {{ item.school_year_from }}
                    </td>
                    <td class="text-center">
                      {{ item.school_year_to }}
                    </td>
                    <td class="text-center"
                      v-if="item.semester">
                      <v-layout wrap justify-center align-center>
                        <v-flex xs12 md6>
                          <v-layout wrap justify-center align-center>
                            <v-flex xs12 sm12 md12 lg4
                              v-if="item.first_sem === 1"
                              class="px-2">
                              <v-btn width="100" block depressed class="pointer my-1 caption"
                                @click="editItem(item, 1)">
                                1st Semester
                              </v-btn>
                            </v-flex>
                            <v-flex xs12 sm12 md12 lg4
                              v-if="item.second_sem === 2"
                              class="px-2">
                              <v-btn width="100" block depressed class="pointer my-1 caption"
                                @click="editItem(item, 2)">
                                2nd Semester
                              </v-btn>
                            </v-flex>
                            <v-flex xs12 sm12 md12 lg4
                              v-if="item.third_sem === 3"
                              class="px-2">
                              <v-btn width="100" block depressed class="pointer my-1 caption"
                                @click="editItem(item, 3)">
                                Summer
                              </v-btn>
                            </v-flex>
                          </v-layout>
                        </v-flex>
                      </v-layout>
                    </td>
                  </tr>
                </tbody>
              </template>
              <template v-slot:expanded-item="{ headers, item }">
                <v-layout wrap justify-center align-center>
                  <v-flex xs12 style="text-align: center; border: solid;">
                    <small>1st Semester</small>
                  </v-flex>
                  <v-flex xs12>
                    <small>2nd Semester</small>
                  </v-flex>
                  <v-flex xs12>
                    <small>Summer</small>
                  </v-flex>
                </v-layout>
              </template>
              </v-data-table>
            </v-flex>
              <v-flex xs12 class="text-center pt-3 pb-0">
                <v-pagination
                  v-show="pageCount > 1"
                  v-model="page"
                  :length="pageCount"
                  :total-visible="10"
                ></v-pagination>
              </v-flex>
            <v-flex xs12>
              <v-card-actions
                v-if="feesycount > 0">
                <v-spacer />
                <small>Total of <span class="blue--text">{{ feesycount }} </span> <span>{{ financeyearsItems.length > 1 ? 'Items' : 'Item'}}</span></small>
              </v-card-actions>
            </v-flex>
          </v-layout>
         </v-card>
      </v-card>
    </v-flex>
  </v-layout>
</v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import defaultMixins from '@/mixins/index'
import feesQueriesMixins from '@/mixins/queries/finance/feesQueries'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    formMixins,
    defaultMixins,
    feesQueriesMixins
  ],
  data: () => ({
    financeyearsItems: [],
    syLoading: false,
    link: '',
    titleInfo: [
      {
        name: 'Academic School Year',
        icon: 'ballot',
        color: 'accent',
        flex: 'xs12'
      }
    ],
    headers: [
      {
        text: 'From',
        align: 'center',
        sortable: true,
        value: 'school_year_from'
      },
      {
        text: 'To',
        align: 'center',
        sortable: true,
        value: 'school_year_to'
      },
      {
        text: 'Semester',
        align: 'center',
        sortable: true,
        value: 'semester'
      }
    ],
    form: [],
    isEdit: false,
    dialog: false,
    skip: 0,
    take: 10,
    isSnackbar: false,
    color: '',
    feesycount: 0,
    programItem: {},
    hasPrograms: false,
    curriculumDialog: false,
    programItems: [],
    programLoading: false,
    programData: [],
    syId: null,
    breadcrumbItems: [
      {
        text: 'Program',
        disabled: false,
        to: { name: 'finance-programs' }
      },
      {
        text: 'Academic School Year',
        disabled: true,
        to: { name: '' }
      }
    ],
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    options: {},
    currPage: null,
    prevPage: null,
    skipItems: null,
    takeItems: null
  }),
  computed: {
    ...mapGetters('filters', ['program_id', 'academic_year_id']),
    ...mapGetters('user', ['user']),
    ...mapGetters('programs', ['programs']),
  },
  watch: {
    options: {
      handler (old, newx) {
        this.skipItems = global._.isUndefined(newx.itemsPerPage) ? 0 : newx.itemsPerPage
        this.takeItems = old.itemsPerPage
        this.prevPage = global._.isUndefined(newx.page) ? 0 : newx.page
        this.currPage = old.page
        let skip = this.sortSkipped(this.skipItems, this.currPage, old.itemsPerPage)
        let take = old.itemsPerPage
        this.skip = skip
        this.take = take
        this.$apollo.queries.feeSyProgramQuery.refetch()
      },
      deep: true
    }
  },
  methods: {
    ...mapMutations('filters', ['RESET_FILTERS', 'SET_SEARCH']),
    ...mapMutations('programs', ['SET_SEMESTER']),
    editItem (val, semester_id) {
      this.SET_SEMESTER({
        ...val,
        semester_id: semester_id
      })
      setTimeout(() => {
        this.$router.push({ name: 'finance-tuition-and-misc-type-filter' })
      }, 300)
    },
    close () {
      this.dialog = false
    },
    onScroll (e) {
      const tableHeight = (this.$refs.table.$el.offsetHeight) - (e.srcElement.offsetHeight + 50)
      if (e.srcElement.scrollTop > tableHeight && !this.syLoading) {
        this.syLoading = true
        this.take++
        this.$apollo.queries.feeSyProgramQuery.refetch()
      } else {
        this.take--
        this.$apollo.queries.feeSyProgramQuery.refetch()
      }
    },
    syBreadcrumbs () {
      this.breadcrumbItems[0].text = `${this.programs.program_code}`
    }
  },
  mounted () {
    this.syBreadcrumbs()
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.SET_SEARCH()
    })
  }
}
</script>
