<template>
  <v-container fluid class="pb-0 mb-0">
    <v-layout wrap justify-center align-center>
      <v-flex xs12 md8>
        <v-autocomplete
          :items="years"
          v-model="setYear"
          clearable
          label="Select School Year"
          outlined
          item-text="school_year"
          item-value="id"
          hide-no-data
          return-string
          dense
          class="mx-2"
          clear-icon="mdi-close-circle"
        />
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import { GET_SY } from '@/graphql/admin/queries'
import formMixins from '@/mixins/form.js'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    formMixins
  ],
  data: () => ({
    years: [],
    search: ''
  }),
  computed: {
    ...mapGetters('filters', ['academic_year_id']),
    setYear: {
      get: function () {
        return this.academic_year_id
      },
      // setter
      set: function (value) {
        return this.SET_ACADEMIC_ID(value)
      }
    }
  },
  apollo: {
    syLists: {
      query: GET_SY,
      result ({ data }) {
        const school_years = []
        if (data) {
          global._.forEach(data.syLists, function (value) {
            school_years.push({
              id: value.id,
              school_year: `${value.school_year_from} - ${value.school_year_to}`
            })
          })
          this.years = school_years
        }
      }
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_ACADEMIC_ID'])
  }
}
</script>
