<template>
  <v-container fluid class="pb-0 mb-0">
    <v-layout wrap justify-center align-center>
      <v-flex xs12 md8>
        <v-autocomplete
          :items="programs"
          v-model="setProgramId"
          clearable
          label="Select Program"
          outlined
          item-text="program_code"
          item-value="program_id"
          hide-no-data
          return-string
          dense
          class="mx-2"
          clear-icon="mdi-close-circle"
        />
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import { GET_USER_PROGRAM } from '@/graphql/admin/queries'
import formMixins from '@/mixins/form.js'
import { mapGetters, mapMutations } from 'vuex'
export default {
  mixins: [
    formMixins
  ],
  data: () => ({
    programs: []
  }),
  apollo: {
    userprograms: {
      query: GET_USER_PROGRAM,
      result ({ data }) {
        if (!global._.isUndefined(data)) {
          let items = []
          global._.forEach(data.userprograms, function (val) {
            items.push({
              program_id: Number(val.id),
              program_code: val.program_code,
              program_name: val.program_name
            })
          })
          this.programs = items
        }
      }
    }
  },
  computed: {
    ...mapGetters('filters', ['program_id']),
    setProgramId: {
      get: function () {
        return this.program_id
      },
      // setter
      set: function (value) {
        return this.SET_PROGRAM_ID(value)
      }
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_PROGRAM_ID'])
  }
}
</script>
