<template>
<v-container fluid class="mt-0 pt-0">
	<v-layout wrap justify-center align-center>
    <v-flex xs12 md11>
      <v-card flat>
        <header-component
          :isSearch="true"
          :isFilter="false"
          @enter="doSearch"
          :isAdd="true"
          :label="label"
          btnTitle="Add Course"
          hint="Enter Course Code or Description"
          @clear="clear()"
          @clickDialog="addClicked"
          :filterItems="headers"
        />

        <v-layout wrap justify-center align-center>
          <v-flex xs12 class="mt-5">
            <floating-card :titles="title" />
          </v-flex>
          <v-flex xs12>
          <v-card> 
           <v-card-title class="my-5" />
           <v-flex xs12>
            <v-data-table
                ref="table"
                :headers="headers"
                :items="courseMenuItems"
                :page.sync="page"
                :items-per-page="itemsPerPage"
                @page-count="pageCount = $event"
                :server-items-length="count"
                class="text-table-color font-weight-medium"
                hide-default-footer
                :fixed-header="true"
                :options.sync="options"
                :loading="courseMenuLoading"
                loading-text="Loading... Please wait"
                @click:row="listClicked"
               >
               <template v-slot:item.course_status="{ item }">
                <v-chip
                  :color="setColor(item.course_status)"
                  dark
                  label
                >
                  {{ item.course_status }}
                </v-chip>
              </template>
            </v-data-table>
          </v-flex>
          <v-flex xs12 class="text-center pt-3 pb-0">
            <v-pagination
              v-show="pageCount > 1"
              v-model="page"
              :length="pageCount"
              :total-visible="10"
            ></v-pagination>
          </v-flex>
          <v-flex xs12>
            <v-card-actions>
              <v-spacer />
              <small>Total of <span class="blue--text">{{ count }} </span> <span>{{ courseMenuItems.length > 1 ? 'Items' : 'Item'}}</span></small>
            </v-card-actions>
          </v-flex>
         </v-card>
        </v-flex>
        </v-layout>

        <course-menu-dialog
          :formData="formData"
          :showDialog="dialog"
          @close="close"
          @refetch="refetch"
          :isEdit="isEdit"
          :id="courseId"
          :hasCurriculumCourse="hasCurriculumCourse"
        />
      </v-card>
    </v-flex>
  </v-layout>

  <v-snackbar
    top
    right
    v-model="isSnackbar"
    :color="color"
    class="caption"
    timeout="1500">
    <v-card-actions class="ma-0 pa-0">
      {{ text }}
      <v-spacer />
      <v-btn
        color="white"
        text
        icon
        right
        @click="isSnackbar = false"
        class="caption">
        <v-icon>clear</v-icon>
      </v-btn>
    </v-card-actions>
  </v-snackbar>
</v-container>
</template>
<script>
import formMixins from '@/mixins/form.js'
import defaultMixins from '@/mixins/index'
import { mapGetters, mapMutations } from 'vuex'
import courseQueryMixins from '@/mixins/queries/admin/courseQueries'
export default {
  mixins: [
    formMixins,
    defaultMixins,
    courseQueryMixins
  ],
  data: () => ({
    courseMenuLoading: false,
    label: 'Search Course Code',
    dialog: false,
    formData: [],
    formItem: {
      course_code: '',
      course_description: '',
      course_status: ''
    },
    title: [
      {
        name: 'Courses',
        icon: 'ballot',
        color: 'accent',
        flex: 'xs12'
      }
    ],
    headers: [
      {
        text: 'Course Code',
        align: 'center',
        sortable: true,
        value: 'course_code'
      },
      {
        text: 'Course Description',
        align: 'center',
        sortable: true,
        value: 'course_description'
      },
      {
        text: 'Status',
        align: 'center',
        sortable: true,
        value: 'course_status'
      }
    ],
    skip: 0,
    take: 10,
    count: 0,
    courseMenuItems: [],
    saveLoading: false,
    deleteLoading: false,
    isSnackbar: false,
    color: '',
    text: '',
    isEdit: false,
    courseId: null,
    skipCourseMenuQuery: false,
    skipCourseQuery: true,
    bottom: false,
    dataList: [],
    hasCurriculumCourse: false,
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    options: {},
    currPage: null,
    prevPage: null,
    skipItems: null,
    takeItems: null
  }),
  computed: {
    ...mapGetters('filters', ['search']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        return this.SET_SEARCH(value)
      }
    }
  },
  watch: {
    options: {
      handler (old, newx) {
        this.skipItems = global._.isUndefined(newx.itemsPerPage) ? 0 : newx.itemsPerPage
        this.takeItems = old.itemsPerPage
        this.prevPage = global._.isUndefined(newx.page) ? 0 : newx.page
        this.currPage = old.page
        let skip = this.sortSkipped(this.skipItems, this.currPage, old.itemsPerPage)
        let take = old.itemsPerPage
        this.skip = skip
        this.take = take
        this.courseMenuLoading = true
        this.$apollo.queries.coursesList.refetch()
      },
      deep: true
    },
    setSearch (val) {
      this.$apollo.queries.coursesList.refetch()
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_SEARCH']),
    setColor(item) {
      return item == 'Active' ? 'green' : 'red'
    },
    refetch (val) {
      console.log('val:',val)
      if (!global._.isEmpty(val.course)) {
        this.snackbar(`${val.message}`, 'success')
      }
      if (!global._.isEmpty(val.deleted_course)) {
        this.snackbar(`${val.message}`, 'error')
      }
      if (!global._.isEmpty(val.course)) {
        // // if edit item
        const currItem = this.courseMenuItems.find(item => Number(item.id) === Number(val.course.id))
        const itemIndex = this.courseMenuItems.indexOf(currItem)
        if (itemIndex !== -1) {
          this.$delete(this.courseMenuItems, itemIndex)
        }
      }
      this.$apollo.queries.coursesList.refetch()
    },
    close () {
      this.dialog = false
    },
    clear () {
      this.setSearch = ''
    },
    doSearch (val) {
      this.setSearch = val
    },
    addClicked () {
      this.formData[0] = Object.assign({}, this.formItem)
      this.isEdit = false
      this.dialog = true
    },
    listClicked (item) {
      this.courseId = item.id
      this.hasCurriculumCourse = item.hasCurriculumCourse
      this.formData[0] = Object.assign({}, item)
      this.isEdit = true
      this.dialog = true
    }
    // onScroll (e) {
    //   const tableHeight = (this.$refs.table.$el.offsetHeight) - (e.srcElement.offsetHeight + 50)
    //   if (e.srcElement.scrollTop > tableHeight && !this.courseMenuLoading) {
    //     this.courseMenuLoading = true
    //     this.take++
    //     this.$apollo.queries.coursesList.refetch()
    //   } else {
    //     this.take--
    //     this.$apollo.queries.coursesList.refetch()
    //   }
    // }
  },
  mounted () {
    this.clear()
  }
}
</script>
