<template>
<v-container fluid>
  <card-dashboard
    :items="items"
  />
  <v-layout wrap class="mt-5">
    <v-flex xs12 md6>
      <students-population
        :count_enrolled="countEnrolled"
        :count_potential="countPotential"
        :academicYears="years"
      />
    </v-flex>
    <v-flex xs12 md6>
      <students-per-program
        :totalStudents="studentCount"
        :programs="programs"
      />
    </v-flex>
  </v-layout>
</v-container>
</template>
<script type="text/javascript">
import adminDashQueryMixins from '@/mixins/queries/admin/dashboard/adminQueries'
export default {
  mixins: [
    adminDashQueryMixins
  ],
  data () {
    return {
      skipTeacherQuery: false,
      teacherCount: 0,
      skipEnrolleesQuery: false,
      applicantCount: 0,
      skipclassQuery: false,
      classCount: 0,
      studentCount: 0,
      years: [],
      programs: [],
      skipProgramQuery: false,
      skipstudPopulationQuery: false,
      countEnrolled: [],
      countPotential: [],
      skipstudPerProgramQuery: false,
      skipStudentsQuery: false,
      allStudents: 0
    }
  },
  computed: {
    items () {
      return [
        {
          number: this.studentCount,
          title: 'Total Number of Clients',
          color: 'teal',
          icon: 'people_alt',
          flex: 'xs12 sm6 md3'
        },
        {
          number: this.applicantCount,
          title: 'Total Number of Shares',
          color: 'amber',
          icon: 'assignment_ind',
          flex: 'xs12 sm6 md3'
        },
        {
          number: this.teacherCount,
          title: 'Total Number of Likes',
          color: 'blue',
          icon: 'history_edu',
          flex: 'xs12 sm6 md3'
        },
        {
          number: this.classCount,
          title: 'Total Number of Retweets',
          color: 'orange',
          icon: 'class',
          flex: 'xs12 sm6 md3'
        }
      ]
    }
  }
}
</script>
