<template>
<v-container fluid>
  <v-card flat>
    <v-container fluid>
      <v-layout wrap justify-center align-center>
        <v-flex xs12>   
          <header-component
            :isImport="true"
            :isSearch="true"
            :isFilter="false"
            :isExport="true"
            @enter="doSearch"
            label="Search Student"
            hint="Enter Student Name"
            @clear="clear()"
            @excel="exportExcel()"
            :isPdf="false"
            :isWord="false"
            :link="link"
            @import="importData"
          />
        </v-flex>

        <v-flex xs12>
          <v-card class="py-4 px-2">
            <v-layout wrap>
              <v-flex
                xs12
                :key="index"
                v-for="(item, index) in form"
              >
                <v-layout wrap>
                  <field-component
                    :field="field"
                    :key="field.key"
                    :form="form[index]"
                    :errors="errors"
                    :item-idx="index"
                    v-for="field in fields"
                  ></field-component>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
    
        <v-flex xs12>
          <class-list-grades />
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</v-container>
</template>
<script type="text/javascript">
import { mapGetters, mapMutations, mapActions } from 'vuex'
export default {
  data () {
    return {
      form: [],
      errors: {},
      fields: [
        {
          key: 'semester',
          readonly: true,
          classNames: 'xs12 md3 px-2',
        },
        {
          key: 'sy',
          label: 'School Year',
          readonly: true,
          classNames: 'xs12 md3 px-2',
        },
        {
          key: 'class_code',
          readonly: true,
          classNames: 'xs12 md3 px-2',
        },
        {
          key: 'course_code',
          readonly: true,
          classNames: 'xs12 md3 px-2',
        },
        {
          key: 'description',
          readonly: true,
          classNames: 'xs12 md3 px-2',
        },
        {
          key: 'time',
          readonly: true,
          classNames: 'xs12 md3 px-2',
        },
        {
          key: 'days',
          readonly: true,
          classNames: 'xs12 md3 px-2',
        },
        {
          key: 'room',
          readonly: true,
          classNames: 'xs12 md3 px-2',
        },
        {
          key: 'section',
          readonly: true,
          classNames: 'xs12 md3 px-2',
        }
      ],
      tableData: {
        input: {
          skip: 0,
          take: 10
        },
        maxData: 0,
        count: 0
      },
      link: '',
      importLink: ''
    }
  },
  computed: {
    ...mapGetters('filters', ['search']),
    ...mapGetters('user', ['user']),
    ...mapGetters('students', ['classData']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        return this.SET_SEARCH(value)
      }
    }
  },
  methods: {
  ...mapMutations('filters', ['SET_SEARCH']),
  ...mapActions('curricula', ['POST_TEACHERS_GRADING']),
    clear () {
      this.tableData.input.take = 10
      this.setSearch = ''
    },
    doSearch (val) {
      this.setSearch = val
      this.tableData.input.take = 10
    },
    importData (file) {
      if (!global._.isUndefined(file)) {
        const inputs = new FormData()
        inputs.append('file', file.getChosenFile())
        this.$set(inputs, 'curriculum_id', this.classData.curriculum_id)
        this.$set(inputs, 'semester_id', this.classData.semester_id)
        this.$set(inputs, 'teacher_id', this.user.id)
        this.$set(inputs, 'class_code', this.classData.class_code)
        this.POST_TEACHERS_GRADING(inputs).then(data => {
          console.log(data)
        }).catch(errors => {
          console.log(errors)
        })
      }
    },
    exportExcel () {
      this.link = `${process.env.VUE_APP_URL}api/exports/excel/student_grading/${this.classData.curriculum_id}/${this.classData.semester_id}/${this.user.id}/${this.classData.class_code}`
    }
  },
  created () {
    this.form[0] = this.classData
  }
}
</script>
