<template>
<v-container fluid>
  <v-card flat>
    <header-component
      :isSearch="true"
      :isFilter="true"
      :isExport="true"
      @enter="doSearch"
      label="Search Class"
      hint="Enter Class"
      @clickDialog="$emit('add')"
      @clear="clear()"
      :isSwitched="isSwitched"
      @openFilter="openFilter()"
      @closeFilter="closeFilter()"
      :filterItems="headers"
      @reset="resetFilters()"
    />

   <floating-card :titles="titleInfo" />
   <v-card class="my-8">
    <v-card-title class="my-5" />
      <v-layout wrap>
        <v-flex xs12
          class="full-width-table"
          @scroll="onScroll">
          <v-data-table
            :headers="headers"
            :items="items"
            :items-per-page="take"
            hide-default-footer
            :loading="loading"
            loading-text="Loading... Please wait"
            fixed-header
            ref="table"
          >
          <template v-slot:body="{ items }">
            <tbody>
              <tr v-for="item in items" :key="item.name"
                @click="editItem(item)"
                >
                <td class="text-center">
                  {{ item.class_code }}
                </td>
                <td class="text-center">
                  {{ item.program_code }}
                </td>
                <td class="text-center">
                  {{ item.course_code }}
                </td>
                <td class="text-center">
                  {{ item.description }}
                </td>
                <td class="text-center"
                  v-if="item.section">
                  <tr v-for="(sectionItem, sectionIndex) in item.section" :key="sectionIndex">
                    <td class="text-center">
                      {{ sectionItem }}
                    </td>
                  </tr>
                </td>
                <td class="text-center">
                  {{ item.lec_hours }}
                </td>
                <td class="text-center"
                  v-if="item.lec_days">
                  <tr v-for="(daysItem, daysIndex) in item.lec_days" :key="daysIndex">
                    <td class="text-center">
                      {{ daysItem }}
                    </td>
                  </tr>
                </td>
                <td class="text-center"
                  v-if="item.lec_time">
                  <tr v-for="(timeItem, timeIndex) in item.lec_time" :key="timeIndex">
                    <td class="text-center">
                      {{ timeItem }}
                    </td>
                  </tr>
                </td>
                <td class="text-center"
                  v-if="item.lec_room">
                  <tr v-for="(roomItem, roomIndex) in item.lec_room" :key="roomIndex">
                    <td class="text-center">
                      {{ roomItem }}
                    </td>
                  </tr>
                </td>
                <td class="text-center">
                  {{ item.lab_hours }}
                </td>
                <td class="text-center"
                  v-if="item.lab_days">
                  <tr v-for="(labDaysItem, labDaysIndex) in item.lab_days" :key="labDaysIndex">
                    <td class="text-center">
                      {{ labDaysItem }}
                    </td>
                  </tr>
                </td>
                <td class="text-center"
                  v-if="item.lab_time">
                  <tr v-for="(labTimeItem, labTimeIndex) in item.lab_time" :key="labTimeIndex">
                    <td class="text-center">
                      {{ labTimeItem }}
                    </td>
                  </tr>
                </td>
                <td class="text-center"
                  v-if="item.lab_room">
                  <tr v-for="(labRoomItem, labRoomIndex) in item.lab_room" :key="labRoomIndex">
                    <td class="text-center">
                      {{ labRoomItem }}
                    </td>
                  </tr>
                </td>
              </tr>
            </tbody>
          </template>
          </v-data-table>
        </v-flex>
        <v-flex xs12>
          <v-card-actions>
            <v-spacer />
            <small>Total of <span class="blue--text">{{ items.length }}/{{ count }} </span> <span>{{ items.length > 1 ? 'Items' : 'Item'}}</span></small>
          </v-card-actions>
        </v-flex>
      </v-layout>
   </v-card>
  </v-card>
</v-container>
</template>
<script>
import defaultMixins from '@/mixins/index'
import { mapGetters, mapMutations } from 'vuex'
import classlistQueries from '@/mixins/queries/teacher/classlistQueries'
export default {
  mixins: [
    classlistQueries,
    defaultMixins
  ],
  data: () => ({
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    loading: false,
    link: '',
    isSwitched: false,
    items: [],
    titleInfo: [
      {
        name: 'Class Schedule',
        icon: 'turned_in',
        color: 'accent',
        flex: 'xs12'
      }
    ],
    headers: [
      {
        text: 'Class Code',
        value: 'class_code_item',
        sortable: true,
        align: 'center',
        title: 'Academic School Year',
        icon: 'mdi-school',
        name: 'teacher-year-filter'
      },
      {
        text: 'Program',
        align: 'center',
        sortable: false,
        value: 'program_code'
      },
      {
        text: 'Course',
        value: 'course',
        sortable: true,
        align: 'center',
        title: 'Program',
        icon: 'local_library',
        name: 'teacher-program-filter'
      },
      {
        text: 'Description',
        value: 'description',
        sortable: true,
        align: 'center',
        title: 'Year Level',
        icon: 'show_chart',
        name: 'teacher-level-filter'
      },
      {
        text: 'Section',
        value: 'section',
        sortable: true,
        align: 'center',
        title: 'Semester',
        icon: 'collections_bookmark',
        name: 'teacher-semester-filter'
      },
      {
        text: 'Lec/HR',
        align: 'center',
        sortable: false,
        value: 'lec_hours'
      },
      {
        text: 'Lec/Days',
        align: 'center',
        sortable: false,
        value: 'lec_days',
        title: 'Class Code',
        icon: 'closed_caption',
        name: 'teacher-class-code'
      },
      {
        text: 'Lec/Time',
        align: 'center',
        sortable: false,
        value: 'lec_time',
        title: 'Section',
        icon: 'event_seat',
        name: 'section-filter',
        field: ''
      },
      {
        text: 'Lec/Room',
        align: 'center',
        sortable: false,
        value: 'lec_room'
      },
      {
        text: 'Lab/HR',
        align: 'center',
        sortable: false,
        value: 'lab_hours'
      },
      {
        text: 'Lab/Days',
        align: 'center',
        sortable: false,
        value: 'lab_days'
      },
      {
        text: 'Lab/Time',
        align: 'center',
        sortable: false,
        value: 'lab_time'
      },
      {
        text: 'Lab/Room',
        align: 'center',
        sortable: false,
        value: 'lab_room'
      }
    ],
    skip: 0,
    take: 10,
    count: 0
  }),
  computed: {
    ...mapGetters('filters', ['search', 'academic_year_id', 'program_id', 'year_level_id', 'semester_id', 'status', 'class_code']),
    ...mapGetters('user', ['user']),
    setSearch: {
      get: function () {
        return this.search
      },
      // setter
      set: function (value) {
        return this.SET_SEARCH(value)
      }
    }
  },
  methods: {
    ...mapMutations('filters', ['SET_SEARCH', 'RESET_FILTERS']),
    ...mapMutations('students', ['setClassData']),
    resetFilters () {
      this.RESET_FILTERS()
      this.clear()
    },
    clear () {
      this.setSearch = ''
    },
    doSearch (val) {
      this.setSearch = val
    },
    openFilter () {
      this.isSwitched = true
    },
    closeFilter () {
      this.isSwitched = false
    },
    editItem (val) {
      this.setClassData(val)
      this.$router.push({ name: 'class-record-students' })
    },
    onScroll (e) {
      const tableHeight = (this.$refs.table.$el.offsetHeight) - (e.srcElement.offsetHeight + 50)
      if (e.srcElement.scrollTop > tableHeight && !this.loading) {
        this.loading = true
        this.take++
        this.$apollo.queries.teacherStudents.refetch()
      } else {
        this.take--
        this.$apollo.queries.teacherStudents.refetch()
      }
    }
  }
}
</script>
