<template>
<v-layout wrap justify-center align-center>
  <v-flex xs12 class="mt-5">
    <floating-card :titles="title" />
  </v-flex>
  <v-flex lg12 @scroll="onScroll"
    class="full-width-table">
    <v-card> 
     <v-card-title class="my-5" />
     <v-data-table
      ref="table"
      :headers="headers"
      :items="items"
      :items-per-page="take"
      class="text-table-color font-weight-medium elevation-1"
      hide-default-footer
      :loading="loading"
      loading-text="Loading... Please wait"
     >
     <template v-slot:footer>
       <v-card-actions
         v-show="count > 0">
        <v-spacer />
        <v-btn
          width="200"
          color="accent"
          @click="confirmDialog = true"
          class="text-none mt-10 mb-4 mr-2">
          Submit Class Record
        </v-btn>
      </v-card-actions>
     </template>
    </v-data-table>
   </v-card>
  </v-flex>

  <v-snackbar
    top
    right
    v-model="isSnackbar"
    :color="color"
    :timeout="timeout"
    class="caption">
    <v-card-actions class="ma-0 pa-0">
      {{ text }}
      <v-spacer />
      <v-btn
        color="white"
        text
        icon
        right
        @click="isSnackbar = false"
        class="caption">
        <v-icon>clear</v-icon>
      </v-btn>
    </v-card-actions>
  </v-snackbar>

  <confirmation-dialog
    :showDialog="confirmDialog"
    @close="confirmDialog = false"
    @proceed="submitClassRecord"
    :loading="confirmLoading"
    message="This Class Record cannot brown edited once submitted to the registrar. Are you sure you want to proceed ?"
  />
</v-layout>
</template>
<script type="text/javascript">
  import { mapGetters, mapActions, mapMutations } from 'vuex'
  import defaultMixins from '@/mixins/index'
  import calculationsMixins from '@/mixins/calculations'
  import formMixins from '@/mixins/form.js'
  import classGradesQueriesMixins from '@/mixins/queries/teacher/classGradesQueries'
  export default {
    mixins: [
      calculationsMixins,
      classGradesQueriesMixins,
      defaultMixins,
      formMixins
    ],
    data () {
      return {
        loading: false,
        items: [],
        title: [
          {
            name: 'Class Records',
            icon: 'playlist_add_check',
            color: 'accent',
            flex: 'xs12'
          }
        ],
        editedItem: {
          prelim: '',
          midterm: '',
          semi_finals: '',
          finals: '',
          gwa: '',
          grade_eqv: '',
          grade_desc: '',
          name: '',
          letter_grade: '',
          remarks: ''
        },
        defaultItem: {
          prelim: '',
          midterm: '',
          semi_finals: '',
          finals: '',
          gwa: '',
          grade_eqv: '',
          grade_desc: '',
          name: '',
          letter_grade: '',
          remarks: ''
        },
        headers: [
          {
            text: 'Name',
            value: 'name',
            sortable: true,
            align: 'center'
          },
          {
            text: 'Prelim',
            value: 'prelim',
            sortable: true,
            align: 'center'
          },
          {
            text: 'Midterm',
            value: 'midterm',
            sortable: true,
            align: 'center'
          },
          {
            text: 'Semi Finals',
            value: 'semi_finals',
            sortable: true,
            align: 'center'
          },
          {
            text: 'Finals',
            value: 'finals',
            sortable: true,
            align: 'center'
          },
          {
            text: 'GWA',
            value: 'gwa',
            sortable: true,
            align: 'center'
          },
          {
            text: 'Grade Point Eqv.',
            value: 'grade_eqv',
            sortable: true,
            align: 'center'
          },
          {
            text: 'Description',
            value: 'grade_desc',
            sortable: true,
            align: 'center'
          },
          {
            text: 'Action',
            value: 'action',
            sortable: true,
            align: 'center'
          }
        ],
        dialog: false,
        saveLoading: false,
        options: [
          'Dropped',
          'Failed',
          'Passed',
          'Satisfactory',
          'Good',
          'Very Good',
          'Excellent'
        ],
        color: '',
        text: '',
        isSnackbar: false,
        skipQuery: true,
        confirmDialog: false,
        confirmLoading: false,
        gradingLoading: false,
        skip: 0,
        take: 10,
        nextUrl: null,
        timeout: 3000,
        count: 0
      }
    },
    computed: {
      ...mapGetters('filters', ['search']),
      ...mapGetters('students', ['classData']),
      ...mapGetters('user', ['user']),
      gwa () {
        let totals = this.calculateGwa(this.editedItem)
        this.editedItem.gwa = Math.round(totals)
        return this.editedItem.gwa
      },
      setSearch: {
        get: function () {
          return this.search
        },
        // setter
        set: function (value) {
          return this.SET_SEARCH(value)
        }
      }
    },
    methods: {
      ...mapMutations('filters', ['SET_SEARCH', 'RESET_FILTERS']),
      ...mapActions('students', ['POST_STUDENT_GRADE', 'DELETE_STUDENT_GRADE', 'POST_CLASS_RECORD']),
      close () {
        this.dialog = false
        this.saveLoading = false
        this.$apollo.queries.studentGrades.refetch()
      },
      editItem (val) {
        this.editedItem = val
        this.dialog = true
      },
      save (val) {
        let payload = {
          teacher_id: this.user.id,
          class_code: val.class_code,
          student_id: val.student_id,
          curriculum_id: val.curriculum_id,
          program_id: val.program_id,
          year_level_id: val.year_level_id,
          semester_id: val.semester_id,
          type: this.classData.type,
          prelim: val.prelim,
          midterm: val.midterm,
          semi_finals: val.semi_finals,
          finals: val.finals,
          gwa: Math.round(val.gwa),
          grade_eqv: val.grade_eqv,
          grade_desc: val.grade_desc
        }
        this.saveLoading = true
        this.POST_STUDENT_GRADE(payload).then(response => {
          this.timeout = 1500
          this.snackbar(`${response.data}`, 'success')
          this.close()
        }).catch(errors => {
          this.close()
        })
      },
      submitClassRecord () {
        let payload = {
          teacher_id: this.user.id,
          class_code: this.classData.class_code,
          curriculum_id: this.classData.curriculum_id,
          semester_id: this.classData.semester_id
        }
        this.confirmLoading = true
        let finals = this.items.filter(item => Number(item.finals) === 0)
        if (global._.isEmpty(finals)) {
          this.POST_CLASS_RECORD(payload).then(response => {
            this.confirmDialog = false
            this.confirmLoading = false
            this.timeout = 3000
            this.snackbar(`${response.data}`, 'success')
            this.$apollo.queries.studentGrades.refetch()
          }).catch(errors => {
            this.confirmDialog = false
            this.confirmLoading = false
          })
        } else {
          this.confirmDialog = false
          this.confirmLoading = false
          this.snackbar('Please grade all students to proceed submission of class record.', 'error')
        }
      },
      onScroll (e) {
        const tableHeight = (this.$refs.table.$el.offsetHeight) - (e.srcElement.offsetHeight + 50)
        if (e.srcElement.scrollTop > tableHeight && !this.loading) {
          this.loading = true
          this.take++
          this.$apollo.queries.studentGrades.refetch()
        } else {
          this.take--
          this.$apollo.queries.studentGrades.refetch()
        }
      }
    }
  }
</script>
